[2021-12-23 17:53] matteius commented on #4850
@jedie you mention it appears depending if python2 is installed or not ... does that mean the issue does not appear when python2 is not installed?  My guess would be something system level is referencing dependency into python2 when it should be using python3 dependencies.

[2021-12-23 21:05] mahbuburahman commented on #4879
update: solved this issue to put "*" to the pipfile packages. ie: cryptography = "*" & pillow = "*" in my case these two package's specific version was failing to lock the pipfile

[2021-12-24 01:13] matteius commented on #4812
@marsfan I think we have this issue reported multiple times in this backlog, can you check if this issue and the connected issues on that ticket are the same as this issue you are reporting?
See: https://github.com/pypa/pipenv/issues/4551
That ticket tries to capture the exact release that editable local installs broke, which last release I found where they worked as intended was `2018.11.26`.  I

[2021-12-24 01:23] matteius commented on #4818
@diogobaeder I followed your steps (assuming you meant pipenv install as pip install wouldn't update the Pipfile or Pipfile.lock) and the latest version of pipenv did not struggle with this.  Please see my output below:

[code]

[2021-12-24 01:35] matteius commented on #4625
Might just be related to a long standing issue around installing local dependencies, but I am not sure.  Could you check @leileigong on issue https://github.com/pypa/pipenv/issues/4551 and specifically if you can check if you have the same issue with a much older pipenv version `2018.11.26` and if that works can you check again with `2020.11.4` and `2020.11.15`?  There is a long backlog of issues

[2021-12-24 02:00] matteius commented on #4866
@janmpeterka You are my hero for accurately describing the same bug I encountered with the newer versions released in November and the private Pipfile we have at my place of employment.  I just verified from the report you filed that when I remove from the Pipfile a block at the bottom similar to yours, it generates the full lock file.

[code]

I knew dependencies were missing, what I hadn't figur

[2021-12-24 02:23] matteius commented on #4809
@boarder7395 I think the issue here is the --deploy flag, which I had to reference the docs
`--deploy — Make sure the packages are properly locked in Pipfile.lock, and abort if the lock file is out-of-date.`
Ok, but I think it is also complaining because the virtualenv that got created the first time was python 3.8 and it is expecting 3.7.  Then I managed to reproduce your issue as a side effect b

[2021-12-24 02:26] matteius commented on #4809
Since your issue doesn't have an example packages section in the Pipfile, and I feel that the triage performed is sufficient so I am closing this for the time being.

[2021-12-24 02:26] #4809 closed

[2021-12-24 02:33] matteius commented on #4735
@whg517 Can you check again with the latest version of `pipenv==2021.11.23`?  I was unable to reproduce this issue.

[code]

[2021-12-24 03:01] matteius commented on #4872
@jplindquist it says in your output that the vendor package `click` for shell completion is requiring Bash versions 4.4 or newer, and you are showing a bash version of 3.2.57 in mac os and 4.2.46 on redhat linux.

`RuntimeError: Shell completion is not supported for Bash versions older than 4.4.`
`GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin20)`
`GNU bash, version 4.2.46(2)-release (x8

[2021-12-24 03:03] #4891 closed

[2021-12-24 03:07] #4799 closed

[2021-12-24 03:23] matteius commented on #4611
I tend to just manage the virtualenvs that are created using [virtualenvwrapper](https://virtualenvwrapper.readthedocs.io/en/latest/) or as you mentioned using `pipenv --rm`  but if I moved the directory I can see the generated appended id value with a dash in the virtualenv name and remove them with `rmvirtualenv` is part of the existing python tooling ecosystem.   This position is maybe contrary

[2021-12-24 03:32] matteius commented on #4679
@larsrinn I could not reproduce this on the latest version of `pipenv==2021.11.23`

[code]

[2021-12-24 03:43] matteius commented on #4864
@diogobaeder I did a search for that click error and came across this:  https://github.com/pallets/click/issues/1940

[2021-12-24 03:48] matteius commented on #4808
@huxuan This feels like a duplicate request of https://github.com/pypa/pipenv/issues/3920

There is also another issue where Frost Ming talks about the difficulty in supporting the PIP_ environment variables:  https://github.com/pypa/pipenv/issues/4453#issuecomment-724586448

[2021-12-24 04:05] matteius commented on #4614
@philip-peterson It would seem that your system didn't match one of the available pre-built wheels for that package in pypi, and that your system had to build the package which required that environment variable be set to resolve a library during compilation.  I wanted to dig a little deeper, but noting two things -- your `Pipfile` and `Pipfile.lock` in the `pipenv --support` don't seem to match t

[2021-12-24 04:09] matteius commented on #4584
Closing this as a duplicate of #4551

[2021-12-24 04:09] #4584 closed

[2021-12-24 04:15] matteius commented on #4557
@logileifs I could not reproduce this issue on the latest version of `pipenv===2021.11.23`  Could you recheck, and also verify the value of environment variable PIPENV_IGNORE_VIRTUALENVS?

[code]

[2021-12-24 04:18] PythonCoderAS opened #4900 "Pipenv unable to install relative path that is a subdirectory of a Pipfile"
### Issue description

Pipenv will fail to install a relative path that is a subdirectory of a directory with a Pipfile.

### Expected result

Installation to succeed.

### Actual result

A resolution error is returned.

[code]

### Steps to replicate

1. Make an empty directory
2. Cd to empty directory
3. Run `pipenv install`
4. Clone a python package into the directory. Example can include `git

[2021-12-24 04:21] PythonCoderAS commented on #4900
This could be a possible duplicate of #4895 but with a slightly different setup

[2021-12-24 04:29] matteius commented on #4812
I was able to install an editable dependency locally with `pipenv==2021.11.23` version tonight, I installed a local checkout of kombu.  I think this issue can be resolved, https://github.com/pypa/pipenv/issues/4542#issuecomment-961785926

[code]

[2021-12-24 04:32] matteius commented on #4812
@marsfan if you think this is still an issue on `2021.11.23` we can re-open it, as long as you provide a sample `setup.py` to use that time.  I suspect however that this has been fixed.

[2021-12-24 04:44] matteius commented on #4900
@PythonCoderAS I noticed you are trying with an older version of pipenv, could you check again with `pipenv==2021.11.23`?

[2021-12-24 04:48] PythonCoderAS commented on #4900
Nope still doesn't work

[2021-12-24 04:49] matteius commented on #4900
@PythonCoderAS  It worked just fine for me ... what is the difference here?

[code]

[2021-12-24 04:55] PythonCoderAS commented on #4900
@matteius the thing is that you specified a path from the **root directory**. You have to change the working directory to the subdirectory and then use a relative path from said subdirectory.

[2021-12-24 04:57] frostming commented on #4900
This is because this https://github.com/pypa/pipenv/blob/29af360d34a9e89dec59a8fa93b45eb33ef8e4ca/pipenv/project.py#L132

You may argue that is not reasonable to cd to the project root. But that line exists for 4 years and there is likely someone relying on this behavior, who knows.

[2021-12-24 04:58] PythonCoderAS commented on #4900
Maybe a fallback can be tried where if resolution fails on the root directory it `cd`s to the initial working directory and tries again,

[2021-12-24 05:04] frostming commented on #4900
The resolution goes too deep from the project initialization, and it is run in a subprocess. I think it is much easier to change your workflow to using a path relative to the project root, like what @matteius does.

[2021-12-24 05:05] matteius commented on #4900
I don't really understand the use case of changing to the directory to issue the pipenv command, because the virtualenv is based off the working directory and that is also where its going to look for the Pipfile and Pipfile.lock, right?  I mean it seems odd to not reference from the root project into the relative path of the editable thing you wish to install.

I also might not quite understand ho

[2021-12-24 05:07] frostming commented on #4900
@matteius Yes, the root directory doesn't contain a `setup.py` and is thus not recognized as a valid local requirement. The requirement parsing is performed after changing root to the project root so it fails.

[2021-12-24 05:11] PythonCoderAS commented on #4900
This is correct. I ran into this bug solely by mistake because I had accidentally created a Pipfile in a parent directory which contained my projects.

[2021-12-24 05:12] matteius commented on #4900
@frostming That makes sense, thanks.  I was getting tripped up because I moved my generated Pipfile and Pipfile.lock down a directory into the sphinx and tried running `pipenv install -e .` and was getting this error:  `pipenv.vendor.requirementslib.exceptions.RequirementError: Failed parsing requirement from './sphinx'` because even though it output:
[code]

I then removed the Pipfile and Pipfile

[2021-12-24 05:19] matteius commented on #4900
@PythonCoderAS  are we in agreement that its not a bug, can I close this issue without complaints?

[2021-12-24 05:23] matteius commented on #4898
@icy-ux You did not include output from `pipenv --support`.   I wonder if this a case where you would have better results with a --user install of pipenv over a global system one, but again not entirely sure what you are working with without that detail in the report.

[2021-12-24 05:27] matteius commented on #4898
I see on my global install of pipenv, it does have a call to every root directory, and my local install version does the same, so probably a bad hunch I had just now @icy-ux

[code]

[2021-12-24 05:29] PythonCoderAS commented on #4900
I was thinking that the error was too cryptic and could be phrased better, such as "Pipenv does not support installing relative paths from subdirectories of projects."

[2021-12-24 05:38] matteius commented on #4900
@PythonCoderAS I agree the actual error message is somewhat cryptic because it says `RequirementError: Failed parsing requirement from '<relative_path>` when it really was a failure to even find a setup.py or something to parse, but that is a subset of failing to parse a requirement.    Pipenv it just using a vendor packaging of requirementslib and that is what is generating this error.

I am not

[2021-12-24 06:16] matteius commented on #4897
@boonware I think I figured this one out.   You should only pass --site-packages and --python the first time you run the pipenv to setup your virtualenv.  Try this:
[code]

As an example, since I don't have conda, I did this using my system python and first installed celery at the system level.  Then see:
[code]

[2021-12-24 06:22] Olimovv commented on #1286
Thanks !

[2021-12-24 06:32] matteius commented on #4895
I revisted this since I got further with editable installs working tonight on the new version, so I wanted to re-validate the ones that I commented on the other day, including this one.  The new error I got seems to be related to the setup.py reading in other files, because when I edited the setup.py to not read from the two files it opens, it gets past this error.

[code]

See after I edited the

[2021-12-24 06:47] matteius commented on #4895
Actually, I cannot reproduce the issue now.  I edited the setup.py, reverted it back but it still passes the install.

[code]

[2021-12-24 07:09] matteius commented on #4703
@kdassharma I made a couple modifications to your report, such as its a setup.py (not setup.up) and installing requests not request.  However once I did that, I got a reproduceable event.  First time it failed and second time it worked, just like I had happen over in https://github.com/pypa/pipenv/issues/4895

It seems the first time it has to generate a directory called reqlib-metadata, and that

[2021-12-24 07:10] matteius commented on #4895
Ok, so the first time it fails, but generates a directory called `piccolo_api/reqlib-metadata` and subsequent attempts to install editable succeed until you remove that directory.

[2021-12-24 07:23] matteius commented on #4686
@jillianrosile Other than the issue of having to do the editable install twice because the first time it gets a Text File Busy error, I find that I do not get the same bug as you describe using latest version `pipenv==2021.11.23`

[code]

[2021-12-24 07:47] matteius commented on #4815
@utrivedi78 Just curious, why do you want to prefer the manylinux2010 whl over the manylinux_2_24 wheel?

I found that I could do it using the newest pip version in multiple steps, but that doesn't exactly answer how to do it using pipenv:
[code]

[2021-12-24 07:50] matteius commented on #4815
@utrivedi78 actually once it is downloaded with pip, I could install it using pipenv and that updated my Pipfile and Pipfile.lock:

[code]

[2021-12-24 08:00] matteius commented on #4784
@jyoungs Could you provide your sample setup.py that you used to help reproduce this issue?

[2021-12-24 08:16] frostming commented on #4900
@matteius I agree with you but unfortunately, I don't have the bandwidth in fixing bugs in either Pipenv or vendored packages. requirementslib does too many things, which makes it hard to make improvements.

[2021-12-24 08:26] matteius commented on #4631
@yoavg I am testing all of the local installable issues and for yours, with the latest version `pipenv==2021.11.23` I find it doesn't have this particular issue.  There is still the issue that dynamic dependency setup.py have to be installed twice, once to generate the `reqlib-metadata` directory in the `local_dep` ... this run yields the `OSError: [Errno 26] Text file busy: 'name.egg-info'` error

[2021-12-24 08:28] whg517 commented on #4735
@matteius thaks for the heads up, everything is ok now. I will close this issue.

[2021-12-24 08:28] #4735 closed

[2021-12-24 08:37] matteius commented on #4551
My last comment seems less relevant to what I know now.  The latest version of `pipenv==2021.11.23` seems to have resolved much of what is talked about, but the current issue seems to be that a complex setup.py may take two tries to install, the first where it generates an error like:
[code]
On subsequent tries is successful because it generated the `reqlib-metadata` directory on the first attempt

[2021-12-24 08:45] matteius commented on #4900
@PythonCoderAS please see frostming's last comment.  If this is an important improvement to you, please open the issue with the requirementslib backlog and consider what the change would look like by proposing a PR.  I am closing this issue for now since a workaround exists and the error is technically sufficient (though vague).

I would think any improvements to requirementslib should first be ma

[2021-12-24 08:56] matteius commented on #4895
Closing as duplicate of: https://github.com/pypa/pipenv/issues/4551 (and others)

[2021-12-24 09:09] matteius commented on #4583
Closing this one as a duplicate of #4551 -- suggesting everyone get to latest pipenv and pip and re-check their projects.

[2021-12-24 09:09] #4583 closed

[2021-12-24 09:21] matteius commented on #4782
@pplmx This very much appears like an environment issue.  Also there are newer versions of pipenv you should try 2021.11.23.
 Since it looks like you are using system python, I would recommend upgrading pip, and upgrading setuptools.

[2021-12-24 09:21] #4782 closed

[2021-12-24 09:43] matteius commented on #4781
@ltn100 Well you seem to have created a Pipfile that really never finishes locking on the newest version `2021.11.23` and latest pip 21.3.1 ... not sure what to make of this one.

[2021-12-24 09:48] matteius commented on #4778
The page @Berbe linked to for CLI docs renders the phrase `Pipenv CLI Reference` which is what CLI docs source has in the source.  Otherwise it is just a blank set of documentation checked into the source.  What is the ask here?

[2021-12-24 09:54] matteius commented on #4769
@haf I think you would have to ask `which pipenv` to see, because chances are you upgraded one in your virtualenv but your PATH is referencing one installed at a global system level.   As for pyenv, that is a different project.   Virtualenv will copy in the current version of pip and python when they are created, so often you'll have to recreated them after you upgrade python or possibly even pip.

[2021-12-24 09:54] #4769 closed

[2021-12-24 09:57] matteius commented on #4765
@Murmele it works fine to activate it:

[code]

[2021-12-24 09:57] #4765 closed

[2021-12-24 10:00] matteius commented on #4755
@joe42 There is not enough information here to reproduce the issue, no Pipfile and the lock file is just a fragment of one.  At this point the pipenv version is no longer latest, so I am going to close this issue for now and suggest if you can reproduce a problem with the latest version of pipenv to supply a new bug report with steps to reproduce and output from running `pipenv --support`

[2021-12-24 10:00] #4755 closed

[2021-12-24 10:05] matteius commented on #4764
@lu5her Definitely an environment issue going on without enough information to support you.   Things to possibly try:
1.) uninstall python versions from pyenv
2.) delete your old virtualenvs
3.) upgrade pip, make sure you're on latest pyenv
4.) make sure virtualenv is installed and working at a system or user level first
5.) try latest version of pipenv `2021.11.23`

[2021-12-24 10:05] #4764 closed

[2021-12-24 10:10] matteius commented on #4699
Nice issue report @fridex, I was able to reproduce it on the latest version `2021.11.23` as well:
[code]

[2021-12-24 10:20] matteius commented on #4502
I question keeping this issue open, given that python 2.7 support has ended and it is not a supported language version any longer on the pipenv pypi page.  It would require running old versions of pipenv, which would have whatever behaviors they have.  Then you famous people trying to run py2 stuff on M1 macs, I just don't know about it, but it sounds like an awful idea.   Happy holidays everyone;

[2021-12-24 10:20] #4502 closed

[2021-12-24 21:04] TTimo commented on #3130
+1 - I'm writing a lightweight script that needs to be running as Administrator. It's unfortunate that I can't use pipenv to manage a handful of dependencies.

[2021-12-25 00:05] icy-ux commented on #4898
***@***.*** You did not include output from `pipenv --support`.   I wonder if this a case where you would have better results with a --user install of pipenv over a global system one, but again not entirely sure what you are working with without that detail in the report.

Sure, here you go:

[code]
{'implementation_name': 'cpython',
  'implementation_version': '3.9.9',
  'os_name': 'posix',
  'pl

[2021-12-25 19:40] bqbn commented on #4892
Thanks for looking into it, @matteius.

I still have no luck installing bcrypt after trying 1 and 2 above, and yes, I'm on an M1 mac.

For now, I worked around it by running python on the x86_64 architecture (with help of the arch command).

[2021-12-26 21:01] Arti3DPlayer opened #4901 "mac m1 python3.7 ModuleNotFoundError: No module named '_ctypes'"
I'm using m1 mac with pyenv. I installed python `3.7.12`. Then:
`python -m pip install pipenv`
After that:
`pipenv install --dev`
And got:

[code]

I found issue #2822 and tried to re install pipenv. Not helped

### Expected result

Everything should work, like on intel mac

### Steps to replicate

Provide the steps to replicate (which usually at least includes the commands and the Pipfile).

----

[2021-12-27 01:13] PythonCoderAS commented on #4901
How did you install Python? Homebrew, the official installer, Anaconda, or something else?

[2021-12-27 08:41] Arti3DPlayer commented on #4901
@PythonCoderAS I'm using `pyenv` https://github.com/pyenv/pyenv

Locally I have 3.7:
[code]

[2021-12-28 00:27] matteius commented on #4892
@bqbn Then you are just getting a pre-built wheel for that arch so it won't have to compile.   Likely a system dependency issue, and if you already have installed the required packages such that pip can build it--Have you tried to remove your virtualenv and uninstall that python version and rebuild?  pyenv will only get what system dependencies you have installed at the time that it is built, and

[2021-12-28 00:36] matteius commented on #4901
@Arti3DPlayer someone on [Stackoverflow suggests](https://stackoverflow.com/a/48045929) `Installing libffi-dev and re-installing python3.7 fixed the problem for me.`
Which would require you to `pipenv --rm` your virtualenv and this `pyenv uninstall 3.7.10` before retrying after you ensure that `libffi-dev` or equivalent package for your OS is installed.  It should ask you if you want to download t

[2021-12-28 22:35] Arti3DPlayer commented on #4901
Reinstall not helped.
Seems something with m1 and python `3.7.10`. With python `3.10.0` I do not have any issues.

[2021-12-29 09:18] faizanalhassan commented on #4894
Hi @frostming,
I just saw your issue regarding the needs maintainer for this project. It would be great to contribute to this project. Because I had used it in a couple of projects and It will be a great honor for me to contribute to this open-source project. Please let me know how can I start because it will be my first experience contributing to an open-source community.
Regards:
Faizan AlHassan

[2021-12-30 01:39] frostming commented on #4894
Hi, @mattalexx @faizanalhassan Thank you for the interest, you can start by triaging issues and answering questions in the Issues backlog. Fixing bugs would be more appreciated.

[2021-12-30 14:06] davidstosik commented on #2165
Still happening in 2021? At least with a GitHub package, this seems to still be an issue... 🤔

[2021-12-30 14:08] NotSoShaby opened #4902 "Support for python3.11"
The python3.11 is still in beta, but will break pipenv as it deprecated distutils from the core library.

### Describe the solution you'd like
As python org suggest, a move to setuptools is necessary to avoid this problem on python3.11 and above.

### Additional context

Any one trying to run the following (after installing >python3.11):

`$ pipenv install --python 3.11`

Will get the following er

[2021-12-30 14:09] #4902 closed

[2021-12-31 03:45] ae-lexs commented on #4901
@Arti3DPlayer I had the exact problem as you. I fixed using python `3.7.12`

[2021-12-31 15:40] tchappui commented on #4894
I'm using pipenv on a day to day basis and thinks it makes work related to application dependensies easier both for developers and educators. I'm sorry to hear about your availability issues but can understand. While not having the availability to play a role as a maintainer, contributing to bug fixes for pipenv will definitely be one of my goal for the coming year. I quasi daily refer students to

[2022-01-02 03:16] scott-sum commented on #4879
@mahbuburahman how did you know which packages were failing to lock the pipfile? I am having the same problem as above

[2022-01-02 07:11] mahbuburahman commented on #4879
@scott-sum console should show you where its failing

[2022-01-02 09:16] filski95 opened #4903 "Mac air M1 - double parenthesis"
Good morning,

I am using m1 Mac and run across a possible issue with Pipenv recently (like here https://stackoverflow.com/questions/70246087/pipenv-found-itself-venv-is-displayed-with-double-brackets)

I installed Pipenv:
python -m pip install pipenv

Pipenv shell creates an environment but I get two parentheses each time a program is run. Regardless if using IDE or in Terminal.

✔ Successfully c

[2022-01-02 14:47] rsterbin opened #4904 "Cannot create a 2.7 environment on macOS Monterey"
### Issue description

I'm unable to create a 2.7 environment using macOS Monterey.  Creating a 3.10 environment works as expected, but 2.7 fails with `AttributeError: 'bool' object has no attribute 'error'`.

### Expected result

Environment created

### Actual result

[code]

### Steps to replicate

Installed pyenv and added 3.9.0, 3.10.0, and 2.7.18.  Set 3.10.0 as global.  Installed pipenv [vi

[2022-01-03 11:12] CoolCold commented on #4804
for ASDF users, that what helped me:

[code]

https://stackoverflow.com/a/53517818

[2022-01-03 14:48] n1ngu commented on #4551
Indeed, the reproduction steps I filed on December 2020 don't reproduce the issue on 2021.11.23! :tada:

The issues about the `reqlib-metadata` folder might be more related to the package being installed in editable mode? While my initial goal was installing local packages in editable mode, this was not necessary to issues in the 2020.* series. So maybe it is time to close this issue and refile it

[2022-01-03 15:24] n1ngu commented on #4553
As of pipenv-2021.11.23 this now simply crashes in the vendored requirementslib:
[code]
[code]

[2022-01-03 16:53] danielhartnell commented on #4850
I ran into a similar issue and I think I was able to reproduce it by providing an invalid dotenv file (I'm assuming this is an invalid syntax). I wasn't able to change the outcome with Python2 but I can confirm that `2021.11.23` returns this error but `2021.5.29` does not.

Here are the steps to reproduce it with a Docker container running Ubuntu 20.04.3:

[code]

Install `2021.5.29`, create `.env

[2022-01-03 17:41] tucked commented on #4819
It's not the correct virtualenv (i.e. it's the environment `pipenv` is installed in, not the one `pipenv` is managing).

Side note: It's not a great idea to call into library code this way (because you lose the package context):
[code]
Try `python -m pipenv.patched.safety check --json` instead.
(Not that that should change the output you're seeing... Again, those hits are for the wrong environment

[2022-01-03 17:46] tucked commented on #4600
I think this is actually the same as #4819.

[2022-01-03 17:46] #4600 closed

[2022-01-03 22:26] jplindquist commented on #4872
I _can_ update my shell, but I'm surprised it doesn't support the default Bash shell that ships with both MacOS Big Sur (11.6.2) and CentOS 7 which are still well within their lifecycle of support.

[2022-01-04 15:36] asmacdo opened #4905 "Add "pyup id" to helptext for `pipenv check -i 1234`"
The help text for `pipenv check` is:

[code]

Specifically, `--ignore` does not specify the how to reference a CVE.

For example:
[code]

For this, the correct syntax to ignore this is `pipenv check -i 42926`. However, there is no indication that this number is an ID (I assume this is a PyUP ID?

I eventually figured it out after trying `pipenv check -i CVE-2021-3533` and `pipenv check -i 2021-353

[2022-01-04 21:56] marsfan commented on #4812
@matteius Sorry for taking so long to reply. Was away from my relevant code.

I'm still having the same issue as I initially reported. `pipenv install -e package_common` works, but then `pipenv install -e package` fails afterwards.

I am using setup.cfg instead of setup.py. Not sure why I wrote setup.py in my initial example.

In the `[options]` section of _package/setup.cfg_ I have the following:

[2022-01-04 22:26] matteius commented on #4895
Re-opening this issue since it more accurately documents the issue in latest version of Pipenv `2021.11.23` and closing the older ticket instead after further discussion on that ticket #4551 prompted this decision.

[2022-01-04 22:27] matteius commented on #4551
@n1ngu I think that is a good plan, closing this for now.  I re-opened #4895 and #4812 as I think they do a good job representing what the current issues are with `2021.11.23` and local editable packages.

[2022-01-04 22:27] #4551 closed

[2022-01-04 22:37] matteius commented on #4904
@rsterbin As you know, python 2 reached end of life (EOL) on January 1st, 2020 and is no longer supported.   Have you encountered this other thread that maybe is related:  #4502 ?

[2022-01-04 23:04] Arti3DPlayer commented on #4901
@ae-lexs thanks. `3.7.12` fixed most of issues for me

[2022-01-05 07:52] jtmoon79 opened #4906 "pipenv install fails if subdirectory cannot be traversed"
### Issue description

`python -m pipenv install` will raise an Error while traversing directories if a subdirectory cannot be accessed. The `install` process fails.

### Expected result

`python -m pipenv install` should catch access errors, print a warning (`PermissionError: cannot access path '.\foo'`), and then continue processing.

### Actual result

`python -m pipenv install` fails, python p

[2022-01-05 08:32] radeklat commented on #4879
Same problem when trying to lock a `Pipfile` on Python 3.8. This error doesn't happen in pipenv `2021.5.29` but manifests in `2021.11.9`, `2021.11.15` and `2021.11.23`. I don't have `cryptography` nor `pillow` installed but `cryptography` is a sub-dependency.

[2022-01-05 10:44] asheidan commented on #4819
I'm seeing the same issue (or at least difference from expected behaviour).

Is the intended behavior that `pipenv check` would also check the python environment that pipenv is installed in/running from instead of the "current environment managed by pipenv"? Or is that a consequence of pipenv using safety internally?

[2022-01-05 13:39] matteius commented on #4901
@Arti3DPlayer Thanks for the outcome info, going to close this one out.

[2022-01-05 13:39] #4901 closed

[2022-01-05 18:01] lamawithonel commented on #210
@kato-m  I can think of two workarounds without building from source.

1. Run `pipenv lock` in a container or VM to ensure it resolves your target platform's hashes.  This will only work if you're trying to build for a specific target and don't care as much about your dev environment-- your dev environment will have to build from source.  Not ideal, but probably ok for a lot of people.  You could

[2022-01-06 07:22] keysmusician commented on #1634
Perhaps my experience is another outlier, but I thought creating a subshell was default behavior for about 6 months now because using the project root environment almost never worked for me (though I do seem to recall from documentation that it was supposed to). I find the default max depth surprising and incredibly annoying, but didn't realize I could do anything about it.

[2022-01-06 07:36] jfly commented on #4885
So I bisected, and here's what I found:

- d0fa43ad is the last commit that does not have this problem
- 49cb6281 through 849fdc2b cannot be tested due to various bugs
- edf93688 has this problem

That corresponds to this massive PR from @frostming: https://github.com/pypa/pipenv/pull/4759/, which definitely *sounds* suspicious. I'm not sure how much further I'll be able to take this investigation

[2022-01-06 09:50] jfly commented on #4885
Ok, I've dug enough to confirm that 5ef5a59d41385945f2fc7f0e492900921ffc924b is definitely where this broke.

Previous, working behavior (I'm looking at d0fa43ad973d5c427f0e2baeee37de577651725a):
1. `actually_resolve_deps` calls `resolver.resolve_hashes`: https://github.com/pypa/pipenv/blob/d0fa43ad973d5c427f0e2baeee37de577651725a/pipenv/utils.py#L1103
2. `Resolver::resolve_hashes` calls `self.res

[2022-01-06 09:56] frostming commented on #4885
This should be wrong, care to submit a fix for it? @jfly Thanks.

[2022-01-06 10:05] jfly commented on #4885
@frostming, I can give that a shot. I could use a little help getting started, though. My initial thought is to add a boolean parameter to `find_best_candidate` that tells it it's ok to find candidates that for other platforms (perhaps a `only_for_current_platform` parameter that defaults to true, and we can change it to False when `collect_hashes` runs). How does that sound?

[2022-01-06 10:08] jfly commented on #4885
Oh wait, I just realized I'm talking about changing vendored pip code. Is that an ok? Or do we prefer not to change that code?

[2022-01-06 15:35] rsterbin commented on #4904
Nothing in there seems to be a good match for what I'm seeing.

I'm content to close out this issue and try to migrate the project without a working version -- it's a volunteer project anyway, and the worst that'll happen is some sad feels.

However, I do think it'd be wise to put some sort of disclaimer in the pipenv docs, which feature a lot of examples with python 2 environments, so that the ne

[2022-01-06 20:18] azundo commented on #4263
So I've resorted to removing the dependency using pipenv internals. Install `pipenv` so it's available to be imported in your virtualenv and then from within a repl, something like:
[code]

[2022-01-07 04:42] matteius commented on #4904
@rsterbin That seems like a reasonable suggestion, would you be able to link to the python 2 examples in the docs here for reference?  I was checking the Changelog just now and noted that 2021.11.5 is the first release to drop support for Python 2, see also:  https://github.com/pypa/pipenv/issues/4261

Perhaps you would have good results still using `pipenv==2021.5.29` for python2, not sure.

[2022-01-07 04:44] matteius commented on #4906
Just noting that while this issue report provides a potential way to reproduce the issue, it does also sound very similar to: https://github.com/pypa/pipenv/issues/4898

[2022-01-07 04:48] matteius commented on #4905
@asmacdo Thanks for volunteering to make an improvement to the help text, I think your request makes sense and clarifying the ignore feature on check would be useful.  Feel free to open a PR.

[2022-01-07 05:04] matteius commented on #4885
@jfly This other issue #4866  was specifically what was causing the missing hashes in my case; Based on your research so far do you think this could be related to what you have found?  https://github.com/pypa/pipenv/issues/4866#issuecomment-968729805

[2022-01-07 06:07] jfly commented on #4885
@matteius that sounds different. The bug I tracked down is definitely specific to when you're using a custom python package server.

[2022-01-07 06:22] matteius commented on #4594
@andreif It seems to still be an issue on latest version `2021.11.23` which also seems related to the fact that black only has pre-releases and there is some logic in pipenv that relates:

- Optional `pre` argument is not passed in `project.environment.get_outdated_packages()` https://github.com/pypa/pipenv/blob/main/pipenv/core.py#L1755
- If that argument were passed, `environment.get_outdated_pa

[2022-01-07 06:28] matteius commented on #4663
I believe this can be closed @gertvdijk, but let me know if you are awaiting additional resolutions.

[2022-01-07 06:28] #4663 closed

[2022-01-07 06:47] jfly opened #4909 "Test suite immediately aborts with a successful exit code whenever a test that does a `pipenv run` executes"
Check this out:

[code]

I know we don't have a 7 second test suite with only 3 tests in it! Also, where did pipenv's normal test summary go?

In the example above, we've run the first 3 tests of test_cli.py and the test suite aborted when running the 4th test: `test_pipenv_site_packages`. The whole test suite aborts when we get to this `pipenv run` invocation:

https://github.com/pypa/pipenv/blob

[2022-01-07 07:11] #4885 closed

[2022-01-08 07:35] camille-vanhoffelen commented on #4879
Same issue. I get a `ResolutionFailure` when trying to `pipenv lock --clear --verbose` with
python version: `3.9.7`
pipenv version: `2021.11.23`
and the following `Pipfile`:

[code]

Here's the full output and stack:

[lock_log_fail_2021.11.23.txt](https://github.com/pypa/pipenv/files/7832824/lock_log_fail_2021.11.23.txt)

the `pyproject_toml`, `setup_py`, and `req_name` that fail in `/Users/camil

[2022-01-09 10:33] oz123 opened #4911 "Vendoring documentation is outdated"
### Issue description

The documentation included in `pipenv/vendor/README.md` is outdated.
I tried the command described there:
[code]

### Expected result

I expect to be able to create and updated packages in the directory `vendor`.

### Actual result
The script failed with the error above.
Judging from the current CI, I think the correct way to do it is:
[code]

Please run `$ pipenv --support`

[2022-01-09 10:37] oz123 opened #4912 "`first.py` in vendor isn't used anywhere and can be removed"
I tested with:
[code]

[2022-01-09 10:40] oz123 commented on #4912
Sorry, grepped on early version (not master).

[code]

[2022-01-09 10:40] #4912 closed

[2022-01-09 10:41] Mause commented on #4911
Pipenv does not have vendoring support built in, the documentation you read refers to the dependences that pipenv has included within itself - that is, vendored for it's own use

[2022-01-09 12:08] matteius commented on #4879
New version release `2022.1.8` was released yesterday, could someone reporting the issue here check if still an issue with newest version?

[2022-01-09 12:14] oz123 commented on #4911
Yes, and that document I read is outdated. I'm am not expecting vendoring support. I'ml expecting the developer documentation to be updated.

[2022-01-09 12:30] matteius commented on #4817
It appears that version of `proto-plus` requires a higher version of `protobuf` than the prior version did, one that is not compatible with what the version of the parent package you are using `google-cloud-logging==2.6.0`.    See:
[code]

Hence this is not a pipenv issue, because the new version of `proto-plus` requires `protobuf >= 3.19.0` but the version of `google-cloud-logging==2.6.0` had dep

[2022-01-09 12:30] #4817 closed

[2022-01-09 12:33] oz123 commented on #4894
Hi, I have been maintaining the Gentoo ebuild for quite a while and I'm familiar with the code base.
IMHO, I can contribute in the following areas:
 * Code clean up.
 * documentation updates
 * testing

[2022-01-09 12:40] #4897 closed

[2022-01-09 12:46] matteius commented on #4903
Closing this for now as I think this was fixed in `2021.1.8` that was released yesterday, see the changelog has:

- Remove the extra parentheses around the venv prompt. #4877

Also I see the stackoverflow you link to has a recent new comment from someone regarding something to do with pipx.   Let us know if you think this is still an issue or open question in the latest  `pipenv==2021.1.8` release

[2022-01-09 12:46] #4903 closed

[2022-01-09 12:51] matteius commented on #4889
@Josh-Marshall-FactSet just a clarifying question: is your issue specifically caused by using a private package repository?  Also, a new version of pipenv was released yesterday, `pipenv==2022.1.8` and in the Changelog has:
* Fix a bug of installation fails when extra index url is given. #4881

Wondering if is related; can you recheck issue with new version?  Thanks!

[2022-01-09 12:54] matteius commented on #2624
Noting here that this issue is rather old at this point, but also there is a recent issue with an open PR that seems to be fulfilling a very similar ask to this by adding an out dated check.  https://github.com/pypa/pipenv/issues/4893

Perhaps we should close this issue and rally behind the open PR?

[2022-01-09 13:01] #2618 closed

[2022-01-09 13:10] matteius commented on #2284
I don't believe this exact issue is still relevant to latest versions of pipenv, such as the one released yesterday `pipenv==2022.1.8`.  I am closing this multi-year issue (that is kind of hard to parse) in hopes that we can get any new detailed bug reports that pertain to the latest version of pipenv filed instead.

[2022-01-09 13:10] #2284 closed

[2022-01-09 13:16] matteius commented on #2598
Closing this issue as it is quite dated at this point.  If you think this is error please recheck with the latest version `pipenv==2021.1.8`   Noting also that there is perhaps a similar issue (but different) reported more recently against newer version:  https://github.com/pypa/pipenv/issues/4594

[2022-01-09 13:16] #2598 closed

[2022-01-09 13:18] #2557 closed

[2022-01-09 13:19] #2553 closed

[2022-01-09 13:22] matteius commented on #2296
Closing this issue as I believe the documentation is corrected these days, I just checked:

[2022-01-09 13:22] #2296 closed

[2022-01-09 13:29] matteius commented on #3082
Please open any new specific actionable issues as they pertain to the latest `pipenv==2022.1.8` and be sure to follow the template for opening issues.  I am closing this thread as being dated==it references multiple ideas, but some of the underlying pipenv implementation has changed since the issue was opened and the assumptions should be rechecked.

[2022-01-09 13:29] #3082 closed

[2022-01-09 13:34] matteius commented on #4586
@jshwi newer versions of pipenv have been released since your last comment.

Also I am closing this issue as the answer from @manishlamichhanechemondis makes sense and has the support of a number of people.

[2022-01-09 13:34] #4586 closed

[2022-01-09 14:35] oz123 opened #4914 "pipenv migration to vendoring from invoke."
pipenv currently bundles a lot of Python packages. The mechanism and policy to update these and remove obsolete
packages are not clear (e.g. is yaml3 still needed? when we add a vendored package, is there a linked issue?)

It seems that the mechanism with invoke was copied from upstream pip. However, pip itself has since migrated
to [vendoring](https://pypi.org/project/vendoring/). In their words:

[2022-01-09 15:21] matteius commented on #4594
Mentioning this somewhat relates back to this PR where someone else commented also about black causing some extra steps due to it being a pre-release:
* https://github.com/pypa/pipenv/pull/4607

[2022-01-09 15:36] matteius commented on #2907
Closing this one out as a support request, because it was required to allow pre-releases to be installed to be able to install package black (it only has pre-releases).

[2022-01-09 15:36] #2907 closed

[2022-01-09 15:43] matteius commented on #4702
@QiFenPocket I believe this is resolved now on the latest version of `pipenv==2022.8.1`

[code]

[2022-01-09 15:43] #4702 closed

[2022-01-09 15:45] #3388 closed

[2022-01-09 15:48] matteius commented on #4763
@mistressofjellyfish I am closing this issue as it seems to work find on the latest `pipenv==2022.1.8`

[code]

[2022-01-09 15:48] #4763 closed

[2022-01-09 15:50] #4739 closed

[2022-01-09 16:02] matteius commented on #1356
Closing this issue as it was reported for much older versions of `pipenv` and I could not reproduce it with the examples given and the current version of pipenv; if you think there is still an issue related to this with `2022.1.8` and that it is not already covered in one of the existing (more recent) Issue reports, feel free to open a new issue with description following the template and provide

[2022-01-09 16:02] #1356 closed

[2022-01-09 16:16] matteius commented on #4720
@Kurt-von-Laven closing this out, as this was described in the thread linked through above that the issue had to do with `tensorflow` packages for that version were very specific arch/OS wheels and that nothing was resolved for your system:  https://github.com/pypa/pipenv/issues/2619#issuecomment-410137778

Worth noting too that latest versions of pip have the same difficulty:
[code]

[2022-01-09 16:16] #4720 closed

[2022-01-09 16:19] matteius commented on #4471
@jaydub To help traige, can you confirm if this behavior you describe of symlink resolution of the Pipfile is the same in latest version `pipenv==2022.1.8` as well?

[2022-01-09 16:30] matteius commented on #3025
I am closing this report because I cannot reproduce it on `pipenv==2022.1.8` which is now partly because of the example bug report, has a python2.7 version requirement--I tried to run with a python3 version but down stream of `huxley` which was last published in 2014, requires `plac==0.9.1` which seems to not be py3 compatible.   I suggest that @ik-nitk if you find this is still an issue, check th

[2022-01-09 16:30] #3025 closed

[2022-01-09 17:22] jpl-jengelke commented on #4681
I know this was just closed but it basically still does *not* work. So `pipenv` is unable to perform the basic resolution services that regular `pip` offers. I ran `pipenv -r requirements.txt` on [the requirements file in the EXOTIC repo](https://github.com/rzellem/EXOTIC/blob/main/requirements.txt) and it reported version resolution errors.  I then ran `pip` on the same file and it ran fine.

Wha

[2022-01-09 17:24] jpl-jengelke commented on #4681
@matteius **Should I open a new issue?**

[2022-01-09 18:14] matteius commented on #4681
@jpl-jengelke Thanks for the reply, I have re-opened this issue and begun to investigate.  I got the same original error as you for your example Pipfile, but you hypothesized:

So I don't think that is quite it, because to test that out, I made a requirements.txt with just:
`astroquery~=0.4`
Ran: `pipenv install -r requirements.txt`
It generated the lock file just fine and completed the install.

[2022-01-09 20:43] matteius commented on #4872
@jplindquist Yeah sorry, but it seems that `click` being vendor code, was updated in 8.0.0 to only support bash >= 4.4.0 -- it is in their release notes:  https://click.palletsprojects.com/en/8.0.x/changes/#version-8-0-0

In order to gain bug fixes and thing that are related to downstream vendor packages, we have to update vendor code from time to time, which is why this became a requirement after

[2022-01-09 20:43] #4872 closed

[2022-01-10 04:21] jmhodges opened #4916 "mention TLS verification fix in release notes"
It looks like `2022.1.8` was released with a fix to make pipenv [verify the TLS certificates of index hosts](https://github.com/pypa/pipenv/commit/167909839a95ef5aa379fe12d4564b2b829cc175) mentioned in a requirements.txt. Since it could be pretty important fix for folks, it'd be nice for it to be mentioned in the release notes

[2022-01-10 06:28] jaydub commented on #4471
Can confirm; 2022.1.8 exhibits the same behaviour.

[2022-01-10 08:02] jshwi commented on #4586
@matteius Thank you for the heads up.

[2022-01-10 08:45] oz123 commented on #4727
Seems invalid to me. Do you have libcurl installed?

[2022-01-10 09:18] GitRon commented on #4727
@oz123 Why is this problem invalid? I am running `pipenv install` and it's not working 😅

[2022-01-10 09:33] oz123 commented on #4727
See my question: do you have libcurl installed? This library requires a working compiler and the correct C code.
It does not supply wheels.

[2022-01-10 09:44] GitRon commented on #4727
The odd thing is that I could install it with pip - if I recall correctly.

[2022-01-10 09:50] oz123 commented on #4727
Maybe, you could, maybe you could not. Pipenv calls pip under the hood.

![image](https://user-images.githubusercontent.com/1083045/148746029-c5b01199-db4b-4815-afc0-7367dfabe49e.png)

You can try downloading here:

https://www.lfd.uci.edu/~gohlke/pythonlibs/

I am sorry this is frustrating for you. Developing software is not easy, on Windows it is even harder.

[2022-01-10 10:45] GitRon commented on #4727
No worries, mate. I was just a little confused with your statement that I don't have a problem 😅 It's been a while since I encountered this problem, so I'll see what the real reason is the next time I face it.

[2022-01-10 12:27] oz123 commented on #4727
Yes, the problem is real. However, pipenv isn't the cause. Can this be closed?

[2022-01-10 12:35] oz123 commented on #3130
This is a very old issue, and while @tiran is right about the fact that in general software should not run as root, pipenv should not install anything outside the virtualenv it creates.
People which run a virtualenv and pipenv in a container should be made aware that one can use:

[code]
and use that with the OS native pip.

[2022-01-10 13:09] oz123 commented on #3130
@TTimo, you should be able to run pipenv as root, or Administrator on Windows. However, this is discouraged. You could end up breaking your Python installation.

[2022-01-10 15:51] GitRon commented on #4727
Yes, you can. As I said, been a while since I encountered this.

[2022-01-10 15:51] #4727 closed

[2022-01-10 16:06] oz123 commented on #1839
This PR is already merged. Closing the issue.

[2022-01-10 16:06] #1839 closed

[2022-01-10 20:41] duailibe commented on #4784
@matteius I believe this is a minimal reproduction example: https://github.com/duailibe/pipenv-local-deps-repro

[2022-01-10 21:40] duailibe commented on #4784
Also this might be a duplicate of #4553

[2022-01-10 22:12] duailibe commented on #4553
A minimal reproducible example of this bug: https://github.com/duailibe/pipenv-local-deps-repro

And it worked in 2018.11.26 indeed

[2022-01-11 03:46] frostming commented on #4911
`inv` is provides by `invoke` package, you should find it after run`pipenv install -d`

[2022-01-11 08:59] oz123 commented on #4189
That's probably easy to resolve:

[code]

[2022-01-11 09:04] oz123 commented on #4911
So, I need to install pipenv before I develop pipenv?
This should also be documented. Using `make install` from the makefile is broken (it tries the system's pip).

[2022-01-11 09:55] frostming commented on #4911
That is the case, it can be install with `pip install -e .`

[2022-01-11 19:56] farvour commented on #4835
I ran into a similar issue. It appears the "fix" actually broke it even further. When attempting to install an ediable package defined in the Pipfile, using `--system` flag just silently skips the package altogether when running `pipenv install --deploy --system` and the Pipfile/lock contains an editable package.

[2022-01-11 21:52] oz123 commented on #4561
Hi, which shell are you using in windows? Currently, there is completion for UNIX shells only.

[2022-01-12 08:47] oz123 commented on #4700
Please see if you can use  environment variables to configure the build.

https://pipenv.pypa.io/en/latest/advanced/#configuration-with-environment-variables.

[2022-01-12 14:04] oz123 commented on #4911
@frostming `pip install -e .` is broken.
See note: https://github.com/pypa/pipenv/blob/9770d6e11c4443742d1f4a617f1a8b4520ee2627/CONTRIBUTING.md?plain=1#L220

Currently, there is no clear way on how to start developing on pipenv.

[2022-01-12 14:09] frostming commented on #4911
Sorry, I didn't mention that you should do development in a vitualenv. That is the best practice.

[2022-01-12 14:12] oz123 commented on #4911
So, the docs should say:
[code]

[2022-01-12 15:18] radeklat commented on #4879
I no longer see the issues :+1: Thank you for fixing the bug :tada:

[2022-01-12 17:48] scott-sum commented on #4879
works for me too now, thanks

[2022-01-12 19:16] #4879 closed

[2022-01-13 10:41] sunnivin commented on #4264
(Just in case some else faces the same struggle)

I was seeing the same spawning behavior of cmd with powershell7.2.1, but a workaround is:
-  Use the [prompt trick ](https://github.com/pypa/pipenv/issues/4264#issuecomment-845445399) shared earlier  in this issue
-  Use `pipenv run pwsh` (pwsh is the variable for the executable of powershell7) instead of `pipenv shell` to start the pipenv-environm

[2022-01-13 11:52] melvyn-oviavo commented on #4850
It struggles with variables without values:

[code]
python-dotenv ignores these (and doesn't set the variable either).

[2022-01-13 18:26] oz123 commented on #4697
Sure take a look at:

https://pypi.org/project/pytest-xdist/

You can patch `setup.cfg` locally:
[code]

[2022-01-14 17:33] melvyn-oviavo commented on #4850
There's an additional bug here: You get to the same point with `pipenv run` if you set PIPENV_DONT_LOAD_ENV=1 in your shell, which I actually need.
Surprisingly, `pipenv shell` works.

[2022-01-14 17:46] melvyn-oviavo opened #4923 "Pipenv run throws iteration error when PIPENV_DONT_LOAD_ENV is set"
### Issue description

When PIPENV_DONT_LOAD_ENV is set in the environment we get the following Traceback:
[code]
It doesn't matter if there actually is a .env file or not.

### Expected result
Pipenv will run and not try to import variables from .env.

### Actual result

Operation fails.

### Steps to replicate

1. `mkdir test-project && cd test-project`
2. `pipenv install requests`
3. `env PIPEN

[2022-01-15 11:00] melvyn-oviavo commented on #4923
Was using 2021.11.9 inadvertently. Has been fixed in 2022.1.8.

[2022-01-15 11:00] #4923 closed

[2022-01-18 18:54] JoshuaPoddoku commented on #2284
Just to understand, was this issue resolved by another PR or simply closed?

[2022-01-18 20:53] meichthys commented on #2284
I believe it was closed because there were many conflicting reports that could have been separate issues. Some of the issues may be resolved by time of the latest release, but others may still be relevant - in which case we should open new issues to track those issues.

[2022-01-18 22:01] rittneje opened #4924 "pipenv uninstall transitive dependencies"
### Is your feature request related to a problem? Please describe.

We want to be able to remove a package from our Pipfile, and have it and its transitive dependencies removed from Pipfile.lock, _without_ other dependencies getting automatically upgraded.

1. `pipenv uninstall` will upgrade anything that isn't pinned, which is very surprising behavior
2. `pipenv uninstall --keep-outdated` does no

[2022-01-18 22:09] matteius commented on #2284
@JoshuaPoddoku This issue it was determined that the current design uses hashes from the API and so there should not be redundant downloads in performing locking, much has changed since the original report was opened.  When looking for PRs that seemed relevant I performed this search:  https://github.com/pypa/pipenv/pulls?q=is%3Apr+is%3Amerged+hash

However I don't have a link to an exact PR, but

[2022-01-19 00:45] badench commented on #4263
Is there any update on this? It's biting me right now.

[2022-01-19 12:16] NFSpeedy opened #4925 "Windows environment variable limit reached when installing packages"
### Issue description

When you have an environment where you install packages from an in-house source with a hash for authentication (and the hash is long), you are risking hitting the environment variable limit of Windows. This issue prevents the use of pipenv on Windows machines.

The Windows limit is 32767 characters, but with in-house projects with many dependencies and sub dependencies, the

[2022-01-19 17:42] jnsnow commented on #4626
I see this behavior too, with simply a `--keep-outdated` -- it breaks the Pipfile.lock because it does not update the hashes for the package you update.

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2021.11.23'`

Pipenv location: `'/home/jsnow/.local/lib/python3.9/site-packages/pipenv'`

Python location: `'/usr/bin/python3'`

Python installations found:

  - `3.9.7`: `/usr/bin

[2022-01-19 21:58] LEv145 opened #4926 "Infinity lock"
When I use `pipenv lock` pipenv infinitely generates a lock file
Maybe it is because `discord.py` required `aiohttp>=3.6.0,<3.8.0`, but last version of `aiohttp` is `3.8.1`

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2021.11.23'`

Pipenv location: `'/usr/lib/python3.10/site-packages/pipenv'`

Python location: `'/usr/bin/python'`

Python installations found:

  - `3.10.1`: `/

[2022-01-20 15:57] alexzanderr opened #4927 "add pipenv shell --run"
when im creating a subshell i want to give it an initial commands or a list with initial commands

for example i want to run `ptpython` in a shell script after launching subshell like this:
[code]

the feature would look like this
[code]
4 running a single command

and
[code]
the commands will be splitted by semicolon(`;`)

and also a very good idea, give it an initial script to run after launchin

[2022-01-20 16:02] alexzanderr commented on #4927
nevermind.

this feature is already present

you run a custom command like this
[code]

or you can run a script like this
[code]

[2022-01-20 16:02] #4927 closed

[2022-01-20 20:13] balloob commented on #4530
I see mentions of it being a footgun. I think that it depends on how the feature is implemented. I would consider the implementation to be like constraints: set by passing a file. The user is aware of what they are doing because they are setting the CLI flag. Pip could also print warnings if the forced resolutions are incompatible to help a user that accidentally got to use a resolutions file.

I

[2022-01-20 20:34] balloob commented on #4530
Another benefit of "resolutions" is that it could be used as a lock file speeding up CI builds.

[2022-01-20 23:41] matteius commented on #4530
Can you clarify what you mean by this?  Pipenv already has the Pipfile.lock file that should be used by the CI for installing/syncing dependencies, so I am not sure that adding such a "resolutions" feature would have any speed benefit in builds.   It makes sense otherwise that this could be a useful feature for the reasons mentioned earlier on in the thread.

I agree that the information about PEE

[2022-01-21 02:37] mstrofbass commented on #4530
Another option would be to simply do what other successful libraries have done, as suggested a fourteen months ago, instead of continuing to maintain an inferior product.

[2022-01-21 02:55] matteius commented on #4530
@mstrofbass It is fine to suggest that pipenv can do similar to what other libraries have done, but keep in mind that this is an open source project where anyone can contribute, so if it is such a trivial thing to do I encourage you to look into making a pull request or adding constructive feedback that could lead to such an improvement.  That being said, I should remind you that:

Pipenv has one

[2022-01-21 03:06] mstrofbass commented on #4530
@matteius What do you think ignoring existing solutions to real problems that impact your users and instead putting the onus on them to convince you that it's the right way to solve their problem (which they're not even subject matter experts on), while also not offering to solve the problem in any other way, is if not disrespectful?

But hey, at least that's in the documentation.

[2022-01-21 04:48] matteius commented on #4530
@mstrofbass I've been there before feeling negatively about a different project, lets remain constructive.  Correct me if I am wrong but yarn is a package manager for mostly javascript right?  I have primarily used npm for that purpose so I may lack context, but my question is along the line of: how is it reasonable to think that because another open source software technology (developed in other

[2022-01-21 04:58] balloob commented on #4530
I agree with @matteius. Please limit this conversation to try to solve this issue and not distract from it's topic.

Right, my bad.

[2022-01-21 05:07] matteius commented on #4926
@LEv145 I am wondering if this is a duplicate report of https://github.com/pypa/pipenv/issues/4651

Also noting from your `$ pipenv --support` that while on a fairly new version there is actually an even newer version `2022.1.8`.

Could you check if this seems like the same as the other issue, and if so I'll close this one out and request that you comment on the other issue with details of your ex

[2022-01-21 05:46] matteius commented on #4924
This is a great proposal and description +you did link to the other discussion about it so that is good.  We may ultimately want to close one or the other issue to help track as a single issue, but I will comment on some thoughts on implementation details:

The challenge I see here is with respect to the transitive dependencies because the Pipfile.lock file is a flat structure where all dependenci

[2022-01-21 05:52] matteius commented on #4577
@JDLH I know your offer to help with a PR improving the documentation is a little old by now, but if you are still interested in doing so I think it would be a reasonable improvement.  Would be happy to try and help push it across the line.

[2022-01-21 05:53] #4567 closed

[2022-01-21 05:57] #4482 closed

[2022-01-21 06:03] matteius commented on #4552
@stefantaubert I am confused by the issue report because it would appear you are telling `pipenv install <some_package>` but instead of passing in a package name you are supplying a flag which I think the arguments have to be package names.   `pipenv sync` would install all of the dependencies from the lock file which is preferable when not actually adding a new package dependency to the `Pipfile`

[2022-01-21 06:08] matteius commented on #4475
@normyp Is this still an issue for you?

[2022-01-21 06:09] #4557 closed

[2022-01-21 19:56] ptltbt commented on #4883
Hey, I was running into this error when trying to create a new project using Python 3.10 (eg. `python3.10 -m pipenv --python 3.10`, was fine when using 3.9). It turns out I had an older version of the `virtualenv` package installed (`20.10.0`) which was causing this to fail. This has since been fixed (https://github.com/pypa/virtualenv/commit/bb82a73b6dbf577874f6d4bfaf72d2a7f59dfffe) and updating

[2022-01-21 20:00] matteius commented on #4883
Thanks for your report @ptltbt -- I think based on your analysis and my prior analysis we can close out this ticket from the issues backlog and it will still be available for those that search for this error to find potential resolution.

[2022-01-21 20:00] #4883 closed

[2022-01-21 21:33] LEv145 commented on #4926
I update version to `2022.1.8` and the problem has not been solved
[code]

And in another project there was a similar problem, but after a long time he created a `lock file` with `warning`:
[code]
From #2598

[2022-01-21 21:58] matteius commented on #4926
@LEv145 Thanks for triaging the report against latest version.

That particular error output is the result of python2 code running against python3 and how that happened seems to be related to the version of greenlet being requested for install, or the version of setuptools the user had.

I am going to mark this issue as triage to see about the reproduction of the issue.

[2022-01-21 23:58] matteius commented on #4749
@SmokinCaterpillar Have you tried the `pipenv install <mypackage> --keep-outdated` flag?  See also:  https://github.com/pypa/pipenv/pull/3304/files

I suspect that basically would do what you are describing of " it will only update the hashes and the version of that particular package in the lockfile and leave the rest of the lockfile untouched." -- the difference in what you are describing is tha

[2022-01-22 16:32] johngallino opened #4928 "$(pipenv --venv)/Scripts/activate returns "No such file or directory" on Windows 10"
### Issue description

Activating a pipenv environment using `source "$(pipenv --venv)/Scripts/activate"` on Windows 10 returns **/Scripts/activate: No such file or directory** even when the file exists.

### Expected result

The command **$pipenv --venv** returns *C:/Users/johng/.virtualenvs/cashman-flask-project-2vwc8e6G*

Thus `source "$(pipenv --venv)/Scripts/activate"` should activate the abo

[2022-01-22 22:32] oz123 commented on #4928
The syntax `$(...)` is  for UNIX shell.
You should activate the environment with:
[code]

(As a side note ... do try WSL for developing software, you will enjoy a capable linux without living the comfort of your windows).

[2022-01-23 11:26] oz123 commented on #4558
This is already updated.

[2022-01-23 11:26] #4558 closed

[2022-01-23 11:31] oz123 commented on #4265
Fixed in #4920 .

[2022-01-23 11:31] #4265 closed

[2022-01-23 17:34] oz123 commented on #3160
This is documented here.

[2022-01-23 17:34] #3160 closed

[2022-01-23 19:07] #1952 closed

[2022-01-23 19:14] #4068 closed

[2022-01-23 19:16] #4016 closed

[2022-01-23 19:17] oz123 commented on #3895
This is solved.

[2022-01-23 19:17] #3895 closed

[2022-01-23 19:18] oz123 commented on #3875
Seems fixed.

[2022-01-23 19:18] #3875 closed

[2022-01-23 19:33] oz123 commented on #3285
Note added here:
https://pipenv.pypa.io/en/latest/basics/#pipenv-and-docker-conatiners

This is a recommendation not an absolute truth.

[2022-01-23 19:33] #3285 closed

[2022-01-23 19:34] oz123 commented on #3125
These exceptions should have been specifiedhhere.

[2022-01-23 20:10] deni commented on #4502
What does that mean?

[2022-01-23 20:41] oz123 commented on #3741
The patches seem like issues fixes, but also black formatting.
I would vote for completely removing crayons since everything that can be done with crayons can be done with click.

[2022-01-23 21:30] matteius commented on #4502
Ah sorry -- I had spent too many hours looking at pipenv issues that day, I was amused to see so many names I recognized on this thread but probably didn't need to add that remark.

[2022-01-24 11:24] NFSpeedy commented on #4925
The code in the fork is verified and works with passing tests.
I am new to contributing to open-source. If I need to do something more, please notify me. The code can be viewed in the commits above.

[2022-01-24 11:58] frostming commented on #4925
I would prefer a temporary file as input.

[2022-01-24 19:35] #4088 closed

[2022-01-25 10:28] JBPressac opened #4931 "compatibility of virtualenvs created with pipenv 11.9.0 and the 2022 branch"
Hello,

I tried to upgrade pipenv on Linux from 11.9.0 version to the 2022.1.8 version with pip install --user --upgrade pipenv. However, after the installation, pipenv 2022.1.8 does not recognizes virtualenvs previsously created with the 11.9.0 version as if I run from a folder where resides a virtualenv created with pipenv 11.9.0:

`pipenv run pip list`

pipenv creates a new virtualenv:

[code]

[2022-01-25 13:08] kaburelabs opened #4932 "Getting error when trying to activate the enviroment"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-01-25 15:16] mkartikk opened #4933 "Remove name of virtual environment on the terminal."
How do I stop my prompt from displaying the name of the current virtual environment that I am in inside brackets?
It is not displayed when I use "pipenv shell" , it's only displayed when I manually run the activate.ps file.

Also, how can I change the default activate file that is generated for each project?

[2022-01-25 21:18] LEv145 commented on #4926
There was also an infinite loop when I tried to install package by the wrong url
[code]

[2022-01-26 06:57] frostming commented on #4931
Because the name hashing is changed between the two versions. You can try this workaround:

[2022-01-26 11:40] agajdosi commented on #2206
Any update on this? Is this planned or not? For me it would truly increase the use value of pipenv.

[2022-01-26 15:00] kaburelabs commented on #4932
Hey @oz123, thanks for your answer man.

You're correct...

I'm using the following versions:
- Ubuntu 20.04
- Python 3.10
- pipenv 11.9.0

I do not remember exactly how I installed it but probably was through pip install pipenv... The problem started after I set the python 3.10 as the default

[2022-01-26 16:03] oz123 commented on #4932
Is pipenv installed via your package manager? Seems like a very outdated version ...
Plus, it's got a known CVE. I suggest you install the latest version using `get-pipenv.py`.

[2022-01-26 16:40] kaburelabs commented on #4932
Hey @oz123 Thank you very much, mate... With your questions, I did some new searches on google and it's now working again...

I have just upgraded my pipenv and virtualenv:

[2022-01-26 20:15] #4932 closed

[2022-01-26 23:28] Bananaman commented on #3866
@madacol That is a VERY bad idea. You're spawning python processes in the background and overwriting the file every time you launch a shell. Launching multiple shells would cause multiple processes to write to the file at the same time.

There's a much better way to do this. You've *almost* got it above.

## Step 1. Write the autocompletion code to a file or your shell init script.
## Step 2. Load

[2022-01-26 23:31] Bananaman commented on #4367
Another issue is that the suggested way of adding the autocompletion (in the readme) is very, very slow and adds at least half a second to your shell startup time, since it has to wait for Python and pipenv to initialize on every shell startup.

There's a much better way to do the autocompletion setup.

## Step 1. Write the autocompletion code to a file or your shell init script.
## Step 2. Load t

[2022-01-26 23:50] Bananaman commented on #178
@alexchandel It doesn't defeat the purpose. The purpose isn't to share your `.venv` folder to other people (their machine architecture may not even support the installed packages, such as Windows vs Linux packages). So having this option in `Pipfile` would just be weird.

It also doesn't affect anything at all regarding docker. When you build your docker image, you can make a script that calls `pi

[2022-01-27 00:02] Bananaman opened #4934 "[Feature] Command to move project folder, and command to scan for and remove orphaned virtualenvs"
Pipenv currently places all virtualenvs in `~/.local/share/virtualenvs/` within folders named after the hashed project path. This is great, since it ensures that the per-platform libraries in your virtualenvs aren't indiscriminately shared or included in VCS by beginners.

However, it leads to a lot of orphans if you rename or move the project folders. And since pipenv is responsible for creating

[2022-01-27 00:02] Bananaman commented on #178
New ticket: https://github.com/pypa/pipenv/issues/4934

[2022-01-27 13:42] lyle-nel commented on #1914
Could we signal that this is still a problem by re-opening this issue?

[2022-01-27 14:17] VishvashDwivedi commented on #3991
Who so ever is struggling and is unable to install psycopg2 and refer to this comment,

To install psycopg2 in Mac :

1.  run command : export PATH=$PATH:/Applications/Postgres.app/Contents/Versions/14/bin
Make sure you have your version of Postgres.app written in the command in place of 14(which is mine version.)

2. pipenv install wheel
3. pipenv install setuptools
4. pipenv install psycopg2.

a

[2022-01-27 16:04] matteius commented on #1914
@lyle-nel I don't think re-opening this specific issue would help since the content of it is dated, for example,

This is no longer true about `pipenv` as it gets the package hashes from the pypi API.  There is a merged PR connected here that relates back to the issue at hand being resolved.  If the community still feels that locking is very slow (too slow) and that there might be some optimizatio

[2022-01-28 04:23] #4933 closed

[2022-01-28 10:53] pkusaha commented on #4564
I have faced the same problem but, it seems works when I am using latest version of numpy. In other words, whenever tried to install older version like 1.15.2 it gives me installation failure. So technically it should work when you are using the latest one.

[2022-01-28 13:36] pinfort opened #4935 "running script with `pipenv run` will fail if args contains special characters on Windows"
### Issue description

After updating pipenv, my scripts fail with exception. I don't know if there are any configurations to fix this problem, please tell me if it exists.

#### When

This problem happens when the following conditions are met

- on Windows
- pipenv version >= 2021.11.5
- Args are invalid format for `glob.glob` python standard function.

#### Cause

version 2021.11.5 has updating

[2022-01-28 22:28] oz123 commented on #4935
Thanks for the detailed issue report. I guess we need to wait for upstream here.

[2022-01-28 22:32] oz123 commented on #4934
Sound like a good feature. Just make sure to use `shutil.move` instead of `os.rename`.

[2022-01-28 23:58] djmore4 commented on #1921
I think @uranusjr 's point about `faker` is even more relevant now than it was at the time of their comments. If a dependency in my project stops being maintained or stops being an acceptable package to use, forking that project to create a drop in replacement or finding another project which operates as a drop in replacement is a use-case that should be supported in my opinion.

Given that this i

[2022-01-29 07:24] pinfort commented on #4935
I think this feature is strange. However, upstream project already have an option to disable it. Therefore, it is the user's responsibility to take advantage and disadvantage of this feature.

For this reason I think we need to change the settings for `click` used in this project at our own risk.

[2022-01-29 07:57] oz123 commented on #4935
If this is something we can control, I think a PR can be merged. Not having a windows will make it hard to for me to test. If can, you are welcome to submit a PR.

[2022-01-29 14:14] willhoh commented on #2323
Hi, I've tested the command `pipenv install --skip-lock --dev` and get no errors.
Is this issue fixed or do I something wrong?

#### Test environment ####
1. Docker `python:3.9`
2. installed pipenv with `pip install -e pipenv/`
3. run command `pipenv install --skip-lock --dev` in empty directory

#### Output ####
`root@623cff45dafb:/opt/test# pipenv install --skip-lock --dev
Creating a virtualenv

[2022-01-29 17:25] willhoh commented on #4911
As I just noticed, @oz123, you have changed the directories from vendor to docs/dev or reworked the whole documentation. Can this issueu be closed?

I would like to make a request to also describe how a proper development environment for pipenv should look like? Or at least recommend a good one? I have decided, after a lot of back and forth, to keep installing pipenv in a docker image and testing

[2022-01-29 19:31] pinfort commented on #4935
Thanks. I created a PR to fix it.

[2022-01-29 23:02] franzhaas commented on #4695
I just checked on pipenv, version 2022.1.8.

aparently id does claim to newly lock, but in the end it did what it was suposed to, remove all the surplus packages.

Aparently the output spooked me, but the functionality is correct.

[2022-01-30 05:48] #4737 closed

[2022-01-30 21:22] oz123 commented on #4935
Fixed in b60d37a8591d3c15ef3260fe2d33c887b2eeb48c

[2022-01-30 21:22] #4935 closed

[2022-01-31 13:42] oz123 opened #4938 "remove --two flag."
The flag is obsolete as Python 2. We need to remove it as keeping it means that we also keep the complexity.

[2022-01-31 17:55] tucked commented on #4695
I can repro on `2022.1.8`.

[2022-01-31 21:36] #4537 closed

[2022-01-31 21:43] oz123 commented on #4916
This is mentioned in the form

Fix the index parsing to reject illegal requirements...

[2022-01-31 21:45] oz123 commented on #4916
Also update the release notes in GH: https://github.com/pypa/pipenv/releases/tag/v2022.1.8 with explicit mention of the CVE fix.

[2022-01-31 21:45] #4916 closed

[2022-01-31 21:47] oz123 commented on #4904
Related #4938. The support was maybe removed in the package classifiers. In reality there is still tons of Python2 related code.

[2022-02-01 00:19] PlamAtom opened #4939 "Userhelp for ERROR: No matching distribution found for imagio / ERROR: Could not find a version that satisfies the requirement imagio (from versions: none)"
Do not use !pip install imagio

Use:
!git clone https://github.com/imageio/imageio.git
import imageio

Not working?
Try "pip3 install --upgrade pip" (might break your package manager etc...

No clue tbh... but now it is working

[2022-02-01 17:05] borgeser opened #4940 "Avoid copying files from local directory"
### Is your feature request related to a problem? Please describe.

I have a dependency in my Pipfile which target a local path:

[code]

When I try to install dependencies `pipenv install`, it's really slow (> 10min for a single dependency).
Moreover a warning is shown on the console:
[code]

I've investigated a bit and the root of the problem seems to be an [issue](https://github.com/pypa/pip/is

[2022-02-01 18:36] NFSpeedy commented on #4925
Sorry for the delay.

Here is an example pipfile. After creating the file, you have to run ```pipenv install``` and you will immediately get ```ValueError: the environment variable is longer than 32767 characters```.
The user and key are the same lengths that we have been provided by the JFrog admins.

[code]

[2022-02-02 13:49] OmeGak opened #4941 "Locking failing with SyntaxError in Python 2 virtualenvs"
Locking packages fails with a `SyntaxError` in Python 2 virtualenvs.

### Expected result

No syntax error.

### Actual result

[code]

### Steps to replicate

[code]

-------------------------------------------------------------------------------

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.1.8'`

Pipenv location: `'/usr/local/Cellar/pipenv/2022.1.8/libexec/lib/python3.

[2022-02-03 05:06] rob-hills commented on #4934
I agree both of these proposed commands would be extremely useful.

[2022-02-03 18:52] gabe-microsoft opened #4942 "pipenv sync raises `ValueError: Path not found or generated` when `PIPENV_VENV_IN_PROJECT=1` and `.venv/bin` doesn't exist"
pipenv 2022.01.08 doesn't properly support creating a new virtual environment in the project (using `PIPENV_VENV_IN_PROJECT=1`) if there's isn't already an existing one. This makes it hard to do a clean install.

More specifically, if `PIPENV_VENV_IN_PROJECT=1` and the `.venv/bin` directory doesn't exist within the project directory, `pipenv sync` raises `ValueError: Path not found or generated` r

[2022-02-03 19:36] grantwforsythe opened #4943 "ERROR:display_layout.cc"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-02-04 07:09] oz123 commented on #4941
Python2 is EOL. We can't and won't support it .
Sorry.

[2022-02-04 07:09] #4941 closed

[2022-02-04 07:12] oz123 commented on #4940
Please specify which pipenv version and operating system you use.

[2022-02-04 07:47] borgeser commented on #4940
I'm using `pipenv, version 2022.1.8` on `macOS Big Sur 11.6`

[2022-02-04 20:10] gnu-lorien opened #4945 "pipenv waits seemingly forever to lock the following dependency list"
### Issue description
With the following package list, `pipenv lock` never seems to succeed. It seems to be looping trying to resolve `h11` and `anyio`. If I remove `http3` from the package list then the lock is able to resolve.

[code]

### Expected result

`pipenv lock` should either succeed or fail with a meaningful error message about unresolvable dependency. If you remove "http3" from the lis

[2022-02-05 00:36] OmeGak commented on #4941
That's very reasonable, no worries. It would still be useful to specify in the docs that Python 2 is no longer supported.

[2022-02-05 08:02] oz123 commented on #4941
It should be kind of obvious right now. I have other priorities, but I might add it.

[2022-02-05 08:43] helensolomon opened #4948 "python"
py
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  befor

[2022-02-06 09:20] oz123 commented on #4948
Hi Helen, Welcome 🤗 please format your issue properly. It's hard to understand what's going on here

[2022-02-06 09:23] oz123 commented on #4945
Please at least which operating system you are using. Without this it might be impossible to solve .. The issue maybe related to missing underlying wheels.

[2022-02-06 09:25] oz123 commented on #4943
Are you using Windows? If so, which terminal are using?

[2022-02-06 13:18] grantwforsythe commented on #4943
Yes, I am, Windows 10 Pro v10.0.19044 and I currently using the *Powershell Integrated Console* v2021.12.0 in VS Code.

[2022-02-06 14:33] oz123 commented on #4943
Can you please see if this problem occurs on the normal `cmd.exe`? Unfortunately, I don't use Windows and I can't help much here. It seems like there is an issue with the console. Also, I am guessing that your script is invoking some browser? Seems related to chrome?

[2022-02-06 18:04] oz123 commented on #4939
Err? What is the issues here? Which OS? Not enough information. Feel free to reopen when you supply the info.

[2022-02-06 18:04] #4939 closed

[2022-02-07 16:40] gherkz commented on #4701
I'm wondering if there is a workaround for this?

I sometimes install system packages for hacking on the python shell. When working on an actual project, I like to check for vulnerabilities in dependencies. It's quite difficult to check for vulnerabilities in my project when it's reporting false positives from system packages.

[2022-02-07 23:28] gnu-lorien commented on #4945
Will do.

CentOS 7 x64

[2022-02-08 07:21] oz123 commented on #4945
And pipenv version?

[2022-02-08 08:46] dspechnikov commented on #4407
@matteius The issue is still present for me. Pipenv version `2022.1.8`.

[2022-02-08 13:20] NFSpeedy commented on #4925
@frostming is this what you requested?

[2022-02-08 13:47] frostming commented on #4925
Instead of passing packages via **multiple** env vars, I would prefer write them into a temporary file and make the resolver read from it.

[2022-02-09 00:57] axot commented on #3827
If we can get more verbose log in the lock phase will be very helpful since there're different root causes.

[2022-02-09 01:04] rishindoshi opened #4950 "Pipenv Lock Stuck with strawberry-graphql-django"
### Issue description

Hello! `pipenv` seems to get stuck locking infinitely when trying to `pipenv install strawberry-graphql-django`

### Expected result

Expected the install to generate a valid lock file.

### Actual result

The output is infinite so I'll post a snippet of it (seems like it gets stuck in a loop of trying to add the same requirements?

[code]

### Steps to replicate

Run `pipen

[2022-02-09 01:05] colincadams commented on #4651
We saw this today in https://github.com/Recidiviz/pulse-data when attempting to lock. Running on `2022.1.8`

<details>
<summary>pipenv lock --dev</summary>

Collecting pipenv
  Downloading pipenv-2022.1.8-py2.py3-none-any.whl (3.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.6/3.6 MB 66.1 MB/s eta 0:00:00
Collecting virtualenv
  Downloading virtualenv-20.13.1-py2.py3-none-any.whl (8.6 MB)

[2022-02-09 03:36] strugee commented on #4948
Pretty sure this person copied the exact contents of https://github.com/github/gitignore/blob/main/Python.gitignore into the issue. Seems likely to be spam, or maybe some kind of test?

[2022-02-09 03:37] #4948 closed

[2022-02-09 09:16] NFSpeedy commented on #4925
You might have permission issues in some environments because of the security limitations of the technical user/bot.
I am unsure that it will be a good solution.

[2022-02-09 09:57] frostming commented on #4925
Or feed the packages via stdin? Nothing is more ugly than multiple env vars IMHO.

[2022-02-09 16:39] #4950 closed

[2022-02-10 10:44] Bohooslav commented on #3991
I updated python version, and it worked fine for me.

[2022-02-10 22:02] superlazyname opened #4952 "Pipenv seems to cache old Python interpreters and use them even if they don't exist [anymore]"
## Background
A Windows machine has two interpreters on it, one at C:\Python_A\ (I'll call this pythonA) and one at C:\Python_B\ (I'll call this pythonB).
- We don't really want to use pythonB with Pipenv, but it seems to get pulled in and I'm not sure how to get rid of it.
- Both python interpreters are the same version, if it matters.

I have had a few people go through this process on a couple

[2022-02-11 15:27] VishvashDwivedi commented on #3991
Which version of python are you using ? and did you installed it on mac or windows ?

[2022-02-11 15:32] Bohooslav commented on #3991
I am using Fedora Linux. When I reinstalled the pipenv environment with python 3.10 it worked well.

[2022-02-11 15:37] VishvashDwivedi commented on #3991
The problem is there for mac, I tried installing it on mac with the latest version of python, still it was not working.When I followed the above steps only then it worked.

[2022-02-12 01:40] Tlaloc-Es opened #4953 "Error executing pipenv shell - 'virtualenv.activation.xonsh'"
### Issue description

Error when executing pipenv shell without environment created, over a folder with a pipfile

### Expected result

virtualenv created

### Actual result

[code]

### Steps to replicate

install pipenv
launch zsh
go to folder with pipfile
execute pipenv shell

-------------------------------------------------------------------------------

Please run `$ pipenv --support`, and

[2022-02-12 13:27] kayhayen commented on #4953
I have a Debian Bullseye system, and have been plagued by the same issue for a while. I have tried to manually remove all occurrences of xonsh, strangely what helped was to do `apt-get remove python3-virtualenv`. Although the user local install should overload it, apparently that's not successful in my case.

Not sure if it's a bug of Debian, or virtualenv here, or maybe pipenv. Anyway, hope that

[2022-02-12 13:33] mmmbogosian opened #4954 "docs.pipenv.org (linked to by external sources) is defunct and gives a strong impression that `pipenv` is a dead project"
This was raised in https://github.com/pypa/pipenv/issues/4805#issuecomment-966394069, but I don't believe another issue was opened to track that. The cert for docs.pipenv.org expired in Aug. of 2021, which is quite awhile ago. The video is also broken on that page. The project link on that page goes to https://github.com/ken/pipenv, which 404s. I arrived at docs.pipenv.org from an external link, a

[2022-02-12 13:53] Tlaloc-Es commented on #4953
Thanks, @kayhayen works, perfectly, I don't understand why this error happen suddenly but this works perfectly.

[2022-02-12 13:53] #4953 closed

[2022-02-12 21:21] oz123 commented on #4954
The owner of docs.pipenv.og is probably Keneth, or not. It doesn't matter. External sources should update their links to pipenv.pypa.org. If you can report this upstream, or at least post here what are these external source I'd be grateful.

[2022-02-13 18:57] oz123 commented on #4952
Windows has crappy support for symlinks.
https://blogs.windows.com/windowsdeveloper/2016/12/02/symlinks-windows-10/

I believe it's because when you created the virtual environment with pipenv, it actually copied the unwanted python version. To fix this, you first have to set the path correctly, and then create a virtual environment with pipenv.
As a side note, please use WSL.. It's the best way t

[2022-02-13 18:58] oz123 commented on #4952
Another side note, please update to the latest version of pipenv. The version you have has a known CVE.

[2022-02-13 18:58] #4952 closed

[2022-02-13 20:37] superlazyname commented on #4952
@oz123 Do you know where it would have copied it to, or where it was trying to symlink to?

[2022-02-13 20:42] oz123 commented on #4952
It copies it to the virtual environment. Somewhere under user data in windows. I'm not sure exactly where, check the documentation for windows.

[2022-02-14 08:30] #4525 closed

[2022-02-14 12:22] superlazyname commented on #4952
@oz123 which docs? Virtualenv? pyenv? Pipenv?

As I mentioned, I tried searching all over for this, and looking in AppData and the registry. That's why I made this issue, I even read the source code for Pipenv and Pythonfinder.

If you don't know please assign this to somebody else or reopen it, thanks.

[2022-02-14 13:04] oz123 commented on #4952
Python isn't stored in the registry, it's somewhere where pipenv is creating its virtual environments, there is CLI option for that that should work on Windows:
[code]

You can find which python is in there with:

[code]
You can see my Python list above is symlinks. Since, windows does not support symlinks, I don't know what it does.
You can look at the code of `venv` module in the Python STL to f

[2022-02-14 13:42] superlazyname commented on #4952
If he does not know, then bummer. The amount of windows support issues here is enormous, and these are mostly not pipenv related, rather Python or OS related.

OK, I understand. Maybe soon, somebody will help you with this.

Is a very bold claim considering Python itself doesn't always consider Windows a first class citizen. I recommend updating the docs, saying something like.

Realistic scope in

[2022-02-14 14:50] superlazyname commented on #4952
Sorry just remembered something, will post it here in case it helps,

I don't think this is the behavior I noticed, the version of Python that we were seeing was not in this subdirectory. It seems that some part of Pipenv (or one of its dependencies) cached **the path** of the interpreter somewhere, and didn't copy the interpreter.

I have seen folders in the .virtualenvs folder containing Python.

[2022-02-15 04:01] matteius commented on #4952
@superlazyname Did you install `pipenv` locally or globally?  See `which pipenv`:
`/c/Users/matte/AppData/Local/Packages/PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0/LocalCache/local-packages/Python310/Scripts/pipenv`

When I run with a locally installed `pipenv` on Windows 11 and the Python 3.10.2 image from the Windows Store (which is what git shell opened up when I typed Python on a fresh

[2022-02-15 04:40] matteius commented on #4943
@grantwforsythe I think the issue is the command you are running, it doesn't work on git shell either and tries to open a new window.   Specifically this: `python -m pipenv run main.py`
`pipenv` should be used to run python, not the other way around, so like: `pipenv run python main.py` worked for me:

[code]

[2022-02-15 04:46] matteius commented on #4928
@johngallino I second using `pipenv shell` for this purpose or using `pipenv run <cmd>` to get the context of the virtualenv.  Are you using Git bash shell?  I don't see where source is even an option for cmd or power shell.  If so, I think the issue is that the `pipenv --venv` returns the windows style path that git shell doesn't understand.  See:
[code]

[2022-02-15 04:49] matteius commented on #4700
You need to have the visual studio 2015(??), visual C++ build dependencies, I think.

[2022-02-15 04:52] matteius commented on #4700
Maybe no longer an issue -- seems that on a clean Windows 11 install the example `Pipfile` just builds:

[code]

[2022-02-15 08:04] NFSpeedy commented on #4925
32000+ cmd argument? Well... that's a new level of Python craziness. :D
IMHO it would be better to generate the links when you require them. organize the function that generates the links as a generator, then you pass it to the loop that installs the packages.
This way, you would not need any vars, env vars, args, temps etc.
What do you think?

[2022-02-15 23:02] JCapriotti commented on #4942
I just had a very similar issue, with the same version of Pipenv. , in my case it was complaining about a path that seemed to relate to a Pipenv environment I had just removed:

[code]

May or may not be related, but I also just recently installed pyenv. I'm not familiar with how pyenv works internally, so I decided I'd try reinstalling Pipenv. I had originally installed it with `pip install pipen

[2022-02-15 23:16] gabe-microsoft commented on #4942
@JCapriotti, this is a very interesting insight and it explains my issue as well!

I was using `direnv` which changes the `PATH` based on the virtual environment associated with the current directory. After I removed the virtual environment, the old virtual environment's path was still on the unchanged `PATH` variable. By running `direnv reload` or simply changing to a different directory and then

[2022-02-16 01:59] jdeveloperw commented on #4954
It appears that the URL is [pipenv.pypa.io](https://pipenv.pypa.io/). Perhaps it may also make sense to do a redirect from docs.pipenv.org to [pipenv.pypa.io](https://pipenv.pypa.io/)?

[2022-02-16 02:38] aehlke commented on #3285
https://pipenv.pypa.io/en/latest/basics/#pipenv-and-docker-containers

[2022-02-16 04:57] matteius commented on #4594
@andreif This appears to be resolved on the latest vesion of pipenv `2022.1.8`
[code]

[2022-02-16 04:57] #4594 closed

[2022-02-16 05:25] matteius commented on #4926
I was running this issue with a debugger, and found that it gets to https://github.com/pypa/pipenv/blob/main/pipenv/patched/notpip/_internal/build_env.py#L258-L259

Which has these arguments:
[code]

The first argument is really my Python, but the second argument `'/tmp/pip-standalone-pip-evp756h8/__env_pip__.zip/pip'` is a Path that doesn't exist.  I traced this back to: https://github.com/pypa/p

[2022-02-16 05:43] matteius commented on #4926
Interestingly, if I add `allow_prereleases = true` to the Pipfile then it doesn't hit the above mentioned code block at all, and doesn't fail.  I think the issue is that the context processor for `with TempDirectory(kind="standalone-pip") as tmp_dir:` can destroy the Temporary directory after it exits that block, but the path returned from the function relies on it. https://github.com/pypa/pipenv/

[2022-02-16 05:58] matteius commented on #4651
It seems it is blowing up when it hits this code path:  https://github.com/pypa/pipenv/blob/main/pipenv/patched/notpip/_internal/build_env.py#L209

It creates a zip-file in tmp that has pip in it, but I don't understand what would actually be able to execute the pip inside an uncompressed zipfile, it simply doesn't seem to work.  If I change that line to be the same as `pip_runnable = os.path.dirn

[2022-02-16 06:13] Semnodime opened #4956 "Let's Encrypt Certificate out of date since September 1, 2021"
Let's Encrypt Certificate out of date since September 1, 2021
https://docs.pipenv.org/basics/

[2022-02-16 06:18] matteius commented on #4651
![image](https://user-images.githubusercontent.com/479892/154207544-1d40a4ea-1fbd-4af8-adf6-ca14e5ceeb3e.png)

[2022-02-16 06:26] matteius commented on #4651
I think specifically, `subprocess.Popen` cannot handle the binary in the zipefile pattern.

[code]

[2022-02-16 06:28] oz123 commented on #4954
@kennethreitz do you still own docs.pipenv.org?
@frostming can we do something here?

[2022-02-16 06:36] matteius commented on #4956
Basically this is a duplicate discussion (but from the cert perspective) of:  https://github.com/pypa/pipenv/issues/4954

[2022-02-16 08:25] oz123 commented on #4956
I believe the owner of pipenv.org is @kennethreitz and he has moved on. The only thing we can do is maybe ask the hoster to take down the website, or claim the domain.

[2022-02-16 09:59] chai-script opened #4957 "Using "pipenv install pyqt6" leads to a dependency resolution error with a strange error message."
### Issue description

`pipenv install pyqt6` on a fresh environment (in an empty directory), leads to a dependency resolution error, and locking fails. Pipenv warns that dependencies could not be resolved but the error message does not indicate anything wrong.

### Expected result

`pipenv install pyqt6` should install pyqt6 and create the lock file without any errors.

### Actual result

`pipenv

[2022-02-16 13:14] Hristiyan-Andreev commented on #4925
Hello, I've finally found that there is an issue with this problem. We experience the same issue with artifactory, since Jfrog artifactory keys are quite big and they overflow the ENV.

When a fix will be applied? Otherwise, we will start using our own fork of Pipenv, I guess.

BTW, do you actually require to use persistent storage for passing the package links? Do the generation and resolution ha

[2022-02-16 17:20] Siecje opened #4958 "Be able to install without Pipfile"
### Issue description

I can't install packages with just Pipfile.lock, I also need Pipfile.

During deployment I am doing.

[code]

It returns a 0 status code, creates a Pipfile file but doesn't install any packages.

[code]

### Expected result

All packages in Pipfile.lock are installed. Pipfile file is not created.

### Actual result

It returns a 0 status code, creates a Pipfile file but does

[2022-02-16 17:58] matteius commented on #4958
@Siecje `pipenv install` will try to lock from the `Pipfile`.  What if you replace that part with `pipenv sync` which installs dependencies from the lock file?

[2022-02-16 23:55] matteius commented on #4957
@chai-script you are reporting a bug for an older version of `pipenv`, can you check the behavior with the latest version `2022.1.8`?

[2022-02-17 01:14] matteius commented on #4651
@frostming I am not sure I understand why we would want to put the running pip into a zipfile and try to run that, but it seems that `subprocess.Popen` cannot handle the zip file the way python could.

`"/home/matteius/.local/share/virtualenvs/matteius-qsi-SMZK/bin/python: can't open file '/tmp/pip-standalone-pip-yj3u2zx1/__env_pip__.zip/pip': [Errno 20] Not a directory\n"`

https://github.com/pyp

[2022-02-17 06:33] matteius commented on #4651
I think that the graphical debugger I was using was throwing an error on the `subprocess.Popen` zip file, but in debugging it further, it seems that when not passing the `--pre` flag the `patched.notpip._internal.resolution.resolvelib.resolver` does get in an infinite loop of sorts, which is visible with the -v flag.   I am not sure specifically what is causing it yet, though I haven't seen this i

[2022-02-17 09:31] ImreC opened #4959 "Feature request: pipenv should have a native way to generate requirements.txt directly from the lockfile"
When you just run pipenv install [package] on your project the version in the Pipfile is not pinned, but the lockfile contains the installed package version. Unfortunately not all tooling around Python supports Pipfiles, which means that you very often need to generate a requirements.txt file based on your Pipfile.lock. I think all approaches for this are well described here: https://github.com/py

[2022-02-17 13:27] matteius commented on #4651
Seems that when both `discord` and `aiohttp` are required, that `aiohttp` gets caught in an infinite loop of calling subprocess over and over again with this type of command:
`['/home/matteius/.local/share/virtualenvs/matteius-qsi-SMZK/bin/python', '/tmp/pycharm_pipenv/pipenv/patched/notpip/_vendor/pep517/in_process/_in_process.py', 'get_requires_for_build_wheel', '/tmp/tmp9fcxwlpv']`

Possibly be

[2022-02-17 13:50] chai-script commented on #4957
@matteius This issue does not exist in the latest version. Thanks for helping out, I had installed outdated pipenv from fedora repos. Sorry for not checking with the latest version before reporting.

[2022-02-17 13:50] #4957 closed

[2022-02-17 15:04] ondiekisteven commented on #4804
I ran into this problem after installing python 3.9.10 from source, then created a virtualenv using it, but couldn't install any packages

[2022-02-17 20:20] matteius commented on #4958
@Siecje I just tested this and it turns out that `pipenv sync` won't install anything without the `Pipfile`, maybe because it doesn't know what is a package and what is a dev package without the `Pipfile`?

[2022-02-17 20:23] matteius commented on #4958
@Siecje What is the use case for not including the `Pipfile` as well during the build process?

[2022-02-17 20:25] matteius commented on #4945
@gnu-lorien  I think this is a duplicate of:
- https://github.com/pypa/pipenv/issues/4926
- https://github.com/pypa/pipenv/issues/4651

[2022-02-17 21:14] grantwforsythe commented on #4943
Hi, @matteius

Your comment was a solution to my problem.

Thanks, @oz123, for your help as well.

[2022-02-17 21:14] #4943 closed

[2022-02-18 05:53] matteius commented on #4651
Wanted to note that the reason too it appears infinite is the resolution depth is 2000000 currently, so its not actually infinite, just longer than any us are willing to wait to see it fail.  I changed it to 200 in my debugging and it crashes out eventually with this stack trace.  It is clear to me that `aiohttp` gets caught in an infinite resolution loop checking each of its depdendencies, unless

[2022-02-18 07:41] NFSpeedy commented on #4925
@frostming ? Are we getting a resolution?

[2022-02-18 20:28] ShaiAvr opened #4960 "PkgResourcesDeprecationWarning for every command executed with pipenv"
### Issue description

I installed pipenv using `pip install pipenv` in my conda `base` environment. The installation was successful, but every command I run shows a weird warning at the start:
[code]
This was from the simple command `pipenv -h`, but every command emits this warning before proceeding. The commands seem to work correctly, however. For `pipenv -h`, for example, the program displays

[2022-02-18 21:15] matteius commented on #4960
@ShaiAvr Have you tried it outside of Conda with a normal python install?  I notice you have `pipenv` installed on a system path but the recommendation for using it well is to have it installed at the `--user` level and add that to your PATH.  For example `pip install pipenv --user` instead of just `pip install pipenv`.  I've used the latest version you are describing on Windows in recent days wit

[2022-02-18 21:16] matteius commented on #4960
@ShaiAvr I don't see also where you included a `Pipfile` to help debug with.  If you create a new Pipfile with just one requirement say `requests` then do you still get this behavior?

[2022-02-18 23:56] Bananaman opened #4961 "[BUG] Pipenv doesn't read all packages from very large 3rd party repo? (PyTorch)"
### Issue description

Try this Pipfile on 64-bit Linux. It fails to find the specified version:

[code]

Note that "https://download.pytorch.org/whl/cu113/torch_stable.html" is a huge HTML document, which seems to be the issue. The file for "1.10.2+cu113" exists on the page if you check it, but pipenv cannot find it.

If we instead change to a smaller HTML document, by setting a different PyTorch

[2022-02-19 00:20] Dzeri96 opened #4962 "Locking failed without an error message"
### Issue description
Since some of my dependencies cannot be run on M1/Aarch64, I tried using a development container running on another architecture (`amd64/python:3.8-bullseye`), however pipenv fails in the locking step of the dependency installation with **no error message**.
Installing from requirements.txt works via pip, and running `pipenv install` on an x86_64 Ubuntu 20.04 machine works wi

[2022-02-19 00:22] Bananaman commented on #2487
no progress on this. but I do this to check my downloads: `du -h ~/.cache/pipenv`. It slowly grows when files have finished downloading, so at least you see that something is happening.

[2022-02-19 01:12] matteius commented on #2487
What version of `pipenv` and what version of `bash`?  This isn't an issue for me on linux, OS X or windows -- I see the progress bar rendering.

[2022-02-19 01:18] Bananaman commented on #2487
@matteius `2022.1.8` on zsh on Linux. And yeah I see the spinner with the text "Locking ...", but no download indicator that says X/YMB or time estimates.

[2022-02-19 03:05] matteius commented on #4959
@ImreC  I am wondering if what you need is actually the `--keep-outdated` flag.   Since the  `pipenv lock -r --keep-outdated` will only add any new updates from the Pipfile, it will not generate a totally new lock file.  It does require that you have the `Pipfile` in addition to the `Pipfile.lock` but from the sound of it you do, and are just trying to generate a `requirements.txt` without changin

[2022-02-19 03:45] Bananaman commented on #4961
Alright I've figured it out. Pipenv only supports standardized PEP 503 repositories. Torch, by default, gives us the URL for a non-standard "pip" bastard repo. I will post a followup comment with the full answer/solution for people.

[2022-02-19 03:46] Bananaman commented on #4961
**This technique is the correct one and it's documented here:**

https://pipenv.pypa.io/en/latest/advanced/#specifying-package-indexes

Basically, you add a new "source repository" to your Pipfile. And you should always use `verify_ssl = true` for extra security when possible.

Anyway, there's a shortcut to adding a custom repository without editing the pipfile. This shortcut says "Add this PEP 50

[2022-02-19 03:46] #4961 closed

[2022-02-19 03:57] Arcitec opened #4963 "Pipenv PEP 503 Improvement: Pipenv downloads PyTorch for all versions of Python, grabbing 16GB of data instead of just 1.7GB."
I recently posted the correct way to install PyTorch as a PEP 503 repository in Pipenv:

https://github.com/pypa/pipenv/issues/4961#issuecomment-1045679643

There's just one annoying issue in Pipenv: It downloads PyTorch for every version of CPython.

So let's say my project is based on `pipenv install --python=3.9`. And I then run the command to install PyTorch (see guide above for details): `pip

[2022-02-19 04:09] #4893 closed

[2022-02-19 04:15] #2624 closed

[2022-02-19 04:15] Bananaman commented on #4961
I've gone on a posting spree in various incorrect topics (pretty much all of them were wrong), and linking people here so that random interwebs cybersurfers can find the correct way to install PyTorch and other PEP 503 repos in Pipenv! Welcome, everyone!

[2022-02-19 04:18] matteius commented on #4963
@Bananaman Can you not point at the pypi server?  https://pypi.org/project/torch/1.10.1/#files

[2022-02-19 04:38] Bananaman commented on #4963
@matteius

Yeah, my card requires PyTorch built for CUDA Toolkit 11.x, which can only be found at the PyTorch repository.

Well there's 2 issues here:

1. It downloads every package (cp36, cp37, cp38, cp39 and seemingly a few others since the total ended up at 16 GB). It only needs to download cp39 no matter what command I give it, since my Python interpreter in that Pipenv folder is Python 3.9. S

[2022-02-19 04:40] matteius commented on #4601
@sockduct It appears you are using a very outdated version Pipenv version: `2020.11.15`
There are some nice fixes for windows in the master branch, or even the current release probably is a much better experience:  `2022.1.8`

Please try that and also it is recommended that you do a `--user` install of pipenv as opposed the system install you have now.

Try:
`pip uninstall pipenv`
`pip install pip

[2022-02-19 04:40] #4601 closed

[2022-02-19 04:41] #4035 closed

[2022-02-19 04:43] #876 closed

[2022-02-19 04:50] #2857 closed

[2022-02-19 04:51] #2917 closed

[2022-02-19 04:54] matteius commented on #3637
@MatthewWilkes is this still an issue for you?   Have you tried the latest version of pipenv?

[2022-02-19 04:59] matteius commented on #4264
Master branch does not seem to have these issues or require these kinds of work arounds.  See:
[code]

[2022-02-19 04:59] #4264 closed

[2022-02-19 05:01] #2897 closed

[2022-02-19 05:03] matteius commented on #3505
This still appears to be an issue with not showing the virtualenv or anything prepended when the shell is active on the windows side.  same for git shell, cmd and power shell.

[2022-02-19 05:03] matteius commented on #3405
This has been fixed.

[2022-02-19 05:03] #3405 closed

[2022-02-19 05:06] #4928 closed

[2022-02-19 05:16] matteius commented on #4561
Requires bash support, I think a good shell for windows is git for window:  https://gitforwindows.org/

[2022-02-19 05:16] #4561 closed

[2022-02-19 05:18] matteius commented on #4053
I have been working on pipenv lately and since I have 3 Windows systems I use I've gotten some good tips/tricks that I should compile at some point to improve the documentation.   That is why I have it assigned to myself for now.

[2022-02-19 05:41] Bananaman commented on #4963
Ahh, I see. If someone knows what dependency resolver pipenv users, we'll know where to file the issue then. :)

[2022-02-19 06:34] matteius commented on #4875
@Sundava Can you please check again with `2022.1.8`?

[2022-02-19 07:16] dashsatish commented on #4582
I believe latest pipenv==2022.1.8 still has this issue. Could reproduce this in my mac [MacOS BigSur 11.5.1], when I did a `pipenv update --clear`. Simply reverting back to the stable pipenv version i.e. 2018.11.26 is the ONLY recommended approach for now

[2022-02-19 09:19] Dzeri96 commented on #4962
I guess I wasn't being clear enough. The packages I posted in the _steps to replicate_ section are coming from our internal package, which is not available on pypi. You would need to add these to the list of packages already present in my Pipfile, which are:
[code]

After attempting installation in an `amd64/python:3.8-buster` container, which definitely does not have python 3.9, the locking relia

[2022-02-19 09:57] bblanchon commented on #876
I see this issue got closed.
Is it finally fixed?

[2022-02-19 10:55] Dzeri96 commented on #4962
Update: After manually installing llvmlite before running `pipenv install`, the issue is solved, however it doesn't feel like a satisfying fix to the problem. It seems like we have two separate issues here:

1.  Pipenv doesn't produce an error message when it fails.
2. The dependency resolution process is broken, if installing a package before it is required by a dependency fixes the problem.

[2022-02-19 17:23] matteius commented on #4926
It seems the resolver gets hung up considering both `aiohttp-3.8.1-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl` and one of the other `aiohttp` versions such as `aiohttp-3.6.3.tar.gz` which have two different requirements for `'async-timeout` which conflict.  The resolve iteration repeats and the same type of conflict again and again but always

[2022-02-19 17:46] matteius commented on #4962
@Dzeri96 Does it actually fail out, or just spin in locking or does it actually conclude for you in reasonable amount of time?  This feels like another example of the infinity lock bug, at least when I use this `Pipfile`:
[code]

It is currently broken for some scenarios.  I am having a real trouble getting to the bottom of what exactly is happening in the dependency resolver, but I feel like I am

[2022-02-19 18:10] ShaiAvr commented on #4960
@matteius I tried reinstalling it at the `--user` level after deactivating the conda environment, but the warning remains. Also, when I did `which python` or `which pip` in the `base` environment, I got the same results, which leads me to believe there is no difference between the `base` environment and the global interpreter.

Indeed I haven't tried creating a project. The warning was shown for t

[2022-02-19 19:18] doaaamin269 commented on #1036
Great

[2022-02-19 19:39] matteius commented on #4926
Well I might have figured it out, at least to make it not be infinite.  You still need the `--pre` flag for locking to be successful, but the locking will fail much sooner in a deterministic way with my latest PR.

[2022-02-19 20:06] ammunk commented on #4961
Just tested this and indeed it works - thank you @Bananaman. However, while I can install torch, torchvision, and torchaudio I cannot perform locking `pipenv lock`.

[code]

Have you managed to find a way to solve this?

[2022-02-19 20:48] Dzeri96 commented on #4962
It takes about 10 minutes on my M1 Macbook Air, depending on what has been downloaded previously, but it always definitely concludes with a message `✘ Locking Failed! ` (and nothing else).
If I could help you with some further info let me know.

[2022-02-20 01:31] matteius commented on #4651
@janaSunrise It appears that the repository https://github.com/Axelancerr/spotify.py is a 404 But actually that might be a private repository, because when I debugged this in the debugger I saw it was running this command:
 `git clone -q https://github.com/Axelancerr/spotify.py /tmp/pipenv-eqvxmcl9-src/spotify`
When I run that in a shell it just stalls out waiting for special login credentials tha

[2022-02-20 10:58] ShaiAvr commented on #4960
## Update:
I managed to fix the error by reinstalling `pipenv` using `conda` instead of `pip`. It looks like the `pip` installation creates troubles in a conda environment. The weird warning still shows, however.

I created a sample project with the `requests` package. Everything was installed and executed successfully. However, every command still displayed the same warning. The `Pipfile` is extr

[2022-02-20 11:37] yashaka commented on #4901
I have similar issue.

Python 3.7.12 is installed via pyenv

libffi is installed via homebrew, with corresponding configuration in .zshrc
[code]

Python 3.7.12 is reinstalled after installation of libffi

I still have a problem with importing _ctypes

[code]

Everything find with python versions: 3.8.12, 3.9.9

[2022-02-20 18:38] ShaiAvr commented on #4960
## Another Update:
I just checked on my MacBook Pro with Anaconda installed and it seemed to work. I didn't get any warnings. This probably means the problem is happening in Windows or in Anaconda in Windows.

[2022-02-21 02:53] Siecje commented on #4958
I didn't think I needed it, especially with `--ignore-pipfile`.

I assumed I only needed the one file when using pipenv.

[2022-02-21 09:55] ImreC commented on #4959
Hi @matteius, thanks for responding! I can give an example of where `pipenv run pip freeze > requirements.txt` does not work well. For example this Pipfile:
[code]

This leads to the following requirements.txt
[code]

which pins idna at 3.3, but I think requests depends on idna <3 so this errors out when you try to install with normal pip from requirements.txt (or at least I confirmed this when bu

[2022-02-21 10:04] ImreC commented on #4959
I just went through the pipenv repo real quick and from what I can tell (in 5 minutes) the intended behavior of `--keep-outdated` is indeed to still process changes to the Pipfile while keeping outdated packages. What I am looking for specifically (long with the people who use jq in my previous outline) is to generate a requirements.txt based on Pipfile.lock without any changes. Regardless of Pipf

[2022-02-21 15:06] matteius commented on #4959
Yes it still includes the Pipfile in the chain, but if it doesn't differ from the lock file, it will not update anything.  What version of `pipenv` are you running with?

Yes but if you haven't modified the Pipfile, there will be nothing to update to the lockfile.  Since you didn't include the lock file in your example, it would have to be generated from the Pipfile you provided.

Your project is

[2022-02-21 15:09] matteius commented on #4959
@ImreC  Another thing about your latest example Pipfile is you have `requests = "*"` in the `dev` packages so its not going to force `idna` to be a specific version when just generating the lock.

[2022-02-21 15:20] matteius commented on #4959
I moved `requests = "*"` to the packages section but still got `idna==3.3; python_version >= '3'` which matches the `setup.py` restrictions for `requests`.  Maybe you were talking about an older version of `requests` or something that is still python2?
https://github.com/psf/requests/blob/main/setup.py#L46-L47

[2022-02-21 16:40] ImreC commented on #4959
@matteius I tried to install the generated requirements.txt from `pipenv run pip freeze > requirements.txt` in a fresh manually created venv and this worked. This leads me to the conclusion that the package mismatches are not a pip problem.

This was the output of `pipenv graph` which led me to the original idea that the package mismatch was caused by requests:
[code]
but I see that the idna requi

[2022-02-21 17:00] matteius commented on #4959
I know, I was just trying to see if there is an existing solution that would work for you now, rather than wait for something to get accepted and published in a new release.   There might be value in having a command that does such a thing when a Pipfile is lacking or has been changed and the history is gone.  I just want to be careful before supporting too many new commands, if they are truly req

[2022-02-22 20:36] jfly opened #4967 "`pipenv lock` nondeterminism with environment markers"
### Issue description

I'm seeing behavior where repeated `pipenv lock`s produces different `Pipfile.lock`s.

One way to reproduce this problem is with a `Pipfile` that depends on both `gevent` and `sqlalchemy`: [example Pipfile](https://github.com/jfly/2022-02-22-pipenv-nondeterminism/blob/main/Pipfile).

gevent and sqlalchemy both depend on greenlet, but they use different environment markers:

[2022-02-23 00:12] FlashDaggerX commented on #4960
I get this warning in Debian Sid Linux `#1 SMP PREEMPT Debian 5.16.7-2 (2022-02-09) GNU/Linux`.
[code]
Which is funny, because neither of these warnings relate to `pipenv` at all. These are versions of other python packages installed on my system (`powerline-status==2.8.2.dev9999-git.b-82c1373ba0b424c57e8c12cb5f6f1a7ee3829c27-` on user and `gpg==1.16.0-unknown` via the apt package `python3-gpg`).

[2022-02-23 08:34] tsela commented on #3423
Sorry, in the meantime I have stopped using Pipenv, so I can't check whether this problem is solved. Maybe the other people on this thread who mentioned having the same problem can chime in, @IvanaGyro and @evilUrge.

[2022-02-23 09:52] albertowen999 commented on #4502
here is the soloution https://youtu.be/dWC4xAdbko8

[2022-02-23 15:44] FlashDaggerX commented on #4960
Related issue; This led to setuptools introducing the warning.
pypa/setuptools#296 (located using the [`setuptools` version history][1])

[1]:https://setuptools.pypa.io/en/latest/history.html?highlight=warning#id999

[2022-02-23 16:32] chrisquin opened #4970 "hidden url-token not correctly revealed"
### Issue description

I try to clone via python requirement file

`python_requirements.txt`:
[code]

`command`:

[code]

->
[code]

what i can see so far is, that the token is not revealed. I did some print outputs and i found, that the original token is not present anymore, therefor `****` in `https://to_clone:****@gitlab.mycompany/somerepo/lib/` could not be recovered.

I think it has something

[2022-02-24 14:41] matteius commented on #4967
@jfly Thanks for your report!  I have just did some triage of it and I agree with what you are saying that this affects latest published version `2022.1.8` based on my findings.

`Pipenv` relies on the internal resolve of `pip` ... I believe this is a bug in the pip 21.x series that is fixed in the pip 22,x series.   The way this works for `pipenv` is it vendors in a fixed version of `pip` and rel

[2022-02-24 14:49] matteius commented on #4945
@gnu-lorien I have tested your example with the latest Pipenv `2022.1.8` however I get this message fairly quickly:

[code]

[2022-02-24 14:52] matteius commented on #4926
https://github.com/pypa/pipenv/pull/4969

[2022-02-24 16:44] rittneje opened #4971 "pipenv ignores version constraint without =="
This is with the latest release (2022.1.8).

### Issue description

If you try to pin to a version, but neglect to include `==`, then pipenv ignores the constraint entirely. It is a common misunderstanding to assume they would be equivalent. (And in fact I think pipenv is wrong for not treating them so.)

For example, `requests = "2.23.0"` will install latest instead.

### Expected result

Either

[2022-02-24 16:53] matteius commented on #4971
I see what you mean, yeah that should be seen as invalid I think.

[2022-02-24 17:25] kdickerson commented on #4778
@matteius There used to be actual documentation at that location, [WaybackMachine snapshot from May 8, 2021](http://web.archive.org/web/20210508175543/https://pipenv.pypa.io/en/latest/cli/).  Sometime between May 8, 2021 and [Aug 12, 2021](http://web.archive.org/web/20210812022148/https://pipenv.pypa.io/en/latest/cli/) the documentation disappeared.

Was the documentation intentionally removed?

[2022-02-25 00:27] danetrata commented on #4355
Seems there has been a regression. I needed to define `PIPENV_RESOLVE_VCS=0` in my `Dockerfile` to recognize or install dependencies again.

Required packages missing from `Pipfile.lock`

Target package `setup.py`
[code]

[2022-02-26 13:24] snachman commented on #1102
THANK YOU!!!! This was it.

[2022-02-27 20:40] mardukbp opened #4972 "Updating an existing lock file on Windows fails"
### Issue description

Executing pipenv install on Windows fails with FileNotFoundError while updating an existing Pipfile.lock file.

### Expected result

pipenv install succeeds and outputs "Updated Pipfile.lock!"

### Actual result

[code]

### Steps to replicate

1. Open a command line
2. mkdir test-project
3. cd test-project
4. pipenv install --dev pydantic==1.9.0
5. pipenv install JPype1==1.

[2022-02-28 14:00] keerthan775 commented on #4502
If anyone still facing this issue then follow below steps:
1) enable rosetta in terminal or create new terminal with different name
a)To create new terminal
go to Applications -> Utilities ->  double click on terminal -> duplicate
b) To enable rosetta
double click on terminal -> Get Info -> tick open using rosetta checkbox
(check rosetta by typing arch command i386 should appear )

2)create virtua

[2022-03-01 10:11] ImreC commented on #4959
I have a bit of a busy period, but plan to revisit this in a couple of weeks. Also will look into creating a PR at that time. If people are reading this and feel this is a useful addition, please add a thumbs up.

[2022-03-01 14:43] Darsstar commented on #4825
[The PEP has been rejected/withdrawn.](https://discuss.python.org/t/pep-665-take-2-a-file-format-to-list-python-dependencies-for-reproducibility-of-an-application/11736/141)

[2022-03-01 18:25] #4825 closed

[2022-03-02 10:09] themissingCRAM commented on #4961
`pipenv install --extra-index-url https://download.pytorch.org/whl/cu113/ "torch==1.10.1+cu113"`

caused this problem after a long 'installing torch...' stage:

[code]

[2022-03-02 18:19] paramita-sen commented on #4464
I tried locking dependency for SQLAlchemy , WTForms it is not working , we need a --constraint equivalent

[2022-03-03 08:12] judilsteve commented on #3142
This is affecting me at the moment. I'm trying to use pipenv to set up a venv for a python 3.6.8 project and it is using pip 22 (which requires python >= 3.7) and then every single dependency install fails. None of the workarounds posted here seem to work:

[code]

Is there a definitive way to force a particular version of the seed packages in pipenv in 2022?

[2022-03-03 21:21] halloleo commented on #1226
Thanks @darelf! Good idea.

[2022-03-03 22:29] GPHemsley-RELX commented on #4371
The linked #4455 provides more context: The packages that are being installed are _future_ dependencies; that is, dependencies of later versions of packages that `--keep-outdated` is, well, keeping outdated. They shouldn't even enter into the dependency tree if their parent package is being held back.

This is still a problem in pipenv 2022.1.8.

[2022-03-04 07:08] benney-au-le opened #4973 "Cannot use pipenv --system and --python together"
### Issue description

I want to use pipenv to install dependencies in a python container without creating new virtual environments.
Using `pipenv install --system --python /usr/local/bin/python --site-packages` creates a new virtual environment.

### Expected result
Running `pipenv install --system --python /usr/local/bin/python --site-packages` should not create a new virtual environment.

### A

[2022-03-04 07:36] matteius commented on #4973
I am using the master branch, actually my branch that upgrades pip to 22.x, but I am getting that is not a valid command:
[code]
Noting that unfortunately neither command `--deploy` or `--system` aren;t in the help text.  I just checked the source and yeah its this block:
[code]

I found that I could do what you want I think by doing:
`pipenv lock --python /usr/bin/python`   This creates the lockf

[2022-03-04 07:40] matteius commented on #4972
@mardukbp Can you try the master branch of pipenv?  I feel like this issue was recently solved for with these latest Windows fixes:
https://github.com/pypa/pipenv/pull/4949/files
https://github.com/pypa/pipenv/pull/4955/files

[2022-03-04 09:33] matteius commented on #4371
@GPHemsley-RELX Can you check if it is still a problem in my branch that upgrades to latest pip?  Branch is `vendor-pip-22.0.3-followup-changes` and the new pip resolver solves some other infinity lock issues so I am wondering if the resolver fixes that as well.

[2022-03-04 09:46] matteius commented on #1226
@darelf Care to open a PR patch against the main library since it seems that more than a couple users would like this feature?

With all due respect to @techalchemy 's 2017 comment about it that closed the issue, I think it could be supported and may even reduce the number of support tickets if people can have predictable .virtualenv names configured as needed, non-default.

[2022-03-05 02:46] benney-au-le commented on #4973
Hey thanks for your quick reply!
I tried the command on `pipenv version 2022.1.8` (prob not master) and I couldn't get the desired outcome.
I ran command `pipenv sync --verbose --system --python /usr/local/bin/python`

This resulted in the libraries being installed pipenv's venv rather than the system python's site packages.
[code]

You can see from the output above, even after specifying python i

[2022-03-07 16:35] hmasdev opened #4975 "Cannot use environment variables defined in .env in `pipenv run` and scripts in Pipfile"
### Issue description

I want to use environment variables defined in `.env` in `pipenv run` and scripts in `Pipfile`.
For example, when `FOO=SPAM` is in `.env` and `show-foo = "echo $FOO"` is in Pipfile as a script, I want to get `SPAM` by running `pipenv run echo '$FOO'` or `pipenv run show-foo`.

### Expected result

Running `pipenv run echo '$FOO'` or `pipenv run show-foo` returns `SPAM` with

[2022-03-07 23:55] alago1 opened #4976 "Upgrade vendor to PythonFinder 1.2.10"
### Issue description

Pipenv can currently have issues running on WSL2 (#4880).
At the time, the issue was closed once it was found to be an issue with the upstream package PythonFinder.
Recently, PythonFinder fixed the problem on version 1.2.10.
Upgrading to 1.2.10 should therefore address pipenv's problems on WSL2.

### Expected result

### Actual result

### Steps to replicate

[2022-03-07 23:58] matteius commented on #4880
Thought the linked issue was a PR -- ok, closing this ticket again in favor of the new Issue requesting the vendor package be updated.

[2022-03-07 23:58] #4880 closed

[2022-03-08 00:27] matteius commented on #4976
I can take a stab at this soon, since I've gotten some vendoring experience under my belt in the last few weeks.

[2022-03-09 03:43] pklapperich opened #4977 "Locking fails when adding module as dev dependency."
### Issue description

I have a Pipfile to which I added a 2nd `[[Sources]]` section in order to pull in some of Intel's MKL packages. Even when explicitly marking all packages in the Pipfile as `index="pypi"`, locking runs for hours and eventually fails when I try to include `tensorflow` as a `[dev-package]`. But it does work just fine when tensorflow is included in `[packages]`

**Steps to Repro

[2022-03-09 10:13] oz123 commented on #4976
Fixed.

[2022-03-09 10:13] #4976 closed

[2022-03-09 20:02] pklapperich commented on #4977
The issue does appear to be due to relationships between keras and tensorflow. If I change Keras to `keras = "*"` then I don't have the problem. But doing `pipenv install --dev 'tensorflow<2.5.0'` still fails if keras is pinned to `<2.5.0`.

[2022-03-09 20:41] matteius commented on #4977
@pklapperich If you have the time to do a check, could you test it using this branch of pipenv which upgrade pip from 21.x to 22.0.4 latest:  https://github.com/pypa/pipenv/tree/vendor-pip-22.0.3-followup-changes

[2022-03-09 20:58] tokeefe commented on #4898
I was seeing this as well. Try creating a `Pipfile` with something in it that's valid TOML e.g.,

[code]

[2022-03-10 03:31] pklapperich commented on #4977
It failed a lot faster this time at least; only took 2 minutes. Behavior is otherwise the same (I can install to `[packages]` but not to `[dev]` unless I remove the intel package index).

<details><summary>$ pipenv install -i pypi --verbose --dev tensorflow</summary>

[code]

</details>

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.1.9.dev0'`

Pipenv location: `'/home/pau

[2022-03-11 04:30] matteius commented on #4977
@pklapperich I think you are going to like this update -- when you tried my branch yesterday I still had two failing tests that by the end of the day I had figured out and reduced down the number of changes in my branch and now all tests are passing.  I just tried your example above in my latest branch and it worked--took less than 3 minutes!  Check it out:

[code]

[code]

[2022-03-11 04:43] matteius commented on #4977
@pklapperich Ah my bad, I misundersstood that you were having the failure on this step. `$ pipenv install -i pypi --verbose --dev tensorflow`  So yeah this takes about 10-15 minutes of locking and eventually fails with:

[code]

[2022-03-11 04:50] matteius commented on #4977
@pklapperich I just found this from upstream pip, that seems relevant to consider since your Pipfile is wide open wrt to locking much of the dependencies, and I see you are actually locking something in dev to be older than something the newer packages might depend on : `keras = {version="<2.5.0"` https://github.com/pypa/pip/issues/10856#issuecomment-1025748975

[2022-03-11 04:55] matteius commented on #4977
@pklapperich Sorry to keep pinging you but that seems to be it in my branch, set `keras = {version="", index="pypi"}` in your `Pipfile` and then run `pipenv install -i pypi --verbose --dev tensorflow` again.  Took about a minute or so to run.
<details> <summary>CMD output</summary>
[code]
</details>

[2022-03-11 05:05] matteius commented on #4926
@LEv145 I pushed some updates to my branch last night and just retested this example case and it locked without the --pre flag now in my branch 👍   Check it out:

[code]
<details> <summary> Pipfile.lock </summary>
[code]
</details>

[2022-03-11 05:10] matteius commented on #4651
@colincadams Can you provide a sample Pipfile?  Is the one from master in the repository you link to?

[2022-03-11 05:14] matteius commented on #4926
@wgroeneveld Your issue is definitely resolved in my latest branch https://github.com/pypa/pipenv/pull/4969 , it might even be resolved in `2022.1.8` but I am not sure, you would have to check.  The version you reported in on is very old.
[code]

[2022-03-11 05:27] matteius commented on #4975
@hmasdev It works if you do:  `pipenv run echo $FOO`
[code]

Not sure yet how to make the script section treat $FOO as a variable though, its clearly being treated as the string `$FOO`.

[2022-03-11 05:35] matteius commented on #4975
Related issue:  https://github.com/pypa/pipenv/issues/3901

[2022-03-11 07:42] matteius commented on #4576
Just verified this is no longer an issue on the master branch.

[code]

[2022-03-11 07:42] #4576 closed

[2022-03-11 11:29] hmasdev commented on #4975
@matteius
thanks for solving my issue :)

[2022-03-11 11:44] hmasdev commented on #4975
As @matteius  mentioned, I have tried `pipenv run echo $FOO`. But the result is different from Matteius's. My result is empty but Matteius's result is `SPAM`.
I think that the reason is that `$FOO` in `pipenv run echo $FOO` is not evaluated in the virtual environment created by `pipenv` but evaluated in the current environment, which is outside of the virtual environment created by `pipenv`.

Here

[2022-03-11 15:18] matteius commented on #4975
@hmasdev Can you test with my proposed fixed in branch:  issue-4975-env-variables-not-expanded   ?

[2022-03-11 16:07] hmasdev commented on #4975
@matteius
I have found that my expected results are realized on `issue-4975-env-variables-not-expanded`.

[code]

By the way, is the following result what you intended on `issue-4975-env-variables-not-expanded`?

[code]

`pipenv run echo $FOO` outputs the empty string.

[2022-03-11 16:14] matteius commented on #4975
Not really, I think the master branch worked without the quotes for the run example ... that is kind of odd really.  I'll have to think about it more.

[2022-03-12 07:51] matteius commented on #4970
@chrisquin Taking a look at this now -- It seems that installing from requirements.txt doesn't pull the secret values over to the Pipfile, but also I think best practice is to use environment variables to hide the secrets from being in the Pipfile in the first place like so:  https://pipenv.pypa.io/en/latest/advanced/#injecting-credentials-into-pipfiles-via-environment-variables

When I correct fo

[2022-03-12 08:07] matteius opened #4980 "HISTORY.txt was last updated for 2018.7.1"
HISTORY.txt was last updated for 2018.7.1 -- This is not ideal, we don't have specific release notes in HISTORY.txt for recent releases.  What is the status of this file?  Should it be kept up to date?  Removed?

[2022-03-12 08:18] matteius commented on #4651
Closing this issue because the original issue report is due to a private GitHub repository where no credentials are provided to connect.  Please see https://github.com/pypa/pipenv/issues/4926 before opening any new issues related to infinity lock as it has been triaged, was a pip 21.x issue and is being solved with re-vendoring pip 22.x which requires a couple upstream vendor'd package changes bef

[2022-03-12 08:18] #4651 closed

[2022-03-12 08:27] matteius commented on #4914
@oz123 with my more recent work on using invoke, I am not sure that we can drop invoke at all because we have our own invoke tasks for managing all of our vendor depdenencies, not just pip.   Plus that document says `The invoke task grew in complexity to over 500 lines and, at some point, became extremely difficult to improve and maintain` however the invoke task we use to vendor pip is just part

[2022-03-12 08:29] matteius commented on #4931
The workaround should be suitable.

[2022-03-12 08:29] #4931 closed

[2022-03-12 08:32] matteius commented on #4945
As noted in prior comment this particular issue of slow to output the failure is resolved in latest release and further enhancements to infinity lock issues taking place here:  https://github.com/pypa/pipenv/issues/4926

[2022-03-12 08:32] #4945 closed

[2022-03-12 08:37] matteius commented on #4906
@jtmoon79 I am not setup well to test your example presently (or am afraid to try it) but could you re-check this behavior with the current master branch and see if its the same (there have been a couple windows fixes recently).  Also if that doesn't work still can you triage it with this branch:  `vendor-pip-22.0.3-followup-changes`

Doing so will help determine if this issue has a resolution alr

[2022-03-12 08:50] matteius commented on #4895
@trondhindenes Seems that the behavior is much improved in pip 22.0.4 -- if you try this branch out I think you will see that:  https://github.com/pypa/pipenv/pull/4969

I find that it always fails the first time and retries and does the second time successfully because `piccolo_api` requires `-no-use-pep517` flag to build properly, which is supplied on second attempt.  Here is verbose output:
[co

[2022-03-12 08:55] matteius commented on #2987
Interesting -- so was this ever supported?  There has been a bug starting in pipenv `2021.11.23` where it breaks locking if other package sets are defined.  Ref:  https://github.com/pypa/pipenv/issues/4866

[2022-03-12 08:58] #4700 closed

[2022-03-12 09:04] matteius commented on #4963
@Bananaman I've learned a lot recently -- it uses Pip's dependency resolver.  I've done work to get pipenv vendor'd to 22.0.4 (its currently on 21.x) here:

However I just tried your example on this branch and I think now you have new issues with the install instructions on the newer pip resolver:

[code]

[2022-03-12 09:09] matteius commented on #4894
I'm down to figure out how to make a release next.

[2022-03-12 09:11] matteius commented on #4850
@melvyn-oviavo Can you help me understand if this is still an issue on latest version or master?

[2022-03-12 09:31] matteius commented on #4963
@Bananaman  Here is what I am guessing -- my system laptop doesn't have the right dependencies to install +cu113 version, however the pip 22.0.4 branch I link you to in my prior comment -- please try that branch and report back what your experience is.

I tried also the +cpu but no distribution was found.  Trying now just straight `pipenv install --extra-index-url https://download.pytorch.org/whl/

[2022-03-12 09:49] matteius commented on #4963
@Bananaman Ok so +cpu works to install for my VM, and it was fairly quick.

[code]

[code]

[code]

[2022-03-12 10:03] matteius commented on #4771
@bigpick any updates?

[2022-03-12 10:07] matteius commented on #4768
@jonrkarr I just tried this on my branch that upgrades to the pip 22.0.4 and got an error message that indicates that something up with the setup.py requiring numpy already be installed:

[code]

So then I ran `pipenv install numpy` and then tried again, `ModuleNotFoundError: No module named 'Cython'`  Ok ... whats up with this setup.py I thought:  https://github.com/modelon-community/Assimulo/blo

[2022-03-12 10:10] #4804 closed

[2022-03-12 10:11] matteius commented on #4894
Also for anyone else looking to help out, the `Documentation` label might be a good place to start for a first PR:  https://github.com/pypa/pipenv/issues?q=is%3Aissue+is%3Aopen+label%3A%22Type%3A+Documentation+%3Abook%3A%22

[2022-03-12 10:26] matteius commented on #4695
@nkakouros  @tucked   I could not reproduce this on my branch that uses 22.0.4 pip but I also don't know if I have to do anything special from the original example lock files?  Seems fine though ...

[code]

[2022-03-12 10:32] matteius commented on #4762
@allanlewis  Verified that this is the case, even on pip 22.0.4 resolver (though this may be specific to pipenv internals, I am unsure at this hour) but it has been triaged and I agree with what you are saying.

[2022-03-12 10:39] matteius commented on #4681
@jpl-jengelke Feel free to open a new issue if you believe there is still one with `2022.1.8`.  There is also my branch that upgrades pip to 22.0.4 and that might help too but I'd like to see a new bug report that applies to the new version and doesn't pertain to just needing cython installed ahead of time to process the other requirement's setup.py

[2022-03-12 10:41] matteius commented on #4683
Please check if this is an issue in  `2022.1.8` if so, please check again with branch `vendor-pip-22.0.3-followup-changes`.

[2022-03-12 10:42] #4679 closed

[2022-03-12 10:44] matteius commented on #4660
@matpompili and @jshwi please see:  https://github.com/pypa/pipenv/issues/4967
TLDR:  Pip 22.0.4 upgrade branch seems to make this deterministic again.

Closing this ticket now since we are already tracking it in the newer ticket.

[2022-03-12 10:45] matteius commented on #4642
This was merged a while ago and hasn't been an issue on newer versions.

[2022-03-12 10:45] #4642 closed

[2022-03-12 17:38] tucked commented on #4695
Here's a repro:
[code]
[code]
- Different bug? (I didn't specify a Python version, so it used 3.10 and stuck 3.4 in the Pipfile.)
[code]
- Corrects `python_version` to 3.10.
[code]

[2022-03-12 19:30] jonrkarr commented on #4768
Thanks @matteius for exploring.

We can install this package with pip, but not with pipenv.

As you correctly pointed out, this package does have additional dependencies which must be installed prior to running pipenv/pip. We are installing the package like this:
1. Install non-PyPI dependencies
  a. cmake, make, g++, gfortran, liblas-dev, liblapack-dev
  b. SUNDIALS (package for numerical methods

[2022-03-12 20:15] #4911 closed

[2022-03-12 20:24] oz123 commented on #4914
Good point about invoke. I was not sure about it too. Just thought it's worth discussing.
As for patches:
They are a burden and debt, and if we can upstream the patches, we will do everyone a favor.
I am also not fond of the PEEP process as is. As long as it's two of us under the scrutiny of @frostming we don't need it.
We can have (or not) a consensus more easily. If this project is going to have

[2022-03-12 20:24] #4914 closed

[2022-03-12 20:24] matteius commented on #4768
@jonrkarr Thanks, I just followed your steps, but unfortuantely when I get to the part where your Dockerfile has  `pip install git+https://github.com/modelon-community/Assimulo.git@Assimulo-${ASSIMULO_VERSION}` I get pip failing to compile it just the same as pipenv:

pip version:  22.0.4

[code]

[2022-03-12 20:28] jonrkarr commented on #4768
The Dockerfile worked as of a few weeks ago. We may have used any older release of pip.

[2022-03-12 20:35] matteius commented on #4768
I try downgrading numpy but I still get the compiler errors about  `Error: Rank mismatch in argument ‘cont’ at (1) (scalar and rank-1)`   I am on Ubuntu 21.10

[2022-03-12 21:50] matteius commented on #4768
@jonrkarr Since I am clearly having some kind of fortran compilation issues with that library, could you try your build out using this branch of pipenv so we know if there is hope for the new pip resolver and depndencies fixing this particular issue?  That branch is:  https://github.com/pypa/pipenv/pull/4969
If you are testing it locally, I like to run `python setup.py develop --user` to install a

[2022-03-12 22:25] jpl-jengelke commented on #4681
This ticket has nothing to do with Cython. That's a Red Herring. Cython does need to be installed before other packages, though. Still a Red Herring.

From the last log posted, I should bring attention to the following line:
[code]
This is not the case. At the time this was tested (01/09/2022), [Ultranest 3.3.3 had been released for four months](https://pypi.org/project/ultranest/#history). Bare m

[2022-03-12 22:30] matteius commented on #4681
@jpl-jengelke You may have tested it on `01/09/2022` a day after pipenv `2022.1.8` came out, but your bug report says you are on version `2020.11.15` which is of course going to have problems.   Can you confirm your tests with `2022.1.8` at a minimum and a bonus would be to test with the branch I referenced that is scheduled to hopefully be released in April.

[2022-03-12 22:34] jpl-jengelke commented on #4681
Just to confirm, I retested just today with `2022.1.8.` which is the log in my last post. I'll try to scrape some time together to test with the new branch.

[2022-03-12 22:40] matteius commented on #4681
@jpl-jengelke Yes that is the one, and fwiw I am trying it right now, just installed Cython first.   Its still running ... not sure how long it should take.  I'll edit this message hopefully soon.

[2022-03-12 22:44] matteius commented on #4681
@jpl-jengelke What needs to be determined now if this is a bug in requirementslib itself or how pipenv is using it.  I will try to help with that, but it may take some time.

[2022-03-12 22:45] jpl-jengelke commented on #4681
I wish I had time to help. My instinct is it has something to do with [this class](https://github.com/pypa/pipenv/blob/main/pipenv/vendor/packaging/specifiers.py#L638).

[2022-03-12 22:46] matteius commented on #4681
@jpl-jengelke Worth noting that this has come up before in a different context I just noticed:  https://github.com/okta/okta-sdk-python/issues/124#issuecomment-716571309

[2022-03-12 22:53] matteius commented on #4681
So does work if you do install directly from the repository (I forked it in my example thinking I would need to edit setup.py because I see something odd there) but actually it just installs that way, some maybe something up with the whl file in pypi?   I forget what causes it to use the LegacySpecifier over the Specifier.
[code]

[2022-03-12 22:58] matteius commented on #4681
This however does not work when you download the source from pypi and extract it and try to install it that way:
[code]

Seems that because that package won't run `python setup.py egg_info` correctly.

[2022-03-12 23:01] matteius commented on #4681
Same error with Pip running off master branch setup.py
[code]

[2022-03-12 23:22] jpl-jengelke commented on #4681
No errors with `pip install <local_repo>` here ... Am I missing something? What looked unusual in the `setup.py`, may I ask?

[code]

[2022-03-12 23:25] matteius commented on #4681
My first hunch was that because pip is installing the whl file, but or some reason pipenv is trying to build it from source which we know fails with pip, but also pipenv fails to install it directly with the whl file, so its not that.
[code]

[2022-03-12 23:29] matteius commented on #4681
@jpl-jengelke Ok you are right about pip can install that directly, it just couldn't do so on my shared file system for the VM which is my own fault for cloning it there, when I moved it to my home directory pip installed it.  Marking my past comment as resolved.

[2022-03-12 23:34] matteius commented on #4681
@jpl-jengelke I do think it is the extra quotes in the setup.py file actually.  See this:  https://github.com/rzellem/EXOTIC/blob/main/setup.py#L105

There should not be single quotes inside the f'string.

[code]

[2022-03-12 23:39] matteius commented on #4681
@jpl-jengelke When I fix that it works.   Going to push that change to my fork and open a PR with exotic I guess.  You can try my branch here:  https://github.com/matteius/EXOTIC
[code]

[2022-03-13 00:10] matteius commented on #4681
@jpl-jengelke We'll see if it gets accepted, but I also have a PR against pipenv that echos an error if the specifier cannot be set, but continues on.  Using that branch will also solve your issue in the interim:
[code]

[2022-03-13 01:03] matteius commented on #4672
@MyrikLD Since this involves private Pypis can you re-test with the latest version `2022.1.8`?

[2022-03-13 01:07] matteius commented on #4650
@mxposed and @dvemnt Can you retest with pipenv '2022.1.8`?

[2022-03-13 01:08] matteius commented on #4640
@Timmmm Can you please re-test with `2022.1.8`?

[2022-03-13 01:09] matteius commented on #4740
@zurgeg Can you recheck on pipenv `2022.1.8` version?

[2022-03-13 01:10] matteius commented on #4736
@bacalfa Have you tried yet with `pipenv==2022.8.1`?

[2022-03-13 01:12] matteius commented on #4736
I suspect its a Pathing issue some difference with a path variable between your system that will find the dlls and using pipenv that won't.   I'm not setup to test this however so having your help will be important to seeking resolution.

[2022-03-13 01:14] matteius commented on #4748
@ahmetkca please check back and try the solutions in this thread or the issue will close down soon.

[2022-03-13 01:15] matteius commented on #4729
@GustavoPeredo Could you please recheck with `pipenv==2022.1.8` version and if that also fails re-check with main branch?  Thanks!

[2022-03-13 01:16] matteius commented on #4725
@sravantit25 is this out for PR?

[2022-03-13 01:19] jpl-jengelke commented on #4681
Agreed that the version quotes provoked an issue in `pipenv` but it didn't result in errors with `pip`. Installation fails were only experienced in `pipenv`.  [The](https://peps.python.org/pep-0386) [Versioning](https://peps.python.org/pep-0508/) [PEPs](https://peps.python.org/pep-0440/) are a bit amorphous as some indicate quotes and others don't. Also, the Setup Tools documentation lacks detail

[2022-03-13 01:19] #4681 closed

[2022-03-13 01:21] matteius commented on #4818
@diogobaeder @JeanFred @caerulescens Could any of you help me determine if this is still an active issue in `2022.1.8` or the master branch?  I tried on Dec 23rd to reproduce it but was unable to.

[2022-03-13 03:11] matteius commented on #4722
@marco-m or @odormond is there an open PR or is the patch in the issue report the proposal for starting a PR?

[2022-03-13 03:12] matteius commented on #4731
@craigboman Can you provide an example requirements.txt for us to triage with?

[2022-03-13 03:13] frostming commented on #4722
`delegator` is dropped from the vendors, this issue can be closed

[2022-03-13 03:13] #4722 closed

[2022-03-13 03:14] matteius commented on #4719
@asfaqahmed  Is this still an issue for you?  What pipenv version are you on?

[2022-03-13 03:18] matteius commented on #4717
@kristang or @GPHemsley-RELX Is this still an issue with `2022.1.8` or the main branch?   The code that is spawning the subprocess is pip itself calling `call_subprocess` which uses `subprocess.Popen` for each package installation.   If there is a memory leak from this, it may have been in the pip internals.  If so, we have a number of things to have you test including a new vendoring of pip 22.0.

[2022-03-13 03:21] matteius commented on #4704
@ravagerWT Can this be closed or have you tried latest `2022.1.8` or the main branch?

[2022-03-13 03:47] matteius commented on #4631
Sorry I re-opened this by mistake exploring the other linked ticket, but actually am unable to reproduce with the newer versions of pipenv.

[2022-03-13 03:47] #4631 closed

[2022-03-13 03:55] matteius commented on #4703
@kashewnuts  My past comment wasn't accurate, I think I was getting that error from a shared file system on a VirtualBox VM.  Repeating testing tonight this is working on 2022.1.8.

[code]

Can this be closed?

[2022-03-13 04:04] matteius commented on #4960
I don't exactly know what is going on here, but I think if the versions of things you had installed were compliant version numbers then you wouldn't get the warning.   Sorry I am not more help here but I am going to take off the Windows label because I don't believe it is specific to windows.   I think that @ShaiAvr has some old package as well that is violating the correct version numbering const

[2022-03-13 04:05] matteius commented on #4395
@dem1tris Could you check on `pipenv=2022.1.8` to see if this is still an issue?

[2022-03-13 04:10] matteius commented on #4701
@gherkz and @nithinmurali  Seems to be resolved in `2022.1.8`   Going to close this down but just write back if you disagree or need additional support.

[code]

[2022-03-13 04:10] #4701 closed

[2022-03-13 04:13] matteius commented on #4973
@benney-au-le I will have to think more about it, but I still think that recommended best practice is to have the virtualenv in the Docker container anyway and not run the application as root.   @oz123 recently added to the documentation this section with an example Dockerfile:   https://pipenv.pypa.io/en/latest/basics/#pipenv-and-docker-containers

[2022-03-13 04:14] matteius commented on #4698
@befeleme Your assessment makes sense to me, please feel free to open a PR for this.

[2022-03-13 04:17] matteius commented on #4696
@MrBunnyT Since you are on windows I would recommend trying the master branch as there are some recent fixes there, but you can try `2022.1.8` as well since your issue report is from a 2020 version, starting there would be helpful.

[2022-03-13 04:24] matteius commented on #4781
Well in one of the upcoming pipenv releases that will switch to pip 22.x from 21.x that branch it fails fairly quick:

[code]

The --pre flag also fails for your example.   Going to play around here based on what I know that pinning some things to "*" causes the pip resolver to take much longer -- plus I am not familiar with the syntax for `dvc = {extras = ["s3"], version = "*"}`  Specifically the

[2022-03-13 04:35] matteius commented on #4781
I think you already figured it out because you said

Can you specify what version of pip you are using?  I think the matter is that when I run it in either order, both dependencies get installed, but locking fails because locking has to be deterministic and dependencies can't violate the constraints in the way you mention.
[code]

However reversing the order of that, I can start fresh and install

[2022-03-13 04:44] matteius commented on #4781
@ltn100   I wonder which version of botocore you endup with when you install using pip.  Maybe depends on the order in which you install?   I suspect both of those packages are capable of working with multiple versions of botocore is what you find, but their stringent setup.py requirements are what is causing locking to fail, and rightfully so.  Basically awscli requires `botocore==1.21.34` and `b

[2022-03-13 04:45] matteius commented on #4781
See also:  https://github.com/aio-libs/aiobotocore/issues/670

[2022-03-13 04:49] matteius commented on #4693
@sant527  Closing this ticket in favor of:  https://github.com/pypa/pipenv/issues/4971

[2022-03-13 04:49] #4693 closed

[2022-03-13 05:03] matteius commented on #4686
@jillianrosile I just tried it out with `2022.1.8` and did not experience the issue.

[code]

[2022-03-13 05:05] matteius commented on #4742
@baztian Please recheck with `2022.1.8` as I have `$WORKON_HOME` set and haven't experienced such an issue.

[2022-03-13 05:07] matteius commented on #4655
@souris4science Have you tried with `pipenv==2022.1.8`?  I expect it might be the same because subprocesses are used in the install and locking process, so I am not sure it is viable to popup a UI prompting you for your username and PW

[2022-03-13 05:14] matteius commented on #4637
@janneronkko I amended the script to replace
[code]
with simply `pip install pypiserver` and it ran.   However there is issue with the current versions of pip unable to resolve your example:
[code]

[2022-03-13 05:30] matteius commented on #4637
Ah-ha I got it to run.   because I changed the path to not use venv I had to also remove that from the `pypi-server` command.  Ok so it ran and generated a Pipfile.lock and the actual package installed is in fact 2 using `pipenv==2022.1.8`
[code]

Also checked it on my pip 22.0.4 branch and that also has the issue.

[2022-03-13 07:28] diogobaeder commented on #4818
@matteius indeed, doesn't seem like an issue anymore - at least not in `2022.1.8`, which I have here. Feel free to close the ticket. Thanks! :-)

[2022-03-13 07:31] diogobaeder commented on #4818
Sorry, just some more info showing that it works just fine with a simple install command:

[code]

[code]

[code]

[2022-03-13 08:49] kristang commented on #4717
Hello Matt,

In my case I can't really replicate the issue. It was in connection to a internet-wide breakdown at Fastly, and I just stumbled across this sub-process issue while debugging.

[2022-03-13 09:06] ravagerWT commented on #4704
I go back using pipenv for a while, so I don't know if this issue being resolved or not.  But I think it could be closed if you wish.

[2022-03-13 10:02] #4818 closed

[2022-03-13 10:04] #4704 closed

[2022-03-13 10:05] #4630 closed

[2022-03-13 10:06] matteius commented on #4627
@zaufi Which version of pipenv?  Have you tried with `2022.1.8`?

[2022-03-13 10:08] matteius commented on #4620
@xirkus Please see this comment which was for essentially the same issue:  https://github.com/pypa/pipenv/issues/4789#issuecomment-998444902

[2022-03-13 10:08] #4620 closed

[2022-03-13 10:10] matteius commented on #4626
@mogoh  and @jnsnow  Have you tried this with `pipenv==2022.1.8`?

[2022-03-13 10:12] matteius commented on #4625
@leileigong Can you try with `2022.1.8` or `main` branch?  I believe this one can be resolved ...

[2022-03-13 10:14] matteius commented on #4622
@torbjoernk Please recheck with `2022.1.8` as your example is for a 404 repository and doesn't show which command to run, so I will be unable to reproduce it.

[2022-03-13 10:18] matteius commented on #4596
@BalazsBago I believe this is resolved with `2022.1.8`  Please try it out.

[code]

[2022-03-13 10:18] #4596 closed

[2022-03-13 10:28] matteius commented on #4560
@timworx Works fine on `2022.1.8`

[code]

[2022-03-13 10:28] #4560 closed

[2022-03-13 10:46] matteius commented on #4556
@tumido I just tried this on `2022.1.8` and still an issue however I tried it also on my branch that upgrade to `pip==22.0.4` and that one succeeds (but python 3.7 required as pip 22.x drops support for python3.6)  See:
[code]

[code]

[2022-03-13 10:57] matteius commented on #4566
@drakorg I think actually this is running into this bug because the same package name exists in pypi:  https://github.com/pypa/pipenv/issues/4637

[2022-03-13 11:05] matteius commented on #4565
@drakorg Appears to work fine in `2022.1.8`

[code]

[2022-03-13 11:05] #4565 closed

[2022-03-13 11:16] matteius commented on #4637
Actually I am wondering if this will even be  possible to exclude pypi from the search indexes within pip.
https://stackoverflow.com/a/67442488

[2022-03-13 11:20] matteius commented on #4566
@drakorg Actually I am uncertain because I cannot install that whl directly because it doesn't match my system architecture, that only has wheels for ARM processors aarch64.whl in that directory.
[code]

[2022-03-13 11:25] matteius commented on #4555
@oji It does -- can you recheck this behavior with `2022.1.8`?

[2022-03-13 11:28] matteius commented on #4553
@n1ngu and @duailibe Could you recheck with `pipenv==2022.1.8` and if that still doesn't work we have a branch that upgrades to `pip==22.0.4` which is `vendor-pip-22.0.3-followup-changes`  Could you try those?

[2022-03-13 11:29] matteius commented on #3275
@nfplatzke and @max-wittig Please recheck behavior with `pipenv==2022.1.8` and file new issue or request this one be re-opened if you still encounter this issue.

[2022-03-13 11:29] #3275 closed

[2022-03-13 11:30] matteius commented on #3443
@theodox Could you please recheck with `pipenv==2022.1.8` and if it is still an issue request this be re-opened or file new report?

[2022-03-13 11:30] #3443 closed

[2022-03-13 11:34] matteius commented on #3594
Closing this down as the original reporter is a ghost account now.

[2022-03-13 11:34] #3594 closed

[2022-03-13 11:35] matteius commented on #3511
@atzannes I believe this is closeable at this point, but correct me if you find there are still related issues with `pipenv==2022.1.8`

[2022-03-13 11:35] #3511 closed

[2022-03-13 11:36] matteius commented on #3665
@adgoudz Please recheck behavior with `pipenv==2022.1.8` and let me know if I closed this in error.

[2022-03-13 11:36] #3665 closed

[2022-03-13 11:37] matteius commented on #3941
@waydegg Closing this due to being stale issue.  Please report back any new issues with `pipenv==2022.1.8`

[2022-03-13 11:37] #3941 closed

[2022-03-13 11:38] matteius commented on #3721
@alexryan or @felciano   Stale issue here, please check if this is still a problem for you on `pipenv=2022.1.8` and if so feel free to respond back or open new report.

[2022-03-13 11:38] #3721 closed

[2022-03-13 11:39] matteius commented on #3953
@timthelion I suspect this is closeable at this point, but let us know if still an issue with `2022.1.8`

[2022-03-13 11:39] #3953 closed

[2022-03-13 11:41] matteius commented on #4214
@jaxley Please recheck with `2022.1.8` and there are some more windows fixes in `main` branch right now, if you find its still an issue report back or open a new ticket.  Thanks!

[2022-03-13 11:41] #4214 closed

[2022-03-13 14:00] frostming commented on #4980
The file exists to keep old changelog, while new ones(from 2018 to present) are in CHANGELOG.rst

[2022-03-13 14:00] #4980 closed

[2022-03-13 14:18] matteius commented on #4637
@frostming If you have time to have your attention drawn to this issue, I think it is critically important based on the reproduction.  There are a couple issues at play here, but the primary one of this ticket is that the resolver is not respecting the index specifications for a particular requirement.

[2022-03-13 17:20] felciano commented on #3721
No longer happening for me

[2022-03-14 00:36] Amondale commented on #4508
@lukaszgradzik this worked for me also. I encountered a different issue in my .vscode/settings.json file, which pointed at <project_name>-<8digitGUID>/python.exe. Maybe this is just how pipenv works with pyenv-win? A bit annoying, as I have the project in gitlab, I guess I need to .gitignore the local .vscode folder.

[2022-03-14 04:32] matteius commented on #4637
I messed around with this most of the day without much success, like there was some forward progress but ultimately broke a bunch of tests so not really progress.   I did learn these three things:
1.) There is a bug where if the package name exists in pypi then it will takes precedence in the resolver.  Since this test was for two private pypis, having the package named example was creating this c

[2022-03-14 05:54] matteius commented on #4637
This is going to be fairly hard to solve I think.   For 2.) the resolver not respecting the indexes ... we create one pip package finder and one pip resolver to resolve all requirements.  Pipenv's Resolver knows about the `index_lookup` mapping of which packages are restricted to a particular index, but there is no real way to pass this into Pip's resolver.  It uses the `finder._link_collector.sea

[2022-03-14 07:39] matteius commented on #4637
That being said, I have an experimental branch that changed vendor'd code including pip code to try and solve for this problem.   In my branch `issue-4637`  I have your test example passing.  I am running the test suite now locally to see how bad it messes up anything else, but it _is bad_ because it requires changes to pip internals and I can't see the light at the end of the tunnel for what that

[2022-03-14 08:56] melvyn-oviavo commented on #4850
@matteius It's not. See: https://github.com/pypa/pipenv/issues/4923

[2022-03-14 09:48] rly1 commented on #4940
I have the same problem, with `pipenv, version 2022.1.8` on Windows 10 (with a bash interpreter).

MWE:
[code]
Output:
[code]

I believe the solution proposed by OP, which is in progress at https://github.com/pypa/pipenv/pull/4966, would resolve this `PipDeprecationWarning` and performance issue.

[2022-03-14 09:59] souris4science commented on #4655
@matteius I gave it a try today and the problem still occurs with `pipenv==2022.1.8`.

[2022-03-14 12:03] n1ngu commented on #4553
Hi @matteius , I just set up this minirepo for the minimal reproduction of this issue

https://github.com/n1ngu/pipenv-issue-4553

I just tried and neither pipenv-2022.1.8 nor the development vendor-pip-22.0.3-followup-changes branch version can install it.

Notice the issue occurs in the locking / dependency resolution phase. If a project is locked with pipenv-2018, future versions can install it

[2022-03-14 12:39] mogoh commented on #4626
I got still the same problem with pipenv version 2022.1.8.

[code]

[2022-03-14 13:18] matteius commented on #4850
Ok thanks, closing this out then.

[2022-03-14 13:40] matteius commented on #4553
@n1ngu So at first look, and some background is that the locking/resolution/installation phase has all ben converted over to use pip internals.  So with pip just trying to install package `foo` in your example is an issue because it cannot resolve the nonexistent package from the setup.cfg.   It works in pip if I manually install `pip install -e nonexistent/` first and then `pip install -e foo/` .

[2022-03-14 14:37] matteius commented on #4637
Ok I opened a PR, 1 test is failing when run in the group but when I run it singularly it passes every time (but also fails locally if I run the whole group).  Will have to investigate that, and what can be done to support what I am trying to do within pip, since I modified the pip internals for part of it:  https://github.com/pypa/pipenv/pull/4983

However, it does seem to fix your issue at least

[2022-03-14 14:45] jankap commented on #987
`pip` does support proxy these days...
![image](https://user-images.githubusercontent.com/12893844/158196288-c033114d-1b5a-40ad-8ce5-2a847d32cd6c.png)
Please add a proxy option to `pipenv`, I can't rely on environmental variables.

[2022-03-14 16:14] Robinbloke opened #4984 "Install of matplotlib failing"
Python 3.8.0
Pipenv 2022.1.8
matplotlib
Raspberry Pi, running raspbian stretch lite

### Issue description

I have successfully installed most of the modules I want to use and have a working Pipfile for them.
But matplotlib fails and fails when I try to install it.

### Expected result

The install to work!

### Actual result

Install failed with error, see matplotlib-installfail.txt

When possibl

[2022-03-14 18:22] matteius commented on #4984
@Robinbloke I didn't have any issues with this when I tried your reproduction, other than I had to comment out `#"RPi.GPIO" = "==0.7.0"`  from the original Pipfile to get those to sync.
[code]

[2022-03-14 19:32] Amondale commented on #3827
I ran the same `pipenv install <package1> <package2> ...` and there were no significant hangs. Compared to that, `pipenv install` produced the lock hangs mentioned above. I could get no useful info out of `pipenv lock --clear` either, it did not seem to be hanging on a particular package or module, just stuck in some dumb pypi circular reference.

I believe either it's a bug in pipenv caused by th

[2022-03-14 20:16] matteius commented on #3827
@Amondale What version are you on?   If its the latest `2022.1.8` then could you try your case with this branch in testing:  https://github.com/pypa/pipenv/pull/4969

If you find that its still an issue, I suggest opening a new issue with a reproduceable test case, or look at the linked issues off that PR and decide if they match the issue you are facing.

[2022-03-14 23:24] MrBunnyT commented on #4696
Thanks for your reply @matteius it somehow got fixed when I upgraded.

[2022-03-14 23:24] #4696 closed

[2022-03-15 06:16] matteius commented on #4963
@Bananaman there was this ticket I worked yesterday/today and it shed some light on indexes, plus I realized I have nvidia on my laptop just not on the VM, so I am doing some experiments within Windows now.  I had a test run that was very quick and generated this file, but there was no hash for the package `pytorch`
[code]

So then I tried an experimental branch locally of the pip 22.0.4 resolver

[2022-03-15 06:24] matteius commented on #4963
Also noting that I did a followup where I had hoped adding the markers for `python_version` would restrict the hash search like you are saying, but it does not.
`torch = {version = "==1.11.0+cu113", index = "downloadpytorch",  markers = "python_version == '3.10'"}`
yields just the same number of hashes even though only 2 of them should match the markers:
[code]

[2022-03-15 06:42] matteius commented on #4963
@Bananaman Also noting that it may be a reasonable workaround to target a very specific wheels file in this case.  For example, I tried:  `pipenv install https://download.pytorch.org/whl/cu113/torch-1.11.0%2Bcu113-cp310-cp310-win_amd64.whl`
which generated this fresh Pipfile:
[code]

Then the Pipfile.lock contains just the hash for the wheel I installed:
[code]

I am not sure what the level of eff

[2022-03-15 16:06] Robinbloke commented on #4984
I've managed this on other installations and I think this is probably a problem with the OS (pi stretch lite); I've seen this with the CEC lib as well.
Reinstalling virtualenv (which I stopped using due to problems getting packages working) I managed to get it all installed and going again so I think I'll abandon pipenv and go with that.

[2022-03-15 18:39] AIGeneratedUsername opened #4985 "ModuleNotFoundError: No module named 'poetry'"
### Steps to replicate
[code]
### Versions

Lubuntu 20.04

[2022-03-15 19:02] AIGeneratedUsername commented on #4985
It turned out to be very easy. After spending a whole day on investigating the error, I finally installed Poetry. If someone want to install Poetry before the end of the working day, I highly recommend to start at the early morning.

`ModuleNotFoundError: No module named 'poetry'` solution:

1. Remove Poetry
2. Remove Poetry from PATH
3. Reboot your PC (THIS IS THE MOST IMPORTANT STEP!)
4. Install

[2022-03-15 19:02] #4985 closed

[2022-03-15 19:05] matteius commented on #4985
@AIGeneratedUsername Just wondering ... did your use case have any relation to pipenv?

[2022-03-16 00:32] matteius commented on #4984
We could keep this issue open -- I personally don't have a raspberry pi have helped some close family and friends use raspberry pi with python, so if I could get someone's time with one to try it out on that platform might reveal more of how it behaves which would be interesting.   I see a couple other options here beyond straight virtualenv:
1.) try the branch that has pip 22.0.4 integrated and s

[2022-03-16 12:16] BalazsBago commented on #4596
It already works with pipenv 2021.5.29.
I made a test with a local devpi server.

[2022-03-16 13:09] gismoranas opened #4986 "CLI reference page is empty"
### Issue description

https://pipenv.pypa.io/en/latest/cli/ does not show any useful information. on https://pipenv-es.readthedocs.io/es/latest/ I can see the reference. checked on chrome with adblocker deactivated.

### Expected result

see the docs.

### Actual result

I only see the text column on the left.

### Steps to replicate

open the page in chrome.

[2022-03-16 20:56] matteius commented on #4986
@gismoranas Thanks for your issue report, however I am noting it is a duplicate of:  https://github.com/pypa/pipenv/issues/4778

Going to close this one out, but feel free to open a PR against the other issue if you have time to fix it.

[2022-03-16 20:56] #4986 closed

[2022-03-16 22:22] jtmoon79 commented on #4906
@matteius I kept running into
[code]
I tried several permutations of python interpreter versions, virtualenvs, and the pipenv branch `main` and branch `vendor-pip-22.0.3-followup-changes`.

I installed the in-development `pipenv` by commands (using commands for branch `vendor-pip-22.0.3-followup-changes`):
[code]

I did not find an Issue with this failure. I'll give this another try some other tim

[2022-03-16 22:35] bigpick commented on #4771
Hey 👋 , sorry for the delay, but it looks good now!

Checking what I have currently (trying this just now on macOS, fwiw):

[code]

With a test `Pipfile` like so:

[code]

and a `~/.netrc` of

[code]

A `pipenv install` works properly, and the `Pipfile.lock` shows the expected source:

[code]

---

Doing a clean re-install with a custom `NETRC` envar also works:

[code]

(i.e it also successfully

[2022-03-16 22:56] #4771 closed

[2022-03-16 23:04] matteius commented on #4489
@cupcakearmy I think that the ability to specify where the virtualenvs live already exists in two forms:

Within pipenv you can specify that you want the virtualenv created within the project:  `PIPENV_VENV_IN_PROJECT` Ref: https://pipenv.pypa.io/en/latest/basics/#pipenv-and-docker-containers

Unfortunately that feature may be under documented as I only found reference to it in that Docker contain

[2022-03-16 23:06] matteius commented on #4473
Still an open question on `2022.1.8`?

[2022-03-16 23:07] matteius commented on #4475
Windows test CI is passing, closing down issue.

[2022-03-16 23:07] #4475 closed

[2022-03-16 23:08] matteius commented on #4465
@dcg-csc based on the limited information in this ticket, I can only speculate that I have a branch that may solve your use of multiple indexes.  Can you check and test with:  https://github.com/pypa/pipenv/pull/4983

[2022-03-16 23:10] matteius commented on #4547
@qiulang Do you still require support with this?

[2022-03-16 23:19] matteius commented on #4536
In the interest of the number of folks that have thumbs-up'd the prior comment about making `--keep-outdated` as project default and the Author has converted to poetry, so I am going to repurpose this ticket to ask the question of should we change the project default?

The obvious things that comes to mind are:

1.   Is that a breaking change for folks that are expecting install to also update any

[2022-03-17 00:08] januszm commented on #4536
Great idea, yes please!

With all due respect, and with absolutely no intention of starting flame war or finger-pointing, I think people who expect `install` to `update` packages will not notice the difference after this change.
People who expect **reproducible builds** will be grateful and will appreciate that pipenv finally does not break the principle of least surprise. As an example, just a we

[2022-03-17 00:29] matteius commented on #4536
@januszm from reading the code right now, it appears it is possible in the Pipfile to specify the default behavior of the Project is `keep_outdated = True`   I  wonder if that was intended as the compromise to not break the existing behavior?  Perhaps though having it configurable in the Pipfile is tangential to what the most reasonable default is.

[2022-03-17 00:36] matteius commented on #4390
Verified on master.

[2022-03-17 00:46] matteius commented on #4536
@januszm I am starting to see why its not the default behavior yet today.  The current implementation of `--keep-outdated` seems kind of hacky:  https://github.com/pypa/pipenv/blob/main/pipenv/core.py#L1071-L1090

My reading of that logic and experimentation with pipenv reveals you cannot use --keep-outdated currently to upgrade a package which is already installed even if it is the package you ar

[2022-03-17 01:40] matteius commented on #4427
@fabi125 Please recheck with `pipenv==2022.1.8`

[2022-03-17 01:48] matteius commented on #4467
I've tried adding a .env file with `PIPENV_VENV_IN_PROJECT=1` and it does not get used when creating the virtualenv on the master branch.   Perhaps we can move the dotenv loading earlier in the process.

[2022-03-17 02:00] matteius commented on #4396
@jthorpe6 Has this been resolved?

[2022-03-17 03:53] pklapperich commented on #4977
Sorry, I was away for a bit.

I noted it works if `keras` is unpinned or the intel repo removed. We probably don't need that pinned anymore, so I think that's workable for us.

But what I found that was weird (and looked like a bug) is that `tensorflow` could install without `--dev` but would fail a lock when using `--dev`. The other thing that's weird is that removing the `intel` repo is enough t

[2022-03-17 09:15] januszm commented on #4536
I would consider the above as bug(s) to resolve rather than reason why not to change the default behaviour of `install` to keep outdated.

[2022-03-17 09:44] jthorpe6 commented on #4396
Hey, I'm unable to test this, as I don't use WSL anymore. I'm happy for it to be closed.

[2022-03-17 11:08] matteius commented on #4536
Yes, perhaps so, though I think its going to be very non-trivial thing to solve and so just noting here its a current blocker to changing the default behavior.

[2022-03-17 12:07] cupcakearmy commented on #4489
I think a flag in the cli would still be the way to go. Most people don't read docs to the end and mostly discover tools by using them. This means exploring what flags are available. I know it's not ideal but the reality 😉
Guess it's related to https://github.com/pypa/pipenv/issues/2086.
Feel free to close if it's a `wontfix`

[2022-03-17 12:58] matteius commented on #4489
@cupcakearmy While https://github.com/pypa/pipenv/pull/4974 is currently proposing an environment variable, it is conceivable it could be also applied as a flag in the cli -- maybe you could coordinate with @darelf on the PR that is open to consider the most use cases?

[2022-03-17 13:14] ttecles opened #4991 "`--completion` flag not recognized in bash"
The `pipenv --completion` command is not working:
[code]

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.1.8'`

Pipenv location: `'/home/joan/.local/lib/python3.8/site-packages/pipenv'`

Python location: `'/usr/bin/python'`

Python installations found:

  - `3.10.0`: `/home/joan/.pyenv/versions/3.10.0/bin/python3`
  - `3.8.10`: `/home/joan/.pyenv/versions/list/bin/python3`

[2022-03-17 13:50] matteius commented on #4991
@ttecles I am having trouble finding any reference to a --completion flag in the code base.  Can you reference me to the docs where it is specified?

[2022-03-17 14:16] ttecles commented on #4991
@matteius there you go: https://pipenv-fork.readthedocs.io/en/latest/advanced.html#shell-completion

I found a commit that removed that flag: https://github.com/pypa/pipenv/commit/267ba191a5cb0623bc99e60b44e99045a11e07cd

[2022-03-17 14:18] ttecles commented on #4991
I see the docs in github do not have that anymore:
https://github.com/pypa/pipenv/blob/main/docs/advanced.rst#-shell-completion

[2022-03-17 14:36] matteius commented on #4991
@ttecles Thanks, and just noting that the correct page to access the pipenv docs is here:  https://pipenv.pypa.io/en/latest/

[2022-03-17 14:59] ttecles commented on #4991
thanks @matteius

[2022-03-17 17:31] GPHemsley-RELX commented on #4717
@matteius I think @kristang was indicating that the situation is difficult to reproduce artificially, as it involves network problems, not that the issue no longer exists.

[2022-03-17 17:45] matteius commented on #4717
@GPHemsley-RELX  well its not entirely clear from the report how to proceed with the investigation or what the desired outcome is.   I can open it back up, but I fear it would just sit open for another long while without more details.  It is well known that pip and pipenv use subprocesses and it seems clear from the output it had trouble  with `ERROR: Couldn't install package: pytz` which was caus

[2022-03-18 07:16] qiulang commented on #4547
@matteius  thanks for reaching out but that was in 2020.  I have not used pipenv for a while so I will just close it.

[2022-03-18 07:16] #4547 closed

[2022-03-18 14:53] kristang commented on #4717
This was not really a request for specific changes. This was more of a "Hey I noticed this separate thing happened because of another issue"

My very narrow understanding would suggest making some sort of limit to the number of processes that is allowed to run, but I have no knowledge about `pipenv` or `pip` to comment on where something like that would be best implemented.

[2022-03-18 15:29] matteius commented on #4717
Most all of the subprocess usage is within pip and other vendor code.  I am compelled to say this is something that is not fixable -- that many subprocesses would have been running for a normal install anyway you just wouldn't have noticed it because of no errors.  Ref:  https://github.com/pypa/pipenv/search?q=subprocess

However I will re-open it for now in case someone else has some insights her

[2022-03-18 20:47] fabi125 commented on #4427
Thanks for the nudge.
I just played around with this again using the new pipenv version and was unable to reproduce it. Gonna close this out, thanks!

[2022-03-18 20:47] #4427 closed

[2022-03-18 21:35] sweco commented on #4435
Assuming that it is possible to resolve dependencies and dev dependencies together without a conflict (like in the @shiyuangu's example where the solution is to use for example `importlib-metadata==4.2.0`), I see three strategies how one can approach such an issue.

When I hit this issue, I used the first approach which I achieved by pinning the conflicting package in default packages. However, it

[2022-03-18 23:34] matteius opened #4992 "Refactor utils.py into a utils module to reduce code complexity and prune out unused utils."
Placeholder for news item for PR Ref:  https://github.com/pypa/pipenv/pull/4990

## The issue
The pipenv/utils.py has grown to 2338 lines of code, which makes it unwieldy and disorganized. When trying to consider larger bugs and refactors this is problematic because of the logical complexity of navigating around and understanding what kind of util you are looking at. I would like to do something s

[2022-03-19 00:36] tbrodbeck commented on #4430
For some reason locking pandas takes soooo long in my project. I even activated verbose mode, but it does not give me any information what it is doing, still... (found another "closed" issue: https://github.com/pypa/pipenv/issues/1198)
[code]
Is the only solution to switch to poetry now?

[2022-03-19 00:44] matteius commented on #4430
@tbrodbeck What version are you on?  Can you try the branch linked off this issue?  https://github.com/pypa/pipenv/issues/4926

[2022-03-19 01:02] matteius opened #4993 "Add pre-commit hooks similar to what pip has to pipenv"
Similar to how pip has pre-commit configuration:  https://github.com/pypa/pip/blob/main/.pre-commit-config.yaml

It would be great for pipenv to adopt such linting tools as well.  That way we don't have to debate stylistic differences on PRs or have things not flake8 complaints.  sorting imports for example can be time consuming but with isort that becomes a non-issue.  There are more benefits to

[2022-03-19 08:48] CharString commented on #4430
@tbrodbeck I thinks it's bad taste to advocate another project here. So try the different branch. But there are alternatives to poetry, like pdm.

[2022-03-19 09:53] matteius opened #4995 "Vendor pip==22.0.4 into project"
Placeholder for news fragment on:  https://github.com/pypa/pipenv/pull/4966

### Is your feature request related to a problem? Please describe.

We are upgrading to pip 22.x series in order to bring in the latest bug fixes from the pip resolver and pip internals.

### Describe the solution you'd like

https://github.com/pypa/pipenv/pull/4966

[2022-03-19 11:39] matteius commented on #4637
@janneronkko or @reinvantveer this is mostly set, but I've run into some snags adding a unit test to the project for it.  May be able to move forward with out that, but its not ideal.   @janneronkko example involves running two pypi test servers and generating a test package on the fly.  We have a test fixture for a single pypi test server but I think its port is dynamic and some other differences

[2022-03-19 12:28] tbrodbeck commented on #4430
@matteius I am on version 2022.1.8 and Python 3.9.2

I tried to switch to the last branch mentioned, but I cannot access it:
[code]

[2022-03-19 16:56] matteius commented on #4430
@tbrodbeck  I am sorry for I should have been more clear that its this passing branch with the pip 22.0.4 vendoring changes:  https://github.com/pypa/pipenv/pull/4969

[2022-03-19 17:30] tbrodbeck commented on #4430
I think you would need to provide me some installation instructions. I was not able to install the branch with `python3 setup.py install` or `sudo python3 setup.py install`

[2022-03-19 17:38] matteius commented on #4430
@tbrodbeck Hmmm, I seem to recall having issues with the install command as well, so I have been installing it using `python3 setup.py develop --user` to install it at user level which is preferred, if you need it at a system level you can drop the --user flag.

[2022-03-19 21:28] tbrodbeck commented on #4430
Hmm I am still getting permission denied:
[code]

[2022-03-19 22:07] matteius commented on #4430
@tbrodbeck I'd rather not ping all these people with each update -- perhaps make a new issue report and we can discuss more.   I suspect you need to `pip uninstall pipenv` first if you are getting a permission denied trying to install to `--user` location, like its already installed there.

[2022-03-19 22:26] jasalt commented on #4804
On Ubuntu 20.04 LTS running `rm -rf ~/.local/share/virtualenvs` fixed it on my case which cleans up "dangling virtualenv from previous version" as suggested on Ubuntu bug tracker https://bugs.launchpad.net/ubuntu/+source/pipenv/+bug/1885609. Did `pipenv` installation through `pipx` also earlier that was installed by `pyenv` managed `pip` (Python 3.9.11) but that didn't solve it by itself.

[2022-03-19 23:56] #4775 closed

[2022-03-20 03:12] matteius opened #4996 "Add pytest coverage report and Review and remove more unused code"
Place holder ticket to continue work improving the readability of the code base.

### Issue description

Noticed that `PIPENV_MAX_ROUNDS` is unused and the comments mention pip-tools which appears to be a prior requirement that we have moved away from.

Going to start reviewing pip-tools comments in the code and go from there.

[2022-03-20 03:33] matteius commented on #4906
@jtmoon79 I will investigate the setup.py install command, it was not working for me either--instead I'ev had to do `python setup.py develop --user` which install it as a user package as an editable egg install.   So if you modify files of the installed location, it will be picked up immediately.

However, I found something that is worth investigating with respect to current environment variables.

[2022-03-20 19:29] Afsan751 commented on #4996
#4906 #4775 #4990

[2022-03-21 09:38] matteius opened #4998 "Remove option --code which has been broken since 2018"
Remove option --code which has been broken since 2018

### Issue description

Our code in pipenv has been passing a boolean for a path value and silently swallowing sine 2018 for this code path.  The intention of the code path is to generate a requirements.txt from inspecting the project imports.   To do this, it uses pipreqs which has not been well maintained and contains a mapping of project nam

[2022-03-21 23:38] jtmoon79 commented on #4906
This Issue #4906 did not occur in branch `vendor-pip-22.0.3-followup-changes` :-)
This Issue can be Closed.

Using command `setup.py develop --user` instead of `setup.py install` bypassed the `FileNotFound` problem mentioned above.

----

review of reproduction steps:
[code]

[2022-03-22 00:50] matteius commented on #4906
Awesome, I am glad to hear @jtmoon79  -- we can leave this open until that branch makes it to an official release.   We are waiting on a couple upstream PRs for that to happen, but with a little luck could happen in April.  There is likely to be another release between now and then as well that may not include this change yet.

[2022-03-22 01:48] matteius opened #5000 "Removed vendored requests and certifi that are unused"
Pipenv coverage report shows that  vendored requests and certifi that are unused.  Upon further examination, we utilize the certifi from the vendored pip and not the one that we vendor, and requests library remains unused by pipenv internals -- just the tests which call out it out as part of the dev dependencies.

### Issue description

Placeholder for PR.

[2022-03-22 03:58] matteius commented on #4637
I merged the fix in master -- feel free to respond if you have ideas on getting a test in place.   Wanted to ensure that the fix gets in the next release however.

[2022-03-22 03:58] #4637 closed

[2022-03-22 08:16] Sundava commented on #4875
This seems to have been fixed with #4983

[2022-03-22 08:16] #4875 closed

[2022-03-22 10:24] #4998 closed

[2022-03-22 11:56] oz123 commented on #4894
@pradyunsg unfortunately only he can pin it. But @matteius and myself are already very active.

[2022-03-22 12:01] pradyunsg commented on #4894
Well, I can do it as well -- so I've done that.

If y'all aren't looking for more maintainers, please say so and I'll unpin this. Let me know if there's folks with the write bit here who aren't members of the PyPA -- I'll add them in with write bit and to pypa-committers so that they get the ability to vote in the PyPA committer votes (see PEP 609). :)

[2022-03-22 12:13] oz123 commented on #4894
Please add myself and @matteius, also we kind of have strange permissions here. We can push and merge, but we can't add new contributors. @frostming isn't always active.
Also, pipenv depends on many projects from https://github.com/sarugaku, but it seems abandoned. My efforts to contact the maintainers haven't been answered. We can fork the repositories, but we still lack permission on PyPI can th

[2022-03-22 12:20] oz123 commented on #4894
@frostming thanks for the quick response. I'll need to revisit which projects we needed patch.
@matteius is leading this, I'm helping on slack and reviews.

[2022-03-22 20:42] matteius commented on #4894
@frostming Its `requirementslib` and `pip-shims` that is currently blocking the update to pip 22.0.4 which solves a number of resolver issues for people.   If we could get collaborator to those would be a big help.

@pradyunsg I would like to by added as a member of pypa and I suspect so would @oz123   -- Thanks for pinning this issue; I have been enjoying taking on a maintenance role for the proj

[2022-03-23 01:58] frostming commented on #4894
I've sent the invitation

[2022-03-23 02:40] matteius commented on #4637
`2022.3.23` has been released!

[2022-03-23 02:40] matteius commented on #4975
`2022.3.23` has been released!

[2022-03-23 02:40] #4975 closed

[2022-03-23 02:42] matteius commented on #3901
@Madoshakalaka Could you check if new version `2022.3.23` which has a fix for something similar to this, solves this ticket?

[2022-03-23 02:58] hmasdev commented on #4975
Thx! @matteius

[2022-03-23 05:07] uranusjr commented on #4894
Please drop a word if you're interested in a sarugaku project. I don't maintain all of them either but we could work out a solution if needed; what exactly needs to be done depends on which one of them you wish to work on.

[2022-03-23 09:06] codl commented on #4027
It seems that since 2022.3.23 the message is printed regardless of the presence of a `.env` file, and on stdout instead of stderr, making this even more of an issue

[2022-03-23 09:17] Project0 commented on #4027
Super annoying, this just broke some CI pipelines for us.

[2022-03-23 09:32] matteius commented on #4027
@codl thanks for pointing this out--would be happy to accept a PR that doesn't output this message when quiet is `PIPENV_QUIET` however the change to stdout from stderr is because it is not an error message, it is proper functioning of pipenv to load the .env file.   I'd also be fine with it not outputting the message when there is no .env file to load.   You can see the PR that changed this behav

[2022-03-23 09:58] masato-yasuda opened #5002 "Error "KeyError: 'name'" in pipenv install (from Release v2022.3.23)"
From Release v2022.3.23 which was updated today, we've started to receive the following error("KeyError: 'name'"). in pipenv install..

[code]
Our environement is docker and part of our Dockerfile is the following
[code]

We guess that it is caused by the following update.  Could you check and fix it?
https://github.com/pypa/pipenv/pull/4983

[2022-03-23 10:07] matteius commented on #5002
@masato-yasuda Please provide a sample `Pipfile`  It appears you are specifying an index but not by name, I would like to see how this is done as we have no unit tests around it.

[2022-03-23 10:14] masato-yasuda commented on #5002
@matteius
The following is our sample Pipfile.
[code]

[2022-03-23 10:16] matteius commented on #5002
Thanks @masato-yasuda I suggest using the prior version for now since this affects you, and I will be looking into the proper fix.

[2022-03-23 10:23] matteius commented on #5002
@masato-yasuda Sorry for the fast follow ping, but I am wondering would it be possible to provide a name to your second source in the Pipfile?   The example didn't fail for me, because I don't have a private source with a package that actually resolves to it, but I think that is the issue and I am not sure we can support index matching if the source isn't named though.  I will think more about if

[2022-03-23 10:31] masato-yasuda commented on #5002
@matteius
Thanks for your quick response. After providing a name to the second source in the Pipfile, it works. However, we cannot apply this change easily (because there are many Pipfiles) so we hope that it will work without chaning our current Pipfile..

[2022-03-23 10:32] felixdjost opened #5003 "pipenv run pip freeze > requirements.txt adds a first line "Loading .env environment variables..." with pipenv version 2022.3.23"
According to https://pipenv-fork.readthedocs.io/en/latest/basics.html
you can use
"pipenv run pip freeze > requirements.txt" to generate a requirements.txt file from a Pipfile file.

### Expected result

Generate a requirements.txt file with the dependencies only

### Actual result

a requirements file which contains a first line "Loading .env environment variables..." plus the dependencies on the

[2022-03-23 10:38] matteius commented on #5002
@masato-yasuda Would you be able to try this branch and let me know if it works:  https://github.com/pypa/pipenv/pull/5004
I'm still trying to come up with a valid test case, but I have some more thoughts on that.

[2022-03-23 10:43] matteius commented on #5003
Thanks for your report @felixdjost -- That explains why it was a stderr before.  I don't love that fact that was for good reason, but you are most certainly right.

I will most likely be changing it back, or just hypothetically I wonder if we even really need that logging at all?   There is a separate report about it annoying someone on:  https://github.com/pypa/pipenv/issues/4027#issuecomment-107

[2022-03-23 10:56] matteius commented on #4027
@codl and @Project0  Actually there is another issue report of this affecting requirements.txt generation so its a higher priority than I indicated prior and its out for PR now if you would have a look -- I adjusted it to only print the statement if the .env file is present.  Can you check if the linked PR branch suites your needs?

[2022-03-23 11:22] matteius commented on #5002
I've added a unit test as well in my branch that fails on main but passed with this fix.   It appears there was not an issue with locking but there was an issue during install, so noting that as well.

[2022-03-23 11:48] masato-yasuda commented on #5002
@matteius
Thanks for your fix! Let me check the branch tomorrow..

[2022-03-23 15:08] matteius commented on #5003
TODO:  We fixed the regression in master, and a new release should go out tonight, but is important we get a unit test in for this case as well, and I should be able to work on that at some point soon.

[2022-03-23 15:32] ericPrince opened #5007 "Pipenv activate command - activate the virtual environment in the current shell"
### Is your feature request related to a problem? Please describe.

I'd like to be able to use a pipenv command to activate the virtual environment for a project in the current shell. `pipenv shell` spawns a new shell (and often doesn't work in a containerized environment) and the alternative is to use shell commands, which is fine but less straightforward.

### Describe the solution you'd like

A

[2022-03-23 17:51] #5002 closed

[2022-03-23 21:41] mungojam opened #5008 "Support for python 3.6.0 broken due to pip bug in newly vendored version"
### Issue description

We are hitting https://github.com/pypa/pip/issues/10280 in the latest version of pipenv because it updated to a version that suffers from the bug (21.2.2). We need to use the latest version of pipenv in order to allow us to update to later versions of python using pyenv-win, so we're in a bit of a catch-22.

The bug was fixed in 21.2.4, so please could you release a patched

[2022-03-23 23:39] matteius commented on #5003
@felixdjost The fix for this has been released under `pipenv==2022.3.24`

[2022-03-23 23:39] #5003 closed

[2022-03-23 23:42] matteius commented on #4972
@mardukbp Check with `pipenv==2022.3.24` and we can re-open if you find there is still an issue.

[2022-03-23 23:42] #4972 closed

[2022-03-23 23:43] matteius commented on #4027
The fix for this has been released under `pipenv==2022.3.24`

[2022-03-23 23:43] #4027 closed

[2022-03-23 23:45] matteius commented on #3901
Its `pipenv==2022.3.24` now.

[2022-03-23 23:55] matteius commented on #5008
@mungojam Just noting that it was `2021.11.5` and `2021.11.5.post0` that changed from `pip==20.0.2` to `pip==21.2.2`.  I am going to see if there is much work to update the vendoring of to `pip==21.2.4`, but do note Python 3.6 is EOL so expect that there will be very few remaining releases to support py3.6.

[2022-03-24 01:31] ericPrince commented on #5007
@oz123 understood, calling shell-specific commands from the existing shell process just might not be possible ([this](https://stackoverflow.com/questions/7040592/calling-the-source-command-from-subprocess-popen)). I could be interested in having it as a bash-completion made available by pipenv. Also ok if the answer is just, you can't source a file in python, keep using `source $(dirname $(pipenv

[2022-03-24 04:29] matteius commented on #5008
@mungojam That branch is passing its build if you want to try it and report back if it solved the issue for you.  https://github.com/pypa/pipenv/pull/5009

[2022-03-24 05:38] masato-yasuda commented on #5002
@matteius
We tried the next version (v2022.3.24) and confirmed that our CI process becomes working again. Thanks very much for your quick fix!

[2022-03-24 06:20] mungojam commented on #5008
Thanks for putting together so quickly, I'll take a look today or this evening

[2022-03-24 08:42] unique1o1 commented on #3441
What I do to get the exact version is:

[code]

Just a simple workaround so, that I don't have to dig the lock file.

[2022-03-24 09:07] mungojam commented on #5008
@matteius that's sorted it yes

[2022-03-25 14:13] #5008 closed

[2022-03-25 21:35] smac89 commented on #5007
What about `pipenv run $SHELL`?

[2022-03-26 00:36] philip-peterson commented on #4614
Hi there and thanks for the response. Unfortunately I no longer have the hardware for reproducing this issue so I won’t be able to follow up.

[2022-03-26 03:15] matteius opened #5011 "Add unit tests for recently introduced regressions"
This ticket is to add tests for some of the recent regressions and feature changes:
* `pipenv run pip freeze` should have predictable and clean stdout logging
* `pipenv run script --quiet` should still load .env vars (and not log the message about it)
* Bonus would be: a test for the package index restriction.  This might be hard because we only have a single pypi server running, but I was thinkin

[2022-03-26 07:01] oz123 commented on #5007
The run subcommand already creatures a subshell.
Only venue's activate avoids it.

[2022-03-26 08:03] ImreC commented on #4959
I have created a PR for this. Would appreciate a look.

[2022-03-26 10:04] nomis commented on #4027
When `PIPENV_QUIET=1` it doesn't load the `.env` file at all...

[2022-03-26 14:43] matteius commented on #4027
Thanks @nomis waiting on an upstream setuptools issue affecting the CI to get sorted before we can merge the fix into main

[2022-03-26 22:04] rbuckland commented on #4973
@matteius That is good documentation by @oz123 on docker containers (referenced above).
The challenge we face is the containers used are for Development, and therefore _is_ the virtual environment, encapsulating more than just the python eco-system (other languages also)

Over on the vscode-devcontainer github issue, a year or so back, there is a good thread on the challenges they were facing
http

[2022-03-27 23:59] matteius opened #5019 "new version of setuptools broke CI test for test_lock_nested_vcs_direct_url"
I have spent 12+ hours debugging this and have come to the conclusion that new version of setuptools broke CI test for `test_lock_nested_vcs_direct_url` and it was because `requirementslib` isn't passing in the subdirectory as the directory, and this used to work for `setuptools` but now creates a different style package.

### Issue description

PR out for review addresses this with a patch to `re

[2022-03-28 01:39] #5019 closed

[2022-03-28 03:06] matteius commented on #5011
Fixed with:  https://github.com/pypa/pipenv/pull/5017

[2022-03-28 03:06] #5011 closed

[2022-03-28 10:19] Yuribtr commented on #4873
Seems this problem resurrected in last release 2022.3.28 (at least).
I was unable to install python packages from my private repository. The same problem raised:

Pipfile is:
[code]

Also another problem raised, if in Pipfile I swap sources like this:

[code]

In above case I get:

Solution:
`pip install "pipenv==2022.1.8"`

[2022-03-28 14:22] matteius commented on #4873
@Yuribtr Well the example is going to be hard to reproduce since I don't have the private pypi package my-utils ... however I have a theory.   Can you try removing the `extras = ["fastapi"]` and add that as its own dependency to your requirements?  I suspect that could be causing the issue and neither the basics or advacned pipenv docs page talks about that syntax.   If you find there is still an