[2017-06-14 19:18] gruntfarm commented on #411
Ooh I'd love to except I'm at my 9-5 right now which doesn't have anything to do with development (so I couldn't pass it off as work-related). But I could probably do it tonight around 8pm EST (sorry not sure what timezone you are in)

[2017-06-14 19:21] nateprewitt commented on #412
5.1.0 has been released. We'll revisit this feature in a future release. Thanks again @simonpercivall!

[2017-06-14 19:21] #412 closed

[2017-06-14 20:58] kennethreitz commented on #411
@gruntfarm ping me then and i'll see if i'm online!

[2017-06-14 20:59] kennethreitz commented on #415
Great table!

[2017-06-15 10:11] erinxocon commented on #414
I can confirm this issue.  When you are using `pipenv lock --requirements` everything is exported as expected, however when you create an environment fresh that only has a requirements file, `pipenv` will convert the requirements file into a Pipfile, but it doesn't translate custom VCS links properly.  It just takes the egg name and puts '*' as the version instead of creating a subsection.  I ran

[2017-06-15 13:37] nateprewitt commented on #414
Thanks @erinxocon! I did some digging yesterday and you're going to need to extract the information for editable installs from the `InstallRequirement` returned from pip. The default `__str__` method doesn't return an equivalent string to the requirements.txt entry. This shouldn't be too difficult to fix, but will require some analysis on each dependency.

[2017-06-15 20:14] jjangsangy commented on #415
After reading the pew docs and combing deep caverns of shell scripting lore I discovered that functions can be exported _(who knew that was a thing!)_.

## function export example

So let's say I have function that fork bombs your shell and I want to hot potato it into a child shell processes.

[code]

Bash prevents child processes from cases of unprotected forking. You need to explicitly flag fun

[2017-06-16 00:02] erinxocon commented on #414
I believe #416 should fix this!  I haven't tried any other VCS's except git over https, but it does convert my requirements file correctly that contain links to github repos!

It doesn't currently handle the editable prefix in that when it creates the packages.repo section from a VCS link in a requirements file, editable=True is not present when -e is.  I'll have to figure that out if we feel like

[2017-06-16 00:17] erinxocon commented on #414
and now it can handle editable links!

[2017-06-17 00:17] bhrutledge opened #417 "Document suffix added to virtualenv name"
I just started playing around with this project, and was surprised that `pipenv --three` in `~/Code/test-pipenv` resulted in a virtualenv named `test-pipenv-7v2SBB6d`. Diving into the code, I eventually found that this was added in PR #238. I skimmed through that, and the related issue, and I think I understand the reasoning behind it. However, I couldn't find documentation for that behavior, and

[2017-06-17 00:37] jacebrowning commented on #417
I always set `PIPENV_VENV_IN_PROJECT` based on [the docs](http://docs.pipenv.org/en/latest/advanced.html#configuration-with-environment-variables) to get around this. In my opinion, it should be the default, but to each their own. ✌️

[2017-06-17 03:12] ncoghlan opened #418 "Add a pip-style `--upgrade-strategy` setting to `pipenv lock`?"
`pip install` these days offers an `--upgrade-strategy` option to let users choose between "only-if-needed" upgrades (which upgrades components only if needed to satisfy new dependencies) and "eager" upgrades, which upgrades everything which has a newer version available that still meets the dependency constraints.

In pip 10, the default strategy is changing from `eager` to `only-if-needed`: http

[2017-06-20 01:11] danyeaw opened #419 "Support for virtualenv --system-site-packages"
Some python packages aren't pip installable. For example, to use PyGObject in Linux, normally you have to either have to create the virtualenv with the --system-site-packages option, manually create the symbolic links between the virtualenv and the distribution installed packages, or use another external python package like vext that attempts to automate this for you (I haven't had much success wi

[2017-06-21 20:38] aeleos commented on #396
I had the same issue on ubuntu 16.04. It started when I installed certbot (Lets Encrypt certificate managment tool) and fixed itself when I uninstalled it with ```sudo apt-get --purge certbot && sudo apt-get autoremove```

I am not sure which package specifically causes the issue, it could be the bundled requests package in their [repo](https://launchpad.net/~certbot/+archive/ubuntu/certbot) or it

[2017-06-21 21:18] msegado commented on #396
From what I remember when troubleshooting a few weeks ago, `cacert.pem` wasn't present in my installed version of pipenv; however, since I see it *is* present in the repo here, I suspect the issue might be that it's not being bundled into the pipenv wheel / uploaded to PyPI...

[2017-06-21 21:23] nateprewitt commented on #396
aha! Thanks @msegado, it is in our repo, but it isn't being bundled as you can see by inspecting the [5.1.0 archive](https://pypi.python.org/packages/37/af/73e27a4711128f7bc1e0c46722c0dcc0a7313223efcc076a0212fb6d9806/pipenv-5.1.1.tar.gz#md5=20778b03c20269228fb2705a7a3511c6). This is an issue with our release process. I believe we'll need to add an entry to MANIFEST.in to include `cacert.pem`.

[2017-06-21 21:34] nateprewitt commented on #396
Alright, I've pushed 35518da to address this.

@msegado and @aeleos, feel free to try installing the master branch and seeing if you're still experiencing the issue. If not, this will be included in our next release.

[2017-06-22 17:52] kennethreitz commented on #417
@jacebrowning we get that feedback a lot ;)

[2017-06-22 23:47] #417 closed

[2017-06-23 21:24] chuck1 opened #421 "bug? interaction between multiple pipenv shells"
I'm working on multiple projects at once, all using pipenv. I've noticed that if I start pipenv shell in project A root, and then move to project B and try to start pipenv shell again, it tells me that the shell for B is already activated. So pipenv is automatically switching between shells? Is this the desired behavior?

More concerning is that when I pipenv install an external package in project

[2017-06-23 22:29] chuck1 commented on #421
Further investigation...
[code]
When you switch from project A to project B and run pipenv shell, pipenv says its in the B shell, but PATH tells us otherwise.

Side note, as you might have guessed, my use case involves frequently switching between projects and needing to be in the pipenv shell in each one. Before I realized the above was happening I was getting very confused. Now I at least know w

[2017-06-24 18:45] nateprewitt commented on #421
Hey @chuck1, thanks for taking the time to dig into this.

So first off, that error message was definitely not what we intended. I've added 467c593 to address this by checking the environment variable set by virtualenv rather than assuming the activated shell is for your current project. This will be available in the next release.

Secondly, regarding the workflow you're using. What operations are

[2017-06-24 18:45] #421 closed

[2017-06-24 18:49] nateprewitt commented on #418
Thanks for bringing this to our attention, @ncoghlan! Do you know offhand what version of `pip` introduced `--upgrade-strategy`? My only concern adding this kind of functionality is that we may encounter conflicts with older versions of `pip`.

Our recent hiccup in Requests (requests/requests#4006) has me a bit paranoid about features that didn't exist back to pip 6.X, if not earlier. There are st

[2017-06-24 18:52] nateprewitt commented on #408
@rnwolf, I'm closing this out as won't (can't) fix. There's not a lot we can do if you don't have the minimum required packages downloaded before trying to create a virtualenv offline. This is a failure in virtualenv rather than pip itself, and I don't think we can support a work around for that at this time.

Please feel free to provide any more information if it comes up.

[2017-06-24 18:52] #408 closed

[2017-06-24 18:53] nateprewitt commented on #410
@worudso, I'm closing this issue due to inactivity but please feel free to provide answers to any of the questions above. At that time we can look into reopening this issue and moving forward.

[2017-06-24 18:53] #410 closed

[2017-06-24 21:27] agentreno opened #422 "Vagrant shell provisioner breaks pipenv"
Heard about this in the talkpython interview, excited to start using it but I've run into a problem with an 'Inappropriate ioctl for device' message when trying to use pipenv to install dependencies in a vagrant shell provisioning script. I'm fairly sure this is because there's no terminal and is related to https://github.com/kennethreitz/pipenv/issues/199 - running pipenv in a terminal via vagran

[2017-06-25 01:07] ncoghlan commented on #418
@nateprewitt It doesn't currently seem to be mentioned in the release notes (I'll submit a PR to fix that), but https://github.com/pypa/pip/pull/3972 is the PR that added it. That means it would have first appeared in pip 9.0.0 in November 2016.

[2017-06-25 01:17] ncoghlan commented on #418
As far as the version compatibility question goes, I think it would be reasonable to have using `--upgrade-strategy` at the `pipenv` level simply fail if the underlying pip was too old (ideally with a nice error message explaining that at least pip 9.0.0 is needed, rather than letting the raw unknown argument error escape).

However, I also think you're right that the more important point here is

[2017-06-25 04:49] voltagex opened #423 "pipenv install . works, then doesn't"
To reproduce: `git clone https://github.com/home-assistant/home-assistant`, cd to it and do `pipenv install .` (I'm trying to emulate doing a `pip install -e .`, which works

[code]

Note that this installs correctly but fails because the Pipfile is updated with the wrong name.

[2017-06-25 15:47] erinxocon commented on #423
I do not believe you can currently do that with pipenv/pipfile.

Currently I was able to get this to work by doing the following.

`git clone https://github.com/home-assistant/home-assistant`
`cd home-assistant`
`pipenv --three`
`pipenv run pip -e .`
`pipenv run hass`

[2017-06-25 16:05] nateprewitt commented on #423
@voltagex, this appears to be a bug in pipenv. We do support installing packages with `pipenv install -e .` but we're not storing this information correctly in the Pipfile. I'm actually not sure this was fully thought out when implemented, specifically how we intended local paths to be stored in a Pipfile. Binding to a local file path won't be translatable between environments.

I'm going to put a

[2017-06-25 17:26] nateprewitt commented on #414
Alright, now that #416 is merged, I think this should be fixed in the next release. @jjangsangy feel free to test out the master branch if you'd like to verify things work before hand.

I'll try to get a release out later this week.

[2017-06-25 17:26] #414 closed

[2017-06-25 22:49] erinxocon commented on #404
@jacebrowning I don't think it could work like this since it involves messing with the dependencies from other packages.  It would be best to just relock your Pipfile as all the dependencies dependencies get looked at and hashed correctly.  You couldn't just add or remove one entry from the pipfile without removing it's dependencies as well.

[2017-06-25 22:51] erinxocon commented on #423
@nateprewitt I've experienced the need to do this as well, hence my pseudo-solution up there.  Is this a problem with pipfile or pipenv?  I'd be happy to take a whack at getting pipenv to store package information correctly in Pipfile, assuming Pipfile supports this.

[2017-06-26 06:47] ncoghlan commented on #419
Doing some CI performance investigations for https://github.com/leapp-to/, we eventually realised that one of our problems is that we're setting up some of our dependencies twice: `ansible`, `pipsi`, and `pipenv` are already installed as part of bootstrapping the CI environment, but they're also listed in `Pipfile` for local development purposes, so when we run `pipenv install` as an Ansible task,

[2017-06-26 15:45] chuck1 commented on #421
THank you for your response, @nateprewitt! I was running alot of commands and trying to avoid using ``pipenv run`` each time. But one simple solution would be to keep multiple terminals open. I agree that once a ``pipenv shell`` for one project is entered, it should remain the active shell until the user exits. To switch shells automatically seems like a bad idea.

[2017-06-27 19:52] thomasloldk opened #424 "Uanble to run subliminl ubuntu 16.04"
Hey guys !  , I'm no programmer or python expert  but I  usually know my way arround. these kind of stuff

When im running the script it collets videos , But is unable to download the subs.
`thomas@customer:~$ subliminal download -l da tv/the\ big\ bang\ theory/The\ Big\ Bang\ Theory\ Season\ 09\ \(720p\)\ S09\ Complete\ 9\ MP4\ AAC\ eSub\ HDTV\ \[KoTuWa\]/*
Collecting videos  [###################

[2017-06-27 19:59] thomasloldk commented on #424
Sorry i post this on the right github page ... My sleeping peels just kicked in ...

[2017-06-27 19:59] #424 closed

[2017-06-28 08:27] ncoghlan commented on #419
Following up: for the use case where I initially thought we might want this feature, the right answer turned out to be running `pipenv lock --requirements | sort > integration-tests/requirements.txt` and checking in the result. That way developers can benefit from `pipenv`'s opinionated environment management for local development, but in the more constrained CI environment, we have more control o

[2017-06-28 18:14] kennethreitz commented on #419
I don’t think pipenv will grow this feature.

[2017-06-28 18:20] #419 closed

[2017-06-29 17:31] nateprewitt commented on #422
Hey @agentreno, we added a `--no-interactive` mode back in the 3.X series and it was later removed again in #320. As I understood it there, we didn't have an issue with this after the patch but I'm thinking this may not have been as tested as needed.

Could you please provide a break down of how we'd reproduce this so I can give a shot at debugging things? Thanks!

[2017-06-29 17:33] nateprewitt commented on #415
@jjangsangy were there any actionable items we were still looking for here or were you able to find what you needed in the pew docs? If so, I'm proposing we close this issue out.

[2017-06-29 18:00] jjangsangy commented on #415
I addressed the issue by going through and exporting all functions needed by the subshell to render my prompt. This feels a bit like a hack, but I don't mind.

I am somewhat hesitant closing this issue without some explicit documentation regarding this behavior as users will likely come across this regularly. For both `powerline-shell` and `iTerm2` have functions which I needed to export resulting

[2017-06-29 18:04] jjangsangy commented on #415
There are also edge cases, `nvm`, the node package manager heavily relies on functions to link node environments. If in case some developer dual wielding package managers ever appears god have mercy.

[2017-06-30 16:54] agentreno commented on #422
Hey @nateprewitt I made a minimal example that triggers this problem here: https://github.com/agentreno/pipenv-noninteractive-issue

[2017-06-30 18:39] nateprewitt commented on #422
Thanks so much for putting this together, @agentreno! I'll try to give this a look this afternoon.

[2017-07-03 23:38] debo commented on #404
@erinxocon @kennethreitz while I understand lock generation is slow that's what pretty much any other tool does already, even composer in PHP and to be fair it's not that slow. I don't know python well enough yet to be able to help or contribute but maybe checking what other similar tools do to speed up the generation process might be an idea. Can I also suggest that if the lock file is present it

[2017-07-04 07:30] systemexitzero commented on #422
@agentreno, try using `pipenv run` for non-interactive use instead of `pipenv shell`

Change your Vagrantfile example from
[code]

to something like:
[code]

[2017-07-04 14:30] agentreno commented on #422
This works a charm, thanks @systemexitzero

[2017-07-05 06:59] rapilabs opened #426 "Explicit init command"
Would be nice to have an explicit command for creating a Pipfile, at the moment I think I discovered that you do it with `pipenv --three` via the animated gif.

[2017-07-05 10:32] uber1geek opened #427 "OSError: [Errno 13] Permission denied"
I am unable to use pipenv, what could be wrong ?

OS: MacOS Sierra 10.12.5

$ pipenv install
Creating a virtualenv for this project...
⠋Traceback (most recent call last):
  File "/usr/local/bin/pew", line 7, in <module>
    from pew.pew import pew
  File "/usr/local/lib/python2.7/site-packages/pew/__init__.py", line 11, in <module>
    from . import pew
  File "/usr/local/lib/python2.7/site-packag

[2017-07-05 10:47] #427 closed

[2017-07-05 12:44] mirosval opened #428 "Configure --trusted-host"
Pip has a cli setting `--trusted-host` that allows you to use a private package index over http (as opposed to https).

Pipenv does not allow setting of this field and so it is not possible to use the custom package index.

I imagine this could be fixed by adding the setting to pipfile under the `[[source]]` section, or by automatically extracting the host from the source url.

[code]

[2017-07-05 15:54] nateprewitt commented on #426
Hey @rapilabs, the intended workflow is that your Pipfile will be created when you start your project. Any command you run with `pipenv` will create a new Pipfile and virtual environment if one doesn't already exist for the project.

If you're starting a new project, `pipenv --three`, `pipenv --two`, or `pipenv --python python-x.x` are the commands you would use. These are documented in multiple p

[2017-07-05 15:54] #426 closed

[2017-07-05 16:08] nateprewitt commented on #428
Hey @mirosval, expanding the Pipfile spec to handle specifying this kind of information should actually be raised against the [pypa/pipfile](https://github.com/pypa/pipfile) repository. I don't think this is a feature we intend to explicitly support in Pipenv at this time, but pip provides the tools you need to handle this scenario.

If you have a known set of indexes you wish to only use http on,

[2017-07-05 16:08] #428 closed

[2017-07-05 16:22] nateprewitt commented on #414
Just FYI, I've finally released 5.1.2, so this should be fixed going forward. Thanks again for your work @erinxocon and for everyone's patience!

[2017-07-05 19:07] randomPoison opened #429 "Automatically install dependencies when creating a new environment"
I'm using pipenv for a new project in the hopes that it'll help simplify the on-boarding process for new devs. Already it's much better than teaching people how to use virtualenv. Ideally, I'd like new contributors to be able to simply clone the repo, then run e.g. `pipenv run app.py` to run the code locally.

The biggest blocker of that right now is that you have to manually run `pipenv install`

[2017-07-05 19:19] jacebrowning commented on #429
Would it also reinstall dependencies if `Pipfile` changes between runs?

[2017-07-05 19:37] nateprewitt commented on #429
Hey @excaliburHisSheath, thanks for proposing this idea! I'm glad you're finding some good uses for Pipenv.

I appreciate wanting the simplicity of one command, but I think this introduces some unexpected issues/complexities. How does `pipenv run` function in the case where you aren't creating a new repository? What do you do if the `Pipfile.lock` and `Pipfile` differ? Are we reinstalling everythi

[2017-07-05 21:47] excaliburHisSheath commented on #429
@nateprewitt Thanks for the quick response! I have an idea of how I'd want the feature to work with regards to the points you've brought up.

As a starting point, I'd like `pipenv run ...` to behave almost exactly the same as running `pipenv install && pipenv run ...`, effectively creating the environment if it doesn't exist, installing dependencies if they're not already installed, then running t

[2017-07-06 08:52] mirosval commented on #428
@nateprewitt Thank you, I fully agree with the https approach, I managed to get that done in the end too.

[2017-07-06 12:22] ticosax opened #430 "Pipfile syntax invalid when installing editable requirements with extras_require flag."
For given command:
[code]
that executes successfully, the produced Pipfile is unfortunately not valid.

[code]

[2017-07-06 13:01] ticosax commented on #430
I forgot to mention, that I'm willing to provide a fix in exchange for some pointers on how the Pipfile should look like to support `extras_require`.

[2017-07-06 14:06] iamthad commented on #396
For an immediate workaround, find the `pipenv` directory under your Python installation's `site-packages` directory, `cd` into it, and then:
[code]

[2017-07-06 14:36] nateprewitt commented on #396
@iamthad this should already be resolved in the latest release. Are you still experiencing issues?

[2017-07-06 15:05] nateprewitt commented on #429
Thanks for such a detailed breakdown of what you're looking for @excaliburHisSheath :) So, I think I can get onboard with this, but we'll need to find a way to avoid any noticeable slowdown on your average `pipenv run`. I'll put this on the list of things to look at for the next minor release.

[2017-07-06 15:24] nateprewitt commented on #430
Thanks for catching this @ticosax. So the easiest fix for this will be copying [this check](https://github.com/kennethreitz/pipenv/blob/master/pipenv/utils.py#L69-L70) into the bottom of the [vcs block](https://github.com/kennethreitz/pipenv/blob/master/pipenv/utils.py#L42-L57). You'll also need to devise a way to cleanup the name so it's `requests` and not `requests[security]`.

Let me know if yo

[2017-07-06 15:26] iamthad commented on #396
I just installed pipenv ~2.5 hours ago and had this issue. I'll double-check that I got the latest release.

[2017-07-06 15:42] ticosax commented on #430
Thank you @nateprewitt I will give it a try.

[2017-07-06 16:45] excaliburHisSheath commented on #429
@nateprewitt Excellent! I'm glad the request isn't unreasonable :) If this is something I can help implement, I'd be happy to do so. Otherwise let me know if there's any other way for me to help out.

[2017-07-06 20:34] ticosax commented on #430
First we will need this: https://github.com/davidfischer/requirements-parser/pull/30

[2017-07-07 01:42] ncoghlan commented on #418
Adding @dstufft to the discussions, as he mentioned hoping to deprecate and remove the `--upgrade-strategy` option some day, and I think `pipenv` is an example of a use case where it makes sense to keep the old eager upgrade behaviour available indefinitely (just on an opt-in basis).

[2017-07-07 08:14] Kobold commented on #404
Just echoing feedback as an end user that the separate lock command is surprising from what I'd expect coming from other deterministic package management solutions. `yarn` is a model example here and as I feel it, that is the distinct user interface improvement of yarn over npm. You could make earlier versions of npm behave deterministically, but remembering to shrinkwrap was always a pain.

Just

[2017-07-07 17:17] Blue-Dog-Archolite commented on #11
For those of you looking for a solution to this, I created a little pip package.

https://pypi.python.org/pypi/pipenv-package-requirements/0.1.1

[2017-07-09 13:16] madhavajay opened #431 "No such file or directory: 'pew' on Travis CI"
https://travis-ci.org/madhavajay/nd889/builds/251710323

pipenv used to work on Travis CI, but now its failing with error:

[code]

I tried adding pip install pew, but it didn't fix it.

My file is .travis.yml file is

[code]

My Pipfile is
[code]

[2017-07-12 22:22] DanLipsitt commented on #209
Would it help to add `pipenv` to [setup_requires](https://setuptools.readthedocs.io/en/latest/setuptools.html?highlight=setup_requires#new-and-changed-setup-keywords)? It looks like it might also be necessary to add it to `install_requires` which seems unfortunate.

[2017-07-13 08:33] JonasGroeger commented on #352
It would be great to be able to incorporate `requirements.in` files from pip-tools

[2017-07-13 09:06] anlutro opened #432 "pipsi installation does not work out of the box"
After doing `pipsi install pipenv`, it does not work, because the `pew` bin file does not get installed by pipsi.

This is solved by symlinking it yourself after installing:

[code]

This may be an issue with pipsi, not pipenv.

[2017-07-13 15:12] schlenk opened #433 "pipenv install blows up with unicode errors in Python 2.7 when compilation of a package fails"
German windows, so probably some umlauts in the error messages of the VisualStudio compiler that trigger this:

To reproduce:

- Use a German Windows installation
- Install Python 2.7.13
- Build something with pyldap as a dependency (e.g. clone https://github.com/OpenIDC/pyoidc )
- try to install via 'pipenv install -dev'
- pyldap does not have a wheel, so needs to be built, which fails due to lot

[2017-07-13 20:11] bkcsfi opened #434 "need to install package certifi to get pipenv to work"
I'm on ubuntu 16, I installed pipenv with  pip install --user pipenv (in this case, pip is the system pip)

that installed pipenv into ~/.local/bin and ~/.local/lib/python2.7/site-packages

using pipenv install sqlalchemy failed with

[code]

in another shell (w/o an activated virtualenv) I then did pip install --user certifi

now pipenv install sqlachemy works as expected

[2017-07-14 14:07] nateprewitt commented on #434
Hey @bkcsfi, would you mind providing the version of pipenv you have installed? If you could also provide the contents of `pip freeze --user`, that would be helpful. This sounds like you're missing an expected `cacerts.pem` in your install which should have been fixed in 5.1.2.

[2017-07-14 14:12] nateprewitt commented on #433
Thanks for this report, @schlenk. This looks like it's a bug in the crayons library which is expecting utf-8 instead of latin-1 (or possibly Windows-1252). We'll need to look into fixing that over there. If you wouldn't mind raising an issue there, it would be helpful to kick off the bug fix process.

[2017-07-14 14:12] #433 closed

[2017-07-14 14:14] nateprewitt commented on #432
Thanks for reporting this, @anlutro. This has been an issue with `pipsi` since Pipenv started vendoring dependencies. We should likely either modify the documentation so the user knows they'll need to install pew separately, or remove the suggestion to install Pipenv with `pipsi` entirely. I'm in favor of the latter because I don't see much utility in this use case, but I'd like @kennethreitz to s

[2017-07-14 14:17] bkcsfi commented on #434
Version 5.1.2

[code]

(note that I had to manually install certifi, its not listed pipenv requirements.txt)

[code]
finds nothing.. should it?

[code]

[2017-07-14 14:21] nateprewitt commented on #431
Hmm, so this is interesting. I'm not sure I understand how you're installing `pipenv` and `pew` but it's not being included on the path. We ran the test suite for Requests with a very similar .travis.yml for a while without any issues. Is this happening on all of your builds?

The immediate fix here is to set `PIPENV_VENV_IN_PROJECT` in your environment variables for Travis. That will bypass using

[2017-07-14 14:25] nateprewitt commented on #434
@bkcsfi, yeah it should be finding `cacerts.pem`. The fact it can't is the reason you're experiencing this issue before installing `certifi`. I'm thinking we may want to consider upgrading our bundled version of Requests to 2.15+ so we no longer rely on the bundled certs.

Can you let me know if pipenv is being installed from an archive (`.tar.gz`) or from a wheel (`.whl`)?

[2017-07-14 14:34] bkcsfi commented on #434
I believe it used a wheel

[code]

[2017-07-14 15:37] kennethreitz commented on #432
Our directions clearly outline the fix for this.

[2017-07-14 16:05] nateprewitt commented on #432
You're right, sorry for the ping. I'm closing this out as resolved since it's already in the documentation and there's no actionable steps for adjusting the process.

[2017-07-14 16:05] #432 closed

[2017-07-14 16:11] schlenk opened #435 "Weird behaviour with 'pipenv shell' and interactive python on Windows, every command causes a SyntaxError"
I have no idea what happens here.

Totally trivial project with one dependency, otherwise empty. Now i run 'pipenv' to install, which works just fine. Then i run 'pipenv shell' to run a python shell in the venv. Any interactive command is greeted with a `SyntaxError` exception, even trivial stuff like `import sys` or `print 1`.

If i activate the venv directly via the `Scripts\activate.ps1` script

[2017-07-14 16:23] nateprewitt commented on #435
So, this looks like it may be an issue with newlines. The shell is launched on Windows with `Popen` and the `universal_newlines` flag set. I'm wondering if your machine is having issues with the newline being passed from the enter keypress in your shell. I'm not immediately sure why this is an issue on your instance but not our previous windows test runners.

[2017-07-14 16:43] schlenk commented on #435
I tried disabling `universal_newlines` in pipenvs cli.py in the shell command, but that had no effect.
Will try a few things more on monday, the envvar PYTHONUNBUFFERD in the subprocess looks suspicious, maybe pyexpect messes with the console settings?

[2017-07-14 17:12] nateprewitt commented on #434
Alright, this was a wheel issue because we didn't specify `include_package_data` in our setup.py. I've pushed 06acad1 to resolve this, so it will be fixed in the next release. In the meantime, you'll need to install certifi to resolve this.

[2017-07-14 17:12] #434 closed

[2017-07-14 17:24] madhavajay commented on #431
https://travis-ci.org/madhavajay/nd889

Hrm... now im getting:
The command "pipenv install" failed and exited with 127 during .

[code]

[2017-07-14 17:31] kennethreitz commented on #432
Never apologize for pinging me :)

[2017-07-14 17:34] nateprewitt commented on #431
Well, that wasn't expected. It looks like 8055035 introduced this bug. When Travis activates it's virtualenv to run the test suite, PIPENV_USE_SYSTEM is latching onto that. We've essentially broken `PIPENV_VENV_IN_PROJECT` in this case, unless you also set `PIPENV_IGNORE_VIRTUALENVS`.

This feels like a regression to me, but that may have been Kenneth's intended use case with this. For now, I'd se

[2017-07-14 19:07] kennethreitz commented on #431
Hmm, travis exposes the `CI=1` environment variable, we could key off of that...

[2017-07-15 01:22] uranusjr commented on #432
Would it be a good idea to include a paragraph in the docs explaining *why* pew needs to be installed separately? It confused me a little in the beginning, being familiar with pip handling all the dependencies for me, until I dug into how pipsi works and how pipenv uses pew. I can open a pull request if you think this is a good idea.

[2017-07-15 22:36] gusennan commented on #396
I can confirm that I also have 5.1.2 and ran into this issue.

[2017-07-16 09:24] madhavajay commented on #431
Sorry, I don't quite understand what I need to do, can you show me an example of what I should put in the .travis file?

[2017-07-16 15:29] nateprewitt commented on #431
@madhavajay, I believe a travis.yml like this should give you what you're looking for.

[code]

[2017-07-16 15:34] nateprewitt commented on #396
Sorry, this issue should have been updated with #434. Archives were properly fixed in 5.1.2 but there was still an outstanding issue with wheels. I've pushed 06acad1 which will fix this in the next release.

[2017-07-16 15:34] #396 closed

[2017-07-17 05:16] stoggi commented on #418
This causes a problem for me. My `Pipfile.lock` specifies a specific version

    "s3transfer": { "version": "==0.1.10"},

But when I run `pipenv install` a different version of `s3transfer` is installed `0.0.1`. After a bit of investigation I figured out that pip was installing the correct version of `s3transfer==0.1.10` but a subsequent package `awscli` was installing `s3transfer==0.0.1` because

[2017-07-17 12:34] madhavajay commented on #431
Awesome thanks, looks like it needs to be:
[code]

Otherwise it builds one for each env which doesn't have the desired affect.

[2017-07-17 15:22] nateprewitt commented on #431
Great, glad you got things working @madhavajay! We'll look into handling this better in a future release.

[2017-07-17 15:47] kennethreitz commented on #418
I definitely want to avoid adding options if at all possible, and your statement of "This is actually fine for my own current use cases" is a telling one, in this instance :)

[2017-07-17 15:53] nateprewitt commented on #418
@stoggi, the issue you're experiencing is actually unrelated to this. The issue tracking your problem is #298. We'll need to have some work done on how we both validate Pipfiles and handle dependency conflicts. Neither `pip` or `pipenv` handle this well currently but hopefully will in a future release.

[2017-07-17 16:04] kennethreitz commented on #431
I'll open an issue for this.

[2017-07-17 16:04] kennethreitz opened #436 "Investigating improving pipenv usage on Travis CI"
`CI=1`, so there's that.

[2017-07-17 16:04] kennethreitz commented on #431
https://github.com/kennethreitz/pipenv/issues/436

[2017-07-17 18:36] mshuffett opened #437 "URLs are lowercased when added to Pipfile which will not resolve for case-sensitive URLs"
URLs should not be lower-cased because case-sensitive URLs will not resolve.

[2017-07-17 18:39] nateprewitt commented on #437
@mshuffett could you please provide some more information on your use case and issue. Is this an external vcs repository?

[2017-07-17 23:35] mshuffett commented on #437
I am using it to directly install a tar.gz for from a Nexus artifact repo.
`pipenv install https://foo/KEEPCAPS/bar.tar.gz

The URL is case sensitive so when it lowers the URL in the Pipfile it can't
resolve the URL.

On Mon, Jul 17, 2017, 2:39 PM Nate Prewitt <notifications@github.com> wrote:

[2017-07-18 00:26] ncoghlan opened #438 "Pass `--upgrade-strategy=eager` on pip 10+"
Pip 10 is changing its default upgrade strategy to "only-if-needed", which isn't the desired behaviour for pipenv's purposes.

In order to retain its current "upgrade everything to the latest version available" behaviour when regenerating the lockfile, `pipenv` will need to pass `--upgrade-strategy=eager` when calling pip.

(This issue replaces #418)

[2017-07-18 00:27] ncoghlan commented on #418
I'm going to close this one, as I think the `pip-tools` model is going to be a better fit for the "only-if-needed" case, and I'm fine with folks having to drop down to that lower level tooling if they want more control over how their requirements are managed.

However, the change in pip's default upgrade strategy still needs to be accounted for at the pipenv level, so I filed #438 to cover that.

[2017-07-18 00:27] #418 closed

[2017-07-18 23:32] knkski opened #439 "pipenv fails when inside a directory starting with a dash"
The real issue is filed [here](https://github.com/berdario/pew/issues/143), but would it make sense to add `-` to the list of characters to sanitize [here](https://github.com/kennethreitz/pipenv/blob/master/pipenv/project.py#L66)?

A test case:

[code]

[2017-07-19 11:13] schlenk commented on #435
A few more data points. `pew workon` works as expected, so the issue is really in the pipenv part.

[code]

[2017-07-19 11:22] schlenk commented on #435
Replacing `pypenv shell` with this also works just fine:

[code]

[2017-07-19 12:06] schlenk commented on #435
More weirdness:

Just importing pipenv in above script makes it fail:

[code]

So something inside `pipenv.cli` must break console support.

[2017-07-19 14:39] nateprewitt commented on #435
This is pretty bizarre behaviour. I'm not sure why importing pipenv would cause the shell to do this if the code works otherwise. I haven't been able to reproduce this on a windows machine and don't have access to a copy of Windows Server 2012R2. My only suggestions for debugging at this point is to try removing some dependencies from pipenv.cli and see if one of them is a noticeable culprit. My i

[2017-07-19 14:54] nateprewitt commented on #439
So I don't think there are any technical reasons we can't add `-` to that list, but that's a breaking change and is likely to irritate a lot of users since `-` is a pretty common character.

Before we start making decisions on how to address this though, I just want to make sure I understand the situation. From what I gathered in your issue on the `pew` repository, Jenkins is stripping path names

[2017-07-19 16:11] schlenk commented on #435
Found it, as i already guessed in the beginning. `os.environ['PYTHONUNBUFFERD']='1'` inside the `delegator` package breaks it. It should probably just set that for subprocesses spawned by delegator and not globally.

This breaks:
[code]

[2017-07-19 16:23] schlenk commented on #435
Guess this should be fixed in delegator. Unless you want to add a workaround in pipenv. Feel free to close it here.

[2017-07-20 20:54] chuck1 opened #440 "editable VCS entry in Pipfile.lock overridden when install dependent package"
## What I'm trying to do

There are two packages aiohttp and aiohttp-session. I have forked aiohttp and I want to install my forked version from VCS and have it editable. Then I want to install aiohttp-session from pypi, which depends on aiohttp but this should be satisfied by my VCS version.

## What actually happens

    pipenv --three
    pipenv install -e git+https://github.com/chuck1/aiohttp@

[2017-07-24 08:40] nkantar opened #441 "Support environment variables in some way"
This may be out of scope for Pipenv, but here it goes anyway: It may be worthwhile to support dealing with environment variables in some way.

(All the issues I found mentioning environment variables didn't seem to talk about this specific scenario.)

## The Problem

A simple example is the recommended way of running Flask (from [Flask docs](http://flask.pocoo.org)):

[code]

With Pipenv this woul

[2017-07-24 09:56] uranusjr commented on #441
`pipenv run` passes all environs to the subprocess, so you can simply do

[code]

[2017-07-24 20:09] nateprewitt commented on #441
Hey @nkantar, thanks for taking the time to put together this feature request. We've discussed having a config file of some kind in the past to manage things like environment variables for each project. I'm not completely against that, but there are some gotchas. Last time we discussed it Kenneth wasn't excited about the idea.

I think this is something easily solved with something like a bash scr

[2017-07-24 20:09] #441 closed

[2017-07-25 16:52] mhubig opened #442 "Completion is not working with zsh on macOS"
Maybe this is related to #226 ?

[code]

[code]

[code]

[code]

But it's not completing anything ...

[code]

[2017-07-30 13:32] Nurdok opened #443 "Pipenv installs different version than pinned"
I use the following Pipfile:

[code]

Notice that `Sphinx` is pinned to `1.6.2`. When I run `pipenv lock` I get the following in `Pipfile.lock`:

[code]

This is wrong since I pinned `1.6.2`. My Pipenv version is 5.1.2.

I'm not familiar with the Pipenv code base, but I would love to get some guidance into solving this myself.

Thanks!

---

Full `Pipfile.lock`:
[code]

[2017-07-30 19:48] kennethreitz opened #444 "manpage!"

[2017-07-30 21:41] kennethreitz commented on #444
http://www.sphinx-doc.org/en/stable/man/sphinx-build.html

[2017-07-30 21:42] kennethreitz commented on #444
https://github.com/wkentaro/wstool/blob/68003a95c2bde7b26101a9621de814ff82a73b64/setup.py

[2017-07-30 22:46] kennethreitz commented on #444
https://github.com/pypa/packaging-problems/issues/72

[2017-07-30 22:46] kennethreitz commented on #444
https://github.com/kennethreitz/pipenv/tree/man

[2017-07-31 13:36] sigmavirus24 commented on #443
What if you use `===`?

[2017-07-31 16:14] Nurdok commented on #443
@sigmavirus24 It still installs `1.6.3`. I've never seen this syntax for a requirement before, and did not find any documentation for it. Do you have a link?

[2017-08-02 07:29] marctc commented on #313
Im not sure if is the same issue but I think is related. I want to install a private repo in a project:

[code]
It works but it generates this in the `Pipfile.lock`:
[code]
missing the `git@` before the git host. So if you run `pipenv install` in other environment it prompts you to introduce a password.

[2017-08-09 14:49] anowlcalledjosh opened #446 "`pipenv run` consumes flags anywhere in command line"
[code]

Instead, help text should only be printed if invoked with `--help` as first argument to `run` (i.e. `pipenv run --help`) -- even if a flag after the first argument to `run` is recognised as a pipenv flag, it should be passed to the program being run. IOW, `pipenv run my_program --my-flag` should always run `my_program --my-flag`, even if pipenv someday learns to recognise `--my-flag`.

Sim

[2017-08-10 10:34] nonylene commented on #446
You can use `--` to signify the end of the options and pass arguments to spawned command.

[code]

[2017-08-10 13:06] anowlcalledjosh commented on #446
Ah, thanks, that's a decent workaround.

[2017-08-14 16:44] kstrauser commented on #184
@kennethreitz You say earlier "you likely don't have your shell configured properly." I'm having the same problem, where the virtualenv gets added in the middle of my `$PATH` instead of the head. How should I have it configured differently?

[2017-08-15 14:41] rsyring opened #447 "Windows Support - add appveyor?"
It's not clear from the docs if this project officially supports Windows.  There are old/closed issues that imply no and some PRs that imply yes.

If it is supported, could you include that in the readme?  Also, would you be interested in a PR that adds appveyor support?

[2017-08-15 14:45] nateprewitt commented on #447
Hey @rsyring, we support windows in the majority of the 3.X series of pipenv. Kenneth currently maintains a Jenkins server where we do our Windows testing because he wasn't pleased with Appveyors performance. I believe that may have been disabled about a month ago though, so we may need to check in on getting that running again.

In the meantime, the current release of pipenv should be compatible

[2017-08-15 17:40] rsyring commented on #447
Thanks @nateprewitt for the quick response!  I appreciate the clarification and I'm sure the note in the docs will help others who have the same question.

For what it's worth, I have a paid version of AppVeyor that my company maintains for testing Windows support of our OSS and internal customer projects.  As you can see below, the response times on the paid versions are significantly better than

[2017-08-15 18:29] nateprewitt commented on #447
Thanks @rsyring! That's an incredibly generous offer, I'm going to page @kennethreitz on making a decision here. He's at Djangocon this week so there may be a delayed response.

Thanks again!

[2017-08-18 13:55] wkretzsch commented on #22
Does this mean that pipenv should play nicely with conda?

[2017-08-18 15:09] k33k00 opened #448 "WINDOWS: Launching subshell, not parsing paths correctly"
I'll be honest I can't find a reference to this in your code so it might be someone elses problem (mine?)

I'm running [cmder](http://cmder.net/) on windows 7 when I do `pipenv shell` I get the following output

[code]

Reproduce
------------

- install [cmder](http://cmder.net/) into program files
- launch one of your virtual environments with `pipenv shell`
- keep a close eye on the output

My t

[2017-08-18 15:11] k33k00 commented on #448
I should add this does not stop anything from working apart from cmder's layout

[2017-08-18 16:28] nateprewitt commented on #448
This sounds like it's definitely a path issue of some kind. virtualenv has issues with spaces in the path and I'm not entirely sure if the hangup is there, in pew, or in cmder itself. I don't have windows environment to properly test this in currently, but our general advice has been to avoid paths with spaces when possible.

[2017-08-19 14:22] madhavajay commented on #178
Hrm, this doesn't work as expected:
[code]

Pipfile found at /Users/myusername/Desktop/dev/projectname/Pipfile. Considering this to be the project home.

What I would expect is:
/Users/myusername/.local/share/virtualenvs/projectname

Then I can programmatically use pipenv --where with other shell commands to do things like manually linking system opencv.

[2017-08-19 15:08] uranusjr commented on #178
@madhavajay Maybe you’re looking for `pipenv --venv` instead?

[2017-08-19 15:30] nateprewitt commented on #178
I believe @uranusjr is correct. --where is intended for the location of the Pipfile, --venv will give you the location of the virtualenv.

[2017-08-19 15:32] madhavajay commented on #178
Oh awesome thank you, that makes more sense. 👍

[2017-08-20 10:34] schlenk commented on #435
Fixed with delegator 0.13.

[2017-08-20 10:34] #435 closed

[2017-08-21 01:17] knkski commented on #439
You are correct on what the issue is, and I did use that solution to successfully fix it for my situation. It's possible that `pipenv` would be used in a situation where it's not possible to use that solution, such as a hosted Jenkins instance, but that is probably too much of an edge case to consider making a breaking change in `pipenv` for, particularly since the real issue lies in `pew`.

[2017-08-21 06:35] k33k00 commented on #448
No worries then, Like I said it's not breaking anything major. I've moved cmder to C:/tools for now

[2017-08-21 06:35] #448 closed

[2017-08-23 13:32] yuvallanger commented on #313
For the perplexed (I sure were), I shall convert https://github.com/kennethreitz/pipenv/issues/313#issuecomment-293915992 into TOML syntax and extend it with a `ref`:

[code]

[2017-08-24 16:49] WuTheFWasThat opened #449 "pipenv shell activating incorrect python3"
As you can see below, I have a command which works via `pipenv run` but not after entering the virtualenv with `pipenv shell`.

[code]

I verified the problem is to do with replacing the python links/path.

[code]

(As a side note, I find this slightly weird:

[code]
)

while using the virtualenv itself directly works:
[code]

This all is not a huge deal and could have to do with weirdness of my s

[2017-08-25 09:26] uranusjr commented on #449
I can’t offer anything to the problem with shell, but the `which` part is expected. `pipenv run` only runs things in your virtualenv, so that there’s zero chance for you to accidentally execute anything else, e.g. running a command with a wrong version because it’s installed globally, and you forgot to install a copy into the local environment. This is a common mistake when using virtualenv, and s

[2017-08-26 18:23] kennethreitz opened #450 "$ pipenv install --skip-lock"

[2017-08-26 21:50] gusennan commented on #396
Just reinstalled latest version pipenv on a new Fedora 26 server and ran into this issue again.

[2017-08-28 17:56] kxxoling commented on #442
I have the same issue on macOS, but it works in a created virtual environment:

[code]

BTW, It's really slow. I guess it requires Python running to provide a complementation?

[2017-08-28 18:13] kennethreitz commented on #442
it does.

[2017-08-28 18:13] kennethreitz commented on #442
do you have `requests[security]` installed in the same virtualenv? that'd slow things down a lot.

[2017-08-28 18:14] kennethreitz commented on #442
That's why I recommend installing pipenv w/ `pipsi`.

[2017-08-28 21:12] tilgovi commented on #442
Not working here at all. :(

[2017-08-29 04:10] kxxoling commented on #442
@kennethreitz I really have ``requests`` installed, but I cannot image how could requests slow down shell autocomplimentation.

I have another doubt -- when I did ``source pipenv`` in zsh, I got the full help doc of ``ImageMagic``! And ends with:

[code]

What may this be related to?

[2017-08-29 04:12] kennethreitz commented on #442
@kxxoling but do you have requests[security] installed? (e.g. pyopenssl?) it vastly slows down import time of requests.

[2017-08-29 04:13] kennethreitz commented on #442
The library being used for completion is here:

https://github.com/click-contrib/click-completion

[2017-08-29 04:50] kxxoling commented on #442
@kennethreitz I didn't install ``requests[security]`` literally, but ``pyOpenSSL``, ``cryptography`` and ``idna`` are all installed. Maybe they are required by other dependencies.

[2017-08-29 04:54] kennethreitz commented on #442
If you're using Python 2.6 I believe pipenv will install `requests[security]` automatically. Anyway, this is why you're seeing such slow responsiveness.

[2017-08-29 06:55] kxxoling commented on #442
@kennethreitz I'm using Python 2.7.13 actually. But I still don't understand why would ``requests[security]`` slows down pipenv autocomplete. Could this be optimised?

I tried ``eval "$(_PIPENV_COMPLETE=source-zsh pipenv)"`` in a Python 3.6 environment, the responsiveness is much faster and acceptable now.

[2017-08-29 07:04] tilgovi commented on #442
This is working for me, at least on my Linux machine.

[2017-08-29 13:42] octoberclub opened #451 "MemoryError: needs a '--no-cache-dir' install option"
Fails with a Memory Error when using **pipenv install** on a machine without large memory - e.g. a minimal docker image, (although it appears to have adequate memory for most development - 800Mb / 1Gb available, and the same package works ok on most other environments) - see stack trace below

It appears to be a problem with pip itself.
[Excessive memory use when caching large packages #2984](http

[2017-08-29 17:30] jonparrott opened #452 "pipenv shell should respect your current shell."
I use Fish shell, but unfortunately running `pipenv shell` spawns a weird, foreign, and confusing bash shell.

It'd be nice if `pipenv shell` spawns my preferred shell. :)

[2017-08-29 23:19] nateprewitt commented on #452
Hey @jonparrott, this is because Fish doesn't update the SHELL variable in some cases (I don't know which). We use that to launch the subshell, so yours is likely defaulting back to /bin/bash.

The previously suggested workaround has been to update your profile/bashrc with the correct SHELL variable for Fish. I'm open to other ideas though for a better implementation if you have any 😁

[2017-08-29 23:25] jonparrott commented on #452
Ah interesting. I thought that might be what's going on - thanks, I'm gonna close this for now.

[2017-08-29 23:25] #452 closed

[2017-08-29 23:32] kennethreitz commented on #451
If we were going to do this, we'd make it default for everyone, or use an environment variable, which i'm mildly opposed to doing.

[2017-08-29 23:32] kennethreitz commented on #450
this is written and pushed to master, but a test is failing

[2017-08-29 23:41] kennethreitz commented on #442
@tilgovi what shell and command are you using?

[2017-08-30 00:08] tilgovi commented on #442
In both cases it's zsh. On the Mac it's ZSH with homebrew. Dotfiles are the same (sync'd through git). Works fine on Linux but not MacOS, for some reason.

[2017-08-30 00:09] tilgovi commented on #442
Ooh, wait. I was forgetting to quote it on my Mac.

 eval "$(_PIPENV_COMPLETE=source-zsh pipenv)"

... yields "basename: illegal option -- z"

[2017-08-30 00:55] kennethreitz commented on #442
@tilgovi I thought you said it was working?

[2017-08-30 08:33] mhubig commented on #442
@tilgovi try removing the quotes ...

[2017-08-30 08:38] mhubig commented on #442
BTW.: It works now for me (outside and inside a virtual env) but I have no clue why...

[2017-08-30 17:47] #442 closed

[2017-08-30 21:24] Blue-Dog-Archolite commented on #378
I use a cheat to activate pipenv on cd. Not sure if its reliavant here.

[code]

[2017-08-30 21:28] kennethreitz commented on #378
And for fish shell, we have a plugin now! https://github.com/fisherman/pipenv

[2017-08-30 21:28] kennethreitz commented on #378
Anyone who wants such fanciness should be using fish anyway. Closing :)

[2017-08-30 21:28] #378 closed

[2017-08-30 21:43] Blue-Dog-Archolite opened #453 "Explosion of pipenv on `pipenv install` when duplicated `[packages]` or `[dev-packages]`"
# Summary
During merges, sometimes there are duplicates created in the Pipfile. This causes a error that is hard to debug unless you know what your looking at. I'm not sure how this should be handled or if there is some kind of `pipenv verify` command that I am missing.

There is a error that is buried in the error message. Possibly make this a nicer error or easier to locate in the stack trace?

[2017-08-30 21:56] kennethreitz commented on #453
Provide proper TOML.

[2017-08-30 21:57] #453 closed

[2017-08-31 00:57] omaciel opened #454 "Allow pipenv to run without colors"
Running `pipenv --three` inside a terminal within Emacs, the following traceback can be seen:

[code]

Would it be possible to have a `--no-colors` argument perhaps?

[2017-08-31 01:10] rochacbruno commented on #454
`pexpect.exceptions.TIMEOUT: <pexpect.popen_spawn.PopenSpawn object at 0x1063d7bd0>` looks like this is a TIMEOUT problem while rendering the message. And I agree this may be caused by `crayon` above.

[2017-08-31 01:15] joaorafaelm commented on #40
It seems like this issue is happening again using zsh 5.2 on mac, can anybody confirm if it is working?
pipenv==5.1.2
zsh==5.2
Thanks.

[2017-08-31 02:25] kennethreitz commented on #454
It does run without colors, when no TTY is present.

[2017-08-31 02:28] nateprewitt commented on #454
We also have the PIPENV_COLORBLIND environment variable which will disable this for you.

[2017-08-31 07:30] nils-werner commented on #396
Just installed pipenv on OSX El Capitan, Python from homebrew, and ran into this issue.

[2017-08-31 13:25] omaciel commented on #454
Thank you @kennethreitz and @nateprewitt for the response. I'll go ahead and close this issue.

[code]

[2017-08-31 13:25] #454 closed

[2017-08-31 14:48] sbidoul opened #457 "conversion of requirements.txt fails for some editable requirements"
Here is an example editable requirement that is not supported:

`-e git+https://github.com/acsone/account-analytic.git@f263b5e08c45e392b60c9d879353ca71f7ac86ff#egg=odoo10_addon_account_analytic_no_lines&subdirectory=setup/account_analytic_no_lines`

It is due to the `&subdirectory` part, which is not supported by the vendored requirements package.

Here is the incorrect regex:
https://github.com/k

[2017-09-01 00:51] drakedevel opened #458 "pipenv install --lock creates broken/confusing state under some circumstances"
I spent some time today trying to convert a project from requirements.txt to Pipfile with pipenv, but was confused to discover the wrong versions of some packages getting installed. Upon further investigation, I discovered that `pipenv install --lock pkg1==version` followed by `pipenv install --lock pkg2==version`, when `pkg2` depends on `pkg1` (with no version constraint) can result in a higher v

[2017-09-01 10:34] rdemetrescu opened #459 "Issues running pipenv & pyenv"
I am unable do activate virtualenv using `pipenv shell` with python managed by [pyenv](https://github.com/pyenv/pyenv).

Here is the output of my terminal:

[code]

I followed the steps of the URL above, changing PATH order, but no sucess.

[2017-09-01 10:45] rdemetrescu commented on #459
[code]

[2017-09-01 14:24] wkretzsch commented on #3
@abdulhaq-e: It appears this feature has regressed.
 See https://github.com/kennethreitz/pipenv/issues/313

[2017-09-01 17:06] kennethreitz commented on #459
pyenv does some weird things, and isn't recommended.

Let's see if we can fix it, though. @berdario, do you have any thoughts on this? I believe it's related to pyenv's shimming.

[2017-09-01 17:50] kennethreitz opened #461 "look into venv-update (reported FAST)"
http://venv-update.readthedocs.io/en/master/

[2017-09-01 18:28] techalchemy opened #462 "Implicit post release requirements are stripped which causes errors if there is no corresponding non-post-release pypi package"
When I install a package with the intent to upgrade in the future (>=), if the package has a dash in its version, Pipenv strips the dash when generating the lockfile which results in failed installation.

[code]

[code]

[code]

[code]

[code]
[code]

[2017-09-01 18:44] kennethreitz commented on #462
Let's take TDD here: write a failing test in a branch, then fix it. Can you do that @techalchemy?

[2017-09-01 18:48] nateprewitt commented on #462
Before we go any farther here, there is a lengthy issue about this but it seems to have been closed. This is an issue with the pypi endpoint. Some packages do post-releases and use the proper notation with a dash, others do a post release but don't work with the dash notation. We removed the dash notation because it seems the latter was more common but that's clearly not a workable solution.

We'l

[2017-09-01 18:49] kennethreitz commented on #462
To be clear — this IBM's fault for using such a dumb versioning scheme.

[2017-09-01 18:51] nateprewitt commented on #462
@kennethreitz, this is actually a valid versioning scheme and there's even a pep explicitly defining its use. The problem is the implementation isn't consistent.

[2017-09-01 18:52] kennethreitz commented on #462
Grrrrr

[2017-09-01 18:52] kennethreitz commented on #462
Semver of Calver all the things

[2017-09-01 20:01] techalchemy commented on #462
if we have good examples of each case it might not be that difficult, but might be ugly

[2017-09-02 01:25] nateprewitt commented on #462
Ok, #270 was the original issue and #314 was the patch that is causing us to hit this undesired behaviour. I paged Donald on why this was happening but never got a response. We need a way to try the full version and then strip the post release version and try again.

[2017-09-02 01:27] nateprewitt commented on #459
Hmm, so I think this is an environment issue @rdemetrescu. I've used pyenv since the beginning of the project without issue. It looks like there may be permission issues on the directories that .pyenv is creating on your machine? Something is getting in the way of `pew workon`.

[2017-09-02 01:29] nateprewitt commented on #458
Hey @drakedevel, thanks for taking the time to put this issue together. This is a duplicate of #298 which has an open patch (#305) but we never made final decisions on what to do with conflicts and conflicting dependency specifications. We'll need to resolve that before we can move forward for a fix with this.

[2017-09-02 01:30] nateprewitt commented on #458
I should also note this is a problem in `pip` itself too. Without a proper dependency resolver, we're going to have issues here. The best we can do in your situation is give a warning, but I think a lot of pinned versions aren't hard failures so we need to handle conflicts as gracefully as possible.

[2017-09-02 03:35] jacebrowning commented on #459
What weird things are you referring to? I've used `pyenv` for years and have never had problems with `pip`, `virtualenv`, or any other packages I've installed.

How else do people manage the installation and selection of multiple Python versions? I think the usage of `pyenv` is more common than you let on. 😄

[2017-09-02 04:06] kennethreitz commented on #459
@jacebrowning I may be getting pyenv confused with pythonz :)

[2017-09-02 04:32] kennethreitz commented on #458
Can you try this again with the latest version? I'm curious to know if our new dependency resolver will change this behavior @drakedevel :)

[2017-09-02 08:16] drakedevel commented on #458
@nateprewitt ah yeah --  I got thrown off by the title of that one being about order. As with the initial report in #298, pip handles this (more or less accidentally) regardless of what order you have the requirements in. I do think there's a separate bug which is that the generated Pipfile.lock doesn't reflect the actually installed versions (although maybe moot now, see below).

@kennethreitz ap

[2017-09-02 13:35] erinxocon commented on #454
There is also PIPENV_TIMEOUT specified in seconds that will extend the default timeout for long running operations.

[2017-09-02 16:35] kennethreitz commented on #458
Excellent news! Bad news is that if you pass `--hashes`, we use the old behavior, so the bug still exists. But, we can work on that.

[2017-09-02 16:43] kennethreitz opened #464 "lock after install"

[2017-09-02 16:45] #464 closed

[2017-09-02 18:34] Alok commented on #404
this can be closed with `5.3.2`

[2017-09-02 18:44] nateprewitt commented on #404
Thanks @Alok!

[2017-09-02 18:44] #404 closed

[2017-09-02 18:47] Alok opened #465 "running pipenv by itself is slow"
I don't know if this is feasibly debuggable, or if this is even a bug.

I run `pipenv` to get its help page, and it takes a surprisingly long time to show output. Here's the results of one `time pipenv`. Multiple runs gave similar results.

`pipenv  0.79s user 0.12s system 99% cpu 0.912 total`

Seems like it should be instantaneous to run what's essentially a help page.

[2017-09-02 19:08] nateprewitt commented on #465
So there are certain options that have some implicit validation with pipenv that may cause a slow down but the pipenv command by itself should be pretty fast. Could you supply the output of pipenv --version?

[2017-09-02 19:30] Alok commented on #465
Latest. 3.5.2
On Sat, Sep 2, 2017 at 12:08 PM Nate Prewitt <notifications@github.com>
wrote:

--
- Alok

[2017-09-02 20:04] erinxocon commented on #465
@Alok with version 5.3.2 installed I'm getting `0.41 real         0.34 user         0.06 sys` within macOS.  What OS are you using?

[2017-09-02 20:05] kennethreitz commented on #465
You probably have `requests[security]` installed.

[2017-09-02 20:05] kennethreitz commented on #465
Which, is slow to import.

[2017-09-02 20:08] kennethreitz commented on #465
i'll see if i can get something landed in requests which fixes this.

[2017-09-02 20:31] kennethreitz commented on #465
Work in progress to make this smoother in the future: https://github.com/requests/requests/pull/4273

[2017-09-02 20:54] Alok commented on #465
macOS 10.11.6.

[2017-09-02 20:55] kennethreitz commented on #465
@alrok run `$ pip freeze` for us, please.

[2017-09-02 20:56] kennethreitz commented on #404
Now that locking isn't slow, we can do this. yay!

[2017-09-02 20:56] kennethreitz commented on #404
That involved *way* too much work, but i'm happy with the results :)

[2017-09-02 20:57] Alok commented on #465
running macos 10.11.6

[code]

[2017-09-02 20:58] kennethreitz commented on #465
`pyOpenSSL`. That's why this is slow, because that's available.

I recommend installing pipenv [the fancy way](http://docs.pipenv.org/en/latest/advanced.html#fancy-installation-of-pipenv), which would avoid this.

[2017-09-02 20:58] #465 closed

[2017-09-02 21:01] Alok commented on #465
yep, fixed it

[2017-09-02 21:01] kennethreitz commented on #465
✨🍰✨

[2017-09-02 21:02] kennethreitz commented on #465
we'll work on making this automatic

[2017-09-03 03:36] uranusjr commented on #459
FTR some weird things do happen with pyenv, the main problem being the shims. Sometimes the path look up fails when pointed to shims, and I need to manually pass the “real” executable path) to some certain build scripts. Sometimes the shims themselves cause problems with feature checks (because `which xxx` and `type xxx` would return 0). I still use it because the overall benefits still outweigh e

[2017-09-03 14:31] philfreo opened #468 "Debugging piptools.exceptions.NoCandidateFound"
In trying to convert a fairly large project from `requirements.txt` (201 lines) to start using `pipenv`. The following took about 50 minutes to run ("Converting..." was very slow).

It ended with this `piptools.exceptions.NoCandidateFound` error, that also happens any additional time I run `pipenv install` now.

I assume this is due to some dependency version mismatch (which pip never complained a

[2017-09-03 16:08] grv87 opened #469 "`outdated` command"
I propose to add this command, as in Bundler, to get the list of new versions of locked packages.

[2017-09-03 16:08] kennethreitz commented on #469
What's the purpose when there's "update", which just gets you everything up-to-date?

[2017-09-03 17:03] grv87 commented on #469
Two purposes, depending on command arguments:
1 See what would be updated without actually updating anything (dry run)
2. Check that there are new versions not satisfied by constraints (e.g. new major releases)

[2017-09-03 17:28] kennethreitz commented on #469
This would be difficult to implement, but I like the idea!

[2017-09-03 17:28] kennethreitz commented on #469
Our new dependency resolver will make this a lot easier though :)

[2017-09-03 17:28] kennethreitz commented on #469
Let's do it!

[2017-09-03 17:29] kennethreitz commented on #469
@grv87 can you provide an example output of what you'd expect this command to look like?

[2017-09-03 17:30] kennethreitz commented on #469
I'm thinking:

[code]

[2017-09-03 17:44] nzagorchev opened #470 "Cannot install module - /bin/pip: No such file or directory"
Hello,

Trying to install a module fails with the following error:
/bin/sh: /bin/pip: No such file or directory

I am using MacOS and have installed python and python3 using homebrew.
Then installed pipenv using pip3.

`which pip` returns:
/usr/local/bin/pip
and pip itself is found as a command.

However, if I use `python -m pip --version` it points to the default MacOS python:
pip 9.0.1 from /Lib

[2017-09-03 21:43] erinxocon commented on #469
I like this idea!

[2017-09-03 22:17] grv87 commented on #469
Thanks for the quick response!

I have two thoughts about output:
1. It could be machine-readable (maybe not by default, with special argument)
2. Human-readable output should be easy copy-pastable to Pipfile

[2017-09-04 06:59] dilantha111 opened #471 "FileNotFound: 'pew'"
when I issue these commands, "pipenv install requests" within an empty directory.
I got this.
Traceback (most recent call last):
  File "/home/randy/.local/bin/pipenv", line 11, in <module>
    sys.exit(cli())
  File "/home/randy/.local/lib/python3.5/site-packages/pipenv/vendor/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/home/randy/.local/lib/python3.5/site

[2017-09-04 09:50] marctc commented on #356
This can be closed, isn't it? @kennethreitz

[2017-09-04 14:33] kennethreitz commented on #471
How did you install pipenv?

[2017-09-04 14:34] kennethreitz commented on #470
Try the [fancy installation method](http://docs.pipenv.org/en/latest/advanced.html#fancy-installation-of-pipenv)

[2017-09-04 14:38] kennethreitz commented on #356
@Diggsey want to look into that for us?

[2017-09-04 16:03] kennethreitz commented on #469
I don't think copy-pastable to a pipfile would be useful — because `outdated` would only show you packages you have *installed* that are out of date *according to your `Pipfile`*. Your `Pipfile` will already be up to date.

[2017-09-04 16:06] kennethreitz commented on #459
Okay, that's what I thought.

[2017-09-04 16:06] kennethreitz commented on #459
I don't like the shims, which is why I don't use it.

I'm going to make a homebrew tap for all versions of Python.

[2017-09-04 18:40] erinxocon commented on #470
Second. Pipsi is the way to go for installing python cli utils

[2017-09-04 19:15] nzagorchev commented on #470
Thanks for the replies.

I first uninstalled and installed again python and python3 using homebrew and also re-installed pip.
Then I was able to successfully install pipenv using pipsi by the provided link for the fancy installation.

However, trying to install any module, I know get the following error:
Traceback (most recent call last):
  File "/usr/local/bin/pipenv", line 7, in <module>
    fro

[2017-09-04 19:44] nzagorchev commented on #470
Type in the pip-tools. Installed them and now I am back at square one with the initial error:
/bin/sh: /bin/pip: No such file or directory

[2017-09-04 20:02] kennethreitz commented on #470
Do you have `PYTHONHOME` set or something?

[2017-09-04 20:32] nzagorchev commented on #470
No, I do not.

pip is available in terminal.
$ which pip
/usr/local/bin/pip

but it is only 'attached' to python2 and python3 but not the default python:
$ python -m pip
/usr/bin/python: No module named pip

Any ideas on what could be wrong?

[2017-09-05 07:14] uranusjr commented on #356
This might be a silly question, but doesn’t Pip already do [package caching](https://stackoverflow.com/a/15948723/1376863)?

[2017-09-05 12:27] rdemetrescu commented on #459
@nateprewitt I did a fresh install of pyenv on my machine.

[code]
[code]
[code]

But the final result is still failure for me:

[code]

[2017-09-05 12:35] singleton11 commented on #469
I like this idea, too

[2017-09-05 13:10] kennethreitz commented on #356
I'm under the impression that it does.

[2017-09-05 14:47] marctc commented on #356
Can pipenv use the pip cache system or it has to be implemented from the scratch?

[2017-09-05 15:34] natngmk commented on #471
I also face the same issue. Installed pipenv through Python3 (homebrew).

[2017-09-05 15:43] nzagorchev commented on #470
Seems the root cause was that `pew` was not working due to not set locale.
Setting it in `.bash_profile` seems to resolve the issue.
[code]
Will further test and later update if this is solved.

[2017-09-05 15:53] kennethreitz commented on #470
💫✨🍰✨💫

[2017-09-05 15:53] kennethreitz commented on #470
We should check for this and add some pretty error message if it's not set.

[2017-09-05 15:54] kennethreitz commented on #356
Pipenv just runs pip, so the cache should automatically be used.

[2017-09-05 16:06] mazzy89 opened #475 "Pipenv: no such file or directory"
Whatever command I try to run I get this result:

[code]

I'm running `python2` installed via Homebrew. `pipenv` has been installed via `pip2`

[2017-09-05 16:15] kennethreitz opened #476 "update infrequently"
this message is mostly for @nateprewitt.

now that pipenv automatically warns when you are using an out-of-date version, we should bundle more changes in per release, and do less frequent releases.

[2017-09-05 16:22] natngmk commented on #471
seems like still having a problem. any idea?

MacBook-Pro:firstEnvTest nat$ python3 -m pipenv shell
Creating a virtualenv for this project...
⠋Traceback (most recent call last):
  File "/usr/local/bin/pew", line 7, in <module>
    from pew.pew import pew
  File "/usr/local/lib/python3.6/site-packages/pew/__init__.py", line 11, in <module>
    from . import pew
  File "/usr/local/lib/python3.6/site

[2017-09-05 16:44] stephen-bunn opened #477 "Python 2.7 system permissions error in python 3.6 environment"
I'm having permission denied issues when trying to run `pipenv install --dev` within the shell of my python3.6 virtual environment.

I installed pipenv using the following command.

[code]

Here are the steps I took to create the virtual environment.

1. First I created a virtual environment using python3.6 on my path

[code]

2. Then I activate the created virtual environment

[code]

3. Then I t

[2017-09-05 17:06] bofm opened #478 "install --lock --hashes doesn't create Pipfile.lock"
[code]

[2017-09-05 17:09] kennethreitz commented on #478
hmmmm, thanks for the report!

[2017-09-05 17:09] kennethreitz commented on #478
@erinxocon want to take a look at this?

[2017-09-05 17:17] kennethreitz commented on #477
sounds like you're not getting into the subshell quite right

[2017-09-05 17:17] kennethreitz commented on #477
do you set any python environment variables in your `.profile` or similar?

[2017-09-05 17:24] bofm opened #479 "Hash is not checked on pipenv install --ignore-pipfile"
I wanted to check if an error is raised when a module hash does not match. So I replaced the hash of "six" module with zeros. And it looks like the installation passes and there is no error.

If I've done it wrong, please forgive me and give an example of how to check the hash check. Thanks!

[code]

[2017-09-05 17:30] kennethreitz commented on #475
hmm, looks like `virtualenv` didn't get installed.

can you `$ pip2 install pew` and try again?

[2017-09-05 17:31] kennethreitz commented on #471
Looks like you need to set your system locale.

[2017-09-05 17:32] kennethreitz commented on #471
See https://github.com/kennethreitz/pipenv/issues/470#issuecomment-327216953 for guidance

[2017-09-05 17:32] #471 closed

[2017-09-05 17:34] stephen-bunn commented on #477
I have `~/.local/bin/` in my fish config, and it seems to come before the virtual environment's directory within the environment's subshell.

[code]

[code]

Problem is (i'm guessing) that pipenv prepends it's  environment to the path before starting the subshell, which is where fish prepends its paths defined within the `config.fish`.

Since pip also lives in `~/.local/bin` pipenv is using the in

[2017-09-05 17:36] erinxocon commented on #470
@kennethreitz should pew check for this or should pipenv?

[2017-09-05 17:37] kennethreitz commented on #477
make sure that those parts are only running during a login session:

[code]

[2017-09-05 17:39] stephen-bunn commented on #477
Yeah, I should have realized that. Thanks!

[2017-09-05 17:39] #477 closed

[2017-09-05 17:40] kennethreitz commented on #477
@stephen-bunn did that resolve your issue?

[2017-09-05 17:40] nateprewitt commented on #476
👌 Sounds good to me!

[2017-09-05 17:41] #476 closed

[2017-09-05 17:43] erinxocon commented on #475
@mazzy89 I'd recommend trying the [fancy](http://docs.pipenv.org/en/latest/advanced.html#fancy-installation-of-pipenv) way of installing pipenv.   Pipsi is a great tool and I've never experienced an issue with pipenv using this method of installation.

[2017-09-05 17:45] erinxocon commented on #479
Hmm it probably should be checked, I'll look into this later tonight when I get a chance, thanks for reporting it!

[2017-09-05 17:45] stephen-bunn commented on #477
Yes, fish now doesn't re-add those directories after jumping into the subshell. So now installations go through the correct pip and succeed.

[2017-09-05 17:46] kennethreitz commented on #479
hashes are only checked if `--hashes` is provided.

[2017-09-05 17:47] erinxocon commented on #478
@kennethreitz I'll look at it when I take a look at the other hashing issue #479

[2017-09-05 17:47] kennethreitz commented on #479
need to double check, either I'm right and our help string is out of date, or I'm incorrect and we have a bug.

[2017-09-05 17:49] nateprewitt commented on #479
I think the issue is the overall Pipfile.Lock has isn't being checked, not individual hashes. I don't know how we'd verify that though since the hash is on the Pipfile contents, which we're ignoring in this case.

[2017-09-05 17:50] bofm commented on #479
@kennethreitz same result with `pipenv install --ignore-pipfile --hashes`.

The help message for `--hashes` says `Generate hashes, if locking.` We are not locking in this case. Not sure what is the desired behaviour. Maybe the message needs a fix.

[2017-09-05 17:51] kennethreitz commented on #479
We have a lot of logic in place for hash checking — it's definitely supposed to be working.

[2017-09-05 18:47] kennethreitz commented on #479
Bug confirmed.

[2017-09-05 18:53] kennethreitz commented on #479
Found the source.

[2017-09-05 18:56] techalchemy commented on #462
@nateprewitt I believe this is an issue in this specific case because there is no non-post-release version of the package 'ibm-db-sa-py3' -- note there is only 0.3.1.post1, 0.3.0.post1, and 0.3.0, but not 0.3.1

It's possible that pypi would correctly resolve 0.3.1 to 0.3.1.post1 if there were a release package available for 0.3.1.  As you mentioned this could be as simple as a fallback check for

[2017-09-05 19:54] kennethreitz commented on #479
Fixed the bug.

[2017-09-05 19:57] kennethreitz commented on #479
v5.3.4 just released, which fixes this bug. Hashes are only checked with `--hashes` is provided to `install`, or when the `PIPENV_USE_HASHES` environment variable is set.

[2017-09-05 19:57] #479 closed

[2017-09-05 19:59] kennethreitz commented on #479
P.S. that wasn't easy. ✨🍰✨

[2017-09-05 20:03] kennethreitz commented on #478
Update to latest and try again.

[2017-09-05 20:04] kennethreitz commented on #478
no need to provide `--lock`, this is automatic.

[2017-09-05 20:07] kennethreitz commented on #478
Removed `--lock` from next release.

[2017-09-05 20:10] kennethreitz commented on #469
I want to keep this tool as simple as possible — adding another command is a big deal. I don't want to overwhelm users with options.

[2017-09-05 20:12] kennethreitz commented on #469
perhaps a flag to the existing `update` command would work.

[2017-09-05 20:20] kennethreitz commented on #469
going with `$ pipenv update --dry-run` for now

[2017-09-05 20:24] bofm commented on #479
But that was very fast. Thank you.

[2017-09-05 21:05] kennethreitz commented on #469
<img width="683" alt="screen shot 2017-09-05 at 5-1 05 21 pm" src="https://user-images.githubusercontent.com/119893/30083437-70dde4ea-925c-11e7-9087-32db2071ca7d.png">

[2017-09-05 21:06] kennethreitz commented on #469
this was harder than i expected

[2017-09-05 21:13] kennethreitz commented on #469
v5.3.5 released, which contains this.

[2017-09-05 21:13] #469 closed

[2017-09-05 21:13] kennethreitz commented on #469
✨🍰✨

[2017-09-05 21:20] kennethreitz commented on #478
`--lock` removed.

[2017-09-05 21:25] #286 closed

[2017-09-05 21:39] kennethreitz commented on #343
we can't support every use case.

[2017-09-05 21:40] kennethreitz commented on #478
I can confirm that this is working now.

[2017-09-05 21:40] #478 closed

[2017-09-05 21:42] #475 closed

[2017-09-05 21:43] kennethreitz commented on #470
@erinxocon pew should.

[2017-09-05 21:43] #470 closed

[2017-09-05 21:44] kennethreitz commented on #468
try `pip install --hashes`, which uses a different dependency resolver.

[2017-09-05 21:46] kennethreitz commented on #459
i think you have a shell configuration problem.

We have a fix in master that should solve this, maybe. let me release it.

[2017-09-05 21:46] kennethreitz commented on #459
i want to test on windows first. try running off of master and let me know how it goes! closing in the meantime

[2017-09-05 21:46] #459 closed

[2017-09-05 21:47] #458 closed

[2017-09-05 21:47] kennethreitz commented on #451
open an issue with pip, to see if they'll honor an environment variable for this.

[2017-09-05 21:47] #451 closed

[2017-09-05 21:47] #450 closed

[2017-09-05 21:47] #446 closed

[2017-09-05 21:48] #444 closed

[2017-09-05 21:48] kennethreitz commented on #439
closing as 'won't fix'

[2017-09-05 21:48] #439 closed

[2017-09-05 21:48] kennethreitz commented on #440
try again with latest. update this ticket if not resolved.

[2017-09-05 21:48] #440 closed

[2017-09-05 21:50] kennethreitz commented on #449
you have PATH issues. we have a patch in the next release which will help this.

try calling 'python' instead of 'python3' in your shell.

[2017-09-05 21:51] kennethreitz commented on #447
We have a sponsored account, thankfully :)

[2017-09-05 21:51] #447 closed

[2017-09-05 21:51] kennethreitz commented on #438
Thank you.

[2017-09-05 21:53] kennethreitz commented on #462
Closing, as this seems to be a pypi issue. I'd ask in `#pypa` on irc.

[2017-09-05 21:55] kennethreitz commented on #423
`$ pipenv install '-e .' works fine for me.

[2017-09-05 21:55] #423 closed

[2017-09-05 21:56] #422 closed

[2017-09-05 21:57] #415 closed

[2017-09-05 21:59] #393 closed

[2017-09-05 21:59] kennethreitz commented on #362
sounds like a bug in pypy

[2017-09-05 21:59] #362 closed

[2017-09-05 22:00] kennethreitz commented on #356
fixed! lock is wicked fast now.

[2017-09-05 22:00] #356 closed

[2017-09-05 22:00] #343 closed

[2017-09-05 22:00] #368 closed

[2017-09-05 22:01] #369 closed

[2017-09-05 22:01] kennethreitz commented on #369
pipenv is intended to target specific versions of python.

[2017-09-05 22:03] kennethreitz commented on #313
I encourage you to use `.netrc`

[2017-09-05 22:03] #352 closed

[2017-09-05 22:04] #289 closed

[2017-09-05 22:04] kennethreitz commented on #3
working on master

[2017-09-05 22:04] #3 closed

[2017-09-05 22:06] #461 closed

[2017-09-05 22:06] tilgovi commented on #356
Oh, thank you. I think that was the only thing holding my back from pushing everyone over to pipenv at work.

[2017-09-05 22:06] kennethreitz commented on #457
please open an issue with the 'requirements' package

[2017-09-05 22:06] #457 closed

[2017-09-05 22:10] kennethreitz commented on #429
I think we're going to leave things as they are, for now.

[2017-09-05 22:10] #429 closed

[2017-09-05 22:10] kennethreitz commented on #400
Try again with latest.

[2017-09-05 22:13] kennethreitz commented on #295
For the record, pipenv moved away from `--hashes` mode being default, for this reason.

[2017-09-05 22:14] kennethreitz commented on #295
Question is — how do we get those digests? is there a pypi api for them?

[2017-09-05 22:14] kennethreitz commented on #295
If so, that'd make `$ pipenv lock --hashes` *much* faster.

[2017-09-05 22:21] techalchemy commented on #462
I think it is and it isnt, but I think we can test-resolve the package with pip-tools -- it has functionality to determine the correct version to 'pin' given a requirement.  So to solve the issue I originally posted I think it's as simple as asking pypi for the correct pin or at least checking whether a version can be resolved before pinning it in the lockfile

As a sidenote, I wonder if its reall

[2017-09-05 22:25] nwh opened #480 "Install of a wheel from URL with pipenv"
Hello, I am attempting to install PyTorch into an environment with `pipenv`.

See: <http://pytorch.org/>

System:
- macOS
- Python 3.6 (installed via Brew)
- CUDA: none

[code]

Issue:

[code]

Question: Does `pipenv` support wheel installs given a URL?

This alternative appears to work:

[code]

[2017-09-05 22:26] WuTheFWasThat commented on #449
`python` doesn't work either.  it then gives `invalid syntax`

[2017-09-05 22:34] rdemetrescu commented on #459
Thanks @kennethreitz . I upgraded to pipenv, version 5.3.5 but still no sucess here.

My environment is:

Ubuntu 15.10 (x86_64)
bash version: 4.3.42(1)-release
zsh version: zsh 5.1.1

Regarding pyenv, that's what I have on both `.bashrc` and `.zshenv` :

[code]
[code]

I will try to test it on a virtual machine, later.

[2017-09-05 23:05] justinmayer commented on #289
For anyone else who comes across this issue, automatic utilization of the active virtual environment was addressed via #395 and included in the 5.0.0 release. Many thanks to @kennethreitz for implementing this feature! 😁 👍

[2017-09-05 23:35] kennethreitz commented on #459
you might want to try the changes i have landed in the master branch

[2017-09-05 23:36] kennethreitz commented on #480
try -e

[2017-09-06 00:42] nwh commented on #480
Here's what I get:

[code]

[2017-09-06 00:49] nateprewitt commented on #462
I think there's more we can do here. I'm thinking #314 was a mistake or at the very least it's incomplete. I think we can do better than we currently are so I'd like to keep this open while we look at alternatives.

[2017-09-06 00:55] nateprewitt commented on #451
Just as a note, I believe pip will support setting this in pip.conf. I'd look into that as a possible option.

[2017-09-06 00:59] rdemetrescu commented on #459
Hi @kennethreitz , here is the new output:

[code]

[2017-09-06 01:32] erinxocon commented on #451
Just to add on to @nateprewitt I do believe pip.conf supports this setting.

[2017-09-06 02:00] erinxocon commented on #449
@WuTheFWasThat can you post the command and output?

[2017-09-06 02:10] erinxocon commented on #352
@kennethreitz is this supported with the new pip-tools dependency? Or was it closed for other reasons/

[2017-09-06 02:23] erinxocon commented on #423
@kennethreitz that works for me now with the current release!

[2017-09-06 03:03] WuTheFWasThat commented on #449
[code]

[2017-09-06 03:13] erinxocon commented on #449
@WuTheFWasThat Python2 doesn't support type hinting, but [PEP484](https://www.python.org/dev/peps/pep-0484/#suggested-syntax-for-python-2-7-and-straddling-code) does address how to do it in python2.  When you created the virtualenv with pipenv did you specify `pipenv --three` or `pipenv --python python3`?  That should create the virtualenv using your systems python3 executable as a base.

[2017-09-06 03:16] WuTheFWasThat commented on #449
I am fairly sure I did `pipenv --three`.  How would I check?  It doesn't seem to specified in either the Pipfile nor Pipfile.lock

[2017-09-06 03:18] WuTheFWasThat commented on #449
When I activate the virtualenv manually `python --version` returns `Python 3.6.2`

[2017-09-06 04:00] erinxocon commented on #449
@WuTheFWasThat I think you have a $PATH issue as @kennethreitz mentioned above.  When I enter into a subshell and do `which python` I get `/Users/erin/.local/share/virtualenvs/pipenv-_3lJS9mX/bin/python` and an `ls -lah` shows it's symlinked to python3 which would make sense as I used the `--three` option to create the virtualenv.  When you did `which python` in the subshell it is showing that it

[2017-09-06 04:01] erinxocon commented on #449
Also I would try and unisntall `pipenv` and install it using the [fancy way](http://docs.pipenv.org/en/latest/advanced.html#fancy-installation-of-pipenv).  This seems to avoid the $PATH issues that people have.  The Pew docs can be of help there!

[2017-09-06 04:06] WuTheFWasThat commented on #449
ok.  FWIW, nothing seems particularly strange about my $PATH:

[code]
rl_sat local # echo $PATH
/Users/wujeff/.local/share/virtualenvs/rl_sat-a4OaVrmj/bin:/Developer/NVIDIA/CUDA-8.0.61/bin:/Users/wujeff/.yarn/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/TeX/texbin:/Users/wujeff/.multirust/toolchains/stable/cargo/bin:/Users/wujeff/.multirust/toolchains/1.5.0/cargo/bin:/Users/wujeff/Lib

[2017-09-06 04:15] erinxocon commented on #449
The pipenv/pew .local location should be in front of any system level paths when outside of your virtual environment.  The [Pew docs](https://github.com/berdario/pew#troubleshooting) can help you out with the correct $PATH settings.

Here are the first two entries from my $PATH
`/Users/erin/.local/bin:/usr/local/bin`

[2017-09-06 04:38] WuTheFWasThat commented on #449
I haven't tried the pipsi installation yet, but I read the code a bit and discovered that `PIPENV_SHELL_COMPAT=true pipenv shell` causes things to work also.

This actually seems like a bug in `pew`, since the command `pew workon rl_sat-a4OaVrmj` doesn't work for me

[2017-09-06 04:44] erinxocon commented on #449
`COMPAT` mode does use `source` to activate the virtualenv, I forgot that was an option.  I'd encourage you to place a bug report with the Pew team with your use case.  I'm gonna close this issue for now!

[2017-09-06 04:44] #449 closed

[2017-09-06 04:55] dilantha111 commented on #471
Hi sorry about the delay. I installed pipenv with pip3 @kennethreitz

[2017-09-06 05:01] kennethreitz commented on #471
Did you try the [fancy installation method](http://docs.pipenv.org/en/latest/advanced.html#fancy-installation-of-pipenv)?

[2017-09-06 05:02] WuTheFWasThat commented on #449
I'm still curious - what is the reasoning for using pew by default?  I'm guessing not many people use `pew` so maybe COMPAT mode should be default instead?

I submitted an issue there, but I'm not too confident the bug will get fixed.  I don't want to be too critical but since my evidence is a bit weak, but:
- I hit another bug in `pew` immediately while playing around with it
- The `pew` reposito

[2017-09-06 05:04] kennethreitz commented on #449
Your shell is configured incorrectly. Pew is working fine.

[2017-09-06 05:05] kennethreitz commented on #480
thank you

[2017-09-06 05:05] kennethreitz commented on #480
we do not currently support this behavior

[2017-09-06 05:06] kennethreitz commented on #352
closed because it's not happening :)

[2017-09-06 05:20] dilantha111 commented on #471
I think I am having some trouble installing pipsi. Because I have already installed virtualenv but when I try to install pipsi, it says it needs virtualenv.

[2017-09-06 05:26] WuTheFWasThat commented on #449
sorry, you're right.  I figured it out

[2017-09-06 05:34] sbidoul commented on #457
@kennethreitz Is it this one? https://github.com/davidfischer/requirements-parser

Should I open another issue here to add subdirectoy support in pipenv?

[2017-09-06 05:46] kennethreitz commented on #295
Going to tackle the first proposal:

I has an idea.

[2017-09-06 05:52] kennethreitz commented on #295
https://github.com/kennethreitz/pipenv/commit/8cd08f109356013babd79895f3a862296336043d

[2017-09-06 05:54] kennethreitz commented on #295
[code]

[2017-09-06 06:11] kennethreitz commented on #449
Pew is a learning experience for all :) ✨🍰✨

[2017-09-06 06:19] kennethreitz commented on #457
that's the one!

Sure :)

[2017-09-06 06:19] kennethreitz commented on #457
`-e subdir` should work though

[2017-09-06 06:21] kennethreitz commented on #471
That's weird. Are you using the same python for both?

[2017-09-06 08:09] marctc commented on #313
@kennethreitz the issue that I mentioned it still happening in the last version. Should I open a new issue for this?

[2017-09-06 13:07] Diggsey commented on #356
Wow, nice, that was literally more than a 100x speedup for me, and it also caught a dependency conflict that the previous version didn't catch!

What would be useful is a `verbose` flag for `pipenv lock` - I was only able to diagnose the dependency conflict by editing `piptools/logging.py` to enable verbose logging, but once I did that it gave a very clear indication of what was going on.

[2017-09-06 13:09] ericfrederich opened #482 "UnicodeDecodeError when running pipenv install --help"
This happened on a pretty virgin Linux Mint 18.2.  Fresh install and apt installed all virtualenv/venv packages... then run `bug.sh` and see error below.

# bug.sh
[code]
# output:
[code]

[2017-09-06 13:30] ericfrederich commented on #482
Seems the first index is a py2 unicode, all others are py2 strs including one with some utf-8 encoded characters.

2 options to fix
* use a normal dash instead of the [`EM DASH`](http://www.fileformat.info/info/unicode/char/2014/index.htm) in the help string for `--skip-lock`.
* mark that string explicitly as unicode e.g. `u'Ignore locking ...'`

FYI: this is the contents of `buffer`

[code]

[2017-09-06 13:43] ncoghlan commented on #295
Nice! How would you feel about something like `environment-markers` as the key name, rather than embedding the PEP number?

[2017-09-06 14:28] ericfrederich commented on #3
What about installing the project you're working on as editable, like `pip install --editable .` would do?  Is this possible?

[2017-09-06 14:47] wkretzsch commented on #3
`python setup.py develop` appears to work for me?

[2017-09-06 14:58] shaded-enmity commented on #295
@kennethreitz AFAICT pypi.python.org currently provides only `md5` digests but pypi.org also provides `sha256` digests - https://pypi.org/pypi/pipenv/json

[2017-09-06 15:23] mmerickel commented on #393
@kennethreitz this issue hasn't been solved yet. `pipenv` should do something similar to `vrun` to ensure that the virtualenv's path (if available) is prepended to the path of the subprocess when executing `pew`.

[2017-09-06 15:28] tricoder42 commented on #356
I'm probably missing something :) Where is it fixed? Latest release is 4 days ago, so I installed latest version from `master`. However, `pipenv install` is still slow.

I tried:
- install `pipenv` the fancy way ⚡️ 🍰 ⚡️
- use both latest published version of `pipenv` and latest version from `master`
- install single package

Using latest stable version (5.3.5.), it takes 3:40 to install one packag

[2017-09-06 16:23] kennethreitz commented on #295
@ncoghlan maybe `host-environment-markers`? I want to make it obvious that it's from the host that generated the file...

[2017-09-06 16:29] kennethreitz commented on #356
Sometimes dependencies take a while to install, especially if they have c compilations. Want to share your `Pipfile`?

[2017-09-06 16:30] kennethreitz commented on #313
Did you explore using nertrc?

[2017-09-06 16:30] #313 closed

[2017-09-06 16:31] kennethreitz commented on #393
this is done in master.

[2017-09-06 16:37] kennethreitz commented on #482
let's use a u'' string. want to send a pr?

[2017-09-06 16:49] natngmk commented on #471
Thanks Kennethreitz. At last got it working now.

[2017-09-06 16:51] kennethreitz commented on #295
@shaded-enmity excellent, i'll look into using that — that would vastly improve our lock times for `--hashes`, and allow us to provide multiple hashes for different systems (e.g. all hashes for a given release).

[2017-09-06 16:55] kennethreitz commented on #471
✨🍰✨

[2017-09-06 16:57] #482 closed

[2017-09-06 17:28] tricoder42 commented on #356
I understand sometimes it takes a while, but it was slow from the beginning. Just curious if it's a problem at my side.

Here's my Pipfile:

[code]

[2017-09-06 17:29] kennethreitz commented on #356
psycopg2 might be taking a while. Everything else should be nice and fast. Try removing it and see how much your speed increases.

[2017-09-06 17:30] kennethreitz commented on #356
`$ pipenv install raven` just took like 1s for me.

[2017-09-06 17:33] tricoder42 commented on #356
That's what I would expect! Can I turn on verbose output somehow?

I tried remove `psycopg2`, but it doesn't affect much. Running `pipenv install raven` hangs for a while.

I have:
- Python 3.6.2
- macOS 10.12.6

[2017-09-06 17:37] kennethreitz commented on #356
i see no reason why raven shouldn't be instantaneous.

do `pip install raven` inside of `pipenv shell` and tell me if it's slow there too.

[2017-09-06 17:41] kennethreitz commented on #356
All pipenv is doing is running pip, so that's effectively the "verbose mode"

[2017-09-06 17:43] tricoder42 commented on #356
That's instant:

[code]

Running `pipenv` hangs about 2-3 minutes (inside/outside `pipenv shell`).

[code]

[2017-09-06 17:43] kennethreitz commented on #356
@Diggsey can you open a new issue about `--verbose` and provide an example of what you'd like it to look like?

[2017-09-06 17:43] kennethreitz commented on #356
@tricoder42 is the slow part the locking step or the install step? Locking was vastly improved in the latest releases.

[2017-09-06 17:44] kennethreitz commented on #356
[code]

[2017-09-06 17:44] tricoder42 commented on #356
It's like 50:50 installing:locking

[2017-09-06 17:45] kennethreitz commented on #356
@tricoder42 and you're using latest?

[2017-09-06 17:46] kennethreitz commented on #356
Let me replicate with your exact pipfile.

[2017-09-06 17:47] tricoder42 commented on #356
I guess so:

[code]

[code]

[2017-09-06 17:47] kennethreitz commented on #356
[code]

[2017-09-06 17:47] tricoder42 commented on #356
It does even when I'm installing first package into fresh new pipenv. I'll try to create `pipenv --three` instead of `pipenv --python python3.6`

[2017-09-06 17:50] kennethreitz commented on #356
@tricoder42 want to hop on a google hangouts in like an hour?

[2017-09-06 17:50] kennethreitz commented on #356
Or we can use apple screen sharing if you use Messages.app.

[2017-09-06 17:51] kennethreitz commented on #356
I'm about to join a meeting, but I'll be available after that.

[2017-09-06 17:52] tricoder42 commented on #356
Cool! I'll try clean & reinstall everything from the scratch and we'll see. I'm available in one hour

[2017-09-06 17:52] kennethreitz commented on #356
Awesome — we'll figure this out then. Add me on messages.app :)

[2017-09-06 17:52] Diggsey opened #483 "verbose output option for `pipenv lock`"
`pipenv lock` may fail to resolve dependencies if for example there are conflicting requirements on the version number.

At the moment this can be hard to debug, because the problematic dependency may be an indirect dependency, and so there's no easy way to determine the its location in the dependency tree.

`piptools` already has some nice logging in place to show how dependencies are resolved. I

[2017-09-06 18:23] bertjwregeer commented on #393
https://github.com/kennethreitz/pipenv/commit/4e5f59a5122801bac0f184a6fdc28e41c9b98b6e ?

[2017-09-06 18:42] kennethreitz commented on #483
I like this idea.

[2017-09-06 18:43] kennethreitz commented on #483
Can you show me an example usage of the piptools logging?

[2017-09-06 18:50] kennethreitz commented on #483
okay got it working!

[2017-09-06 18:50] jsatt opened #484 "Install crashes if git clone needs input"
There are occasions where a pip editable install from a git repo will ask for input. This causes `pipenv install` to fail with the following.

[code]

Steps to recreate:
1. Add and install git editable repos dependency Pipfile (how every you want to, mine was installed via requirements file before)
2. Edit Pipfile to change case of any characters in repo url (pipenv convert from requirements file

[2017-09-06 18:50] kennethreitz commented on #483
[code]

[2017-09-06 18:51] #483 closed

[2017-09-06 18:56] kennethreitz commented on #483
will be in the next release ✨🍰✨

[2017-09-06 18:57] kennethreitz commented on #483
It's.... quite verbose :)

[2017-09-06 18:57] kennethreitz commented on #483
Releasing!

[2017-09-06 19:03] kennethreitz commented on #393
yep!

[2017-09-06 19:03] kennethreitz commented on #393
released.

[2017-09-06 19:04] kennethreitz commented on #483
Released.

[2017-09-06 20:08] mmerickel commented on #393
Thanks @kennethreitz I didn't see this fix. Unfortunately it is not working for me and I'm able to reproduce it with the same steps as the original ticket using pipenv 5.4.0.

[2017-09-06 20:10] grv87 commented on #469
Copy-pastable - that was for goal 2.

E.g. you have in Pipfile
[code]
And 2.0 version of `foo` package has been released. It wouldn't be installed by `update`, but I want to be aware that it exists and I could update Pipfile to get it.

[2017-09-06 20:11] Diggsey commented on #483
... wow

[2017-09-06 20:12] jdanford opened #485 "Pipenv should have a `list` subcommand"
Pipenv makes my Python workflow incredibly easy, but since I've started using it, I've wished that I could type `pipenv list` instead of `pipenv run pip list` to check my project's dependencies. Do you have any plans for implementing such a subcommand? If not, I'd be happy to do it myself.

[2017-09-06 21:00] kennethreitz commented on #485
no need, when you have pip available.

[2017-09-06 21:01] #485 closed

[2017-09-06 21:01] kennethreitz commented on #485
want to keep the list of commands as small as possible.

[2017-09-06 21:02] kennethreitz commented on #469
it's copy-pastable in requirements format currently. we can update that to pipfile format.

[2017-09-06 21:02] kennethreitz commented on #469
i think what we have now is good

[2017-09-06 21:31] jdanford commented on #485
Fair enough – thanks for the quick response!

[2017-09-06 21:37] kennethreitz commented on #393
Just install it properly:  http://docs.pipenv.org/en/latest/advanced.html#fancy-installation-of-pipenv

[2017-09-06 23:07] ncoghlan commented on #295
@kennethreitz Heh, I initially had "`host-environment-markers` or `environment-markers`" as my suggestion, and then simplified it to only the latter. +1 for the more explicit version :)

[2017-09-06 23:27] kennethreitz commented on #295
This is now released!

[2017-09-07 00:11] mmerickel commented on #393
As someone who has contributed to pipsi and watches its repo and uses / maintains a fork I can tell you that it's almost entirely unmaintained... I'm not sure that's a great installation method to recommend to people. It hasn't had a release in over 2 years and the `get-pipsi.py` script installs the version from pypi, not the one from the repository. On top of that those installation instructions

[2017-09-07 01:43] jacebrowning commented on #471
I am experiencing this issue on Circle CI (1.0). From their logs:

[code]

[2017-09-07 02:22] erinxocon commented on #295
Closing issue as complete.  Comment if you experience issues.

[2017-09-07 02:30] kennethreitz commented on #295
Well, only partially. I think we have a ways to go still.

[2017-09-07 02:31] kennethreitz commented on #471
doesn't circle ci provide a virtualenv? if so, you're deleting it.

[2017-09-07 02:32] kennethreitz commented on #471
Don't run `pipenv --python=python3.6`, just run `pipenv install`

[2017-09-07 02:38] kennethreitz commented on #393
@mmerickel patches welcome!

[2017-09-07 02:54] ericfrederich commented on #3
@wkretzsch, would you run that as `pipenv run python setup.py develop`?

[2017-09-07 08:35] wkretzsch commented on #3
Right.  I run it from inside a pipenv shell

[code]

[2017-09-07 08:36] wkretzsch commented on #3
I think the develop command is only supported by `setuptools`.

Here is the head of my `setup.py`
[code]

[2017-09-07 12:59] jacebrowning commented on #471
Thanks! That seems to work. Any reason I can't create a new working virtual environment on CircleCI? I like to be able to test my full installation instructions.

[2017-09-07 14:14] SandiPandi opened #487 ""FileNotFoundError: [Errno 2] No such file or directory: 'pew'" with pipenv installed with pip3 and python installed with homebrew"
I've installed pipenv by typing (EDIT: Added sudo, because that's what I used) `sudo $ pip3 install --user pipenv` in the terminal. Then, I've gone to an empty folder and run `python3 -m pipenv install requests`, and I'm returned this error:

`Creating a Pipfile for this project...
Creating a virtualenv for this project...
⠋Traceback (most recent call last):
  File "/usr/local/Cellar/python3/3.6.2

[2017-09-07 14:16] aWangami commented on #419
https://matplotlib.org/faq/virtualenv_faq.html @kennethreitz

[2017-09-07 14:21] kennethreitz commented on #471
You can, you just have to set the `PIPENV_IGNORE_VIRTUALENVS` environment variable.

http://docs.pipenv.org/en/latest/advanced.html#configuration-with-environment-variables

[2017-09-07 14:40] SandiPandi commented on #471
I tried doing the "Fancy installation method" and got stuck on installing pipsi, here's what happened:
`
$ curl https://raw.githubusercontent.com/mitsuhiko/pipsi/master/get-pipsi.py | python3 (yes, I want it installed on python3)`
then it told me to add `export PATH=/Users/sahandzarrinkoub/.local/bin:$PATH`, and so I did. Then I went on with the installation:
`$ pipsi install pew
Traceback (most r

[2017-09-07 14:40] kennethreitz commented on #471
That sounds weird.

[2017-09-07 14:41] kennethreitz commented on #471
Try again maybe?

[2017-09-07 14:42] SandiPandi commented on #471
Indeed, my whole attempt to install pipenv and doing virtualenv's has been littered with errors and "weird" occurances. Could it be that something is wrong with my Python installation altogether?

[2017-09-07 14:43] kennethreitz commented on #471
Sounds like — or your shell.

Want to hop on a hangout?

[2017-09-07 14:43] SandiPandi commented on #471
What does a hangout mean? Sry I'm new to this.

[2017-09-07 14:43] kennethreitz commented on #471
LIke a video conference.

[2017-09-07 14:44] SandiPandi commented on #471
Sure, that'd be great

[2017-09-07 14:44] SandiPandi commented on #471
How do we do it?

[2017-09-07 14:45] kennethreitz commented on #471
I'm available now — click this link — 

https://hangouts.google.com/hangouts/_/kennethreitz.org/pipenv

[2017-09-07 14:53] kennethreitz commented on #471
Got @SandiPandi hooked up! Simple `PATH` issue :)

[2017-09-07 15:05] SandiPandi commented on #487
Apparently, this was a path issue. I added `export PATH=/Users/sahandzarrinkoub/Library/Python/3.6/bin:$PATH` to my path and ran `pipenv install requests` instead, which worked.

[2017-09-07 15:08] Diggsey opened #488 "`pipenv run` no longer sets up environment correctly"
It used to be the case that you could do:
`pipenv run python myscript.py`

And it would run the script in the correct virtualenv. However, now it will run it outside the virtualenv, causing imports to fail.

[2017-09-07 15:13] Diggsey commented on #488
Likewise, `pipenv run pip install ...` will install packages into the wrong virtualenv.

[2017-09-07 15:48] kennethreitz commented on #295
So much progress! Being included in the next release. Thanks so much for your feedback, and the push to do this!

<img width="1431" alt="screen shot 2017-09-07 at 11-1 47 59 am" src="https://user-images.githubusercontent.com/119893/30172302-791e56dc-93c2-11e7-841f-2fe0373ac399.png">

[2017-09-07 16:04] kennethreitz commented on #295
Going to make `--hashes` default again!

[2017-09-07 16:19] kennethreitz commented on #295
It's [so fast](http://share.kennethreitz.org/0M2D3U0D3a0Z)!

[2017-09-07 16:19] kennethreitz commented on #295
v6.0.0 released, which includes hashes for all editions of each given release. 💫✨🍰✨💫

***Now***, this issue can be closed, successfully.

Thanks again!

[2017-09-07 16:20] #295 closed

[2017-09-07 16:21] kennethreitz commented on #295
[code]

[2017-09-07 16:23] kennethreitz commented on #295
Gah, there's a bug. I'll fix it.

[2017-09-07 16:24] ewdurbin opened #489 "6.0.0 regression on Python2.7 compat"
Python 2.7.13 from python.org installer
MacOS 10.13
pipenv 6.0.0

[code]

Issue seems rather clear:

[code]

[2017-09-07 16:25] kennethreitz commented on #295
Fixed!

[code]

[2017-09-07 16:27] kennethreitz commented on #295
✨🍰✨

[2017-09-07 16:28] ewdurbin commented on #489
This exception class was added in Python3.5

https://docs.python.org/3/library/json.html?highlight=jsondecodeerror#json.JSONDecodeError

[2017-09-07 16:29] kennethreitz commented on #489
Thanks, fixing.

[2017-09-07 16:29] kennethreitz commented on #489
Finding lots of annoyances with switching my main development interpreter to 3.6.

[2017-09-07 16:31] kennethreitz commented on #489
v6.0.2 released, which fixes this. ✨🍰✨

[2017-09-07 16:32] #489 closed

[2017-09-07 16:43] kennethreitz commented on #488
version numbers please.

[2017-09-07 16:45] kennethreitz commented on #488
https://github.com/kennethreitz/pipenv/commit/5624c342e30903b86f948d9e95c1f922d85f35f1

[2017-09-07 16:46] kennethreitz commented on #488
this might be the problem.

[2017-09-07 16:48] ewilazarus opened #490 "Create a link command"
Create a `pipenv --link`command that would be equivalent to `pipenv shell && pip install -e .` to make possible to run tests with tools such as `pytest`.

[2017-09-07 17:10] ewdurbin opened #491 "pipenv update fails with version 6.0.2"
Pipfile:

[code]

Steps to reproduce:

[code]

💥

specific error message:

[code]

Resulting Pipfile.lock:

[code]

[2017-09-07 17:20] ncoghlan commented on #419
@aWangami See my comment above - for such cases, a good way to go is to rely on fully isolated environments and wheel files during development, and then generate a `requirements.txt` file for use with `--system-site-packages`.

[2017-09-07 17:32] kennethreitz commented on #491
Thanks for the report.

[2017-09-07 17:48] kennethreitz commented on #491
Boy that was a big one. Fixed in v6.0.3.

[2017-09-07 17:48] #491 closed

[2017-09-07 17:48] kennethreitz commented on #490
Why not just `pipenv install '-e .'`?

[2017-09-07 17:49] kennethreitz commented on #490
I like this idea though.

[2017-09-07 17:49] kennethreitz commented on #488
k new release out, try it again

[2017-09-07 17:49] #488 closed

[2017-09-07 17:49] #487 closed

[2017-09-07 18:05] ewilazarus commented on #490
Awesome!

On a second thought, I think a command (`pipenv link`) would be more semantic than an option.

[2017-09-07 18:13] kennethreitz commented on #490
want to limit the number of commands to be as small as possible.

[2017-09-07 18:15] kennethreitz commented on #419
It's just out of scope for us, effectively.

[2017-09-07 18:15] kennethreitz commented on #419
One of the most important parts of running an open source project is knowing when to say no :)

[2017-09-07 18:16] kennethreitz commented on #490
I think I'd like to encourage the use of `-e .` instead. So, closing. Thanks for the idea, though!

[2017-09-07 18:16] #490 closed

[2017-09-07 18:18] kennethreitz commented on #484
luckily, we're using delegator, so we could actually provide the password on behalf of the user.

@jsatt can you provide your pipfile, with the password `xxxxx`'d out?

[2017-09-07 18:55] jsatt commented on #484
My use case isn't needing a password. It needs the user to make a choice about changing the remote url of an already installed package.

[code]

In my case the difference is just all lower case of the original url (done by pipenv when converting requirements file), but it's also not unheard of to change an install repo from one remote to another for other reasons (point to my own fork which has so

[2017-09-07 20:44] tricoder42 opened #493 "Optimize pipenv"
This is tracking issue for some performance related problems I've found when trying `pipenv`. I'm willing to help to fix these problems, but @kennethreitz is working too fast and already added some features which helps me debugging (like verbose mode) 😄

# Problem

`pipenv install` takes incredible amount of time when running with slower internet connection (I have 50Mbps download/upload & 20ms av

[2017-09-07 20:47] kennethreitz commented on #493
We could make PIPENV_SKIP_VALIDATION default — i see no reason not to.

[2017-09-07 20:52] kennethreitz commented on #493
okay, `PIPENV_SKIP_VALIDATION` is default to `True` in master.

[2017-09-07 20:53] nateprewitt commented on #493
Thanks for such a detailed report @tricoder42! I actually put together a branch for a lot of this a few months ago but it looks like it never got merged in. I think we can definitely do better with the calls to pypi.

[2017-09-07 20:54] kennethreitz commented on #493
Looks like this disables importing from requirements.txt. looking into it.

[2017-09-07 20:55] tricoder42 commented on #493
In that case it's probably enough to fix `add_package_to_pipfile`, because it recase whole file ignoring `PIPENV_SKIP_VALIDATION` settings.

I started diging into this, because I used `PIPENV_SKIP_VALIDATION=1` and it wasn't enough. I think this is the only problematic spot. Locking file is fine as far as I can see. It just requests `pypi.org` for every package (which is required in this case).

[2017-09-07 20:58] kennethreitz commented on #493
okay everything's faster now.

[2017-09-07 21:01] kennethreitz commented on #493
now we have a new method, `project.recase_file()`, which is only called once.

[2017-09-07 21:09] tricoder42 commented on #493
Cool! Locking is taking considerable about of time when resolving dependencies, but that's responsibility of `piptools` package. I'll play around with it for a while.

[2017-09-07 21:13] kennethreitz commented on #493
It's a hell of a lot faster than what we were doing before, I can assure you that (downloading all the files).

[2017-09-07 21:14] kennethreitz commented on #493
I think you just have a particularly slow connection where you're located.

[2017-09-07 21:14] #493 closed

[2017-09-07 21:15] kennethreitz commented on #493
released!

[2017-09-07 21:23] tricoder42 commented on #493
Cool thanks!

Yeah, I assume that connection speed is major factor in this issue. However, I never had such problems with bare `pip`, so I'm just curious how to make `pipenv` not much slower compared to `pip`.

[2017-09-07 21:36] sbidoul commented on #457
subdirectory support proposed upstream: https://github.com/davidfischer/requirements-parser/pull/32

[2017-09-08 01:02] #400 closed

[2017-09-08 01:02] #462 closed

[2017-09-08 01:25] kennethreitz commented on #493
this will help a lot

[2017-09-08 01:25] kennethreitz commented on #493
pip doesn't do dependency resolution :)

[2017-09-08 01:27] kennethreitz commented on #484
this sounds like an edge case to me

[2017-09-08 02:21] jsatt commented on #484
For my case of the lower vs upper case I would agree. In the more likely case of changing to a different fork of a repo, this seems like a pretty big deal for a tool meant to abstract away much of the complexity of package management. It results in a error message that isn't remotely clear as to the actual problem or the proper steps to fix it.

[2017-09-08 04:08] #484 closed

[2017-09-08 11:30] Diggsey commented on #488
Unfortunately the latest release doesn't seem to have fixed the issue. I will attempt to bisect the first failing version.

[2017-09-08 14:50] kennethreitz commented on #488
if a virtualenv is activated, pipenv will use it instead.

[2017-09-08 15:53] Diggsey commented on #488
Ah, that sounds like the issue. I used to get a message saying the pipenv would be layered on top of the outer virtualenv, so I assumed that was supported behaviour.

I don't have a global python install, so I always use python via a virtualenv. For example, I have one virtualenv for my job, in which pipenv is installed, and then use pipenv to manage per-project environments and dependencies. Is t

[2017-09-08 15:55] kennethreitz commented on #488
You can set `PIPENV_IGNORE_VIRTUALENVS` environment variable to disable this feature.

[2017-09-08 16:38] ColMcp opened #497 "Tab completion under pipenv?"
macOS 10.12.6  Python 3.6.2  pipenv 6.1.6

When I run the CPython REPL from a standard shell tab completion is operative. When I run it via pipenv (`pipenv run python3`   or  `pipenv shell` then `python3`) tab completion is not operative.

Is this a bug, or a configuration failure on my part?

[2017-09-08 16:39] kennethreitz commented on #497
I'm not sure! Very interesting.

Can you test with a standard virtualenv and see if it's the same? Might be a pew side-effect.

[2017-09-08 16:40] ColMcp commented on #497
Tab completion is operative under a standard virtualenv.

[2017-09-08 16:41] kennethreitz commented on #497
Now create one with pew.

[2017-09-08 16:41] kennethreitz commented on #497
i believe it's `$ pew newvenv`

[2017-09-08 16:45] ColMcp commented on #497
The finger seems to point at pew  ...  tab completion is not operative.

[2017-09-08 16:54] kennethreitz commented on #497
Let's open an issue over there and link to it here!

[2017-09-08 16:57] ColMcp commented on #497
Will do.

[2017-09-08 16:57] kennethreitz commented on #497
✨🍰✨

[2017-09-08 17:01] kennethreitz commented on #497
so aparently this code activates tab complete:

[code]

[2017-09-08 17:02] kennethreitz commented on #497
when i run this, it enables autocomplete.

[2017-09-08 17:02] kennethreitz commented on #497
maybe this code is being excluded from `site.py` or something, in pew.

[2017-09-08 17:07] ColMcp commented on #497
I opened https://github.com/berdario/pew/issues/150

[2017-09-08 17:08] kennethreitz opened #498 "xonsh support"
we apparently don't work well on xonsh, according to @astronouth7303

[2017-09-08 17:09] ColMcp commented on #497
Will use the rlcompleter / readline code as a fix for now. Thanks!

[2017-09-08 17:14] kennethreitz commented on #497
Thanks for noticing this!

[2017-09-08 17:25] astronouth7303 commented on #498
So, as a general rule: venv tools don't work on xonsh, because we have 0 bourne compatibility.

xonsh has its own tool called [vox](http://xon.sh/python_virtual_environments.html) that manages, activates, and deactivates virtual envs in python. By default, it stores venvs in `~/.virtualenvs` and will manage them when called.

I've written `xontrib-avox` that does this automatically based on the cu

[2017-09-08 17:43] ColMcp commented on #497
Rather than the `parse_and_bind` call shown above I had to use
        `readline.parse_and_bind('bind ^I rl_complete')` .

 Maybe it's a macOS thing.

[2017-09-08 18:45] techalchemy opened #499 "Version resolution mismatch between PyPI and pip for non-semver packages causes keyerrors when installing dependencies"
The pip version resolver strips leading zeroes for semver compliance when parsing version information for packages, but the pypi json api retains them.

[code]

**Pip Resolver**

[code]

**PyPI Json API**

[code]

[2017-09-08 18:45] kennethreitz commented on #497
Interesting, it worked for me on MacOS.

[2017-09-08 18:46] techalchemy commented on #499
My proposal would be that we just run the version dictionary keys through the same version parser that pip is using.  I'll throw a PR together

[2017-09-08 18:53] kennethreitz commented on #499
@techalchemy sounds great!

[2017-09-08 19:13] ColMcp commented on #497
`site.py` from the Python library has the following code in `enablerlcompleter()`

        # Reading the initialization (config) file may not be enough to set a
        # completion key, so we set one first and then read the file.
        readline_doc = getattr(readline, '__doc__', '')
        if readline_doc is not None and 'libedit' in readline_doc:
            readline.parse_and_bind('bind ^I r

[2017-09-08 19:34] kennethreitz commented on #497
@ColMcp can you add this as a comment on https://github.com/kennethreitz/pipenv/issues/497#issuecomment-328190362 ?

[2017-09-08 19:45] kennethreitz opened #500 "don't create a virtualenv when --system is being used"

[2017-09-08 19:56] kennethreitz commented on #500
as a side-effect, disable --legacy mode for lock.

[2017-09-08 19:56] kennethreitz commented on #500
or just delete it.

[2017-09-08 22:57] pior opened #502 "KeyError: 'hashes' during pipenv install --dev"
I got a crash when running  `pipenv install --dev flake8-import-order`:

[code]

[code]

[code]

[2017-09-08 23:35] #499 closed

[2017-09-08 23:37] kennethreitz commented on #502
thanks for the report!

[2017-09-08 23:38] techalchemy commented on #502
@pior can you share the contents of your Pipfile and your Pipfile.lock?

I suspect you weren't able to connect to PyPI briefly and therefore you don't have any hashes in your lockfile.  Try to run pipenv lock again and see if it works

@kennethreitz is there any reason not to include a key 'hashes' with an empty list if we fail to get any hashes from pypi/pip?

[2017-09-09 01:32] kennethreitz commented on #502
yes let's do that.

[2017-09-09 01:35] kennethreitz commented on #502
done

[2017-09-09 01:47] kennethreitz commented on #502
Closing as fixed. I know what caused this. It's been addressed. Sorry about the bug!

[2017-09-09 01:47] #502 closed

[2017-09-09 03:30] pior commented on #502
Wow! Thanks @kennethreitz @techalchemy :1st_place_medal:

[2017-09-09 11:29] patrick91 commented on #468
I have the same issue when trying to install a dev version of graphene:

[code]

This works with standard pip

[2017-09-09 13:49] kennethreitz commented on #468
there is now a --verbose mode

[2017-09-09 13:55] #500 closed

[2017-09-09 13:55] kennethreitz commented on #500
done! ✨🍰✨

[2017-09-09 14:43] Diggsey commented on #488
That works, thanks. I can no longer run binaries from the outer virtualenv (eg. I used to use `pipenv run ipython`, where ipython was installed in the outer virtualenv, and it would be able to import stuff from the pipenv) but that's just a nice to have.

[2017-09-09 14:43] kennethreitz commented on #488
I don't think that was every intended to work :)

[2017-09-09 14:44] kennethreitz commented on #488
We might be able to add that though...

[2017-09-09 15:28] kennethreitz commented on #480
this was just added in master!

[2017-09-09 15:28] kennethreitz commented on #480
Wasn't easy, but it works!

[2017-09-09 15:56] kennethreitz commented on #488
okay, master now has a `pipenv run --system ipython` capability. added just for you :)

it doesn't work on windows. this never worked before, fyi.

[2017-09-09 16:13] kennethreitz commented on #502
will release shortly

[2017-09-09 17:44] techalchemy opened #504 "Allow file:// uris as pipenv paths"
- Any reason not to?
- PR incoming

[2017-09-09 18:25] Diggsey commented on #488
I work on windows unfortunately 😛 I must have been thinking of running `pipenv shell`, followed by `ipython`, which *will* use the outer ipython in the inner virtualenv.

[2017-09-09 18:26] kennethreitz commented on #488
yes, that should work fine.

[2017-09-09 18:26] kennethreitz commented on #488
if you can find a way to give us 'which ipython' in windows, we can make this work on windows too.

[2017-09-09 18:27] astronouth7303 commented on #498
@laerus

[2017-09-09 18:29] Diggsey commented on #488
Windows has `where ipython` which behaves the same as `which` on linux.

[2017-09-09 18:29] kennethreitz commented on #488
ah!

[2017-09-09 18:32] kennethreitz commented on #488
okay landed a patch in master for this then

[2017-09-09 18:32] kennethreitz commented on #504
sure!

[2017-09-09 18:32] #504 closed

[2017-09-09 18:33] kennethreitz commented on #480
this is now released.

[2017-09-09 18:33] #480 closed

[2017-09-09 18:35] Diggsey commented on #488
Cool, thanks!

[2017-09-09 18:37] techalchemy commented on #488
@kennethreitz @Diggsey this is true with the caveat that you should make sure to call it `where.exe` explicitly, possibly you will want to reference it's absolute path on windows (`C:\windows\System32\where.exe` in case `C:\windows\System32` is not on the path).  This will ensure that on windows 10 and for users using powershell they will still get a result from this command.

Reference: [Is there

[2017-09-09 18:40] Diggsey commented on #488
@techalchemy that's only relevant when typing `where` into powershell manually - programmatically calling `where`, such as via `ShellExecute` always calls `where.exe`.

[2017-09-09 18:41] Diggsey commented on #488
Also, if `System32` (or the wow64 equivalent for 32-bit programs) is not on PATH, everything will break anyway.

[2017-09-09 18:42] kennethreitz commented on #488
ugh i'll revert my commit

[2017-09-09 18:42] nonylene commented on #488
FYI: We can use `os.execlp` without parsing `which` output :) https://docs.python.org/3.6/library/os.html#os.execlp

[2017-09-09 18:43] kennethreitz commented on #488
ah yay

[2017-09-09 18:49] techalchemy commented on #488
@Diggsey you don't need to have system32 on your path in an interactive shell on windows...

![image](https://user-images.githubusercontent.com/954310/30242925-13da931e-956e-11e7-85aa-0edbc66ede95.png)

[2017-09-09 19:01] philfreo commented on #468
`--verbose` didn't seem to tell me anything more useful:

[code]

[2017-09-09 19:01] kennethreitz commented on #468
oh it's `lock --verbose`

[2017-09-09 19:16] philfreo commented on #468
Thanks - that's helpful.

It seems maybe my issue is that my `editable = true` packages that refers to a specific git sha (of a fork of a pypi module) does _not_ show up in ROUND 1 "Current constraints". So instead, this forked package isn't showing up as a constraint until Round 2 when another dependency expects it, however I think it's then trying to use a standard/published version instead of m

[2017-09-09 19:33] Diggsey commented on #488
You don't, but a lot of software already depends on it being there - both programs which use utilities like `where.exe`, and also anything that links to DLLs from that location, since on windows PATH is used for loading shared libraries too.

[2017-09-09 19:39] techalchemy commented on #468
@philfreo it would be more helpful if you provided the output so that we could also look at it

[2017-09-09 21:28] sbidoul opened #508 "question about locking of vcs requirements"
When we `pip install` then `pip freeze` an editable vcs requirement, the frozen requirements include all dependencies and the sha of the editable requirements.

With pipenv the dependencies of editable vcs requirements do not appear in Pipfile.lock, nor the sha of the installed version.

[code]

Since the installed package depends on `click` I expect to see it in the locked dependencies.
I also ex

[2017-09-09 21:30] sbidoul commented on #508
The example above requires #507

[2017-09-09 21:36] allisonsnipes commented on #83
Its not fixed I still get the error when I try to run $ pipenv install (blank) its still a bad request.`-bash: pipenv: command not found`

[2017-09-09 21:39] allisonsnipes opened #509 "pipenv is not installing or running cmds"
`-bash: pipenv: command not found` is the error that I get when I install pipenv. I've tried everything from installing it to uninstalling it

I am writing this code ` pipenv install --system --skip-lock`

[2017-09-10 00:13] kennethreitz commented on #509
sounds like you have a problem with your system python installation, or your user paths. I'd recommend adding the directory that pipenv is installed to to your path.

[2017-09-10 00:13] #509 closed

[2017-09-10 00:16] kennethreitz commented on #83
@allisonsnipes your issue is unrelated

[2017-09-10 05:05] erinxocon opened #510 "CLI is broken with v6.2.1 on my mac right now"
pipenv install --three
Sat Sep  9 23:02:15 2017
Traceback (most recent call last):
  File "/Users/erin/.local/bin/pipenv", line 7, in <module>
    from pipenv import cli
  File "/Users/erin/.local/venvs/pipenv/lib/python2.7/site-packages/pipenv/__init__.py", line 13, in <module>
    from .cli import cli
  File "/Users/erin/.local/venvs/pipenv/lib/python2.7/site-packages/pipenv/cli.py", line 82, in

[2017-09-10 13:30] aatishnn commented on #510
Same here on Ubuntu 16.04

[2017-09-10 14:02] kennethreitz commented on #510
fix already landed in master

[2017-09-10 14:09] kennethreitz commented on #510
deployed

[2017-09-10 14:09] #510 closed

[2017-09-10 14:10] kennethreitz commented on #508
I believe we do not currently resolve dependencies from VCS packages. That would be tricky.

[2017-09-10 14:13] kennethreitz commented on #497
Closing for https://github.com/berdario/pew/issues/150

[2017-09-10 14:13] #497 closed

[2017-09-10 14:22] kennethreitz commented on #508
We also don't resolve deps for file dependencies either.

[2017-09-10 14:23] kennethreitz commented on #508
pip-tools currently lacks this ability.

[2017-09-10 14:31] sbidoul commented on #508
FWIW, my use case is `pip install -e git+...@branch`  then `pip freeze` to get the exact commit used. This is fairly important when working with unreleased dependencies.

BTW, in the tricky department, everything depending on pip internals is [going to break](https://github.com/pypa/pip/pull/4700) with pip 10.0.

[2017-09-10 14:33] thepreacher opened #511 "Misconfigured shell (Fish)"
Hi, I'm on mac os and have fish as my shell. Apart from a bunch of aliases and a couple functions, I've not done anything special to my shell. Oh i use ITerm btw. However I can only get pipenv to work ok only if I `set -x PIPENV_SHELL_COMPAT 1`.

I understand from comments in other issues that, its as a result of a misconfigured shell. Thing is I've spent ages trying to figure out what has been mi

[2017-09-10 14:33] kennethreitz commented on #508
Yeah, luckily that's almost nothing on our side — it's all pip-tools dipping into pip's codebase. I hope they're up to the task!

[2017-09-10 14:34] kennethreitz commented on #508
We can see about adding refs to `.lock`...

[2017-09-10 14:58] kennethreitz commented on #508
Added :)

[2017-09-10 15:10] sbidoul commented on #508
sweet.

Is it normal it goes to the `develop` section of Pipfile.lock too? (I did not install with --dev, only -e)

[2017-09-10 15:12] #297 closed

[2017-09-10 15:12] kennethreitz commented on #437
fixed!

[2017-09-10 15:13] #437 closed

[2017-09-10 15:15] kennethreitz commented on #511
My config looks like this:

[code]

Note the `if status --is-login`.

[2017-09-10 15:16] #511 closed

[2017-09-10 15:16] kennethreitz commented on #508
that might be a bug.

[2017-09-10 15:17] kennethreitz commented on #508
try off master and see if the case is still the same, the logic's been re-written

[2017-09-10 15:17] kennethreitz commented on #508
you're right, it does end up in develop, grrr

[2017-09-10 15:18] kennethreitz commented on #508
found the bug

[2017-09-10 15:19] kennethreitz commented on #508
fixed

[2017-09-10 15:20] #508 closed

[2017-09-10 15:21] #436 closed

[2017-09-10 15:40] sbidoul commented on #508
Works fine now. Thanks!

Shall I open another issue to track the handling of dependencies of editable vcs requirements?

[2017-09-10 16:07] kennethreitz commented on #508
sure

[2017-09-10 16:15] sbidoul opened #512 "locking dependencies of editable vcs requirements"
When we `pip install` then `pip freeze` an editable vcs requirement, the frozen requirements include all dependencies.

With pipenv the dependencies of editable vcs requirements do not appear in Pipfile.lock.

Example:

[code]

Since the installed package depends on `click` I expect to see it in the locked dependencies.

pip-tools lacks this capability (https://github.com/kennethreitz/pipenv/issue

[2017-09-10 16:17] sbidoul opened #513 "support pip --src option"
When installing editable vcs requirements it is often desirable to control the place where they are downloaded. This is particularly desirable when installing from very large git repos.

pip does this with the --src option

`pipenv install` should support this option and forward it to pip.

[2017-09-10 16:19] kennethreitz commented on #513
I don't want to engourage the use of vcs dependencies, so we may not do this.

[2017-09-10 16:54] HeyHugo commented on #468
I think I'm having the same problem after installing a package: `sqlalchemy-bulk-lazy-loader`

[code]

[2017-09-10 17:06] sbidoul commented on #513
Well, I'm just trying to experiment and see if pipenv can cover our day-to-day use cases.

This and #512 are the show stoppers.

[2017-09-10 17:43] uranusjr opened #514 "Exclude Pipfile.lock from the repository"
Reading #501 makes me wonder whether it is a good idea to check in Pipfile.lock for this particular project (Pipenv). Reading discussions about other similar tools (SO entry on [Bundler](https://stackoverflow.com/q/4151495/)) it seems it is generally recommended to include the lock file if you want everyone to work on the same dependencies (e.g. developing an application), but exclude if you inten

[2017-09-10 17:58] ignacio-chiazzo opened #515 "Command "python setup.py egg_info" failed with error code 1 i"
`Pipenv install` is trying to install a library on a different python version.

I set pipenv to python 3.4.2 version, however, when I run `pip install` I get the following error :

<img width="1202" alt="screen shot 2017-09-10 at 1 54 04 pm" src="https://user-images.githubusercontent.com/11672878/30251552-891c90fc-962f-11e7-8e86-c8af3caa21ef.png">

And as you can see it's trying to install a libra

[2017-09-10 19:41] AlJohri opened #516 "failed on vcs url in my requirements.txt?"
hi, @kennethreitz. I tried running `pipenv install` in a repository with an existing requirements.txt. I didn't get any errors but it only ported half of my requirements. This is my requirements file:

[code]

The Pipfile that was output was:
[code]

Seems like it failed on the Jinja2 git url silently?

[2017-09-10 21:45] kennethreitz commented on #468
I think this is a problem with piptools, not pipenv.

[2017-09-10 21:47] kennethreitz commented on #516
looks like it. want to help fix? :)

[2017-09-10 22:17] Spareo opened #518 "Can't Get pipenv to work on OS X"
I am running OS X Sierra (10.12.6) and have python 2.7.13 installed via home bre

When I do a pip install --user pipenv I get
[code]

When I navigate to a new directory and do `pipenv install` it always fails with this stack trace
[code]

I have the following paths exported in my .bash_profile
`export PATH="/usr/local/opt/python/libexec/bin:/usr/local/bin:/usr/local/sbin:$PATH"`

Output from `pipe

[2017-09-11 00:17] pcattori commented on #339
@guyzmo i found myself making [another tool](https://github.com/pcattori/snek) to manage dependencies for `setup.py`. and actually i am just doing away with `setup.py` altogether and replacing it with a static file (`json` for now but will use `toml` later). its a pet project for now.

curious to see if it addresses your use-case at all or what you have learned about this stuff so far

[2017-09-11 01:21] uranusjr commented on #518
You used the `--user` flag, but did not set the appropriate PATH. Add `"$HOME/.local/bin"` to it.

[2017-09-11 01:32] Spareo commented on #518
I just tried that and got the same error after sourcing/restarting terminal.

I tried to uninstall pipenv and reinstall with --user flag and have that path in PATH variable but now I can't call pipenv from terminal at all.

This is my .bash_profile now
[code]

Should I try to reinstall it without --user? Do I need to remove all the other dependencies first if I do?

[2017-09-11 01:35] Spareo commented on #518
I just went ahead and did the last thing I said in my previous message and now its working again. Not sure what --user was doing exactly, I was following instructions from http://docs.python-guide.org/en/latest/dev/virtualenvs/

[2017-09-11 01:35] #518 closed

[2017-09-11 01:56] uranusjr commented on #518
You can find more information about the `--user` flag in [PEP 370](https://www.python.org/dev/peps/pep-0370/). And did you read that yellow box under the instruction telling you to add `~/.local/bin` (effectively the same as `$HOME/.local/bin`) to PATH?

[2017-09-11 02:25] Spareo commented on #518
Well the yellow box says to add the USER_BASE path to my $PATH but I did miss the part about the bin part. I added the actual USER_BASE instead of USER_BASE/bin. That was probably the issue.

The output from `python -m site` on my machine is:

[code]

So I added `/Users/dmitryk/Library/Python/2.7` to $PATH and it didn't work but I should have added  `/Users/dmitryk/Library/Python/2.7/bin`. Ooops.

[2017-09-11 10:04] alexjg opened #520 "Any way to force reinstall of package"
I'm running into an issue with `psycopg2` which I'm pretty certain is caused by the psotgresql libraries on my host having changed. I can fix the issue by uninstalling and reinstalling the library using `pip` in the virtualenv. Is there any way to do this directly via `pipenv`, something like `pipenv install --force-reinstall`?

[2017-09-11 12:54] guyzmo commented on #339
@pcattori sounds promising, though are you adressing the issue of abstract vs concrete deps management? Also, have you considered using the standard files (setup.cfg, Pipfile…) instead of adding yet another one?

[2017-09-11 13:54] pcattori commented on #339
@guyzmo yes i am planning on handling abstract vs concrete dependencies. specifically, the `add` command will update the entry in the project's `json` config (which is doing the job that `setup.py` was doing) and though I haven't added all the functionality yet, it will allow users to specify abstract vs concrete dependencies as necessary.

I have briefly considered using existing standard files l

[2017-09-11 13:56] kennethreitz commented on #520
uninstall followed by install will do the trick.

[2017-09-11 13:56] #520 closed

[2017-09-11 13:57] kennethreitz commented on #520
or 'update' which will reinstall all dependencies.

[2017-09-11 14:18] bofm opened #521 "ignore-pipfile option doesn't work"
[code]

Current dir is `/Users/x/myproject/opt` and `--ignore-pipfile` flag is set, but Pipenv uses `/Users/x/myproject/Pipfile`.

[2017-09-11 14:43] kennethreitz commented on #521
thanks for the report!

[2017-09-11 14:45] kennethreitz commented on #521
Wait, it's using `Pipfile.lock` here, and working as expected.

Note the `Installing dependencies from Pipfile.lock...`

[2017-09-11 14:45] #521 closed

[2017-09-11 14:47] kennethreitz commented on #516
cannot reproduce with latest.

[2017-09-11 14:47] kennethreitz commented on #516
working as expected:

[code]

[2017-09-11 14:47] #516 closed

[2017-09-11 14:48] kennethreitz commented on #515
Did you install pipenv with Python 2.7? It's using that pip to resolve the dependencies.

[2017-09-11 14:50] kennethreitz commented on #514
lockfiles are generally encouraged to be included in source control, for applications.

For us, it might not make sense. But, it's a learning experience, so we're doing it for now. I may remove it.

The system information is there just as meta-data.

[2017-09-11 14:51] AlJohri commented on #516
is that latest HEAD or stable?

[2017-09-11 14:52] #514 closed

[2017-09-11 14:53] kennethreitz commented on #513
I'll see about passing arbitrary flags to pip instal

[2017-09-11 14:56] kennethreitz commented on #513
On master:

[code]

[2017-09-11 14:57] #513 closed

[2017-09-11 14:58] kennethreitz commented on #512
This is definately out of scope for now — until pip-tools grows this ability — I'd raise the issue over there.

[2017-09-11 14:59] sbidoul commented on #513
Cool. That reminds me [pip supports environment variables](https://pip.pypa.io/en/stable/user_guide/#environment-variables) (such as PIP_SRC in this case). So maybe it's not necessary to complexify pipenv with that.

[2017-09-11 14:59] kennethreitz commented on #516
There's a failing test, but everything appears to be working fine.

[2017-09-11 14:59] kennethreitz commented on #516
Will cut a release as soon as i get the test to pass.

[2017-09-11 15:02] kennethreitz commented on #513
Ah wonderful! I'll remove this then.

[2017-09-11 15:03] kennethreitz commented on #513
Removed. Use the pip flags :)

[2017-09-11 15:03] kennethreitz commented on #513
I'll add a note to the docs.

[2017-09-11 15:07] bofm commented on #521
Is it possible to force conversion of requirements.txt in the current directory?

[2017-09-11 15:09] kennethreitz commented on #521
then pipenv will treat the parent directory as the home directory.

i recommend moving the folder elsewhere for the migration, then moving it back.

[2017-09-11 15:10] kennethreitz commented on #521
maybe i can add a -r flag to install

[2017-09-11 15:15] bofm commented on #521
that would be great. thank you.

[2017-09-11 15:16] kennethreitz commented on #521
working on it!

[2017-09-11 15:35] kennethreitz commented on #521
Done!

[2017-09-11 15:35] kennethreitz commented on #521
will be in the next release :)

Thanks for the feedback!

[2017-09-11 15:36] kennethreitz commented on #513
Added :) ✨🍰✨

[2017-09-11 15:43] kennethreitz commented on #514
Exlcuded lock from out repo.

[2017-09-11 15:44] kennethreitz commented on #468
Let's get this fixed in pip-tools. I'm comitter over there too, so if you have a patch that fixes it, i'll merge it.

[2017-09-11 15:44] #468 closed

[2017-09-11 15:45] kennethreitz commented on #508
✨🍰✨

[2017-09-11 18:27] kennethreitz commented on #521
released!

[2017-09-11 20:41] joshourisman opened #522 "Dependency resolution issues preventing install"
With pipenv version 6.2.3 I'm experiencing an issue where my Pipfile simply won't install. I've manage to pare my Pipfile down until I have this, very small failing one:

[code]

My larger Pipfile that I extracted this from contains an explicit pytz requirement, so that doesn't seem to be the problem. I've tried locking different versions of both packages, I've tried using Python 2 and 3, but no m

[2017-09-11 21:21] kennethreitz commented on #522
looks like django-reversion is poorly packaged.

[2017-09-11 21:48] techalchemy commented on #522
I can take a look at this when I get home

[2017-09-11 22:10] kennethreitz commented on #522
the problem is `django-reversion` is not able to install deterministically, due to the fact that it's importing and utilizing django in it's setup.py, which is a big no-no.

[2017-09-11 23:26] rdemetrescu commented on #459
So, I discovered my ```.zprofile``` isn't sourced at all at my Ubuntu installation.
I changed my ```.zshenv``` to do all ```pyenv``` stuff within sentinel.

[code]

Everything is running fine now. I am able to do a ```pipenv shell```.

[2017-09-12 02:21] kennethreitz commented on #522
fixed. the impossible was fixed.

[2017-09-12 02:27] techalchemy commented on #522
See b5e8d8fb

[2017-09-12 03:23] kennethreitz commented on #522
released!

[2017-09-12 04:38] erinxocon opened #523 "v6.2.4 broken on python2.7 unix"
[v6.2.4](https://github.com/kennethreitz/pipenv/releases/tag/v6.2.4) broken on travis `python2.7` because of Unicode stuff.

Should be an easy fix.  Somehow windows is passing in 2.7.

https://travis-ci.org/kennethreitz/pipenv/jobs/274444968

[2017-09-12 06:28] cab2753 opened #524 "Re-add support for --no-hashes"
It would be nice to be able to run `pipenv lock -r --no-hashes` to generate the contents of requirements.txt without hashes.

It looks like support for this was removed recently. However, it is still a documented feature:
http://docs.pipenv.org/en/latest/advanced.html

This is the output in 6.2.4:
[code]

[2017-09-12 08:40] bofm opened #525 "update doesn't work"
[code]

[2017-09-12 13:34] joshourisman commented on #522
That seems to have done it! Thanks for the quick turnaround!

[code]

[2017-09-12 13:59] #522 closed

[2017-09-12 14:00] kennethreitz commented on #523
Thanks for the report!

[2017-09-12 14:11] kennethreitz commented on #524
I have no intention of disabling hashes again.

[2017-09-12 14:11] #524 closed

[2017-09-12 14:11] kennethreitz commented on #523
fixed

[2017-09-12 14:11] #523 closed

[2017-09-12 14:35] kennethreitz commented on #525
this is currently intended to be run from within a project directory. I'll see if i can whip up a fix.

[2017-09-12 14:36] kennethreitz commented on #524
You can run `pipenv run pip freeze` for the file you want.

[2017-09-12 14:38] techalchemy commented on #524
@cab2753 to clarify, the `--no-hashes` option existed because earlier iterations of pipenv required a lot of network overhead to get hashes.  Having this option made sense because it was very slow.  We have addressed that problem so it no longer makes any sense to retain this functionality.  We should remove it from the documentation however

[2017-09-12 14:46] kennethreitz commented on #524
Removed.

[2017-09-12 14:51] #525 closed

[2017-09-12 15:39] xennygrimmato opened #527 "Running pipenv --three in an empty directory shows Requirements.txt found"
I am trying out pipenv on Mac OS X 10.11.3 - running ZSH on iTerm.

The steps that I followed are:
- mkdir test_pipenv
- cd pipenv
- pipenv --three

Pipenv's logs showed: `Requirements.txt found, instead of Pipfile! Converting…` - even though I the directory was empty.
Later, it threw a ValueError for an unknown locale.

[code]

[2017-09-12 15:56] techalchemy commented on #527
There are several issues going on here.  Firstly it seems you have installed pipenv and pew  with python2 and not with a user-level install per the documentation.  Secondly, your shell is misconfigured and you are not setting your locale in your `~/.zprofile`.  You should add these lines:

[code]

Then you can run, from the command line: `source ~/.zprofile`

Note that you would have found this if

[2017-09-12 15:59] nateprewitt commented on #527
I think @techalchemy summed up everything here, so I'm going to close this out. Thanks @techalchemy and @xennygrimmato!

[2017-09-12 15:59] #527 closed

[2017-09-12 16:41] kennethreitz commented on #527
Let's add this to our output if they aren't defined.

[2017-09-12 16:43] kennethreitz commented on #527
maybe...

[2017-09-12 16:44] kennethreitz commented on #527
maybe not.

[2017-09-12 16:50] kennethreitz commented on #527
<img width="803" alt="screen shot 2017-09-12 at 12-2 49 49 pm" src="https://user-images.githubusercontent.com/119893/30338236-f02bf780-97b8-11e7-8744-648b092ad987.png">

[2017-09-12 18:10] goern opened #528 "$PATH for shell and run is different"
Why is $PATH different when using `pipenv shell` or `pipenv run`?

[code]

[2017-09-12 18:24] techalchemy commented on #528
Because only one of them actually modifies your path. Pipenv is a dependency manager, when you use it it does not _activate_ your virtualenv.

`pipenv run` does not touch your path, it simply uses your virtualenv to look for an executable.  In this case, `pipenv run python` runs the python pipenv found in your project virtualenv.

`pipenv shell` however, promises a subshell with access to the envi

[2017-09-12 18:35] #528 closed

[2017-09-12 18:46] jacebrowning commented on #528
I think this is a regression from when this functionality was intentionally added in 5.4.2 ("Compatibility improvement with `run`"):

[code]

vs now:

[code]

[2017-09-12 18:47] kennethreitz commented on #528
It was added but then removed, as it is not necessary.

[2017-09-12 18:47] kennethreitz commented on #528
We can always add it back in, but would require some thinking.

[2017-09-12 18:50] jacebrowning commented on #528
It's necessary if I want to run any command that might call another command in the virtual environment. https://github.com/kennethreitz/pipenv/issues/378#issuecomment-306855801 outlines another use case (test runners).

The workaround is messy and not easy to type:

[code]

[2017-09-12 18:58] kennethreitz commented on #522
✨🍰✨

[2017-09-12 19:00] kennethreitz commented on #528
It was removed because it was causing problems for some users, so the code will need to be carefully re-evaluated. It's commented out, currently.

[2017-09-12 19:01] kennethreitz commented on #528
oh i spoke too soon!

[2017-09-12 19:02] kennethreitz commented on #528
`pipenv run --system` now exists, which changes the path for you.

[2017-09-12 19:02] kennethreitz commented on #528
`$ pipenv run --system honcho start`

[2017-09-12 19:07] jacebrowning commented on #528
OK. That seems to work.

The name of the option is a bit misleading to me for the behavior described on this issue:

[2017-09-12 19:07] kennethreitz commented on #528
That's what it does.

[2017-09-12 19:09] jacebrowning commented on #528
But in this case, I want to use the executables in the virtual environment, not the system.

[2017-09-12 19:10] techalchemy commented on #528
@kennethreitz we should update the argument and documentation to indicate that **first** it looks in the virtualenv, **then** it falls back to the system executables

I can understand the confusion, we describe a fallback behavior but don't indicate how that is performed (it is impossible to fallback to system executables unless we are looking for things on the path in the first place, which is wh

[2017-09-12 19:10] kennethreitz commented on #528
@jacebrowning you're a special case :)

[2017-09-12 19:12] goern commented on #528
I see, so the trick for https://github.com/kennethreitz/pipenv/blob/master/pipenv/cli.py#L1425-L1427  is really to `which(python)`, where I thought that it is obvious which python to use and skipped it...

[2017-09-12 19:14] jacebrowning commented on #528
Do you recall what those cases where?

To me, having this display anything other than the virtual environment's Python seems strange:

[code]

[2017-09-12 19:15] kennethreitz commented on #528
run `venv/bin/python` directly, you'll get the same result.

[2017-09-12 19:19] kennethreitz commented on #528
virtualenv's primary job is to give you a working python installation, in addition to the help it provides you with your shell. `pipenv run` is also only doing that one thing — giving you a working installation, with minimal interference, and that's why `--system` was added, for people like you.

[2017-09-12 19:22] goern commented on #528
maybe its a RFE to delegator to add the pipenv managed virtualenv to the path automagically?!

[2017-09-12 19:23] kennethreitz commented on #528
P.S. if you use full paths, `--system` is used automatically

[2017-09-12 19:38] jacebrowning commented on #528
I'm hoping that with `pipenv` I will no longer need to worry about managing virtual environments because `pipenv` will activate them automatically when needed.

But, if `pipenv run python myscript.py` _sometimes_ behaves differently than running the script in the manually activated virtual environment, then I'll always have to do the latter and the utility of `pipenv run` is lost on me. Having `pi

[2017-09-12 19:39] kennethreitz commented on #528
I'd like to have `--system` be default, but I need more people to try it out first. We had someone report an exception, and that's enough reason to pull it out of default for now.

[2017-09-12 19:41] goern commented on #528
So what is the test case?
[code]

This should put a binary in the virtualenv that should be executable via `pipenv shell`. Or is that to trivial?

[2017-09-12 19:42] kennethreitz commented on #528
the test case is `pipenv run --system deptree`.

[2017-09-12 19:44] techalchemy commented on #528
@goern @jacebrowning ideally as Kenneth mentioned the default behavior of `pipenv run` would be that of `pipenv run --system` but there was an issue with this in the past.  I don't have time to dig it up right now and I suspect he doesn't either but I'd be curious to revisit it if someone can find it

[2017-09-12 19:45] kennethreitz commented on #528
The code just needs to be rigified.

[2017-09-12 19:45] kennethreitz commented on #528
e.g. if there's any failure, fallback to our current behavior.

[2017-09-12 20:18] ruslanoid opened #529 "the recent addition of the 'CADUCEUS' (U+2624) symbol to helps causes UnicodeDecodeError exceptions"
File "/tmp/tt/bin/pipenv", line 11, in <module>
    sys.exit(cli())
  File "/tmp/tt/lib/python2.7/site-packages/pipenv/vendor/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/tmp/tt/lib/python2.7/site-packages/pipenv/vendor/click/core.py", line 697, in main
    rv = self.invoke(ctx)
  File "/tmp/tt/lib/python2.7/site-packages/pipenv/vendor/click/core.py", line 1

[2017-09-12 21:38] cab2753 commented on #524
Makes sense. I think it would be good to replace that part of the documentation with `pipenv run pip freeze`. Although it's very obvious I could have done that, I didn't even think of it!

[2017-09-12 22:44] kennethreitz commented on #528
rigified

[2017-09-12 23:03] kennethreitz commented on #528
released!

[2017-09-12 23:18] pcattori opened #530 "Automate python version management?"
`Pipfile`s have a `[require]` section where `python_version` can be specified.

Currently AFAIK it is up to the user to manually install that version of Python on their machine and pass it to `pipenv` via the `--python` flag.

I think its desirable to:
(1) automatically download/install a new Python version if there are no existing Python versions compatible with the project already on the machine

[2017-09-12 23:42] jacebrowning commented on #528
Tested with `pipenv==6.2.7`. Works great! Thanks @kennethreitz!  🎉

[2017-09-12 23:45] edubxb opened #531 "IndexError: list index out of range"
With the last version, 6.2.7, when running `pipenv` I got this error:

[code]

Also, when using the `shell` subcommand:

[code]

[2017-09-13 01:09] kennethreitz commented on #528
thanks for your persistience @jacebrowning :)

[2017-09-13 02:30] kennethreitz commented on #531
nice catch!

[2017-09-13 02:32] kennethreitz commented on #531
This is what open source is all about! next release is out, which fixes this.

[2017-09-13 02:32] #531 closed

[2017-09-13 02:33] kennethreitz commented on #529
You need to have your locale set on your machine.

[2017-09-13 02:33] kennethreitz commented on #529
Make sure `LANG` is set.

[2017-09-13 02:36] kennethreitz commented on #529
new release is out, which removes this.

[2017-09-13 02:36] #529 closed

[2017-09-13 02:37] kennethreitz commented on #530
Maybe. Maybe not.

[2017-09-13 02:37] kennethreitz commented on #530
I'll play with it.

[2017-09-13 02:38] kennethreitz commented on #530
@pcattori we can't use fstrings, as they're incompatible with python 2.

[2017-09-13 02:41] kennethreitz commented on #530
pyenv doesn't install on my machine — looks like they're having problems.

we already have a dependency on `pythonz`, so might make sense to go off that.

[2017-09-13 05:57] kennethreitz commented on #530
not doing this. but, got one step closer

[2017-09-13 05:59] kennethreitz commented on #530
https://github.com/kennethreitz/pipenv/pull/532

[2017-09-13 05:59] #530 closed

[2017-09-13 10:22] sobolevn opened #533 "pipenv does not work when installed via pipsi"
## Versions

 - `pipenv` version: `7.0.0`
-  `pipsi --version`: pipsi, version 0.9, python /usr/local/opt/python/bin/python2.7

OS: `macos 10.11.6`

## Steps to reproduce

1. `pip install pipsi`
2. `pipsi install pipenv`
3. `pipenv --three` or `pipenv --two`

## Output

With `--three`:

[code]

And `--two`:

[code]

[2017-09-13 10:42] uranusjr commented on #533
Did you `pipsi install pew`?

http://docs.pipenv.org/en/latest/advanced.html#fancy-installation-of-pipenv

[2017-09-13 13:00] Hexxeh opened #534 "--ignore-hashes is treated as a package name, not an option flag"
When running the example command at the bottom of this page: http://docs.pipenv.org/en/latest/advanced.html#pipfile-lock-security-features

The install process fails with `pkg_resources.RequirementParseError: Invalid requirement, parse error at "'--ignore'"`

It looks as if it's treating `--ignore-hashes` as a package name and exploding appropriately.

I checked back and this last worked in v5.3.3

[2017-09-13 13:44] kennethreitz commented on #534
This was removed from our docs, but there's a problem with them building currently.

[2017-09-13 13:44] #534 closed

[2017-09-13 13:45] kennethreitz commented on #533
The docs say to `pipsi install pew` too.

[2017-09-13 13:45] #533 closed

[2017-09-13 13:46] Hexxeh commented on #534
What should the docs say then? We use this flag because our developers use different OSes and so the hashes don't match. What's the replacement workflow?

[2017-09-13 13:49] kennethreitz commented on #534
This is now fixed, and hashes are included for all OS-es.

[2017-09-13 13:49] Hexxeh commented on #534
Oh perfect, thanks!

[2017-09-13 13:50] kennethreitz commented on #534
✨🍰✨

[2017-09-13 14:10] kennethreitz commented on #524
Will consider it!

[2017-09-13 14:14] kennethreitz commented on #459
✨🍰✨

[2017-09-13 14:14] kennethreitz commented on #459
For the record, there's also `pipenv run -c`, which runs in "compatibility mode" for less-well-configured shells.

[2017-09-13 14:17] kennethreitz commented on #534
Docs are now updated, finally. Having trouble with @readthedocs.

[2017-09-13 15:51] mjtamlyn opened #535 "Add an equivalent of `workon` from virtualenvwrapper"
Workon does two things. When executed with no args, it lists all available projects (i.e. venvs).

More helpfully, it streamlines the activation process when opening a new shell. This is super useful if you have dozens of projects you work on regularly. A possible syntax for pipenv could look like this:

[code]
(PS1's might not be right for pipenv behaviour, but you get the idea.

This streamlines

[2017-09-13 15:58] mjtamlyn opened #536 "Add an equivalent of `allvirtualenv` from virtualenv wrapper"
This utility allows an command to be executed across multiple different environments (by default all of them, but it would be cooler if certain ones could be specified.

It's massively useful when ubiquitous packages (like pip or wheel) are upgraded - just run `allvirtualenv pip install -U pip` and go grab a coffee. When you get back, all 143 virtualenvs on your dev box have the newest pip install

[2017-09-13 16:08] Hexxeh commented on #534
Hmm, I'm confused about what the expected behaviour is here. We upgraded to 7.0.0 and removed the --ignore-hashes, did pipenv lock on our OSX development laptop. It exploded in deployment where it's on Linux (same Python version).

Is the change that we  _can_ have multiple hashes, on a per platform basis, but you still need to generate them all with each change? If so, is the option to ignore has

[2017-09-13 16:24] rdemetrescu commented on #459
Amazing! I reverted my changes in ```.zshenv``` and tested ```pipenv shell -c```.
It worked like a charm.

[2017-09-13 16:51] kennethreitz commented on #536
this would be a good feature for `pew` though, which powers everything, so if it (either does or will) support this, you'll get the best of both worlds.

I'd open an issue over there.

[2017-09-13 16:52] kennethreitz commented on #535
I like this idea — it would automatically CD into the directory for you, too.

Unfortunately, we don't keep that information around in the virtualenv. We could add it, but it would only work on new virtualenvs going forward...

[2017-09-13 16:52] kennethreitz commented on #535
Also, would need to think of what would happen if there are two directories called 'requests'.

[2017-09-13 17:03] kennethreitz commented on #535
<img width="505" alt="screen shot 2017-09-13 at 1-1 03 11 pm" src="https://user-images.githubusercontent.com/119893/30390386-f08b833c-9883-11e7-9094-7bd2591dd4cb.png">

[2017-09-13 17:21] kennethreitz commented on #535
<img width="871" alt="screen shot 2017-09-13 at 1-2 19 54 pm" src="https://user-images.githubusercontent.com/119893/30391164-7800c604-9886-11e7-8d42-629817f33ff1.png">

[2017-09-13 17:47] kennethreitz commented on #535
okay ready

![](http://share.kennethreitz.org/381j2w341N1v/Screen%20Shot%202017-09-13%20at%201.45.12%20PM.png)

[2017-09-13 18:05] #536 closed

[2017-09-13 18:05] kennethreitz commented on #535
got really close to this working — but it was too slow to crawl the directory structure.

[2017-09-13 18:05] kennethreitz commented on #535
Tabling it for now — thanks for the idea!

[2017-09-13 18:05] #535 closed

[2017-09-13 19:41] kennethreitz commented on #534
Every release for each version is hashed now and stored in the lock file.

What do you mean by "exploded in deployment"?

[2017-09-13 20:22] brunokrebs opened #538 "pipenv --three generates an error on Mac OS X"
I had to manually set the `python` variable to the correct place in the `cli.py` file because it was, somehow, getting the wrong path.

`which('python')` was returning `/bin/python/` instead of the correct path.

This is the stack trace:

[code]

[2017-09-13 20:39] brunokrebs commented on #538
I had to replace a bunch of lines that were using `python = which("python")` by `python = "/Library/Frameworks/Python.framework/Versions/3.6/bin/python3"` to make it work. And also, I made similar changes to `which("pip")`. Of course, not the solution for this problem, but at least made it work around here.

[2017-09-13 20:43] frenetic opened #539 "Dependency resolution and package instalation behaves wrongly when we have packages and dev-packages in Pipfile"
This bug is, somehow, related to https://github.com/kennethreitz/pipenv/issues/298

Take this simple and small `Pipfile` as example:

[code]

Running `pipenv install --dev` will install Django on its latest version.

Generated `Pipfile.lock`

[code]

Notice how, inside `develop` we have Django at version `1.11.5`.
When we install with `--dev` it is overriding production requirements.

[2017-09-13 20:46] frenetic commented on #539
How I think `pipenv` should behave:

1. Generate `Pipfile.lock` for `packages` first, instead of doing this for `dev-packages` first.
2. When generating the `Pipfile.lock` for `dev-packages`, check if it is trying to install a `packages` dependency. Check if the `packages` requirement meets the `dev-packages` requirement.

[2017-09-13 21:03] kennethreitz commented on #539
This looks right to me, based on the current logic. They are treated as two independent lists.

[2017-09-13 21:05] kennethreitz commented on #538
which python was it finding?

Also, which version are you using?

[2017-09-13 21:10] frenetic commented on #539
I was reading the code and this is how the code behaves.
From this point of view, it does look right and it is not code bug.

However, at the end user point of view, it does not make any sense.

Development dependencies should not override your production dependencies.
If this happens, developer machines/dockers/vagrants will be in a different consistency state from production, leading to bugs.

[2017-09-14 00:01] AlJohri opened #540 "issues with relative packages"
@kennethreitz I'm having trouble installing local packages in relative directories via `-e`.

<img width="769" alt="screen shot 2017-09-13 at 7 54 55 pm" src="https://user-images.githubusercontent.com/2790092/30406072-7008675e-98bd-11e7-8a60-bfb9f57cfe10.png">

This is the initial requirements.txt file:

[code]

This is what the converted Pipfile looks like:
[code]

`heliograf` in this case is the

[2017-09-14 00:07] AlJohri commented on #184
@kennethreitz what do you recommend instead of pyenv for python version management that works more seemlessly with pipenv?

[2017-09-14 00:20] techalchemy commented on #540
The actual problem you're experiencing seems to be that you have a setup.py file somewhere with an explicit pinned dependency on a version of heliograf that doesn't exist in a repository pipenv can query.  This is fine, because you have that package installed and you claim it is the right version, but note that even pip doesn't know which version it is because it is installed from VCS.  I'm not su

[2017-09-14 00:27] kennethreitz commented on #184
@AlJohri I use homebrew-installed python-2.7.13 and 3.6.2. That's all I need.

[2017-09-14 00:32] kennethreitz commented on #538
Closing this as cannot reproduce

[2017-09-14 02:38] kennethreitz commented on #539
I think we can resolve this by simply installing dev dependencies second.

[2017-09-14 02:41] #539 closed

[2017-09-14 02:42] kennethreitz commented on #539
fixed in master

[2017-09-14 02:45] #430 closed

[2017-09-14 02:49] kennethreitz commented on #540
try using an absolute path instead, see if that changes anything

[2017-09-14 03:06] AlJohri commented on #540
@techalchemy I think you misunderstand - this isn't a published package anywhere, it isn't installed directly from VCS, its installed from a relative path to my project. I don't intend to pin any specific version, I just want it installed as an editable package.

@kennethreitz that fixed it! I'd love to continue using a relative path in the Pipefile so I can use the same Pipfile with my collaborat

[2017-09-14 03:11] techalchemy commented on #539
BTW isn't this a duplicate of #298 and is that fixed as well now?

[2017-09-14 03:11] techalchemy commented on #298
was this fixed by 56aaa86a ?

[2017-09-14 03:12] AlJohri commented on #512
is there an issue in pip-tools for this that I can follow? if not, can you make one @sbidoul?

[2017-09-14 03:13] jacebrowning opened #541 "2nd-order dependencies missing from Pipfile.lock"
I believe the answer will be "astroid is packaged weird", but this package is [maintained by the PyCQA](https://github.com/PyCQA/astroid) and works fine with the `pip freeze > requirements.txt` workflow, so I'm assuming other packages might exhibit this behavior.

-----

[code]

`backports.functools-lru-cache`, `enum34`, and `singledispatch` are missing from the `Pipfile.lock` so future reinstalls

[2017-09-14 03:16] kennethreitz commented on #539
looks like it

[2017-09-14 03:17] kennethreitz commented on #541
Check `$ pip lock --verbose` for more details.

[2017-09-14 03:18] kennethreitz commented on #541
this might be a bug in pip-tools, albeit it would be a rather large one...

[2017-09-14 03:20] kennethreitz commented on #541
ah, i see what's happening.

[2017-09-14 03:20] kennethreitz commented on #541
Asteroid is packaged weird — very fancily, to be exact :)

[2017-09-14 03:21] jacebrowning commented on #541
FYI `$ pipenv lock --verbose` makes no mention of the missing packages.

[2017-09-14 03:28] techalchemy commented on #539
Nice, I had this flagged to fix whenever I had a chance

[2017-09-14 03:29] kennethreitz commented on #541
You should raise this issue up with pip-tools

[2017-09-14 03:32] jacebrowning commented on #541
@kennethreitz I've not used `pip-tools` directly. What use-case have I triggered here?

[2017-09-14 03:38] kennethreitz commented on #541
actually, i'm curious — what version of python are you running pipenv on?

[2017-09-14 03:40] kennethreitz commented on #541
Yep — you've installed it with Python 3. I'm going to have to work some magic here.

[2017-09-14 03:40] kennethreitz commented on #541
This is going to be *tough*.

[2017-09-14 03:42] techalchemy commented on #541
You should see:

[setup.py line 22](https://github.com/PyCQA/astroid/blob/master/setup.py#L22)

[code]

plus some fancy byte compilation for installation going on later. It's definitely fancy but I don't see anything _per se_ that would be a problem for pip-tools unless their packaging is importing dependencies circularly or isn't compiling properly.

[2017-09-14 03:43] kennethreitz commented on #541
pip tools is using the python version that's installed to resolve the dependencies — e.g the version that's being used to run pipenv, not the one in the virtual environment.

[2017-09-14 03:43] tryer3000 commented on #515
pip version:
`pip 9.0.1 from /home/joshua/.local/lib/python3.5/site-packages (python 3.5)`
python version:
`Python 3.5.2`

I was using pipenv to setup an `python2` venv when got this error
[code]

[2017-09-14 03:44] kennethreitz commented on #541
so a package name like `enum34>=1.1.3; python_version < "3.4"` will not resolve if you installed pipenv on python 3.6.

[2017-09-14 03:46] jacebrowning commented on #541
@kennethreitz Yeah, I have 3.6.1 set as my global Python and use pipenv's `--python=` option for projects that need something else. This generally only comes into play on projects that need to support many Python versions.

[2017-09-14 03:47] kennethreitz commented on #541
I'm going to see if I can fix this for you, but it won't be easy.

[2017-09-14 03:49] techalchemy commented on #541
@kennethreitz what are the obstacles to building the dependency graph and using that as a lockfile template?

[2017-09-14 03:49] kennethreitz commented on #541
we need to run the dependency graph in the client python interpreter — not within pipenv.

[2017-09-14 03:50] kennethreitz commented on #541
i think functions are pickleable, so it should be doable...

[2017-09-14 06:05] bulletmark commented on #15
I urge @kennethreitz to reconsider his comment here. Using [python3 -m venv](https://docs.python.org/3/library/venv.html) instead of virtualenv is recommended by the standard documentation. I am personally put off using pipenv because it uses virtualenv. I only use Python 3 and only use [venv](https://docs.python.org/3/library/venv.html)  nowadays.

[2017-09-14 06:20] uranusjr commented on #15
@bulletmark Now that Pipenv delegates almost all Virtualenv management to Pew it is even more difficult to switch. There is plan in pew to support `venv` however (berdario/pew#67) so there is still chance. If Pew can get it working it would be much easier (and make more sense to me at least) to implement `venv` support in Pipenv.

[2017-09-14 06:56] kennethreitz commented on #541
I can't believe I got this to work. Took some serious, serious digging.

[2017-09-14 06:59] kennethreitz commented on #541
<img width="669" alt="screen shot 2017-09-07 at 3-1 49 33 pm" src="https://user-images.githubusercontent.com/119893/30416070-b40abc46-98f8-11e7-8496-9a7db57f3376.png">

[2017-09-14 06:59] kennethreitz commented on #541
<img width="1431" alt="screen shot 2017-09-14 at 2-2 58 38 am" src="https://user-images.githubusercontent.com/119893/30416085-c2b93678-98f8-11e7-9ea8-0131a65b3e78.png">

[2017-09-14 08:21] sbidoul commented on #512
Problem is that I don't know pip-tools so I can't create a meaningful issue in that project. I'd need to do some research on the pip-tools api and how it is used by pipenv.

[2017-09-14 08:56] dlukes opened #542 "install "self""
Is there a way to specify in the Pipfile that the package (for which the Pipfile is being defined) **itself** shoud be installed inside the virtualenv, preferably as editable? I.e. basically running `pip install --editable .` in the directory where `setup.py` is stored.

This is useful for development e.g. in cases where you have subpackages and [run afoul of the limitations of relative imports](h

[2017-09-14 09:21] fogfish opened #544 "pipenv fails if which command is not installed"
We are using vanilla CentOs docker images.  pipenv fails with the error
[code]

How to reproduce:
[code]

How to fix:

it looks like `which` utility is required by pipenv
[code]

It would be nice to improve an error message of pipenv.

[2017-09-14 10:54] currycoder commented on #475
I've just run in to this issue myself, and the fix for me was to ensure that `/home/{{user}}/.local/bin` was present in my path `PATH`.  Note for linux users, this has to be the absolute path and not `~/.local/bin`.

[2017-09-14 11:05] currycoder commented on #475
It might be nice to make a note of this gotcha in the installation docs somewhere, I'd expect a few people to run in to it when trying out pipenv.  The `OSError` can be a little frustrating when everything points to `pew` being installed and runnable in a terminal.

Note, I was getting the same stack trace as OP;
[code]
The Popen call here is not called with `shell=True`, so `~` is not expanded to

[2017-09-14 12:56] techalchemy commented on #540
@AlJohri ah ok I misunderstood indeed, so it's attributing the following version pinning to the editable VCS version?

[code]

Is interpreted as `-e ../../lib/python == 0.10.0`?

As pipenv is a dependency manager I'm not sure it's a good idea to use relative paths with it.. the idea is to have a portable Pipfile, to any degree possible, without restricting the ability to still install stuff.  I th

[2017-09-14 12:57] techalchemy commented on #540
I use 'enforcement' loosely, I really mean 'resolution' -- we can resolve the paths when we either lock or do dependency resolutions or both

[2017-09-14 13:49] frenetic commented on #539
Thank you all for your time and effort.

[2017-09-14 13:54] simonpercivall opened #545 "Nice new colors unusable on white background"
The white text color of `pipenv graph` (for instance) isn't really easily readable on white backgrounds; it would be wonderful if it were.

Thanks.

[2017-09-14 14:19] kennethreitz commented on #545
Pipenv has a no color mode set `PIPENV_COLORBLIND=1`,

99% of people use black terminals. and, you can configure those colors, normally.

[2017-09-14 14:19] #545 closed

[2017-09-14 14:20] kennethreitz commented on #544
is which not part of the linux standard base?

[2017-09-14 14:21] kennethreitz commented on #542
`pipenv install -e .`.

[2017-09-14 14:21] #542 closed

[2017-09-14 14:29] #544 closed

[2017-09-14 14:30] kennethreitz commented on #544
Fixed!

[2017-09-14 14:40] dlukes commented on #542
Oh, perfect, thanks so much! I wouldn't have thought this would work :) Then I would just suggest documenting it, if time permits, it's a really handy feature.

[2017-09-14 14:57] kennethreitz commented on #541
switched it to using a context manager.

[2017-09-14 14:57] kennethreitz commented on #541
[code]

[2017-09-14 15:07] kennethreitz commented on #298
i think it's safe to say yes.

[2017-09-14 15:07] #298 closed

[2017-09-14 15:07] kennethreitz commented on #541
This took like 4 hours of work.

[2017-09-14 15:07] techalchemy commented on #541
This is one of the cleverer things... awesome fix

[2017-09-14 15:08] kennethreitz commented on #541
What it does, is it tells pip that we're using a Python other than the one we're actually using — the version info from the virtualenv. This makes Pip resolve `asteriod` properly.

Note that those packages will only show up if `requires_python` is specified in the `Lockfile`.

[2017-09-14 15:21] kennethreitz commented on #542
i was hoping it would be obvious :)

[2017-09-14 15:23] kennethreitz commented on #540
I think we should allow relative paths here, just not encourage their use.

[2017-09-14 15:23] kennethreitz commented on #540
Maybe even issue a warning that it's likely a bad idea.

[2017-09-14 15:24] kennethreitz commented on #475
I'll add a warning.

[2017-09-14 15:27] jacebrowning commented on #541
Testing what's on `master`, I'm running into `AttributeError: 'str' object has no attribute 'decode'` at https://github.com/pypa/pip/blob/022248f6484fe87dc0ef5aec3437f4c7971fd14b/pip/utils/__init__.py#L125, which sounds like the pip internals are getting confused about the Python version.

Is there a good place I could help add integration tests for installing specific packages with specific versi

[2017-09-14 15:29] AlJohri commented on #540
I rely on them pretty heavily in my "multi-app with shared library" repositories for storing utility functions, exceptions, maybe some data structures etc.

Why are they a bad idea?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Kenneth Reitz <notifications@github.com>
Sent: Thursday, September 14, 2017 11:23:53 AM
To: kennethreitz/pipenv
Cc: Al Johri; Mention
S

[2017-09-14 15:29] kennethreitz commented on #475
Warning added :)

[2017-09-14 15:30] kennethreitz commented on #475
<img width="591" alt="screen shot 2017-09-14 at 11-1 30 34 am" src="https://user-images.githubusercontent.com/119893/30438804-2904e8ae-9940-11e7-8630-734873db6d55.png">

[2017-09-14 15:32] kennethreitz commented on #541
@jacebrowning can you give me steps to reproduce that? I was just about to release this.

[2017-09-14 15:33] AlJohri commented on #540
I also find it hugely useful as an alternative to mucking around with PYTHONPATH or doing weird "import site; site.insert..." hacks and instead running "pip install -e" on a bunch of packages and now voila you can use them in your Jupyter notebooks and scripts that may happen to be in a different folder.

[2017-09-14 15:33] kennethreitz commented on #541
Yes, in the `tests` directory :)

[2017-09-14 15:34] kennethreitz commented on #540
Yeah, you know what you're doing. They're a bad idea for people that don't know what they're doing, basically.

[2017-09-14 15:35] kennethreitz commented on #512
Issue title: "Resolve dependencies for editable requirements, required by pipenv"

contents: the contents of this issue.

[2017-09-14 15:35] kennethreitz commented on #512
pip-tools is poorly maintained, so i doubt it'll happen.

[2017-09-14 15:36] kennethreitz commented on #512
I'm committer on it though, so if you write a patch to get this to work, I'll merge it!

[2017-09-14 15:37] kennethreitz commented on #15
@uranusjr sounds great!

[2017-09-14 15:37] kennethreitz commented on #15
I've personally never used `venv`, hence my apprehension towards it. I'm sure it's good, though.

Things are working well, right now. No need to change things that aren't broken.

[2017-09-14 15:40] kennethreitz commented on #515
sounds like you're having trouble installing a python module — not a pipenv problem ;)

[2017-09-14 16:00] kennethreitz commented on #541
@jacebrowning I don't see how that function would ever be called — what did you do?

[2017-09-14 16:12] jacebrowning commented on #541
I can provide some steps in about an hour.

[2017-09-14 16:14] kennethreitz commented on #541
Holding off a release until then.

[2017-09-14 16:15] kennethreitz commented on #541
Unless I change my mind — it's pretty battle-tested on my end.

[2017-09-14 16:19] kennethreitz commented on #541
k, going to release. we can always roll back later.

[2017-09-14 16:23] kennethreitz commented on #541
released!

[2017-09-14 16:23] #541 closed

[2017-09-14 16:45] mbarkhau opened #546 "Pipfile touched even on pipenv run"
I have a watch command tracking my `Pipfile` but on every call of `pipenv run` the command is executed, even if the file wasn't changed. I tracked this down to the call of `Project.touch_pipfile`. I'm not sure if it required, for `Pipfile` to be touched every time, probably it is just a side effect of calling  `cli.py@ensure_project`.

Would it be reasonable to only touch the `Pipfile` if it eithe

[2017-09-14 16:49] erinxocon opened #547 "Windows Tests"
Should just leave this issue open forever @kennethreitz...  Will be submitting a PR soon *sigh*

[2017-09-14 16:50] kennethreitz commented on #547
i'll get better about testing on windows, myself. About to spin up an installation on my windows box and see what unicode stuff needs to be fixed.

[2017-09-14 16:52] kennethreitz commented on #547
okay so our new progress bar is broken on windows. will revert for windows.

[2017-09-14 16:52] erinxocon commented on #547
The unicode stuff is really for windows 2.7.  3.x has other problems that I'm looking at.

[2017-09-14 16:52] kennethreitz commented on #547
I'm looking at 3 right now

[2017-09-14 16:53] kennethreitz commented on #547
UX stuff

[2017-09-14 16:57] kennethreitz commented on #547
okay got stuff working well on 3.x on windows.

[2017-09-14 17:01] erinxocon commented on #547
Still failing on app veyor.

[code]

[2017-09-14 17:04] kennethreitz commented on #547
ah, i can confirm that. will look into it.

[2017-09-14 17:15] erinxocon commented on #547
could it have to do with something around the python version check stuff that happens for the python_requires feature?

[2017-09-14 17:15] kennethreitz commented on #547
that's exactly what it is.

[2017-09-14 17:22] kennethreitz commented on #547
fixed it!

[2017-09-14 17:22] kennethreitz commented on #547
`shellquote` to the rescue!

[2017-09-14 17:32] jacebrowning commented on #546
I noticed this too. In my Makefiles, I run `pipenv install` when `Pipfile*` is newer than the installed dependencies, but now this runs all the time.

[2017-09-14 17:35] currycoder commented on #475
Great - looks good!

[2017-09-14 17:49] jacebrowning opened #548 "AttributeError: 'str' object has no attribute 'decode'"
Continued from https://github.com/kennethreitz/pipenv/issues/541#issuecomment-329518287

---

This issue is likely to show up on libraries that need to support both Python 2 and 3 where `pipenv` is being used to manage tooling. The feature:

is keyed off `python_version = "2.7"`, but to test that this project works with multiple versions of Python, my build matrix also runs with version of Python

[2017-09-14 17:50] jacebrowning commented on #541
My reproduction steps are on https://github.com/kennethreitz/pipenv/issues/548

[2017-09-14 18:14] kennethreitz commented on #546
Is this just annoying, or a real problem?

[2017-09-14 18:16] kennethreitz commented on #548
if you have `version_version` set, there's no need to specify `--python` now.

[2017-09-14 18:17] kennethreitz commented on #548
you shouldn't be using `python_version` is sounds like, if you're testing against multiple pythons.

[2017-09-14 18:22] jacebrowning commented on #548
I didn't have `python_version` previously, but you said I needed to add it (https://github.com/kennethreitz/pipenv/issues/541#issuecomment-329512659) in order for pipenv to detect the Python 2 dependencies correctly.

[2017-09-14 18:26] kennethreitz commented on #547
screw appveyor

[2017-09-14 18:26] kennethreitz commented on #547
(great company, though)

[2017-09-14 18:38] kennethreitz commented on #548
that would be correct.

[2017-09-14 18:40] kennethreitz commented on #548
Why aren't you committing a pipfile.lock?

[2017-09-14 18:41] jacebrowning commented on #548
@kennethreitz Simply to show this exception occurring in build logs.

[2017-09-14 18:44] kennethreitz commented on #548
i think removing the pip requests session will fix this

[2017-09-14 18:45] kennethreitz commented on #548
that's what's adding the logging

[2017-09-14 18:46] kennethreitz commented on #548
can you try master?

[2017-09-14 19:32] jacebrowning commented on #548
@kennethreitz That seems to either hit the same error or `NameError: name 'unicode' is not defined` based on the Python version: https://travis-ci.org/jacebrowning/verchew/builds/275601507

[2017-09-14 20:14] kevbradwick opened #549 "Unable to activate virtualenv"
On a Mac, when running ```pipenv run python```, the following error occurs

[code]

It appears to be down to when pipenv is attempting to activate the virtualenv https://github.com/kennethreitz/pipenv/blob/master/pipenv/cli.py#L1549. When printing out the exception message, I get;

```[Errno 2] No such file or directory: '"/Users/kevinbradwick/.local/share/virtualenvs/nltk-ZIngsREP/bin/activate_th

[2017-09-14 20:15] rtyer opened #550 "Installation error using pipenv + torchvision"
```pipenv, version 6.2.4```

Attempting to install pytorch.  Torch installation succeeded but when trying to install torchvision, I encountered the error below.  Installation succeeds via pip3 with no virtualenv.

Error is:

[code]

Pipfile:

[code]

[2017-09-14 20:49] kennethreitz commented on #549
thanks, will fix asap

[2017-09-14 20:51] kennethreitz commented on #549
7.0.4 is out, which should fix this.

[2017-09-14 20:51] #549 closed

[2017-09-14 20:52] kennethreitz commented on #549
sorry about the bug!

[2017-09-14 20:52] kennethreitz commented on #550
i don't think this is a pipenv issue.

[2017-09-14 20:52] #550 closed

[2017-09-14 20:54] kennethreitz commented on #548
@jacebrowning can you share you pipfile with us? I cannot reproduce this.

[2017-09-14 20:54] kevbradwick commented on #549
awesome yeah, that's fixed it! thank you for building great tools!

[2017-09-14 20:59] kennethreitz commented on #548
try updating travis' pip to latest, which is what we require anyway.

[2017-09-14 21:01] kennethreitz commented on #548
e.g. travis' pip is ancient. I'll cut a release depending on latest pip.

[2017-09-14 21:03] kennethreitz commented on #548
7.0.5 released, which depends on latest pip. hopefully that'll solve this issue.

[2017-09-14 21:18] jacebrowning commented on #548
The `Pipfile` is here: https://github.com/jacebrowning/verchew/blob/2099e17c5f8dee0319d4311915a4a86eca43397b/Pipfile

I just gave you push access if you want to create your own throwaway branch to use this project as a test bed for pipenv with multiple Python versions and version-specific dependencies.

[2017-09-14 21:18] kennethreitz commented on #548
thanks. this is impossible to reproduce locally.

[2017-09-14 21:22] kennethreitz commented on #548
@jacebrowning looks like 7.0.5 works!

[2017-09-14 21:23] kennethreitz commented on #548
i take that back.

[2017-09-14 21:40] jacebrowning commented on #548
So... I'm thinking that pipenv should refuse to run if all of the following are true:

- `Pipfile` specifies a Python version
- `Pipfile.lock` doesn't exist
- `python` is a different version than what is specified in `Pipfile`

7.0.5 looks like it might be working, but he generated `Pipfile.lock` will only work with Python 2 if it was originally generated with Python 2 (for "fancy" dependencies).

[2017-09-14 21:41] jacebrowning commented on #548
I'm not what to do if new "fancy" dependencies are added later. Maybe it should always fail hard if `python` is different from the required version listed in `Pipfile`?

[2017-09-14 21:41] kennethreitz commented on #548
that sounds reasonable. We do issue a warning currently.

[2017-09-14 21:42] kennethreitz commented on #548
trying an alternative approach first.

[2017-09-14 21:55] rtyer commented on #550
Care to share any color as to why?  I've since done this manually in virtualenv and pip3.

[2017-09-14 21:56] kennethreitz commented on #550
this looks like a pip / torchlight issue

[2017-09-14 21:56] kennethreitz commented on #550
you can still use pipenv, just have to `pipenv run pip install ...`

[2017-09-14 21:57] rtyer commented on #550
Thanks for that.  Didn't work but it did show what the real issue is:

[code]

[2017-09-14 22:01] rtyer commented on #550
If anyone else stumbles across this, I was able to do:

`pipenv run pip install --no-deps torchvision` to proceed.

[2017-09-14 22:03] kennethreitz commented on #546
landed a fix in master

[2017-09-14 22:15] kennethreitz commented on #548
yeah, cannot reproduce locally, even with your exact `Pipfile`.

[2017-09-14 22:20] kennethreitz commented on #548
well, your solution is to commit your lockfile.

[2017-09-14 22:42] techalchemy commented on #540
@kennethreitz I'm not suggesting not to allow them, just to convert them when we resolve them

[2017-09-14 22:46] BenDoan opened #552 "AttributeError: '_NamespacePath' object has no attribute 'sort' when running pipenv on arch"
I installed pipenv (with pip) on my arch machine recently, and it's giving me an exception on startup.

Googling around it seems like it might related to this issue: pypa/setuptools#885, but my setuptools is fully updated which seems to be the fix listed in that thread.

## output
[code]

## system info
[code]

[2017-09-14 22:48] kennethreitz commented on #548
got it working.

[2017-09-14 23:24] kennethreitz commented on #548
You're welcome.

[2017-09-14 23:25] kennethreitz commented on #548
v7.0.6 released, which fixes this strange edge case.

[2017-09-14 23:25] #548 closed

[2017-09-14 23:26] kennethreitz commented on #540
yeah, i don't think a lockfile should ever contain relative paths. that's dangerous territory.

[2017-09-14 23:26] kennethreitz commented on #540
unless they're within the codebase

[2017-09-14 23:26] kennethreitz commented on #552
this looks to be a problem with pip, not with pipenv.

[2017-09-14 23:28] #552 closed

[2017-09-14 23:29] kennethreitz commented on #498
calling this out of scope for now.

[2017-09-14 23:29] #498 closed

[2017-09-14 23:29] #438 closed

[2017-09-14 23:29] kennethreitz commented on #438
This shouldn't effect our codebase. But, we'll see :)

[2017-09-14 23:56] #193 closed

[2017-09-14 23:57] kennethreitz commented on #193
I did it! ✨🍰✨

[2017-09-15 01:57] codefo commented on #538
@kennethreitz please reopen this bug, because I see the same error on my terminal.

<img width="682" alt="screen shot 2017-09-15 at 04 54 35" src="https://user-images.githubusercontent.com/59687/30463001-fcc2e6a0-99d1-11e7-97ae-51c0c180403e.png">

I use Python 3.6.2 it was installed by Homebrew and my `pipenv` was installed by `pip3`

[2017-09-15 02:00] kennethreitz commented on #538
@codefo please show what command you were running to get this traceback.

[2017-09-15 02:02] codefo commented on #538
@kennethreitz just `pipenv --three`

[2017-09-15 07:31] erinxocon commented on #547
PR #555 should address this

[2017-09-15 07:38] erinxocon opened #557 "Weird thing when installing from source on windows"
It fails initially and then succeeds. Wtf?

[code]

[2017-09-15 07:52] mbarkhau commented on #546
IIUC this was supposed to have been fixed with 7.1.0, but the issue persists for me.

[code]
To answer the earlier question, mostly this is just very confusing, as opposed to being a real problem.

[2017-09-15 08:31] dlukes commented on #542
Well, for one thing the syntax looks like a command line flag, but [as far as I can see in the source code](https://github.com/kennethreitz/pipenv/blob/410608e5887bdd2bfc14ba5e194968af8660c2cf/pipenv/cli.py#L1279), it's treated special, which means it's not documented in the output of `pipenv install --help`... It would be nice if it showed up at least there, if you think it's too minor a feature

[2017-09-15 10:52] uranusjr commented on #542
Well in Pip `-e` and `--editable` do the same thing, so maybe Pipenv should as well?

[2017-09-15 13:19] scanepa opened #559 "Error if requirements contains comma"
My requirements.txt file contains the following line:
[code]
pipenv fails with:
[code]

I reckon this is a tricky line but still valid in requirements.txt.

[2017-09-15 13:42] jacebrowning commented on #546
Same for me. It's not a huge deal but it breaks all my build caching. It _could_ cause issues if pipenv intends to run in a container with a read-only filesystem.

[2017-09-15 14:57] kennethreitz commented on #559
interesting that pip chokes on this.

[2017-09-15 14:58] kennethreitz commented on #559
make sure you're using latest pip!

[2017-09-15 14:58] kennethreitz commented on #559
and latest pipenv

[2017-09-15 14:58] kennethreitz commented on #557
Yes I noticed this.

[2017-09-15 14:59] kennethreitz commented on #557
I will worry not about it — it does succeed in the end.

[2017-09-15 14:59] #557 closed

[2017-09-15 14:59] #547 closed

[2017-09-15 15:55] brunokrebs commented on #538
Same scenario here. Would installing pipenv with `python` instead of `python3` be a workaround? Actually I don't think so, because as far as I understood `which('python')` is hard coded and returns and odd result: `/bin/python`.

I will take a further look into this issue during the weekend.

[2017-09-15 15:56] kennethreitz commented on #538
we should have this fixed within a few hours, here. this is a pretty major issue.

[2017-09-15 15:56] kennethreitz commented on #538
In the meantime do try `--python /full/path/to/python3` and let me know the results.

[2017-09-15 15:56] kennethreitz commented on #538
and for the record, this is working fine on my machine, brew-installed.

[2017-09-15 16:03] scanepa commented on #559
pip is 9.0.1
pipenv 7.0.1

[2017-09-15 16:12] scanepa commented on #559
pip install -r requirements.txt does not complain and installs pbr 2.0.0

[2017-09-15 16:24] kennethreitz commented on #559
yes, but we're using the pip requirements parser, and it's what's complaining about this.

[2017-09-15 16:24] kennethreitz commented on #559
might need to explore switching to `requirements` for parsing these.

[2017-09-15 16:26] scanepa commented on #559
updated pipenv to 7.1.0 and this is still the

If you need a quick test before releasing, just ask.

Thanks a million.

[2017-09-15 16:27] kennethreitz commented on #559
None of the code around this has changed at all recently — I don't think this ever worked.

[2017-09-15 16:27] kennethreitz commented on #559
e.g. I think you found a new bug! :cookie:

[2017-09-15 16:55] kennethreitz commented on #559
both requirements parsers i have break with this string. I don't think it's valid.

[2017-09-15 17:09] kennethreitz commented on #559
okay so the problem is we're stripping out the '!' for some reason.

You can manually edit the pipfile and add the '!' in, and everything will work fine.

[2017-09-15 17:20] kennethreitz commented on #559
fixed.

[2017-09-15 17:20] kennethreitz commented on #559
will be in the next release.

[2017-09-15 17:22] kennethreitz commented on #559
in 7.1.1, whenever that comes out. likely later today.

[2017-09-15 17:22] #559 closed

[2017-09-15 17:23] kennethreitz commented on #538
I think this is now fixed.

[2017-09-15 17:23] kennethreitz commented on #538
if not, let's get a failing test written.

[2017-09-15 17:26] kennethreitz commented on #538
<img width="657" alt="screen shot 2017-09-15 at 1 25 53 pm" src="https://user-images.githubusercontent.com/119893/30495288-7440f91e-9a19-11e7-98be-2c1d0e7749b5.png">

[2017-09-15 17:53] #538 closed

[2017-09-15 17:53] kennethreitz commented on #538
please comment if this is still an issue for you on latest.

[2017-09-15 17:54] kennethreitz commented on #374
out of scope

[2017-09-15 17:54] #374 closed

[2017-09-15 17:55] kennethreitz commented on #296
this should work now

[2017-09-15 17:55] #296 closed

[2017-09-15 17:55] kennethreitz commented on #212
not anymore!

It does remove some comments, sometimes, but it mostly preserves them now.

[2017-09-15 17:55] #212 closed

[2017-09-15 17:56] kennethreitz commented on #334
closing due to age. will pop up again if it's an issue.

[2017-09-15 17:56] #334 closed

[2017-09-15 19:53] kennethreitz commented on #534
This should be impossible. Can you share your pipfile.lock?

[2017-09-15 19:54] kennethreitz commented on #534
and which package is causing the issue

[2017-09-15 22:35] morningmorningwind opened #567 "when there is non-ascii charactor (e.g., Chinese) in the path to the project...."
Here is the error (Python version: 2.7.13):

File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/pipenv/project.py", line 91, in virtualenv_name
    hash = hashlib.sha256(self.pipfile_location.encode()).digest()[:6]
UnicodeDecodeError: 'ascii' codec can't decode byte 0xe5 in position 65: ordinal not in range(128)

[2017-09-15 22:50] brosner opened #568 "Unexpected behavior with PIPENV_USE_SYSTEM and PIPENV_IGNORE_VIRTUALENVS"
In my shell environment, I am seeing behavior I would not expect. I've been able to correct the behavior by setting `PIPENV_IGNORE_VIRTUALENVS`, but why I have to is really confusing me.

I am using pyenv for managing Python versions only (no funny virtualenv management, this is why I want to use pyenv). I've configured my shell to ensure pyenv doesn't sit in-front of the virtual environment's bin

[2017-09-15 23:11] kennethreitz commented on #568
Pipenv will automatically use a virtualenv if it finds itself within one. Meaning, it will install packages into the virtualenv if it's being run inside a virtualenv, instead of creating its own.

That's what `PIPENV_IGNORE_VIRTUALENVS` is for  — to disable this nice feature, that was much-requested.

[2017-09-15 23:12] kennethreitz commented on #567
Install pipenv using python 3 :)

[2017-09-15 23:14] #567 closed

[2017-09-15 23:17] kennethreitz commented on #540
we only support absolute paths for now

[2017-09-15 23:29] brosner commented on #568
The behavior you describe is exactly what I would expect, but that isn't happening for me. When I am in a virtual environment it is installing using the system pip. Perhaps I didn't explain myself well enough.

Here is a concrete example...

With `PIPENV_SHELL_COMPAT` (as recommended by the docs for use with pyenv) and `PIPENV_IGNORE_VIRTUALENVS` not set:

[code]

Now with `PIPENV_IGNORE_VIRTUALEN

[2017-09-15 23:41] techalchemy commented on #540
Context: We spent a good chunk of time on this today.  It isn't straightforward when 'locking' dependencies, hashing paths, installing, etc.  The recommended approach would be to use pip directly if you need a relative path or to use an absolute path.

[2017-09-15 23:59] AlJohri commented on #540
thanks for looking into this @kennethreitz @techalchemy! is there any chance to just save the dependency to the Pipfile without any hashing or locking etc.? I'd like to ideally tell my users / collaborators to "just run" `pipenv install`.

I can wrap the `pipenv install` following by a `pip install` in a script otherwise for now

[2017-09-16 00:21] techalchemy commented on #540
this is probably something we can implement although I think we are going to be slowing down release cycles here.

@kennethreitz My proposal for a solution would be to just add an extra check to see if something is a file and, if so, resolve its absolute path upon locking.

[2017-09-16 01:09] kennethreitz commented on #568
looks like their might be a bug

[2017-09-16 01:10] kennethreitz commented on #568
but i heavily doubt it, will need to read this over carefully

[2017-09-16 01:14] kennethreitz commented on #568
can you run `env` in your standard environment (the first example) and send the output? i suspect that pyenv is actually running a virtualenv for you, without you knowing it.

[2017-09-16 03:46] techalchemy commented on #568
I am curious about the behavior of this as well.  If there is a bug it will be an easy fix but will require confirmation

[2017-09-16 04:59] jotunskij opened #571 "Weird issues when depending on github package"
TL;DR at the bottom.

I have written a small library running pipenv which can be found at https://github.com/kth/everest_util, with a setup.py that looks like this:
[code]
In another project I then depend on this package with the following PIpfile:
[code]
And no errors are given when running `pipenv install`:
[code]

So far so good. But if I attempt to run the application (`pipenv run python run.p

[2017-09-16 06:49] brunokrebs commented on #538
@kennethreitz, I can confirm that the bug is really gone. Thank you very much for your effort. Great job! 😄

[2017-09-16 15:38] kennethreitz commented on #571
Don't depend on pipenv in your project — it's not a library, it's a cli application.

Setup.py's and Pipfiles are not meant to be mixed.

[2017-09-16 15:39] kennethreitz commented on #571
`Project` for example, does all kinds of weird things, like recursively finds a project from your current working directory (which will be widely different than that current directory)), as well as do `os.chdir`).

Don't do this.

[2017-09-16 15:40] kennethreitz commented on #571
Specify your requirements normally, as [shown here](https://github.com/kennethreitz/setup.py)

[2017-09-16 15:41] brosner commented on #568
I won't be able to get to this today, but I suspect there is something odd going on in my environment. I dig a bit deeper to see if it is specific to me or pyenv in general. Thanks for re-opening. I hope the result of this will be helpful for someone else if it is more broadly applicable to pyenv.

[2017-09-16 15:44] kennethreitz commented on #568
@brosner run `python -c 'import os; print(os.environ.keys())'` where `python` is the python being used by pyenv.

[2017-09-16 15:44] kennethreitz commented on #568
And show us the output.

[2017-09-16 15:45] kennethreitz commented on #568
I'm hoping that Pyenv is indeed using a virtual environment automatically, and that it also sets another environment variable, so we can disable this functionality specifically for it.

[2017-09-16 15:46] kennethreitz commented on #571
tl;dr: your setup.py is broken.

[2017-09-16 15:48] kennethreitz commented on #571
Also, this setup would result in your repo requiring many many specific versions of many libraries, which is also not a good practice for sdists/wheels.

[2017-09-16 15:49] brosner commented on #568
I don't think, to my decent understanding of pyenv, that it is running a virtual env. The virtual env used in the non-shell version is correct to and consistent in a non-pyenv environment.

[code]

[2017-09-16 15:52] kennethreitz commented on #571
I've sent a PR to your project, cleaning up the setup.py file.

[2017-09-16 15:52] kennethreitz commented on #571
https://github.com/KTH/everest_util/pull/1

[2017-09-16 15:56] kennethreitz commented on #568
Hmm, I'll install pyenv and play with it today.

[2017-09-16 16:32] jotunskij commented on #571
Thanks for the input!

Regarding the pipenv-dependency, it's probably a relic left behind from when I was pulling my hair over the issues I've been having.

When it comes to the setup.py and Pipfile combination, I wanted to avoid specifying my dependencies in two different places as that seems to defeat the purpose of dependency tracking all together? The idea so import pipenv in the setup.py and

[2017-09-16 17:30] kennethreitz commented on #571
Setup.py is for specifying package dependencies, Pipfile/lock is for managing application dependencies.

They are two very different tools for two very different jobs.

[2017-09-16 17:31] kennethreitz commented on #571
e.g. a pipfile in that repo is for reproducing a dev environment, the setup.py is for installing the package itself.

[2017-09-16 17:57] kennethreitz commented on #568
Well, as a side effect of this, I got this working :)

<img width="831" alt="screen shot 2017-09-16 at 1-1 56 28 pm" src="https://user-images.githubusercontent.com/119893/30514628-01fe4d60-9ae7-11e7-9c32-6f8401a42728.png">

[2017-09-16 18:17] kennethreitz commented on #568
Can you run `pipenv shell -c` and and show us your path? I'm thinking that your system path is somehow getting loaded ahead of the virtualenv's path.

[2017-09-16 18:20] kennethreitz commented on #568
it should be noted that modifying important variables like PATH should only be occuring *during a login session", not on every shell spawn. In fish, this looks like this:

[code]

[2017-09-16 18:23] Woile opened #575 "Bug: uninstall dev is not removing package from Pipfile"
Doing `pipenv uninstall -d nose` does not remove the package from `Pipfile`.

The cause is because [in here](https://github.com/kennethreitz/pipenv/blob/master/pipenv/cli.py#L1475) happens this `pipfile_remove = False`.
Is there a reason? Removing that line fixes the issue.
I would expect the package to be removed from the Pipfile, whether its a dev or non dev package.
I can submit a PR if require