[2022-09-03 12:16] matteius commented on #5167
Thanks @alexanderdevm -- I think that the best we will be able to do is throw a better user friendly error in requirementslib that explains the issue.   Please see this article for more context on why we don't want to execute arbitrary code, even though pip will do it if you go to install, that seems like a side-effect of the design and not desired.   This isn't the exact article I was trying to f

[2022-09-03 12:21] matteius commented on #5272
The problem is that it is a security risk for us to automatically import credentials into artifacts that are intended to be checked into source control.    The correct way to handle this is using pip compliant environment variables, meaning `${VARIABLE}` and not `$VARIABLE` -- then pipenv will bring in the variables unexpanded, and they should work well with `pip` and just need to be defined on th

[2022-09-03 12:32] matteius commented on #5322
Ah there was also a bug in `2022.9.2` that may affect your case, but https://github.com/pypa/pipenv/pull/5327 should resolve it.

[2022-09-03 12:40] matteius commented on #4868
@GPHemsley-RELX Can you comment if this is still an issue on the latest version(s) of pipenv?  I believe on the current version we may actually require the format of environment variable preferred by pip, such as: `${MY_ENVAR}` and not `$MY_ENVAR` `%MY_ENVAR%` though I am not 100% sure on this, but if I right then the documentation is wrong.   I'd also like to understand why the documentation reco

[2022-09-03 12:43] matteius commented on #4398
@kaptajnen would a `--no-index` option to the `requirements` command that excluded any `-i <index>` lines be a suitable solution?

[2022-09-03 12:47] matteius commented on #4400
I guess it was intentional -- I haven't thought a lot about it or the implications, but the original author of this issue is a ghost now.  I would suggest that anyone who wants the behavior of `pipenv shell` to be different, to give it some thought and open a new well formed issue report, and even better would be consider what the changes would be, and if possible open a PR.

[2022-09-03 12:47] #4400 closed

[2022-09-03 12:48] matteius commented on #2362
I am not sure if this is still an issue since we don't use `pip-compile` anymore.

[2022-09-03 12:48] #2362 closed

[2022-09-03 12:49] matteius commented on #2303
Closing this in favor of eventually adding categories support (we really need to do more code cleanup before we get to this though):  https://github.com/pypa/pipenv/issues/4745

[2022-09-03 12:49] #2303 closed

[2022-09-03 12:52] matteius commented on #2195
I think we have this now in the docs:  https://pipenv.pypa.io/en/latest/basics/#pipenv-and-docker-containers

I also have a PR out that needs more work that would allow better usage of the `--system` flag.

I am closing this specific issue out as stale -- please continue to report new issues and feature requests and we can keep the conversations focused on how things are working today and what we

[2022-09-03 12:52] #2195 closed

[2022-09-03 12:53] #4309 closed

[2022-09-03 12:53] #4182 closed

[2022-09-03 12:53] #4178 closed

[2022-09-03 12:53] #4174 closed

[2022-09-03 12:54] #4136 closed

[2022-09-03 12:55] matteius commented on #2707
I believe most folks check their Pipfile.lock into source control and see the deltas on PRs.

[2022-09-03 12:55] #2707 closed

[2022-09-03 12:55] #4474 closed

[2022-09-03 12:56] #4056 closed

[2022-09-03 12:56] matteius commented on #3980
I believe this should be solved, but correct me if I am wrong.

[2022-09-03 12:56] #3980 closed

[2022-09-03 12:59] matteius commented on #3982
Locking updates all named categories because we have constraints from the default that affect the locking of dev, otherwise you could have conflicting package versions.   In the latest versions of pipenv, we pass a constraints file for this purpose and the resolver will fail if you are requesting two different version of say Django between dev and default.   This is not something we want to skip o

[2022-09-03 12:59] #3982 closed

[2022-09-03 12:59] #4355 closed

[2022-09-03 13:00] #4339 closed

[2022-09-03 13:00] #4190 closed

[2022-09-03 13:01] #4356 closed

[2022-09-03 13:01] #4320 closed

[2022-09-03 13:01] #5224 closed

[2022-09-03 13:02] #4106 closed

[2022-09-03 13:02] #4122 closed

[2022-09-03 20:22] MAbdullahAlvi commented on #2470
Your Pipfile.lock (a63ef6) is out of date. Expected: (5d8d12).
       [DeployException]:   File "/tmp/build_2b5fc19c/.heroku/python/lib/python3.9/site-packages/pipenv/vendor/click/decorators.py", line 73, in new_func
       [DeployException]:       return ctx.invoke(f, obj, *args, **kwargs)
       [DeployException]:   File "/tmp/build_2b5fc19c/.heroku/python/lib/python3.9/site-packages/pipenv/vend

[2022-09-03 21:24] matteius commented on #2470
@MAbdullahAlvi Please open a new issue report with full details of `pipenv --support`.   This is a really old thread and likely your response could go unnoticed.

[2022-09-03 22:39] oz123 commented on #5326
This PR is merged.

[2022-09-03 22:46] oz123 commented on #5324
If you are spending time on this, can I open another can of worms?
Our man page is 3000 lines, and 90% is the changelog.

Can we only include the last N versions?

N could be anywhere between 3-10 ?

[2022-09-03 23:11] matteius commented on #5324
Whoa that's kind of wild -- I wonder why include the changelog at all in the man pages?

[2022-09-03 23:25] matteius commented on #4314
This effort which should be in the next release should allow users to pass the `proxy=` flag and other additional arguments to pip install:  https://github.com/pypa/pipenv/pull/5283

[2022-09-04 07:10] oz123 commented on #5324
Old Unix convention is to declare significant changes in the manpage.

[2022-09-04 12:29] MAbdullahAlvi commented on #2470
Okay sir but if you have any solution so plz let me know.

On Sun, Sep 4, 2022, 2:24 AM Matt Davis ***@***.***> wrote:

[2022-09-04 12:42] Kristinita commented on #5277
@dqkqd , @matteius

**Type: Questions** :question:

1. Where can I read why this behavior is done? It’s not at all obvious to me why pipenv reinstall a package every time I install other packages that have nothing to do with the package being reinstalled. I read **[#9169](https://github.com/pypa/pip/pull/9169)**, **[#9147](https://github.com/pypa/pip/pull/9147)**, **[#8711](https://github.com/pypa

[2022-09-04 13:15] matteius commented on #5277
@Kristinita

Sorry, `pipenv` uses `pip` to perform resolutions and installs but we do not document every single `pip` behavior in our documentation.   Nor can I explain this particular decision very well other than to say there are cases where the file installs need to be reinstalled and it probably is difficult to determine if the package you have installed is different from the one you are going

[2022-09-04 13:29] matteius commented on #2470
@MAbdullahAlvi There are two cases `pipenv` will raise a `DeployException` --
1.) Your Pipfile.lock is out of date. -- the hash value specifically, in which case run `pipenv lock` and try again.
2.) The other case is where your virtualenv is using a different version of Python than what is required by your `Pipfile`.

Please check into those things, try the version `2022.9.4` as well that was just

[2022-09-04 13:30] matteius commented on #5326
Hey @alexkahn-tempus  `2022.9.4` was made specifically for this fix.

[2022-09-04 13:30] #5326 closed

[2022-09-04 13:31] matteius commented on #5322
`2022.9.4` has been released -- I believe that should solve this issue.

[2022-09-04 13:31] #5322 closed

[2022-09-04 20:21] #5282 closed

[2022-09-04 20:33] MAbdullahAlvi commented on #2273
Brother! can you find any solution to this problem so please tell me that

[2022-09-04 21:31] matteius commented on #2273
@MAbdullahAlvi  I am not sure seeing as how the latest published version of pipenv `2022.9.4` does not have a line `if (system or allow_global) and not (PIPENV_VIRTUALENV):` in core.py at all yet alone on line 1798.   Please ensure you are on the latest version and open a new complete issue report if you require help further.

[2022-09-04 23:07] #3801 closed

[2022-09-05 15:08] matteius commented on #5130
@thehesiod That is really complicated, I mean perhaps possible to specify all that to the pip resolver, but never the less couldn't your example be boiled down to this for `pipenv` locking and work properly?

`numpy = {version = ">=1.20.0", markers = "python_version < '3.10'"}`

Since if you specify all three constraints for version to the resolver, you are going to have to get one version that is

[2022-09-05 23:52] denjas commented on #5101
1. `pip uninstall setuptools`
2. `pip install setuptools`

[2022-09-06 01:41] oz123 commented on #5310
When we complete this, we can also close #5187.

[2022-09-06 06:41] randomcatgamer commented on #5322
yes. it fixed the problems. thank you

[2022-09-06 08:25] dqkqd commented on #5252
This should be fixed with new version of `pipdeptree`. https://github.com/tox-dev/pipdeptree/pull/173

[2022-09-06 08:30] oz123 commented on #5252
Thanks, I'll submit a PR to bump the vendored version later this week.

[2022-09-06 13:10] alexkahn-tempus commented on #5326
Thank so much @matteius and @oz123 - I'll update my production systems and loop back if there is anything else.

[2022-09-06 14:06] CoburnJoe opened #5332 "Release 2022.8.31 introduced issues with the install command"
Hi! I have a large number of codebases using Pipenv, and _some_ (not all) are failing to install dependencies.

**Python version:** 3.8
**Pipenv version:** 2022.8.31, 2022.9.2, 2022.9.4.
**Pip version:** Latest - 22.2.2

**Error snippet:**

[code]

^ this happens for every dependency, but I do know that Pipenv version 2022.8.31 appears to have introduced the issue, and it is still present in all s

[2022-09-06 14:13] matteius commented on #5332
@CoburnJoe I have two theories, if they are both wrong I am going to need more information -- one is can you try `2022.9.4` -- the other is that you have a dependency in your install chain that this setup.py depends on, in which case you'll want to run `pipenv run pip install <dependency>` ahead of the `pipenv sync` or `pipenv install --deploy` command--you may have been getting lucky before when

[2022-09-06 14:18] CoburnJoe commented on #5332
Thanks for the reply - I've tried `2022.9.4` (all releases since the "working" release - 2022.8.31, 2022.9.2, 2022.9.4) with no change.

I think your second suggestion is the most likely answer - I'll report back ASAP - but this may take me some time to track down.

[2022-09-07 03:57] oz123 opened #5333 "Add nushell support"
shellingham has support in version 1.5.0.

[2022-09-07 03:59] oz123 commented on #5333
This is also a good opportunity to write a small document how we do this, since currently only 2 people know this.

[2022-09-07 08:10] CoburnJoe commented on #5332
@matteius I'm now certain this is as you described, and basically the same as #5319 - i.e. not a problem you need to solve with Pipenv - closing now, thanks so much for your quick reply!

[2022-09-07 08:10] #5332 closed

[2022-09-07 08:21] #4364 closed

[2022-09-07 08:21] #4362 closed

[2022-09-07 08:37] matteius commented on #4375
The original error posted by @spott was a `pip` error -- but we are on the latest `pip=22.2.2` now which certainly supports this case -- I am willing to reopen this or address a new issue report if we find it is still an issue.

[2022-09-07 08:37] #4375 closed

[2022-09-07 08:39] matteius commented on #4101
@yukihiko-shinoda Could you recheck this behavior on `pipenv=2022.9.4` -- Based on #5130 I am not seeing issues like this anymore on the current version and other users have reported similar.

[2022-09-07 08:40] #4095 closed

[2022-09-07 08:41] #4108 closed

[2022-09-07 08:42] matteius commented on #4142
Closing this issue as stale -- I haven't seen anything like this in recent times.  We can revisit if this is inaccurate.

[2022-09-07 08:42] #4142 closed

[2022-09-07 08:45] matteius commented on #4110
I am unable to reproduce this issue on latest version of `pipenv`.

[2022-09-07 08:45] #4110 closed

[2022-09-07 08:45] matteius commented on #3478
Is this still an issue on latest pipenv?

[2022-09-07 08:47] matteius commented on #3495
I believe this was solved with my work on index restricted packages back in April/May.   @ipstech  Could you try with `2022.9.4` and we can revisit if you find there is still an issue?

[2022-09-07 08:47] #3495 closed

[2022-09-07 08:49] #3474 closed

[2022-09-07 08:50] #3163 closed

[2022-09-07 08:51] #2323 closed

[2022-09-07 08:52] matteius commented on #3430
This should have been solved with my work on index restricted packages.   Please try latest pipenv version for best results.

[2022-09-07 08:52] #3430 closed

[2022-09-07 09:14] exploide commented on #3478
I did a short test with pipenv 2022.9.4 and the completion of executables for `pipenv run` seems to work now. :+1:

However, there is still no file completion for `pipenv install -r` or `pipenv install -e`. So I consider this issue being fixed partially.

(By the way, the completion enablement file shipped with fish-shell itself appears to be outdated. I will update it there.)

[2022-09-07 09:24] exploide commented on #3478
Please excuse me, the statement about `pipenv run` in my prior reply was wrong. The completion mechanism of pipenv still doesn't complete `pipenv run`. The reason it works (somehow) is because someone contributed a [manual workaround](https://github.com/fish-shell/fish-shell/blob/1d1a3d6e8238fa1386ef9cee3c0209a344755b55/share/completions/pipenv.fish#L7) to the fish-shell completion file for pipenv

[2022-09-07 10:32] matteius opened #5335 "Get mypt type checking enabled in pipenv"
Similar to linting or vendoring, we should have a a build step that is for running the mypy type checker.   This will mean cleaning up the type annotations and eliminating type errors so we can make the build depend on passing type checks.   Doing so will help prevent some class of spurious coding errors.

[2022-09-07 22:16] matteius commented on #2208
You will see in the next `pipenv` release the support for passing additional arguments into pip install.  From reading the use cases in this thread I believe that will solve for it:  https://github.com/pypa/pipenv/pull/5283

[2022-09-07 22:18] #1731 closed

[2022-09-07 22:18] #3141 closed

[2022-09-07 22:19] #3085 closed

[2022-09-07 22:22] #3125 closed

[2022-09-07 22:39] #5333 closed

[2022-09-08 00:24] nikoskaramo opened #5340 "System installation for docker containers"
### Issue description

When including `--system` option to install packages on the system level inside a Docker image (`RUN pipenv install --dev --system --ignore-pipfile`), installation of all packages fail with an error similar to the one below:
[code]
Removing the `--system` option installs the packages in a virtual environment. However, this option won't work in our Docker image.

Pipenv versi

[2022-09-08 02:17] justinhauer commented on #5340
@nikoskaramo use `RUN pipenv install --system --deploy`

[2022-09-08 02:23] matteius commented on #5340
@nikoskaramo The issue appears to be that you are getting a newer version of Python in your docker deploy.   I got this same error trying to install `pipenv install backports-zoneinfo` using python 3.10 and I found this stack overflow which indicates this package required Python 3.7 or python 3.8 only.  https://stackoverflow.com/questions/71712258/error-could-not-build-wheels-for-backports-zoneinf

[2022-09-08 02:36] matteius commented on #5340
FWIW I get the same error on `pipenv==2022.8.5` when trying to do the system install on the latest ubuntu, because it pulls in my python 3.10

[2022-09-08 02:39] #2791 closed

[2022-09-08 02:42] #3496 closed

[2022-09-08 03:05] #2694 closed

[2022-09-08 05:19] matteius commented on #4101
I just checked `pipenv install pytest pipenv-setup` on windows and linux using `pipenv==2022.9.4`:
[code]

[code]

[2022-09-08 05:21] matteius commented on #4963
https://github.com/pytorch/pytorch/issues/76557

[2022-09-08 05:29] matteius commented on #5195
I opened a prototype PR that allows specifiers for the Python versions.   However so, pip uses the current interpreter as the python version in the resolution process.  It is possible to override this, but the decision logic on how to decide what version to pass in would not be straight forward.    The concern is it would be possible to get differing locks on different systems by using different v

[2022-09-08 05:34] matteius commented on #4784
@duailibe If you add `editable = "true"` to those Pipfile entries it should work.

[2022-09-08 05:56] matteius commented on #4784
I have just made a code change that makes it work without adding the editable flag.   https://github.com/pypa/pipenv/pull/5342

[2022-09-08 06:07] matteius commented on #4660
Awesome test project @dqkqd !!!

On `2022.9.4` I am getting `same` each run:
[code]

[2022-09-08 06:15] matteius commented on #4660
I got what you got too on `2022.9.2` -- so I think this is truly fixed now.   My belief is that the sorting helped a lot, but there was still an issue passing the constraints in as an environment variable and that was converted to `NamedTemporaryFile` in `2022.9.4` in order to solve an issue with windows environment variable lengths.

[2022-09-08 07:56] #4784 closed

[2022-09-08 10:56] dqkqd commented on #4660
This issue still occurs. Should I change script to `whilte true` instead?

[code]

[2022-09-08 13:24] oz123 commented on #5252
See #5343

[2022-09-09 15:53] lexabug opened #5344 "Pipenv fails to install scikit-learn"
Since the version `2022.8.31`, where the performance optimization to `batch_install` was made, the pipenv started failing to install `scikit-learn`, because it is installing the `scikit-learn` before the `numpy`.
I have a minimum project to reproduce the issue. See attached files.
[test-pipenv.tar.gz](https://github.com/pypa/pipenv/files/9536940/test-pipenv.tar.gz)

When I run `docker build -t tes

[2022-09-09 15:59] internetofjames opened #5345 "Feature: Populate python_full_version instead of python_version in Pipfile when full python version is specified in "--python" arg"
I verified that I am using the latest version of pipenv at the time of writing (`2022.9.8`).

### Is your feature request related to a problem? Please describe.

Not related to a problem, just observed a behavior I find odd given current functionality of pipenv. When creating a virtual environment, specifying a full python version (e.g., `pipenv install --python 3.10.4`) generates a Pipfile with `

[2022-09-09 16:56] matteius commented on #5344
@lexabug You were getting lucky before because numpy is alphabetically before scikit-learn.  As a current work around I recommend you `pipenv run pip install numpy` for the specific version you require ahead of running your `pipenv sync` or install routine.  Longer term I want to support this better with named categories, so you could have a set of pre-requisite installs as a named category that y

[2022-09-09 17:02] matteius commented on #4745
I believe this feature is going to be important to preventing issues like #5344 where one package's setup.py depends on another package already being installed and available.  I believe this used to happen based on luck with the sequential installs, but now it is more problematic as the single install phase will not get this lucky.

 The solution may very well be to support named categories, so so

[2022-09-09 17:52] tonydattolo commented on #5075
still running into this issue

It looks like it is trying to graph the wrong executable location for the python interpreter. it is looking for `/.venv/bin/python` but it should be looking for  `/.venv/local/bin/python`

[code]

- Ubuntu 22.04.1 LTS
- Python 3.10.4
- pipenv 2022.9.8
- pip 22.2.2

[2022-09-09 20:06] oz123 commented on #4643
Actually, this is fixed is pipenv version 2022.9.8:

See here https://github.com/pypa/pipenv/blob/main/CHANGELOG.rst#pipenv-202298-2022-09-08

[2022-09-09 20:06] #4643 closed

[2022-09-09 21:07] lukebakken opened #5349 "Error - "ModuleNotFoundError: No module named 'pkg_resources'""
### Issue description

Running `pipenv` commands such as `pipenv update` results in

[code]

### Expected result

No `ModuleNotFoundError`

### Actual result

See above stacktrace.

### Steps to replicate

This is on an Arch Linux system updated as of 2022-09-09. I'm using `asdf` to install the latest Python so I can be sure this isn't due to the Python packages that ship with Arch Linux (where I

[2022-09-10 02:18] matteius commented on #5349
@lukebakken I have made a branch that modernizes some of the patching going on and utilizes the internal `pkg_resources` provided by `pip` -- if you have a moment to give it a try I would be very curious if it solves your problem.  It is linked to this issue report.

[2022-09-10 17:00] matteius commented on #5349
Also will depend on https://github.com/sarugaku/requirementslib/pull/343

[2022-09-11 00:24] lukebakken commented on #5349
No rush! I'll keep an eye out here!

[2022-09-11 01:30] matteius commented on #5349
If you want to try it @lukebakken -- I believe I got it working today with:   https://github.com/pypa/pipenv/pull/5350
Also it cleaned up a couple other issues we were having, so I am pretty excited about it.

[2022-09-11 01:44] matteius commented on #4717
Well with the new optimization to pipenv install we no longer invoke many sub processes:  https://dev.to/matteius/pipenv-install-performance-improved-5cdn

[2022-09-11 01:44] #4717 closed

[2022-09-11 06:42] #4698 closed

[2022-09-11 08:10] matteius commented on #4745
I began working on this: https://github.com/pypa/pipenv/tree/named-categories

Planning on opening a PR for Hacktoberfest.

[2022-09-11 15:09] matteius commented on #5344
@lexabug I was just trying to test this with category based installs and was able to reproduce the issue -- I did have to use python 3.8 for this version even though your Pipfile calls out 3.9 -- probably not an issue since you are using `--system` install which will default to the system python and basically ignore the requires.

Anyway my test with the category based installs branch was a good P

[2022-09-11 15:15] matteius commented on #4745
Update provided:  https://github.com/pypa/pipenv/issues/5344#issuecomment-1242984773

[2022-09-11 15:23] lukebakken commented on #5349
@matteius yessir, PR #5350 fixes the issue! Output from my linux env:

[code]

THANK YOU

[2022-09-11 15:25] lukebakken commented on #5349
I'm happy to do additional testing, so just let me know what you'd like.

I also have a Windows 10 pro environment I use for RabbitMQ development, which includes Python dev as well.

[2022-09-11 16:33] exploide commented on #3478
As expected, getting file/path completions for `-r` and `-e` was pretty trivial. See  #5352.

So the remaining part is getting completions for `pipenv run`. As already mentioned, for fish, someone provided a manual workaround for the completion file shipped with fish.
But for a general solution, I expect someone needs to write a [custom completion function](https://click.palletsprojects.com/en/8.1

[2022-09-12 00:57] Crest22 commented on #5052
I solved this by copying pipfile and pipfile.lock to the project folder

[2022-09-12 01:48] #3987 closed

[2022-09-12 01:50] matteius commented on #3954
With category based installs it will be possible to have orders to install dependencies by creating new categories such as prerequisites.   There is a working prototype branch of this and the plan is to open the PR around October 1st for Hacktoberfest.   You can track that work here:  https://github.com/pypa/pipenv/issues/4745

[2022-09-12 01:50] #3954 closed

[2022-09-12 01:51] matteius commented on #3841
@patrickhousley Let us know if you can verify this has been fixed on latest pipenv version.

[2022-09-12 01:53] matteius commented on #3840
@anuj9196 There have been some performance enhancements to pipenv since this issue was opened.   Please check the latest pipenv version and report back if there is still an issue to pursue with this report.

[2022-09-12 01:53] #3840 closed

[2022-09-12 01:57] matteius commented on #3855
I'd prefer if the environment variable were called `PIPENV_PYENV_ONLY` or something less verbose than `PIPENV_ONLY_USE_PYENV`.  Also what if someone wants to only use asdf (I've never used this)?   Maybe something more thoughtful to different modes for searching for Python, since there are still a number of issue reports about python finding logic floating around.  Just some thoughts as I comb thr

[2022-09-12 01:59] #4079 closed

[2022-09-12 02:01] #2148 closed

[2022-09-12 02:02] #3997 closed

[2022-09-12 02:02] #4639 closed

[2022-09-12 02:04] #4530 closed

[2022-09-12 02:05] matteius commented on #4051
Category based package installs may be what you are looking for:  https://github.com/pypa/pipenv/issues/4745

[2022-09-12 02:05] #4051 closed

[2022-09-12 02:09] matteius commented on #3981
I believe this will not be supported, because default group is used as constraints for the other groups.  Right now there is the develop group, but soon we will support arbitrary groups, and it is constrained by the default which requires relocking the default which was work done prior this summer by @dqkqd.   I am also working on supporting more named categories or package groups, but they too ar

[2022-09-12 02:09] #3981 closed

[2022-09-12 02:11] matteius commented on #3947
That is correct @AstraLuma  -- we have this other linked ticket about the possibility of supporting prereleases only for a specific package, but I believe it is probelematic unless the pip resolver itself supported this, which right now the `--pre` option is only a global option.

[2022-09-12 02:11] #3947 closed

[2022-09-12 02:12] matteius commented on #3921
Can this issue be rechecked in the next couple weeks with the latest version of pipenv?

[2022-09-12 02:14] matteius commented on #3900
This issue is a little dated at this point--I believe constraints have been sorted out in recent versions, but we also don't support python 2 anymore, so it would be impossible to triage this.   My suggestion if there is an active issue with the latest pipenv version to open a new issue report and we will respond to that.

[2022-09-12 02:14] #3900 closed

[2022-09-12 02:15] #3865 closed

[2022-09-12 02:15] #3782 closed

[2022-09-12 02:17] #3707 closed

[2022-09-12 02:17] matteius commented on #3746
Can this issue be rechecked on the latest `pipenv` version?

[2022-09-12 02:18] matteius commented on #3762
Can this be rechecked on latest `pipenv`?  I believe it is no longer an issue.

[2022-09-12 02:19] matteius commented on #3780
This is supported now in latest pipenv versions, for more information read:  https://pipenv.pypa.io/en/latest/advanced/#specifying-package-indexes

[2022-09-12 02:19] #3780 closed

[2022-09-12 02:21] matteius commented on #3928
I believe even pip will install the pre-release if you specify that exact version, without the --pre flag.   With the latest versions of `pipenv` it would not resolve unless you had specified that exact version, or provided the `--pre` flag.

[2022-09-12 02:21] #3928 closed

[2022-09-12 02:22] matteius commented on #1760
We rely on the `pip` resolver, which specifies the flag globally, and so it would not be possible to support a per-package pre-release specification without pip supporting it first, is my understanding.

[2022-09-12 02:23] matteius commented on #3696
Can you check if this is still an issue on latest `pipenv` version?  I believe this has been solved for.

[2022-09-12 02:24] matteius commented on #1963
I believe this was resolved.

[2022-09-12 02:24] #1963 closed

[2022-09-12 02:25] matteius commented on #2778
This is basically going to be supported as named category package groupings, which has a working prototype and is being tracked in: https://github.com/pypa/pipenv/issues/4745

[2022-09-12 02:25] #2778 closed

[2022-09-12 02:26] matteius commented on #2330
This should be fixed now thanks to work @dqkqd did on constraining the other develop dependencies from the default group, a principle that will be applied to other named category installs as well.

[2022-09-12 02:26] #2330 closed

[2022-09-12 02:28] matteius commented on #2715
Category based package groups is likely going to suite the needs here as well:  https://github.com/pypa/pipenv/issues/4745

[2022-09-12 02:28] #2715 closed

[2022-09-12 12:25] joshsleeper commented on #1760
@matteius thanks for the explanation and all your hard work!

1. would it be worth getting such a feature request filed in <https://github.com/pypa/pip> then and allow this issue to stay open for the decent number of us that are very interested in this in `pipenv`?
    - doing so would help avoid (or at least funnel) duplicate feature requests while still giving folks a place to watch for progress

[2022-09-12 12:41] matteius commented on #1760
@joshsleeper I think if you or someone can take point on opening an issue with `pip` and linking it here, we can keep this open until such a determination is made by `pip` team -- if the pip team is not interested in supporting this on a per-package level, then I don't think we can support it in pipenv without extensive patching of the pip resolver, something which we are trying to avoid.

[2022-09-12 13:06] joshsleeper commented on #1760
oh for sure, 0% interest in you all crafting a bespoke replacement resolver just for this edge case 😅
in the meantime, thanks for reopening in the hopes that the `pip` team shows interest in such a feature!

[2022-09-12 15:07] jkueloc commented on #5340
@matteius I receive the same error for all dependencies beginning with pipenv-2022.9.4 (also pipenv-2022.9.8) but not using  --system.  The last successful build was on pipenv-2022.8.30

pipenv install --dev --deploy

[code]
Python 3.10

[2022-09-12 17:39] matteius commented on #5340
@jkueloc You did not provide complete data but likely the problem is one of the setup.py packages you are installing depends on being able to import one of the other packages you are installing.   Please see this for a similar issue report and resolution:  https://github.com/pypa/pipenv/issues/5332

[2022-09-12 18:22] Kokolokoli commented on #84
checkout kfirbreger's [comment](https://github.com/pypa/pipenv/issues/84#issuecomment-414080326). Exit is universal to shells, deactivate is specific to virtualenv!

[2022-09-13 00:05] aawilson opened #5353 ""Could not find a version that satisfies the requirement" for package in private repository starting from pipenv==2022.8.31"
### Issue description

With a Pipfile like this...
[code]
that generates a Pipfile.lock like this...
[code]

but when we execute `pipenv sync --verbose`, it generates a pip install command like so

[code]

(note "-i https://pypi.org/simple")

and as might be expected, this fails with `6.552 ERROR: Could not find a version that satisfies the requirement ourinternalpackage==0.1.1 (from versions: non

[2022-09-13 00:08] aawilson commented on #5353
perusing the output above, I'm seeing that the contents of the Pipfile there are completely different than they should be (even though Pipfile.lock is correct; it should contain the same source entry mentioned above), I'll investigate more on that front

[2022-09-13 00:14] aawilson commented on #5353
Ok, I see that the root issue seems to be that we were only copying `Pipfile.lock` into the container, rather than Pipfile. This changes the bug report: Why does `pipenv sync` suddenly need a `Pipfile` to work correctly, rather than being able to correctly resolve all dependencies with the provided `Pipfile.lock`?

[2022-09-13 01:08] matteius commented on #5353
@aawilson I am not sure that this is a new behavior, so there may be something else going on, but you found that having the Pipfile allows it to work?   It is an interesting observation, apparently `get_source_list` gets its sources from the `Pipfile`, even though its a method that appears to only be used in the install phase.   This is not a new behavior though 😕  We should improve that though to

[2022-09-13 02:35] aawilson commented on #5353
It's pretty interesting, I definitely get the "broken" behavior in 2022.8.31 and not in 2022.8.30 (since it's a container it's easy to remake the intermediate image up to failure and try different versions). Something seems to have changed between those two versions to get the specified behavior.

[2022-09-13 02:44] matteius commented on #5353
@aawilson Just to clarify -- does it work to install if you include the `Pipfile` as well?

[2022-09-13 03:09] matteius commented on #5130
I spent some time on this today and what I found was somewhat discouraging -- internal to the pip resolver the markers of transitive dependencies are processed and those requirements are discarded if they are not for your platform.   Pipenv has such a thing in its lock file: it depends on click which has metadata:
[code]
So if we do not lock on Windows, the colorama is dropped from the lock file.

[2022-09-13 03:51] sepsallao commented on #5052
same

[2022-09-13 05:35] dqkqd commented on #5353
Inside `pip_install_deps`, we call `get_source_list` with `index=None` and `extra_indexes=None`
https://github.com/pypa/pipenv/blob/9572c319fd3eed0eece9bb1ee6a8ace107e4f8fc/pipenv/core.py#L1638-L1643

Therefore `get_source_list` will get source from `Pipfile` instead of `Pipfile.lock` (line 91)
https://github.com/pypa/pipenv/blob/9572c319fd3eed0eece9bb1ee6a8ace107e4f8fc/pipenv/utils/indexes.py#L68

[2022-09-13 05:44] dqkqd commented on #5353
To address this issue, there's a fix that is throwing all the indexes written inside Pipfile.lock into `index` and `extra_indexes` from the call of `get_source_list`.
But in that case, all `index` and `extra_indexes` will be passed in `pip_command`, therefore we could not declare index for specific package anymore.

This could lead to an issue like: "I want to install A from index X, but A is inst

[2022-09-13 09:25] yangxiaoyu2020 opened #5354 "Pipenv sync failed when I install the psycopg2cffi"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-09-13 09:26] yangxiaoyu2020 commented on #5354
But I will do it successfully when I set the pipenv back to 2022.8.30

[2022-09-13 09:37] matteius commented on #5354
What version of `psycopg2cffi` is in your lock file?   I suspect its something like https://github.com/pypa/pipenv/issues/5332 where you'll need to `pipenv run pip install <some_prereq>` that a setup.py depends on.   In the future, you'll be able to specify other named categories groupings, such as pre-requisites, and then be able to install those categories ahead of other categories that depend o

[2022-09-13 09:44] matteius commented on #5353
Yes, this is what I am thinking `get_source_list` should be getting its sources from the lock file, not the `Pipfile`.

This is not quite accurate -- the resolver was patched for the specific indexes, but once packages resolve they are hashed.

Because the normal index specified packages are hashed, the install phase is less sensitive -- If you are installing package with hash Z then it has to be

[2022-09-13 10:59] matteius commented on #5354
The specific example worked fine for me though:

[code]

[2022-09-13 11:26] jkueloc commented on #5340
@matteius the setup.py error message received on #5332 or #5319 does not appear.

[code]

[2022-09-13 12:04] matteius commented on #5340
@jkueloc I just tried the `Pipfile` from that repository and made a fresh lock file and it worked -- was this an issue with the `--system` flag you experienced?

[code]

[2022-09-13 12:06] matteius commented on #5340
I got the following error with the `--system` flag:
[code]

[2022-09-13 12:08] matteius commented on #5340
It worked though if I did `pipenv install --extra-pip-args="--user" --system` -- something was trying to overwrite a system file that was either in use or that my user lacked permission to update.

[2022-09-13 12:35] matteius commented on #5340
@jkueloc I cannot reproduce, even with the lock file you have checked in the `pipenv sync` works for me.   Do you have an example of the github action that failed for this?
[code]

[2022-09-13 12:57] matteius commented on #5340
@jkueloc It looks like the Dockerfile itself isn't pinned on pipenv and builds fine, but that the build_contianers.sh script runs pipenv on Jenkins directly before kicking off the Docker build:  https://github.com/LibraryOfCongress/concordia/blob/main/build_containers.sh#L22

For further debugging, are you able to verify the python version of python that jenkins is using to create the virtualenv?:

[2022-09-13 13:01] matteius commented on #5340
@jkueloc Actually I just figured out its the dev dependencies that are having the issue and not the default -- let me dig a littler deeper now that I can reproduce this.

[2022-09-13 13:06] matteius commented on #5340
@jkueloc The problem is definitely with the pre-creation of the virtualenv -- not sure why though.
[code]

[2022-09-13 13:11] matteius commented on #5340
@jkueloc  It seems with the `--verbose` flag that pre-creating the virtualenv, causes a setup.py error on `autobahn==22.7.1`
[code]

[2022-09-13 13:18] matteius commented on #5340
@jkueloc Short answer, you can `pip install packaging` after activating the virtualenv, and then the `pipenv sync --dev`  does work with a pre-created virtualenv.  There is a warning that it had to build something with the legacy method, but basically it worked to pre-install packaging.

[code]

[2022-09-13 14:07] jkueloc commented on #5340
@matteius Why sync versus install?

[2022-09-13 15:15] GPHemsley-RELX commented on #4868
@matteius I'm not sure I understand what you're saying. The issue here is how to deal with a password that contains special characters that, when the environment variable is expanded, could interfere with parsing the URL.

Previously, the practice was to put single quotes around it. Then it was changed to require the special characters to be pre-escaped in the environment variable.

So, for exampl

[2022-09-13 15:29] matteius commented on #5340
@jkueloc No real reason, I am just used to doing that, but it doesn't validate the meta hash of the lockfile the way `pipenv install --deploy` does.   Thanks -- you may find useful an upcoming feature for named categories beyond default and dev, which would allow you to specify prerequisites for example, in their own group and still manage it within Pipenv and the Pipfile/lockfile.  There is a pro

[2022-09-13 15:36] aawilson commented on #5353
Yeah, it's up there but to confirm explicitly, adding Pipfile to the `COPY` does cause `sync` to succeed.

[2022-09-13 15:51] matteius commented on #4037
I believe @dqkqd fixed this issue recently with using default packages as named constraints to the pip resolver for other package groups such as develop.  I think we can close this at this point.

[2022-09-13 15:52] #4070 closed

[2022-09-13 15:56] matteius commented on #4047
Currently there is no way to have two Pipfiles in one project directory and named categories isn't going to solve this use case of desiring two different python versions -- but perhaps the combination of what @frostming said about `PIPENV_PYTHON` combined with explicitly defining what virtualenv name with `PIPENV_CUSTOM_VENV_NAME` on the latest version would be a reasonable solution. https://pipen

[2022-09-13 15:56] #4047 closed

[2022-09-13 15:59] matteius commented on #3356
I think we can address any additional concerns here with new issue reports or other existing items in the backlog, but there is a lot of changes since the last comments since 2018 -- we continue to make improvements to pipenv and there is a number of tickets labeled with the `--system` flag -- I have desire to make pipenv work better for people using the system flag in general and we are getting c

[2022-09-13 15:59] #3356 closed

[2022-09-13 16:04] matteius commented on #3331
@1600 Are you still looking for this, and is this basically requesting the ability for `pipenv install package --system` to work with fewer warnings/problems, or is the problem more nuanced then that?

[2022-09-13 16:08] matteius commented on #2322
I think this is not an issue on latest versions of pipenv -- we can revisit if there is issue with import of requirements files.

[2022-09-13 16:09] #2236 closed

[2022-09-13 16:13] matteius commented on #3167
I think this will be supported better by two things:
1.) Category based package groups -- this is in progress with #4745
2.) Transitive dependencies for other platforms than the system being locked on is not supported by the pip resolver and after spending a bunch of time on it, I realized you can add these specific examples to the `Pipfile` with the appropriate platform marker and then the transi

[2022-09-13 16:17] matteius commented on #3093
@Kurt-von-Laven the pip resolver takes pre at a global level -- maybe possible for us to specify this at a package category level since I believe those groups get resolved/locked separately.   There are some other tickets tracking pre flag though and this original issue is different from requesting the pre per package group.  I am inclined to close this since creating the virtualenv should not ins

[2022-09-13 16:17] #3093 closed

[2022-09-13 16:20] #1921 closed

[2022-09-13 16:23] matteius commented on #2171
Named categories could perhaps solve this problem too #4745
you could have your default group that is common to all systems, and then an ldap-win ldap-linux for example -- it does mean needing to know which package group you want to install ahead of time for that platform, but it feels like a reasonable workaround.

[2022-09-13 16:23] #2171 closed

[2022-09-13 16:29] matteius commented on #3267
Index restricted packages changed this some --  https://pipenv.pypa.io/en/latest/advanced/#specifying-package-indexes  at least for the resolve phase, which sets the packages hashes.  The recent batch install phase optimization does install from all indexes, but for the hashed packages, you would have to be getting the same package or it would not validate the hashes.   Now I think we do have to a

[2022-09-13 16:33] matteius commented on #3194
I spent some time on this last night studying what is happening with respect to the current pip resolver, and basically the platform marker transitive dependencies get filtered out -- modifying pip to not do this revealed that it in many cases has to build the sdist to get the package metadata, which is problematic when that package cannot be built on the local platform.   What I find incredibly i

[2022-09-13 16:35] matteius commented on #3219
Not currently planned.

[2022-09-13 16:35] #3219 closed

[2022-09-13 16:42] matteius commented on #4037
@bw-matthew Thanks for your feedback.  I think it is resolved, so I am closing--we are always welcome to new issue reports so file a new one if something comes up.

[2022-09-13 16:42] #4037 closed

[2022-09-13 16:44] matteius commented on #2487
Progress bar has been removed in an optimization to batch install which cut the average install time in half.

[2022-09-13 16:44] #2487 closed

[2022-09-13 17:50] rvanlaar commented on #4037
After seeing the updates to the ticket I wanted to know if this was solved, especially since this issue made me move away from pipenv for all my projects.

It seems fixed. I'm now greeted with the following message:
[code]

This is the pipfile I used:
[code]

[2022-09-13 19:04] perezzini commented on #4818
Any updates? Thanks

[2022-09-13 20:33] matteius commented on #4818
I closed the issue on the report by @diogobaeder that it is fixed on the latest versions of pipenv.

[2022-09-13 22:59] ncoghlan commented on #1760
For individual packages, https://peps.python.org/pep-0440/#handling-of-pre-releases already requires filters like "> last.final.release" to accept pre-releases when no matching final release is available, which is the specifier you're going to need anyway if relying on a feature or fix that's only available in an upcoming release.

Is there a use case for accepting all pre-releases of a package in

[2022-09-14 03:17] matteius commented on #1760
@ncoghlan Thanks for the reference, I had not read that prior.

accept already installed pre-releases for all version specifiers
accept remotely available pre-releases for version specifiers where there is no final or post release that satisfies the version specifier
exclude all other pre-releases from consideration

  I would say that in the case of pipenv, the resolution likely would not happen

[2022-09-14 03:20] matteius commented on #4498
@irenatfh Are you able to verify if this is still an issue with the latest version of pipenv?

[2022-09-14 03:27] matteius commented on #4411
The only reasonable workaround at this time would be to specify in your `Pipfile` the transitive dependency and relevant marker(s).

For example:
`appnope = {version = "*", markers="sys_platform == 'darwin'"}`

I would be happy to discuss at great length sometime about what I've found about the pip resolver that makes this request virtually impossible in the current lay of the land.

[2022-09-14 03:29] matteius commented on #4380
@glensc the dependency and import usages on pip are a lot more deterministic these days.   Is this still an issue for you?

[2022-09-14 03:30] matteius commented on #2987
This is very close to being a reality -- please track with #4745

[2022-09-14 03:30] #2987 closed

[2022-09-14 03:31] matteius commented on #3542
@PgLoLo Are there still issues with pipenv working with conda?

[2022-09-14 03:33] matteius commented on #3944
@tapaswenipathak If there are documentation improvements you wish to make, feel free to open a PR.   Since this is an old issue I am going to close it out for the time being.

[2022-09-14 03:33] #3944 closed

[2022-09-14 03:34] #4116 closed

[2022-09-14 03:35] matteius commented on #4003
Is there a suitable test case for this on python3.7 or greater, or anyone know if this is still an issue?

[2022-09-14 03:39] matteius commented on #4202
I don't think we plan to exclude pipenv from a particular operating system, but we can accept issue reports as they might pertain to other systems.

[2022-09-14 03:39] #4202 closed

[2022-09-14 03:40] matteius commented on #3983
@mcallaghan-bsm Can this be re-checked on the latest pipenv?

[2022-09-14 07:38] Kurt-von-Laven commented on #3093
@matteius, sorry I am not following. I thought this issue was about `--dev` rather than `--pre`?

[2022-09-14 08:57] dennisvang commented on #5272
Not sure if this is related, or perhaps a separate issue:

Environment variable expansion does not seem to work for editable installs from `Pipfile`.

For example, `pip` supports [environment variable expansion in `requirements.txt`][1], and the following `requirements.txt` content works without issue (using pip 22.2.2 on linux):

`-e "${HOME}/my_editable_package"`

However, if I try something sim

[2022-09-14 10:09] matteius commented on #3093
@Kurt-von-Laven Ah sorry -- I misread your last comment to be about --pre flag, and so the first part of my response was similar to I left in another ticket about --pre.   The second part of of my response is relevant though -- we are going to support named package categories soon, so there can be arbitrary many groups--you may want to apply them in a specific order as well which may mean issuing

[2022-09-14 11:13] #4380 closed

[2022-09-14 11:13] glensc commented on #4380
too old to reproduce

[2022-09-14 11:20] matteius commented on #3965
Backslashes before spaces is a pretty common bash pattern, so I don't think we need to detail this within pipenv's code.

[2022-09-14 11:20] #3965 closed

[2022-09-14 11:23] matteius commented on #3963
I believe this error is no longer present.   We are tracking getting pipenv sync to work properly without the sources from the Pipfile in this ticket:  #5353

[2022-09-14 11:23] #3963 closed

[2022-09-14 13:54] #3636 closed

[2022-09-14 14:21] #4435 closed

[2022-09-14 15:47] Yaaudjduehn opened #5356 "I'll try the main branch for now."
I'll try the main branch for now.

_Originally posted by @Keiku in https://github.com/pypa/pipenv/issues/5056#issuecomment-1101983165_

[2022-09-14 15:49] #5356 closed

[2022-09-14 17:39] #5208 closed

[2022-09-14 17:39] #5349 closed

[2022-09-15 17:32] Kurt-von-Laven commented on #3093
Thank you for the clarification. That sounds reasonable to me all things considered now that you have educated me on the topic. Full disclosure that we felt strongly enough about developer ease-of-use that we switched to Poetry upon learning dev dependencies weren't installed by default, but I don't think most teams will have the same criteria.

[2022-09-16 04:36] #4314 closed

[2022-09-16 04:37] #4021 closed

[2022-09-16 04:38] matteius commented on #3459
I believe this is resolved now, but let us know if it isn't.

[2022-09-16 04:38] #3459 closed

[2022-09-16 04:39] matteius commented on #3401
This will be possibly solved with: https://github.com/pypa/pipenv/pull/5339

[2022-09-16 04:40] matteius commented on #3441
`pipenv sync` installs the versions from the lock file, and `pipenv install` re-lock with the Pipfile specifiers and then installs that updated lock file.

[2022-09-16 04:40] #3441 closed

[2022-09-16 04:41] #3433 closed

[2022-09-16 04:42] matteius commented on #3409
@ashchristopher do you still ask for support with this issue?

[2022-09-16 04:43] #3374 closed

[2022-09-16 04:44] matteius commented on #3357
While we no longer support `3.6` python -- is there anything here that still requires following up on?

[2022-09-16 05:58] kumarkeshav021 opened #5358 "Error running pipenv install with latest pip22.2.2 and pipenv2022.9.8"
Error : `jenkins@dev-7bbcx:~/jenkins-manager$ pipenv install
Installing dependencies from Pipfile.lock (307a86)...
An error occurred while installing -e .! Will try again.
An error occurred while installing -e git+ssh://git@*******/tf-runner.git@d8b9c97b01bfa8a5820d94d5fd66caca7a04ae1d#egg=tf-runner! Will try again.
Installing initially failed dependencies...
[pipenv.exceptions.InstallError]: Obta

[2022-09-16 06:47] BramVanroy commented on #3357
@matteius I haven't encountered this issue in a very long time, so closing it. Thanks.

[2022-09-16 06:47] #3357 closed

[2022-09-16 09:29] thernstig commented on #3093
Dev deps not installed by default is different from, what I can tell from previous discussions, most other dependency management tools. To me a major version and breaking change in this area would be warranted to align and get the pipenv CLI become recognizable for the vast majority of users of various programming languages.

[2022-09-16 10:16] VannTen opened #5359 "`pipenv shell` breaks bash `suspend` (job control)"
### Issue description

When inside a bash shell spawned from `pipenv shell`, using `suspend` (bash builtin to give back control to parent shell from subshell) does not give back control to parent shell (the one running `pipenv shell`).
The issue does not occur when using `pipenv run bash`.

### Expected result

Being able to supend my shell from inside a pipenv subshell like when using `pipenv run

[2022-09-16 10:32] Jmennius opened #5360 "Installing a package from VCS fails with `Invalid specifier: '==attr: ...` if the package is already installed"
### Issue description

When trying install/lock a project from VCS that uses `version = attr: <package.field>` specifier in `setup.cfg`, if the package was (is) previously installed from a wheel, I get an error:
`pipenv.patched.pip._vendor.packaging.specifiers.InvalidSpecifier: Invalid specifier: '==attr: PyInstaller.__version__'`

if installing from VCS when the package is not installed from the

[2022-09-16 11:32] matteius commented on #5358
@kumarkeshav021 It looks like one of your setup.py depends on `click` and so it has to be installed ahead of the other install.  This is similar to #5344 #5332 #5319

[2022-09-16 17:27] jsaladich opened #5362 "Pipfile does not store "--no-binary""
Hi guys,

I found myself in the need of installing some modules with the argument `--no-binary`, when I realized about a potential issue / bug of pipenv

### Issue description
When installing a Python module with argument --no-binary, pipenv does not retain this information in the Pipfile. Therefore, when running a `pipenv install` from this Pipfile, the module is not installed as desired.

### Ex

[2022-09-16 18:55] #5310 closed

[2022-09-17 01:02] matteius commented on #4360
This was completed.

[2022-09-17 01:02] #4360 closed

[2022-09-17 06:51] Suraj-Mittal opened #5363 "Pipenv Shell command not activating the environment"
Hi! My pipenv shell is not activating the environment as it is giving some file not found error. I tried uninstalling and reinstalling pipenv and even the python. I also tried searching for the solution on the internet but couldn't find any. The same issue was raised by someone on GitHub but it is closed without solving the issue. Please help as none of my python projects are working now.

Using W

[2022-09-17 07:11] matteius commented on #5363
@Suraj-Mittal What was the other issue report?  In debugging, have you tried re-creating your virtualenv with `pipenv --rm` and `pipenv sync`?

[2022-09-17 07:18] Suraj-Mittal commented on #5363
Thanks for the reply. Yes I tried recreating the environment but the issue is still there.

[2022-09-17 07:19] matteius commented on #5363
@Suraj-Mittal Please verify that you are on `pipenv==2022.9.8` -- also have you tried the main branch yet?

[2022-09-17 07:22] Suraj-Mittal commented on #5363
I am exactly using that version and I am sorry I don't know what you mean by the main branch.

[2022-09-17 07:29] matteius commented on #5363
@Suraj-Mittal Very possible you'll get the same error on main branch, but just in case since there have been a few changes since last release, you could try `pip uninstall pipenv --yes`  and then I think `pip install git+https://github.com/pypa/pipenv.git@main#egg=pipenv`

Also -- which terminal are you using?

[2022-09-17 07:29] Suraj-Mittal commented on #5363
I am using command prompt

[2022-09-17 07:34] matteius commented on #5363
@Suraj-Mittal Do you happen to have either of these variables set:
`echo %PIPENV_SHELL%`
`echo %PIPENV_SHELL_FANCY%`

[2022-09-17 07:35] Suraj-Mittal commented on #5363
I am actually new to this! Are you talking about environment variables?

[2022-09-17 07:37] matteius commented on #5363
Yes n environment variable.  the problem for me debugging this is the stack trace is clear, but the error is not -- I am guessing it cannot find the executable/command specified, but I am not really sure.   You are helping me narrow which code paths I look at.

[2022-09-17 07:39] Suraj-Mittal commented on #5363
No, I am not there but you can help me to setup.

[2022-09-17 07:45] matteius commented on #5363
@Suraj-Mittal Would you be willing to try the same thing using Windows Power Shell just to see if its different?

Also, I just sent a Suraj Mittal a message on the slack group -- let me know if that is you.

[2022-09-19 10:42] zhanglongqi commented on #4942
Thank you. It works.
Especially when I use byobu, I enabled vietualenv before start byobu, then I can not rebuild virtualenv inside byobu.

[2022-09-19 14:50] matteius commented on #3471
@xerus or @boing102 can this issue be rechecked on latest pipenv?

[2022-09-20 06:34] DragonRulerX opened #5364 "Failed: pipenv install -e git+https://github.com/Rapptz/discord.py#egg=discord.py"
Hello,

I'm not a pipenv expert nor overly familiar with git/github, but I've been working on a discord.py project for awhile and recently encountered a problem after upgrading pip, pipenv, discord.py, and Docker.

My environment configuration is:
* Using pipenv to generate Pipfile and Pipfile.lock files
* Using docker and a Dockerfile to move those files into the container
* Lastly, let docker in

[2022-09-20 18:16] matteius commented on #5364
@DragonRulerX What is in your `Pipfile` -- I suspect both discord entires are somehow in there and so that is why the lock regenerates this way -- I just tried `pipenv install -e git+https://github.com/Rapptz/discord.py#egg=discord.py` in a fresh project directory and it worked fine:

[code]

[2022-09-20 18:27] matteius commented on #5360
@Jmennius I was able to reproduce your issue -- I think it has to do with I don't see a version specifier in the setup.py for `pyinstaller` -- https://github.com/pyinstaller/pyinstaller/blob/develop/setup.py#L253-L272

This confuses the resolver because it needs to pin to a specific version I believe.

[2022-09-20 18:50] matteius commented on #5349
`2022.9.20` is released

[2022-09-20 18:52] matteius commented on #5098
This was fixed in `2022.9.20`

[2022-09-20 18:52] matteius commented on #5208
`2022.9.20` is released

[2022-09-20 19:22] matteius commented on #5130
I am thinking that named categories may help out with this issue -- See: https://github.com/pypa/pipenv/pull/5366

For example:

[code]

Then you can install those specific platform lock sections: `pipenv sync --categories windows`

[2022-09-20 19:35] Jmennius commented on #5360
But the version specifier is in setup.cfg - shouldn't it be enough?
Plus, it works in some cases - like if you install the package in a clean environment.

[2022-09-20 22:34] scastria opened #5367 "pipenv 2022.9.20 broken"
When I run: pipenv install --system --skip-lock
it doesn't install anything.

My Pipfile is:

[code]

If I use pipenv 2022.9.8 (the previous version), everything works fine.

[2022-09-20 22:37] thehesiod commented on #5130
@matteius for that example yes, it just points out that each platform could have a totally unique dependency, like mac = 1.0, windows = 2.0, linux=3.0.  You can't always simplify :) So the poetry way of maintaining all the requirements and re-processing them during sync is more flexible

[2022-09-20 23:37] DragonRulerX commented on #5364
@matteius thank you for looking into this

My Pipfile:
[code]
My Pipfile.lock
[code]

[2022-09-21 00:18] matteius commented on #5367
@scastria We changed dependencies for the Pipfile to plette -- so far I am unable to reproduce this though -- environment variable expansion seems to work.    I am wondering if you need to make `aws` an environment variable as well for the expansion to work.   If you pass --versbose do you get anymore details on where the error occurs?

[2022-09-21 00:25] scastria commented on #5367
Unfortunately, there is no error.  It succeeds but installs no dependencies at all.  None from pypi and none from my private source.  Adding verbose doesn't add much.  I don't think it is an expansion issue because if that was the case, I should get an error stating it can't find my_utils.  Here is the output:

[code]

[2022-09-21 00:33] scastria commented on #5367
Hopefully, you have access to docker.  That should be a good way to allow you to reproduce since you will start with exactly the same starting point as me.  Here is the Pipfile:

[code]

Here is the Dockerfile:

[code]

If you run the docker container, it spits out the list of dependencies.  You will see it does NOT list requests as a dependency since pipenv didn't actually do anything:

[code]

[2022-09-21 00:35] scastria commented on #5367
If you then change the Dockerfile to install 2022.9.8 version of pipenv, like this:

[code]

and then run that new container, it works and shows requests in the list of dependencies:

[code]

[2022-09-21 00:48] matteius commented on #5367
@scastria That first example worked for me -- meaning it actually worked and did not reproduce the issue:

[code]

[2022-09-21 00:51] matteius commented on #5130
@thehesiod The problem is you cannot create the pipenv locks on the system you are not on for transitive dependencies or sdists that need to be built on that specific platform, so maintaining all of the requirements in one section is less practical to how pipenv utilizes the pip resolver.

[2022-09-21 00:51] oz123 commented on #5367
Can you please try and see if this works with the description of how to use pipenv with docker?

https://pipenv.pypa.io/en/latest/basics/#pipenv-and-docker-containers

I believe that the `--system` flag is the cause for your problem. If I try this without the `--system` flag, it works:

[code]

[2022-09-21 00:52] oz123 commented on #5367
Related : https://github.com/pypa/pipenv/issues/5340

[2022-09-21 00:53] matteius commented on #5367
This seems to be a regression in the `--skip-lock` flag.

[2022-09-21 01:00] oz123 commented on #5367
I can confirm that :
[code]

[2022-09-21 01:26] matteius commented on #5367
@scastria If you can, please try this branch, it seemed to fix it locally and all tests passed.  We will have to release a new version of plette and vendor that in, but this branch contains those changes already for testing purposes.
https://github.com/pypa/pipenv/pull/5368

[2022-09-21 02:19] scastria commented on #5367
Can you provide instructions on how to test with a branch of pipenv?  I have not done that before.

[2022-09-21 03:10] matteius commented on #5367
`pip install git+https://github.com/pypa/pipenv.git@issue-5367b`

[2022-09-21 10:35] rahulkp220 commented on #5052
`pipenv --rm` before `pipenv install` in docker does the job! 🎉

[2022-09-21 11:44] JNKielmann commented on #5367
I had a similar issue running:
pipenv install --dev --skip-lock
I can confirm that installing the patched version you mentioned fixed it for me.

[2022-09-21 11:47] kaykhan commented on #5208
Upgrading to this new version (2022.9.20) has resolved the problem for for me. thanks!

![Screenshot from 2022-09-21 12-46-59](https://user-images.githubusercontent.com/5202527/191496058-ef47f658-2282-46cc-91e2-06d35f9c1d50.png)

[2022-09-21 14:41] matteius commented on #5367
`2022.9.21` has been released to address this issue.

[2022-09-21 15:23] kaykhan opened #5371 "Warning: --system is intended to be used for Pipfile installation, not installation of specific packages. Aborting"
### Issue description

A docker build for our application has began to fail due to the following command and error

 **pipenv install --sequential --system --deploy**

[code]

This seems to have occurred in the last few days, maybe because of an update? It's not clear what the solution is.

### Expected result

Expect pipenv to install dependencie

### Actual result

[code]

### Steps to replicate

[2022-09-21 18:08] mcallaghan-geotab commented on #3983
(sorry issue is so old I probably won't come back to it)

[2022-09-21 18:12] #3983 closed

[2022-09-21 21:10] oz123 commented on #5359
That is an interesting issue to work on.

`pipenv shell` calls pexpect, so the issue is maybe related to pexpect or to how we use pexpect, follow from here:

https://github.com/pypa/pipenv/blob/114eb8f80a63e519fe9d12ac9e7cb60444cf47c0/pipenv/core.py#L2424

`pipenv run` calls `os.execve` in

https://github.com/pypa/pipenv/blob/114eb8f80a63e519fe9d12ac9e7cb60444cf47c0/pipenv/core.py#L2579

This make

[2022-09-22 06:18] matejsp opened #5372 "Reproducable lock file"
Lock file is getting changed each time somebody runs the pipenv sync and lock.

What happens is that markers are randomly applied. Sometimes:
[code]
[code]

And this is randomly applied to different dependencies. We commit lock file to git and it is really annoying to have each run change the lock file.

-------------------------------------------------------------------------------
(crypt) ➜  pip

[2022-09-22 06:21] matejsp commented on #5372
And another case for same dep:
[code]
[code]

[2022-09-22 07:46] matteius commented on #5372
Same as #4660

[2022-09-22 08:52] matteius commented on #4660
Perhaps too early to tell, but I maybe am onto something about this issue -- I removed the `lru_cache` decorators around the marker generation in requirementslib in this PR:  https://github.com/pypa/pipenv/pull/5373

I updated @dqkqd example Dockerfile to install this branch, and ran it three times without issue:

[code]

I also relocked pipenv 4 times and the markers only changed the first time s

[2022-09-22 08:56] matteius commented on #5372
This may fix it:  https://github.com/pypa/pipenv/pull/5373

[2022-09-22 09:59] matteius commented on #5075
The `PkgResourcesDeprecationWarning` were finally solved -- perhaps also the `FileNotFoundError` -- could someone re-check?

[2022-09-22 10:02] matteius commented on #4746
We have made recent improvements in this area, currently taking around 20 minutes to run the test suite.

[2022-09-22 10:02] #4746 closed

[2022-09-22 10:04] matteius commented on #5037
@jgillich there is no longer the progress bar in pipenv, and the current example looks like:
[code]

Are you looking for no logging at all or is this acceptable?

[2022-09-22 11:56] tamis-laan commented on #2817
need this to install git hooks for enforcing semver

[2022-09-22 16:27] stumpylog commented on #5288
I'm running into this issue with `2022.9.21`.  The python executable is being installed to `.venv/local/bin/python`, but the expected location is `.venv/bin/python`.

[2022-09-23 02:10] #3935 closed

[2022-09-23 09:54] Reddine commented on #5075
I still have to use https://github.com/pypa/pipenv/issues/5075#issuecomment-1107460002 solution.

- Ubuntu 22.04.1 LTS
- pipenv, version 2022.9.21
- Python 3.10.6
- pip 22.2.2

[2022-09-23 13:23] dehhganii opened #5374 "Pipenv version 2022.8.31"
### Issue description

We work on a project which uses pipenv. In the version 2022.8.31 the building in Jenkins get failed. When I specify the version in our code the build is fine. However, all versions after 2022.8.30 make the build failed.
### Expected result

The build should pass with no error
### Actual result

The build failed due to: hudson.AbortException: script returned exit code 1

![im

[2022-09-23 13:27] matteius commented on #5374
@dehhganii I would need to see more of the `--verbose` output to try to determine which package, basically I believe this is similar to #5332 #5340 #5354 and #5358 -- there is likely some dependency that a setup.py imports which is not available during the install phase because it too is being installed.   #4745 will provide better support for specifying arbitrary package install groups such as pr

[2022-09-23 13:34] dehhganii commented on #5374
Hello Matt,
Thank you for the response. I am copying the part of the log I get from the
first error. It is tooo long.

[image: image.png]

On Fri, Sep 23, 2022 at 9:27 AM Matt Davis ***@***.***> wrote:

[2022-09-23 23:26] xahver opened #5375 "Pipenv error"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-09-23 23:30] xahver commented on #5375
I'm on python version 3.9.4.  Im currently attempting to do app academy open and I ran into this issue which is hindering me from moving on to the next section of learning I looked at someone with a similar experience to mine but they resolved there issue but mine still remains so if anyone could help that'd be great

[2022-09-23 23:43] xahver commented on #5375
Ive tried updating it and failed I tried downgrading setuptools and nothing I tried using pip install git+https://github.com/pypa/pipenv.git@main and still nothing. Im kind of stuck at this point.

[2022-09-24 00:37] matteius commented on #5375
@xahver I am not sure what the issue is based on your report -- you have the deprecation warning that was fixed in `2022.9.21` but you are running a prior version, and those warnings should not affect the behavior of pipenv.

[2022-09-24 00:51] xahver commented on #5375
Is there a way to change versions so I no longer see the warnings for some reason its preventing me from moving forward
![Screenshot 2022-09-23 204632](https://user-images.githubusercontent.com/102440646/192073017-f60c0e38-8143-4bbf-b01b-851ab3a98b4d.png)
I am running the checker for app academy and its saying "pipenv not installed" which is making it so I cant go to the next step.

[2022-09-24 00:53] matteius commented on #5375
@xahver Sure, you can `pip install pipenv --upgrade` but that won't solve your issue, just the deprecation warning.   Its apparently trying to use the pipenv in a specific location, if you type `which pipenv` what is your path?

[2022-09-24 00:54] xahver commented on #5375
when I type which pipenv it pops up /home/xahver/.local/bin/pipenv

[2022-09-24 00:55] matteius commented on #5375
Are you able to share the contents of the script you are running that says pipenv cannot be found?

[2022-09-24 01:01] xahver commented on #5375
I just put
pipenv --version
then the warning comes up
/usr/lib/python3/dist-packages/pkg_resources/__init__.py:116: PkgResourcesDeprecationWarning: 0.1.43ubuntu1 is an invalid version and will not be supported in a future release
  warnings.warn(
/usr/lib/python3/dist-packages/pkg_resources/__init__.py:116: PkgResourcesDeprecationWarning: 1.1build1 is an invalid version and will not be supported i

[2022-09-24 01:04] matteius commented on #5375
@xahver That is not what I mean -- those are just warnings and do not effect the behavior of pipenv.   What command are you running that generated the output in that screenshot, the codeacademy thing?

[2022-09-24 01:04] xahver commented on #5375
Ohh my bad curl its
-s https://raw.githubusercontent.com/appacademy/aa-setup-checker/master/run.sh | bash

[2022-09-24 01:05] xahver commented on #5375
curl -s https://raw.githubusercontent.com/appacademy/aa-setup-checker/master/run.sh | bash

[2022-09-24 01:05] xahver commented on #5375
Sorry messed up there

[2022-09-24 01:09] matteius commented on #5375
@xahver It is failing at this part of the script:  https://github.com/appacademy/aa-setup-checker/blob/master/helpers/python-checker.sh#L22
`IS_PIPENV_INSTALLED_IN_PYENV=$(which pipenv | grep -c "pyenv/shims/pipenv")`

Did they give any special instructions for how to install pipenv or for configuring pyenv ahead of time?

[2022-09-24 01:10] xahver commented on #5375
No they just told us to put pip install pipenv and it installed then I went to check the version and boom warning

[2022-09-24 01:11] xahver commented on #5375
They did make us put something else hold on

[2022-09-24 01:12] matteius commented on #5375
@xahver Can you `pip uninstall pipenv --yes` and run it multiple times, until it says it is uninstalled and then do `pip install pipenv` which should get you the latest version which should not have that particular warning.

[2022-09-24 01:13] xahver commented on #5375
We put
export PIPENV_VENV_IN_PROJECT=1 w=1
in the visual code application as well I almost forgot about that

[2022-09-24 01:13] xahver commented on #5375
Ok ill try that now

[2022-09-24 01:16] xahver commented on #5375
Yeah its still popping up that warning again

[2022-09-24 01:17] matteius commented on #5375
@xahver `pipenv --version` should be 2022.9.21

[2022-09-24 01:20] xahver commented on #5375
Ok I screenshotted what I did
![Screenshot 2022-09-23 211952](https://user-images.githubusercontent.com/102440646/192074134-8eeec032-f9b3-4d1a-9020-fa2d5cc16fd7.png)

[2022-09-24 01:21] matteius commented on #5375
@xahver Yes that is why I said to run the uninstall command multiple times, somehow you have more than one version installed.

[2022-09-24 01:21] xahver commented on #5375
Wait alright brb doing that now

[2022-09-24 01:23] xahver commented on #5375
![Screenshot 2022-09-23 212301](https://user-images.githubusercontent.com/102440646/192074242-760ac9bf-06d2-411c-bb82-e3edd4b34142.png)

[2022-09-24 01:24] xahver commented on #5375
Still popping up with the old version

[2022-09-24 01:26] matteius commented on #5375
Leave the new version uninstalled until we can get rid of this prior version copy.

I'd recommend removing that old binary `rm /home/xahver/.local/bin/pipenv`

[2022-09-24 01:29] xahver commented on #5375
Just to be sure u want me to delete this
![Screenshot 2022-09-23 212759](https://user-images.githubusercontent.com/102440646/192074426-057ae70a-dd68-4b92-8b69-9b2535da9830.png)

[2022-09-24 01:30] matteius commented on #5375
Yeah -- somehow you have that version of pipenv installed on your path but its not recognized as something pip manages.

[2022-09-24 01:31] xahver commented on #5375
Alright I deleted it whats the next step

[2022-09-24 01:31] matteius commented on #5375
verify when your `pipenv` that the command is not found.

[2022-09-24 01:32] xahver commented on #5375
Nothings popping up anymore I think thats a good thing

[2022-09-24 01:33] matteius commented on #5375
@xahver Not sure what you mean -- is the command not found or its now finding the new version?

[2022-09-24 01:34] xahver commented on #5375
When I like type it nothing pops up
![Screenshot 2022-09-23 213421](https://user-images.githubusercontent.com/102440646/192074570-1f999af3-f68b-4896-8880-4b97898cf8ce.png)

[2022-09-24 01:35] matteius commented on #5375
it should say command not found, type `which pipenv`

[2022-09-24 01:35] xahver commented on #5375
![Screenshot 2022-09-23 213544](https://user-images.githubusercontent.com/102440646/192074611-8bf0a9cc-4869-4cea-9ad3-f29abcd52c19.png)

[2022-09-24 01:37] matteius commented on #5375
@xahver `sudo rm -rf /home/xahver/.local/bin/pipenv` because the file is still there.

[2022-09-24 01:39] xahver commented on #5375
![Screenshot 2022-09-23 213833](https://user-images.githubusercontent.com/102440646/192074702-8b4646d9-4521-4e5f-9cc8-8ca28a2d1fd7.png)

[2022-09-24 01:39] matteius commented on #5375
Another version exists, again `which pipenv`

[2022-09-24 01:40] xahver commented on #5375
/home/xahver/.pyenv/shims/pipenv

[2022-09-24 01:40] xahver commented on #5375
thats what pops up

[2022-09-24 01:40] matteius commented on #5375
Can you make sure you don't have the `apt` version installed?  `sudo apt remove pipenv`

[2022-09-24 01:42] xahver commented on #5375
![Screenshot 2022-09-23 214153](https://user-images.githubusercontent.com/102440646/192074777-25ed6aa4-9b99-4914-8bb7-5e0d9d654e74.png)

[2022-09-24 01:42] xahver commented on #5375
I got this so i press Y ?

[2022-09-24 01:43] matteius commented on #5375
yes

[2022-09-24 01:44] xahver commented on #5375
done

[2022-09-24 01:46] matteius commented on #5375
Now is `pipenv` command not found?

[2022-09-24 01:47] xahver commented on #5375
![Screenshot 2022-09-23 214702](https://user-images.githubusercontent.com/102440646/192074935-a4d9cb30-3b2a-4dcf-938a-73785c2351ab.png)

[2022-09-24 01:47] matteius commented on #5375
@xahver Ok ready to have you `pip install pipenv`

[2022-09-24 01:49] xahver commented on #5375
YOU DID IT OMG THANK YOU

[2022-09-24 01:50] xahver commented on #5375
Much love now I can get to learning how to code I appreciate it. Thanks so much

[2022-09-24 01:51] #5375 closed

[2022-09-24 01:52] xahver commented on #5375
Sounds great thank you for your help hope you have a great day or night wherever your at.

[2022-09-24 13:10] matteius commented on #5374
@dehhganii I feel that there would be some other error in the `pipenv sync --verbose` output.   Since the hashed packages installed as a group there is no good way to determine from the above output which package is causing you the install troubles.

[2022-09-24 15:07] matteius commented on #5075
I am now getting the same error now that I upgraded my Ubuntu VM (22.0.4) ... the `export SETUPTOOLS_USE_DISTUTILS=stdlib` workaround did not seem to help in my case.

[2022-09-24 15:16] Reddine commented on #5075
After installing Ubuntu I used this command to update pipenv
`pip install --upgrade pipenv`
and I have this shell configuration:
[code]
Not sure if that helps!

[2022-09-24 16:09] matteius commented on #5075
The problem for making this better in pipenv is how to tell when it should be `{base}/bin` vs `{base}/local/bin` ... the way its coded right now is it referencing a specific scheme in sysconfig that ends up being wrong for ubuntu.  I am not sure if this patch will have side-effects, but I started a branch to begin addressing this issue.  https://github.com/pypa/pipenv/pull/5376

[2022-09-24 19:02] #4660 closed

[2022-09-24 23:33] matteius commented on #5372
Please try `pipenv==2022.9.24`

[2022-09-24 23:33] #5372 closed

[2022-09-24 23:34] matteius commented on #5043
@gitpushdashf marker determinism should be solved with `pipenv==2022.9.24`

[2022-09-24 23:34] #5043 closed

[2022-09-25 03:06] chasedenecke commented on #4564
In my case the issue was that I hadn't agreed to the **xcode licensing agreement**.

I fixed the issue by typing `sudo xcodebuild -license` and agreeing to the license.

I was then prompted to update my xcode CLI tools, which was also necessary since further runs of `pipenv install` produced errors like `xcode-select: Failed to locate 'clang', requesting installation of command line developer tool

[2022-09-25 10:05] matteius commented on #5075
I spent some more time on this, and I think the best workaround, which is reflected in https://github.com/pypa/pipenv/pull/5376/files, is to use `--creator=venv` when pipenv creates new virtualenvs, this seems to solve all of the problems I found using pipenv out of the box on the latest ubuntu, but I think it may means once we release this, folks that are using the workaround would need to clear

[2022-09-25 11:35] oz123 commented on #5075
Does this work if python3-venv package is missing?

[2022-09-25 13:03] matteius commented on #5075
@oz123
[code]

[2022-09-25 16:17] oz123 commented on #5075
You need to check with `apt`:
[code]

[2022-09-25 17:00] matteius commented on #5075
@oz123 Appears to work:
[code]

[2022-09-25 18:45] oz123 commented on #5075
It appears that Ubuntu is distributing `venv` as part of the standard libpython ! It used to be a separate package in older times.

[2022-09-25 20:38] kiprotichdominic commented on #5075
THIS WORKED FOR ME

[2022-09-25 21:06] matteius commented on #5075
Fix will be in the next release.

[2022-09-25 21:06] #5075 closed

[2022-09-26 17:51] gitpushdashf commented on #5043
Awesome! Thank you so much! Will test later.

[2022-09-26 20:47] glensc commented on #3493
`pipenv lock --requirements` / `pipenv lock -r` is no longer there. any ideas why?

[code]

[2022-09-26 21:06] glensc commented on #3493
ok, found this:
- https://github.com/pypa/pipenv/pull/5013

[2022-09-26 21:26] thehesiod commented on #5130
@matteius ya, it would be nice to have the lockfiles be per arch, perhaps like Pipfile.w32.lock or something. Given you can have runtime dynamic dependencies it makes more sense to have one lockfile per arch, perhaps like Pipfile.darwin_x86_64.lock or something.  Actually I just found a counterpoint with poetry, it's unable to lock if not all platforms have valid scenarios, like we don't do win32,

[2022-09-27 10:15] eitel13 commented on #1356
I had a similar issue today with installing dependencies from a `pipfile` in my organisation. It may or may not be the _exact_ same problem everyone had in this thread, but I figured it _could_ be of some use to some of you. :)

`pipfile` contents:

[code]

When running `pipenv install` command from the dir where the `pipfile` was located, I was getting this error:

`An error occurred while instal

[2022-09-27 15:49] epizut commented on #856
The initial description is still very clear to me.
Developers are used to pip.conf and companies are using it to promote private repos. It's also pretty common to set machine wide settings like http_proxy in this file. Having pipenv parsing pip.conf will also help solving:
- https://github.com/pypa/pipenv/issues/1040
- https://github.com/pypa/pipenv/issues/2075

[2022-09-27 21:26] gitpushdashf commented on #4660
This is great, thank you!

[2022-09-28 08:01] roansong commented on #4942
I ran into this after IntelliJ opened a terminal inside an activated virtualenv. Running `set VIRTUAL_ENV ""` (fish) or `export VIRTUAL_ENV ""` (bash) fixed it for me

[2022-09-28 11:12] DSamuylov commented on #5040
@matteius, I may have an example of a use case:

- `package_a` has a Pipenv file and `setup.py`
- `package_b` has a Pipenv file and depends on `package_a`.
- When developing `package_b`, I would like to install `package_a` in editable mode with `pipenv install -e ../package_a`

The last step should also install all dependencies of `package_a` to the environment of `package_b`. From my understandin

[2022-09-28 12:23] matteius commented on #5040
@DSamuylov A few thoughts -- Including code that has to be evaluated, even an interpolated sting, is problematic for the setup.py AST parsers of requirementslib, and unlike pip--it will not evaluate code in the setup.py, so I think you would still have issues with a package setup.py like this if pre-built wheels were not available and a user were to `pipenv install cloudsense-logging` or certain l

[2022-09-28 14:34] dehhganii commented on #5374
Based on new investigation we did the **one** problem is that the  hash-code does not get generated in updating pipfile.lock. As it is in these issues: https://github.com/pypa/pipenv/issues/5021
https://github.com/pypa/pipenv/issues/5053

[2022-09-28 17:32] DSamuylov commented on #5040
@matteius, Thank you a lot for your prompt response, I highly appreciate it! Just before I saw your reply, I was about to write that this approach does not work. I am not sure if it linked to your argument, but from my understanding with such approach there is also a circular requirement to install the dependency: from `project_b` you install dependencies from `project_a`, and  in the `setup.py` o

[2022-09-29 02:55] matteius commented on #5040
Sorry @DSamuylov I think I misspoke this morning about pipenv using pyproject.toml for it install_requires, which is currently a list in setup.py.   Requirementslib which pipenv relies on has a pyproject.toml as well, also not defining the required packages, but requirementslib puts them into the setup.cfg https://github.com/sarugaku/requirementslib/blob/main/setup.cfg#L42
but that being said, pyp

[2022-09-29 17:09] yukihiko-shinoda opened #5377 "Fail to pipenv update due to MetadataGenerationFailed"
### Issue description

Fail to `pipenv update` due to `pipenv.patched.pip._internal.exceptions.MetadataGenerationFailed: metadata generation failed`.

### Expected result

Succeed to update.

### Actual result

Failed to update:

<details><summary>console output</summary>

[code]

</details>

### Steps to replicate

1\.
Create Pipfile:

[code]

2\.
Lock:

[code]

Then, hacking is locked as v0.5.4

[2022-09-29 17:09] yukihiko-shinoda commented on #5377
<details>

  <summary>Console log 1</summary>

[code]

</details>

[2022-09-29 17:09] yukihiko-shinoda commented on #5377
<details>

  <summary>Console log 2</summary>

[code]

</details>

[2022-09-29 17:10] yukihiko-shinoda commented on #5377
<details>

  <summary>Console log 3</summary>

[code]

</details>

[2022-09-29 17:34] matteius commented on #5377
@yukihiko-shinoda It is possible that you need to `pipenv run pip install pbr>=2.0.0` ahead of this becuase of the hacking setup.py may depend on it to generate the metdata:  https://opendev.org/openstack/hacking/src/branch/master/setup.py#L19

I would see if that helps and report back.

[2022-09-29 17:44] benriou commented on #5377
Hello ; I'm having the same error message with the same pipenv (2022.9.24) and pip version (22.2.2) ; Python version used 3.7.13.

Any pipenv locking attempt results the same error :
`pipenv.patched.pip._internal.exceptions.MetadataGenerationFailed: metadata generation failed`

All the pre-requisites have been installed within the venv, also `pip install .` works correctly.
Removing the Pipfile.lo

[2022-09-30 09:47] sweco commented on #4435
Hey @matteius, thank you for the update and sorry that it took me so long to test this.

I can definitely confirm that the behavior is different now. The generated list of requirements is now installable. However, after rerunning @shiyuangu's [example](https://github.com/pypa/pipenv/issues/4435#issuecomment-971119008), I can see that the dev requirement `"flake8" = "4.0.1"` is not respected. This

[2022-09-30 10:31] xahver opened #5378 "Command Ls pops up pipefile.lock I want to change that but dont know how"
![Screenshot 2022-09-30 063052](https://user-images.githubusercontent.com/102440646/193251393-b79bace7-e781-4abe-8852-792300cc8193.png)
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if i

[2022-09-30 11:10] xahver commented on #5378
Currently in appacademy and where doing basic navigation and I cant seem to use this command without this pipfile.lock coming up anyway anyone can help me with this.

[2022-09-30 13:14] pradyunsg opened #5379 "What does pipenv need to stop vendoring a patched version of pip?"
The question says it all really. I'd like for the Python packaging ecosystem to move away from trying to use pip as a library, to broadly reduce the fragility to the tooling.

What are the parts of pip that pipenv tries to use, and what would be necessary to decouple pipenv from pip, so that it can use a shared implementation (eg: build, installer) instead?

[2022-09-30 13:29] pradyunsg commented on #5379
Adding a cross reference to https://github.com/pypa/pip/pull/10964

[2022-09-30 13:35] matteius commented on #5379
@pradyunsg I'll eventually have more time to elaborate, but my initial take is this would be ultimately very challenging for both parties, as we use many internal aspects of pip across pipenv and requirementslib.   We vendor pip to ensure the internals are reliable for what is integrated against, and there are even a few patch file we apply:  https://github.com/pypa/pipenv/tree/main/tasks/vendorin

[2022-09-30 14:30] yukihiko-shinoda commented on #5377
@matteius Thanks for quick response, unfortunately it had no effect.

<details>
  <summary>Console log</summary>
[code]

</details>

[2022-09-30 15:01] pradyunsg commented on #5379
None of the arguments other than fragility from https://pip.pypa.io/en/stable/development/vendoring-policy/#rationale apply.

Having pipenv live outside of the environments it manages and outside of a user-managed environment where they could run a command and break it, would solve the fragility problem while avoiding all the caveats that come with vendoring.

[2022-09-30 15:04] pradyunsg commented on #5379
I'll also note that currently, pipenv isn't merely vendoring dependencies but vendoring forks of those dependencies, given that you have patches to implement entire features in the packages/dependencies that you vendor.

That means that it's harder for downstream redistributors to redistribute the package and harder for you to keep up to date with the dependency (you are effectively managing a for

[2022-09-30 15:58] jerempy commented on #5294
I'm interested in taking a stab on this one

[2022-09-30 15:58] jerempy commented on #5345
I'd like to take a shot on this one

[2022-09-30 16:30] matteius commented on #5379
But that is actually an example where we use sub-process and invoke pip "normally" using the public interfaces :-D

Thanks again -- I've been pretty busy with a construction project and being off work for two weeks, this week I've been back to work so its been a real whirlwind.

From the perspective of what could pip do to improve things, If there were a public interface to the resolver that we co

[2022-09-30 16:42] matteius commented on #5378
@xahver The Pipfile.lock is what actually stores the resolved dependencies.  It is an important file that you'll want to keep around.

[2022-10-01 03:32] yukihiko-shinoda commented on #4101
@matteius I confirmed that this seems to be fixed in pipenv ver. `2022.4.21` -> `2022.4.30`.
Note that it requires to remove `Pipfile.lock`, otherwise `markers` of `colorama` in `Pipfile.lock` doesn't remove when `pipenv lock` even with pipenv ver. `2022.9.24` .

## 2022.4.21

[code]

[code]

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2018.11.26'`

Pipenv location: `'/usr/lo

[2022-10-01 11:09] xahver commented on #5378
Oh wait Matt its you again. I was trying to type in ls which was supposed to list my folders and files but it didn't do you know how I can get it to list it because all its popping up is that

[2022-10-01 17:56] COLAMAroro commented on #944
I just had the same issue. Recently, I wanted to test [Nix](https://github.com/NixOS/nix) (the package manager), which could help in managing multiple versions of Python (having to compile from source Python38 for one single project was annoying, I'm sorry for those who need even more...)

Because Nix is already managing most of the environment variables, the idea was to create a `shell.nix` to au

[2022-10-01 18:33] oz123 commented on #5379
@pradyunsg thank you for your interest in pipenv development.
Matt has already answered many of your concerns. I'll just add my two cents:
First,

Can't agree more here with you. Pipenv was and is very popular, and it's not bad we have also other solutions, that compete in this space. However, not all of them do all that it does, and sometimes it's hard for users to move away to a new project.
So,

[2022-10-01 18:34] oz123 commented on #5379
BTW, I think we should move this to a discussion instead of an issued ...

[2022-10-01 23:56] matteius commented on #5353
@aawilson Would you be able to help verify the fix of the Pipfile.lock sources being preferred for the install phase?  https://github.com/pypa/pipenv/pull/5380

[2022-10-02 00:18] pradyunsg commented on #5379
Same, with pip. :)

That's not what I meant by "installer" -- Poetry's installer installs poetry in a separate virtualenv, placed at a well-known location *outside* of the user's Python environments.

That way, Poetry lives with its own environment (like an application). This environment cannot be broken by changing packages via `pip` unless the user goes out of their way to do that.

[2022-10-02 04:37] yukihiko-shinoda commented on #4349
I confirmed that this issue is fixed.
However, fixed from `pipenv=2020.8.13`, maybe locking algorithm is changed in `2020.6.2` -> `2020.8.13`.

[2022-10-02 07:47] #5187 closed

[2022-10-02 13:44] #5353 closed

[2022-10-02 14:02] matteius commented on #5377
@yukihiko-shinoda I was unable to reproduce the issue on the main branch on latest ubuntu:

[code]

[2022-10-02 14:04] matteius commented on #5377
@yukihiko-shinoda Perhaps verify you have the latest setuptools installed in your environment before locking?   I'm guessing here since I wasn't able to reproduce it.

[2022-10-02 14:17] matteius commented on #5272
@dennisvang Just wondering--Does it work if you define it with the variable not in the quotes?  Like this:
`my_editable_package = {path = ${HOME}"/my_editable_package", editable = true}`

[2022-10-02 14:18] matteius commented on #5272
@EugeniuZ or @EugeniuZ -- have you tried defining your sources like this:
`"sources": [ "url":"https://${USER}:${ACCESS_TOKEN}@gitlab.com/private/repo" ]`

[2022-10-02 16:13] ughstudios opened #5385 "pipenv fails to install my pipfile"
I have so many errors and I don't know what's going on here.

Python version:
3.10.7

pipenv Version: 2022.9.24

OS: Windows 11

Here is my pipfile:
[code]

[2022-10-02 17:10] matteius commented on #5385
@ughstudios the obvious thing to me about the Pipfile is you are calling out a  second source, but not using it to install any packages from.  Please see:  https://pipenv.pypa.io/en/latest/advanced/#specifying-package-indexes

[2022-10-02 19:03] matteius commented on #5385
@ughstudios it would matter if one of your dependencies needs to be pulled from there.  Can you run `pipenv lock` to see if that is where its failing, or if its happening in the `pipenv sync` phase which only installs from the lock file (first step would have to succeed for this).

[2022-10-03 01:00] kicksmackbyte commented on #5288
+1

[2022-10-03 01:25] matteius commented on #5288
Fix is in the main branch, will cut a release sometime (soon) this week.

[2022-10-03 08:22] dennisvang commented on #5272
@matteius Thanks for the tip. Unfortunately, that yields a

```tomlkit.exceptions.UnexpectedCharError: Unexpected character: '$'```

[2022-10-03 09:09] gregcowell commented on #876
No Python REPL history is also an issue on Windows 11 / Powershell / pipenv shell. A workaround is to activate the virtual environment created by pipenv using the Activate.ps1 script. Not very convenient but I guess okay if you only need REPL history occasionally but still want to stick with pipenv on Windows.

[2022-10-03 12:22] matteius commented on #5385
@ughstudios I wasn't able to reproduce it -- as it locked fine and then `pipenv sync` ran fine.    Can you look through the output of `pipenv sync --verbose` to see if there is a specific error building one of the packages setup.py?

[2022-10-03 17:51] yukihiko-shinoda commented on #5377
@matteius I'm testing by Docker and Python official images: [python - Official Image | Docker Hub](https://hub.docker.com/_/python)

## Step to build testing environment

1\.
Prepare 2 files:

- `docker-compose.yml`
- `Dockerfile`

`docker-compose.yml`:

[code]

`Dockerfile`:

[code]

2\.
Build Docker image and run Docker container:

[code]

Then you can test Python, pip, and can install Pipenv.

[2022-10-04 22:45] xahver commented on #5378
So like Im still having issues with this pls help :(

[2022-10-04 22:51] matteius commented on #5378
@xahver `ls` simply lists what files/directories are present in your working directory which can be printed with `pwd`.   If you wanted to print the contents of the file you could `cat` it -- example: `cat Pipfile.lock`.   These are basic linux commands which is outside of the scope of pipenv.   Is there a specific pipenv thing you are trying to accomplish?

[2022-10-04 22:58] xahver commented on #5378
I was just a little confused because Im watching a tutorial on setting up this system so I can continue with learning code at appacademy and there saying ls supposed to list those files but its not. Its just popping up Pipfile.lock so I didnt know if something went wrong or what

[2022-10-04 23:01] xahver commented on #5378
If is pops up pipfile.lock does that mean everything is fine? If so why isn't it popping up the directories?

[2022-10-04 23:10] matteius commented on #5378
@xahver What kind of directories are you expecting? Is there also a `Pipfile` in addition to the `Pipfile.lock`?  If you made a project directory and ran pipenv to create a lock file then what you see may make sense.   Pipenv generally not create directories in the project directory -- so you may have to explain more which directory you are looking for.

[2022-10-04 23:17] xahver commented on #5378
I was expecting it to look like this
![Uploading Screenshot 2022-10-04 191527.png…]()

Instead I got something like this

![Screenshot 2022-10-04 191623](https://user-images.githubusercontent.com/102440646/193947734-c7b91636-031a-4a73-85af-5dda8f28c570.png)

[2022-10-04 23:19] xahver commented on #5378
I havent explored or done anything with the terminal so far. Oh yeah a pipfile also pops up alongside pipfile.lock

[2022-10-04 23:20] xahver commented on #5378
All ive done so far is set up the terminal and ran the checker and everything checked out there but then theres this

[2022-10-04 23:25] matteius commented on #5378
@xahver That screenshot is just showing a listing of that user's files on their Desktop -- nothing to do with pipenv and I would expect your filesystem to look different anyway.   What exactly are you trying to do?

[2022-10-04 23:32] xahver commented on #5378
No lol Im sorry I don't think I'm being clear. Ok so we type in the panel ls right is it normal for it to popup with just pipfile and pipfil.lock I was just curious because in the presenters video shes showing all these files and directories that my terminal isnt showing.

[2022-10-05 00:12] matteius commented on #5378
@xahver I think it is fine.  So what is your path when you type `pwd`?   If you change to you home directory using `cd ~` do you see additional files when you do an `ls`?

[2022-10-05 01:16] JonZeolla commented on #5288
Thank you; I am also encountering this issue.

[2022-10-05 01:55] matteius commented on #5288
Just cut pipenv `2022.10.4` -- should address this issue.

[2022-10-05 01:55] #5288 closed

[2022-10-05 02:52] xahver commented on #5378
Sorry for the late respond I had a last minute school assignment to do but here I took another screenshot
![Screenshot 2022-10-04 224954](https://user-images.githubusercontent.com/102440646/193970741-5aa10365-8e7c-4867-8697-2d8d785fba7a.png)

[2022-10-05 02:57] matteius commented on #5378
@xahver So your home directory is empty, probably a fresh install of WSL.  That's fine.   I recommend not having your pipenv project be your home directory though.    run `pipenv --rm` there to be sure, and create a new directory, perhaps call it projects.  `mkdir projects` -- then `cd projects` and create another directory for the project you want to work on -- run pipenv commands in that directo

[2022-10-05 03:03] xahver commented on #5378
![Screenshot 2022-10-04 230253](https://user-images.githubusercontent.com/102440646/193972002-9b563842-c5f6-40f4-bd02-550c13166350.png)

[2022-10-05 03:03] xahver commented on #5378
like this right

[2022-10-05 03:07] xahver commented on #5378
I think Im getting it now so I just didnt have the libraries because its a fresh install smh jeez I wish they explained that in the video

[2022-10-05 03:10] matteius commented on #5378
Its ok @xahver  -- you'll figure it out in time, just keep at it.

[2022-10-05 03:15] #5378 closed

[2022-10-05 06:40] #5266 closed

[2022-10-05 16:55] aawilson commented on #5353
Yeah I'll give it a whirl today

[2022-10-05 19:30] aawilson commented on #5353
Confirmed success, thanks very much everyone who chipped in.

[2022-10-05 19:47] matteius commented on #5353
Awesome, thanks for checking @aawilson -- I cut a new version last night to pypi which included this fix.

[2022-10-06 16:10] josh-hernandez-exe commented on #4648
some project list a dependency that isn't pip installable. Like some jupyter kernel project list the foreign language version in the dependency.

So would need to be installed before (or independent) `pipenv install`. (a specific example would be [`imatlab`](https://github.com/imatlab/imatlab)). `pipenv install imatlab` breaks the dependency resolution for the lock file. So in my project where I u

[2022-10-06 17:49] yukihiko-shinoda commented on #5377
@matteius Turned out, why it can't reproduce is that I mistaked to pin version in `Pipfile`:

[code]

Then, I fixed the first comment so that you finally can reproduce this issue.
[As you mentioned](https://github.com/pypa/pipenv/issues/5377#issuecomment-1262594102), Installing `pbr` was effective for this issue, however it requires appropriate version and it doesn't reqire when removing virtualen

[2022-10-06 18:40] matteius commented on #5377
@yukihiko-shinoda good to hear -- the work I have been doing in #5366 will support this better because you'll be able to define other package groups such as prereqs, and you can manage the version of pbr or other packages that need to be installed ahead of your default group.

[2022-10-08 07:25] jfly commented on #4909
@matteius sorry for the delayed response here. I just checked, and yes, this is still an issue. I've filed this SO question seeking help from the click folks about how to handle this: https://stackoverflow.com/questions/73995157/best-practice-for-invoke-ing-a-tool-that-internally-calls-exec.

[2022-10-08 15:41] #4745 closed

[2022-10-08 17:02] elichad commented on #4671
FYI I found myself at the scam docs link via https://rootnroll.com/d/pipenv/ - which is currently linked from the front page of the real docs. I've opened a PR to fix that (linked above), but if it doesn't get merged, you may want to rethink referencing that page.

[2022-10-09 15:15] stumpylog opened #5391 "2022.10.9 fails to build from Git (missing poetry)"
### Issue description

CI runs which use the latest pipenv have started failing at installing packages from the Pipfile.lock, raising `ModuleNotFoundError: No module named 'poetry'`

### Expected result

The package is installed as previously.

### Actual result

See the full logs for a run here: https://github.com/paperless-ngx/paperless-ngx/actions/runs/3211820765/jobs/5255005792#step:7:1

### S

[2022-10-09 15:32] matteius commented on #5391
@stumpylog It seems that this package calls out requiring the poetry backend to build the dependency:  https://github.com/paperless-ngx/django-q/blob/paperless-main/pyproject.toml

[code]

Do you have poetry as a requirement in your lock file, and what version of pipenv are you upgrading from?

[2022-10-09 15:47] Dav-Merva commented on #1377
sudo apt remove pipenv

[2022-10-09 15:49] stumpylog commented on #5391
- poetry is not in the lock file
- The CI isn't locked to a version (probably should), but setting to pipenv==2022.10.4 working without issue

[2022-10-09 15:58] matteius commented on #5391
@stumpylog there aren't a lot of changes between those two versions, but the biggest of which is named package categories work.   However, I am not sure how those changes could be causing this issue though.  I see your `Pipfile` in the project you linked to so I will give it a whirl.

[2022-10-09 16:03] matteius commented on #5391
@stumpylog I get a resolution failure with the `Pipfile` you provide trying to generate a fresh lock -- this is on both versions mentioned.

[2022-10-09 16:13] matteius commented on #5391
@stumpylog I was able to reproduce the issue with your existing `Pipfile.lock` and I see where it worked on `2022.10.4` version but not `2022.10.9`  -- it is fairly puzzling though -- I will give it some more thought.

[2022-10-09 16:32] matteius commented on #5391
@stumpylog Well I've traced it down to where I changed the default value of this:  https://github.com/pypa/pipenv/blob/main/pipenv/core.py#L1342 from `False` to `True` but I recall needing to do that in order to get prerequisite packages installed to be available for use during other install phases.

Trying to install poetry ahead of time however does not help surprisingly--in fact the sync phase

[2022-10-09 16:44] matteius commented on #5391
@stumpylog I just thought more about this, and re-read the pip documentation on `--no-build-isolation` and https://stackoverflow.com/questions/62889093/what-does-no-build-isolation-do

The key part that is affecting you is:

However with named package categories it became apparent in this test case https://github.com/pypa/pipenv/blob/main/tests/integration/test_install_categories.py#L36)  that in

[2022-10-09 16:47] matteius commented on #5391
Just noting as well that if that particular change causes a large amount of issues across projects, we can consider changing the default back to `False` and users could still supply `--extra-pip-args="--no-build-isolation"`, which may be a workaround for that test and use case.   Anyway, that is what I know so far, workarounds on either side.

[2022-10-09 23:20] Nick-Yazdani opened #5392 "pipenv install --deploy now fails after having worked for months"
### Issue

pipenv install --deploy now fails in my docker build step due to out of date lockfile.

However whenever I run pipenv lock, it fails to update the hash and instead spits out the original hash that it already was.

### Expected

I expect the dependencies to install, as they have been for almost 6 months with no issue.

### Actual result
[code]
### Steps to replicate

- RUN pipenv install

[2022-10-09 23:53] matteius commented on #5392
@Nick-Yazdani You are failing on the hash check -- when is the last time you relocked?  It worked when when I re-locked your Pipfile in my testing.

[2022-10-10 00:00] Nick-Yazdani commented on #5392
@matteius I relocked several times but it just kept reverting back to the previous hash that was out of date. I think perhaps there is an issue with my system configurations rather than pipenv. (Perhaps my use of pyenv etc.). Feel free to close the issue.

[2022-10-10 00:12] matteius commented on #5392
@Nick-Yazdani Would love to see us figure out the root of the problem -- we can leave it open for now.   Do you have a prior version of pipenv that this works with your existing setup on?   Are you on latest ubuntu?

[2022-10-10 00:14] Nick-Yazdani commented on #5392
It was working with whatever release the docker build step was pulling prior to today, sorry I just pull the latest in my build step so I'm not exactly sure of the pipenv version. Everything works fine on my local its just the docker build part that is causing issues. I'm on Ubuntu 20.04.

As a sanity check I will run the build on our GCP pipeline and see if it fails the same way, that way we can

[2022-10-10 00:20] Nick-Yazdani commented on #5392
It failed in the GCP pipeline, and that build had previously succeeded (yesterday). I ran it on the last successful commit, the image it uses is python:3.9-bullseye. Perhaps this only happens when building in a Docker environment?

[2022-10-10 00:21] matteius commented on #5392
@Nick-Yazdani The biggest changes between the `2022.9.4` and  `2022.9.10` were in the named package categories PR.   That might explain a possible new hash generation.  When I diff the lock file I generated and the one in your output file, I see the only change is with the markers, which was a few releases ago fixed to always generate the same markers.   Perhaps the markers affected the hash gener

[2022-10-10 00:22] matteius commented on #5392
@Nick-Yazdani For debugging purposes, would you be able to change the Pipeline to `pipenv sync` instead of `pipenv install --deploy` which verifies the hash.  I would like to narrow down if its failing on simply the hash validation, or anything additional in the install phase.

[2022-10-10 00:26] Nick-Yazdani commented on #5392
I downgraded to the previous release on my local system and now it works. I will however as a courtesy reinstall the newest release and do what you have asked so as to be of help :)

[2022-10-10 00:30] matteius commented on #5392
@Nick-Yazdani Can you share part or all of the Dockerfile that builds this?

[2022-10-10 00:30] Nick-Yazdani commented on #5392
@matteius I can't get it to break now even on the latest (it installs perfectly and so does sync option), I think the issue was that for some reason when I ran pipenv lock with the newest release it wasn't actually updating the hash as evidenced by the output being the same out of date hash that it began with.

When I downgraded to the previous release and ran pipenv lock, it successfully updated

[2022-10-10 00:31] Nick-Yazdani commented on #5392
[code]

[2022-10-10 00:37] matteius commented on #5392
@Nick-Yazdani Ah wow, thank you for your report -- somehow in your example lock file, re-locking it doesn't update the hash.  This is definitely going to be related to the named categories work, there were a number of places I had to refactor how the lock file was accessed and updated, so I am sure that this is it.  Thanks for your help in pin-pointing the issue.
[code]

[2022-10-10 00:57] matteius commented on #5392
@Nick-Yazdani I opened a PR that I think addresses the issue -- the fix is to always re-write the meta section of the generated lockfile dictionary, prior to writing it to the file.  I am not sure how it ever worked in the prior implementation, but I don't imagine this causing many other issues (though one test is failing with this change).  Will run through test suite and think through it some mo

[2022-10-10 10:14] hq9000 commented on #5392
Hi all! I confirm this issue. We didn't change our Pipfile, only upgraded pipenv and now many of our locks are considered "out of date".

I don't think this change of the logic of hashing the Pipfile is intentional (or is it?).

Regardless of the above and more generally, it looks like depending on the "latest" Pipenv is not a reliable way forward. If so, what would be the right way to get the mai

[2022-10-10 10:35] matteius commented on #5392
@hq9000 I am not sure that `2022.10.9` would have changed the `Pipfile` hashing, though it is possible -- it seems more likely to me that the hash change was caused by the conversion to `plette` a few releases ago, if so, that was definitely a side-effect of an intentional change and path forward for pipenv since we lacked rights to maintain the prior `pipfile` library that was in use.

The known

[2022-10-10 10:44] matteius commented on #5392
I just did some further testing with the original example, and it seems somehow the named package categories changes the data the Pipfile lock gets computed on.   I am looking further into this.

[2022-10-10 10:50] matteius commented on #5392
I think I found the issue -- `plette` is including now the `pipenv` section if you have it present in the `Pipfile`.   I have a fix for that as well -- will require some additional work to get a new version of plette released, but it can be done.

[2022-10-10 12:08] #5392 closed

[2022-10-10 12:18] matteius commented on #5392
Sorry for those issues folks -- `pipenv==2022.10.10` has been released which includes the fix for the Pipfile hash changing, and also the fix for the metadata writing to the lock file at the end of the lock phase.

 @Nick-Yazdani the hash generation changed back to how it was before -- you may need to re-lock again to get back to that point.

[2022-10-10 12:20] matteius commented on #5358
Named package categories feature has been released and, so now it should be possible to `pipenv install click --categories=prereq` and then change your install phase to something like `pipenv install --deploy --categories="prereq packages"`.

Closing this out for now since we haven't heard back from you.

[2022-10-10 12:20] #5358 closed

[2022-10-10 12:23] matteius commented on #5374
@dehhganii Just saw your response -- both of those issues are marked closed, but related to the use private pypi repositories and the requirement to have deterministic index restricted packages.   It should still be possible for your use case to define the `Pipfile` in a way that correctly defines the index mapping for your packages.   Let me know if you need help sorting this out, I'd be happy to

[2022-10-10 12:26] matteius commented on #5033
Any update since my last comment?  I think this is probably resolved but I would like some confirmation that this is working with the variable style `${VAR_NAME}` and if you agree, we can close out the issue.

[2022-10-10 14:16] MemoonaTahira opened #5395 "using conda python to create pipenv adds both python_version and python_full_version to pipfile"
Hello,

If I use a miniconda environment's python for creating a pipenv environment, it adds BOTH, a python_version and python_full_version (e.g. 3.9 and 3.9.13) to  the pipfile, and that throws an error.

System details:

I am using Ubuntu 22.04 via WSL.
System python is: 3.10.6
Pip version is: 22.2.2
Pipenv installed via pip (outside of any environment): 2022.10.9
Conda version is: 22.9.0
All ar

[2022-10-10 14:45] stumpylog commented on #5391
We're moving away from the django-q package anyway, for other reasons, so I have pinned things to use 2022.10.4, since that's the faster fix for something we're dropping anyway.

If this isn't affecting other projects too much (which doesn't seem to be the case), I'd say go ahead and close this out.

[2022-10-10 14:50] nk9 commented on #5391
I believe I'm experiencing this issue as well. My Pipfile built fine with the version of pipenv I had on my Mac, but it was failling with the `ModuleNotFoundError: No module named 'poetry'` when building a fresh image in Docker (running on an Ubuntu image). Since the image doesn't come with pipenv, I have to install it, and it was getting the most recent version.

Eventually I tried upgrading from

[2022-10-10 14:53] bdepardo commented on #5391
I have the same issue as well. Our project builds fine on my mac with pipenv 2022.9.24, but in our CICD platform which pulls the latest version of pipenv it fails with similar errors as @nk9

[2022-10-10 14:59] jerempy commented on #5395
If a full_python_version is specified when the project is installed it will be added in the [requires] section of the Pipfile in addition to the python_version. But this is just a recently added feature.
@oz123 should I take a look at refactor to go to only `python_version` or `python_full_version` gets written, but not both?

[2022-10-10 15:10] oz123 commented on #5395
@jerempy can you please submit this patch upstream in Plette?
https://github.com/sarugaku/plette/blob/master/src/plette/models/sections.py#L20
![image](https://user-images.githubusercontent.com/1083045/194898121-b6ca95c7-9aad-4a0f-b834-012a22bc82c7.png)

IMHO the rule should be [oneof](https://docs.python-cerberus.org/en/stable/validation-rules.html#oneof), but I am not familiar with
Cerberus. To

[2022-10-10 15:19] nk9 commented on #5391
A bit more info. I tried pinning pipenv in my Dockerfile with this:

[code]

And that worked. The same workaround resolved the issue locally too. Then I tried the first suggestion from @matteius, and ran into this problem:

[code]

So it seems that this workaround requires the newest version of pipenv. And when I use the newest version, that command works, but then when I try to install, I get a d

[2022-10-10 15:32] matteius commented on #5391
@nk9 On the newest version take out the `--dev` when spcifying categories, since that is going to override it to try and use the dev-packages category.

`pipenv install --categories=prereq --verbose poetry`

The behavioral change was started passing `--no-build-isolation` by default, otherwise prerequisites still were unavailable to the build environment due to the isolation.   I wish there was a

[2022-10-10 15:51] nk9 commented on #5391
Sure, it's a temporary thing. We're in crunch mode for the next month, and this would necessitate coordinating that everyone upgrades pipenv in order to use the new Pipfile I would commit. I am not eager to add any friction to our dev process at this point.

You actually used `sync`, and I'm no pipenv maven. I was intending `pipenv install --dev --categories...` to install the packages called for

[2022-10-10 15:54] matteius commented on #5391
@nk9 Ah that makes sense thanks for the context.

Yeah I generally use sync, but you can use install with `--deploy` and it will not modify the lock file, but will validate that the _meta hash is correct, where sync just installs whatever is in the lockfile ignoring if the hash matches the Pipfile.   Both options are acceptable.   The issue with the install example is the `--dev` flag is not compa

[2022-10-10 16:19] nk9 commented on #5391
OK, thanks. And just to be super clear: to use this approach with poetry installed manually that [you outlined yesterday](https://github.com/pypa/pipenv/issues/5391#issuecomment-1272581435), would I need to include the `prereq` category ahead of `packages` when running a `pipenv sync` or `pipenv install`? This is presumably what I'll be switching to once we get past our deadline.

[2022-10-10 16:25] matteius commented on #5391
@nk9 That is essentially correct for your example -- the order of the categories supplied should be the order they are processed in.   The categories can be arbitrarily named, so call it `prereq` or anything you want.

[2022-10-10 17:56] jerempy commented on #5395
when you have a moment @oz123 : https://github.com/sarugaku/plette/pull/31

[2022-10-10 18:12] oz123 commented on #5395
Thanks for the quick response! I made a comment there.

[2022-10-10 20:06] oz123 opened #5397 "Add support for multiple categories in exported requirements"
Now that Pipfile supports multiple categories, it would be nice if I could create different requirements files for these categories.
Let's say my Pipfile has categoires: tests, documentation, foo, bar.
I would like to create the following files: requirements-tests.txt, requirements-documentation.txt, requirements-foo.txt and requirements-bar.txt.

I would like to export them with:
[code]

And so o

[2022-10-10 22:26] jcjones1515 opened #5398 "2022.10.10 causing build failures with some form of version confusion"
### Issue description

pipenv install fails with below error in 2022.10.10, works ok in previous builds running 2022.10.4

### Expected result

I'm expecting it to install all of our libraries

### Actual result

Seems to be failing on our (private) library called `pygain-lib` because of some confusion around the version being `0.0.0`.  However I can't find anything in the tarball of that library

[2022-10-11 01:53] steved commented on #5398
I believe this is due to the change to [no_build_isolation](https://github.com/pypa/pipenv/commit/9e064bc6c31088f6726c8be6c03294b4f4af8a17) from #5366. I hit this with setuptools SCM, are you using that as well?

[2022-10-11 03:16] matteius commented on #5398
This is unfortunate; the no build isolation change has a lot of devils in the details with reasons to want it both ways, I wish their was a hybrid approach--what is the story with setuptools SCM?

[2022-10-11 04:21] jcjones1515 commented on #5398
not setuptools-scm, but [setuptools-git-versioning ](https://github.com/dolfinus/setuptools-git-versioning)which is similar

[2022-10-11 07:56] steved commented on #5398
This is the simplest reproduction I could come up with that matches how we ran into internally. For better or worse, in my case an updated pip/setuptools combo let's me get past it, because it picks up the info from pyproject.toml: https://github.com/steved/pipenv-isolation-repro.

[2022-10-11 08:03] matteius commented on #5398
If it continues to be an issue, you could also try installing those packages as a prerequisite -- there are some similar examples on this issue report here:  https://github.com/pypa/pipenv/issues/5391

[2022-10-11 08:09] matteius commented on #5398
Hmmm, so I wonder if it would be better to default back to build isolation -- there is only one failing test and I can fix it by requiring for that case that `--extra-pip-args="--no-build-isolation"` be passed when dealing with those type of setup.py that require explicit pre-requisites to be able to build the setup.py.   Thoughts?

[2022-10-11 09:19] BreezySMX commented on #5173
On vacation right now.  I'll check when I get back next week, thanks for the update though.

R/S
Christopher Brown
Counter Threat Finance Analyst
***@***.***
(c) 941-264-5479
[cid:70c2a850-42da-494d-9fdd-b8661394c4ac]
________________________________
From: Matt Davis ***@***.***>
Sent: Friday, August 5, 2022 6:20 PM
To: pypa/pipenv ***@***.***>
Cc: Brown, Christopher ***@***.***>; Mention ***@***.

[2022-10-11 09:52] #5391 closed

[2022-10-11 13:26] matteius commented on #5392
`pipenv==2022.10.11` is released and reverts back to build isolation by default, since it is possible for users to pass `--extra-pip-args="--no-build-isolation"` but it is not possible to retract it if it is supplied by default, this was part of the decision.

[2022-10-11 13:26] matteius commented on #5391
`pipenv==2022.10.11` is released and reverts back to build isolation by default, since it is possible for users to pass `--extra-pip-args="--no-build-isolation"` but it is not possible to retract it if it is supplied by default, this was part of the decision.

[2022-10-11 13:37] matteius commented on #5392
@NeroVanbiervliet I suspect that is an unrelated issue and would have started happening in `2022.8.31` -- if the new `2022.10.11` doesn't resolve it for you (probably won't) then please open a new issue report for your issue and we will provide support.  Likely there is a setup.py that requires something else -- see if you can get more information for your new issue report with `pipenv sync --verb

[2022-10-11 19:14] stewartmiles commented on #5395
FYI: We're seeing the same issue with vanilla (i.e not conda) Python.

[2022-10-11 20:59] jeffb4 commented on #3755
I'm sure you're right. I no longer use pipenv and am not able to test, would it be ok if I closed the issue?

[2022-10-11 22:09] #3755 closed

[2022-10-12 01:56] #5395 closed

[2022-10-12 03:12] iuriguilherme commented on #5360
It looks like behaviour changed in setuptools: https://github.com/pypa/setuptools/issues/1724

And per the documentation this should be working now: https://packaging.python.org/en/latest/guides/single-sourcing-package-version/

So this means pipenv is using an old setuptools version?

[2022-10-12 12:53] DaBors opened #5403 "Pipenv install fails in github actions since v2022.10.9"
### Issue description

Pipenv install fails in github action after [v2022.10.9](https://github.com/pypa/pipenv/releases/tag/v2022.10.9), the issue is most likely caused by [#5387](https://github.com/pypa/pipenv/pull/5387)

### Expected result

Pipenv should run correctly without an error

### Actual result

[code]

### Steps to replicate

Here is our github action yaml:

[code]

Note: Changing pip

[2022-10-12 13:29] oz123 opened #5404 "CI Warnings"
We have deprecation warnings which are raised for Linux OS.

![image](https://user-images.githubusercontent.com/1083045/195355413-6ec48a13-7882-411f-b1e1-29461b525207.png)

[2022-10-12 15:22] AlexNDRmac commented on #5404
Hi @oz123 , I can fix this warning

[2022-10-12 18:18] BAllbeeDHI commented on #5397
I would find this immensely helpful as well.

[2022-10-12 20:05] stewartmiles commented on #5395
Hi @matteius and @oz123 while this is completed in the source it looks like we need a pipenv release to benefit from this change, any chance someone could cut and push a release?

[2022-10-12 20:21] matteius commented on #5395
Thanks @stewartmiles  -- I just pushed the buttons -- new release is building now.

[2022-10-12 23:26] #5404 closed

[2022-10-13 10:38] jooon opened #5406 "2022.4.8 last version to support python 3.6 environments?"
### Issue description

2022.10.12 (or any version after 2022.4.8) can't lock dependencies in a python 3.6 environment.

### Expected result

It is quite clear that pipenv itself can't be run with python 3.6 after 2022.4.8, but the way it uses virtualenvs, I thought it would still be possible to use it in the pipenv environment. Even the documentation still mentions 3.6:

https://pipenv.pypa.io/en/

[2022-10-13 11:23] matteius commented on #5406
@jooon You are correct -- python 3.6 support was dropped some 6 months after python 3.6 was EOL, and it has allowed us to begin simplifying the code base.  There will be no additional support for python 3.6

[2022-10-13 13:57] frostming commented on #5406
Some code(specifically, the resolver) must be run with the virtualenv Python, so although it allows creating python 3.6 venvs, you can't use pipenv with Python 3.6.

[2022-10-13 19:41] micahjsmith opened #5407 "Documentation and implementation of disabling pipenv environment variable configuration"
### Issue description

Pipenv can be configured via environment variables, such as `PIPENV_IGNORE_VIRTUALENVS`. Many of these configuration options are clearly boolean. The way for users to selectively enable or disable these options is not sufficiently documented and is perhaps buggy.

* underspecified:  https://pipenv.pypa.io/en/latest/advanced/#configuration-with-environment-variables says

it

[2022-10-13 20:09] matteius commented on #5407
I vote for Option 2 and even if we did option 1 (improve docs) I don't think we should remove that utility, I seem to recall it being used in some places.

[2022-10-13 21:37] oz123 commented on #5403
You analysis is correct. Have you tried using pipenv==2022.10.12?

[2022-10-14 08:42] #5403 closed

[2022-10-14 12:02] YusukeSano opened #5408 "pip in asdf is referenced in the virtual environment"
### Issue description

pip in asdf is referenced in the virtual environment

### Expected result

pip in pipenv is referenced in the virtual environment

### Actual result

[code]

The last `which pip` should show `/Users/userName/.local/share/virtualenvs/projectName-Qz9ZHQIu/bin/pip`

### Steps to replicate

Creating the environment

[code]

Version list

[code]

---------------------------------

[2022-10-14 12:06] matteius commented on #5408
I have never used asdf so if someone else wants to take on a PR that would be helpful, but that being said I think the issue report is clear that it should use the same pip runner that pipenv uses elsewhere in the project (the vendored+patched pip).

[2022-10-14 12:15] matteius commented on #5377
@yukihiko-shinoda Named package categories was released and can be used to install `pbr` with a specifier as a prerequisite category ahead of the default packages group.   For more information:  https://pipenv.pypa.io/en/latest/basics/#specifying-package-categories

Please let me know if this issue requires any additional follow-up.

[2022-10-14 13:20] serkan-ozal opened #5409 "A CI/CD Observability Solution Suggestion"
Hi **pipenv** community,

This is Serkan, Co-Founder & CTO at [Thundra](https://www.thundra.io/), the company behind [Foresight](https://www.runforesight.com).

I am here with the suggestion of [Matt Davis](https://github.com/matteius) and [Oz Tiram](https://github.com/oz123) for our CI/CD observability tool, [Foresight](https://www.runforesight.com).

Foresight brings visibility into CI workflows

[2022-10-15 03:20] kailashchoudhary11 opened #5413 "Adding Table of Contents To Readme File"
Adding Table of Contents to Readme file will increase the accessibility and readability of the document.

[2022-10-15 09:41] jsaladich commented on #5362
@matteius has there been update on this topic? Thanks a lot!

[2022-10-15 11:41] matteius commented on #5362
Sorry @jsaladich -- I've been stretched for time so I haven't personally looked into it yet.  I tagged it as an issue that anyone can take on knowing I won't be able to dig into it for a bit.

[2022-10-16 15:21] armoha opened #5415 "pipenv install fails with build-system requirement Cython"
### Issue description

`pipenv install` fails after adding following settings.
[code]

### Expected result

Package installed and update pipfile.lock

### Actual result

`pipenv install --verbose` output: https://gist.github.com/armoha/26a52a352490b0ec3c714afddd461ef7

[code]

### Steps to replicate

[code]

-------------------------------------------------------------------------------

<details>

[2022-10-16 16:26] Victor-Villacis opened #5416 "pipenv install --python 3.6.7"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-10-16 16:49] Victor-Villacis opened #5417 "pipenv install --python 3.6.7 fails to create a lock file."
### Issue description
When creating a new project. I run the command `pipenv install --python 3.6.7` it does creates the pipenv environment with the specified python 3.6.7 version. However, it errors out when creating the Pipfile.lock. Reason being is that the Pipfile contains

[code]

Deleting one or the other and then running `pipenv lock` or `pipenv update` fixes the issues.  However, this is a

[2022-10-16 17:37] jsaladich commented on #5362
Thanks a lot for your prompt answer @matteius, let's hope somebody can find a fix on that issue. Best!

[2022-10-16 17:41] armoha commented on #5415
Nevermind, I mixed up `pipfile` and `pyproject.toml`

[2022-10-16 17:41] #5415 closed

[2022-10-16 18:26] #5416 closed

[2022-10-17 13:29] oz123 commented on #5417
We no longer support Python3.6.

[2022-10-17 13:29] #5417 closed

[2022-10-17 21:43] micahjsmith commented on #5407
@matteius thanks for your response, should I wait for any other "votes" before starting on a PR?

[2022-10-18 17:18] seyfullah642 commented on #4336
I am currently running into the same issue as seen below. I am currently running version 2022.9.24. Any insight would be helpful.

`(pali-worker) sinan.ramazanoglu@Sinans-MBP pali-worker % pipenv install --dev
Installing dependencies from Pipfile.lock (09f936)...
An error occurred while installing attrs==22.1.0 ; python_version >= '3.5' --hash=sha256:29adc2665447e5191d0e7c568fde78b21f9672d344281d0

[2022-10-19 02:26] frostming commented on #5379
True, but there is a growing need to reuse some part of pip internals, and few has alternatives:

- resolver - [resolvelib] but it is a rather *abstract* framework and needs concrete implementations.
- requirement parsing - [requirementslib] which also utilizes `pip`'s internals.
- package finder - I made [one][unearth].
- installer - there are [distlib] and [installer], but they will likewise fai

[2022-10-19 06:38] oz123 commented on #5379
If someone uses pip as a library and it's working for him, I don't see why pip developmer should care. Ofcourse if this same people always complained about it in the pip channels, the response could be: we told you not to do so.
On the other hand, if some people use it and there is a need for it, pip development community could yield and make a public API (which isn't through shell commands).
Ofco

[2022-10-19 16:39] hankadler commented on #2653
I solved this issue adding the following to my ``.bashrc``:

[code]

thank [frostming](https://github.com/pypa/pipenv/issues/3770)

[2022-10-19 18:16] theherk commented on #4901
@asenyaev, that article actually leads to the promised land. Superb. For anybody just arriving to this party, the summarized solution from that article is as follows.

I'm not sure you need to install libffi from brew and make these exports, but I was in a morass so it may help.

[code]

This part you definitely need to do.

[code]

Then edit the file that causes the `MemoryError`. For 3.7.10 `~/.

[2022-10-20 01:50] eromoe opened #5423 "Wrong path detection , got OSError: [WinError 123]"
Error detail :
[code]

After some research, I found it cause by environment variable :
![image](https://user-images.githubusercontent.com/3938751/196837082-c329a859-625f-495d-9e11-6807825a1f1a.png)

I comment this line,  but recognize by pipenv , this is wrong behaviour.

[2022-10-20 17:57] vishal180618 opened #5427 "error when generating lock file if Pipfile contains incomplete dependency version"
### Discussed in https://github.com/pypa/pipenv/discussions/5426

<div type='discussions-op-text'>

<sup>Originally posted by **vishal180618** October 20, 2022</sup>
[code]

Pipfile content
[code]
abcd contains marshmallow `~=3.3` in setup.py

</div>

[2022-10-20 17:59] vishal180618 opened #5428 "pipenv fails to generate lock file for flask 2.0.1 and 2.1.1 even when using tilde operator"
### Discussed in https://github.com/pypa/pipenv/discussions/5425

<div type='discussions-op-text'>

<sup>Originally posted by **vishal180618** October 20, 2022</sup>
Problem: even though I've used `~` in dependency and both flask versions are changed in minor versions so it should be able to generate `Pipfile.lock ` using `pipenv lock`.

difference bw the pipfile.lock generated individually for bo

[2022-10-20 19:35] achilleasNP commented on #5362
@matteius  I would like to take a stub on this. Could you please assign this to me.

[2022-10-20 20:19] reedcwilson opened #5429 "Failed parsing requirement from '.'"
### Issue description

Running `PIPENV_VENV_IN_PROJECT=1 pipenv sync` with a local module (e.g., `local = {editable = true, path = "."}`) results in the following error:

[code]

### Steps to replicate

I have been using the same configuration for almost a year and this started failing sometime within the last week. I have cleared my cache and rebuilt a fresh environment on my local machine (macOS

[2022-10-21 07:43] oz123 commented on #5423
As @frostming said above, your system has an environment variable called:

[code]
Remove this completely and the issue should be solved.

[2022-10-21 07:43] #5423 closed

[2022-10-21 07:45] oz123 commented on #5429
Requirements should be parsed from `setup.cfg` or similar. I suspect if you don't have them, requirementslib will fail.

[2022-10-21 09:46] eromoe commented on #5423
I just wanted to express pipenv should not affect by this .

[2022-10-21 09:51] vishal180618 commented on #5428
the same thing happened today for mock.

`CRITICAL:pipenv.patched.notpip._internal.resolution.resolvelib.factory:Cannot install mock~=1.2.0 and mock~=1.3.0 because these package versions have conflicting dependencies.`
Although their `setup.py` for both versions is exactly the same.

[2022-10-21 09:55] oz123 commented on #5423
Why do you think pipenv should handle wrong usage of environment variables? There is a limit where software should break. This is definitely such a case.
If you used an ORM would you expect it to correct your wrong SQL?
Eventually, errors should stop the execution of a program.

[2022-10-21 11:53] LeonardoX77 commented on #3136
Hi, I'm very newbie with Python and absolutely lost...

[code]

[code]

[code]

what can I do?

[2022-10-22 05:50] dojutsu-user commented on #5397
HI @oz123,
I would like to take this up. First time here, can you help me on how to start with this?

[2022-10-22 07:23] oz123 commented on #5397
I would start with the following:

Add the command line options.
Look where this leads you inside pipenv.
You'll bump into a library we maintain called requirementslib that does the real work of parsing Pipfile. Change the code here.
One your prototype works, you'll need (probably) to open a PR in requirementslib.
It's probably not a good first issue. But you can try 💪

[2022-10-22 07:34] dojutsu-user commented on #5397
Sure.. would like to give a try.

[2022-10-22 09:29] dojutsu-user commented on #5397
HI @oz123,
Raised a PR with probable fix. Can you please check it once if the approach looks fine to you.

[2022-10-22 17:42] otienog1 commented on #5052
Run
 `pipenv --rm`
then
`pipenv install`
Worked for me

[2022-10-23 08:09] dojutsu-user commented on #4971
Hi @matteius,
Taking this up. I believe the fix will in [sarugaku/requirementslib](https://github.com/sarugaku/requirementslib) repository.. right?

[2022-10-23 08:17] matteius commented on #4971
@dojutsu-user that sounds accurate.

[2022-10-23 10:53] dojutsu-user commented on #4971
Hi @matteius,
Can you provide some guidance on where to look. I am not able to find the exact code in the repo for this.

[2022-10-23 11:08] #5397 closed

[2022-10-23 13:04] dojutsu-user commented on #5345
@matteius I believe this can be closed.

[2022-10-23 13:26] #5345 closed

[2022-10-23 13:29] glensc opened #5432 "pipenv requirements / pipenv lock --requirements loses "name@" prefix"
### Issue description

I'm adding dependency using "Direct URL dependencies":
- https://setuptools.pypa.io/en/latest/userguide/dependency_management.html#direct-url-dependencies

[code]

this results in an entry to `Pipfile`:
[code]

and `Pipfile.lock`:
[code]

so far so good.

now to sync requirements.txt the line needs to be:

[code]

but sync command puts only URL there:
[code]

(optional) for

[2022-10-24 02:23] zhenzi0322 opened #5435 "pipenv How to know the download progress"
It would be nice if pipenv could have a progress bar to display the download dependencies

[2022-10-24 08:15] oz123 commented on #5435
`pipenv install -v` does that.

[2022-10-24 08:15] #5435 closed

[2022-10-24 08:16] oz123 commented on #5413
@kailashchoudhary11 can you submit a PR for this please?J

[2022-10-24 09:01] dojutsu-user commented on #5294
@matteius I believe this can be closed.

[2022-10-24 09:42] roydbt commented on #4901
@theherk Did all your steps, still didn't work and with the same issue:
[code]
Is there a step after commenting that line?

[2022-10-24 10:12] theherk commented on #4901
No, there wasn't. But if you're still getting the `ModuleNotFoundError` you're issue is earlier in the process. Commenting the line will only be relevant once you get past that to the `MemmoryError`. If you didn't already, you might uninstall 3.7.10 before running the installation with `--with-system-ffi`. Then after activating the pyenv, hopefully you see the `MemoryError`. If not, I'm sorry. I d

[2022-10-24 11:25] #5294 closed

[2022-10-24 11:45] kailashchoudhary11 commented on #5413
yeah sure!!!!

[2022-10-24 14:47] gils-di opened #5439 "backup branch when backup not exists"
I want to move to use github instead of hard coded version, like the example below:
pinax = { git = "https://github.com/pinax/pinax.git", ref = "<branch_name>" }

in there a way to use repo default branch in case the branch on exsits?
if this case failed:
pinax = { git = "https://github.com/pinax/pinax.git", ref = "branch_name" }
i would like to to use:
pinax = { git = "https://github.com/pinax/pi

[2022-10-24 15:51] con-f-use opened #5440 "pipenv doesn't throw error, when `extras` are a string instead of a list-like"
[code]

Something like text above in a Pipfile, during locking, results in the bug evidenced by output below:

[code]

It should error. Note that is not immediately obvious what is going wrong, as the letters in `[b,e,k,o,r]` are not even in the same order as the extra dependency "broker".

[2022-10-24 18:25] oz123 commented on #5440
Question: have you added `extras="broker"` manually ?

[2022-10-24 18:52] BAllbeeDHI commented on #5397
Thank you for taking that on, @dojutsu-user — Looking forward to having that capability as soon as it's released. :-D

[2022-10-24 19:18] dojutsu-user commented on #4971
Hi @matteius,
Can you guide me here a little bit.

[2022-10-24 21:07] matteius commented on #4971
@dojutsu-user I honestly haven't thought it through yet -- Perhaps look for where requirementslib is using `Constraint` but I may not have time to look at this more closely until probably next weekend.

[2022-10-24 21:40] con-f-use commented on #5440
I assume you mean as opposed to via `pip install msal[broker]`? Then yes, I have used an editor to change the `Pipfile` manually. Still pipenv should not mis-interpret that and iterate over a string.

[2022-10-24 21:42] oz123 commented on #5440
I agree with you, but still, I wanted to know what the root cause was.

[2022-10-24 23:25] micahjsmith opened #5441 "Locking does not respect editable flag for local packages in multiple categories"
### Issue description

If a local package is specified in both `default` and `develop` categories with different values for `editable`, after locking the value from the `default` category is used in both places in the lockfile. If the local package is not provided in `default` category, then the locking works correctly in that the value of `editable` is correct in the lockfile's `develop` category

[2022-10-24 23:26] micahjsmith commented on #5407
alright, I'm going to work on this then and assume option 2 is viable

[2022-10-25 02:19] matteius commented on #5407
@micahjsmith Yeah sorry for slow response, let's see what option 2 looks like.

[2022-10-25 08:10] oz123 commented on #5441
Thank you for the thorough bug report. We'll try to fix this as soon as possible.
We have full time jobs, so it might take a while!

[2022-10-25 08:12] oz123 commented on #5440
Also, I think this should be fixed in https://github.com/sarugaku/plette

[2022-10-25 10:19] wwwouter commented on #2538
I'm seeing the same error in a GitLab job:

[code]

Error:
[code]

<details><summary>$ pipenv --support</summary>
Pipenv version: `'2022.10.12'`
Pipenv location: `'C:\\users\\root\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\pipenv'`
Python location: `'C:\\users\\root\\AppData\\Local\\Programs\\Python\\Python310\\python.exe'`
OS Name: `'nt'`
User pip version: `'22.2.2'`
user P

[2022-10-25 15:27] reedcwilson commented on #5429
So, I found that I needed to copy my project and not just the PIpfile and Pipfile.lock to the Docker image so that when it attempts to install my local package, it can find it. This makes complete sense and I'm not sure why it has been working for me without that. Closing this issue.

[2022-10-25 15:27] #5429 closed

[2022-10-25 17:29] MattG-Everworks opened #5442 "Local Modules Not in PATH"
### Issue description

I am using the python launcher for dev with pipenv on Windows. The specific command is "py -m pipenv run python \<myprogram\>" where myprogram is structured as a directory with an \_\_init\_\_.py, \_\_main\_\_.py, and some modules. This method of calling the program was working at one point in time, but after installing git bash I am no long able to use the command. It seems

[2022-10-25 19:11] oz123 commented on #5440
There you go 🙂 I think the actual fix is in plette but I might be wrong.

[2022-10-25 19:15] MattG-Everworks commented on #5442
It turns out that this issue was caused by improper imports. The confusing thing is that it worked at one point in time, and now that I understand the issue, I have no idea why it ever did work.

[2022-10-25 19:15] #5442 closed

[2022-10-25 21:04] cullo7 commented on #5440
But should i check if it was fixed in plette? Would we still want it resolved in pipenv regardless?

[2022-10-25 21:08] oz123 commented on #5440
The PR should be in that repository. You can prototype and test your changes on `pipenv/vendor/plette` but eventually the PR will go there.

[2022-10-26 01:33] gitpushdashf opened #5443 "2022.10.25 is not in pypi"
Hi,

Was looking forward to trying out 2022.10.25, but it looks like it didn't make it to pypi.

Thank you!

[2022-10-26 02:22] matteius commented on #5443
@gitpushdashf Thanks for your report -- I have pushed the corrected tag and it's built now.  https://pypi.org/project/pipenv/2022.10.25/

@oz123 It looks like the release earlier ended up being published as a pre-release `2022.10.13.dev0` -- I re-ran the release command `pipenv run invoke release.release` and deleted the existing tag because somehow that did get tagged with v2022.10.25 in the repo

[2022-10-26 02:22] #5443 closed

[2022-10-26 05:39] monitoring-aparavi commented on #4400
a cheesy workaround:

[code]

[2022-10-26 21:13] #5413 closed

[2022-10-26 22:06] stumpylog opened #5444 "Download source regression in 10.25"
### Issue description

When installing packages from the same lock file, 10.25 will fail with hash check error, while 10.12 will succeed.

### Expected result

Both should install the packages.

### Actual result

Based on what I can tell, the lockfile includes the SHAs for the .whl and the .tar.gz from PyPi.  However, it actually downloads the wheel from PiWheels instead, which has a different SH

[2022-10-27 11:15] cikay opened #5445 "Generating metadata for package public-repo produced metadata for project name main."
I am trying to install directly from GitHub by the following command

[code]

I got
[code]

When I specify `egg=main` It installs. Why I have to specify package name as the same with the branch name?

[2022-10-27 11:41] matteius commented on #5444
I am not sure what is causing this, but I can confirm that generating the lock file on the prior versions and the current version yields the same lock file, but pip itself (which was upgraded to latest 22.3) is rejecting the hashes and expecting a different hash on the latest version.  Updating the lock file does not add the expected hash, so we are looking at a bug/regression of some kind.

[2022-10-27 12:02] matteius commented on #5444
Ah well I got somewhere at least -- the issue is that its trying to install from the wrong index and getting a different hash.  When I remove from the lock file:
[code]
then it installs fine -- it seems something is not working right with index restricted packages anymore.

[2022-10-27 19:56] rummik commented on #2208
Unfortunately, that still doesn't seem to provide a way to supply arguments to `pip` from package definitions in the `Pipfile`, otherwise it would be a usable workaround for `Pipenv` not having an equivalent to the per-requirement options in `requirements.txt` (in particular `--install-option` and `--global-option`, but it looks like may be more since this issue was opened)

See: https://pip.pypa.

[2022-10-28 13:23] drmikecrowe commented on #5130
I've tried to find a way to detect if this could be an issue in my `Pipfile.lock`.  I think the following command detects this.  Wouldn't it?

[code]

[2022-10-28 19:35] gitpushdashf commented on #5443
Great, thank you so much!

[2022-10-29 18:14] Sonnayya opened #5446 "MSYS2: location not created nor specified"
<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.10.25'`

Pipenv location: `'C:/Users/andrey/.local/lib/python3.10-mingw_x86_64/site-packages/pipenv'`

Python location: `'C:/msys64/mingw64/bin/python.exe'`

OS Name: `'nt'`

User pip version: `'22.3'`

user Python installations found:

  - `3.10.8`: `C:/msys64/mingw64/bin/python.exe`
  - `3.10.8`: `C:/msys64/mingw64/bin/python

[2022-10-29 18:30] AnantshreeChandola opened #5447 "pipenv install does not work"
**pipenv install gives error.**
ERROR:pip.subprocessor:[present-rich] pip subprocess to install build dependencies exited with 1
[ResolutionFailure]:   File "/Library/Python/3.9/site-packages/pipenv/resolver.py", line 811, in _main
[ResolutionFailure]:       resolve_packages(
[ResolutionFailure]:   File "/Library/Python/3.9/site-packages/pipenv/resolver.py", line 759, in resolve_packages
[Resoluti

[2022-10-29 18:31] AnantshreeChandola commented on #5447
pipenv --support results:
<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.10.12'`

Pipenv location: `'/Library/Python/3.9/site-packages/pipenv'`

Python location: `'/Library/Developer/CommandLineTools/usr/bin/python3'`

OS Name: `'posix'`

User pip version: `'22.2.2'`

user Python installations found:

  - `3.9.6`: `/usr/bin/python3`
  - `3.8.14`: `/Users/anantshreechandola/

[2022-10-29 21:28] Victor-Villacis commented on #5084
I had the same problem. I uninstalled pipenv and then uninstalled virtualenv and then installed pipenv with the --user flag. This fixed it.

[2022-10-30 09:48] matteius commented on #5447
@AnantshreeChandola Can you try this fix for what sounds like a similar issue:  https://github.com/pypa/pipenv/pull/5448

[2022-10-30 09:49] matteius commented on #5447
Ah actually I read the title of your issue "install does not work" but it appears your stack trace is about the resolver.

[2022-10-30 09:52] matteius commented on #5445
@cikay -- when I specify `egg=main` it still fails to install -- I think there may be a lack of definition in your setup.py.

[code]

[2022-10-30 09:53] matteius commented on #5446
You need to add your Python location to the PATH.

[2022-10-30 09:57] matteius commented on #5441
@micahjsmith and @oz123 -- Actually this is intentional.   The default package group constraints all other categories.   This is also called out in the documentation:

The packages/default specifiers are used to constrain all other categories just as they have done for dev-packages/develop category. However this is the only way constraints are applied – the presence of other named groups do not co

[2022-10-30 10:00] cikay commented on #5445
What kind of lack?

[2022-10-30 10:01] matteius commented on #5441
One possible user workaround if you have packages you don't want constrained by default, or if you don't like that behavior, you can opt to use different categories and potentially even leave default empty, and nothing will be constrained across categories -- it would be a bit like the wild west to not care about conflicting versions; it would be on the user to understand which groups are compatib

[2022-10-30 10:01] cikay commented on #5445
I renamed repo. Here is current link https://github.com/cikay/publicrepo

[2022-10-30 16:58] Sonnayya commented on #5446
Hello, @matteius!

What Python location should I add to the PATH?
What PATH should I use? Windows or Mingw64?

$ echo $PATH
/mingw64/bin:/usr/local/bin:/usr/bin:/bin:/c/Windows/System32:/c/Windows:/c/Windows/System32/Wbem:/c/Windows/System32/WindowsPowerShell/v1.0/:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/C/Users/andrey/.local/bin
$ where python
C:\msys64\mingw64\bin\python.exe

[2022-10-31 12:28] cikay commented on #5445
I did not specify the name in the setup function. It should be like this `setuptools.setup(name="publicrepo")`

Thanks. I will close the issue.

[2022-10-31 12:28] #5445 closed

[2022-10-31 13:42] torsava opened #5449 "Fix compatibility with Python 3.11 by updating the vendored version of attrs"
### Issue description

When running latest version of pipenv (2022.10.25) on Python 3.11 it shows a runtime warning:
[code]

This has been fixed in `attrs` version `22.1.0` (see https://github.com/python-attrs/attrs/pull/969). However, pipenv currently vendors version `21.2.0` (see https://github.com/pypa/pipenv/blob/main/pipenv/vendor/vendor.txt#L1).

Please update the vendored version of `attrs`

[2022-10-31 13:45] torsava commented on #5449
Note that this is blocking the update of pipenv in Fedora: https://src.fedoraproject.org/rpms/pipenv/pull-request/56

[2022-10-31 14:35] micahjsmith commented on #5441
Hi @matteius thanks for the explanation.

I had missed this section, but even after reading it, it's not fully clear what it means

After reading through the linked PR, I understand that this means "constrain" in the since of "pip constraints". My takeaway is that if the same dependency is specified in both packages and category X, the version in packages section "wins" during resolution.

Regardi

[2022-10-31 15:48] matteius commented on #5441
@micahjsmith Thanks for your feedback; I will contemplate it more.   I think the original issue stemmed from say I have Django in `default` and `django-debug-toolbar` in `dev` -- I don't want that dev dependency to pull in a newer version of Django than what I am developing against.   Perhaps an option of adding to the `pipenv` section of the `Pipfile` to not constrain other categories by the defa

[2022-11-02 11:14] f0o opened #5452 "virtualenv: error: argument --creator: invalid choice: 'venv' (choose from 'builtin', 'cpython2-posix')"
### Issue description

`pipenv check` fails or actually everything fails; it does install the python version correctly however.

### Expected result

it to work, obviously ;)

### Actual result
[code]

When possible, provide the verbose output (`--verbose`), especially for locking and dependencies resolving issues.

### Steps to replicate

Provide the steps to replicate (which usually at least inc

[2022-11-02 11:15] f0o commented on #5452
https://pastebin.com/USh8htgX

due to size limitations here is the pipenv --support output

[2022-11-02 11:33] matteius commented on #5452
@f0o We don't have support for python 3.11 yet

[2022-11-02 11:55] f0o commented on #5452
That explains it; closing

[2022-11-02 11:55] #5452 closed

[2022-11-02 12:15] matteius commented on #5452
@f0o Actually though I am wondering if this has nothing to do with 3.11 -- Did you by chance install virtualenv from apt?   If so, could you uninstall that and try installing it from pypi using pip?  https://stackoverflow.com/questions/70583980/i-am-unable-to-create-a-new-virtualenv-in-ubuntu

[2022-11-02 14:22] mattip opened #5453 "Clarify licensing when using pyup.io's security check"
Over at pypa/wheel, I have been following @agronholm's trials and tribulations when trying to [fix a regex used internally](https://github.com/pypa/wheel/commit/88f02bc335d5404991e532e7f3b0fc80437bf4e0) which may have some side effects. The code is not user facing, but the pyup.io service has determined that this is a security vulnerability and `pipenv check` is marking the older versions of the p

[2022-11-02 17:58] remy-niles commented on #1356
I have found that this problem can also present itself if you made changes to your dependencies in your Pipfile but forgot to "lock" those changes to update the Pipfile.lock file accordingly (behaviour tested and observed in 2022.9.24, 2022.10.4, and 2022.10.25). In our specific situation, we had an internal package from an internal repo using PyPi as an upstream whose dependency declaration had b

[2022-11-03 01:52] vladzen13 opened #5454 "development philosophy link is broken in contributing guide"
Link href is https://pipenv.pypa.io/en/latest/dev/philosophy/ which returns 404

### Issue description

also could not find any "philosophy" related files in repository /docs/*

### Steps to replicate

Navigate to https://pipenv.pypa.io/en/latest/dev/contributing/
Find Code Contributions > Steps for Submitting Code > link from first step

[2022-11-03 15:39] arlekinjose commented on #5052
"pipenv --rm"  command does not allow me to setup a cache in a github actions pipeline using actions/cache@v3 because what is the point of caching the dependencies inside the env folder and delete this folder later

[2022-11-03 21:40] xerus commented on #3471
Yes, I can still reproduce the issue
[code]
[code]
[Pipfile.zip](https://github.com/pypa/pipenv/files/9933181/Pipfile.zip)

[2022-11-04 10:31] meeb commented on #4073
I stumbled over this on a Debian-based system that had Py3.8 installed earlier today. This was resolved by installing `libpq-dev` (`apt install libpq-dev`). I've not looked into this further as obviously the binary package should not require the dev libraries installed, however this seems to work around the error with pipenv at least on the couple of Debian and Ubuntu based systems I've tested it

[2022-11-04 13:51] micahjsmith commented on #5441
Makes sense, thanks for the discussion, going to close this then as expected behavior

[2022-11-04 13:51] #5441 closed

[2022-11-04 13:52] micahjsmith commented on #5407
Closed by #5451

[2022-11-04 13:52] #5407 closed

[2022-11-04 14:17] #5444 closed

[2022-11-04 14:23] TheROUGEB commented on #4336
I am also running into this issue on python3.9 pip22.3 & pipenv 22.10.25

[2022-11-04 14:43] PatrickFeeney opened #5455 "Handling PyTorch While Deploying to Multiple Computers"
### Is your feature request related to a problem? Please describe.

I'm always frustrated when trying to include PyTorch in a pipenv that I'd like to work on multiple OSes and multiple CUDA versions, where the CUDA version can vary even on the same OS. Often I have to use pipenv for all other dependencies then install PyTorch inside the pipenv via pip manually after.

### Describe the solution you

[2022-11-04 14:57] AndreiPaulau commented on #5453
Hello Gents,

I'm a bit out of problematic, but have this on my scanner. Could you please advise? Who triggers installation while `pipenv lock` - virtualenv package?
Does this mean, I need to wait until virtualenv update (virtualenv will grab 0.38 wheel version) and then pipenv update pointed to the updated virtualenv?

Many thanks!

[2022-11-04 15:06] oz123 commented on #5449
Fix by #5450.

[2022-11-04 15:06] #5449 closed

[2022-11-04 16:27] bootrecords opened #5456 "Pipenv 2022.10.25 does not appear to correctly prune obsolete dependencies"
### Issue description

When updating packages in a Pipfile to versions that vendor away certain dependencies, these dependencies are not pruned from the Pipfile.lock

### Expected result

The Pipfile.lock doesn't contain dependencies that are not listed in the Pipfile and not depended on by any (sub-)dependencies of listed packages, either. Pipenv version 2022.6.7 does this correctly.

### Actual

[2022-11-04 19:28] PatrickFeeney commented on #5455
The new package category support seems to resolve this issue. For anyone else who runs into a similar issue, here's how I formatted my Pipfile:

[code]

[2022-11-04 19:28] #5455 closed

[2022-11-04 22:23] Herbstblatt opened #5457 "Pipenv install throws an error upon building a docker image"
Hello. I'm having trouble with using pipenv in docker. Here is my dockerfile:
[code]

Upon building, I get the following error:
[code]

---

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.7.24'`

Pipenv location: `'/home/stepan/.local/lib/python3.10/site-packages/pipenv'`

Python location: `'/usr/bin/python3'`

Python installations found:

  - `3.10.6`: `/usr/bin/python3`

[2022-11-04 22:23] LukeNotable opened #5458 "AttributeError: 'VistirSpinner' object has no attribute '_color_func' (2022.11.4)"
### Issue description

Suddenly with 2022.11.4, running `pipenv install` even on an empty directory (under Python 3.9):
[code]

Nothing additional from verbose.

-------------------------------------------------------------------------------

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.11.4'`

Pipenv location: `'/usr/local/lib/python3.9/dist-packages/pipenv'`

Python loc

[2022-11-04 22:27] petrroda opened #5459 "Gitlab-Pipeline Crash after new release 2022.11.4"
Our build crashes with the new release of pipenv:

Collecting pipenv
  Downloading pipenv-2022.11.4-py2.py3-none-any.whl (2.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB [42](https://gitlab.newworkjob.de/gitlab-instance-31e781f1/frontend/-/jobs/1632#L42).9 MB/s eta 0:00:00
Collecting virtualenv-clone>=0.2.5
  Downloading virtualenv_clone-0.5.7-py3-none-any.whl (6.6 kB)
Collecting

[2022-11-04 22:32] Herbstblatt commented on #5457
Looks like that happens not only in docker, closing in favor of #5458

[2022-11-04 22:32] #5457 closed

[2022-11-04 23:10] aflopezbec commented on #5458
use 	2022.10.25 version, in this version the problem not exist

[2022-11-04 23:20] alancummings commented on #5459
I'm getting the same error.
Environment is within a docker build (building fails)
relevant Dockerfile lines:
[code]

[2022-11-04 23:45] Snailedlt commented on #5458
Getting the same issue.

I got the error in #5052 first, but once I removed virtualenv with `pipenv --rm` and re-ran `pipenv shell` I got this error

[2022-11-05 00:13] matteius commented on #5458
I am not sure how the CI is passing but I will take a look at this tonight.

[2022-11-05 00:32] matteius commented on #5458
Can someone else with the issue help to verify the fix of the PR I opened #5460
I am pretty confident that is is, but a second 👍 would be good -- and I can cut a release after that.

[2022-11-05 00:32] matteius commented on #5459
Can someone else with the issue help to verify the fix of the PR I opened #5460
I am pretty confident that is is, but a second 👍 would be good -- and I can cut a release after that.

[2022-11-05 00:44] Snailedlt commented on #5458
Downgrading to this version fixed it for me too

[2022-11-05 03:35] LukeNotable commented on #5458
The PR version works for me

[2022-11-05 06:34] #5458 closed

[2022-11-05 06:34] #5459 closed

[2022-11-05 06:46] matteius commented on #5439
There is not currently a way to do this.

[2022-11-05 06:49] #5074 closed

[2022-11-05 06:50] #4732 closed

[2022-11-05 07:02] matteius commented on #5447
@AnantshreeChandola I just tried out this issue on the latest pipenv version and was unable to reproduce it:

[code]

[2022-11-05 07:03] #5385 closed

[2022-11-05 07:04] #5374 closed

[2022-11-05 07:04] #5153 closed

[2022-11-05 07:04] matteius commented on #5344
Category based package installations was released last month.

[2022-11-05 07:04] #5344 closed

[2022-11-05 07:05] #4498 closed

[2022-11-05 07:05] #4077 closed

[2022-11-05 07:06] #4030 closed

[2022-11-05 07:06] #3696 closed

[2022-11-05 07:06] #3687 closed

[2022-11-05 07:06] #3678 closed

[2022-11-05 07:07] #3542 closed

[2022-11-05 07:07] #3746 closed

[2022-11-05 07:10] matteius commented on #3471
@xerus Perhaps this is able to be worked around with package based category installations in the latest pipenv releases.  Please see this ticket for additional details:  https://github.com/pypa/pipenv/issues/5455

I'd say perhaps a category that installs `intel-numpy` following the default which overrides it because tables requires the regular numpy?

[2022-11-05 07:10] #4451 closed

[2022-11-05 07:10] #5354 closed

[2022-11-05 07:11] #3921 closed

[2022-11-05 07:12] #3996 closed

[2022-11-05 07:15] matteius commented on #2208
@rummik Thanks for the explanation.

[2022-11-05 07:16] #4044 closed

[2022-11-05 07:16] #4307 closed

[2022-11-05 07:17] #3193 closed

[2022-11-05 07:17] #3841 closed

[2022-11-05 07:19] matteius commented on #4101
@yukihiko-shinoda I must have missed your last response and a lot has happened since then, could you check if this is resolved with `pipenv==2022.11.5`?

[2022-11-05 07:19] #3063 closed

[2022-11-05 07:19] #3167 closed

[2022-11-05 07:20] #3757 closed

[2022-11-05 07:20] matteius commented on #4031
Can this be rechecked on the latest `pipenv==2022.11.5`?

[2022-11-05 07:21] #4062 closed

[2022-11-05 07:21] #3762 closed

[2022-11-05 07:22] #4061 closed

[2022-11-05 07:22] #4154 closed

[2022-11-05 07:22] #4164 closed

[2022-11-05 07:23] #4253 closed

[2022-11-05 07:23] #3838 closed

[2022-11-05 07:23] #4340 closed

[2022-11-05 07:30] matteius commented on #2538
@wwwouter Seems like an issue is output in your pipenv support; I suspect that your file system or windows shell has some kind of issue -- can you open a subprocess in a python terminal without errors?

[2022-11-05 07:32] matteius commented on #5446
Hmm, I am not sure @Sonnayya -- have you tried using git shell for windows?  It is a well maintained Mingw64 shell, I use it and havent't had problems.  Check:  https://gitforwindows.org/

[2022-11-05 07:35] #5340 closed

[2022-11-05 07:47] matteius commented on #5456
Thanks for the report @bootrecords , I was able to reproduce it.

[2022-11-05 12:47] matteius commented on #3267
This should be resolved with the latest release `2022.11.5`

[2022-11-05 12:47] #3267 closed

[2022-11-05 18:32] collectiontrip commented on #5458
i had same problem, you can upgrade your python 11 and error will go

[2022-11-06 11:38] yosefor commented on #5088
it's better to use `sudo pip install pipenv`

[2022-11-06 12:27] ypsah commented on #5159
I can reproduce with the following:

[code]

With a few comments and additional commands, this is what I get:

[code]

To me, most of the issues relate to how `sys.path` is handled in [`pipenv/patched/safety/__main__.py`](https://github.com/pypa/pipenv/blob/80a887ce6faad0da8c74498000fa1d2f24b746ba/pipenv/patched/safety/__main__.py).

The reference to `__file__` in:
[code]

Sounds like an issue to

[2022-11-06 17:00] dmtucker commented on #5088
Don't `sudo pip`. It's a security risk, and it can break your system.

https://askubuntu.com/questions/802544/is-sudo-pip-install-still-a-broken-practice

[2022-11-07 14:19] Flimm commented on #5088
Has someone reported this to Ubuntu through Launchpad?

[2022-11-08 19:49] snowman2 opened #5462 "REGR: pipenv sync StopIteration error with 2022.11.05"
Note: Works fine with `pipenv==2022.10.25`

### Issue description

[code]

### Expected result

No failure.

### Actual result

StopIteration

### Steps to replicate

[code]

Operating System: Ubuntu 20.04 LTS
Python Version: 3.9

[2022-11-08 22:38] matteius commented on #5462
@snowman2 does the source have an index name and is it specified in the lock file for the package which index to use?   When is the last time you updated your lock file?   Just trying to get a sense for this issue.

[2022-11-09 01:14] snowman2 commented on #5462
Today, using the latest pipenv.

[2022-11-09 01:16] snowman2 commented on #5462
Yes

[2022-11-09 02:15] snowman2 commented on #5462
I cannot provide that unfortunately and haven't had a chance to produce a minimal reproducible example. Just enough time to raise the issue. I will try to provide one when I get a free moment.

[2022-11-09 10:00] fizyk opened #5463 "Using pipenv with several python versions for a project"
I've been thinking about using pipenv to maintain my python libraries dependencies for testing environments and encountered behavior, I'm not sure how to overcome, or even if I should and my whole idea is invalid.

The pipfile.lock differs depending on which python version it is created. (I'm trying 3.9 and 3.11), and the main reason are I think these two packages:
* exceptiongroup which is skippe

[2022-11-09 10:00] fizyk commented on #5463
<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.11.5'`

Pipenv location: `'/home/fizyk/.pyenv/versions/3.9.12/lib/python3.9/site-packages/pipenv'`

Python location: `'/home/fizyk/.pyenv/versions/3.9.12/bin/python3.9'`

OS Name: `'posix'`

User pip version: `'22.3'`

user Python installations found:

  - `3.10.6`: `/usr/bin/python3`
  - `3.10.6`: `/bin/python3`
  - `3.9.12`:

[2022-11-09 21:41] snowman2 commented on #5462
Here is a minimal `Pipfile`:
[code]
I can run:

[code]
And I can see the issue.

[2022-11-09 21:42] snowman2 commented on #5462
Oh, I see the issue - the index name doesn't match the name in the `Pipfile`.

`torch` != `pytorch`

[2022-11-09 22:11] tonispring commented on #5462
Ideally pipenv could raise with a message about the issue when it encounters a name mismatch, we ran into the same problem and it was confusing finding the cause since it required understanding the pipenv source code that was raising `StopIteration`

[2022-11-09 23:36] matteius commented on #5463
@fizyk so you are using named categories but want different categories to override the default python version?

[2022-11-09 23:54] snowman2 commented on #5462
The problem originated from the Pipfile with incorrect index.

[2022-11-10 06:04] DilLip-Chowdary-Codes commented on #5033
I've tried the format given in [pipenv](https://pipenv-fork.readthedocs.io/en/latest/advanced.html)

[code]

Getting the below error:
[code]

Seems like the env var has not been evaluated, considering it as a string instead.

[2022-11-10 06:54] matteius commented on #5033
@DilLip-Chowdary-Codes I don't think that it supports having the entire URL be a variable.  The docs call out an example where the user and password are separate variables.
`url = "https://${GITLAB_USER}:${GITLAB_TOKEN}@gitlab.com/api/v4/projects/projectId/packages/pypi/simple"`

[2022-11-10 07:27] matteius commented on #5456
@bootrecords I have opened a PR that appears to fix the issue -- once it passes checks it will get merged to main and be in the next release.

[2022-11-10 08:27] #5456 closed

[2022-11-10 10:32] Raghuveeranagouda opened #5465 "Package installation failed error"
In the docker build `pipenv install` is failing with below error.

![image](https://user-images.githubusercontent.com/45602562/201065887-07da2fb1-089a-4f47-81a5-d2cdf85f2842.png)

before new release it was working fine, after the latest release on Nov  5, 2022 it is giving this error.
We get this error only if the Pipfile contains custom packages, otherwise works fine.
And tried with some older pi

[2022-11-10 11:14] DilLip-Chowdary-Codes commented on #5033
Full URL works, I tested in the Docker environment, and I need to check out what went wrong in the local environment.

[2022-11-10 11:58] rolandjitsu opened #5466 "pipenv install fails due to packages not matching hashes from requirements file"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-11-10 13:11] fizyk commented on #5463
If I understand you correctly, probably yes...

I've got a set of libraries I test throughout different python versions,
I was pondering migrating from requriements.txt files into Pipfile for a while, and this is the first attempt which prompted me to start this thread: https://github.com/fizyk/pyramid_localize/pull/402/files

And the build that caused my confusion at first:
https://github.com/fiz

[2022-11-11 05:59] matteius commented on #5466
@rolandjitsu You have both of the hashes from pypip, there are only two packages, but the thing I wonder about, why is it searching also in `https://www.piwheels.org/simple`?

[2022-11-11 06:01] matteius commented on #5466
@rolandjitsu Actually going to pipwheels.org answered my first question, so I think the issue is that you need to set your primary source in the pipfile as:
[code]

Perhaps make this the default section and just remove pypi altogether?

[2022-11-11 11:00] spookyuser commented on #3332
Still not working for me :(

[2022-11-11 12:03] rolandjitsu commented on #5466
Just tried your suggestion and got:
[code]

Using `Pipefile`:
[code]

Then removed the lock file, did a `pipenv clean` and again install and it seems to work 🎉  Thanks a lot! Though I wonder why the other source doesn't work 😕 I use that source on other machines (mainly macOS) without issues.

I've spent a few days thinking this is an issue with the way I install pyenv + pipenv and tried different

[2022-11-11 13:16] matteius commented on #5466
@rolandjitsu The StopIteration thing and having to remove the lock file first was a different bug #5456 which I did a fix for two nights ago -- it will be in the next release then the lock file would have updated normally.

Must be something on Raspbian telling pip to use piwheeels.org as an extra source?  I noticed it was trying to install the binaries from piwheels.org which are wheel files inte

[2022-11-11 16:32] matteius commented on #5465
@Raghuveeranagouda You must specify the indexes of packages in the  pipfile that do not get pulled from the default source (the first source in the file).  Optionally, you may try your luck with this option:

[code]

https://pipenv.pypa.io/en/latest/advanced/#specifying-package-indexes

[2022-11-11 16:34] matteius commented on #5453
@AndreiPaulau I did not quite understand your question.

[2022-11-11 20:56] CodePint commented on #1406
Yeah this is incredibly frustrating, there needs to be a way to specify an extra index URL using env vars.

We use pip-compile due to its speed and simplicity... Now a third party tool is insisting our compiled requirements.txt is recompiled with pipenv.

Fine whatever I can deal with that...except we can't because we don't have a Pipfile and rely on a private pypi for internal packages.

What wou

[2022-11-11 21:06] merwok commented on #1406
There are tools to convert, for example https://dephell.readthedocs.io/cmd-deps-convert.html

But generally it’s best to push back against tools or services that force one specific packaging tool and ask them to support standards.

[2022-11-11 23:12] matteius commented on #1406
@CodePint You just commented on an issue from 2018 without much context so its hard to give you a reasonably answer.   We actually don't pass extra index URLs anymore and favor index restricted packages by default.

[2022-11-12 01:19] CodePint commented on #1406
This looks like it could be promising, thank you very much, I had not come across this.

Unfortunately the situation is what it is for now, but I will certainly try to raise the issue with thd tool maintainer.

[2022-11-12 01:25] CodePint commented on #1406
I appreciate that, I should have raised a new issue in hindsight. Several hours later and knowing more about how `--extra-index-url` functions, I can see the flaws with it's implementation in pip.

I will have another look at the suggested approach with something like `devpi`. Thanks for taking the time to reply.

[2022-11-12 03:27] rolandjitsu commented on #5466
Ok, got it. I think the workaround is also fine as long as it works. But it's good to know it's been fixed!

It could be, yes. The suggestion you provided is good enough. Could be worth mentioning somewhere in the troubleshooting guide if others encounter the same issue.

Ok. I'll use the same approach then. Thanks for sharing.

I guess the issue can be closed now. Thanks for the quick response an

[2022-11-14 04:41] monkeyman192 commented on #5465
I'm just going to piggyback on this issue as I think I have a similarly related one I want clarification on.
So I have a Pipfile that looks like the following:

[code]

where `my_package` is a package uploaded to our private repo which has some dependency which can be found on the usual `pypi` repo (`pika` in this case, but this issue applies to any sub-dependency not on our own repo)

On version

[2022-11-14 05:03] matteius commented on #5465
@monkeyman192 That commit was only first included in `2022.11.11` but you say versions after `2022.10.25` have the issue.  ``2022.10.25`` was the version pipenv to include/use `pip=22.3`.  You can bypass the effect of the change you referenced by adding :
[code]
Since you are using multiple package indexes, I recommend taking a read through:  https://pipenv.pypa.io/en/latest/advanced/#specifying-p

[2022-11-14 05:22] monkeyman192 commented on #5465
@matteius Ok, I maybe wasn't exhaustive in my determination of the version that this occurred in, sorry.
I thought I had had a good read of that documentation, but upon re-re-read, I see the following:
"When PyPI is omitted, then any public packages required either directly or as sub-dependencies must be mirrored onto your private index or they will not resolve properly"
I guess that clarifies tha

[2022-11-14 06:05] AndreiPaulau commented on #5453
Hi,

I mistyped here not `pipenv lock`, but `pipenv install`.
Still the question was about seeded packages. Despite I have installed wheel version 0.38.1, `pipenv install` outputs `added seed packages: pip==22.3, setuptools==65.5.0, wheel==0.37.1`. I was able to fix that only by including the `wheel` package into Pipfile.
So the question was, who does triggers installing seeded wheel package with

[2022-11-14 06:23] matteius commented on #5465
@monkeyman192 That part of the documentation about mirroring pypi packages came from pip's recommendation, but it is not a strict requirement.  It is totally possible to use multiple indexes.  It also seems to me that pip used to prefer pypi if it was there, but now their documentation says:

You asked:

Well, the way it has been working is that the first index in the Pipfile is the default, and s

[2022-11-14 06:34] matteius commented on #5453
@AndreiPaulau From what I have been able to tell in the past, it is wired into at least a couple spots in pipenv/requirementslib to do:

[code]

Additionally, virtualenv I think is the one that prints out the "added seed packages" message.  I found this when I searched about it:  https://stackoverflow.com/questions/70460921/how-to-change-seed-packages-versions-when-creating-virtualenv

[2022-11-14 06:53] monkeyman192 commented on #5465
Yeah ok, sounds like it would be a decent amount of work to implement something like specifying dependencies in sub-dependencies. `setuptools` doesn't seem to include functionality to provide an index for some given package, and things like the .toml file isn't included in the package, so there is probably no way to have that info in the package without some extra work.

Regarding using `--skip-lo

[2022-11-14 07:01] mirodil1 opened #5469 "AttributeError: module 'collections' has no attribute 'MutableMapping'"
I have a problem when using pipenv in ubuntu os.
Cannot use command `pipenv`, even for checking version

Searched for similar questions but not satisfied.

### Ubuntu
Distributor ID:	Ubuntu
Description:	Ubuntu 22.04.1 LTS
Release:	22.04
Codename:	jammy

### Python
Python 3.10.6

### Pipenv
pipenv  version (11.9.0-1.1).

------------------------------------------------------------------------------

[2022-11-14 07:32] matteius commented on #5469
Do not install pipenv from apt, it's way too old.  Install from pypi.

[2022-11-14 16:43] chai3 commented on #5045
@Fran-Rg I found https://pipenv.pypa.io/en/latest/advanced/#pipenv.environments.Setting.PIPENV_YES

Can you close?

[2022-11-14 18:22] Charles546 opened #5473 "sync Error: No such option: --sequential"
### Issue description

The latest version doesn't support `pipenv sync --sequential`, which was supported in 2020.6.2. Can't find any document and release notes about removing this feature, so either a documentation an issue or it is broken.

### Expected result

Either make it work again or correct the documents

### Actual result

[code]

### Steps to replicate

Just run `pipenv sync --sequentia

[2022-11-14 19:34] matteius commented on #5473
The implementation changed to always be sequential batches so the option eventually went away in a separate PR.

[2022-11-15 08:15] rolandjitsu commented on #5466
@MefhigosetH thanks for the suggestion. I'll give that a try as well.

[2022-11-15 08:22] rolandjitsu commented on #5466
@matteius I am now facing a different issue when installing pipenv using the system python but trying to init a pipenv env using a pyenv python:
[code]

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.11.11'`

Pipenv location: `'/usr/local/lib/python3.7/dist-packages/pipenv'`

Python location: `'/usr/bin/python3'`

OS Name: `'posix'`

User pip version: `'22.3'`

user Python

[2022-11-16 04:38] mirodil1 commented on #5469
@matteius Thanks.

[2022-11-16 16:15] IGRACH opened #5474 "Disable Runtime Warning"
Everytime when I run any pipenv command I'm getting this:

`C:\Users\user_name\AppData\Local\Programs\Python\Python311\Lib\site-packages\pipenv\vendor\attr\_make.py:876: RuntimeWarning: Running interpreter doesn't sufficiently support code object introspection.  Some features like bare super() or accessing __class__ will not work with slotted classes.
  set_closure_cell(cell, cls)`

Command runs a

[2022-11-16 19:37] ci-builder-onixs opened #5475 "Fail to parse a private repo URI w/ credentials containing `.`"
### Issue description

I have the source defined in my `Pipfile`:
[code]
My username (in the `ARTIFACTORY_USER` envvar) contains a dot character (e.g. `my.user`).

### Expected result

`pipenv` install dependencies.

### Actual result

[code]

### Steps to replicate

1. Add a private repo w/ a username containing `.` symbol in it
2. Try `pipenv install` any deps from the added source

[2022-11-17 07:37] wyslmt opened #5477 "Failed to create virtual environment with ver 2022.11.11"
### Issue description

failed to create virtual environment with pipenv-2022.11.11, but success with pipenv-2020.11.15

### Expected result

pipenv-2020.11.15 rsult:

[code]

### Actual result

pipenv-2022.11.11 rsult:

[code]

### pipenv --support  result

❯ pipenv --support
<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.11.11'`

Pipenv location: `'/home/admin/.pyenv/versi

[2022-11-17 11:07] matteius commented on #5477
@wyslmt Can you try to to uninstall your virtualenv version (if it was apt, use apt to uninstall it) and then install virtualenv from pypi with `pip install virtualenv`, and try again?

[2022-11-17 12:00] dopry opened #5478 "`pip env shell`, launches the wrong shell."
### Issue description

When I launch pipenv shell, it opens a different shell than the one I am running. I use windows and typically use either powershell or bash, with a strong preference for bash with my python projects.  When  I run pipenv shell it launchs cmd.exe.  I've tried setting PYENV_SHELL_EXPLICIT, but that doesn't work.

### Expected result

I expect that if a new subshell to be the sa

[2022-11-17 13:59] IGRACH commented on #5474
Its cone after reinstalling pipenv.

[2022-11-17 13:59] #5474 closed

[2022-11-18 06:06] wyslmt commented on #5477
apt virtualenv is not installed
[code]

and i've reinstall the virtualenv
[code]
[code]

and the result is the same as above

[2022-11-18 06:10] matteius commented on #5477
Ok interesting, thanks for checking.

[2022-11-18 09:42] oz123 commented on #5478
I am not familiar with pyenv, neither windows tbh, but this seems wrong
[code]
This is PIPENV not pyenv...

[2022-11-18 13:30] dopry commented on #5478
Doesn't change the fact the the wrong shell is launched when it is not set. I don't want to have to set that env var every time I switch shell.   I think shellingham is doing a poor job of shell detection for this use case.  It searches the process tree and returns the first shell it finds.  When using pyenv it returns cmd, because the pyenv shims are CMD.  This could probably be pre-empted by che

[2022-11-18 13:46] oz123 commented on #5478
Well, thanks for doing that hard work finding the root cause. Now, please open the issue (and a PR) in Shellingham repo.

[2022-11-18 15:01] dopry commented on #5478
I have, but I'm not convinced its a shellingham issue. Shellingham's purpose is to identify the shell the current process is running in, which it does. Pipenv shell on the other hand should be focused on preserving the interactive shell the user is using, which isn't always the same shell that is executing the process. Shellingham also does purport any compatibility with pyenv, which pipenv does.

[2022-11-18 21:00] yodaldevoid commented on #4626
My team has run into this a few times now when trying to upgrade only one package using `pipenv install --selective-upgrade <package>==<version>`. Our workaround has been similar to @Louai-Abdelsalam's fix, but we instead uninstall the package and then re-install it with the new version.

This issue has caused us enough problems that we are considering moving away from `pipenv`.

[2022-11-18 21:01] cullo7 commented on #5440
Oz, is there some way I can contact you? I have some questions regarding this issue and pipenv in general that I'm not sure belong on this issue thread, my email is on my profile. Thanks

[2022-11-18 21:13] matteius commented on #4626
@yodaldevoid I believe the issue is that `--selective-upgrade` is working as intended, but that is hard to evaluate because it was never documented (not in the docs).   I generally advise people not to use `--selective-upgrade` and to re-lock all dependencies.   Your Pipfile should have reasonable specifiers for what you expect so that re-locking everything should be a non-issue (when proper speci

[2022-11-18 21:43] yodaldevoid commented on #4626
@matteius If I understand correctly, you are suggesting that we pin dependencies in our Pipfile rather than relying on the pined versions in Pipfile.lock in conjunction with `--selective-upgrade` to only upgrade selective dependencies, is that correct?

[2022-11-18 21:55] matteius commented on #4626
@yodaldevoid I am suggesting not to Pin all of your dependencies in your Pipfile, but rather figure out which ones are the reason why you are using `--selective-upgrade` in the first place and pick reasonable specifiers for those.   For example, let's say you know you need Django >=3 .* but < 4 -- you can specify this in your Pipfile, but not worry about all of the downstream dependencies that are

[2022-11-19 11:05] SimBotBiz opened #5479 "Install local wheel package missing path in lock file"
In my program I use a local wheel, I'm in the process to upgrading from py 3.7 to py 3.11 and I had some trouble installing a local wheel (hash mismatch) bu I was able to install it after the first lock.

Then I noticed wheel path is missing in the lock file, is that a normal behavior?

![immagine](https://user-images.githubusercontent.com/50404322/202847465-48d02c10-043e-40b9-a323-d77805dfb7f4.pn

[2022-11-19 11:18] SimBotBiz commented on #5479
<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.11.11'`

Pipenv location: `'C:\\Python\\Python311\\Lib\\site-packages\\pipenv'`

Python location: `'C:\\Python\\Python311\\python.exe'`

OS Name: `'nt'`

User pip version: `'22.3'`

user Python installations found:

  - `3.11.0`: `C:\Python\Python311\python.exe`
  - `3.6.8`: `C:\Python\Python36\python.exe`
  - `2.7.18`: `C:\Pyt

[2022-11-19 11:57] SimBotBiz commented on #5479
Different project same problem, basically on `pipenv install --dev` pipenv is ignoring the path in the pipfile of pysqlite3 trying to install from ` https://files.pythonhosted.org`, why?

[code]

<details><summary>pipenv install --dev</summary>
[code]
</details>

[2022-11-19 12:06] matteius commented on #5479
Can you try adding `editable = true,` to the `pysqlite3` dictionary to see if that has any effect?

[2022-11-19 12:37] SimBotBiz commented on #5479
[code]

[2022-11-19 12:41] matteius commented on #5479
@SimBotBiz Try changing the path to be a full path instead of a relative one.  I am not saying there isn't a regression, just trying to understand where the breakdown is.

[2022-11-19 12:59] SimBotBiz commented on #5479
with `editable = true` always give this error (I tried also to use / instead of \\)
without editable true and the full path is the same error as before, it try to pull the whl from the remote host

[code]
[code]

[2022-11-19 13:04] matteius commented on #5479
I see -- if you add the path manually to the lock file does that fix it?

[2022-11-19 13:06] matteius commented on #5479
From an install phase I have the path in the lock file,
[code]

Relock and it still has the path for me:
[code]

[2022-11-19 13:16] SimBotBiz commented on #5479
For me path is always missing from the lock, I see you are on python .10, I'm on .11, maybe is the problem?
I tried also to move the whl on the same dir but without luck

![immagine](https://user-images.githubusercontent.com/50404322/202852587-dad79c14-3e8a-4fa2-937a-9fb1924af4af.png)

[2022-11-19 13:18] matteius commented on #5479
It's plausible that there are some python 3.11 bugs that haven't yet been fully realized, this may be one of them but that is surely perplexing.

[2022-11-19 13:26] matteius commented on #5479
@SimBotBiz I don't think its a python 3.11 issue ... windows, maybe?

[code]

[2022-11-19 13:27] matteius commented on #5479
Confirmed: its a windows issue.

[code]

[2022-11-19 13:39] matteius commented on #5364
@DragonRulerX I don't know how we should handle this ticket now that it appears https://github.com/Rapptz/discord.py has been deleted.

[2022-11-19 13:47] oz123 commented on #5440
Send you and email. Feel to answer there.

[2022-11-19 21:35] oz123 commented on #5469
This seems solved.

[2022-11-19 21:35] #5469 closed

[2022-11-20 18:03] ypsah opened #5482 "Generate `requirements.txt` from `Pipfile` rather than `Pipfile.lock`"
Hi, at the moment `pipenv requirements` only has support for generating a `requirements.txt` from `Pipfile.lock`.
I would like `pipenv requirements` to have an option to use `Pipfile` as its source instead.

My rationale is that packages like `setuptools` are adding support to [define a package's `install_requires` from a `requirements.txt` file](https://setuptools.pypa.io/en/latest/userguide/pypr

[2022-11-21 23:06] gitpushdashf opened #5484 "pipenv.vendor.requirementslib.exceptions.RequirementError: Failed parsing requirement from..."
Hi everyone,

Very puzzled about this error. I recently added another package to a monorepo and it's not behaving well.

The `Pipfile` looks like the following:

[code]

foo and foo-cli have been there for a while and work great. foo-proto-api is new and not so happy.

It has a pyproject.toml with flit, like the rest. And it installs successfully with `pip install -e .`

The error is perplexing:

[2022-11-22 10:53] con-f-use commented on #3699
Sorry for the Necro but that behavior is just bonkers to me. The whole point of a dev environment is that you can edit your source code and dependencies and test these changes in real time. To me it makes little sense, that the only use `pipenv install --dev` has is to install some extra tools devs might need.

[2022-11-22 11:44] insacuri opened #5485 "Pipenv check failing because of wheel 0.37.1"
### Issue description

`pipenv check` is failing for us on a fresh environment, complaining about an issue with wheel being at 0.37.1.

My guess is the issue is being caused because it being set to 0.37.1 in the [vendor file](https://github.com/pypa/pipenv/blob/main/pipenv/vendor/vendor.txt) as the only instance of wheel I could find at that version was in `/Users/manna/.pyenv/versions/3.11.0/lib/

[2022-11-22 11:44] insacuri commented on #5485
<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.11.11'`

Pipenv location: `'/Users/manna/.pyenv/versions/3.11.0/lib/python3.11/site-packages/pipenv'`

Python location: `'/Users/manna/.pyenv/versions/3.11.0/bin/python3.11'`

OS Name: `'posix'`

User pip version: `'22.3'`

user Python installations found:

  - `3.11.0`: `/Users/manna/.pyenv/versions/3.11.0/bin/python3`
  - `3.

[2022-11-22 14:10] matteius commented on #3699
@con-f-use If you don't like the behavior of `default` package group acting as constraints to all other package groups, then with named categories it is easy to not use the default group at all, or at least create a separate group that contains dependencies that you do want to be overridden by dev.  https://pipenv.pypa.io/en/latest/basics/#specifying-package-categories

There were enough other iss

[2022-11-22 14:12] matteius commented on #3699
Another possibility we could consider is a non-default option that you add to the `pipenv` section that tells pipenv not to constraint other groups from the default packages.

[2022-11-22 15:50] krishnasism commented on #2820
Even with the latest version and after 4 years, it still happens.
I just copied my Pipfile to another folder, ran `pipenv lock` and copied it back to the old folder.

[2022-11-22 20:41] andymckay opened #5486 "Should `pipenv lock` be generating a marker of `null` when `extras` used?"
### Issue description

A `Pipfile.lock` is being generated with a `marker` of `null`. When being passed to other tools to parse that lockfile, such as `pipfile2req` its erroring on that entry. I took a quick look at PEP 508 and it didn't say anything about a `marker` of `null` but did suggest it should only be a string.

### Expected result

I'm guessing, if the result is `null` just don't include

[2022-11-22 20:48] goranobradovic commented on #5022
I could not get python to work properly without having the latest installed, so I worked around this by manually changing install scripts, wherever there was _python_ replace with _python3.7_, and also ran python3.7 -m ensurepip --upgrade, then creating venv with python3.7 -m venv .

[2022-11-23 01:02] gitpushdashf commented on #5484
Ok, this was actually happening in Docker and was totally my fault. I was caching things in the Dockerfile, trying to make some optimizations, and forgot to copy over the pyproject.toml from the project into the container. 🤦

The error on requirementslib's part could maybe be improved (no pyproject.toml, setup.cfg, or setup.py found!), but this definitely is not a pipenv bug. Sorry about that!

[2022-11-23 01:02] #5484 closed

[2022-11-23 02:16] matteius opened #5488 "Followup on skipped test `test_pipenv_check`"
Had to skip this test to get the latest safety work across the line -- ideally @yeisonvargasf can help us look at how to make safety in the unit test look at the virtualenv that the test creates.

### Issue description

Test is marked skipped for now

### Expected result

To have a test of the integration.

[2022-11-23 04:20] dmexs commented on #4961
When I run try to run `pipenv install --index https://download.pytorch.org/whl/ "torch==1.13.1+cpu`

I get the following error:
`ERROR: Could not find a version that satisfies the requirement torch==1.13.1+cpu (from versions: 1.4.0, 1.5.0, 1.5.1, 1.6.0, 1.7.0, 1.7.1, 1.8.0, 1.8.1, 1.9.0, 1.9.1, 1.10.0, 1.10.1, 1.10.2, 1.11.0, 1.12.0, 1.12.1, 1.13.0)
ERROR: No matching distribution found for torch=

[2022-11-23 07:10] bendog opened #5489 "Relative file path in Pipfile being converted to Absolute file path in Pipfile.lock"
### Issue description

Using the file install method for Pipenv, we've run into an issue with a relative path being converted to an absolute path on locking. This prevents us from using the lock file to install from as the path will very from user to user.

I've tried changing the method of import, and I've tried removing the .lock file, but it still gets built at an absolute path.

pipenv, versio

[2022-11-23 09:04] fizyk opened #5490 "--skip-lock behaves funky when used in combination with local package"
### Issue description

I continue introducing Pipfile/Pipfile.lock into my packages instead of requirements.txt into my packages, and on the second package the pipenv began to behave a bit funny when I use --skip-lock.

I Managed to move all requirements and the pipenv begun fine, but then attempted to install local package with the editable option. and that's where it all went astray.

### Expect

[2022-11-23 13:47] matteius commented on #5482
The requirements generated from the Pipfile would not be a complete requireiments file the way the one generated from the Pipfile.lock is.

[2022-11-23 13:48] matteius commented on #5485
@insacuri New version of pipenv has been released which includes the latest version of safety (the check command) -- please check it out.

[2022-11-23 13:49] matteius commented on #5453
New version of pipenv just released today, which has the updated safety command 2.0.3 -- please check it out.

[2022-11-23 13:49] matteius commented on #5159
New version of pipenv released today has the latest version of safety check.  Please check it out.

[2022-11-23 13:49] matteius commented on #4905
New version of pipenv released today has the latest version of safety check.  Please check it out.

[2022-11-23 13:50] matteius commented on #4819
New version of pipenv released today has the latest version of safety check.  Please check it out.

[2022-11-23 13:50] matteius commented on #3995
New version of pipenv released today has the latest version of safety check.  Please check it out.

[2022-11-23 13:50] #3995 closed

[2022-11-23 13:52] matteius commented on #5432
@glensc Could you please check with the latest version of `pipenv==2022.11.23`?  I believe @oz123 had a commit for this in requirementslib and it may very well be fixed now.

[2022-11-23 13:53] #5473 closed

[2022-11-23 13:57] matteius commented on #5490
I think that the issue may involve editable package with path of '.' -- there are separate issue reports about that.

`pyramid-basemodel = {path = "."}` -- try moving this package into a sub directory and see if adjusting the path doesn't cause it to work.  Someone pinged me during hacktoberfest about fixing this particular issue, but I had lost track of where I think the problem is in `requiremen

[2022-11-23 13:57] #5406 closed

[2022-11-23 14:02] matteius commented on #5130
Just wanted to update this thread that named package categories were released in October and some users have found it a good way to manage multi-platform dependencies for a single project (such as developers on different operating systems all using pytorch) -- https://pipenv.pypa.io/en/latest/basics/#specifying-package-categories

I would suggest trying to make use of package categories to solve t

[2022-11-23 14:04] #3471 closed

[2022-11-23 14:19] januszm commented on #5130
@matteius thanks for the update, however I think  this section of the doc should contain more details about how this should actually be used to support multiple platforms

Eg. How to define groups for arm64 and x86_64 and how to use them to install packages

[2022-11-23 14:19] insacuri commented on #5485
Awesome, I can see when rebuilding an environment that it's using 0.38.4 so it's all good.
[code]

I'll close the issue now.

[2022-11-23 14:19] #5485 closed

[2022-11-23 14:21] rofafor opened #5491 "Broken safety in release 2022.11.23"
### Issue description

Bundled safety is missing VERSION file:
https://github.com/pypa/pipenv/actions/runs/3532314366/jobs/5926514290#step:8:725
https://github.com/pypa/pipenv/blob/v2022.11.23/pipenv/patched/safety/__init__.py

### Expected result

`pipenv check` works without errors

### Actual result

[code]

### Steps to replicate

Install and run `check` command

[2022-11-23 14:33] matteius commented on #5491
@rofafor The file is checked in already -- I am not sure what would cause it to not be included in the wheel?
https://github.com/pypa/pipenv/blob/v2022.11.23/pipenv/patched/safety/VERSION

[2022-11-23 14:35] rofafor commented on #5491
I think the issue is here: https://github.com/pypa/pipenv/blob/v2022.11.23/setup.py#L59

[2022-11-23 15:15] mattip commented on #5453
I am not sure I understand. I asked if there is any kind of agreement that pipenv has entered into with the company behind pyup.io to support the open source projects they scan for vulnerabilities, or any more information about the connection between pyenv and pyup.io. I don't see any change in the [documentation of the safety](https://pipenv.pypa.io/en/latest/advanced/#detection-of-security-vulne

[2022-11-23 15:23] yeisonvargasf commented on #5491
Thank you @rofafor; I think the same; the issue is in the `package_data`.

@matteius could you try to create a wheel locally with the following:

[code]

[2022-11-23 15:32] #4905 closed

[2022-11-23 15:41] matteius commented on #5453
@yeisonvargasf Are you able to seek clarification about the above questions/concerns?

[2022-11-23 15:57] yeisonvargasf commented on #5488
This issue is probably caused by #4819. I'm going to take a look.

[2022-11-23 16:06] glensc commented on #5432
[code]

no change, still written as `https://github.com/glensc/python-trakt/archive/refs/tags/3.4.1.zip`

also, some unwanted formatting changes have appeared:

[code]

[2022-11-23 16:14] yeisonvargasf opened #5493 "`pipenv check` - Ruamel vendoring isn't working"
### Issue description

`2022.11.23` included the new Safety version, which requires `ruamel`, the wheel for this `pipenv` version is missing the ruamel package therefore, `pipenv check` is failing with the following error:

[code]

Inspecting the wheel, we can see there isn't the `ruamel` package.

<img width="1371" alt="Screen Shot 2022-11-23 at 11 12 09 AM" src="https://user-images.githubusercon

[2022-11-23 16:47] albert-github opened #5494 "Incorrect links in table of contents of README.md"
### Issue description

In the README.md file we see in the Table of contents constructs like (just 2 examples):
[code]
though these links don't work under GitHubm, but should be like
[code]

### Expected result

Correct links, so possibility to jump to the right place

### Actual result

No jump to the right place

[2022-11-23 16:51] matteius commented on #5493
It is checked in though, I wonder if this is another case where the wheel built is excluding these files for some reason.

[2022-11-23 17:03] matteius commented on #5493
I merged a small change to setup.py to main that worked locally to include ramel in the wheel.   Feel free to try it out @yeisonvargasf  -- I plan to do a follow-up release `2022.11.24` either later tonight or tomorrow.

[2022-11-23 17:04] matteius commented on #5491
This is fixed in main, expect a follow-up release `2022.11.24` within the next day (unless this Covid booster I got this AM knocks me out), but soon.