[2022-06-25 11:24] #5092 closed

[2022-06-25 19:19] Tony7477 commented on #2482
thanks man it worked although, i dont know why it didnt work "pipenv --python 3.8"

[2022-06-26 05:53] matteius opened #5147 "Vendor in the latest pip 22.1.2"
Looks like there have been some new versions of pip since 22.0.4, the version we use in our current stable release.  This ticket is to track the work to vendor in `22.1.2` or latest version at the time the ticket can be accomplished

[2022-06-26 15:32] molava1 commented on #5116
I'm still having issues with the FileNotFoundError: [Errno 2] after '✔ Successfully created virtual environment!'..
I've tried to update my pipenv & python :/
Any further suggestions? :(

[2022-06-26 15:55] g-vidal commented on #5116
@molava1 It took me some time and some risky uninstall operations to succeed on my debian !  I would not suggest to follow the same path... The origin of the problem for me was a big mess between hazardous python 3.9 and 3.10 installations. There were more than one instance of  python, python3, pip, pipenv executables and various python local-libs installations. Whenever things have been cleaned u

[2022-06-26 17:42] dd-ssc commented on #2159
Hmmm... about a year later and still no update ?

I'm running into this as well - with a bit of a twist: Everything works fine on my local MacBook, but fails when creating the same venv on a Linux host with the same environment.

Any workarounds for the time being ?

[2022-06-26 18:03] matteius commented on #2159
I believe this is solved with index restricted packages.   What version of `pipenv` are you on @dd-ssc  and are you explicitly specifying your index in the `Pipfile`?  Please see:   https://pipenv.pypa.io/en/latest/advanced/#specifying-package-indexes

[2022-06-26 21:06] oz123 commented on #5106
I think we can completely drop this vendored library. I don't see it used any where.

[2022-06-27 07:40] #4778 closed

[2022-06-27 09:16] #5056 closed

[2022-06-27 13:17] Keiku commented on #5056
Thank you for closing.

[2022-06-27 14:44] Funi-Simushi commented on #1036
This is great

[2022-06-27 15:06] gitpushdashf commented on #5142
Thank you so much for looking into this!

flit/flit_core is a setuptools alternative, generally recommended over setuptools for projects that don't have any compile steps.

https://github.com/pypa/flit

It's a little bit simpler/leaner. I'm not sure if there's a bug with flit_core or not, but it's generally worked quite well for me.

[2022-06-27 19:13] #5000 closed

[2022-06-27 19:13] OrinaOisera commented on #5075
What can one do when running on Ubuntu 20.04.4 LTS and facing the same error.?
I have tried all the solutions mentinedabove.

[2022-06-27 21:52] nicholasserra opened #5149 "--keep-outdated while switching dependency git location results in conflicting Pipfile and lock"
### Issue description

Switching a dependency from a fork (eg `https://github.com/nicholasserra/twine`) to the source (eg `https://github.com/pypa/twine`) with the `--keep-outdated` flag results in conflicting Pipfile and Pipfile.lock

### Expected result

Expected both the Pipfile and Pipfile.lock to reference `https://github.com/pypa/twine`

### Actual result

Pipfile references the new source g

[2022-06-27 22:05] matteius commented on #1036
@Funi-Simushi and @doaaamin269  -- you are commenting on a closed issue from 5 years ago -- I am not sure what you mean, but if you need support or think something is not working right for Windows, you may need to open a new issue or provide more details.  Thanks!

[2022-06-27 22:08] matteius commented on #5149
I am guessing that it has something to do with the version number not changing in the fork, so it keeps the outdated requirement.   To be honest, I find the `--keep-outdated` implementation to be very much a hack that can lead to unexpected requirement update behaviors.  I recommend not using it if possible and allowing your requirements to update to the specifiers you have outlined in your Pipfil

[2022-06-28 00:33] #5132 closed

[2022-06-28 06:42] matteius commented on #1887
At this time, all `vendor` and `patch` dependencies in `pipenv` are intentionally bundled together to ship a working `pipenv`.   It would not be advised for a package maintainer to include only a subset of `pipenv` in the current form to say remove `vendor` and rely on system dependencies for the rest because you may end up with a difference in intended behavior.   The best example I can provide i

[2022-06-28 06:42] #1887 closed

[2022-06-28 06:51] matteius commented on #5128
Sorry for the delay in responding @drewgilliam, yes I believe this is expected that CI should be set to 1 or unset or 0.  However at first glance, that code doesn't look correct.  Shouldn't this line:
`PIPENV_IS_CI = env_to_bool(os.environ.get("CI") or os.environ.get("TF_BUILD") or False)`
Actually be more correct as this:
`PIPENV_IS_CI = env_to_bool(os.environ.get("CI")) or env_to_bool(os.environ

[2022-06-28 06:52] matteius commented on #5128
@drewgilliam Clarifying question -- does your environment need CI to be set to `azure` for other reasons in the build pipeline besides `pipenv`?

[2022-06-28 07:16] matteius commented on #5118
@owtaylor Thanks for your excellent analysis.  I may have just figured this out as a logical bug from the outer method that calls `_parse_name_from_path` Check out my PR of requirementslib here:  https://github.com/sarugaku/requirementslib/pull/319/files

Basically there was a logical boolean error where the name may have already been established but it tried to get the name again when `is_remote_

[2022-06-28 09:06] jixbo commented on #5075
I'm still facing this issue in Ubuntu 22.04 too. Removing ~/.local/share/virtualenvs/ followed by `export SETUPTOOLS_USE_DISTUTILS=stdlib` works for me as a temporary workaround. Warnings are still there.

[code]

[2022-06-28 13:05] drewgilliam commented on #5128
I don't know too much about the conda-forge feedstock environment - in my limited understanding, its a fairly automated environment where a lot of stuff is autogenerated for each feedstock package by the "conda smithy".  The `CI` variable appears to be set in one of these auto-generated files, I assume/hope for good reason:
https://github.com/conda-forge/pipenv-feedstock/blob/main/.azure-pipelines

[2022-06-28 13:57] matteius commented on #5075
Can you try the `main` branch of `pipenv` to see if its any better?  We are planning on a doing a release of the latest `main` later this week?

[2022-06-29 06:10] GitRon commented on #3382
Nothing of the mentioned worked for me... I am using a work-around:

[code]

I put this inside a script so it's convenient to execute. Maybe this helps somebody else...

[2022-06-29 08:25] RomanSteinberg commented on #3902
@jamesstidard Sorry, but it is not clear for me how to handle cross-platform dependencies. Let me introduce my case.

1. I installed project dependencies on Ubuntu (`pipenv install`).
2. Copied Pipfile and Pipfile.lock to MacOS.
3. Ran `pipenv install` on MacOS. Result:  "ERROR: No matching distribution found for tflite-runtime==2.8.0"
4. Deleted Pipfile.lock.
5. Ran `pipenv install` on MacOS. Res

[2022-06-29 08:37] jamesstidard commented on #3902
@RomanSteinberg Looks like you're doing the right steps. The only thing I can thing is: are you running `pipenv lock --keep-outdated` on the platform you are wanting to also support? seems like, from your description, you maybe did:

1. `ubuntu $ pipenv install x`
2. `ubuntu $ pipenv lock --keep-outdated`
3. <transfer lock file>
4. `macOS $ pipenv sync`

Instead of:

1. `ubuntu $ pipenv install x`

[2022-06-29 09:58] montaropdf opened #5152 "pipenv lock "locking failed" AttributeError: 'NoneType' object has no attribute 'ensure_build_location'"
### Issue description

pipenv fails at the locking stage, whatever the command ran. It also seems independent of the version of pipenv, I downgraded to version 2022.4.20, from 2022.6.7, but, the result is still the same. I wonder if it could be related to pip, given the exception below.

Pip version available on the machine.

[code]

### Expected result

The locking stage to succeed and the rest o

[2022-06-29 10:02] matteius commented on #5152
@montaropdf  Can you try to downgrade you pip version to `22.0.4`?  I wonder if pip-shims needs a compatibility update for the new version of pip.

[2022-06-29 10:49] montaropdf commented on #5152
Super weird outcome:
Downgrading pip to `22.0.3` and pipenv to **`pipenv-11.10.4`n** (this version seems odd) allow me to complete the lock command without error. Next I set back pipenv to the latest version which set pip to the latest version. I run `pipenv --lock`, which ends successfully.

[2022-06-29 10:53] Tlaloc-Es opened #5153 "variable expansion doesnt work inside Pipfile in order to install from a private repo"
### Issue description

I am trying to install a dependency from a private repo in order to this I have the following line

[code]
If I hardcode USER and ACCESS_TOKEN this work perfectly but not with shell expansion in order to pick the vairbles

### Expected result
install packages and keep the env expansion inside the Pipfile and Pipfile.lock

### Actual result

I cannot install from private repo

[2022-06-29 11:11] RomanSteinberg commented on #3902
Using your recipe I failed again. :(

As far as I understand, this package has different versions for different platforms. May be it is maintainers problem but it becomes mine. So, I should store Pipfile.lock for each platform separately.

[2022-06-29 13:22] flichtenheld commented on #5075
Retested this. Original report was with 2022.5.2. Not reproducible with 2022.6.7 nor main. So all good from my side, it seems (FYI: @matteius)

[2022-06-29 16:54] dmtucker commented on #5088
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1012124

[2022-06-29 17:38] nnutter opened #5154 "pipenv is affected by a bug in requirementslib which has been fixed upstream"
### Issue description

`requirementslib` used a heuristic to detect whether a path was a URL or not which falsely categorized home directories with an `@` in them as URLs which in turn makes the `pipenv install --dev -e <package>` functionality break.

This issue was fixed upstream, in https://github.com/sarugaku/requirementslib/pull/310 and released in [1.6.5](https://pypi.org/project/requirement

[2022-06-29 18:08] MrBrunoSilva opened #5155 "File named util.py breaks dependency generation and locking"
### Issue description

The mere existence of a file named `util.py` breaks dependency generation and pipenv lock.

[code]

### Expected result

Expected to complete with identical output as the second run above.

### Actual result

As above, locking failed with message about setup.py and egg_info. No verbose output produced.

### Steps to replicate

This was a default project for AWS Amplify (fair

[2022-06-29 20:06] MrBrunoSilva commented on #5155
Looks like this is a problem with setuptools that only happens depending on certain files (a file named `test.py` doesn't trigger it). The output of `pipdev install -e src` is less baffling:
[code]

[2022-06-29 20:21] matteius commented on #5155
@MrBrunoSilva Ah yes because you have src listed as an editable install in your `Pipfile` it needs to have valid python setup configuration (there are multiple ways to achieve this).

[2022-06-29 21:20] MrBrunoSilva commented on #5155
I'll leave this open so you can decide whether you should surface a meaningful error message when there is a package problem. Thanks

[2022-06-30 01:49] matteius commented on #5152
@montaropdf Expecting a new version of `pipenv` any day ... FWIW you should never have to install back to 11.10.4 since that is sooo old, but I am not sure -- sounds like a system issue.  Can we close this one for now?

[2022-06-30 02:41] matteius commented on #5155
I mean the actual error is being surfaced, which is a setuptools distutils error trying to generate the metdata in `requirementslib`:

[code]

It just isn't obvious that its because the specified editable install has no setup info available.  I am not sure that surfacing a different error is going to be that practical/feasible from the perspective of `pipenv`.   Maybe it would be better as a requi

[2022-06-30 15:15] fernandoflorez opened #5157 "Detect if virtual env exists for folder"
Hello,

I'm doing some dev automations and would like to detect if the folder i'm switching to has a pipenv venv setup so I can pipenv shell to it automatically.

Also, if i'm under a venv already I can detect it with the PIPENV_ACTIVE env variable. What is the best way to get out of it? Normally I just close the session.

I'm trying to automate this with bash BTW.

Thank you!

[2022-06-30 17:15] #5118 closed

[2022-06-30 17:15] #5154 closed

[2022-06-30 17:16] #5106 closed

[2022-07-01 14:15] qi55wyqu opened #5159 "pipenv check doesn't consider package versions of current environment"
### Issue description

When running `pipenv check`, only the site-packages of the user installation are considered instead of the pipenv environment.
Is this expected behaviour?

Currently my workaround is to install `safety` in the environment and then run `pipenv run safety check` which checks the correct packages.

### Expected result

`pipenv check` runs a safety check on the packages of the c

[2022-07-01 17:54] rubyisbeautiful commented on #5100
@matteius I think this has either been fixed, or is not reproducible.

First, I was using Sonatype Nexus, which I could not use for the reproduction (pay).  I used devpi instead.
Second, I noticed in my original output that the pre-release version was already installed ("Skipped Update of Package ssqt: 1.8.2+6.g08766f3 installed,, 1.8.2+6.g08766f3 available.")

I did create [this repo with a setup

[2022-07-01 20:03] nnutter commented on #4784
Probably also the same issues as in #4323

[2022-07-04 06:39] truekonrads opened #5160 "pipenv install generates file paths > 260 which break on Windows"
### Issue description

pipenv can generate file paths during build which are more than 260 characters which breaks on Windows as described in this issue by https://github.com/netleibi/fastchunking/issues/6#issuecomment-877677653 by @netleibi

There are no suitable OS workarounds and therefore I propose that this is a pip bug.

### Expected result

1) It should at least warn that long file paths ar

[2022-07-05 04:02] truekonrads commented on #1914
For what it's worth, it still feels too slow. Is there a different issue where this is tracked?

[2022-07-05 05:33] IgnitE-vaibhav commented on #5052
This helped me too!

[2022-07-05 06:07] rooom13 commented on #4536
Is this solved? I see it got closed recently, could anybody confirm?

[2022-07-05 11:38] matteius commented on #4536
@rooom13 It is closed because we will not make the default behavior be to `--keep-outdated`.  It is recommended to never use `--keep-outdated` as it is mostly a < 10 line hack to overwrite during the dependency resolution that over writes what was determined for the Pipfile.lock is its older requirements, and it doesn't guarantee you end up with an appropriate `Pipfile.lock` that meets all of the

[2022-07-05 11:49] matteius commented on #1914
@truekonrads and others -- I am locking conversation on this issue because the originally issue from 2018 of why it was slow has been resolved.   For all of the people that come here to comment in the modern day that `pipenv` feels really slow, just know that it is super hard to support you because you are generally providing zero examples.  You have none of the default from the issue report templ

[2022-07-05 12:06] #4235 closed

[2022-07-05 12:11] matteius commented on #3655
`pipenv --clear` is the command to run for clearing your pipenv cache.

[2022-07-05 12:11] #3655 closed

[2022-07-05 12:17] matteius commented on #4130
I am closing this issue out as myself and @oz123 are the current maintainers of the last half year.

I do have a question for @hugovk  -- I followed that link https://tidelift.com/lifter/search/pypi/pipenv and it says `This project is a part of the Tidelift Subscription. Tidelift is already paying the maintainers of this package for [project maintenance]`  Do you know is there anyway to verify if

[2022-07-05 12:17] #4130 closed

[2022-07-05 12:20] matteius commented on #4260
I think the answer to the OP is yes it should be fine to do this when your internet connection is having slowness.

[2022-07-05 12:20] #4260 closed

[2022-07-05 12:22] #1892 closed

[2022-07-05 12:26] matteius commented on #2207
Such an option already exists.   I parsed this thread today but being from 2018 a lot has changed, and the original contributors have moved on so I suggest that any remaining issues/feature requests be managed through new issue reports.

[2022-07-05 12:28] hugovk commented on #4130
I suggest you contact Tidelift directly, they should be able to help out:

https://tidelift.com/lifter/contact-us

[2022-07-05 12:38] matteius commented on #2895
I am closing this out as stale, but going to provide some context.

We have added specifically a `requirements` command that generates requirements.txt from the lock file without relocking.  I suspect any slowness with -r was that it required locking to generate the requirements to use in subsequent operation.   We are removing `lock -r` soon.  This issue made me realize that `install -r` also nee

[2022-07-05 12:38] #2895 closed

[2022-07-05 12:52] oz123 commented on #4130
I would definitely love to see this payment goes for us

[2022-07-05 13:01] matteius commented on #4396
@ividito What commands were you running/what Pipfile or other useful context?  I have a friend at work that runs pipenv in WSL and I haven't heard of any complaints from him, so I would like to ask for more details to be able to reproduce it.

[2022-07-05 14:30] anurag0894 commented on #3592
apache-beam = {extras = ["gcp"], version = "*"}

[2022-07-06 03:55] #5064 closed

[2022-07-06 04:51] matteius commented on #5160
@truekonrads I believe you should be reporting this bug directly to the `pip` backlog as well, as `pipenv` just vendors in `pip` and we can see that trying to `pip install fastchunking` also fails out-right on Windows because of this issue:

[code]

[2022-07-06 04:53] matteius commented on #5160
Seems related to this locked issue report, but I am fairly sure the version of python from the Microsoft Store doesn't ask you about disabling the path length limit.
https://github.com/pypa/pip/issues/10996

[2022-07-06 04:58] matteius commented on #5160
I imagine the `pip` developers may not be interested in improving the default behavior for Windows, probably for existing installs this is the path forward:  https://docs.python.org/3/using/windows.html#removing-the-max-path-limitation

However I note also that because `fastchunking` invokes `C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\BuildTools\\VC\\Tools\\MSVC\\14.29.30133\\bin\\Hos

[2022-07-06 04:59] truekonrads commented on #5160
From the [original bug report](https://github.com/netleibi/fastchunking/issues/6#issuecomment-877677653), the hero writes:

[2022-07-06 05:13] matteius commented on #5153
I was not able to reproduce this issue.  You can see in my output that it expanded the credentials I exported into the shell ahead of time.  I didn't specify a real private repo to test this, but its apparent that the variables were expanded for me.  @Tlaloc-Es  Can you elaborate on your system and the steps you took?

[code]

[2022-07-06 05:14] matteius commented on #5138
@oz123 Can you re-check this now that we have the latest requirementslib which had a fix for a setuptools warning?

[2022-07-06 05:15] #2159 closed

[2022-07-06 05:17] #5145 closed

[2022-07-06 05:21] matteius commented on #5107
This was fixed in `pipenv=2022.7.4` as it changed the order (regular packages overwrite dev packages and not the other way around).

[2022-07-06 05:21] #5107 closed

[2022-07-06 05:22] #3421 closed

[2022-07-06 05:22] #3454 closed

[2022-07-06 05:23] #4725 closed

[2022-07-06 05:23] #4781 closed

[2022-07-06 05:23] #5034 closed

[2022-07-06 05:24] #4815 closed

[2022-07-06 05:26] matteius commented on #4407
@elanou Please provide additional details on how to reproduce if this is still happening with `pipenv=2022.7.4`  Perhaps even open a new issue about it with those details.

[2022-07-06 05:26] #4407 closed

[2022-07-06 05:28] #4749 closed

[2022-07-06 05:29] #5101 closed

[2022-07-06 05:29] #5112 closed

[2022-07-06 05:29] #5085 closed

[2022-07-06 05:30] #4650 closed

[2022-07-06 05:33] zaufi commented on #4627
[code]

[2022-07-06 05:37] matteius commented on #987
I believe this is resolved now with my work on index restricted packages.  Correct me if I am wrong, but the proxy feature was specifically about using an alternate address (a proxy) on the internal network to bypass a firewall and connect to somewhere outside the network.  Since index restricted packages requires that all packages use a specific index, wouldn't it work to just specify the proxy a

[2022-07-06 05:37] #987 closed

[2022-07-06 05:58] matteius commented on #4627
Thanks @zaufi -- I was closing out old issues and I can now see that this issue is specifically about the list of processes showing the expanded variables to the pip subprocess:

I have re-opened the issue as this deserves more attention at some point.

[2022-07-06 06:36] matteius commented on #4627
@zaufi So I just did some testing and can confirm what you are seeing with `top -c` however I find that even pip itself expands the environment variables into the CLI args, however if I modify the command to pass in like this:
`pip install requests <<< "--extra-index-url https://${SECRET}@my.pypi.repo"` it does hide the variable from `top -c`.

However this syntax does not work for Powershell, I b

[2022-07-06 07:30] zaufi commented on #4627
One solution I see is to use `.netrc` file somehow, which is already supported by `pip`.

[2022-07-06 09:45] mirceaulinic commented on #5107
That's great, thank you so much for the update @matteius! (sorry I missed your previous message)

[2022-07-07 01:37] truekonrads commented on #4264
I was expecting that int he output there would be an env prefix, but I can't see it. The solution frrom @astahlhofen appears to be only working on latest(?) pipenv: `pipenv, version 2022.1.8`

[2022-07-07 04:01] truekonrads commented on #4264
Could we not echo a short snippet into the PowerShell's stdin?

[2022-07-07 11:00] matteius commented on #4264
@truekonrads I don't know, I am not even sure how to reliably detect the program is running in PowerShell ... it feels like configuration outside of `pipenv` to me, but if you know a way to accomplish it feel free to open a PR against the other open issue #3505

[2022-07-07 12:39] ividito commented on #4396
I've dropped pipenv since I commented, but here's my Pipfile from when I last observed this issue:

<Details>

[code]
</Details>

I ran into the issue while running `pipenv shell` . I do still run into this issue with `poetry shell` , and I've generally adapted my workflow to compensate rather than continue to wrestle with it. If there are specific resources I can provide or troubleshooting steps

[2022-07-07 20:57] #5147 closed

[2022-07-08 07:42] alexanderdevm opened #5167 "Version of pipenv > 2020.11.15 will produce error AttributeError: 'JoinedStr' object has no attribute 's'"
### Issue description

Version of pipenv > `2020.11.15` will produce error `AttributeError: 'JoinedStr' object has no attribute 's'` when it installs a package from private repo that contains `setup.py` with dependencies from private repo.

### Expected result

Packages and its dependencies should install from private repo (bitbucket)

### Actual result

[code]

### Steps to replicate

Pipfile:
[c

[2022-07-08 14:12] matteius commented on #5167
Please check with `2022.7.4` version, the versions you have mentioned are fairly old at this point.

[2022-07-08 16:32] alexanderdevm commented on #5167
@matteius

I have updated back to latest pipenv:
[code]

1) change to double quotes -> same issue
2) added editable -> same issue
3) I am not able to use https since the repo needs ssh key to be cloned, fails otherwise.

[2022-07-08 16:39] matteius commented on #5167
@alexanderdevm Thanks for checking that, it will have to be investigated further where the code issue may be.

[2022-07-08 19:55] oz123 opened #5169 "Remove vendord cached_property"
This is built in `functool.cached_property` since Python 3.8 and is redefined in many places we can import from without
fearing it will be removed:
[code]

[2022-07-08 21:29] matteius commented on #5167
@alexanderdevm So I did a trial and was not able to reproduce it, but I didn't use your setup.py.   It seems odd to me in your setup.py that the `install_requires` has an f-string that appears to require its own self as a dependency.  I wonder if that is what is causing confusion in requirementslib?  I am not entirely sure what the specific issue is, but it clearly seems to be the way something is

[2022-07-08 21:30] matteius commented on #5167
Yeah it has to be the `custom_lib@git+ssh://git@bitbucket.org/org/custom_lib.git#egg=custom_lib`  that is causing issues, from the setup.py

[2022-07-08 21:41] matteius commented on #5167
Well to my surprise, I adapted my `redis-py` example for your setup.py and it does install ok in that format.

[code]

[code]

[2022-07-08 21:48] matteius commented on #5167
@alexanderdevm  What version of pip are you on?  `pip --version`

I suspect now based on your original output that you are not on a version of pip compatible with the newer pipenv versions.  Since 2022.7.4 has vendor'd pip==22.0.4 I would suggest try installing that or newer to see if you get different results.

[2022-07-08 23:20] alexanderdevm commented on #5167
@matteius

[code]

i will do additional testing and see if I can create a public way to repro the issue.

[2022-07-09 00:51] alexanderdevm commented on #5167
@matteius

I have created repo with the issue github: https://github.com/alexanderdevm/pipenv-bug-repro

Steps:
[code]

[2022-07-09 01:05] matteius commented on #5167
@alexanderdevm The problem seems to be that the setup.py is not installable the way its written for https://github.com/alexanderdevm/test-lib-1

`git clone https://github.com/alexanderdevm/test-lib-1.git`
`cd test-lib-1`
`python setup.py install`

[code]

[2022-07-09 01:29] #2412 closed

[2022-07-09 06:16] alexanderdevm commented on #5167
@matteius

I have did additional testing and the issue is comes from the following:

[code]

if I use a variable in the name of install_requires, then it fails with `AttributeError: 'JoinedStr'`, if I change it from f-string to string concat, it will complain about that too.

the only time it installs without an issue is if I dont use any variables, and this issue has started after release `2020.1

[2022-07-09 07:43] matteius commented on #5167
@alexanderdevm Can you share an example setup.py that works without issues?  I tried this but I still get that setuptools is trying to find it in pypi.

[code]

[code]

I believe this is an issue with `setuptools` but you are suggesting you found a way to get it to work without string interpolation and I haven't found a way to get the example to work with a static string.   You may need to make a

[2022-07-09 08:26] matteius commented on #5167
@alexanderdevm Actually from my last message I found that `setup.py install` doesn't support VCS `install_requires` but that pip does.  It seems your bug is in requirements lib.   I patched the vendor version of `pipenv` requirements lib locally and got it to seemingly work, but I am not convinced of my logic being correct.

It seems that an f-string is ast parsed as an `ast.JoinedStr`   The probl

[2022-07-09 13:42] matteius commented on #5167
After exploring this further, I am not convinced there is a safe way to evaluate the f-string or format string from the setup.py.   The way that requirementslib is implementing the `class SetupReader:` is a `"""Class that reads a setup.py file without executing it."""`.

The problem is one of safety -- if we evaluated the logic of setup.py in the resolution of dependencies there could be a malicio

[2022-07-09 18:46] alexanderdevm commented on #5167
@matteius thank you for looking into the issue. I have created a bug with requirementslib https://github.com/sarugaku/requirementslib/issues/328

[2022-07-09 18:50] matteius commented on #5167
@alexanderdevm I think we can make that case a better error, but I don't think we can safely evaluate an f-string or any interpolated string from the `setup.py`.  I think you will need to consider alternative ways to handling that setup.py `install_requires` differently.

[2022-07-09 18:56] alexanderdevm commented on #5167
@matteius , a suggestion is to remove variables from `install_requires`  for the time being?

Its also interesting that version of pipenv 2020 and below had no issue.

Actually my all time favourite version of pipenv is `2018.11.26` this is the version that generates lock files the fastest when using git packages.

[2022-07-09 19:02] matteius commented on #5167
I believe that the 2018 version is still on pip-tools and is going to be lacking quite a few security minded and other types of fixes.   I have only been using pipenv for 9 months now, so I cannot speak to the older versions but I know we have been making a lot of enhancements and bug fixes in recent versions.  I suspect from looking at the code that it was determined to be a security vulnerabilit

[2022-07-10 15:01] agpldev commented on #5094
After working through carious threads on this issue, I think what got this working correctly for me is the following on my Ubuntu 20.04 (WSL) .. will try it on my Ubuntu machine later wen attempting to duplicate this test environment for UAT/PTA purposes:

1. Installed Python 3.10.5 from the DeadSnakes PPA
2. Perform the pip update (to 22.1.2) via curl -sS https://bootstrap.pypa.io/get-pip.py | py

[2022-07-10 15:12] matteius commented on #5094
@agpldev I don't recommend folks to use DeadSnakes in a production or critical environment.

From their own page:  https://launchpad.net/~deadsnakes/+archive/ubuntu/ppa

[2022-07-10 15:37] agpldev commented on #5094
Appreciated and agreed @matteius, certainly worth highlighting/reiterating that point. I have not had time to compile 3.10 on this Ubuntu version for my purposes as I am still working on some design aspects at present.

[2022-07-10 17:55] alexanderdevm commented on #5167
@matteius I have updated all my setup.py to be without f-string for the moment and that resolves the issue .

For the moment the next course of action:
- Pipenv : improve error message for f-string, string concat,... errors
- requirementslib: wait for update on possible patch/fix for this issue?

[2022-07-11 19:23] rafalimaz commented on #5133
Can you please provide the commands you executed?

[2022-07-12 12:39] AucaCoyan commented on #5052
Please, add a error msg if pipenv finds a folder in .virtualenvs with the same name of the folder which intends to create

[2022-07-12 15:54] BreezySMX opened #5173 "Getting "Failed to load paths error""
### Issue description

I'm 99% sure my paths are correct. I've followed the paths in my environment variables to make sure the folders actually existed.

I'm having issues getting pipenv to work.  I had it working in the past, but now it isn't. I'm running through the Visual Studio Code terminal, but am experiencing the same issues in command prompt.

I've ran pip uninstall pipenv and reinstalled

[2022-07-12 15:56] lsmith77 commented on #2707
would be great to have a version of this script that leverages git to list the changes.

[2022-07-12 16:05] BreezySMX commented on #5173
Tried the following:

- https://github.com/pypa/pipenv/issues/4337
     - Which boils down to pip install --upgrade pip git+https://github.com/pypa/pipenv
     - Issue still exists
- https://github.com/pypa/pipenv/issues/4220
     - pipenv --where returns C:\Users\GOST CTF SME

[2022-07-13 10:41] oz123 opened #5174 "Reuse libraries in pip own's _vendor"
There are some libraries that we vendor, and are already found in `pip/_vendor`. These are;

[code]

Removing them from our own vendor is going to serve pipenv users with a smaller package and remove duplication.
It is also worth noting that most of these libraries are probably not going to be removed from pip since they are crucial for
parsing of dependencies.

Those who are not really related li

[2022-07-14 15:56] Karthik-PM commented on #1862
can i help with this ?

[2022-07-14 15:59] Karthik-PM commented on #5131
can i help on this ?

[2022-07-14 17:42] matteius commented on #1862
@Karthik-PM That would be great!

[2022-07-14 18:15] brettcannon opened #5175 "Seeking feedback on a plug-in-like system for environment discovery"
I opened https://github.com/pypa/pipenv/discussions/5158 seeking feedback on a potential way for tools like pipenv to help tools like VS Code and the Python Launcher for Unix find virtual environments it manages as well as find Python interpreters. But I realized opening a discussion might not be this project's preferred way to have such a conversion, hence this issue. 🙂

[2022-07-15 11:15] r8or0pz commented on #2705
It doesn't add lambda function to the archive though

[2022-07-18 05:34] DWAA1660 opened #5177 "Error with pipenv on pop os 22.04"
### Issue description

Im on a freshly installed PopOS with python 3.10.4 installed. Every time i run pipenv shell or anything related it has error
`Traceback (most recent call last):
  File "/usr/bin/pipenv", line 33, in <module>
    sys.exit(load_entry_point('pipenv==11.9.0', 'console_scripts', 'pipenv')())
  File "/usr/lib/python3/dist-packages/pipenv/vendor/click/core.py", line 722, in __call_

[2022-07-18 07:33] matteius commented on #5177
@DWAA1660 Works fine for me on python 3.10 but I am not running PopOS. -- I googled and found this might be helpful for you:  https://stackoverflow.com/questions/69512672/getting-attributeerror-module-collections-has-no-attribute-mutablemapping-w

[2022-07-19 04:56] matteius commented on #5159
@qi55wyqu I was unable to reproduce this issue:

[code]

[2022-07-19 15:20] mgmarino opened #5179 "Failed lock on editable VCS module (with specific git reference)"
### Issue description

We use private modules installed in editable mode [per the docs](https://pipenv.pypa.io/en/latest/basics/#a-note-about-vcs-dependencies) that reference a specific git tag.  An example entry in our `Pipfile`:

[code]

As of pipenv 2022.7.4, this now fails to lock, with an error that looks like:

[code]
If you look closely, you see that the `@release/v318` is included in the c

[2022-07-19 18:15] #3741 closed

[2022-07-20 07:12] dbaxa opened #5180 "pipenv update on linux using python 3.10 leaves files in /tmp/"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

### Issue description

`pipenv update` leaves temp files in /tmp/ which should not persist/remain after python exits.

### Expected result

No temp files related to pipenv remain in /tmp/

### Actual result

pipenv temp files are left in `/tmp`

### Steps to replicate

`pipenv

[2022-07-20 07:16] dbaxa commented on #5180
This issue seems to be related to the use of `vistir.path.create_tracked_tempfile` in `pipenv/environment.py`. It seems that inside `_TrackedTempfileWrapper.cleanup`  `self._finalizer.detach()` returns false and so the file is not deleted (see `pipenv/vendor/vistir/path.py`).

[2022-07-20 16:31] matteius commented on #5179
@mgmarino I haven't had a chance to deep dive any of this yet, but I am sure that it is caused by:  https://github.com/sarugaku/requirementslib/pull/310   CC @jervi

[2022-07-20 18:19] mgmarino commented on #5179
Thanks @matteius I have a fix.  I'll open up an issue over there and push a PR.  I'll leave this one open to track for now.

[2022-07-22 10:49] WLewington commented on #4502
Manually updating to python version 2.7.18 also worked for me, don't brew install.
- https://www.python.org/downloads/release/python-2718/

[2022-07-22 19:19] dijital20 commented on #5130
Could the lock file just be per-platform/version/etc?

`Pipfile` defines my sources and packages.

- When I `pipenv lock` on my Python 3.8 on Windows 64bit, why couldn't it produce a `Pipfile.3.8.windows.x64.lock`.
- If I try to `pipenv sync` on Python 3.10, since there is not `Pipfile.3.10.windows.x64.lock`, the normal behavior would kick in and a new lock would be generated.
- Likewise, if I `pi

[2022-07-22 20:46] matteius commented on #5130
What would the advantage of maintaining multiple lock files per platform and environment @dijital20 ?  I am not a big fan of the idea of having platform specific lock files and then how to know which one to use during sync.

Not for sync -- that would be very very bad because you loose the trust that you are verifying the dependencies you used in dev/test are the same you are deploying to producti

[2022-07-22 20:52] dijital20 commented on #5130
Yeah, platform-specific and Python-version-specific dependencies are the issue to solve here.

I had similar issues though when I moved a project from Python 3.8 to Python 3.10. My Pipfile and lock files both had Python 3.8 in them, and the standard `pipenv sync --dev` failed unless I did `pipenv sync --dev --python C:\python310\python.exe`, and then re-locked. At that point, everyone using Python

[2022-07-22 20:57] matteius commented on #5130
@dijital20 or @xyxz-web -- were either of you by chance using private python repositories isntead of pypi?  I just locked on the latest pipenv `main` on windows and cryptography has a lot more hashes -- like all of them -- than the original example had.

[code]

[2022-07-22 21:10] dijital20 commented on #5130
For `cryptography`, there's a compiled component written in Rust which is packaged along with the Python code. This would be different per-platform, which accounts for the different hashes per platform. This page on PyPI shows the different platform variations of the files:

https://pypi.org/project/cryptography/#files

The lock you posted @matteius looks like it got all of them. What @xyxz-web is

[2022-07-22 21:18] matteius commented on #5130
@dijital20 You are right that locked that on windows, but I just tried on Ubuntu and got the same result:
[code]

I am going to need y'all to provide the output from `pipenv --support` to further debug,

[2022-07-23 00:12] #5179 closed

[2022-07-24 11:35] ccurvey opened #5186 "Pipfile in home directory confuses Pipenv"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-07-24 11:38] matteius commented on #5186
This would essentially happen anytime you try to create a pipenv environment inside a directory that is already made into a pipenv environment.  I am not sure what the desired change would be honestly.  You can run `pipenv --rm` in your home directory to clean up that issue as it currently stands.

[2022-07-24 11:43] matteius commented on #5128
@drewgilliam Is it safe to close this ticket at this point seeing as `conda-feedstock` has been fixed?

[2022-07-24 19:16] venteto commented on #1509
Any updates on whether `python -m venv --prompt [SHORT project name] ...`-style functionality will ever work in `pipenv`?

[2022-07-24 19:49] matteius commented on #1509
I am locking discussion of this old issue.  Track this issue instead:  https://github.com/pypa/pipenv/issues/1226
FWIW There is a PR out that needs follow-up:  https://github.com/pypa/pipenv/pull/4974

[2022-07-24 20:05] matteius commented on #5045
Just wanted to call out that `pipenv-fork` is not the actual documentation, which is hosted at:  https://pipenv.pypa.io/en/latest/

[2022-07-24 20:14] matteius opened #5187 "Convert away from `six` python 2 -> 3 conversion library"
Convert away from `six` python 2 -> 3 conversion library

### Issue description

We no longer support python 2 so including six should no longer be a requirement.

[2022-07-24 20:16] matteius opened #5188 "Vendor in Pip 22.2.x"
On July 21st `pip==22.2` was released.    https://pypi.org/project/pip/22.2/

[2022-07-24 20:16] ccurvey commented on #5186
oh well.  I guess I was hoping for the "Principle of Least Surprise".

[2022-07-24 20:16] #5186 closed

[2022-07-24 20:18] matteius commented on #5186
@ccurvey Well I mean the issue doesn't have to be closed -- if you or someone has an idea for how we can improve the experience then let's do it.

[2022-07-24 20:37] venteto commented on #335
Agree with @trew and @f4z3k4s, and am wondering if there is an update. This is just one of a couple of issues (which seem to have been raised for years now) that prevents me from using `pipenv`.

[2022-07-24 20:46] matteius commented on #335
@venteto I cannot say there are current PRs, but there seems to be a number of tickets around supporting named groups -- I wonder if that would be a better effort than just adding another third category that may not be sufficient for all use cases.   Also named groups broke lock generation last November, meaning if you had an alternate named category in the Pipfile that locking for the supported `

[2022-07-25 00:47] matteius commented on #4348
I believe this is closeable at this point.

[2022-07-25 01:29] matteius commented on #5116
@maximlomans I am currently at this moment working on a PR (unrelated to your comment) that would rely on the vendor'd version of `pip` inside `pipenv` for installs -- currently `pipenv` references outside of itself for pip for installs which causes this issue.  I believe my PR when its available will resolve this going forward, so I re-opened this issue to tag my work against.

[2022-07-25 01:55] matteius commented on #5116
@maximlomans You could check if installing this branch resolves your issue or not: https://github.com/pypa/pipenv/pull/5190
Then I would know if I should tag this issue with the news fragment or not.

[2022-07-25 10:36] pikulmar opened #5191 "Regression: Dependency links not handled correctly by pipenv >2021.5.29"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-07-25 10:39] davep opened #5192 "Cosmetic issue with PIPENV_COLORBLIND deprecation warning"
### Issue description

The deprecation warning about the use of `PIPENV_COLORBLIND` looks like this:

`PIPENV_COLORBLIND is deprecated, use NO_COLOR insteadPer https://no-color.org/`

It would seem that [this text here](https://github.com/pypa/pipenv/blob/46c13edaf430888ede758b052f0a7a42eda23810/pipenv/cli/command.py#L96-L101) just needs a tweak (sorry, I would have done a PR but I'm not in a posi

[2022-07-25 12:10] drewgilliam commented on #5128
@matteius - before you close this issue, is there an answer to my comment above?  It seems unexpected that pipenv will fail for any user/system that happens to have an environment variable `CI` which does not translate to a boolean variable.

[2022-07-25 13:29] matteius commented on #5191
@pikulmar  It is not clear why you would have started getting an adapter issue on `git+https://` but newer versions of pipenv from 2022 have improved security around index restricted packages.  For those you may need to reference:  https://pipenv.pypa.io/en/latest/advanced/#specifying-package-indexes

I can tell the stacktrace is from a much older version of pipenv (at least 2021) and does not hel

[2022-07-25 13:43] pikulmar commented on #5191
@matteius Thanks for your quick response. Yes, the stack trace is from the first release that exhibited the problem. Above I wrote

_The problem occurs only with pipenv >2021.5.29, in particular it does not occur with pipenv==2021.5.29 and it does occur with pipenv==2021.11.9, as well as pipenv==2022.7.24 (most recent release at this time)._

but now, with pipenv==2022.7.24, I cannot reproduce the

[2022-07-25 14:01] pikulmar commented on #5191
* Indeed, if I delete `Pipfile.lock` and run `pipenv update --dev` with `pipenv==2021.5.29`, it works.
* A subsequent run of `pipenv update --dev` with `pipenv==2021.11.9` fails as described above.
* A subsequent run of `pipenv update --dev` with `pipenv==2022.7.24` fails with stack trace

[code]
* After `rm -rf ~/.cache/pipenv/`, `pipenv update --dev` succeeds.

I am a little embarrassed that I o

[2022-07-25 14:01] #5191 closed

[2022-07-25 22:25] ccurvey commented on #5116
I'm definitely getting this error as well.  Let's do this "the hard way"

[code]

so now let's go create a pipenv....

[code]

and yes, the problem is that python is now in '/home/chris/.virtualenvs/cheapo-Q09PIJwv/local/bin/python' (the "local" directory).

I suspect this is actually a problem with virtualenv having decided to change the virtualenv directory structure (If I'm right about this, it

[2022-07-26 09:22] g-vidal commented on #5116
Thanks for the explanation :+1:

[2022-07-26 16:09] marob commented on #4644
@uranusjr How does the doc answers the question? I don't find any way to configure pipenv to get the password from the keyring, only a way to configure the password as env var, which is **not** what @ecs-jnguyen wanted (nor me).

I've tried everything and can't find a way to configure pipenv similarly to pip on this topic.
On pip, I have the following configuration file:
[code]
Then, the password

[2022-07-26 18:49] otherjake commented on #5192
doh, fixing this

[2022-07-26 20:21] melyux opened #5195 "Allow for a minimum python_version"
### Is your feature request related to a problem? Please describe.

I'm always frustrated when I can't choose a minimum version of Python, so my pipenv directories get stuck at the Python version I specified earlier instead of working with later released versions.

### Describe the solution you'd like

Pipenv should allow setting a "≥" for Python versions.

### Describe alternatives you've conside

[2022-07-26 21:16] #5100 closed

[2022-07-27 05:30] matteius opened #5198 "Finish removal of the `install -r` flag for generating `requirements.txt`"
It has been a long while without new bug reports about the `pipenv requirements` command -- I believe it is now time to remove the old `install -r` flag for generating requirements from the code base.

[2022-07-27 22:26] #5192 closed

[2022-07-28 02:26] catroll commented on #5101
[code]

[code]

[2022-07-28 02:27] catroll commented on #5101
[code]

[2022-07-28 02:29] catroll commented on #5101
After set the environment variable, I can create virtual environment successfully.

[2022-07-28 03:11] matteius commented on #5101
@catroll I am curious if you have the same problem (and still need to set the environment variable) if you run from this branch:  https://github.com/pypa/pipenv/pull/5196

If you have the bandwidth to try it, you can checkout that branch and install pipenv with `python -m pip install -e . --upgrade`

[2022-07-28 03:54] dqkqd commented on #5180
I've checked using `assert not os.path.isfile(tmpfile_path)` and saw that temporary file is properly deleted after the call `tmpfile.close()`. So `cleanup` function is working fine.
I think the issue is that `subprocess_run` create a new temporary file using the same filename without deleting it.
https://github.com/pypa/pipenv/blob/2d250f5b65a9fce24c77809a47ff7df48f79d61f/pipenv/environment.py#L38

[2022-07-28 05:28] matteius commented on #5180
That would be great @dbaxa -- I suspect there are other places where sub process is not cleaning up tmp data as well beyond just this .json file.  Here is what my TMP folder looks like after clearing it out just the other day:
![image](https://user-images.githubusercontent.com/479892/181427599-6909463b-9ed1-430a-8e17-212ffe387a26.png)

[2022-07-28 09:58] #5188 closed

[2022-07-28 09:59] oz123 commented on #5187
We will need to sieve through the vendored packages and slowly bump them up to versions that don't support Python2.

[2022-07-28 14:55] matteius commented on #4660
Want to check the behavior of the newly vendored `pip==22.2.1` that is in main against this ticket because I saw something odd working on vistir where re-locking changed the markers from my initial lock (which had problematic markers).  If anyone has energy to see if they can reproduce this issue on `pipenv` main or not, will let me know if I need to track down a Pip issue report I read about once

[2022-07-28 16:38] allanlewis commented on #4045
Presumably this is fixed now that #4046 is merged?

[2022-07-28 16:42] allanlewis opened #5201 "Documentation doesn't list environment variables available for configuration"
### Issue description

The [Configuration With Environment Variables section of the documentation page Advanced Usage of Pipenv](https://pipenv.pypa.io/en/latest/advanced/#configuration-with-environment-variables) doesn't appear to list all the available environment variables

### Expected result

I expect variables such as `PIPENV_SPINNER` to be documented.

### Actual result

Only `PIPENV_HIDE_E

[2022-07-28 17:49] smac89 opened #5202 "ResourceWarning: unclosed `<ssl.SSLSocket...>`"
### Issue description

Installing requirements from requirements file completes, but errors out briefly with a message

Command:
[code]
## Requirements.in
[code]

### Expected result

It worked apart from the warning that was shown

### Actual result

Worked with warnings:

return list(value)
ResourceWarning: Enable tracemalloc to get the object allocation tracebac

### Steps to replicate

Not rea

[2022-07-28 18:53] matteius commented on #5202
I noticed similar warnings in my tests recently.  I am wondering if you can try this with the `main` branch which as of the last night got some major improvements.  I suspect it may still be an issue though, as I didn't specifically change our usages of context processors.

[2022-07-29 01:49] y-ich opened #5205 "Fails to install any packages when python_version <= 3.6"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-07-29 02:09] huang06 opened #5206 "TypeError: Unknown color 'Red'"
### Issue description

After upgrade to the latest version `2022.7.24`, run `pipenv --dev -v` occurs **TypeError: Unknown color 'Red'** error.

- No error occurs when not providing `-v` flag.
- No error occurs after downgrading to previous version `2022.7.4`.

### Steps to replicate

#### My Pipfile

[code]

#### Command

[code]

<details><summary>$ pipenv --support</summary>

Pipenv version: `'20

[2022-07-29 09:37] kaykhan opened #5208 "Invalid version and will not be supported in a future release"
When i run `pipenv shell` i get the following warning/error?

**pipenv shell**
[code]

**python --version**
Python 3.10.4

**OS**
Ubuntu 22.04

[2022-07-29 13:19] matteius commented on #5206
Thanks for reporting this .. will be fixed in the next release.

[2022-07-29 13:54] #5206 closed

[2022-07-30 17:11] dqkqd commented on #5180
Sorry for late response. I created a PR for this.

I don't have such folders as @matteius does. Unless I interrupt `pytest` while it's still running.
I use linux and have a lot of .pem files inside /tmp after running tests, but it should be fixed as described in https://github.com/python/cpython/issues/93353

So I think just make sure .json files are not leaking is enough.

[2022-07-30 18:09] oz123 commented on #5205
The problem is here
[code]

pipenv does not support Python3.6 for quite a while now. Python3.6 is EOL since 12/2021.

[2022-07-30 18:09] #5205 closed

[2022-07-30 18:09] oz123 commented on #5201
Yes, that is true. We currently could use help here.

[2022-07-30 23:45] ITR13 opened #5212 "Pipenv uses arbitrary python installation on windows"
Similar to #4952, but happens on a clean pyenv install and while creating an environment.
I'm using Python 3.10.4 installed with scoop.
This happens both in cmd and in a bash shell.

### Issue description
I installed pipenv using the python installation in my path, but when I run pipenv --support it only manages to find my python 2.7 installation, and an python 3.6.5 installation that came with an

[2022-07-31 02:59] dqkqd opened #5213 "README.md: mismatch with output from `$ pipenv`"
### Issue description
There are differences between output of `$ pipenv` and usage written in [README.md](https://github.com/pypa/pipenv/blob/main/README.md#-usage).
For example Python version (3.9 and 3.7) in Usage Example.

[code]

### Steps to replicate
`$ pipenv`

-------------------------------------------------------------------------------

Please run `$ pipenv --support`, and paste the res

[2022-07-31 03:24] dqkqd opened #5214 "KeyError: 'packages' was thrown in shell complettion"
### Issue description

I enabled shell complation for ZSH. When I press tab after `$ pipenv install`, KeyError: 'packages' was thrown.

[code]

### Expected result

No exceptions thrown.

### Steps to replicate
Enable [shell-completion](https://github.com/pypa/pipenv#shell-completion)
Press tab after `$ pipenv install`.

-----------------------------------------------------------------------------

[2022-07-31 04:52] ITR13 commented on #5212
Update: Managed to have it find the correct installation by using `--python 3.10`.
Still unsure why this isn't the default and why it does not show up in --support

[2022-07-31 12:42] y-ich commented on #5205
@oz123 san,

Thank you for comments. I understand.

I recommend that you guys will check documentations again.
The document (https://pypi.org/project/pipenv/) which you can see on pypi site says
"Pipenv can be installed with Python 3.6 and above."

[2022-07-31 12:56] oz123 commented on #5205
Thank you for the feedback. You are right. The Long description is outdated. However, in general, one should trust the classifiers more then the docs. These are usually more up to dat in most projects .
Never the less we should update the long description
![Screenshot_20220731-145334](https://user-images.githubusercontent.com/1083045/182027462-4d074ca7-ad45-49dc-b7fd-924b86fcfd90.png)

[2022-08-01 07:44] xyxz-web commented on #5130
I also get the long list of hashes when I lock from within WSL - seems to include both Windows and Linux hashes.
However, when I lock from within Windows 10 or a Linux VM, I get a much shorter list.
I'm usinge a private repo here, but it is automatically mirrored from pypi.

[2022-08-01 11:30] porn commented on #4660
Hey @matteius ,

using pip 22.2.1 and pipenv 2022.7.24 keeps altering `python_full_version` and `python_version` randomly:
[code]

[2022-08-01 13:20] matteius commented on #5130
@xyxz-web hash collection of all packages is a specific feature of pypi.   There is no API into private pypi servers for collecting the set of hashes, and I suspect that is where the problem comes in.  For reference, here is the code that collects the hashes:  https://github.com/pypa/pipenv/blob/main/pipenv/utils/resolver.py#L757-L788  Specifically look for where it collects hashes from pypi:  htt

[2022-08-02 10:29] olahsymbo100 commented on #5052
This worked for me!

[2022-08-02 18:28] JtMotoX commented on #3586
I just spend the last 2 days trying to troubleshoot the flood of errors ("An error occurred while installing") I get when performing a bare sync.  I have upgraded to the lastest python, upgraded pip, upgraded pipenv, upgraded all my package versions, generated new Pipfile.lock. After finding this post I realized after running with --verbose that it is eventually able to install them.

So, you're t

[2022-08-02 20:30] gchamon opened #5219 "Issue installing private repo from branch with a forward slash in the name"
### Issue description

Installing from a private repository using a branch with a forward slash in its name cause git clone to fail with status 128 when locking dependencies.

I can replicate the issue from the `git` command output:

[code]

Which outputs:

[code]

The correct command would be to pass the branch to the `--branch` argument when using `git clone` instead of leaving the branch at the

[2022-08-02 22:22] matteius commented on #5219
@gchamon Do you still have this problem when you try with pipenv 2022.7.24?  There was a regression in that release you mention that involved VCS dependencies due to handling of @ symbol, it might be related but would be good to know if the latest patch fixed it.

[2022-08-03 00:08] matteius commented on #5214
@dqkqd I have not been able to reproduce this issue so far on my mac iterm2 which I think is the only thing I have with zsh.

[2022-08-03 02:12] dqkqd commented on #5214
@matteius Have you enabled shell-completion as well?

[2022-08-03 03:14] matteius commented on #5214
Thanks @dqkqd that was what I was missing -- I was able to reproduce this issue with bash shell as well.

[2022-08-03 03:49] dqkqd commented on #5214
@matteius Sorry, my steps to reproduce wasn't clear enough. Edited it.

[2022-08-03 11:35] gchamon commented on #5219
I can confirm that updating to `2022.7.24` solves the issue:

[code]
<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.7.24'`

Pipenv location: `'/usr/lib/python3.10/site-packages/pipenv'`

Python location: `'/usr/bin/python'`

Python installations found:

  - `3.10.5`: `/usr/bin/python3`
  - `3.10.5`: `/usr/bin/python`
  - `3.9.13`: `/usr/bin/python3.9`

PEP 508 Information:

[2022-08-03 11:35] #5219 closed

[2022-08-03 18:20] #5180 closed

[2022-08-04 03:24] truekonrads commented on #4804
I am still experiencing this dependency hell:
* I have used pyenv to install a fresh 3.9.13 python version
* I have upgraded to the latest version of pip
* I have deleted virtualenv

There appears to be no simple way to either (a) install bundled version of pip or (b) have pip find site package "six" rather than look for bundled package.

I am running Ubuntu 20.04.4 LTS and python 3.9.13

[2022-08-04 08:56] #1226 closed

[2022-08-04 09:01] oz123 commented on #1226
This is finally fixed :heart:. Thank you for your feedback and involvment.

[2022-08-04 14:01] kubac65 commented on #4136
Windows file system doesn't support symbolic links, so if you're trying to create a virtual environment in a folder shared from the host machine, it's simply not going to work.

[2022-08-04 14:28] ns-rorsten commented on #4588
could that just be `r"\d[\d.]+"`?

[2022-08-04 14:30] ytoku commented on #4960
**workaround for unix-like system users**
Replace your pipenv command file with following warning filtered version
[code]

[2022-08-05 06:27] hansingt commented on #4588
Hm.. not sure. At least, this forces the version to start with a digit, but what about strings like `1337.` or `5...`? I think, we need some groups to make sure, that a dot is followed by at least one digit.

Maybe something like `r"\d+(?:\.\d+)*"`? This would match strings like `3` and `3.10`, but not `3.` or `3.fuu`.

But as long, as we don't make sure, to only match the last part of the path, t

[2022-08-05 14:24] YDBD opened #5221 "AttributeError: 'Call' object has no attribute 's'"
### Issue description

Impossible to generate the lock file.

### Expected result

Generation of lock file.

### Actual result

[code]

### Steps to replicate

Behind a proxy.

`pipenv lock --dev`

Content of Pipfile :

[code]

-------------------------------------------------------------------------------

Pipenv version: `'2022.7.24'`

Pipenv location: `'/home/user/.local/lib/python3.8/site-pack

[2022-08-05 14:52] matteius commented on #5221
@YDBD What is your local version of pip?  `pip --version`?   Can you install the new pipenv that was just released `2022.8.5` -- I am curious if that works better for you or if you continue having this issue.

[2022-08-05 14:57] matteius commented on #1226
New pipenv release `2022.8.5` has been pushed to pypi which includes this feature request.

[2022-08-05 14:57] matteius commented on #1509
New pipenv release `2022.8.5` has been pushed to pypi which covers this feature request.

[2022-08-05 15:03] matteius commented on #4804
@truekonrads Could you try the new version of pipenv that leans more exclusively on the vendor'd pip and not the user installed version.  It just released, `pipenv==2022.8.5`

[2022-08-05 22:18] matteius commented on #5202
New version of pipenv `2022.8.5` is out -- could this be rechecked against that?

[2022-08-05 22:19] matteius commented on #5173
@BreezySMX Could you recheck this experience with the new version of pipenv `2022.8.5`?

[2022-08-05 22:21] matteius commented on #5116
New version of pipenv `2022.8.5` has been released -- can anyone reproduce this issue on the new version?

[2022-08-05 22:22] matteius commented on #5138
I believe this can be closed, but @oz123 if you could double check.

[2022-08-05 22:43] matteius commented on #5128
@drewgilliam I opened a PR to improve handling of the CI variable:  https://github.com/pypa/pipenv/pull/5222

[2022-08-05 22:55] Louai-Abdelsalam commented on #4626
I was seeing a similar behaviour to what @jnsnow reported (i.e with `--keep-outdated`), and yes I did try with `pipenv==2022.1.8` but it made no difference.

Since there's no fix as of yet, my workaround was simply just deleting from the Pipfile.lock the block(s) of the package(s) that you actually wanna update. Seems when you run `pipenv lock --keep-outdated` again, it regenerates them _with_ the

[2022-08-06 03:27] khteh commented on #5075
It happens again even after I remove `.local/share/virtualenvs/jupyter-notebooks-46_jCq9y`:
[code]

[2022-08-06 03:39] khteh commented on #5075
Why is `pipenv` behaving so strange?
[code]

[2022-08-06 03:43] khteh commented on #5075
/open
/reopen

[2022-08-06 04:51] khteh commented on #5075
`pipenv install --python=/path/to/python` resoves it.

[2022-08-06 06:32] #5198 closed

[2022-08-06 09:31] oz123 commented on #5138
It seems that this issue is now resolved.

[2022-08-06 09:31] #5138 closed

[2022-08-06 11:02] g-vidal commented on #5116
- upgrade pipenv with pip OK
- created new virtualenv with pipenv 2022.8.5 and Using /usr/bin/python3 (3.10.5) Debian 5.18.5-1 OK
`
pipenv install requests
Creating a virtualenv for this project...
Pipfile: /home/vidal/Pipfile
Using /usr/bin/python3 (3.10.5) to create virtualenv...
⠹ Creating virtual environment...created virtual environment CPython3.10.5.final.0-64 in 136ms
  creator CPython3Posi

[2022-08-06 11:24] #5116 closed

[2022-08-06 11:43] matteius commented on #5094
The new version of `pipenv==2022.8.5` should not depend on the system/user installed pip.

[2022-08-06 11:43] #5094 closed

[2022-08-06 12:07] Euraxluo opened #5224 "pipenv.patched.pip._internal.exceptions.InstallationSubprocessError"
Pipfile:

[code]

### infomation:

[code]

[2022-08-06 12:19] Euraxluo commented on #5224
i also use：
`pipenv install -v -e git+https://github.com/jvkersch/pyconcorde#egg=pyconcorde`

but not install success
infomation：

[2022-08-06 12:44] matteius commented on #5224
@Euraxluo It worked fine in ubuntu linux for me, on windows I get an error indicating an issue with the setup.py for Widnows.  I suspect you are having issue building that package with the setup.py somehow.
[code]

[2022-08-06 14:28] #5213 closed

[2022-08-06 14:28] #5128 closed

[2022-08-06 14:38] Euraxluo commented on #5224
i work in devcontainer，image: python:3.9

i can work in pipenv shell，look like good。

not raise
`Locking [packages] dependencies...
Building requirements...
Resolving dependencies...
ERROR:pip.subprocessor:[present-rich] git clone --filter=blob:none https://github.com/jvkersch/pyconcorde /tmp/pipenv-46e050sg-src/pyconcorde exited with 128
Traceback (most recent call last)
`

infomation

root@1ca72

[2022-08-06 14:39] Euraxluo commented on #5224
Maybe this is a problem that runs git in the process

[2022-08-07 00:53] matteius commented on #5214
Fix will be in the next release.

[2022-08-07 00:53] #5214 closed

[2022-08-07 03:54] matteius commented on #5224
@Euraxluo Does your dev container have git installed?

[2022-08-07 08:37] Abdullium commented on #5201
I can definitely fix this issue, assign it to me

[2022-08-07 10:44] bakhtiary commented on #4866
This bug seems to have been fixed in:
https://github.com/pypa/pipenv/releases/tag/v2022.8.5
It is reproducible in all other previous versions, but I could not reproduce it in main or v2022.8.5
We can close this. <3

[2022-08-07 13:49] #4866 closed

[2022-08-07 22:02] bakhtiary commented on #3566
This seems to be another version of:
https://github.com/pypa/pipenv/issues/4866

This was fixed in the previous release. I have tested the original saltstack file that was failing:
https://github.com/saltstack/salt/blob/4cd0680b7f48790cc82a8074695ef8f04b99c74a/Pipfile

It works both with main and with version 2022.8.5. Also tested it with version 2022.5.2 and indeed it does break.

We can close th

[2022-08-08 03:43] smac89 commented on #5202
@matteius well it seems to have no issues installing this time, but I'm not sure if anything was done in particular to address this issue

[2022-08-08 03:43] dqkqd commented on #4371
@matteius My current solution is creating default constraints associated with `packages`, then pass those constraints to resolver and use them when installing `dev-packages`. But it only solves the case when installing from Pipfile, not the case where user provides packages.

[code]

[code]
Should I open a PR just for this case?

[2022-08-08 06:01] Abdullium commented on #5201
so you want me to past the result in
[pipenv](https://github.com/pypa/pipenv)/[docs](https://github.com/pypa/pipenv/tree/main/docs)/advanced.rst

below or above the  PIPENV_HIDE_EMOJIS section.

[2022-08-08 06:19] Abdullium commented on #5201
Guys I have submitted the pull request, everything is crisp and clear all system environment are listed

[2022-08-08 13:36] bakhtiary commented on #5212
This is a hard one! I need more info to address it. could you answer the following questions? maybe I can help.
which python is used by default? To find out try `python --version`
which pipenv is picked up by default? To find out try `where pipenv`
does `python -m pipenv --support` give the same output as `pipenv --support`?

[2022-08-08 15:19] ns-rorsten commented on #4588
well, the goal is to prevent it from treating a path as a python version; it's supposed to use a python of its own if it's a version and the specified python if it's a path, and I think in that latter case people are taking responsibility for ensuring that executable is appropriate. So maybe in this case it would be appropriate to borrow `packaging.version.VERSION_PATTERN` that matches PEP 440 ver

[2022-08-08 21:25] gitpushdashf commented on #4660
Still having this on the latest pipenv which should have the fix, right?

[2022-08-08 22:29] matteius commented on #4660
@gitpushdashf Well technically it was vendoring of pip that fixed it and then we of course continue to vendor in new versions of pip as they are released.   We recently merged in a change that hasn't been released to force the environment to use the vendor'd version of pip in more places but it has not been released yet.  There are two possibilities -- one is that the version of pip you have insta

[2022-08-08 22:39] #5201 closed

[2022-08-08 22:40] matteius commented on #4588
I think we want to be able to support pre release versions too like `3.11.0b4`.  I haven't looked into `packaging.version.VERSION_PATTERN` yet, but we have it available to us already as `from pipenv.patched.pip._vendorpackaging.version import VERSION_PATTERN`

[2022-08-09 03:14] ITR13 commented on #5212
Ran a diff on the output of `pipenv --support` and `python -m pipenv --support`, both are the same.
`python --version` is 3.10.4
`where pipenv` is `C:\Users\ITR\scoop\apps\python\current\Scripts\pipenv.exe`

Despite the support output not having changed, pipenv now correctly creates a 3.10 virtualenv even when I don't use --python 3.10 (I haven't tried reinstalling pipenv again to see if it persis

[2022-08-09 03:21] Winedays opened #5237 "Install pipenv failed in alpine 3.13 with 'distlib' package dependency error"
### Issue description

I have a project is using python 3.8 and run at alpine 3.13 by docker.
On each release it builds a new docker image and packages like python, pip, pipenv etc will be installed during docker build.

This flow was working fine before, but these days, the docker build fails due to an error when installing pipenv.
It looks like the "distlib" package used by pipenv has been upgra

[2022-08-09 05:54] hansingt commented on #4588
That sounds reasonable to me.

Look quite complicated (maybe too complicated for our case?) to me: https://github.com/pypa/packaging/blob/main/packaging/version.py#L113

But yes, it does support pre- and post-releases as well as epochs. So, everything PEP 440 specifies as a "valid version". I'm not sure, what might occurr in a python interpreter version, but it does not hurt to support them.

[2022-08-09 15:06] gitpushdashf commented on #4660
Interesting! I get the inconsistency between runs, however, on the same system. Could that happen from mismatched pip versions, locally?

[2022-08-10 01:34] jfly opened #5239 "`pipenv lock` nondeterminism with environment markers (again)"
I reported this bug about pipenv behaving non-deterministically a while ago: https://github.com/pypa/pipenv/issues/4967. [@matteius](https://github.com/pypa/pipenv/issues/4967#issuecomment-1104663451) and [I](https://github.com/pypa/pipenv/issues/4967#issuecomment-1112793695) both thought that it was fixed by upgrading to a vendored pip 22.x, but I just checked, and it looks like the problem is ba

[2022-08-10 01:35] jfly commented on #4967
For the record, this bug seems to be occurring again. In fact, I think it never actually was fixed =( Since I don't have the power to re-open issues, I've filed https://github.com/pypa/pipenv/issues/5239

[2022-08-10 02:34] matteius commented on #5239
Definitely still an issue -- I tired a few things tonight without avail.  I wish this code were not so complicated.

[2022-08-10 10:51] justasojourner commented on #4577
Hi @matteius, are you still interested in this additional documentation? I'm looking to upgrade a project from Python 3.9 to 3.10 (to get structural pattern matching) so I was looking for the optimum/correct/developer specified way to do this, and I saw that the documentation is not there still.

Also, just as an observation, I downloaded the repo to have a look at the existing documentation — the

[2022-08-11 06:06] matteius commented on #5237
@Winedays I tried it out and it seems the issue is with `py3-pip` -- I replaced that part of the Dockerfile with the get-pip script and it worked:
[code]

[2022-08-11 06:13] matteius commented on #5208
@kaykhan This issue has been reported from time to time, but unfortunately it is really challenging to figure out where pipenv could be invoking this from.   Could you try the main branch of pipenv  `pip install git+https://github.com/pypa/pipenv.git@main` and see if the error is still present?

[2022-08-11 06:14] matteius commented on #5177
@DWAA1660 Is this still an issue for you?   If so can you provide a Dockerfile that replicate the problem?

[2022-08-11 07:36] ThomasSteinbach opened #5240 "pipenv should inform about Python version mismatch"
If a dependency requires a newer Python version than configured in the current Pipfile, then pipenv fails to install the depencencys - which is totally fine - but didn't give a reason why the installation failed. Here an example of the pipenv output:

[code]

It would be really nice if pipenv would detect, that the Python version of the current project is too low for the dependencies and print out

[2022-08-11 08:58] francescoluciano commented on #5177
Still an issue for me, OS: Ubuntu 22.04 LTS. Same steps to reproduce.
python 3.10.4
pip 22.2.2 from /usr/lib/python3.10/site-packages/pip (python 3.10)

[2022-08-11 12:02] matteius commented on #5177
Those are not valid reproduction steps.  Please provide a Dockerfile that utilizes the OS you are referring to.

[2022-08-11 18:36] jadlers commented on #5177
@matteius I'm having the same issue, or at least very similar. The `pipenv` command cannot run as it throws `ImportError: cannot import name 'Mapping' from 'collections'`.

Made a `Dockerfile` to reproduce:

[code]

[2022-08-11 18:44] matteius commented on #5177
@jadlers The apt repository for `pipenv` is very old -- you're best off installing it from pypi or the git repository.  We have a get-pipenv.py script but its outdated at this point and needs an update.

[2022-08-12 06:24] Euraxluo commented on #5224
yes，pipenv shell Run in the same development container

[2022-08-12 13:37] matteius commented on #5208
Downgrading setuptools really should not be the answer.  It's just a warning, you can ignore it for now until it can be figured out.

[2022-08-12 15:23] kaykhan commented on #5208
Okay thank you, i will check back a later date and if theres anyting else i can do/try to help  let me know!

[2022-08-12 19:05] leirons commented on #4430
I have more than 120 packages and it took about 1 hour, i thought the problem in me, but i was wrong, it's awfull use it in this state

[2022-08-12 19:08] matteius commented on #4430
@leirons Are you locking against pypi or a private package server?

[2022-08-12 19:25] matteius commented on #4430
@em1208 I just tried your example from within my Ubuntu VirtualBox VM (which is slower than my native machine) and it took 4.5 minutes.   `pipenv, version 2022.8.5`

[code]

[2022-08-12 19:27] matteius commented on #4430
I am locking this discussion of this old and closed issue, and I am once again asking that if you are having a new issue that you don't respond to an old closed issue report with minimal details -- please open a new issue report and follow the template.

It is highly likely that your comment could be missed responding to an old issue as well, because we actively prioritize and tag new issues as th

[2022-08-12 19:30] matteius commented on #4977
I wonder if this outstanding PR will essentially fix this issue:  https://github.com/pypa/pipenv/pull/5234

[2022-08-12 19:36] matteius commented on #5240
@ThomasSteinbach This is probably a non-trivial enhancement request -- we are essentially relying on the `pip` resolver to resolve packages that match the markers from the Pipfile -- in this case resolution was impossible.  It would be hard to know the reason resolution was not possible is because of a general version mismatch vs a new version does exist but isn't compatible with your python marke

[2022-08-13 09:17] #4371 closed

[2022-08-13 12:56] matteius commented on #4371
New version of `pipenv==2022.8.13` has been released with the fix produced by @dqkqd !

[2022-08-13 13:09] matteius commented on #4977
Can you try new version of `pipenv==2022.8.13`?

[2022-08-13 15:26] NFSpeedy opened #5246 "--no-site-packages argument is in help but not recognized"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-08-13 15:29] #5246 closed

[2022-08-13 15:43] matteius commented on #5246
@NFSpeedy Did you mean to close this?

[2022-08-13 15:45] NFSpeedy commented on #5246
@matteius Yes, I figured it out. All arguments are accepted after the main command except some that have to be given before the command.
As in my case:
pipenv --no-site-packages sync --dev -v
It confused me, because -v, for example, is a global arg, and --no-site-packages should be the same in my mind.

[2022-08-13 16:16] ZacharyThomas opened #5247 "Pipenv 2022.8.13 breaks libraries that require packaging"
### Issue description

It appears that libraries that explicitly require packaging cannot work on the latest version of pipenv.

Consider a simple project:

main.py
[code]

pipfile
[code]

dockerfile

[code]

### Expected result

This should run successfully - on pipenv 2022.8.5 it does, but on 2022.8.13 it does not

### Actual result

[code]

### Steps to replicate

Provide the steps to replicate

[2022-08-13 16:20] sdepablos commented on #5247
Happening to me too with the dbt package, which also has a dependency to `packaging`.

[2022-08-13 17:06] matteius commented on #5247
Likely caused by this PR:  https://github.com/pypa/pipenv/pull/5231/files

[2022-08-13 18:52] #4348 closed

[2022-08-13 19:19] #5247 closed

[2022-08-13 19:39] matteius commented on #5247
I'll cut a new release tomorrow -- apologies for the breakage!

[2022-08-14 03:04] #5169 closed

[2022-08-14 07:48] cclauss opened #5252 "pipenv's tests fail on Python 3.11 release candidate"
See the Python 3.11 [test results](https://github.com/pypa/pipenv/pull/5245/checks) on pull request #5245 where **Ubuntu** and **Windows** fail 2 tests and **macOS** fails 4 tests.
* https://www.python.org/download/pre-releases

Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipen

[2022-08-14 10:40] megamayoy opened #5253 "pipenv lock -r no longer works"
### Issue description
I installed Pipenv **2022.8.14**

we run ```pipenv lock -r > requirements.txt``` to generate output of the lockfile as per the documentation.

### Expected result

We expect the creation of requirements.txt file with dependencies information.

### Actual result
```Error: No such option: -r```

[2022-08-14 10:55] jadlers commented on #5177
@matteius I understand, I choose `apt` since it's shown on the [list of installation options](https://github.com/pypa/pipenv#installation).

[2022-08-14 11:22] megamayoy commented on #5253
I see that it's replaced by ```pipenv requirements > requirements.txt``` but in this [section](https://pipenv.pypa.io/en/latest/basics/#pipfile-lock-security-features) of the documentation, it says it's working . I think it should be removed from the documentation.

[2022-08-14 15:13] Dhruvacube commented on #4307
any updates?

[2022-08-14 15:24] OOPMan opened #5254 "pipenv 2022.8.5.13 introduced an issue with platformdirs"
### Issue description

We have a job in our CI pipeline to uses `pipenv` to set up an environment with `black` and then run said tool. Our CI job for this in Gitlab-CI is extremely simple:

[code]

Unfortunately it seems like the release of pipenv 2022.8.5.13 introduced some issue with the `platformdirs` package.

The following is a log of a CI successful run of our job from August 12th 2022:
[cod

[2022-08-14 15:49] matteius commented on #5254
This is an interesting one @OOPMan -- I was able to reproduce it, but when I passed the verbose argument, I saw in the output that `platformdirs` was already installed to my site-packages, and so it was ignoring installing it.
[code]

The only way I was able to get it to work was by first uninstalling `platformdirs` using `pip`:

[code]

I am not sure why it would be preferring what is in site-pac

[2022-08-14 16:03] matteius commented on #5254
@OOPMan I think I have a fix that worked locally.  Are you able to try your case using this branch:  https://github.com/pypa/pipenv/pull/5255

[2022-08-14 16:26] OOPMan commented on #5254
@matteius I will probably only be able to take a look at it tomorrow on my side, but will give it a go

[2022-08-14 19:04] ajvogel commented on #5254
I'm experiencing the same issue on Ubuntu 22.04. It doesn't seem limited to platformdirs. I also notices it affects certifi etc.

[2022-08-14 19:33] lender-hunters commented on #5254
We are experiencing the exact same issue with a different package. we have also retraced to the same root cause and came up with the mentioned mitigations described by all of the above

[2022-08-14 19:42] matteius commented on #5254
@ajvogel  @lender-hunters Please try the proposed fix branch and provide feedback on if it resolves the issue.

[2022-08-14 19:55] lender-hunters commented on #5254
@matteius it did not solve it for me unfortunately. haven't mentioned it yet but I actually use
`pipenv install --deploy`

[2022-08-14 21:09] matteius commented on #5254
@lender-hunters Are you sure you tried the branch, and if so how did you install it?  When you run `pipenv --version` what do you see?  I am unable to reproduce this with my changes in the branch so far.

[2022-08-14 21:48] Skiktlle opened #5256 "Packages not installed on virtual env if existant on local env"
### Issue description

Tried to run some code to get me a list of github repos. For that I need all packages that PyGithub downloads.
If, for example, I have certifi package already on my original python site-packages directory and I run pipenv install for PyGithub, the certifi package won't be installed on the newly created virtual env.

### Expected result

I expected that the packages already i

[2022-08-14 22:07] matteius commented on #5254
I pushed a new commit to that branch to address the failing test.

[2022-08-14 22:08] matteius commented on #5256
@Skiktlle I believe this is essentially the same issue as https://github.com/pypa/pipenv/issues/5254
but you have generalized it nicely.

Can you check my branch that tries to fix this issue, if it resolves the issue for you?  This is the branch:  https://github.com/pypa/pipenv/pull/5255

[2022-08-15 01:25] chruss2 commented on #5254
The branch doesn't work for me either.

I want to point out that it appears to be finding the correct python (the python inside the venv) but the pip command is different.

Version 2022.8.14 (with or without your patch):
```/Users/cheath/.local/share/virtualenvs/myproject-y3fxrpXI/bin/python /Users/cheath/.local/lib/python3.9/site-packages/pipenv/patched/pip/__pip-runner__.py install --verbose --u

[2022-08-15 01:32] matteius commented on #5254
@chrahunt The change to use the vendor'd pip was intentional -- I would think that since the python being invoked is from the virtualenv that it would prefer to install the dependencies to the virtualenv.   For my testing I found the branch to resolve the issue, as I have certifi installed in my site-packages as well as platformdirs, and pipenv created my virtualenv with the requested dependencies

[2022-08-15 01:49] matteius commented on #5254
@chruss2 I just pushed a change to that branch to `--ignore-installed` on the pip install command -- I am wondering if this helps resolve the issue or if there is still a problem where sometimes it is trying to install to a location outside the virtualenv?

[2022-08-15 02:05] matteius commented on #5254
Ok if I install pipenv from pip then I can reproduce the issue: `pip install pipenv`
However if I checkout the main branch and install `pipenv` then I am unable to reproduce the issue:  `python -m pip install -e . --upgrade`

So beyond noting the difference in behavior is really weird, my question now is for those who have tried my branch, how did you install it?   I'd like to try installing it th

[2022-08-15 02:20] matteius commented on #5254
Ok I found I could reproduce it with `main` by installing via: `pip install git+https://github.com/pypa/pipenv.git@main`
Then I removed pipenv and installed again with the branch `pip install git+https://github.com/pypa/pipenv.git@issue-5254`
and it appears that `--ignore-installed` resolves the issue, and doesn't require repeat installation upon subsequent runs of `pipenv sync`.

Checking my prio

[2022-08-15 02:54] chruss2 commented on #5254
Yes, the latest commit works now.  👍

BTW, I was curious why this was happening, so I looked into how pip is vendored.  The vendoring is adding line 29 to __main__.py:
```sys.path.insert(0, os.path.dirname(os.path.dirname(os.path.dirname(os.path.dirname(__file__)))))```

This line is needed in order to import pipenv.patched.pip._internal.cli.main, but also affects how packages are installed.
That

[2022-08-15 03:11] Winedays commented on #5237
@matteius It works for install pip using the get-pip script.
So this is a problem with the alpine package manager, thanks for the commented.

[2022-08-15 03:11] #5237 closed

[2022-08-15 03:19] matteius commented on #5254
@chruss2 This is really interesting what you point out, I have wondered about that post pip import patch before and tried removing it without success.   I do wonder if its necessary that it insert the path to be first, but probably that is safer to ensure that pipenv imported is the one that is being invoked.   The tests do pass however if I modify the line to append (instead of insert to front) t

[2022-08-15 03:24] huang06 opened #5259 "pip check shows missing package error"
### Issue description

With `pipenv==2022.8.14`, `pip check` shows missing package error:

[code]

In the precious version of pipenv (`==2022.8.5`), `pip check` shows the expected result:

[code]

### Steps to replicate

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.8.14'`

Pipenv location: `'/usr/local/lib/python3.10/site-packages/pipenv'`

setuptools version: `'63.2.0'`

[2022-08-15 03:28] matteius commented on #5259
I believe this is related to #5254 and #5256 ... I have a PR out that fixes those issues, could you check if it resolves what you are seeing:  `pip install git+https://github.com/pypa/pipenv.git@issue-5254`  This is the PR:  https://github.com/pypa/pipenv/pull/5255

[2022-08-15 03:41] huang06 commented on #5259
@matteius

The issue-5254 branch can resolve the `pip check` problem!

[2022-08-15 03:43] #5253 closed

[2022-08-15 03:44] #5254 closed

[2022-08-15 04:04] matteius commented on #5259
Thanks for checking @huang06 `pipenv==2022.8.15` has been released.

[2022-08-15 04:04] #5259 closed

[2022-08-15 04:05] matteius commented on #5256
`pipenv==2022.8.15` has been released.

[2022-08-15 04:05] #5256 closed

[2022-08-15 04:05] matteius commented on #5254
`pipenv==2022.8.15` has been released.

[2022-08-15 04:08] matteius commented on #5224
@Euraxluo do you have a Dockerfile that shows the issue happening with `image: python:3.9`?  Also, `pipenv=2022.8.15` was just released, you might check again.

[2022-08-15 12:29] matteius commented on #5212
That's a funny xkcd coming @ITR13 :-D

There is a new version of `pipenv=2022.8.15` -- it doesn't specifically change anything with regards to creating the virtualenv though, in fact as far as I can tell nothing recently has addressed that specific code.  I suspect that in the code path `core.ensure_python` that you are not relying on pyenv to install the version of Python, so its falling back to

[2022-08-15 12:50] rlleshi commented on #4961
The latest version `2022.8.15` also doesn't work.

[code]

[2022-08-15 13:02] matteius commented on #4961
@rlleshi What does your Pipfile look like?

[2022-08-15 13:24] matteius commented on #4961
@rlleshi This is because your default index is pypi, so you need to specify the package index for `torch==1.10.1+cpu`   For example, this package is available up to Python 3.9 -- so I specified python 3.9 and then installed via:
`pipenv install torch==1.10.1+cpu --index https://download.pytorch.org/whl/`

Now my Pipfile looks like:
[code]

[code]

This is the Pipfile.lock:
[code]

latest `pipenv,

[2022-08-15 13:34] matteius commented on #4626
Sorry I haven't gotten back around to this yet, but this is really useful feedback.  I am not sure that dropping those flags is going to make everyone happy, but I do know that the implementations of them are flawed, and its essentially pretty challenging to support such a feature.  I personally think correct usage should be to set the specifiers in `Pipfile` in a way that respects what packages y

[2022-08-15 14:06] rlleshi commented on #4961
aha, in the latest versions of pipenv the `--extra-index-url` flag has been renamed to `--index`.

I used `pipenv install "torch==1.10.1+cpu" --extra-index-url https://download.pytorch.org/whl/`

[2022-08-15 14:11] matteius commented on #4961
@rlleshi We removed support of the `--extra-index-url` because it implied the ability to search for packages across more than one index, which was suspectable to package confusion attacks.  In order to solve for that, pipenv became more restrictive, such that the behavior is now to search only the default index for the packages that do not explicitly specify an alternative index.    You can read m

[2022-08-16 01:23] ZhongQiyu commented on #3831
I think there is a part where you can get around with the option of `brew link --overwrite python@3.x`, and would there be any risk of doing so?

[2022-08-16 02:10] dariocc commented on #5173
I was getting this error on `2021.5.29` (strangely enough, only for one project). Deleting virtualenvs directory, lock file or using `pipenv rm` would not make any difference.

But updating to 2022.8.15 solved the issue for me.

[2022-08-16 02:31] matteius commented on #5173
I am going to close this issue out, but we can re-open if you find its in fact still an issue on `2022.8.15`.

[2022-08-16 02:32] #5173 closed

[2022-08-16 08:32] jfly opened #5261 ""The Python interpreter can't be found" error when running `pipenv install --system` with a python3 but no python"
### Issue description

I get a "The Python interpreter can't be found" error when running `pipenv install --system` with a python3 but no python.

Demo:

[code]

I'm confident this bug was introduced in https://github.com/pypa/pipenv/commit/f276360dfcef3200908e2c6569567d617919c63d, which removed a usage of `first()`, but broke the "filter None values" behavior that `first()` gave us.

[2022-08-16 09:22] Euraxluo commented on #5224
ok
i will try

[2022-08-16 09:27] kaykhan opened #5263 "pipenv shell fails to start in version 3.8.13"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-08-16 09:42] #5263 closed

[2022-08-16 15:04] schuberttobias commented on #5261
Thanks for your report.

I am also running into this problem with python3.8 and pipenv==2022.8.15 .

[2022-08-16 15:55] wuxxin opened #5264 "How can i pin some (or all) packages from --site-packages to not beeing overwritten in user env"
use case:

+ install a specific hardware version of a python package from source, eg.
   + https://aur.archlinux.org/packages/python-jax-rocm
   + this package has wheels for hardware support of amd rocm gpus.

+ make a new environment with pipenv, and parse requirements from other sources into it
+ other sources may depend on a different version of jax, but may work on the system compiled

questi

[2022-08-16 19:33] #5261 closed

[2022-08-16 20:46] b3nder2016 opened #5265 "--ignore-installed should not be used by default ( at least when --site-packages is used )"
### Issue description

--ignore-installed is used by default in the release 2022.8.15

### Expected result
--ignore-installed should not be used by default. At least it should not be used together with the flag --site-packages

I tried to use PIP_IGNORE_INSTALLED=0, but it didn't help

here is the log snippet:

[code]

[2022-08-16 20:54] matteius commented on #5265
Can you explain the problem you have with `--ignore-installed`?  It was applied to fix the case where vendor'd pip was skipping package installations for things that are in the site-packages.   I don't see where `--site-packages` is being used in your example.   Even when `--ignore-installed` is supplied, pipenv doesn't reinstall packages that it has already installed.  Basically I need more conte

[2022-08-16 21:02] b3nder2016 commented on #5265
I use the following line to install packages from the Pipfile.lock: `pipenv install --site-packages --ignore-pipfile --verbose`
I want to reuse the python packages installed in the system. For example, I want to reuse GDAL library installed on the system in my venv. Basically, when I try to install the dependencies using the command above pipenv ignores GDAL from the system and is trying to recomp

[2022-08-16 21:38] mungojam opened #5266 "`pipenv requirements` mode considers pipfile.lock but docs reference Pipfile"
Apologies if I've missed an existing feature request, I had a search through and couldn't find one.

### Is your feature request related to a problem? Please describe.

The [serverless-wsgi](https://www.serverless.com/plugins/serverless-wsgi) plugin generates a requirements.txt from pipfile, before installing those requirements. There are other tools that also rely on requirements.txt. But one lim

[2022-08-16 22:03] matteius commented on #5265
Thanks for the context @b3nder2016  -- I revisited the original issue of why `--ignore-installed` got added as a workaround, and I think I just solved for it in a new PR but I need to rewrite the patch file and add a news fragment, etc yet.

[2022-08-16 22:13] matteius commented on #5266
@mungojam My understanding is `pipenv requirements` was built to only consider the existing `Pipfile.lock` whereas the old `install -r` regenerated the lock file.

[2022-08-16 22:24] mungojam commented on #5266
The readme only mentions pipfile when in the example so perhaps that is what needs some tweaking

[2022-08-16 22:26] matteius commented on #5266
@mungojam That could be, I just checked the implementation and in fact, the original feature requests and author wanted the requirements command to be generated from the lock file, and it simplified the implementation of the install and lock commands (still very complicated).

[2022-08-17 04:03] edzy16 commented on #2538
I am experiencing this issue now while using pipenv in WSL can someone help
Traceback (most recent call last):
  File "/usr/local/bin/pipenv", line 8, in <module>
    sys.exit(cli())
  File "/home/edzy/.local/lib/python3.10/site-packages/pipenv/vendor/click/core.py", line 1128, in __call__
    return self.main(*args, **kwargs)
  File "/home/edzy/.local/lib/python3.10/site-packages/pipenv/cli/optio

[2022-08-17 04:05] edzy16 commented on #2538
I am experiencing this issue now while using pipenv in WSL can someone help

pipenv install django
/usr/local/lib/python3.10/dist-packages/pkg_resources/__init__.py:123: PkgResourcesDeprecationWarning: 0.1.43ubuntu1 is an invalid version and will not be supported in a future release
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/pkg_resources/__init__.py:123: PkgResourcesDeprecationWarni

[2022-08-17 04:50] #5264 closed

[2022-08-17 04:50] #5265 closed

[2022-08-17 05:17] matteius commented on #2538
Will be cutting a new pipenv release later today @edzy16 that should fix what you are seeing.   You can try `2022.8.5` in the mean time.

[2022-08-17 06:28] matteius commented on #5265
pipenv `2022.8.17` is released

[2022-08-17 06:29] matteius commented on #5264
pipenv `2022.8.17` is released

[2022-08-17 06:53] matteius commented on #4905
We are working with pyup.io on getting the new safety 2.0 check command vendor'd into pip.  I think we should revisit if this is still an issue after this time.

[2022-08-17 06:58] matteius commented on #5074
`pipenv==2022.8.17` is released ... really curious if we can close down this issue yet.

[2022-08-17 07:01] matteius commented on #4984
I believe the latest version of `pipenv=2022.8.17` would not have this issue as it uses its own vendor'd pip.  I would be curious to find out for sure but I don't have a full raspberry Pi.  If you find it is still an issue on the new version I would be happy to re-open.

[2022-08-17 07:01] #4984 closed

[2022-08-17 07:04] matteius commented on #4991
I think this can be closed.  The last maintainer had dropped the `--completion` flag and we don't intend to add it back.  We also recently fixed a different bug around completion being broken.

[2022-08-17 07:07] matteius commented on #4634
@vaughnkoch I don't believe we want to block pip usage -- for myself, I often want to pip install something for use in my own virtualenv in the project space but not check that in to the project in the Pipfile and Pipfile.lock  and I believe other users do similar.

I believe it is better to just take more time reviewing the command being entered.

[2022-08-17 07:07] #4634 closed

[2022-08-17 07:09] matteius commented on #4373
Stale issue -- it is definitely possible to install a wheel from a private pypi on recent pipenv versions.

[2022-08-17 07:09] #4373 closed

[2022-08-17 07:10] matteius commented on #4364
@ivankeller I believe this is resolved in the latest pipenv `2022.8.15` due to work that @dqkqd did on constraint files when installing dev dependencies.

[2022-08-17 07:12] matteius commented on #4362
I don't believe there is a way to get the metadata without building the package.   That code has changed a bit since your issue report, but it appears to still build.  Can you confirm if this is still an issue for you @jobevers ?

[2022-08-17 07:14] matteius commented on #4398
The new command for handling requirements is `pipenv requirements` and `pipenv lock -r` and `install -r` have been dropped.   Please revisit this issue, I am willing to reopen it but I think the new `requirements` command does what you want.

[2022-08-17 07:15] matteius commented on #4355
Please recheck with `pipenv=2022.8.17`

[2022-08-17 07:17] #4350 closed

[2022-08-17 07:17] matteius commented on #4350
Please try `pipenv=2022.8.17`

[2022-08-17 07:18] matteius commented on #4314
Please try pipenv=2022.8.17

[2022-08-17 07:19] matteius commented on #4349
Thanks for your contribution!  This should be solved on `pipenv=2022.8.17` ... let us know if it is not.

[2022-08-17 07:19] #4349 closed

[2022-08-17 07:20] matteius commented on #4340
https://github.com/pypa/pipenv/discussions/5158

[2022-08-17 07:24] matteius commented on #4332
We added an environment variable recently to specify `PIPENV_CUSTOM_VENV_NAME` as well -- the rationale is users can have their own `.env` file per project easily enough.   I am inclined to close this as there are a lot of arguments already and we are trying to cleanup and simplify the interfaces.   If you feel strongly we can revisit but I am also trying to cleanup the backlog of old issues.

[2022-08-17 07:24] #4332 closed

[2022-08-17 07:25] matteius commented on #4352
I think you are right @ahmadalli  -- I am closing this one out.  Let us know if you are still having difficulties.

[2022-08-17 07:25] #4352 closed

[2022-08-17 07:26] matteius commented on #4347
@thehesiod please revisit with `pipenv=2022.8.15` as I believe this issue has been solved for.

[2022-08-17 07:29] #2816 closed

[2022-08-17 07:30] #2798 closed

[2022-08-17 07:30] matteius commented on #2148
Can this be closed?

[2022-08-17 07:31] matteius commented on #2493
A lot has changed since this issue report was opened.  Please open a new report if there is a modern issue to address.

[2022-08-17 07:31] #2493 closed

[2022-08-17 07:32] #2660 closed

[2022-08-17 07:33] matteius commented on #2316
We also recently added the ability to specify `PIPENV_CUSTOM_VENV_NAME` in the environment, preferably in the `.env` file.

[2022-08-17 07:33] #2316 closed

[2022-08-17 07:33] matteius commented on #2753
@stav please open a new report against the latest pipenv `2022.8.17` if you are still having issues.

[2022-08-17 07:33] #2753 closed

[2022-08-17 07:34] matteius commented on #3107
This is accomplished by the new `pipenv requirements` command.

[2022-08-17 07:34] #3107 closed

[2022-08-17 07:34] #3126 closed

[2022-08-17 07:36] matteius commented on #3042
This has been fixed.

[2022-08-17 07:36] #3042 closed

[2022-08-17 07:37] matteius commented on #2890
This should be resolved on the recent versions of pipenv.

[2022-08-17 07:37] #2890 closed

[2022-08-17 07:38] matteius commented on #4135
There is plenty of verbose output these days.  I am closing this out as completed.

[2022-08-17 07:38] #4135 closed

[2022-08-17 09:07] Berbe opened #5269 "Lock file cannot be applied > v2022.08.05"
### Issue description
A `Pipfile.lock` lock file used to guarantee a deterministic environment started to fail with version `2022.08.13` of ``pipenv``.
It works as expected with `2022.08.05`.

### Expected result
Lock file to work as expected, like it did < v`2022.08.13`

### Actual result
Messages like what follows appear:
[code]

### Steps to replicate
1. `pipenv sync` based on `Pipfile.lock`

[2022-08-17 09:36] mtreffert-bhs opened #5270 "pipenv requirements should support the usage of pypi-mirror"
_pipenv requirements_, that replaced _pipenv lock --requirements..._ does not support the usage of pypi-mirrors anymore

### Problem

I need to install packages from a different index than pypi.org

### Desired Solution

 A pypi mirror can be used with the pipenv requirements command as with other commands by supporting the --pypi-mirror flag and/or the environment variable PIPENV_PYPI_MIRROR

[2022-08-17 12:00] matteius commented on #5269
Works fine for me, please provide a reproduction example.

[2022-08-17 12:26] #2859 closed

[2022-08-17 12:49] dlo commented on #4991
Reducing the number of flags is a very admirable goal, but unless a completion script has been sourced by bash, I'm curious how this is supposed to work by default.

(note, also came here since my shell suddenly started shooting out this error—think a deprecation plan should have been considered in this case)

<img width="540" alt="Screenshot 2022-08-17 at 07 48 40@2x" src="https://user-images.git

[2022-08-17 13:25] matteius commented on #4991
@dlo - The flag as removed before I started working on the project; we have no plans to add it back in to add a deprecation warning and then removing it again.

Either export

[2022-08-17 13:31] matteius commented on #5270
@mtreffert-bhs Could you provide an example of what the desired output looks like with a sample `Pipfile.lock`?

[2022-08-17 13:38] matteius commented on #4080
I don't believe this is still an issue.

[2022-08-17 13:38] #4080 closed

[2022-08-17 13:39] #4327 closed

[2022-08-17 13:41] matteius commented on #4108
Could you recheck with `pipenv=2022.8.17`?

[2022-08-17 13:41] apamildner commented on #5269
Also having this issue. Locked pipenv version to version `2022.08.05` and it worked again. Unable to reproduce a simple example as well, but our build started working again with the only difference was to lock the version of `pipenv`. Running python `3.9` on an `ubuntu 18.04`.

[2022-08-17 13:42] matteius commented on #4092
There seems to be multiple reports of this around the same time, this is not known to be an issue anymore.

[2022-08-17 13:42] #4092 closed

[2022-08-17 13:43] matteius commented on #4079
@cedricvanrompay Could you try out `pipenv=2022.8.17` and report if there are still difficulties?

[2022-08-17 13:49] matteius commented on #1884
pipenv relies on its vendor'd pip now - it no longer calls it out as an install time requirement, though virtualenv installs pip anyway into the virtualenv which seems fine as users can invoke pip to install/remove a package with intend to bypass Pipfile/Pipfile.lock.   I am not sure that there is a TODO here anymore.

[2022-08-17 13:49] #1884 closed

[2022-08-17 13:50] matteius commented on #4323
I believe this was resolved, can you check with `pipenv=2022.8.17`?

[2022-08-17 13:50] matteius commented on #4784
I believe this was resolved, can you check with `pipenv=2022.8.17`?

[2022-08-17 13:54] matteius commented on #5269
Have you tried the new version that was released today `pipenv==2022.8.17`?

One difference is we rely on the vendor'd pip for installations now whereas in `2022.08.05` it invoked the system installed pip.  That shouldn't change the hashes involved though -- are you using a private pypi server at all in your project?

[2022-08-17 14:19] matteius commented on #5269
@apamildner That syntax error on `pip/__pip-runner__.py` -- doesn't make much sense, that is unmodified pip code.  What is your system `pip --version`?  Pipenv is using `pip=22.2.2`

[2022-08-17 15:06] duailibe commented on #4784
Just tested with https://github.com/duailibe/pipenv-local-deps-repro and still gives the same error

<details>
<summary>Error</summary>

[code]
</details>

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.8.17'`

Pipenv location: `'/Users/lucas/.local/pipx/venvs/pipenv/lib/python3.10/site-packages/pipenv'`

setuptools version: `'65.0.2'`

Python location: `'/Users/lucas/.loca

[2022-08-17 15:13] chrisroat commented on #4323
I tried the reproducer given in the initial comment; it still fails, albeit with a different error.

<details>

<summary>
output
</summary>

[code]

</details>

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.8.17'`

Pipenv location: `'/home/croat/.local/lib/python3.8/site-packages/pipenv'`

setuptools version: `'45.2.0'`

Python location: `'/usr/bin/python3'`

OS Name: `'po

[2022-08-17 18:08] tucked commented on #4588
How about something like this?
[code]

[2022-08-17 18:52] oz123 commented on #5252
The Mac OS X test fail recently on all versions.
As to Python3.11:
The real issue is here:

[code]
This might be solved by updating the pideptree version we use.

[2022-08-17 18:56] oz123 commented on #5252
There is already a WIP to fix it:

https://github.com/naiquevin/pipdeptree/pull/169

[2022-08-17 18:58] thehesiod commented on #4347
works!  ty!

[2022-08-17 18:58] #4347 closed

[2022-08-17 19:49] matteius commented on #4435
I believe this may be resolved by work @dqkqd did recently on constraint files -- could you recheck with `pipenv=2022.8.17`?

[2022-08-17 19:51] #4366 closed

[2022-08-18 01:04] matteius commented on #4323
@chrisroat I wonder if recent work on constraint files is affecting it on this version, would you be able to check if it worked with `2022.8.5`?

[2022-08-18 01:11] matteius commented on #4323
Actually sorry, I just tried it and it still wasn't working in `2022.8.5`, it felt really similar to a scrambled_eggs example with two editable packages, but the difference is there wasn't two setup.py and the setup.py did not call out the other package in the `install_requires`.

[2022-08-18 01:30] matteius commented on #4323
Yeah, fwiw it works if I take the install_requires `'pkgb==0.0.1' from the other setup.py.   It appears that this constraint gets interpreted by the pip resolver + resolvelib to look for that package in the resolution phase and doesn't detect that it was also told to install the editable dependency with the same name.

[2022-08-18 03:10] matteius commented on #4323
I worked out a PR that fixes the issue at hand, but I am not sure about any subtilties where the `install_requires` a different version than what your editable dependency provides, because basically I refactor some code so that I can match up if the requirement.name is an editable dependency from the `Pipfile` to not include that additional constraint to the pip resolver which would never be able

[2022-08-18 07:20] RintaroMiyamoto opened #5272 "Variable expansion doesnt work as "pipenv requirements""
### Issue description
I am using private repo to install packages and it is refered in Pipfile.lock as like below
[code]

Here, `pipenv requirements > requirements.txt` returns file using environment variables in unsupported format for `pip install -r requirements.txt`

### Expected result

[code]
`pipenv lock --requirements > requirements.txt` returned expected result(this command no longer avail

[2022-08-18 08:49] apamildner commented on #5269
The pip version is `22.2.2`. We do use a private pypi server though, so maybe that has something to do with it?

[2022-08-18 09:18] dqkqd commented on #5272
The requirements file generated by the old command is definitely a bug, environment variables should not be expanded.
But according to [pipenv doc](https://github.com/pypa/pipenv/blob/main/docs/advanced.rst#-injecting-credentials-into-pipfile-via-environment-variables), ``pipenv`` supports for both ``$VARIABLE`` and ``%VARIABLE%``, while ``pip`` doesn't. That causes the issue. In order to work wit

[2022-08-18 10:37] mtreffert-bhs commented on #5270
@matteius sure. Please find attached a minimal Pipfile.lock without any packages. I just added a ".txt" suffix, so that the file is accepted by the upload function.
[Pipfile.lock.txt](https://github.com/pypa/pipenv/files/9372633/Pipfile.lock.txt)

# Desired Output without mirror:
`pipenv requirements > requirements.txt`
should result in
`-i https://pypi.org/simple`

# Desired Output with mirror:
`

[2022-08-18 10:51] xncbf commented on #5020
`pipenv sync` is perfect option what i wanted.

[2022-08-18 13:23] GUGUHA commented on #2152
Hi Sir,
pls help me for output cods..  Thnx alot

┌ Particulier ───┬───────┬────────────┐
│ Name │ Address │ Phone │ Line Phone │
└──────┴─────────┴───────┴────────────┘
Traceback (most recent call last):
  File "/data/data/com.termux/files/usr/lib/python3.10/site-packages/urllib3/connection.py", line 174, in _new_conn
    conn = connection.create_connection(
  File "/data/data/com.termux/files/us

[2022-08-18 13:28] matteius commented on #2152
@GUGUHA your pipenv version is way too old.

[2022-08-18 13:39] matteius commented on #5269
@apamildner I am not sure because what you shared is a syntax error parsing the same version of pip you say is on the system.  I wonder if despite the path saying python3.9, if pipenv is finding a lower version of python and trying to run with that in the newer version of pipenv.   Could you see if you can make any determination around that?

[2022-08-18 13:53] matteius commented on #4375
I believe this should be resolved, could you checked @hlongmore ?

[2022-08-18 13:56] matteius commented on #4190
@Rodrigeu do you still require support on the latest version `pipenv==2022.8.17`?

[2022-08-18 16:19] clewingriffith opened #5273 "Pipenv lock fails for packages with extras as of 2022.8.13"
### Issue description

There was a regression in the ability to lock Pipfiles containing packages with extras on the 2022.8.13 release. This was working fine on versions prior to 2022.8.13.  I believe this is as a result of the changes introduced in [#5234](https://github.com/pypa/pipenv/issues/5234)

### Expected result

Given the Pipfile in the replicate section, it should lock, showing
[code]

[2022-08-18 16:31] matteius commented on #5273
@dqkqd fyi -- do you have some cycles to help me think more about this at it relates to the constraint files work?

[2022-08-18 20:30] Louai-Abdelsalam commented on #4626
As long as dropping support does not entail removing the feature altogether. It _is_ a pretty useful feature honestly when all your package versions are pinned, so I'd rather it be kept unsupported, than entirely removed.

Anyway, I'll leave the contribution guidelines here in case anyone decides to work on it:
https://pipenv.pypa.io/en/latest/dev/contributing/

[2022-08-18 20:42] dqkqd commented on #5273
@matteius Yes, there's a bug here.
https://github.com/pypa/pipenv/blob/697f1a9e9eb0b0b03cf3fc34ec41801bf04550e7/pipenv/utils/dependencies.py#L287-L290

I will open a PR for this.

[2022-08-18 21:07] dqkqd commented on #5273
Function to check constraints from `pip` has `InstallRequirement` as parameter:
https://github.com/pypa/pipenv/blob/697f1a9e9eb0b0b03cf3fc34ec41801bf04550e7/pipenv/patched/pip/_internal/req/req_install.py#L854-L880

While `is_constraint` use `Requiement` as parameter:
https://github.com/pypa/pipenv/blob/697f1a9e9eb0b0b03cf3fc34ec41801bf04550e7/pipenv/utils/dependencies.py#L287-L298

[2022-08-18 21:19] stewartmiles commented on #3417
In addition to caching hashes from pypi (pip already caches downloaded packages), it's probably worth caching the set of dependencies of local editable package installs. We have a project with a load of editable packages installed in a venv, it's nice to work in. However, `pipenv lock` takes forever and part of this is that it queries each editable package multiple times (which builds a wheel etc.

[2022-08-18 22:03] stewartmiles commented on #2364
I just stumbled across this today.

pipenv is 2022.8.17 ships with setuptools 63.2.0 which it uses to initialize venvs. However, it never upgrades setuptools due to:
https://github.com/pypa/pipenv/blob/697f1a9e9eb0b0b03cf3fc34ec41801bf04550e7/pipenv/core.py#L61-L67
https://github.com/pypa/pipenv/blob/697f1a9e9eb0b0b03cf3fc34ec41801bf04550e7/pipenv/core.py#L732-L736

This wouldn't be an much of iss

[2022-08-18 22:14] #4323 closed

[2022-08-18 22:45] dqkqd commented on #5270
`pipenv lock --requirements` locking before printing out requirements, `pypi-mirror` could be checked. Since the new `pipenv requirements` doesn’t rely on locking, it just get ouput from `Pipfile.lock`, it might be dangerous to have `pypi-mirror` as an option. For example in case passed `pypi-mirror` isn’t usable.

[2022-08-18 22:59] dqkqd commented on #5270
I think there is an alternative solution that is :

`pipenv lock --pypi-mirror` should write `pypi-mirror` into `Pipfile.lock`.

 Then `pipenv requirement` could use that mirror since it’s written in `Pipfile.lock`.

[2022-08-18 23:08] matteius commented on #2364
@stewartmiles This is due to a recent change to exclude `BAD_PACKAGES` from the batch_install -- honestly it was a workaround because the mac os test runner started failing on a number of tests where it was trying to re-install setuptools and failing.   I am revisiting the issue based on your report -- in the future you may want to open a new report since there is a lot of history in this thread t

[2022-08-19 00:44] stewartmiles commented on #2364
@matteius there are a huge number of issues in this repo so I felt bad adding to the list and did my best to find the most relevant issue. Thanks for letting me know this is a recent issue.

w.r.t the failing test, I took a look at the Ubuntu logs at https://github.com/pypa/pipenv/runs/7908654820?check_suite_focus=true

It's interesting that pip depends upon distutils which has now been vendored i

[2022-08-19 00:58] matteius commented on #2364
@stewartmiles There are a few patches we support of pip, include some for resolver specifiers, and also an important one is for index restricted packages to prevent package confusion attacks by requiring that every package required calls out a specific index, or uses only the default.

There are a few reasons.   Pipenv has had a split between using the vendor'd pip and the user pip for a while and

[2022-08-19 01:37] RintaroMiyamoto commented on #5272
@dqkqd
Thanks for the comment!  I totally agree with you.
So the expected result would be:

### Expected result

[code]

[2022-08-19 03:48] matteius commented on #2364
@stewartmiles thanks to your comment I now have the PR passing for allowing installation of the `BAD__PACKAGES` again.  Waiting on it to get reviewed, but in my local testing it worked and you are welcome to try it out.  https://github.com/pypa/pipenv/pull/5275

[2022-08-19 05:52] #2364 closed

[2022-08-19 12:23] matteius commented on #2364
This is fixed in `pipenv==2022.8.19`

[2022-08-19 12:25] matteius commented on #5273
This is fixed in `pipenv==2022.8.19`

[2022-08-19 12:36] matteius commented on #4906
I believe this is resolvable now -- but let me know if its still an issue on `pipenv==2022.8.19`

[2022-08-19 12:36] #4906 closed

[2022-08-19 12:37] matteius commented on #4635
Could this issue be rechecked on `pipenv==2022.8.19`?

[2022-08-19 12:37] matteius commented on #4157
I believe this is resolvable now -- but let me know if its still an issue on `pipenv==2022.8.19`

[2022-08-19 12:37] #4157 closed

[2022-08-19 12:40] matteius commented on #4131
I believe this is resolvable now -- but let me know if its still an issue on `pipenv==2022.8.19`

[2022-08-19 12:40] #4131 closed

[2022-08-19 12:40] matteius commented on #3891
I believe this is resolvable now -- but let me know if its still an issue on `pipenv==2022.8.19`

[2022-08-19 12:40] #3891 closed

[2022-08-19 12:41] matteius commented on #3851
I believe this is resolvable now -- but let me know if its still an issue on `pipenv==2022.8.19`

[2022-08-19 12:41] #3851 closed

[2022-08-19 12:42] matteius commented on #3751
I believe this is resolvable now -- but let me know if its still an issue on `pipenv==2022.8.19`

[2022-08-19 14:05] januszm commented on #5130
@matteius  perhaps with:

[code]

[2022-08-19 14:09] clewingriffith commented on #5273
Thankyou guys for the extremely quick turnaround on this.

[2022-08-19 14:13] januszm commented on #5130
I think this is a really important problem to solve right now. For example, if we have a project that uses `numpy` as a dependency and we have an `x86_64` server, Github Actions CI also on `x86_64`, 1 developers on Linux `x86_64`, one on older x86_64 Mac and  one more with an M1 Macbook arm64. Each time someone updates the lockfile, at least one person has problem. At the moment, one quick solutio

[2022-08-19 14:43] matteius commented on #5130
I agree with you, it is becoming higher on the list of priorities and we have tackled a number of other bugs and technical debt items that set us up better to work on this.   I am inclined to try and find a solution that will work with the single `Pipfile.lock` than rather try to support multiple lock files by platform.  I am not quite sure how it would work though for something that has to be bui

[2022-08-19 16:09] matteius commented on #2364
@stewartmiles -- I cannot say that I agree that using the vendor'd patched pip is brittle -- it creates runtime consistency across users of pipenv and reduces a subset of issues that I have seen.  I would argue that trying to rely on the system pip has its own brittleness to it, especially by where pipenv imports pip internals which pretty much means it has always had a vendor'd version of `pip` s

[2022-08-19 17:09] stewartmiles commented on #2364
@matteius oh I agree with vendoring pip into pipenv, that makes a heap of sense to me. You install pipenv and venvs are seeded with a consistent version of pip that works consistently without dealing with various patched versions of pip that are shipped by OS vendors. The main thing that worried me a bit was using pip embedded in pipenv to manage a venv rather than using the version of pip - chose

[2022-08-19 18:38] januszm commented on #5130
Thanks for the detailed response @matteius . I don't know if I will be able to professionally explain what exactly this workaround is because I have never studied `pip` and `pipenv` internals, I am rather just a user of these systems. As I understand it, this line, adding `or platform_machine == 'arm64'` just lets pip build a local extension for numpy, it unlocks the installation process on arm64

[2022-08-19 19:37] matteius commented on #5130
@januszm Thanks I will take a closer look at that later, fwiw, I think you may be actually installing pre-built wheels for the platform.   For example, there are prebuilt arm64 wheels for macos:  https://pypi.org/project/numpy/1.23.2/#files

The issue for pipenv though for pre-built wheels is when going through a private pypi, I believe it does not download all of the wheels to get the hashes, onl

[2022-08-19 20:40] januszm commented on #5130
Ah true, if we could make pipenv work with all platforms, not only the one we're locking on, it would already be a great improvement

[2022-08-21 07:20] hlongmore commented on #4375
I don't currently have a project that meets the test criteria; I'll see if I can get to it within the week.

[2022-08-21 11:31] matteius commented on #5142
@gitpushdashf I believe this may be resolved now.  I just tested it again on the latest version:
[code]

[2022-08-21 11:35] matteius commented on #4639
@Mahesha999 -- Can this be closed or are you looking for any additional support?

[2022-08-21 11:39] matteius commented on #4530
Could this be rechecked on `pipenv==2022.8.19`?

[2022-08-21 11:40] matteius commented on #4553
This should be resolved now on `pipenv==2022.8.19`

[2022-08-21 11:41] matteius commented on #4451
Can this be rechecked with `pipenv==2022.8.19`?

[2022-08-21 11:42] matteius commented on #4564
This should be resolvable on `pipenv==2022.8.19` because we rely exclusively on the vendor'd pip which is the latest version `22.2.2` at the time of writing.

[2022-08-21 11:42] #4564 closed

[2022-08-21 11:45] matteius commented on #4309
Can this be rechecked with `pipenv==2022.8.19`?

[2022-08-21 11:48] matteius commented on #4339
I am not sure why the documentation references `pipx`  -- pipenv can be installed fine using `pip` these days and pipenv uses the vendor'd version of `pip`.   I guess I would like to know if this is still an issue on the latest version `pipenv==2022.8.19`?

[2022-08-21 11:48] #4237 closed

[2022-08-21 11:50] matteius commented on #4116
Can this be rechecked on `pipenv=2022.8.19`?

[2022-08-21 11:51] matteius commented on #4106
Can this be rechecked on `pipenv=2022.8.19`?

[2022-08-21 11:51] matteius commented on #4070
Can this be rechecked on `pipenv=2022.8.19`?

[2022-08-21 11:52] matteius commented on #4056
Can this be rechecked on `pipenv=2022.8.19`?

[2022-08-21 11:52] #4052 closed

[2022-08-21 11:57] matteius commented on #4404
Does not appear to be an issue on `pipenv==2022.8.19`

[code]

[2022-08-21 11:57] #4404 closed

[2022-08-21 12:01] matteius commented on #4213
This is supported now with https://pipenv.pypa.io/en/latest/advanced/#pipenv.environments.Setting.PIPENV_CUSTOM_VENV_NAME

[2022-08-21 12:01] #4213 closed

[2022-08-21 12:02] matteius commented on #4253
Can this be checked with the new `pipenv requirements` command which replaced the `pipenv lock -r`?

[2022-08-21 12:03] matteius commented on #4204
`Homebrew/linuxbrew-core` repository is marked read only.  This issue feels outdated.

[2022-08-21 12:03] #4204 closed

[2022-08-21 12:05] matteius commented on #4307
Sorry, I do not have an update at this time.  Possibly related:  https://github.com/pypa/pipenv/issues/5239

[2022-08-21 12:07] matteius commented on #4307
I would ask, could this be rechecked with `pipenv==2022.8.19` and if possible provide a reproduction example?

[2022-08-21 12:07] matteius commented on #4061
@zz-x404 Can this be rechecked with `pipenv==2022.8.19`?

[2022-08-21 12:09] matteius commented on #4066
@hongyi-zhao I would just manually add them all to a `Pipfile` rather than try to figure out the ordering, the `pip` resolver will make that determination and build out the `Pipfile.lock` when running `pipenv lock` or `pipenv install`.  Let us know if you need anymore help with this.

[2022-08-21 12:09] #4066 closed

[2022-08-21 12:10] matteius commented on #3193
Could this be rechecked with `pipenv==2022.8.19`?  There is a fair chance it is still an issue, but I am trying to hone in on which old issue reports are still relevant.

[2022-08-21 12:12] matteius commented on #2694
Link issue:  https://github.com/pypa/pipenv/issues/5195

[2022-08-21 12:18] matteius commented on #3935
Can this be checked with `pipenv==2022.8.19`?

[2022-08-21 12:27] Kristinita opened #5277 "bug(github-installation): reinstalling package from GitHub branch every time I install another package"
### 1. Summary

**If** I installed md_mermaid package from GitHub branch via Pipenv:

    Pipenv re-install this package every time when I install other packages.

In my opinion, this is undesirable behavior.

### 2. MCVE

See this configuration on `KiraInstallGitHubBranchFork` branch of my [**demo GitLab repository**](https://gitlab.com/Kristinita/kirapipenv/-/tree/KiraInstallGitHubBranchFork) fo

[2022-08-21 12:28] matteius commented on #5221
@YDBD I believe your issue is related to use of string interpolation in the `install_requires` of the `setup.py`.   Its not allowed by the parser because that is arbitrary callable code which we cannot execute safely.   I think I can patch `requirementslib` to provide a better error in this case, there is another ticket about that:  https://github.com/sarugaku/requirementslib/issues/328

[2022-08-21 13:05] mkvlrn commented on #2817
Use case, pre-commit.

After installing the environment, `pre-commit install` must be executed or else the git hook is not installed.

If a project member doesn't run that command post clone/install, commits will bypass that (admittedly thin) layer of code quality assurance. Even if it's redundant, since the same quality is setup on the CI environment, it's a good practice for team members and to

[2022-08-21 13:41] hongyi-zhao commented on #4066
@matteius Thank you for comment and reply. Unfortunately, I haven't used this package for a long time, so I can't do any further testing. Anyway, I would like to thank you for your comments and explanations.

[2022-08-21 13:45] bakhtiary commented on #5239
The point of divergence is when pipenv calls resolver.py in a separate process. The requirements are passed via the PIPENV_PACKAGES env var. Depending on the order in which the requirements are passed, different outcomes are observed.
We can replicate this with the following oneliner:

[code]

 The quick fix is to make sure the order of the dependencies are the same.

Secondly, why are the markers

[2022-08-21 14:25] matteius commented on #4356
@zzpsy Is this still an issue on `pipenv==2022.8.19`?

[2022-08-21 18:19] y4n9squared commented on #4635
@matteius Confirmed that the issue is resolved on `pipenv==2022.8.19`. Thanks!

[2022-08-21 18:51] #4635 closed

[2022-08-21 20:25] jtmoon79 commented on #4906
I was unable to reproduce the issue using `pipenv==2022.8.19` using Python 3.9.6 on Windows. 🙂

However, I was unable to reproduce the issue using `pipenv==2021.11.23`. 😕

I spent about an hour attempting to reproduce the original issue following the instructions I provided. But I could not.

FWIW

[2022-08-21 22:13] matteius commented on #4906
It's possible this was fixed by the newer versions of setuptools.

[2022-08-22 01:41] dqkqd commented on #5277
When new packages arrive. `pipenv` installs them, checks existing packages to resolve conflict. Then it decides which one should be re-installed using `pip`.
Since you have editable package, `pip` will always re-install it. https://github.com/pypa/pip/pull/9169.
So I guess this is expected behavior?

[2022-08-22 01:53] matteius commented on #4189
This is resolved when using the fairly new `pipenv requirements` command.

[2022-08-22 01:53] #4189 closed

[2022-08-22 01:54] matteius commented on #4154
I believe this should be resolved on `pipenv==2022.8.19` -- can this be closed @Zylatis ?

[2022-08-22 01:56] matteius commented on #4122
I believe this should be resolved on `pipenv==2022.8.19`, anything here that requires attention?

[2022-08-22 02:02] matteius commented on #4111
At this point in time `pipenv` relies exclusively on its vendor'd `pip` for internal commands but it still possible to invoke the virtualenv or system `pip`.  The version of the virtualenv `pip` is revealed by running `pipenv run pip freeze --all`

[2022-08-22 02:02] #4111 closed

[2022-08-22 02:03] matteius commented on #4095
@hbielenia Can you recheck with `pipenv==2022.8.19`?

[2022-08-22 02:07] matteius commented on #4077
Is this still an issue in `pipenv==2022.8.19`?

[2022-08-22 02:07] #4071 closed

[2022-08-22 02:08] matteius commented on #4044
Can this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 02:10] matteius commented on #4185
Closing this issue as outdated -- we have done some work to the CI flows including a pre-linting phase and we are using GitHup actions.

[2022-08-22 02:10] #4185 closed

[2022-08-22 02:11] matteius commented on #4180
This should not be an issue on `pipenv==2022.8.19`

[2022-08-22 02:11] #4180 closed

[2022-08-22 02:11] matteius commented on #4178
Can this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 02:12] matteius commented on #4164
Can this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 02:13] matteius commented on #4158
The error return code from install was fixed recently.  Please recheck on `pipenv==2022.8.19`.

[2022-08-22 02:13] #4158 closed

[2022-08-22 02:13] matteius commented on #4144
This should be resolved with `pipenv==2022.8.19` as we rely exclusively on the vendor'd version of `pip`.

[2022-08-22 02:13] #4144 closed

[2022-08-22 02:14] #4063 closed

[2022-08-22 02:15] matteius commented on #4057
Check the ci.yml in `.github` for how the test runners setup -- the thing you were probably missing is that the tests depend on sub-repositories that have to be synced with a couple of git commands.

[2022-08-22 02:15] #4057 closed

[2022-08-22 02:18] matteius commented on #4050
Would need to consider the current behavior of `pipenv==2022.8.19` with regards to index restricted packages being required to explcitly define package indexes in the `Pipfile` or use the default.  Another thing is if you are using a mirror right now, you are going to have a longer locking phase because only the pypi URL checks for the json package API for pre-fetching the package hash information

[2022-08-22 02:19] matteius commented on #4047
@leileigong Could this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 02:20] matteius commented on #4055
Can this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 02:21] matteius commented on #4051
@djmattyg007 I am not familiar with composer, could you describe more what an optional dependency would be like in the context of pipenv?   Right now there are the default and dev package groups, is it different from a dev dependency?

[2022-08-22 02:22] matteius commented on #4030
Can this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 02:24] matteius commented on #4028
This should be resolved on `pipenv==2022.8.19`

[2022-08-22 02:24] #4028 closed

[2022-08-22 02:25] matteius commented on #4062
Can this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 02:25] matteius commented on #3801
Can this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 02:26] #4201 closed

[2022-08-22 02:28] matteius commented on #4094
@yili1992 This should be solved with `pipenv==2022.8.19` and the index package restrictions implemented earlier this year.   Pass the `--index` argument though instead of `--pypi-mirror` to specify to use an index other than the default index in the Pipfile (which is the first source listed).  For more details:  https://pipenv.pypa.io/en/latest/advanced/#specifying-package-indexes

[2022-08-22 02:28] #4094 closed

[2022-08-22 02:30] matteius commented on #4182
Could this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 02:31] matteius commented on #4151
This is expected that `pipenv install` will upgrade to the latest packages that your `Pipfile` specifiers will allow.

[2022-08-22 02:31] #4151 closed

[2022-08-22 02:31] matteius commented on #3996
Can this be rechecked with `pipenv==2022.8.19`?

[2022-08-22 02:33] matteius commented on #3995
We are working on vendoring in the new `safety==2.x` version, perhaps that will help.

[2022-08-22 02:34] matteius commented on #3993
This should be much easier with the index restricted packages work from earlier this year.  For more information see:  https://pipenv.pypa.io/en/latest/advanced/#specifying-package-indexes

[2022-08-22 02:34] #3993 closed

[2022-08-22 02:35] #3077 closed

[2022-08-22 02:35] matteius commented on #3987
Can this be rechecked with `pipenv==2022.8.19`?

[2022-08-22 02:38] matteius commented on #3984
The behavior changed this year to support index restricted packages.  If you want to use pypi mirror, just set that as the default source in your Pipfile or using `--index` when creating the project for the first time.   Note that currently we only query pypi for the json API for prefetching hashes, which means it will be slower to run against a pypi mirror.   I would like to enhance `pipenv` to b

[2022-08-22 02:38] #3984 closed

[2022-08-22 02:39] matteius commented on #3444
This should be resolved with index restricted package work from earlier this year.
  The default index is the first one in the Pipfile and it will not consider pypi if you use something other than pypi as the first.
 For more information:  https://pipenv.pypa.io/en/latest/advanced/#specifying-package-indexes

[2022-08-22 02:39] #3444 closed

[2022-08-22 02:40] matteius commented on #3757
Can this be rechecked with `pipenv==2022.8.19`?

[2022-08-22 02:43] matteius commented on #3838
Can this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 02:43] matteius commented on #3806
We no longer vendor `pip-tools`.

[2022-08-22 02:43] #3806 closed

[2022-08-22 02:45] #3343 closed

[2022-08-22 02:46] matteius commented on #3755
Can this be rechecked on `pipenv==2022.8.19`?  I believe work @dqkqd did on constraint files would have resolved it.

[2022-08-22 02:46] matteius commented on #3687
Can this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 02:47] matteius commented on #3678
Can this be rechecked on `pipenv==2022.8.19`?

[2022-08-22 03:26] matteius commented on #3514
We no longer use yaspin spinner (though it is temporarily still vendor'd).

[2022-08-22 03:26] #3514 closed

[2022-08-22 08:53] FabianClemenz opened #5278 "Error with `pipenv install --system` with pipenv version `2022.8.19`"
### Issue description

In our pipeline we install pipenv in a docker container, to test our code. With version `2022.8.15` the command `pipenv install --ignore-pipfile --system --dev` works as expected. However with version `2022.8.19` it gets lots of errors like:

[code]

[code]

```An error occurred while installing singledispatch==3.7.0; python_version >= '2.6' --hash=sha256:bc77afa97c8a22596d6

[2022-08-22 09:36] matteius commented on #5278
@FabianClemenz Please provide the output of `pipenv --support`.  Also can you verify that `pipenv` is actually not at `'/usr/local/lib/python3.8/site-packages/pipenv/` and if not, where is it installed?

[2022-08-22 09:53] FabianClemenz commented on #5278
`pipenv --support`

[code]
{'implementation_name': 'cpython',
 'implementation_version': '3.8.12',
 'os_name': 'posix',
 'platform_machine': 'x86_64',
 'platform_python_implementation': 'CPython',
 'platform_release': '5.10.104-linuxkit',
 'platform_system': 'Linux',
 'platform_version': '#1 SMP Thu Mar 17 17:08:06 UTC 2022',
 'python_full_version': '3.8.12',
 'python_version': '3.8',
 'sys_platfo

[2022-08-22 09:56] matteius commented on #5278
@FabianClemenz That's odd your `which pipenv` is at `/usr/local/bin/` but its at `/usr/local/lib/python3.8/site-packages/pipenv` in the --support output.   It is like by the time you run `pipenv install` its no longer at  `/usr/local/lib/python3.8/site-packages/pipenv` .    A sample Docker file would be most helpful.

[2022-08-22 10:21] n1ngu commented on #4553
Sorry but I could reproduce the same error as always with pipenv 2022.8.19.

Just clone my minirepo and do `docker build .`

[code]

[2022-08-22 10:23] matteius commented on #5278
So far I have been unable to reproduce it.  See my attempt:
[code]

[code]

[2022-08-22 10:29] FabianClemenz commented on #5278
Dockerfile

[code]

our Pipfile.lock
[code]

our Pipfile

[code]

[2022-08-22 10:43] matteius commented on #4553
@n1ngu That is odd, I agree your example is still experiencing an issue, but we have a very similar example that does work now:  https://github.com/pypa/pipenv/issues/4323

I haven't seen why your example is different yet.

[2022-08-22 10:55] matteius commented on #5278
@FabianClemenz I believe the issue is you are including `pipenv` in the Pipfile and the lock file which is very problematic, especially as you are including a much older version than what you are trying to lock with.   `pipenv==2022.8.19` is only going to be compatible with  `pipenv==2022.8.19` and I would question why we are allowing that to be an installable package.  Its problematic because you

[2022-08-22 10:57] matteius commented on #5278
I changed the Pipfile to remove `pipenv = "*"` and it worked fine, when this is the Dockerfile (to rebuild the lock file):
[code]

[2022-08-22 11:05] FabianClemenz commented on #5278
ok thanks for your help :) i'm curious why it worked with `2022.8.15` but not with the newest version.

[2022-08-22 11:15] FabianClemenz commented on #5278
@matteius strange behaviour - tried it with pinning the version - works like a charm. I think it will be best, deleting pipenv from our Pipfiles to don't run in that problem again. Thanks!

[2022-08-22 11:15] #5278 closed

[2022-08-22 11:26] matteius commented on #4553
@n1ngu It works in `2022.8.19` if you mark the packages as editable in your `Pipfile`:
[code]

[2022-08-22 12:14] #2927 closed

[2022-08-22 12:23] bakhtiary commented on #5239
gets fixed by: https://github.com/pypa/pipenv/pull/5279

[2022-08-22 14:40] kaptajnen commented on #4398
The new command has not changed this behavior so it is still required to run `pipenv requirements | sed '/^-/d'` to get the desired output.

[2022-08-22 16:10] dshah244 opened #5280 "pipenv-README seems cluttered at "Usage""
**Bugfix: Documentation**

I consider this issue as a Bug as nothing needs to be changed within the content of the README file.

### Issue description

There are two stages within the README file where the content seems to be a bit cluttered. These can also be seen within the attached images. It seems that the content is not being rendered properly.

# 1
![image](https://user-images.githubusercont

[2022-08-22 17:08] danjamesmay opened #5282 "Support pip 22.2 truststore API"
### Is your feature request related to a problem? Please describe.

Using a corporate SSL cert results in a lot of errors like the following:

[code]

This is because it can't verify the cert against `https://pypi.python.org/simple` as defined in the Pipfile.

I had to set `verify_ssl = false` to get around this, which is obviously not ideal.

### Describe the solution you'd like

Pipenv should us

[2022-08-22 17:26] gitpushdashf commented on #5142
Awesome! That worked. Nice work and thank you so much!

[2022-08-22 17:26] #5142 closed

[2022-08-22 17:39] matteius commented on #5282
Just thinking out-loud here that there are at least a couple tickets in the backlog requesting we add the ability to pass pip arguments through the installer.   I am not sure how that would be yet, but either way I agree that we should support this use case.

[2022-08-22 20:54] matteius commented on #5282
@danjamesmay I took a stab at adding the ability to pass --extra-pip-options="" to `pipenv`.  There is a branch and it seems to work -- would be cool if you could try it (tagged to this ticket) and I'll look into adding tests.

[2022-08-22 20:55] matteius commented on #4360
I took a stab at adding the ability to pass --extra-pip-options="" to pipenv. There is a branch and it seems to work -- would be cool if anyone could try it (tagged to this ticket) and I'll look into adding tests.

[2022-08-22 22:26] #3910 closed

[2022-08-23 01:27] awooTim commented on #4544
I have the same problem. I use `tmux kill-session -a` to kill all session and solve the problem

[2022-08-23 02:32] brennenhuang commented on #4544
I have the same problem. I use `tmux kill-session -a` to kill all session and solve the problem

[2022-08-23 08:47] AndreiPaulau opened #5285 "Pipenv fails to install/upgrade setuptools after 2022.8.19 release. UBI9"
### Issue description

After pipenv upgrade from 2022.8.17 to 2022.8.19 it fails to install setuptools
(Before the upgrade it ignored the fresh setuptools version)

Issue was catched under registry.redhat.io/ubi9-minimal image
ubuntu20.04 goes fine (ubi9-minimal hasn't been changes for at least 2 weeks, the issue appeared right after the release 2022.8.19)

An error occurred while installing setup

[2022-08-23 11:21] drorata commented on #5130
TL;DR another case where this issue has a negative impact is when trying to publish a Jupyter notebook using `mybinder`.

**Details:** I have a notebook that I develop locally (M1 mac) and I'm trying to serve it using https://mybinder.org/. During the build it seems like `numpy` was not installed due to the platform specified in the lock file. In turn, the served notebook fails... See [this discus

[2022-08-23 14:32] y4n9squared opened #5287 "'No matching distribution found' error in 2022.8.19"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues before posting! We may close your issue if it is very similar to one of them. Please be considerate, or be on your way.

Make sure to mention your debugging experience if the docum

[2022-08-23 14:35] matteius commented on #5287
@y4n9squared You did not fill out any part of the issue template.

[2022-08-23 14:36] y4n9squared commented on #5287
@matteius sorry about that. Hit shift-enter by accident. The contents have been updated.

[2022-08-23 14:38] abouletupjv opened #5288 "Error creating virtualenv with python 3.10"
Hi,

When I try to create an environnement i got the following errors:

[code]

it try to execute python in `mon_app_demo-oYHeBM4M/bin/python` but it is located in `mon_app_demo-oYHeBM4M/local/bin/python`

if i downgrade setuptools to version 59.8.0 it works because the python is located in `mon_app_demo-oYHeBM4M/bin` folder

[2022-08-23 14:41] matteius commented on #5287
@y4n9squared Can you remind me what the `~=` indicates?   It does appear that notation does not work but if I change it to `==1.48.0` that works.

[2022-08-23 14:46] y4n9squared commented on #5287
I think `~=` means [compatible release](https://peps.python.org/pep-0440/#compatible-release) according to PEP 440. In the current context, it should be `>= 1.48.0, == 1.48.*`

[2022-08-23 14:47] rwong2888 commented on #5074
@whyboris , @wwwroth , @heathwwoodson ^^^

[2022-08-23 15:06] matteius commented on #5287
There is no == 1.48.* and 1.48.0 was yanked:  https://pypi.org/project/grpcio/1.48.0/

The only way to install a yanked package is explicitly with `==1.48.0`

[2022-08-23 15:09] AndreiPaulau commented on #5285
Sure
[code]
Mind the `url` it's private aws pypi repo

[2022-08-23 15:10] matteius commented on #5288
That is really odd -- how would downgrading setuptools change the python location?

[2022-08-23 15:10] AndreiPaulau commented on #5285
+ I've removed private package

[2022-08-23 16:04] matteius commented on #5285
@AndreiPaulau Are you using a Dockerfile to perform the build, and if so what is the base image you are pulling from and the initial setup command like for adding python/pip/pipenv?  I just tried a basic setuptools pinning in a fresh WSL install and that worked fine.  Would like to get closer to replicating the actual build that is causing the error, but probably just isolating setuptools to start

[2022-08-23 16:09] AndreiPaulau commented on #5285
Issue was catched under registry.redhat.io/ubi9-minimal image

 microdnf --setopt=install_weak_deps=0 --nodocs --noplugins --best install -y dnf git python3.9 python3-pip which; \
    dnf -y update-minimal --security; \
    dnf clean all; \
    microdnf clean all -y; \
    rm -rf /var/cache/dnf; \
    rm -rf /var/cache/yum; \
    pip3 install --no-cache-dir --upgrade pip; \
    pip3 install --no-c

[2022-08-23 16:12] AndreiPaulau commented on #5285
yeah, that's works fine in my Dev env under ubuntu 20.04 as I mentioned on start of the issue, but it fails under CI within docker build.

Reverting to the previuous release `pip3 install --no-cache-dir pipenv==2022.8.17; \` fixed the build

[2022-08-23 16:48] matteius commented on #5285
I got past the `Fatal glibc error: CPU does not support x86-64-v2` by disabling hypervisor-v in windows -- I didn't realize Virtualbox got to supporting running that way, and that allowed me to reproduce the issue.  I definitely do not know what the fix might be at this stage, but my guess is redhat is falling back to distutils for the sysconfig case and that is why its running into the same error

[2022-08-23 16:53] matteius commented on #5285
Alternatively to force the version of setuptools (outside of the lockfile) this appears it could work as well:  `pipenv run pip install setuptools==65.2.0`

[2022-08-23 16:59] AndreiPaulau commented on #5285
Yep, that's exactly what I faced with https://github.com/pypa/setuptools/discussions/3544

So summing up for those who faced the same issue - for now there are three options:
- install/upgrade setuptools in advance, if you require security updates for example `pipenv run pip install setuptools==65.2.0`
- stick to the 2022.8.17 release (if nothing else breaks your CI/Development)
- remove setuptool

[2022-08-23 17:10] matteius commented on #5285
@AndreiPaulau I wouldn't think using `2022.8.17` is ideal because you won't get the version of `setuptools` you specify, it is skipped during install in that version.

I will like to keep this issue open so that we can track that the current version of patching to use sysconfig does not work on all systems.

[2022-08-23 18:34] EugeniuZ commented on #5272
#5033 and #5200 seem to be related

[2022-08-23 18:34] matteius commented on #5285
@AndreiPaulau I may have some potential good news -- this issue may be caused by some relatively unused imports of `setuptools` in `pipenv` and `requirementslib`.  In my testing, using this prototype branch worked whereas `2022.8.19` showed the issue:

[code]

[code]

[2022-08-23 18:36] EugeniuZ commented on #5272
What is the preferred way to generate a requirements.txt file with private repo (and credentials) after 2022.8.5?
`pipenv lock -r` does variable substitution (as of 2022.8.5) while `pipenv requirements` does not. This is needed when including private pypi repos with credentials that are substituted by env variables. The `lock` command was removed in 2022.8.13.

[2022-08-23 18:51] matteius commented on #5272
@EugeniuZ there is an enhancement that should be made to the `requirements` command for this case.  Ideally someone that is setup to utilize this case could also work on the fix for it based on the discussion in this ticket, I think the variables are just mis-represented and should have brackets around them.   I understand that this is a high priority item for some folks, but we need to fix the ne

[2022-08-23 20:47] bakhtiary commented on #5239
the #5279 PR was accidentally closed. The new PR that fixes this is: https://github.com/pypa/pipenv/pull/5286

[2022-08-23 21:26] tailordevs opened #5290 "pipenv will fail to install package in docker container"
Im using ubuntu base image and installing some package on it make our required docker image.

I faced issue that packages are installing which was working fine some days back so I tried whole day to check where is the problem and finally identify that Pipenv not installing package in docker container if we are using version>2021.11.23.

**Dockerfile**
[code]

**Pipfile**
[code]

[2022-08-23 22:04] matteius commented on #5290
Interesting, I did some triaging and it turns out that the sysconfig patch I added to get past a setuptools issue is causing this behavior:  https://github.com/pypa/pipenv/pull/5275/files#diff-e154923a3c93acd48d40dd714127c4b90cac776ebd71930770919d539d137f77R44
The good news is that based on a conversation with setuptools I got some new ideas to try and prevent importing setuptools in pipenv, and m

[2022-08-24 06:16] AndreiPaulau commented on #5285
It sounds promising =)

[2022-08-24 12:51] abouletupjv commented on #5288
I think this is link to distutils https://github.com/pypa/setuptools/pull/2896

[2022-08-24 14:14] blancsw commented on #5290
Thanks for your answer ! I got the same issu

[2022-08-24 16:38] matteius commented on #5290
This is the target PR -- ran into some merge conflicts on the other one:  https://github.com/pypa/pipenv/pull/5228

[2022-08-24 21:13] matteius commented on #5285
`pipenv==2022.8.24` has been released 🎉

[code]

[2022-08-24 21:13] #5285 closed

[2022-08-24 21:14] matteius commented on #5290
`pipenv==2022.8.24` has been released 🎉

[2022-08-24 21:14] #5290 closed

[2022-08-24 21:14] matteius commented on #5288
@abouletupjv Can you re-check with `pipenv==2022.8.24`?

[2022-08-24 21:15] matteius commented on #5269
Can this be rechecked with `pipenv==2022.8.24`?

[2022-08-24 21:55] Berbe commented on #5269
Lock file had to be regenerated.

[2022-08-24 21:55] #5269 closed

[2022-08-24 23:30] genefever commented on #856
Can we reopen this issue? pipenv is a really convenient tool, but this particular issue where pipenv does not respect pip.conf is a noticeable pain point, to the point that I just resort to using venv.

[2022-08-24 23:55] matteius commented on #856
I'd prefer if a new issue were opened about this @genefever .  Too much history and age to this ticket.  Mind creating one and link back to this?

[2022-08-25 00:29] dqkqd commented on #5272
`pip` want requirements file could be platform independent and could be used inside URL, so it only supports POSIX format with UPPERCASE. There's a discussion about that https://github.com/pypa/pip/pull/3514.
Should `pipenv` does this as well?

[2022-08-25 02:59] dqkqd commented on #4588
It's already had, but with absolute path:
https://github.com/pypa/pipenv/blob/897caca7752a9d2d648ccb3407aca30bd7962941/pipenv/utils/shell.py#L288-L291

Should this be changed to detect file as well?

[2022-08-25 06:28] AndreiPaulau commented on #5285
Hooray! Thanks Matt!

[2022-08-25 07:41] kaykhan commented on #5208
@matteius Upgraded pipenv for you, unfortunately i still get these errors/warnings

**1. pipenv --version**

[code]

**2. pip install --upgrade pipenv**

**3. pipenv --version**
[code]

[2022-08-25 11:52] adrizein opened #5293 "Can't create Pipfile.lock for cu111 torch distribution"
### Issue description
Hello !

Pipenv 2022.08.24 can't create the lock file for the torch package distributed on https://download.pytorch.org/whl/cu111

I replicated the issue with this minimal Dockerfile, but it also happens on my host machine:

[code]

### Expected result

Should build an image where torch is installed and `Pipfile` and `Pipfile.lock` are created

### Actual result

See [`pipenv

[2022-08-25 12:16] matteius commented on #5293
@adrizein I am wondering what SystemExit: -9 is.   -9 is very unusual system exit code.   For myself my 3.9 and 3.8 pythons are hosed currently so I have to rely on my system 3.10 until I resolve that, and cu111 does not resolve with 3.10 because there are no distributions, so I tried it with 113 and it has been locking for quite some time and I can see in the network activity that its downloading

[2022-08-25 12:24] adrizein commented on #5293
Hi, thank you for the quick response. Here is what I have for `df -h`:

[code]

I don't think it is a disk space issue, as I am able to install torch/torchvision and many more packages with a pip only approach.

[2022-08-25 12:42] adrizein commented on #5293
@matteius yes I remember I could install torch on python 3.10 and ubuntu:22.04.
The Dockerfile might be misleading, but the tensorrt:22.07 image is not based on ubuntu:22.04 but on ubuntu:20.04.

We need to use tensorrt so for now we are locked down on ubuntu:20.04 and python 3.8.
I am currently running a similar test with the base ubuntu:20.04 image.

I'll post the results here when it is done.

[2022-08-25 12:53] adrizein commented on #5293
@matteius I just checked `htop -d1` during the build and it looks like I have an out of memory issue, which would explain the SystemExit(-9). I'll close this issue and reopen it if necessary, thank you for your help anyway 👍

[2022-08-25 12:53] #5293 closed

[2022-08-25 12:59] matteius commented on #5293
@adrizein Interesting -- any way to tell how much memory pipenv is using?  I got my python 3.8 windows issue resolve and have the lock running now on windows and also the Dockerfile is running now on my linux VM, both appear to be working.  I don't see a memory issue with pipenv specifically on my end:

![image](https://user-images.githubusercontent.com/479892/186670714-2adbc6b2-4877-498d-adc6-1d9

[2022-08-25 13:03] adrizein commented on #5293
My wsl2 VM is limited at 8GB of RAM and I have 2GB of swap. When the build crashed, RAM and swap usage jumped to 100% so I guess pipenv took up to 10GB of memory, not sure why though.

[2022-08-25 13:14] matteius commented on #5293
Could have been docker itself -- you could extend your swap file size in the wslconfig to see if that helps:

https://docs.microsoft.com/en-us/windows/wsl/wsl-config
https://joe.blog.freemansoft.com/2022/01/setting-your-memory-and-swap-for-wsl2.html

My wi-fi has been capped out for several minutes running these two simultaneous lock commands, and I am using much of my memory, but the process list

[2022-08-25 13:20] matteius commented on #5293
My docker build of your example also failed with the same error you got.   The windows lock finished on 3.8 and got real disk heavy during the end of the lock, and I could see some heavy memory usage in powershell at that time, exceeding 2GB at times.

[code]

Did you not have this problem on prior versions of pipenv?

[2022-08-25 14:02] mgzenitech opened #5294 "Upgrade scripts to run package functions too"
Be sure to check the existing issues (both open and closed!), and make sure you are running the latest version of Pipenv.

Check the [diagnose documentation](https://pipenv.pypa.io/en/latest/diagnose/) for common issues and the [PEEP list](https://github.com/pypa/pipenv/blob/master/peeps/) before posting! We may close your issue if it is very similar to one of them. Please be considerate and follo

[2022-08-25 14:10] drorata commented on #5130
One addition, FWIW: I now faced a similar related issue. I'm trying to dockerize some work which was developed on an M1 mac. To that end, in the `Dockerfile` I added:

[code]

It comes as no surprise, that I get the following warning: `Ignoring appnope: markers 'platform_system == "Darwin"' don't match your environment`. I tried **not** to copy the `Pipfile.lock`, but then it is not possible to us

[2022-08-25 15:08] adrizein commented on #5293
Ok got it @matteius, I've run the docker build on a server with lots of RAM and it worked without a hitch.
It would certainly be better if I could lock new packages on my local machine but at least I have a workaround now.

[2022-08-25 16:08] RAYemelyanova opened #5295 "pipenv fails to install my repo: pipenv 2022.8.24"
### Issue description

pipenv install fails with new version (2022.8.24) for my github repo.

This morning I made some changes to my github repo, committed to a new branch and made a merge request. None of the changes touched pipenv settings, or changed the Pipfile. To my surprise, a couple of jobs which run pipenv install --dev --python=3.8 --skip-lock failed even before they seem to have install

[2022-08-25 17:06] rehevkor5 commented on #4644
+1 it would be great to be able to provide repo credentials to a builder Docker container via `RUN --mount=type=secret` https://docs.docker.com/engine/reference/builder/#run---mounttypesecret In particular, without needing to run extra commands to set env vars. If pipenv could obey `~/.pip/pip.conf`, that would be ideal because it would require no extra effort.

Also, URL-encoding credentials is u

[2022-08-25 20:31] enku opened #5296 "pipenv install --system fails when `python` points to Python 2."
### Issue description

Since 2022.8.15 `pipenv install --system` will fail on systems that have both Python 2 and Python 3 installed but `which python` resolves to Python 2.  In commit dbea3f5 it switched from using `project._which()` which uses `sys.executable` to determine which python to run to using `python_project()` which, when using `--system` first checks for `python` and then `python3`.

[2022-08-25 21:05] enku commented on #5296
I haven't tried to see if this breaks anything else, but this simple change worked for me:

[code]

[2022-08-25 22:31] tucked commented on #4588
SGTM 👍

[2022-08-25 23:49] matteius commented on #5295
@RAYemelyanova I believe the problem is that lock file contains `pipenv` itself:

[code]

So you're uninstalling `the latest version of pipenv and replacing it with an older one is problematic -- I would suggest leaving `pipenv` out of the `Pipfile` and `Pipfile.lock` altogether.

[2022-08-25 23:52] matteius commented on #5296
Thanks for your report @enku -- I was wondering also if putting `python3` in the ordering first would solve for this.   I agree that there is a subtle case where maybe someone else is expecting `python` because `python3` happens to be some other version of `python`, but it would be worth opening a PR for that change and we can explore further if it makes the most sense.  Let me know @enku If this

[2022-08-26 00:03] igorlg commented on #726
Just to contribute with the discussion, I have a scenario where >2 groups would be useful:

I'm working on a project that's entirely backed by [AWS Lambda](https://aws.amazon.com/lambda/) functions. The code is structured as a [SAM project](https://aws.amazon.com/serverless/sam/); one _application_ - in one Git repository - composed of multiple Lambda functions, like so:

[code]

Each Lambda funct

[2022-08-26 00:07] matteius commented on #726
@igorlg We are tracking this feature request in:  https://github.com/pypa/pipenv/issues/4745

I am going to post my latest thought in that thread of something we will have to look out for.

[2022-08-26 00:08] matteius commented on #4745
One thing we will have to be particularly careful about, because having just two categories of `dev` and `packages` is that constraints of packages have to be supplied when resolving `dev` to prevent incompatibilities between the default and dev groups.   Supporting multiple categories begs the question of what groups should constrain other groups -- maybe it is only the default group that should

[2022-08-26 00:53] igorlg commented on #726
Thanks for your reply, @matteius! Would you like me to move my previous comment to #4745?

[2022-08-26 01:04] matteius commented on #726
Feel free to cross-post it.

[2022-08-26 02:50] matteius commented on #4644
@rehevkor5 I have spent some time on this issue and have a PR out that you might find helpful:  https://github.com/pypa/pipenv/pull/5297

The problem though is you will still want to specify the credentials for the index as environment variables and reference them from the `pip.conf` as such, example:  `index-url = https://{$user}:{$password}@example.com/repository/pypi-all/simple`
Otherwise, the

[2022-08-26 02:54] matteius commented on #5272
As a workaround, coldn't @RintaroMiyamoto specify the variables in the same way in the Pipfile?

`"sources": [
  "url":"https://${USER}:${ACCESS_TOKEN}@gitlab.com/private/repo"
]`

[2022-08-26 03:43] matteius commented on #3063
Can this be rechecked on `pipenv==2022.8.24`?

[2022-08-26 03:46] matteius commented on #2901
The new `pipenv requirements` command has flags for this.

[2022-08-26 03:46] #2901 closed

[2022-08-26 03:51] matteius commented on #2827
This was solved by https://pipenv.pypa.io/en/latest/advanced/#pipenv.environments.Setting.PIPENV_CUSTOM_VENV_NAME

Most users that wish to change the behavior will want to set this in their `.env` file for the project.

[2022-08-26 03:51] #2827 closed

[2022-08-26 03:55] #2677 closed

[2022-08-26 04:13] matteius commented on #2635
I just triaged this issue and opened a PR that fixes it, but the downside is if the user isn't use environment variables, and uses the actual credentials in the `requirements.txt` that will be brought into the `Pipfile` in plaintext.   I am not sure there is a great way to prevent that.

[2022-08-26 04:32] matteius commented on #4174
Does this still require attention?

[2022-08-26 04:34] matteius commented on #4021
Is there any action items here for the latest pipenv version?

[2022-08-26 11:13] enku commented on #5296
@matteius I'll open a PR for this.

[2022-08-26 12:22] matteius commented on #4173
@taisukek It appears this issue at some point was fixed:

[code]

[2022-08-26 12:22] #4173 closed

[2022-08-26 12:23] matteius commented on #4126
@sarayourfriend sounds like what you are looking for is possibly the category feature request being tracked in:  https://github.com/pypa/pipenv/issues/4745

[2022-08-26 12:24] matteius commented on #4124
I am wondering if this is still an issue on `pipenv==2022.8.24`?

[2022-08-26 12:59] enku commented on #5296
Ok, in the process of trying to create a PR I'm having an issue running the tests.  I'm following the `docs/dev/contributing.rst` document but I perhaps overlooked something?  The steps I have done are:

1. Create a container instance from a fresh `python:3.10` image, then from inside the container:
2. Clone the pipenv repo, then from the root of the repo:
3. `pip install -e .`
4. `pipenv install

[2022-08-26 12:59] #3291 closed

[2022-08-26 13:03] matteius commented on #2396
I recommend opening any new issues relevant from this discussion that may still need to be considered with the latest `pipenv` version.

[2022-08-26 13:03] #2396 closed

[2022-08-26 13:04] matteius commented on #3904
I believe `pipenv graph` serves a similar purpose.

[2022-08-26 13:04] #3904 closed

[2022-08-26 13:06] matteius commented on #2274
I believe this can be closed, more recent work on constraints from default and dev may have improved this situation.   Feel free to open a new ticket for any new issues.

[2022-08-26 13:06] #2274 closed

[2022-08-26 13:08] matteius commented on #5296
@enku I believe remove step 5 and replace it with:
[code]

The test runner command can be found in the `.github/workflows/ci.yaml` for reference, those are the exact steps the github test runner uses.

[2022-08-26 13:13] matteius commented on #5296
Just a heads up that there are currently two flaky tests that might fail for you, as they sometimes fail in the main test runner, those are:
FAILED tests/unit/test_utils.py::test_convert_deps_to_pip[deps0-requests] - A...
FAILED tests/unit/test_utils.py::test_convert_deps_to_pip[deps1-requests[socks]]

[2022-08-26 13:16] enku commented on #5296
Ahh, cool. I knew I left something out. And thanks for the heads up about the flaky tests.

[2022-08-26 14:19] RAYemelyanova commented on #5295
Ah, I see. Thanks for clarifying.

[2022-08-26 14:19] #5295 closed

[2022-08-26 14:27] matteius commented on #5239
I think we also need to sort the constraints.  @dqkqd care to open a PR?

[2022-08-26 16:53] sarayourfriend commented on #4126
A bit, but not quite. We have two different Pipfiles in our repository, with this structure:

[code]

Where would we put something like these meta, devex focused dependencies that are required by both projects? We could duplicate them, but then upgrading their versions, especially with an automated tool like dependabot, would be a chore (it opens two PRs to update the same dependency across both P

[2022-08-26 20:16] matteius commented on #5277
@Kristinita I get what the ask is, but as @dqkqd points out it is likely a pip behavior that may be intentional.   That being said, I don't think it makes sense to issue `pipenv install <pkg_name>` command during the CI flow -- because you loose the ability to provide an already generated lock file which has the prior package hashes that can be validated during the `pipenv sync` phase, which is mo

[2022-08-26 23:39] matteius commented on #4962
I got a similar error on my Mac M1 today with the latest pipenv trying to install a new project, I kept getting `ERROR: No matching distribution found for vectorbt==0.15.5` even though `numpy` and the other packages like `requests` I was trying to install do not depend on it.   Strangely, by creating the Pipfile manually the problem went away:
[code]

[code]

[code]

[2022-08-26 23:43] matteius commented on #5130
@drorata I am not sure how the markers are making it into your Pipfile for numpy ... I just locked on many different systems numpy, on windows, linux VM, Mac M1, and all did not have the markers restricting numpy.   What version of `pipenv` are you on?

[2022-08-26 23:46] matteius commented on #5130
Also noting to the larger group that I am unable to reproduce getting not the full set of hashes for some of these packages on `pipenv==2022.8.24` -- I tried multiple systems and I also tried `pypiserver` which mirrors pypi packages, and in all cases the lock file has the full set of hashes.   It appears even when it has to download the wheels, it downloads all of the matching version to get the h

[2022-08-27 02:13] igorlg commented on #4745
Just to contribute with the discussion, I have a scenario where >2 groups would be useful:

I'm working on a project that's entirely backed by [AWS Lambda](https://aws.amazon.com/lambda/) functions. The code is structured as a [SAM project](https://aws.amazon.com/serverless/sam/); one _application_ - in one Git repository - composed of multiple Lambda functions, like so:

[code]

Each Lambda funct

[2022-08-27 06:33] drorata commented on #5130
@matteius Thanks for your answer! I'm used version `2022.8.17` (installed using `brew`). I upgraded it (to `2022.8.24`) and now there are no markers in the `Pipfile.lock`. In turn the warning doesn't show up.

[2022-08-27 07:57] real-yfprojects opened #5302 "SetuptoolsDeprecationWarning: `license_file` parameter"
### Issue description

When writing to or reading from the lock file the following warning can be found in the output of *pyenv*:

[code]

### Expected result

The same output without the deprecation warning.

<details>
<summary><h3>Actual result</h3></summary>

[code]

</details>

### Steps to replicate

1. pipenv install somepackage
2. pipenv lock > out.txt

-------------------------------------

[2022-08-27 11:58] januszm commented on #5130
Does it mean this issue was fixed in 24.08?

[2022-08-27 14:41] matteius commented on #5302
@real-yfprojects This is not a pipenv issue, but rather the package you are installing `pytest-faulthandler` has an outdated setup.py: https://github.com/pytest-dev/pytest-faulthandler/blob/master/setup.py#L11

[2022-08-27 16:09] real-yfprojects commented on #5302
Thanks. I got another warning right as the first output of any pipenv command I ran sofar:
[code]

[2022-08-27 16:30] matteius commented on #5302
@real-yfprojects That pkg_resources warnings is a duplicate of a commonly reported warning that I have been unable to figure out how its originating.   Let's track that issue here:  https://github.com/pypa/pipenv/issues/5208

[2022-08-27 17:11] #5302 closed

[2022-08-27 17:37] real-yfprojects commented on #5208
The warning will show up even when entering the following:
[code]

This means that the problem lies before or while parsing the cmd arguments.

[2022-08-27 17:47] #5239 closed

[2022-08-27 18:57] real-yfprojects commented on #5208
The warning will show up even when entering the following:
[code]

This means that the problem lies before or while parsing the cmd arguments.

[2022-08-27 19:08] drorata commented on #5130
That's a bold statement @januszm. I'm not sure what's meant by "this issue". In my case, using the newer version yielded a `Pipfile.lock` file which didn't contain the "markers" and I was able to build the docker image without warnings.

[2022-08-27 20:29] oz123 commented on #5280
Thanks!

[2022-08-27 20:29] #5280 closed

[2022-08-28 01:47] matteius commented on #3417
I think there are two primary things we can do to improve performance overall:
1.) batch up the installs in `batch_install` instead or writing a temp file per requirement and passing that into a separate pip subprocess -- there is already a working prototype PR for this (the implication is we drop the status bar):  https://github.com/pypa/pipenv/pull/5301
2.) We can allow more pypi servers than ju

[2022-08-28 02:32] #5296 closed

[2022-08-28 08:48] cclauss commented on #4660
Would it be possible to create a command-line option `--use-local-pip` that causes `pipenv` not to use the vendored `pip`?  Or a `--remove-markers-from-diff` option that implements https://github.com/pypa/pipenv/issues/4660#issuecomment-808745368

These overly chatty diffs are slowing down code reviews.

[2022-08-28 11:09] matteius commented on #4660
@cclauss how would the `--use-local-pip` cause it to be less chatty? -- I think it would be more chatty because there would be more versions of pip in use for a project across users which would cause the markers to be different.  I'm not a big fan of user installed pips because it has created its own share of issues, plus for locking we never did use local pip, the resolver has always been vendor'

[2022-08-28 12:55] matteius opened #5303 "Why is the `test_convert_deps_to_pip` flaky, especially on Mac OS?"
I am considering we should skip this test so we don't appear to have broken CI builds 90% of the time, and use this ticket to document the fact we still need to understand why this test sometimes fails on Mac OS CI.

### Issue description
Example:  https://github.com/pypa/pipenv/runs/8057466423?check_suite_focus=true

FAILED tests/unit/test_utils.py::test_convert_deps_to_pip[deps0-requests] - A...

[2022-08-28 12:56] matteius commented on #5159
@qi55wyqu Can you recheck with latest `pipenv`?

[2022-08-28 16:01] Kevin-Robbs commented on #5052
If you go to C:\Users\_username_\.virtualenvs and delete the folder, you can start another virtual environment in the same folder. You will just have to install all the modules again

[2022-08-28 21:57] matteius commented on #5303
@dqkqd I was digging into this locally, and I discovered that one of the test cases you added `test_get_constraints_from_deps` doesn't appear to run in the CI:  https://github.com/pypa/pipenv/runs/8054256358?check_suite_focus=true

I ran it locally in pycharm, and one of the test cases fail, specifically:  `({"FooProject": {"path": ".", "editable": "true"}}, []),`
I get this error:
[code]

Seems m

[2022-08-28 22:02] #4553 closed

[2022-08-28 22:05] matteius commented on #4812
@marsfan This should work now for editable dependencies that depend on each other for the latest pipenv version, but for this case, you likely need to add both packages as editable to the `Pipfile` to work.

[2022-08-28 22:07] matteius commented on #5303
I suspect that test failure is expected based on: https://github.com/sarugaku/requirementslib/issues/306
and https://github.com/pypa/pipenv/issues/4900

[2022-08-28 22:19] matteius commented on #5303
Actually though it did run and passed in the CI, I just wasn't searching the test output properly.  I am confused on this one.

[2022-08-28 23:18] matteius commented on #5303
https://github.com/pypa/pipenv/pull/5305/files

[2022-08-29 00:02] tonydattolo commented on #2538
@matteius having same error as @edzy16 on local Ubuntu 22.04 after upgrading from 20.04 and updating pip/pipenv/clearing cache with pipenv --clear. python 3.10 issue?

[2022-08-29 00:16] matteius commented on #2538
@tonydattolo I haven't seen this issue on python 3.10 personally, but could you provide additional details, stack trace, etc?   Its possibly there is still an edge case that could be figured out.

[2022-08-29 00:46] PythonCoderAS commented on #5052
That is equivalent to `pipenv --rm`.

[2022-08-29 00:50] edzy16 commented on #2538
@matteius my issue still remains the same

[2022-08-29 00:51] matteius commented on #2538
Surely the stack trace changed, I checked one of those lines on the latest version and it's a comment.

[2022-08-29 12:15] dqkqd commented on #5303
I would love to join slack group.

About the `test_get_constraints_from_deps `, I tested in my laptop, it passed all 7 cases.
The packages template `"FooProject": {"path": ".", "editable": "true"}` I took from https://github.com/pypa/pipfile#pipfile

[code]

[2022-08-29 12:38] mstdokumaci opened #5307 "Failed parsing requirement error for local dependency"
Release https://github.com/pypa/pipenv/releases/tag/v2022.8.24 introduces a bug about resolving local dependencies with a relative path.

Our setup has a local dependency described as `{path = "./shared", extras = ["models", "auth0"]}` in Pipfile.

`pipenv install` throws error: `pipenv.vendor.requirementslib.exceptions.RequirementError: Failed parsing requirement from './shared#egg='`

reverting

[2022-08-29 13:06] matteius commented on #5307
@mstdokumaci   I see what you mean about this example, it may be a new requirementslib--however, if you add `editable = "true", ` to your local dependency it appears to work.  Here was the stack trace I got without having `editable = "true", `
[code]

[2022-08-29 13:14] matteius commented on #5307
I may have found where I caused the bug in `requirementslib` but I need to let the whole test suite run to see if I wasn't trying to fix a different issue.

[2022-08-29 14:58] matteius commented on #5303
@dqkqd Try joining the slack group here:  pythondev.slack.com
Otherwise you can email me and I'll request you be added via email.

[2022-08-30 12:59] hq9000 commented on #3598
Sorry for being 3 years late to the party, but I have to point out that above reply doesn't actually answer the question.

what the OP meant, I think, is a way to tell, in advance, whether .lock is older than the Pipfile itself (for example, to fail the build as this would silently make the build non-determinstic).

The closest solution I found is to use `pipenv install --deploy`, this will fail i

[2022-08-30 14:15] antoniomika commented on #5273
In `pipenv, version 2022.8.24`, we're still seeing a deprecation notice with extras in the constraints:

[code]

And failures occurring if a file was used to install a package (which from what I can tell, is still supported). `pip-compile` seems to have a `--strip-extras` flag (something similar might be the proper solution?) but we still have the failing installs when using a file configuration s

[2022-08-30 14:19] AliEslah commented on #1377
sudo apt uninstall pipenv

[2022-08-30 14:27] matteius commented on #5273
@antoniomika Is the file nor marked editable = "true" in the `Pipfile`?   We spotted a bug with `#egg` fragment getting appended to some file installs ... expecting a new release soon that fixes that.   Do you have a stack trace?

@dqkqd Could you look into that `PipDeprecationWarning` when you get a chance?

[2022-08-30 14:40] antoniomika commented on #5273
Here's the stacktrace we were seeing:

[code]

We don't have `editable` set to true either, but I imagine that is also an issue with the new pip resolver.  Here's the three that could cause a deprecation (or failure):
[code]
from [here](https://github.com/pypa/pip/blob/7aa49dda6959dba1d70e0640968cd235eee70472/src/pip/_internal/req/req_install.py#L856). Let me know what else I can do to help!

[2022-08-30 14:43] dqkqd commented on #5273
I see, function `check_invalid_constraint_type` is used to check if a package is valid as a constraint.
https://github.com/pypa/pipenv/blob/0d8662977a3b2bcb57bf551a21ce1681ad0763a6/pipenv/utils/dependencies.py#L281

That `check_invalid_constraint_type` throws out the warning even we are not using invalid package as constraint.
https://github.com/pypa/pipenv/blob/0d8662977a3b2bcb57bf551a21ce1681ad0

[2022-08-30 14:45] antoniomika commented on #5273
`pip-compile` seems to just [strip the extras](https://github.com/jazzband/pip-tools/blob/bf0a669339835e6d17873fe66afb5e32373279d5/piptools/utils.py#L456) from a constraint file, which should be okay.

Unnamed reqs (files) and editable ones might be a different story.

[2022-08-30 14:59] matteius commented on #5273
I don't think we need to rewrite the pip function, I think its actually warning us of valid errors.   I think the issue is that we need to filter out certain requirements from the `Pipfile` if they are constraints, because it ends up confusing the resolver if they get included.  Probably for the extras we can do something like:
[code]

[2022-08-30 15:06] dqkqd commented on #5273
Because all of the packages from `[packages]` will be put into that function to filter out `non-constraint` packages. So if there is, for example editable package in `[packages]`, the warning messages will be thrown out. But of course, those `non-constraint` packages are not used in constraint-file.

[2022-08-30 15:17] matteius commented on #5273
@dqkqd I see what you mean now, we are using that method to filter them out already, but thats causing the emitting of a deprecation warning because that method seems to expect that data was already cleaned -- probably we should just have our own method for this like you were suggesting, be it a similar copy or a simplified refactor.

That begs the question of what is causing resolution failures f

[2022-08-30 15:25] antoniomika commented on #5273
It was a package fork with some additions from a PR. Here's the line:

[code]

[2022-08-30 15:38] matteius commented on #5273
@antoniomika It would appear you must have a conflicting requirement with something that specific zip requires, because I can install it with requests by themselves:

[code]

[2022-08-30 15:41] antoniomika commented on #5273
@matteius interesting. I went down that route and couldn't find anything specific. I also found `pipenv==2022.8.5` works fine (prior to the constraint changes) which brought me here.

I'll keep digging, but at the least the deprecation fix would still be a nice to have.

[2022-08-30 15:45] matteius commented on #5273
@antoniomika are you locking dev dependencies?

[2022-08-30 15:46] antoniomika commented on #5273
We have both. I'm running a pipenv update.

[2022-08-30 15:52] matteius commented on #5273
@antoniomika There may be a package shared between default and dev that are on conflicting versions?

[2022-08-30 17:03] tonydattolo commented on #2538
` ~#@❯  pipenv --version                                                                                                                                                                                                   ❮  1s 807ms    
Traceback (most recent call last):
  File "/usr/local/bin/pipenv", line 8, in <module>
    sys.exit(cli())
  File "/usr/lib/python3/dist-packages/pipenv/vendor/cl

[2022-08-30 17:56] antoniomika commented on #5273
@matteius not that I know of, but I'm doing a deeper dive now. I have confirmed everything works fine with the older version but I'll update you once I know more.

[2022-08-30 19:40] MFES10 commented on #5052
The same thing happened to me in Windows 10. The problem was that the "Windows Defender" antivirus blocked access to folders or files to not allow modifications by hostile applications. The function is called "Controlled Access to Folders" and it has to be disabled otherwise the virtual environment cannot be created correctly.
Once disabled, you should check if you have a virtual environment with

[2022-08-30 19:55] rfow-dlpx commented on #5052
Much appreciated!

[2022-08-30 21:37] matteius commented on #5273
@antoniomika if you see two package with the same name in the `Pipfile.lock` one in dev, and one in default, that might be a good indicator.

[2022-08-30 21:42] matteius commented on #5307
pipenv, version 2022.8.30 has been released.

[2022-08-30 21:43] matteius commented on #5296
pipenv, version 2022.8.30 has been released.

[2022-08-30 21:46] matteius commented on #5288
I wonder if your virtualenv was just created on a much older version?  Can you try upgrading to pipenv, version 2022.8.30 and then re-create your virtualenv with `pipenv --rm` and then `pipenv sync` and `pipenv sync --dev` if you need dev dependencies?

[2022-08-30 22:04] oz123 opened #5310 "Replace package pipfile with plette"
[plette](https://github.com/sarugaku/plette/) has all the abilities of [pipfile](https://github.com/pypa/pipfile) and more.
The API is identical.
Also, pipfile isn't really maintained anymore. Hence, we should drop it, and use plette instead.

[2022-08-31 00:10] gitpushdashf commented on #4660
I don't think this is fixed, unfortunately.

I ran locking once with the new 2022.8.30 version. I ran it again, and the lock file was the same.

However, the third time, I did get a difference:

[code]

[2022-08-31 09:29] dcriado commented on #5075
I was getting the same `FileNotFoundError` alongwith two `PkgResourcesDeprecationWarning`.

<details>
<summary>See warnings</summary>

[code]
</details>

Searching for the origin of those warnings, I stumbled upon this [StackOverflow question](https://askubuntu.com/questions/1406952/what-is-the-meaning-of-this-pkgresourcesdeprecationwarning-warning-from-pipenv). Following the accepted answer, I do

[2022-08-31 10:18] mtreffert-bhs commented on #5270
Writing the mirror into Pipfile.lock might not always be sufficiant, e. G. if the mirror-link contains a token. Then the Pipfile.lock cannot be added to version-control anymore without leaking sensitive information.

In my opinion it makes totally sense, that `pipenv requirements` just overrides the mirror if the parameter is passed or the environment-variable is set, no matter if it locks before

[2022-08-31 10:47] Albertosimplee commented on #5052
This is my solution, change for name the enviorment create

[2022-08-31 11:00] dqkqd commented on #5270
`pipenv requirements` have to resolve dependencies to generate correctly requirements. It should either resolve by itself, or depend on `Pipfile.lock`, so locking before generate requirements makes sense.

Even if we pass in a mirror, I think it should not overrides without knowing if that mirror is valid or not.

And we could use environment variable inside `Pipfile.lock`, so no sensitive informa

[2022-08-31 11:13] mtreffert-bhs commented on #5270
Actually the environment-variable is the solution that i currently use as a "workaround". I works, but i still think that overriding is legitimate, when it is explicitely passed through the parameter.

[2022-08-31 11:16] matteius commented on #5270
We cannot allow credentials into the Pipfile and Pipfile lock for security reasons.  See also #5298 because we just did something similar there to only pull in the index unredacted if the credentials are not revealed.

[2022-08-31 11:58] matteius commented on #5033
@Tlaloc-Es I just tried an example, granted its not 1:1 because my example doesn't have auth, but I used an environment variable as the domain and it locked fine, which leads me to believe it should work for you if you do: `url = "https://${GITLAB_USER}:${GITLAB_TOKEN}@gitlab.com/api/v4/projects/projectId/packages/pypi/simple"`

Assuming that the rest of the URL is correct and those environment va

[2022-08-31 12:01] matteius commented on #5270
@mtreffert-bhs Can you explain how you use the environment-variable workaround so that I have a better understanding of the current behavior?

[2022-08-31 12:04] matteius commented on #5282
@danjamesmay I am wondering if you have any feedback for me on my approach of implementing this -- specifically in my example you would pass something like `pipenv install --extra-pip-args="--use-feature=truststore --proxy=test" requests`

I want to make sure that this is going to work for you and this general use case before I add the necessary documentation and look into new tests.

[2022-08-31 12:06] #5277 closed

[2022-08-31 12:19] matteius commented on #5212
The newest version of pipenv is searching for python3 before python, this also helps in some cases.   @ITR13 I noticed in your last reply that you said the issue kind of went away for you?   Is there something actionable remaining that we should do related to this ticket?

[2022-08-31 12:25] matteius commented on #5074
We had a new release yesterday, more general fixes which includes looking for python3 over python.  Wondering if anyone has an update on this particular issue?  I still note that it seems odd the OP was finding a python 2 version of the package, so maybe the python finder was getting confused and resolving the wrong version of something -- I am hopeful this is resolved or if not we can get more de

[2022-08-31 12:47] Ghost4Man commented on #4334
This bug is still present in `pipenv-2022.8.30`... Maybe it's something to do with the `ignore_unsupported` flag in `pythonfinder`? I tried setting the environment variable `PYTHONFINDER_IGNORE_UNSUPPORTED` to true, but that didn't work either.

[2022-08-31 12:53] matteius commented on #4925
I am opening a PR for this that uses `NamedTemporaryFile` and drop the environment variable -- got it working locally.

[2022-08-31 12:58] matteius commented on #4334
@Ghost4Man please open a new issue report with more details.   We did solve some finder issues but there may be more.

[2022-08-31 12:58] #4334 closed

[2022-08-31 13:03] matteius commented on #4925
The generation and resolution are not in the same process -- pipenv's resolver is invoked as a subprocess.  That is why a NamedTemporaryFile is important for the duration that the resolver process gets spun up.

[2022-08-31 21:37] #4925 closed

[2022-08-31 22:51] oz123 commented on #5187
I already removed\bumped  a few vendored libs which pulled six.
We now only have plette and pipfile which pull it.

[2022-08-31 23:52] #2635 closed

[2022-09-01 10:44] matteius commented on #356
We have done some performance enhancements to pipenv in recent times, including a big install optimization which released 2022.8.31. For an independent comparison of benchmarks, please have a look at: [lincolnloop.github.io/python-package-manager-shootout](https://lincolnloop.github.io/python-package-manager-shootout/)

[2022-09-01 10:46] matteius commented on #3827
We have done some performance enhancements to pipenv in recent times, including a big install optimization which released 2022.8.31. For an independent comparison of benchmarks, please have a look at: [lincolnloop.github.io/python-package-manager-shootout](https://lincolnloop.github.io/python-package-manager-shootout/)

For new issues related to performance:  open a new issue report.

[2022-09-01 11:21] matteius commented on #4660
@gitpushdashf I've run `pipenv lock` on the pipenv project several times on the new `2022.8.31` and haven't seen the markers change yet -- wondering if you could check again?

[2022-09-01 12:19] matteius commented on #5153
@Tlaloc-Es  Can you check with `pipenv=2022.8.31`?

[2022-09-01 12:21] matteius commented on #4909
@jfly sorry for being dense but is this still an issue?

[2022-09-01 12:21] matteius commented on #4970
This should be fixed in `pipenv==2022.8.31`

[2022-09-01 15:28] antoniomika commented on #5273
@matteius I was able to find the constraint that was the issue, there were two different versions. Is it possible to get that information outputted as an error?

I'm now seeing this issue with a different package:
[code]

I outputted the actual constraint and it doesn't look like a name is associated with it (the output is above). Not sure if that's something that needs to be fixed or is another p

[2022-09-01 15:29] sepsallao commented on #5208
I am using WSL2 Ubuntu 18.04

By just checking the version, I also get this error:

[code]

[2022-09-01 15:33] matteius commented on #5273
That looks like a possible bug, somehow the Install requirement name is None.  I'll think more about it.  Cc @dqkqd

[2022-09-01 15:58] mstdokumaci commented on #5307
https://github.com/pypa/pipenv/releases/tag/v2022.8.31 has broken it again.

[2022-09-01 16:20] matteius commented on #5307
@mstdokumaci Can you clarify, was it working in `2022.8.30` and then `2022.8.31` broke?  What broke exactly?  Only thing I can think related would be we fixed a different issue in requirementslib that is related code path:  https://github.com/sarugaku/requirementslib/pull/342/files

[2022-09-01 16:30] dqkqd commented on #5273
Yes, it's from the commit d33f4ec541bfb814be38539984ebcd6ca6035ad5.
I didn't aware that Install Requirement name could be ``None``.  To suppress this error, there's a dirty fix:
[code]

At first, I thought package name are unique. Turn out I was wrong, when there are multiple `no-name` packages, they will be duplicated.
Now I'm not sure if just using name as sort criteria is stable in that case. I

[2022-09-01 16:38] antoniomika commented on #5273
Does making the name the url not solve the issue as well (and removes the duplicate issue)? That wouldn't necessarily solve all cases though.

[2022-09-01 16:52] mstdokumaci commented on #5307
@matteius this time the error is:
`ERROR: Can't verify hashes for these file:// requirements because they point to directories` on local dependencies.

`2022.8.30` works fine.

[2022-09-01 17:45] matteius commented on #5273
@dqkqd we had a report that the constraints issue was not solved even with your change:  https://github.com/pypa/pipenv/issues/4660#issuecomment-1232298191

I am going to open a PR to revert this since based on the prior report:  https://github.com/pypa/pipenv/pull/5299/files

I also did some sorting in this PR yesterday but I think these are only pip constraints that get passed this way:  https:/

[2022-09-01 17:48] matteius commented on #5307
@mstdokumaci Can you share what the Pipfile and Pipfile.lcok looks for for the requirement that is failing to install?   Does it have hashes in the lock file or no?  I wonder if there is an edge case on this optimization where your editable install is getting included with the standard install dependencies phase.  Is it not marked `editable = "true"`?  https://github.com/pypa/pipenv/pull/5301/file

[2022-09-01 18:07] dqkqd commented on #5273
I knew the root of this issue now, sorting or not isn't the problem. It's the constraints with `name` is `None` is passed into resolver. Somehow this package `django-redis = {file = "https://github.com/antoniomika/django-redis/archive/4.12.2.zip"}` passed the check `is_constraint` but have the name is `None`.

[2022-09-01 18:09] antoniomika commented on #5273
(for reference, the fork I had was unneeded and I removed that dependency in favor of the upstream version. The latest issue I had was with `channels-rabbitmq = {file = "https://github.com/antoniomika/channels_rabbitmq/archive/v1.3.2.zip"}`)

[2022-09-01 18:12] matteius commented on #5273
@dqkqd Is it the is_constraints method do you think?  If so I suspect we could also check if the InstallRequirement does not have a name in your `is_constraints` check.  Also I see there is also a spot in requirementslib that does a weird is_constraint check:  https://github.com/pypa/pipenv/blob/main/pipenv/vendor/requirementslib/models/dependencies.py#L241

[2022-09-01 18:39] dqkqd commented on #5273
Yes, I think it's the bug in `requirementlib`. Actually the  result from `new_dep.as_line()` at line 284.
https://github.com/pypa/pipenv/blob/f04071c52f09015758cd3eab68fae0542c4325aa/pipenv/utils/dependencies.py#L274-L286

For example:
if I passed in the packages `django-redis = {file = "https://github.com/antoniomika/django-redis/archive/4.12.2.zip"}` the output I expected is `django-redis @ http

[2022-09-01 18:52] dqkqd commented on #5273
Or maybe I'm wrong, `PipDeprecationWarning` says `Constraints are only allowed to take the form of a package name and a version specifier` so it should not containts url. In that case we could easily fix that by using `new_dep.is_named`.
[code]

But the [documentation](https://pip.pypa.io/en/latest/user_guide/#constraints-files) does not say that. So maybe it could have url as constraints? I tried

[2022-09-01 19:53] mattthaber opened #5319 "Dependency Import Broken starting with v2022.08.31"
### Issue description

Starting with 2022.08.31 dependency installs have started breaking for a single package we install. This was working for all version prior to 2022.08.31, and has as a result of not pinning pipenv, broken all our pipelines.

Package: `yajl-py`

### Expected result

[code]

### Actual result

[code]

### Steps to replicate

**Pipfile**
[code]

**Pipfile.lock**
[code]
# Pipenv

[2022-09-01 20:10] matteius commented on #5319
@mattthaber I am unable to lock your `Pipfile` example with both `2022.8.30` and `2022.8.31` -- also noticed your support output says `2022.8.15`.

[2022-09-01 20:20] mattthaber commented on #5319
hmmm, so 2022.8.15 was just the local one i had , but i had tested with 2022.8.30 and it also worked.

<details><summary>$ pipenv --support</summary>

Pipenv version: `'2022.8.30'`

Pipenv location: `'/Users/mhaber/.pyenv/versions/3.10.4/lib/python3.10/site-packages/pipenv'`

Python location: `'/Users/mhaber/.pyenv/versions/3.10.4/bin/python3.10'`

OS Name: `'posix'`

User pip version: `'22.2.2'`

[2022-09-01 20:24] matteius commented on #5319
I was able to sync with your lockfile on `2022.8.30` and I see where the problem is -- apparently the setup.py of `yajl-py` is importing files from itself and causing itself to import from six during the install phase.   You were getting lucky prior because the pip installs happen serially and so six would get installed before yajl-py.  Now the same pip process is trying to do all of the packages

[2022-09-01 20:28] matteius commented on #5319
[code]

[2022-09-01 22:14] mattthaber commented on #5319
ahhh ok makes sense then. we will resolve it on our end to get around then.

i really appreciate the quick response and help investigating!

[2022-09-01 22:14] #5319 closed

[2022-09-01 23:00] matteius commented on #5307
@mstdokumaci I think this change will solve the issue you are seeing -- are you able to check your issue against this branch?  https://github.com/pypa/pipenv/pull/5320

[2022-09-02 00:01] thehesiod commented on #5130
I think it really needs to be one lockfile per platform because of stuff like: https://github.com/pandas-dev/pandas/blob/v1.4.3/setup.cfg#L33, which each platform has a different version requirement.  Otherwise locks would have to munge a single lockfile which could prove problematic due to competing requirements

[2022-09-02 00:41] thehesiod commented on #5130
I think it's worth looking at the poetry file format for this type of scenario:
[code]
along with
[code]

that way multiple versions are supported, with each platform getting what it requires

[2022-09-02 08:20] mstdokumaci commented on #5307
I have already fixed the version to 2022.8.30 in all dockerfiles where we install pipenv. By the looks, #5320 seems to fix it. But it will be much easier for me to validate by the next release.

[2022-09-02 08:24] matteius commented on #5273
@dqkqd  I found this interesting and has a lot of context:  https://github.com/pypa/pip/issues/8210

[2022-09-02 08:46] matteius commented on #5303
Ok the tests have been passing since I made this change to the tests:  https://github.com/pypa/pipenv/commit/46f8c863e0611e4b300926c5f51a5a49adb230bc

What I discovered is that requirementslib will inspect into a directory named requests to find the setup.py version info and the test that I skipped is likely the biggest culprit of this because it copies in the requests tarball and extracts it.   W

[2022-09-02 10:02] randomcatgamer opened #5322 "pipenv sync --dev fails with ERROR: Can't verify hashes for these file:// requirements because they point to directories"
Am running pipenv sync inside a docker image built on top of python:3.9.2-alpine3.13.
Though nothing notable changed within the last week, I am suddenly getting failed dependencies installation for custom package that is referenced inside the pipfle.
`[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mkdocs = "*"
mkdocs-mermaid2-plugin = "*"
mkd

[2022-09-02 11:37] #5273 closed

[2022-09-02 14:04] matteius opened #5324 "trivial news fragments aren't getting added to the CHANGELOG.rst"
trivial news fragments aren't getting added to the CHANGELOG.rst when generating a release.   I noticed this a few times now; finally ticketing it.

[2022-09-02 14:18] matteius commented on #4660
@dqkqd are you able to reproduce it with `pipenv==2022.9.2`?

[2022-09-02 14:53] dqkqd commented on #4660
Yes, it still happens. I created a docker repo for this.
[code]

results:
[code]

[2022-09-02 22:07] alexkahn-tempus opened #5326 "Installing from tarball fails on 2022.09.02"
### Issue description

Whilst installing via `RUN PIPENV_VENV_IN_PROJECT=1 pipenv install --deploy --verbose`

I have a requirement: `en-core-sci-md = {file = "https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_md-0.4.0.tar.gz"}`

But it does not appear in my virtualenv upon:

[code]

### Expected result

I expected my docker image to have a dependency in the appropriat

[2022-09-03 08:32] ITR13 commented on #5212
There's still the issue of pipenv --support only listing 2 python installations, but for installation it now works, yes. It's possible it stored which python executable I used after I forced it to use python 3.8 (I haven't uninstalled and reinstalled since it's working).

[2022-09-03 10:09] NFSpeedy commented on #4925
Thank you, but we switched to poetry four months ago. I hope other teams find it useful.

[2022-09-03 10:27] matteius commented on #4925
Ah, I understand--I wish I had gotten to this issue sooner.  Well good luck with everything and thanks for the report, it was a real problem.  We'll be continuing to improve pipenv and reduce tech debt so that new issues don't take so long to address.

[2022-09-03 10:41] matteius commented on #2207
Funny story, I came to a similar conclusion recently @Tenzer without realizing it -- I worked on a performance optimization for batch_install which cut our install time in the python package manager shootout benchmark in half.  https://github.com/pypa/pipenv/pull/5301
Ref:  https://lincolnloop.github.io/python-package-manager-shootout/

It did require dropping the progress bar, but the actual prog

[2022-09-03 11:42] matteius commented on #5326
Thanks for the report @alexkahn-tempus -- I see what the issues are, and opened a PR.   Gitlab is doing mainteance so I'll try to run the checks again later.  https://github.com/pypa/pipenv/pull/5327

[2022-09-03 11:53] matteius commented on #5202
@smac89 I haven't seen these warnings in over a month -- I think there was something up with one of the prior versions of pip, perhaps `22.1.2`  (we are on latest 22.2.2 now) or maybe something else back in July causing this.   If we see this issue crop up again we can re-open or cut a new ticket, but at this time I am not sure of anything actionable for this.

[2022-09-03 11:53] #5202 closed

[2022-09-03 11:58] matteius commented on #4808
I perhaps misunderstood this issue prior, or well it at least relates to a PR I started working on:  https://github.com/pypa/pipenv/pull/5297

[2022-09-03 12:06] #4977 closed

[2022-09-03 12:09] #5221 closed

[2022-09-03 12:10] matteius commented on #5221
Closed in favor of:  https://github.com/pypa/pipenv/issues/5167