[2017-01-20 05:13] rmad17 opened #1 "Feature Request - manage dependencies"
This is one feature I desperately want. Many times after installing it becomes very difficult to find out dependencies installed by a package and they stay on. If this could be fixed it would be great.

[2017-01-20 19:41] kennethreitz commented on #1
this would be solved

[2017-01-20 22:59] #1 closed

[2017-01-20 23:00] kennethreitz commented on #1
Not a problem with pyenv — only things you explicitly install are added to `Pipfile`, and if there are sub-dependencies, they are added to `Pipfile.freeze` when `freeze` is run.

[2017-01-20 23:17] kennethreitz opened #2 "Shell=True bug"
Need to parameterize `pip install` step.

[2017-01-20 23:18] kennethreitz opened #3 "Support for editable installs"
Currently, we cannot convert a `pip install -e ....` to `Pipfile`'s format.

[2017-01-21 15:16] aitoehigie opened #6 ""pip install pipenv" failure"
I run linux Mint and running "pip install pipenv" fails with this error

"""
File "/usr/local/lib/python2.7/dist-packages/pipenv/core.py", line 11, in <module>
    import _pipfile as pipfile
ImportError: No module named _pipfile

"""

I had to manually copy the _pipfile directory to my dist-packages/pipenv/ for it to work

Has anyone else experienced this too?

[2017-01-21 15:47] jpadilla commented on #6
Can confirm, no `_pipfile` in release.

[code]

[2017-01-21 19:33] kennethreitz commented on #6
this should now be fixed!

[2017-01-21 19:33] #6 closed

[2017-01-21 19:33] kennethreitz opened #8 "consider moving to virutualenvwrapper"

[2017-01-21 22:32] #2 closed

[2017-01-21 22:32] kennethreitz opened #9 "remove init step"
in favor of "install" step

[2017-01-21 22:44] aitoehigie commented on #6
yes

[2017-01-21 23:01] ryanhiebert opened #10 "Consider using pew to activate virtual environments"
I've been using it via the `pew` package, which fills roughly the same niche as virtualenvwrapper, but using the inve approach. My own experience finds it vastly superior to the script-sourcing approach. Explained simply, it starts a subshell instead of changing the current shell. That means de-activating an environment is as simple as the standard `exit` command in your shell.

https://gist.githu

[2017-01-22 02:11] #9 closed

[2017-01-22 06:01] fruch opened #11 "pipenv install -r requirements.txt"
So we could easily migrate for pip based only setup ?

[2017-01-22 06:03] fruch opened #12 "Plugin for setup.py / setuptools"
So we we can convert the pipfile to setup.py requirements (maybe this belongs in the pipfile project ?)

[2017-01-22 09:05] SergeyPirogov opened #13 "pipenv fails right after install"
I have Ubuntu 14.04

[code]

Tried to install popen_spawn manually

[code]

[2017-01-22 15:07] jpadilla commented on #13
this should be already fixed by `pipenv==0.1.13`

[code]

[2017-01-22 17:59] kennethreitz commented on #13
Correct!

[2017-01-22 17:59] kennethreitz commented on #12
No, this is for application deployments.

[2017-01-22 17:59] #12 closed

[2017-01-22 22:54] kennethreitz commented on #11
Added!

[2017-01-22 23:02] fruch commented on #11
You're quick...

[2017-01-22 23:04] fruch commented on #11
A bit naive implementation..., does pip have some function that can be used ? or copied ?

[2017-01-22 23:05] kennethreitz commented on #11
this works well, for now... need to remove lines that start with a `#`

[2017-01-22 23:07] fruch commented on #11
Maybe this can be used ?
https://github.com/davidfischer/requirements-parser/blob/master/README.rst

[2017-01-22 23:08] fruch commented on #11
Can help in converting to pipfile systanx of VCS based requirements

[2017-01-22 23:08] kennethreitz commented on #11
No need for that, unless it supports `--editable`

[2017-01-22 23:20] kennethreitz commented on #10
Investigate pew https://github.com/berdario/pew

[2017-01-22 23:20] #8 closed

[2017-01-22 23:29] kennethreitz opened #14 "-2 / -3 options for specifying python version"

[2017-01-22 23:51] kennethreitz commented on #11
using it now! much better :)

[2017-01-23 00:13] #11 closed

[2017-01-23 00:13] kennethreitz commented on #3
Done!

[2017-01-23 00:14] kennethreitz commented on #14
done!

[2017-01-23 00:14] #14 closed

[2017-01-23 00:14] kennethreitz commented on #14
- ```$ pipenv --three``` will initialize the environment with a Python3 interpreter.
- ```$ pipenv --two``` will initialize the environment with a Python2 interpreter.

[2017-01-23 01:06] jpadilla opened #15 "Use venv instead of virtualenv if available"
I'm wondering if it's worth using [`venv`](https://docs.python.org/3/library/venv.html) if available instead of `virtualenv`. That would also skip having to install `virtualenv` in the first place.

[2017-01-23 02:11] brucechou1983 opened #16 "Option for skip creating new venv locally"
I want to manage my venvs by centralized pyenv-virtualenv so that I can easily share a venv across multiple projects. Is there any chance to add an option for skip creating new venv locally and use current env instead? Thanks!

[2017-01-23 03:00] kennethreitz commented on #16
that's what the `--system` option is for.

[2017-01-23 03:58] #16 closed

[2017-01-23 03:58] kennethreitz commented on #16
i think this is out of scope for now

[2017-01-23 03:59] kennethreitz commented on #15
i don't think so, i prefer using the virtualenv command personally

[2017-01-23 03:59] #15 closed

[2017-01-23 04:01] kennethreitz commented on #10
i think we have all the benefits of this with the current `$ pipenv shell` command.

[2017-01-23 04:43] aisk opened #17 "support more shells (fish / csh / bash / powershell)"
I'm using fish and looks pipenv works fine without shell command:

[code]

Seems it is trying to active the virtualenv with `bin/active`, but virtualenv also support fish via `bin/active.fish`, i think we can source it while detected current shell is fish.

And also, i think pipenv dose not support csh / cmd.exe now...

[2017-01-23 05:07] ryanhiebert commented on #17
FWIW, this is what inve is all about (#10), and is the reason that I was suggesting it.

[2017-01-23 05:41] kennethreitz commented on #17
adding fish support should be easy enough!

[2017-01-23 05:47] kennethreitz commented on #17
https://github.com/kennethreitz/pipenv/commit/24bbe10bafd49f3216f85e9129b9fe29f21222d9

[2017-01-23 05:51] kennethreitz commented on #17
released!

[2017-01-23 05:52] kennethreitz commented on #17
i don't have the ability to test powershell at the moment

[2017-01-23 06:07] kennethreitz commented on #17
csh supported, bash supported, fish supported

[2017-01-23 06:24] illume opened #19 "3.6 mac osx homebrew"
Hello,

I had these issues with python3.6 on OS X with homebrew python 3.6. It worked with 2.7.

[code]

[2017-01-23 06:26] kennethreitz commented on #19
By default, the `python` interpreter will be used to create the virtualenv.

to use `python3`, simply call `$ pipenv --three` in your project directory (you'll have to delete your `.venv` first).

[2017-01-23 06:29] #19 closed

[2017-01-23 06:36] uranusjr commented on #15
Maybe it’s possible to make both options co-exist though? Casually browsing through the source I don’t see anything specifically coupled with Virtualenv except the command used to create the env. Virtualenv can always be the default, but the user can (for example) pass `--venv` to creates `.venv` with `python3 -m venv` instead of `virtualenv`.

[2017-01-23 06:38] illume commented on #19
Ok, thanks. That works!

Could it use the sys.executable for which python interpreter to use? I guess someone will package it for the various distros eventually as pipenv3.6 etc.

I tried to run it as `python3.6 -m pipenv install` first, but noticed there is no \_\_main\_\_ for that.

[code]

[2017-01-23 06:45] illume opened #20 "Double (pipenv) added to shell?"
Notice the shell decoration gets overwritten with pipenv? However if I manually activate from the .venv it works as expected.

[code]

The line:
[code]
Should be:
[code]

I guess it could be something to do with my setup. Not sure. (osx, homebrew python 3.6).

[2017-01-23 06:46] kennethreitz commented on #20
I noticed that with Bash as well. Not sure why it's happening.

[2017-01-23 06:46] sametmax opened #21 "Provide a pipenv activate"
I realise right now your tool does not needs to activate any env (I actually like it, it makes it easier for beginers to get in) but I will use pipenv activate eventually.

I would like to suggest to get some inspiration from [pew](https://github.com/berdario/pew) for the virtualenv part. It has some nice benefits:

- it's pure Python and works with any shell, even in windows. No need for activati

[2017-01-23 06:47] kennethreitz commented on #21
I will definitely look into it. Right now, you can run `$ pipenv shell` and you will get a shell.

[2017-01-23 06:47] kennethreitz commented on #20
Ah, I think I know the source of this.

[2017-01-23 06:53] sametmax opened #22 "Integrate Pythonz"
Right now creating a virtualenv with a custom version of Python is harder than it needs to be: check if you have it installed, if now find the proper way to install it for your OS, then proceed to choose between the exe/conda/ppa/deb/homebrew solution according to your need and the specific version you want, then install and create the virtualenv with the proper command.

[pythonz](https://github.

[2017-01-23 06:54] kennethreitz commented on #22
I am open to this, but currently the design only requires that you have `python2` and `python3` installed on your machine, which every Python developer should have anyway.

[2017-01-23 06:55] kennethreitz commented on #20
fixed!

[2017-01-23 06:55] #20 closed

[2017-01-23 06:55] hobarrera opened #23 "Configurable virtualenv location"
As an `mkvirtualenv` user, there's one must-have feature that's become really important to me, and that's having a configurable (env variable?) default location for virtualenvs. Personally, I used `.local/share/virtualenvs`, but that's just a matter of preference.

Having them inside projects (repositories) is a bit annoying since lots of tools won't ignore them, disk-usage is harder to track, and

[2017-01-23 06:56] kennethreitz commented on #23
i'm definitely open to it in the future, but at the moment, i plan to keep the current implementation.

[2017-01-23 06:56] #23 closed

[2017-01-23 06:58] sametmax opened #24 "Provide a pipenv temp command"
Testing package is a something a Python dev do quite often. But you don't want to install it on your system, so you usually create a virtualenv for that, then discard it.

pew (yes again, sorry to bother you with it) has a command to create a temporary virtualenv. We would do:

`pipenv temp`

To get into a temporary virtualenv (you and the env being move automatically in the temp dir of your OS),

[2017-01-23 06:59] kennethreitz commented on #24
i think that's out of scope for this project. you can still use those other tools, of course!

[2017-01-23 06:59] #24 closed

[2017-01-23 07:00] sametmax commented on #21
You are on HN FP right now. Although you were with Maya as well, I sense this project will actually gather much more attention because, like request, it's providing something with not great current solution. It's already booming.

[2017-01-23 07:01] kennethreitz commented on #21
✨🍰✨

[2017-01-23 07:06] hobarrera commented on #23
Are you open to PRs for this at least?

[2017-01-23 07:07] kennethreitz commented on #23
i doubt i'll accept them, but i'll definitely take a close look at them!

[2017-01-23 07:07] paultiplady opened #25 "`pipenv install -r requirements.txt` fails with TypeError on pip-compile requirements file"
Running `pipenv install -r` on a requirements.txt file generated by pip-compile gives an error:

[code]

I've uploaded a [gist of the requirements file](https://gist.github.com/paultiplady/d140506dd03f11433d50d8add5772056).

[2017-01-23 07:09] kennethreitz commented on #25
looks like we'll need to use `codecs.open` for python3 here.

[2017-01-23 07:10] kennethreitz commented on #25
I would recommend installing it with python2 for now.

[2017-01-23 07:12] illume opened #26 "Run as a module with python -m pipenv"
This is something you can do with virtualenv and pip. pipenv is just missing the __main__.py file to do so.

[code]

However pipenv can't run as a module.
[code]

This is useful for running the script with different python interpreters in build scripts and such which use different python versions, or on different platforms where things like "pip3.6" do not exist.

[2017-01-23 07:13] kennethreitz commented on #26
i like this idea.

[2017-01-23 07:13] kennethreitz commented on #26
open to a PR!

[2017-01-23 07:19] illume commented on #26
Cooking something up then...

[2017-01-23 07:21] paultiplady opened #27 "Trailing comments cause parse error in `pipenv install -r requirements.txt`"
Running `pipenv install -r requirements.txt` on a file with trailing comments (such as those generated by `pip-compile`) gives the following error:

[code]

Looks like the requirements parser is just skipping lines which `startwith('#')` but looks like we need to be a bit more cunning to pluck out trailing comments.

[2017-01-23 07:22] kennethreitz commented on #27
open to a PR! Should be an easy fix.

[2017-01-23 07:23] kennethreitz commented on #27
Related: #25

[2017-01-23 07:35] sametmax opened #29 "Provide a way to find required deps from the code"
You will not always start with a fresh project. Sometime you will have a project that works but is not cleanly structured and you want to convert it.

Tools like [pipreqs](https://github.com/bndr/pipreqs) allow you to scan your project, find the import of 3rd party tools and turn them into a requirements.txt file.

We can imagine use case for pipenv:

- `pipenv finddeps` which does what pipreqs do

[2017-01-23 07:35] msztolcman opened #30 "--three doesn't work"
I have empty directory:

So install some module that requires Py3:

Above is line:

And in fact, there is virtualenv with python2 instead of python3.

My python3 version:

[2017-01-23 07:36] #29 closed

[2017-01-23 07:36] kennethreitz commented on #29
No.

[2017-01-23 07:37] micaiahparker opened #31 "virtualenv_location doesn't check if pipfile exists."
Causes line 29 in `project.py` to crash on the call to split if there isn't a pipfile.

[2017-01-23 07:37] kennethreitz commented on #30
just `$ pipenv --three`, no other arguments.

[2017-01-23 07:37] #30 closed

[2017-01-23 07:38] kennethreitz commented on #31
it should never be called without the file being present.

[2017-01-23 07:40] #31 closed

[2017-01-23 07:41] #26 closed

[2017-01-23 07:50] uranusjr commented on #17
Powershell support would be much involved because there are no environment variables to test. Testing `sys.platform == 'win32'` is not enough since Powershell and the Command Prompt uses different activate scripts. And aside from that Pexpect doesn’t even support `spawn` on Windows, so it won’t work anyway…

[2017-01-23 07:51] kennethreitz commented on #17
We may have to not support powershell then.

[2017-01-23 08:21] dotpot opened #32 "PermissionError: [Errno 13] Permission denied"
[code]

[2017-01-23 08:48] hnykda opened #33 "Fails to create an env using Anaconda prefix"
Hey,

nice work - is there any plan to use this as a default in Python?

I have a problem using this though. I have Anaconda installed - when I activate some environment and install `pipenv`, it fails to create env. Here is full example:

[code]
Some info about the system:
[code]

[2017-01-23 08:58] bobcyw opened #34 "Actually support other indexes."
In some place using pip's download speed is quite slow. So passing a mirror address to pip is very important.

[2017-01-23 13:36] cetanu commented on #34
I might be wrong, but you can specify the url in the Pipfile:

    [[source]]
    url = "https://pypi.org/"
    verify_ssl = true

[2017-01-23 14:53] rajalokan opened #38 "Better `pipenv --where` output when there is no virtualenv"
Presently if I run `pipenv --where` in a blank directory (i.e no existing virtualenv or Pipfile), the output isn't proper.

[code]

[2017-01-23 15:51] rajalokan opened #40 "`pip shell` doesn't prepend virtualenv name to bash prompt"
For bash shell, when I try activating virtualenv by `pip shell`, it doesn't prepend virtualenv name before bash prompt.

[code]
It might be my bashrc. Will wait till anyone confirms it. Thanks

[2017-01-23 16:11] ericfrederich opened #42 "Alternative installation support / instructions"
Many prefer to keep their OS Python install clean of any 3rd party packages.
For others it's not even a choice as they don't have `sudo` access.

It would be nice to have instructions for an unprivileged user to get pipenv on their `PATH` in some way.

This seems hacky but it seems to work...

### System with Python 3
[code]

### System with Python2 and virtualenv
[code]

[2017-01-23 16:16] jpadilla commented on #15
I'd honestly be relying solely on pipenv and wouldn't care if virtualenv or venv was been used, but figured we could leverage builtins when available.

[2017-01-23 16:24] caedn opened #43 "`pipenv install -r requirements.txt` ignores `-e .`"
It look like pipenv is silently dropping the line.

    pipenv shell
    pip install -r requirements.txt

works fine though.

https://github.com/pypa/pipfile/issues/50 is somewhat related as I'm not sure how I would specify `-e .` in a Pipfile.

[2017-01-23 16:27] andreif commented on #40
Typo `pipenv shell`. Works for me. What's your system etc?

[2017-01-23 16:31] andreif opened #44 "Pipenv should use package's original letter case"
`pipenv install django` installs `Django`, but in the Pipfile it becomes `django=*`.

[code]

[code]

[2017-01-23 17:53] sanscore commented on #22
I would advocate the opposite of this. `Pipenv`, to me, draws from Ruby's Bundler project which is different from `Pythonz`, `Pyenv`, etc. which are inspired by Ruby's `Rbenv` (`RVM`, Node's `NVM`, `Nix`, etc. etc. etc.).

I haven't checked yet, but I would suggest that the goal should be to only: "Play nicely with Pythonz, Pyenv, etc."

[2017-01-23 17:55] Silvus commented on #42
`pipsi install pipenv` ?

[Pipsi](https://github.com/mitsuhiko/pipsi/)

[2017-01-23 18:11] jessebraham commented on #40
OS X 10.11.6, and Zsh 5.0.8, `pipenv shell` works as expected, with the venv name prepended. Just for reference.

[2017-01-23 18:13] #38 closed

[2017-01-23 18:14] #27 closed

[2017-01-23 18:20] jessebraham commented on #17
One option, although I'm not sure how I feel about it, would be to first determine the system, and if `win32` is detected do feature detection to determine whether the shell was Command Prompt or Powershell.

[2017-01-23 18:27] kennethreitz commented on #43
Pipfile doesn't support `-e .` yet.

[2017-01-23 18:27] zackkitzmiller commented on #13
I can reproduce this on the current version (0.2.4)

[code]

[2017-01-23 18:28] kennethreitz commented on #13
hmm, that shouldn't be happening.

[2017-01-23 18:29] zackkitzmiller commented on #13
It seems like it was a conflicting version of `pexpect`. `pip uninstall pexpect; pip uninstall pipenv` followed by a `pip install pipenv` resolved this for me.

[2017-01-23 18:56] zackkitzmiller opened #47 "Unable to install `git` URLs with pipenv"
Running the command:

[code]

The value of `p` on project.py on line 90:

[code]

There is a `None` key in there.

[2017-01-23 18:57] kennethreitz commented on #47
Let's add a test for this

[2017-01-23 18:57] kennethreitz commented on #47
`$ pipenv install git+https://github.com/pyotp/pyotp.git@v2.0.1`

[2017-01-23 18:58] kennethreitz commented on #47
I think you need `egg=` currently

[2017-01-23 18:58] kennethreitz commented on #47
there's no way to know the name of the package otherwise

[2017-01-23 19:01] zackkitzmiller commented on #47
@kennethreitz Thanks, that got me moving for now.

[2017-01-23 19:01] kennethreitz commented on #47
closing for now, i thing eggs will simply be required

[2017-01-23 19:01] #47 closed

[2017-01-23 19:02] kennethreitz commented on #44
Proper Casing needs to be used at this time.

[2017-01-23 19:02] #44 closed

[2017-01-23 19:02] kennethreitz opened #48 "Fix casing for pip install django"

[2017-01-23 19:02] kennethreitz commented on #44
Opened #48 for this

[2017-01-23 19:02] #43 closed

[2017-01-23 19:03] kennethreitz commented on #42
I think sticking to what we have currently is best — this is a tool like pip.

[2017-01-23 19:03] #42 closed

[2017-01-23 19:05] kennethreitz commented on #32
cannot reproduce.

[2017-01-23 19:05] #32 closed

[2017-01-23 19:05] kennethreitz commented on #34
That feature currently isn't supported, actually. We need to get it working.

[2017-01-23 19:05] kennethreitz commented on #25
this should be fixed now

[2017-01-23 19:05] #25 closed

[2017-01-23 19:06] andreif commented on #44
I am totally confused now. Why Django only?

[2017-01-23 19:06] kennethreitz commented on #33
this is designed for clean python installations, not anaconda, at this time.

[2017-01-23 19:06] zackkitzmiller commented on #47
@kennethreitz Should the failure be more graceful? I wasn't sure exactly what to do.

[2017-01-23 19:06] #21 closed

[2017-01-23 19:07] kennethreitz commented on #40
I need to play around with bash, but it seems to be working fine on my machine.

Can someone play around with it? The lines in question are here:

https://github.com/kennethreitz/pipenv/blob/master/pipenv/cli.py#L445-L447

[2017-01-23 19:08] kennethreitz commented on #40
If source is sent in, two prompts are present in bash.

[2017-01-23 19:11] andreif commented on #22
`Pipenv` works fine with `pyenv` as far as I tested (`py3`). Should be straightforward to test with `pypy` etc.

[2017-01-23 19:14] jpadilla commented on #40
[code]

[2017-01-23 19:16] kennethreitz commented on #48
Added something to the README for now

[2017-01-23 19:16] kennethreitz commented on #34
Added something to the README for now

[2017-01-23 19:20] jpadilla commented on #34
Should we just forward all of these?

[code]

[2017-01-23 19:20] jpadilla commented on #48
Can we just lowercase all package names?

[2017-01-23 19:20] kennethreitz commented on #34
Let's just start with `-i` and assume it's always present in the `Pipfile`.

[2017-01-23 19:22] kennethreitz commented on #48
maybe...

[2017-01-23 19:22] kennethreitz commented on #48
That feels less proper to me

[2017-01-23 19:22] kennethreitz commented on #48
but it would work well

[2017-01-23 19:26] kennethreitz commented on #48
https://github.com/kennethreitz/pipenv/commit/f98aada0ad3ac41d99487bbe1bcc40989242928d

[2017-01-23 19:37] hnykda commented on #33
I thought so - hence I think you should somehow warn the user or at least mention this somewhere.

[2017-01-23 19:47] spiliopoulos commented on #40
So a few comments. If I convert the suspicious if

[code]
to just
[code]
my prompt works properly both in zsh and bash.

I have to ask though why are we sourcing the activation file both before and after execing the shell and not just after?

[2017-01-23 19:50] jessebraham commented on #40
Similar to @spiliopoulos, I just found that commenting out the conditional line fixes it.

However, it does mangle the output (Ubuntu 16.04.01, Bash 4.3.46):

[code]

Just at work right now but I can investigate further later if nobody beats me to it ;)

[2017-01-23 19:51] kennethreitz commented on #40
Excellent, I'll remove it.

[2017-01-23 19:53] kennethreitz commented on #40
https://github.com/kennethreitz/pipenv/commit/ba76b0e3e8639910cf960614034584d25a424c76

[2017-01-23 19:53] spiliopoulos commented on #40
@jessebraham

What kind of mangling did you observe?

[2017-01-23 19:55] spiliopoulos commented on #40
@jessebraham  Have you pulled the latest changes. There was a seperate issue with the size of the terminal not updating.

[2017-01-23 19:58] jessebraham commented on #40
@spiliopoulos Sorry I should have been more clear.

Installed via pip, prior to my local changes, the output after running `pipenv shell` was as follows:

[code]

Following my changes, the output of `pipenv shell` was as follows:

[code]

It displayed the additional newline as well as the source command being printed, although it did actually activate the venv.

I am not sure if my repo contains t

[2017-01-23 19:59] #48 closed

[2017-01-23 20:05] lgw4 commented on #22
I'd just like the option to specify the _specific_ Python interpreter I want. For example, I also use `pythonz` because I still have some (work) projects that require Python 2.6. I'd like the option to do something like `pipenv -p ~/${HOME}/.pythonz/pythons/CPython-2.6.6/bin/python2.6` when creating a virtual environment.

[2017-01-23 20:08] Phrohdoh opened #49 "Rename Pipfile to Pipfile.toml"
There is no benefit to _not_ including the extension.

In fact you will only gain editor highlighting, etc.

[2017-01-23 20:13] kennethreitz commented on #49
Raise this issue on https://github.com/pypa/pipfile please

[2017-01-23 20:13] #49 closed

[2017-01-23 20:13] jessebraham commented on #49
I think that would be more suitably decided in the [Pipfile project](https://github.com/pypa/pipfile) itself.  They're attempting to create a standard, and modifying that at will won't help with their progress.

[2017-01-23 20:13] kennethreitz opened #50 "consider locking after every install"

[2017-01-23 20:14] Phrohdoh commented on #49
I did not realize pipfile was a separate project, will do!

[2017-01-23 20:32] tsbertalan opened #51 "`pipenv shell` fails with path including spaces."
[code]

[2017-01-23 20:43] kennethreitz commented on #27
fixed!

[2017-01-23 20:45] jessebraham commented on #51
I believe the directory name in this instance needs to be quoted prior to creating the virtual environment, although I could be mistaken.

Adding quotes to [this line](https://github.com/kennethreitz/pipenv/blob/master/pipenv/cli.py#L142) should be all that's required I believe.

[2017-01-23 20:46] spiliopoulos commented on #40
@jessebraham
Well I don't know why you get two new lines after the Spawning statement. However, the printed source statement should be expected.

[2017-01-23 20:49] #13 closed

[2017-01-23 20:50] kennethreitz commented on #33
✨🍰✨

[2017-01-23 20:50] #33 closed

[2017-01-23 20:50] kennethreitz opened #52 "Gracefully require eggs for git installs"

[2017-01-23 20:51] kennethreitz commented on #52
https://github.com/kennethreitz/pipenv/issues/47#issuecomment-274585229

[2017-01-23 21:00] kennethreitz commented on #22
I think just 2/3 is good enough for 90% of users.

[2017-01-23 21:02] lgw4 commented on #22
Your project; your decision. I guess I'm in the 10%. 😆

[2017-01-23 21:08] nateprewitt opened #53 "pipfile.lock vs pipfile.freeze"
Right now the documentation for [Pipfile](https://github.com/pypa/pipfile/blob/master/README.rst) states the naming conventions are `Pipfile` and `Pipfile.freeze` but the current API implementation here is using the original `Pipfile.lock`. It looks like freeze was the decision in pypa/pipfile#43, but perhaps things have changed since then. It seems like one of the repositories is out of sync with

[2017-01-23 21:11] kennethreitz commented on #53
Updated pipfile repo

[2017-01-23 21:11] #53 closed

[2017-01-23 21:26] alizain commented on #22
Ideally it should be as easy as specifying the minimum (or maximum) required version of python (with semver) in your `Pipfile`. `pipenv` should take care of the rest.

For example, a python2 config might look like this:
[code]

[2017-01-23 21:35] kennethreitz commented on #22
currently, requires is intended for app deployments, e.g. targeting specific versions, not version ranges.

[2017-01-23 22:13] #34 closed

[2017-01-23 22:13] kennethreitz commented on #34
done!

[2017-01-23 22:27] jpadilla commented on #50
+1 on this. npm updates its shrinkwrap.json if installing/saving the package.json and yarn does the same with yarn.lock.

I think it might be a good rule that if we're updating the Pipfile, we also update the Pipfile.lock, instead of having the user do so everytime. I could tackle this.

[2017-01-23 22:27] kennethreitz commented on #50
the only downside is that currently locking is a rather expensive (time-wise) operation.

[2017-01-23 22:35] fruch opened #54 "index from requirements.txt isn't working"
when there  is something like this in `requirements.txt`:
[code]

it's assume it's a package and tries to install it.
I would expect it to add this to the pipfile as a diffrent index (doesn't pipfile support multiple indexes ?)

[2017-01-23 23:05] kennethreitz commented on #54
ah, we'll have to strip those

[2017-01-23 23:07] #54 closed

[2017-01-23 23:08] kennethreitz commented on #54
no importing of indexes from those yet, i think it's fine to update it yourself

[2017-01-23 23:08] kennethreitz commented on #54
can't expect it to do everything for you!

[2017-01-23 23:17] fruch commented on #54
Also seem like the index from pipfile isn't actually being used on pipenv install command...

[2017-01-23 23:18] fruch commented on #54
When I've changed it manually

[2017-01-23 23:19] kennethreitz commented on #54
Support for that is added in master, will be released (very) soon! (like within the hour)

[2017-01-23 23:25] oca159 opened #55 "The system cannot find the path specified."
I am using pipenv on windows.
I followed the next steps:

[code]

I am receiving the next error:

Error:  An error occured while installing requests
The system cannot find the path specified.

[2017-01-23 23:28] kennethreitz commented on #55
windows has not currently been tested

[2017-01-23 23:29] kennethreitz commented on #55
however, the usage would be:

[code]

[2017-01-23 23:50] kennethreitz opened #56 "lock sometimes leaves ="*" in"
hard to reproduce

[2017-01-24 00:06] lukasz-madon opened #57 "Different python version installed than `which python`"
which python points to default mac os 2.7 python but 3.6 was installed.

Here is the output:
[code]

I'm guessing this could be caused by `pip3 -V
pip 9.0.1 from /usr/local/lib/python3.6/site-packages (python 3.6)`

[2017-01-24 00:38] jessebraham commented on #17
I've found a reasonable method of determining whether Python has been executed by `powershell.exe` or `cmd.exe` using [psutil](https://github.com/giampaolo/psutil).

[code]

The lack of support for `pexpect.spawn` on Windows is the limiting factor at this point.

[2017-01-24 01:03] kennethreitz commented on #10
i tried using pew, but `pew workon` does not work on my machine for some reason

[2017-01-24 01:15] thirtyseven opened #58 "Pipfile should specify Python version"
To reduce friction and the possibility of error when running `pipenv install` on a project that already has a Pipfile, the Pipfile should specify the Python version. This is already a feature in bundler, where you can specify the Ruby version with the `ruby` keyword.

[2017-01-24 01:20] kennethreitz commented on #58
you can require a version with pipfile

[code]

Currently, you can check these PEP 508 specifiers with `$ pipenv check`.

[2017-01-24 01:20] #58 closed

[2017-01-24 01:21] thirtyseven commented on #58
Awesome, thanks!

[2017-01-24 01:22] #56 closed

[2017-01-24 01:35] jessebraham commented on #17
@uranusjr It is possible to detect the difference between Powershell and Command Prompt, for example using the [psutil](https://github.com/giampaolo/psutil) module:

[code]

However as you mentioned, `pexpect.spawn` is *not* supported on Windows, and [there are no plans for it ever to be](https://pexpect.readthedocs.io/en/stable/overview.html#pexpect-on-windows).

[2017-01-24 01:48] thirtyseven opened #59 ""pipenv check" checks against the host Python instance rather than the venv's"
For example, if I am running `pipenv` under Python 2.7, and have a Pipfile with:
[code]
`pipenv check` will fail even if the project's Python version is correct.

[2017-01-24 01:49] jessebraham commented on #57
You install `pipenv` using `pip3`, so it will use Python 3 for the installation.

You can specify Python 2:
[code]

[2017-01-24 01:49] kennethreitz commented on #59
correct, this needs to be fixed.

[2017-01-24 01:51] lukasz-madon commented on #57
yep but the docs states that it uses `which python`

[2017-01-24 01:59] jessebraham commented on #57
Ahh I must have missed that part, ignore me 😄

[2017-01-24 02:19] kennethreitz commented on #59
fixed!

[2017-01-24 02:19] thirtyseven commented on #59
Woot!

[2017-01-24 02:21] kennethreitz commented on #59
released!

[2017-01-24 02:22] thirtyseven commented on #59
Thanks, amazing turnaround time!

[2017-01-24 02:26] kennethreitz commented on #17
going to drop windows support for now.

[2017-01-24 02:26] #17 closed

[2017-01-24 02:26] #22 closed

[2017-01-24 02:27] #40 closed

[2017-01-24 02:27] kennethreitz commented on #55
windows is not supported

[2017-01-24 02:27] #55 closed

[2017-01-24 02:29] thirtyseven commented on #59
Unfortunately, this appears to be broken on Python 2:

[code]

[2017-01-24 02:30] kennethreitz commented on #59
i will investigate, working fine over here

[2017-01-24 02:31] kennethreitz commented on #59
yes, all is working properly here

[2017-01-24 02:33] thirtyseven commented on #59
On my machine, I get this error in the delegated command:
[code]

[2017-01-24 02:46] #59 closed

[2017-01-24 02:47] kennethreitz commented on #59
fixed in master!

[2017-01-24 02:48] kennethreitz commented on #57
updated the docs :)

[2017-01-24 02:48] #57 closed

[2017-01-24 03:03] EddieZhao opened #61 "pipenv --three , undefined symbol error"
[code]

[2017-01-24 03:04] kennethreitz commented on #61
this looks like an issue with virtualenv, not pipenv

[2017-01-24 03:04] #61 closed

[2017-01-24 05:30] rmad17 commented on #50
How about an optional parameter to check for locking after install?

[2017-01-24 06:44] gkze opened #63 "Usage in Docker"
What's the best workflow to use Pipenv with Docker?

I am trying to accomplish this with a Django project running inside Docker / Docker Compose.

Any tips / suggestions / ideas?

P.S. also, I am using https://github.com/yyuu/pyenv to automatically activate my virtualenvs and manage local Pythons. Does that not work well with this toolchain?

[2017-01-24 08:00] rajaravivarma-r opened #64 "Query: Pipfile format"
Sorry if this is lame. As a regular user of Bundler in Ruby ecosystem, and package.json from npm, why not use
* Python, which will give more freedom to express logic and other constructs
* JSON, as it is human readable and parsers are available already
* YAML, not as readable as JSON, but saves us from learning one more markup language.

Thanks

[2017-01-24 08:35] lepisma commented on #64
Its more of an issue for pipfile [repository](https://github.com/pypa/pipfile). Though I believe the decision might be similar to why [cargo](https://crates.io/) use toml.

https://users.rust-lang.org/t/why-does-cargo-use-toml/3577

PS: I believe you mean YAML is *more readable* than JSON?

[2017-01-24 09:24] rajaravivarma-r commented on #64
Thanks for the link. It goes into great detail on different ML formats. It makes sense why TOML is better for this use case.

No I meant the opposite. IMO, JSON is more readable than YAML. May be that, I am more used to JSON than YAML.

[2017-01-24 11:13] jstutters opened #65 "pipenv install times out while creating virtualenv"
Running `pipenv --three install` fails at `Creating a virtualenv for this project` with the output:

[code]

The .venv directory is created and subsequent use of `pipenv install [package]` work correctly.

Relevant package versions:
[code]

[2017-01-24 12:04] blueyed opened #66 "Includes/-r in requirements.txt file with "pipenv install -r""
Currently there are two issues when having `-r foo.txt` in a requirements file itself:

1. relative paths do not work (i.e. with `-rbase.txt` in `requirements/dev.txt` `pipenv install -r requirements/dev.txt` will not find `base.txt` - for this a temporary `os.chdir` could work.

2. a space inbetween `-r base.txt` will not be handled properly:

(Please note the extra space with the "No such file o

[2017-01-24 12:50] blueyed opened #67 "Installing a requirements file does not handle space after `-e`"
When installing a requirements file that contains `-e …` (with a space after `-e`) you get an error:

(similar to https://github.com/kennethreitz/pipenv/issues/66, where `-r` with space afterwards is not handled)

[2017-01-24 15:47] mhsjlw opened #68 "Optional support for Pipfile.toml filename"
If added, GitHub will highlight the syntax and show any errors that may exist in the file

[2017-01-24 15:52] pmac opened #69 "Consider supporting pip 8+ hash checking mode"
Having `pipenv lock` record hashes for each package version would [ensure cryptographically repeatable installation](https://pip.readthedocs.io/en/stable/reference/pip_install/#hash-checking-mode). If this tool isn't meant for use in deployment, then this can be safely ignored, but the `Pipfile` and `Pipfile.lock` standards seem to me to be a good start in this direction, and some tooling around t

[2017-01-24 16:56] wybiral opened #70 "Location of .venv on Windows"
```pipenv install``` on Windows (Python 3.5.2) creates .venv in the parent directory instead of the directory that Pipfile is located (the project / current directory). For example...

On Windows I get:
[code]

On Ubuntu I get:
[code]

[2017-01-24 16:57] jessebraham commented on #70
Windows is not officially supported at this time

[2017-01-24 17:03] wybiral commented on #70
Ah, thank you. I missed that caveat.

[2017-01-24 17:03] #70 closed

[2017-01-24 17:36] kennethreitz commented on #69
much wanted feature!

[2017-01-24 17:38] kennethreitz commented on #63
this would be a replacement for that workflow

[2017-01-24 17:38] #64 closed

[2017-01-24 17:39] #68 closed

[2017-01-24 17:40] kennethreitz commented on #67
What was the exact install line you were using?

[2017-01-24 17:44] kennethreitz commented on #65
interesting, cannot reproduce locally

[2017-01-24 18:14] blueyed commented on #67
@kennethreitz
It came through a requirements.txt file, so `pipenv -r …`.

[2017-01-24 18:31] kennethreitz commented on #69
Not sure how to go about implementing

[2017-01-24 19:02] pmac commented on #69
I assumed as much, but didn't see it listed anywhere, so I figured I'd file for safe keeping. I'll think on it as well.

[2017-01-24 19:19] gkze commented on #63
I see, thank you. Great work on this @kennethreitz!

[2017-01-24 19:19] #63 closed

[2017-01-24 19:47] kennethreitz opened #71 "Consider basing 'lock' on 'pip download' instead of 'pip install'"
this would allow us to

- get the hash of each file
- not munge the virtualenv with each lock
- speed up freeze time

[2017-01-24 19:57] erikrose commented on #69
I'm happy to render at least design aid, since I wrote the hash-checking stuff in pip 8.

[2017-01-24 20:18] kennethreitz commented on #71
https://github.com/kennethreitz/pipenv/tree/hashes

[2017-01-24 20:18] kennethreitz commented on #69
https://github.com/kennethreitz/pipenv/tree/hashes

[2017-01-24 20:45] kennethreitz commented on #66
it may be easier to remove the `-r` functionality.

[2017-01-24 20:46] kennethreitz commented on #69
i've got a preliminary implementation going, only problem is that it looks like we'd have to write out a temporary requirements file in order for this to work, i think (or use the pip API).

[2017-01-24 20:47] kennethreitz commented on #69
see https://github.com/kennethreitz/pipenv/pull/72 for details

[2017-01-24 20:47] kennethreitz commented on #71
see #72 for details. seems to work well.

[2017-01-24 20:51] erikrose commented on #69
Regarding having to write out a temporary reqs file, that's true for now. My thought, though, was always that the reqs-file hash format would ultimately be usable on the commandline as well: `pip install smoo==1.2.3 --hash=sha256:2cf24dba5...`. We'd have to do some plumbing in pip to support this, making it possible for the order of args to matter. I can't promise to spend time on that in the fors

[2017-01-24 20:56] kennethreitz commented on #67
ah gotcha, i'm going to remove this functionality. it's problematic.

[2017-01-24 20:56] #67 closed

[2017-01-24 20:56] #66 closed

[2017-01-24 20:56] kennethreitz commented on #66
Removed in upcoming v0.3.0.

[2017-01-24 21:15] kennethreitz commented on #71
merged!

[2017-01-24 21:15] #71 closed

[2017-01-24 21:17] kennethreitz commented on #69
v3.0.0 released, which includes hashes in the lockfile output, but doesn't use them for installation yet.

[2017-01-24 21:23] blueyed commented on #66
Oh.

It's quite useful, isn't it?

Here is a patch to fix this issue:

[code]

[2017-01-24 21:37] imanhodjaev opened #73 "Incorrect locking for dependencies with capital cased names"
When I call `pipenv install Django` it installs and adds lower-cased `django` in `Pipfile` then I call `pipenv lock` so I end up with two entries of Django

[code]

[code]

[2017-01-24 21:38] kennethreitz commented on #73
are you using the latest version?

[2017-01-24 21:39] imanhodjaev commented on #73
@kennethreitz as far as I can see it is `pipenv, version 0.2.8`

[2017-01-24 21:39] kennethreitz commented on #73
try v0.3.0

[2017-01-24 21:41] imanhodjaev commented on #73
@kennethreitz Nice it works well in 3.0.0, thanks for help. 🍺

[2017-01-24 21:41] #73 closed

[2017-01-24 21:46] jessebraham commented on #51
Okay, so I've developed a naive solution, but I'm just looking for input on this. In `cli.py`, on lines 276-279 (at the time of writing), we have this:

[code]

Simply replacing the block with the following enables proper functionality by escaping the spaces:

[code]

@kimtree had suggested elsewhere that I instead use encoded string escaping, e.g. `str_variable.encode('string-escape')`. Unfortuna

[2017-01-24 23:16] khardix opened #74 "Unistall subcommand missing lock argument"
The `uninstall` subcommand is declared to have a `--lock` flag, but the actual function signature does not accept such keyword argument. Therefore, a `TypeError` occurs:

[code]

[2017-01-24 23:18] kennethreitz commented on #74
thanks!

[2017-01-24 23:28] kennethreitz commented on #74
fixed :)

[2017-01-24 23:44] jacebrowning opened #76 "Heroku support?"
Is there any way way to use `pipenv` with Heroku?

I'm hoping to find one of:

- Native Heroku support (detects `Pipfile.lock`)
- Custom buildpack
- Pre-compile hook to generate `requirements.txt`

[2017-01-24 23:57] #74 closed

[2017-01-24 23:57] kennethreitz commented on #76
i wrote a custom buildpack, but it's very basic

[2017-01-24 23:58] kennethreitz commented on #76
waiting until the project settles down a bit first to make support official

[2017-01-24 23:58] kennethreitz commented on #76
https://github.com/kennethreitz/heroku-buildpack-pipenv

needs some cleanup

[2017-01-25 00:17] jacebrowning commented on #76
Perfect! I'll report issues there if I run into anything.

[2017-01-25 00:51] kennethreitz commented on #76
leaving this open to remind me to clean it up :)

[2017-01-25 00:59] spiliopoulos commented on #65
@jstutters did you by any chance have any networking problems at the moment that could potentially lead to packages needed for the initial virtualenv to take too long to download.

How to reproduce:
Modify virtualenv to add a more than 30 second sleep without outputing anything.

[code]

@kennethreitz Are you using the default timeout of 30 seconds for pexpect in delegator? Does that make sense in

[2017-01-25 01:09] kennethreitz commented on #69
I did it!

v3.1.0 released, which checks hashes upon installation.

[2017-01-25 01:09] #69 closed

[2017-01-25 01:14] kennethreitz commented on #65
I am, but there's no reason creating a virtualenv should take more than 30s. I suspect a setup issue is at hand.

[2017-01-25 01:14] kennethreitz commented on #65
@jstutters can you time the creation of a new virtualenv by hand?

[2017-01-25 01:17] kennethreitz commented on #76
added some nicer indenting at least :)

[2017-01-25 01:23] kennethreitz commented on #76
Example `bin/pre_compile` (should work):

[code]

[2017-01-25 01:27] kennethreitz commented on #69
So the process for locking is now as follows:

- run `pip download` for each dependency.
- analyze the file names for version information, and run `pip hash` against them to get the hash.

This both speeds up locking, and avoids mucking up the environment during locking.

In addition, `$ pipenv install` now does the following:
- supports the `{hash=` TOML syntax
- writes out the entire installatio

[2017-01-25 01:27] kennethreitz commented on #69
If there is an exception (e.g. a hash doesn't match), the output it displayed on the screen during installation.

[2017-01-25 01:28] jacebrowning commented on #76
@kennethreitz You mean `pip freeze`?

[2017-01-25 02:02] kennethreitz opened #78 "Proper name resolver"
django -> Django

[2017-01-25 02:04] kennethreitz commented on #78
I have no idea how to do this.

[2017-01-25 03:21] kennethreitz opened #79 "cleanup stderr output"
output to it everywhere.

[2017-01-25 03:42] #78 closed

[2017-01-25 03:46] kennethreitz commented on #50
@rmad17 done!

[2017-01-25 03:46] #50 closed

[2017-01-25 03:46] kennethreitz commented on #10
going to punt on this for now

[2017-01-25 03:46] #10 closed

[2017-01-25 03:50] ryanhiebert commented on #10
That's cool, it's a different model, and it may not be worth the time Right Now.

I'd like to point out, for possible future reference, that the inve model doesn't require using pew, though. inve was originally designed as an `activate` replacement, that would live in the same place, but open a subshell instead. That concept can be really helpful. pew thought so, and made a virtualenvwrapper alter

[2017-01-25 05:07] zachborboa opened #81 "pexpect.spawn should use list of arguments"
`pexpect.spawn` should use list of arguments instead of `str.format`.

[code]

[code]

https://github.com/kennethreitz/pipenv/blob/master/pipenv/cli.py#L626
https://github.com/kennethreitz/pipenv/blob/master/pipenv/cli.py#L667

[2017-01-25 05:08] kennethreitz commented on #81
pull requests accepted!

[2017-01-25 06:04] jeyraof opened #83 "$ pipenv install not working."
[code]

When i start up new project, I sent command `$ pipenv install` for initializing default structure.
But no specific pypi-package-name passed, it raised above error.

However, when I pass pypi-package-name on start up, it works well:
`$ pip env install requests`.

how to deal with it ?

Is `$ pipenv install (blank)` bad request?

[2017-01-25 06:14] kennethreitz commented on #83
fixed!

[2017-01-25 06:14] #83 closed

[2017-01-25 06:27] jeyraof opened #84 "How to deactivate current environment entered by `pipenv shell`?"
[code]

`exit` command is correct way to deactivate current environment?

[2017-01-25 08:41] ovalseven8 opened #86 "Why from 0.2.9 to 3.0.0?"
Hi,

just a question out of curiosity:
Is there a specific reason why from v0.2.9 to 3.0.0? :smiley:

That's it. :wink:

[2017-01-25 09:16] kfirbreger commented on #84
pipenv starts a shell session with the virtualenv instead of changing the bathing in the current shell session. That is why deactivate does not work. you need to exit the shell session. the `exit` command or CTRL-d will do the trick.

[2017-01-25 09:33] Jackevansevo opened #88 "pipenv install causes TypeError"
I get the following issue attempting to install packages using Pipenv in a fresh environment on my machine. Using Python version 3.4.2

[code]

[2017-01-25 09:36] dz0ny opened #89 "generate pip {dev-}requirements.txt from Pipfile.lock"
Maybe add argument to pipenv lock --gen-pip-lockfiles(orsomething similiar) which would generate both files automatically after vendoring. This is a must of external tools, for building packages etc ...

Quick invoke task for those who stumble upon this
[code]

[2017-01-25 09:44] kfirbreger opened #90 "Double entry in the lock file"
When requiring django and djangorestframework the lock file generates double dependency for django.

[2017-01-25 10:04] jstutters commented on #65
@kennethreitz It's on a networked home directory which is certainly a potential source of the slowness (sorry- should have said this in the original report).  Execution time for making the virtualenv manually is 49 seconds so I guess a timeout increase would help.  I had a look at doing this myself but it didn't seem from the docs that delegator exposes the pexpect timeout argument.

[code]

[2017-01-25 10:21] t-unit opened #91 "Fish Support broken"
Something strange is happening when calling `pipenv shell` using **fish**. Somehow the fish shell spawned does not have a `fish_prompt`: `functions: Function 'fish_prompt' does not exist`.

Not using `pipenv` but directly calling `source .venv/bin/activate.fish` works without a problem.

**Full Output / Example**:
[code]

**Versions**:

[code]

[2017-01-25 13:18] singleton11 commented on #90
Not only django with drf, confirmed

[2017-01-25 13:47] pmac commented on #69
Wow that was fast. Thanks @kennethreitz!

[2017-01-25 13:50] mjalas commented on #88
I am having the same issue when trying to install nose and tox, when using python 3.6.0.

[2017-01-25 14:23] jacebrowning commented on #86
Following [semantic versioning](http://semver.org/), a [feature was removed](https://github.com/kennethreitz/pipenv/blob/master/HISTORY.txt).

[2017-01-25 15:57] Rotonen opened #92 "Cannot install websauna"
Context: pyenv 1.0.7, macOS 10.12

Steps to reproduce:

[code]

Results in the following stacktrace:
[code]

[2017-01-25 15:59] nateprewitt commented on #92
Thanks for opening this ticket @Rotonen, this looks like it's a duplicate of #88. It's probably best to consolidate everything to that issue.

[2017-01-25 16:11] lwm commented on #86
http://semver.org/

Assuming ...

[2017-01-25 16:18] Rotonen commented on #92
Missed that one, sorry for the noise.

[2017-01-25 16:18] #92 closed

[2017-01-25 16:20] jacebrowning commented on #86
My thoughts initially, but there is no 1.0 nor 2.0. I think it's a typo. 😄

[2017-01-25 16:27] nateprewitt commented on #86
@jacebrowning it was a typo, it's [noted](https://github.com/kennethreitz/pipenv/blob/master/HISTORY.txt#L23) in the change log. You can't revert once you've released 3.0.0 because you'll eventually have overlap.

[2017-01-25 16:36] yansal opened #93 "`pipenv install django-debug-toolbar` doesn't install the correct package"
The command `pipenv install django-debug-toolbar` doesn't install the correct package. It installs https://pypi.python.org/pypi/django-debug instead of https://pypi.python.org/pypi/django-debug-toolbar

[code]

[2017-01-25 16:42] nateprewitt commented on #88
This is an issue in Python 3 because `HTMLParser` expects strings but `content` from Requests will always return bytes.

This can be solved by simply decoding the bytes into a string, with `r.content.decode('utf-8')`. I'm not positive we want to assume a utf-8 encoding here or use ISO-8859-1. It probably depends on whether pypi has any guarantee of IDNA encoding URLs.

[2017-01-25 16:43] jacebrowning opened #94 "Can 'run' support non-virtualenv commands?"
For local development with the Heroku CLI, I would like to be able to do something like this:

[code]

so that an external program (`heroku`) can use a program (`gunicorn`) from within the virtual environment. With `pipenv==3.1.9`, only commands in the virtual environment are allowed:

-----

One possible workaround is:

[code]

but I'd like to avoid having to be gnostic of the location of the vir

[2017-01-25 17:34] nknganda opened #95 "pip install flask causes TypeError"
***> pip install flask***
Collecting flask
  Using cached Flask-0.12-py2.py3-none-any.whl
Collecting itsdangerous>=0.21 (from flask)
Collecting click>=2.0 (from flask)
  Using cached click-6.7-py2.py3-none-any.whl
Collecting Werkzeug>=0.7 (from flask)
  Using cached Werkzeug-0.11.15-py2.py3-none-any.whl
Collecting Jinja2>=2.4 (from flask)
  Using cached Jinja2-2.9.4-py2.py3-none-any.whl
^COperatio

[2017-01-25 17:38] nateprewitt commented on #95
Thanks for opening this ticket @nknganda. The error you're encountering is because `proper_case` isn't able to locate the package and returns a value of None. `parse_download_fname` is then failing because the value isn't the expected dictionary.  Could you provide the version of `pipenv` you're using?

[2017-01-25 17:55] nknganda commented on #95
Thanks for the response @nateprewitt.

 pipenv, version 3.1.9

[2017-01-25 18:27] #86 closed

[2017-01-25 18:27] #84 closed

[2017-01-25 18:33] kennethreitz commented on #89
we already have `$pip install --requirements` :)

[2017-01-25 18:33] #89 closed

[2017-01-25 18:34] kennethreitz commented on #90
is this with the latest versions?

[2017-01-25 18:34] kennethreitz commented on #90
Proper casing should be used for older versions. The latest version should use proper casing automatically.

[2017-01-25 18:35] kennethreitz commented on #88
this was just fixed!

[2017-01-25 18:35] #88 closed

[2017-01-25 18:36] kennethreitz commented on #93
Thanks will work on a fix.

[2017-01-25 18:36] kennethreitz commented on #93
make sure you're using the latest versions.

[2017-01-25 18:38] kennethreitz commented on #95
#97 fixes this

[2017-01-25 18:39] #95 closed

[2017-01-25 18:39] kennethreitz commented on #94
that's what `$ pipenv shell` is for :)

[2017-01-25 18:39] #94 closed

[2017-01-25 18:48] #93 closed

[2017-01-25 18:49] kennethreitz commented on #93
fixed!

[2017-01-25 18:51] kennethreitz commented on #93
v3.2.0 just released, which fixes this.

[2017-01-25 18:51] kennethreitz commented on #90
re-open if this is still an issue with the latest version

[2017-01-25 18:57] kennethreitz commented on #86
It was indeed an irreversible typo :)

[2017-01-25 18:57] kennethreitz commented on #92
this is now fixed!

[2017-01-25 19:09] kennethreitz commented on #91
Can someone more familiar with fish help with this?

[2017-01-25 19:58] jacebrowning commented on #94
That doesn't quite work as expected:

[code]

nor:

[code]

[2017-01-25 20:09] kfirbreger commented on #90
As far as I can see it is still a case, even with the latest versions. Pipfile has:
 `djangorestframework = "*"` and `django = "*"`

[2017-01-25 20:10] jacebrowning opened #98 "ModuleNotFoundError when running installed packages"
I am seeing this issue with lots of packages that have a command-line entry point (at least `pytest` and `honcho`):

[code]

[2017-01-25 20:18] kfirbreger commented on #90
Also `elasticsearch-dsl` creates a double entry of itself.

[2017-01-25 20:19] nateprewitt commented on #98
Hmm, I'm actually unable to reproduce this on macOS 10.12.2 with a standard bash shell. @jacebrowning What version of python and shell are you using? Could you also provide what `pipenv run pip list` returns for me? Thanks!

[2017-01-25 20:25] jacebrowning commented on #98
I'm running ZSH and Python 3.6.0 on macOS 10.12.2.

[code]

[2017-01-25 20:26] kennethreitz commented on #90
Proper casing is currently required in Pipfiles. I'll work on a fix :)

Sent from my iPhone

[2017-01-25 20:52] kfirbreger commented on #51
I have a possible alternative solution. Using `os.path.join` instead of `os.sep.join` in project.py lines 48 and 52 (currently), might produces correct pathing.

I would have tested it myself but I don't seem to be able to run a self built version of pipenv.

[2017-01-25 21:10] nateprewitt commented on #98
So I've tried to recreate this with the same dependencies both locally and on Travis without success. I think there may either be a conflict on your path that's causing problems, or this may be something specific to ZSH.

Have you tried running `pipenv uninstall` to purge your pipenv and starting over? Are you getting an identical `ModuleNotFoundError` for pytest?

Without a consistent repro, I'm

[2017-01-25 21:28] jacebrowning commented on #98
Yes, I get the same error with `pytest`:

[code]

[2017-01-25 21:58] nateprewitt commented on #51
@kfirbreger unfortunately, that has the same problem as `os.sep.join`. It's concatenating a list
`['', 'home', 'tsbertalan', 'dirname with spaces']` with `os.sep`. When this path is passed to bash, bash can't differentiate between a path with spaces and a new parameter.

@jessebraham, I think you're on the right track. `encode('string-escape')` appears to only work in Python 2 and doesn't escape s

[2017-01-25 22:05] michaelhelmick commented on #91
It might have something to do with how fish runs virtualenv.

I `fisher install virtualfish`

And then my `config.fish` gets updated with:

[code]

I can try and help look into this when I actually start using `pipenv`

[2017-01-25 22:19] blueyed commented on #66
@kennethreitz
Any word on why not to keep this feature?

[2017-01-25 22:20] kennethreitz commented on #66
it's very buggy and problematic. May revisit in the future, but for now, it's not needed. `requirements.txt` should ideally be used like a lockfile anyways, and you shouldn't be importing your sub-dependencies into a pipfile, only your highest-level dependencies.

[2017-01-25 22:21] kennethreitz commented on #90
this is now fixed!

[2017-01-25 22:21] kennethreitz commented on #90
Proper casing should always be used in `Pipfile`s. This tool now automatically corrects mistakes.

[2017-01-25 23:14] jacebrowning commented on #98
Weirdly, `$ pipenv run python -m pytest` does work.

[2017-01-25 23:18] kennethreitz commented on #51
i'm all for a fix!

[2017-01-25 23:24] nateprewitt commented on #98
Could you tell me what `$ pipenv run python --version` and `$ ls -l .venv/bin/python` return respectively? The only thing I can think of at this point is there's possibly something going on with having multiple python versions accessible via pyenv.

[2017-01-25 23:25] blueyed commented on #66
Well, it does not have to be.. it worked quite well for me with the patch above.

Yes, but when importing a project with includes resolving them is very useful on the other hand.

Agreed.

[2017-01-25 23:40] jacebrowning commented on #98
[code]

[2017-01-26 01:20] nateprewitt commented on #98
Aright, I think I've gotten a bit closer. I was able to repro this by deleting `.venv/lib/python3.6/site-packages/honcho` but leaving `.venv/lib/python3.6/site-packages/honcho-0.7.1.dist-info/` in place. When you run `pipenv install honcho` it locates the dist-info and assumes the package is already there. This seems to be functionality of `pip` itself though.

Can you check the contents of your `

[2017-01-26 01:43] jessebraham commented on #51
Ask and you shall receive 😉

[2017-01-26 01:48] #51 closed

[2017-01-26 02:28] jeyraof commented on #84
@kfirbreger thank you!

[2017-01-26 04:37] jacebrowning commented on #98
@nateprewitt Sorry, no luck there:

[code]

[2017-01-26 06:27] nateprewitt commented on #51
I'm going to leave this here for when someone eventually searches trying to solve this issue. While #99 solves the `pipenv` activation issue, most other `pipenv` commands still don't work properly. After a couple hours of pulling threads, I came across [this](https://lists.gnu.org/archive/html/bug-bash/2008-05/msg00051.html).

`virtualenv`, and thus `pipenv`, calls the absolute path to the .venv d

[2017-01-26 07:00] kfirbreger commented on #51
I would also like to add that the solution currently used probably will not work windows machines, as powershell, I believe, uses a different character to escape spaces in paths. It might be worth switching to Pathlib, which was introduces in Python 3.4

[2017-01-26 15:15] singleton11 commented on #90
The latest version
This bug occurs with django-extensions

[2017-01-26 15:29] nateprewitt commented on #90
Ok, I think I see what's happening. The lock file generated from your Pipfile contains both

```"django-extensions": "*"```
and
[code]

The hash and version are correct for the module "django-extensions" but the wheel filename returned from PyPI is "django_extensions-1.7.6-py2.py3-none-any.whl". I haven't peaked at the changes from yesterday yet, but I'm betting pipenv is substringing a name from

[2017-01-26 15:42] #81 closed

[2017-01-26 15:44] nateprewitt commented on #81
Resolved with (8d31698).

[2017-01-26 15:49] neverfox commented on #63
Well, pyenv is more than just a virtualenv manager (in fact, that aspect comes only as a plugin). It's real use case is to manage multiple Python versions on a single machine, which seems orthogonal to the use case of pipenv. So I think the question remains if they play nicely together.

[2017-01-26 15:56] jpadilla commented on #90
@nateprewitt that's exactly it, just reproduced it. It seems that `wheel` replaces `-` with `_`. Should we have [`proper_case()`](https://github.com/kennethreitz/pipenv/blob/master/pipenv/cli.py#L473) use a none `.whl` link? I can put something together to fix it.

[2017-01-26 16:06] nateprewitt commented on #90
@jpadilla we're going to need to do that because PyPI doesn't seems to standardize naming on package links in the repo. The only place I'm seeing the name standardized is the <h1> tag on the package page. Since we're already parsing a name out, that seems like an acceptable alternative solution.

I'm going to punt the actual determination on this to @kennethreitz though, just so you're not wasting

[2017-01-26 16:18] jacebrowning commented on #98
I may have stumbled onto something. The scripts in `.venv/bin` differ between `pipenv` and `virtualenv` directly.

Using `pipenv`:

[code]

Using `virtualenv` directly:

[code]

So, the difference is in the hashbang line. Shouldn't `pipenv` create scripts with a hashbang that points to the Python binary in the virtual environment?

[2017-01-26 16:34] nateprewitt commented on #98
@jacebrowning It definitely should, the ones being generated in your `pipenv` versions aren't correct. As to *why* that's happening, I'm not yet sure, but I think we're much closer.

When you run `$ python3`, which version does it boot into and where does the symbolic link point?

pipenv is running this exact command to create it's virtual environment. Which shebang do you get when running it in y

[2017-01-26 16:54] erikrose commented on #69
Yay. We should all be checking hashes when we deploy. :-) Btw, the version-from-filename thing should get your through 99% of cases. There were only a few packages where it broke.

[2017-01-26 17:02] jessebraham commented on #51
@kfirbreger At this point Windows is not officially supported, so it was not something that was taken in to consideration. If Windows support is added then yes it will need to be changed.

[2017-01-26 17:11] pmac commented on #69
I notice the `Pipfile.lock` spec, which you're using correctly it seems, does not make room for multiple hashes per package. The pip hash checking mode does allow for this due to PyPI allowing for multiple downloadable package types. Is the reason that this new system requires platform independent wheels, or has it just not yet come up? The hashin tool I mentioned in comment 0 downloads all the av

[2017-01-26 17:28] kennethreitz opened #103 "uninstall --dev"

[2017-01-26 17:50] jacebrowning commented on #98
I ran those commands, but <details>
<summary>not much to see.</summary>

[code]

</details>

-----

However, I have now isolated the problem to a difference between `pipenv install` and `pip install`. Using `pipenv install`:

[code]

Using `pip install` in the same virtual environment after `pipenv uninstall honcho`:

[code]

[2017-01-26 17:57] jacebrowning commented on #63
I believe that https://github.com/kennethreitz/pipenv/issues/98, which we're in the midst of debugging, is caused by a `pyenv` incompatibility.

[2017-01-26 18:04] brunoalano opened #104 "Alpine Linux Support"
I'm using the `pipenv` in Docker (base: python:3.5-alpine), but when I try to use the `pipenv shell`, it gives:

"Windows is not currently supported."

Activating manually using `source .venv/bin/activate` works.

[2017-01-26 18:06] nateprewitt commented on #104
@brunoalano would you be able to provide the value of $SHELL in your terminal on the docker instance?

This error occurs when we aren't able to find a "SHELL" variable in the os.environ dictionary.

[2017-01-26 18:06] brunoalano commented on #104
It's empty. Should I set it as `bash`?

[2017-01-26 18:08] brunoalano commented on #104
Setting it for `/bin/ash`, works. Thanks

[2017-01-26 18:10] nateprewitt commented on #104
Happy to help! I'll look into making the exception message a little more informative.

Feel free to reopen this is you find you're still having trouble.

[2017-01-26 18:10] #104 closed

[2017-01-26 18:10] timofurrer commented on #103
I'm working on this one.

[2017-01-26 20:09] timofurrer opened #107 "install / uninstall API asymmetry"
I was kind of confused that `pipenv uninstall` does not change the Pipfile at all. I'd expect that if the `pipenv uninstall requests` command removes the `requests` entry from the Pipfile then `pipenv uninstall` would do, too.

I'm aware that you might never want to remove *all* your dependencies from the Pipfile. However, a command like `pipenv clean` would be much more appropriate in my opinion

[2017-01-26 20:14] timofurrer opened #108 "Preserve order of Pipfile"
Every time the Pipfile is changed the Pipfile section arrangement might, too. Which is a pain if you have to review such changes. Especially if it's the case for Pipfile and Pipfile.lock.

I'm not very familiar with TOML and the Python package used but maybe it's possible to preserve the order when writing to the Pipfile? (Using OrderedDicts internally or something).

-------------------

### TODO

[2017-01-26 20:30] kennethreitz commented on #107
It should remove it from the pipfile, I will have to investigate.

Was requests a dev dependency?

[2017-01-26 20:31] #103 closed

[2017-01-26 20:36] jacebrowning commented on #107
Similarly, I was confused by [this review comment](https://github.com/kennethreitz/pipenv/pull/105#issuecomment-275490257) regarding the symmetry of `pipenv install --dev` vs. `pipenv uninstall --dev`.

Maybe the option should be divided into something like `pipenv install --include-dev` and `pip install --for-dev foobar`.

Just my two cents.

[2017-01-26 20:39] kennethreitz commented on #107
A new release was just pushed which improves this functionality.

https://github.com/kennethreitz/pipenv/pull/105

[2017-01-26 20:39] #107 closed

[2017-01-26 20:40] kennethreitz opened #109 "Don't uninstall setuptools"

[2017-01-26 20:43] timofurrer commented on #107
Okay, this would make sense, too.

I'm not quiet sure why you've linked #105 because it does not solve this asymmetry issue.

[2017-01-26 20:44] kennethreitz commented on #109
https://github.com/kennethreitz/pipenv/commit/e12a37e1abf6601c618b91ab4fddb81bd0a2f718

[2017-01-26 20:44] #109 closed

[2017-01-26 20:45] kennethreitz commented on #108
I will have to investigate ordering of the lockfile and, most likely, the order of the resulting `requirements.txt`.

[2017-01-26 20:54] kennethreitz commented on #108
`toml.dumps()` supports ordered dicts. Loading is another issue.

[2017-01-26 20:56] kennethreitz commented on #108
It does support ordered dicts for loading!

[code]

[2017-01-26 20:57] timofurrer commented on #108
I've just seen it, too ;)

[2017-01-26 20:57] kennethreitz commented on #108
Go for it! I'm about to hop in a meeting :)

[2017-01-26 21:24] jessebraham commented on #65
Okay, so right off the bat I do think we should leave the timeout by default at 30 seconds, because as @kennethreitz  mentioned there's not many cases in which this is not enough time. However, there are use cases when it may be useful (or even necessary).

---

In the `do_create_virtualenv` function, we make the call `delegator.run(cmd, block=False)`.

If we go take a look at [delegator/delegator

[2017-01-26 21:25] kennethreitz commented on #65
I think 30s is reasonable too.

[2017-01-26 21:25] #65 closed

[2017-01-26 21:25] kennethreitz commented on #108
working on it

[2017-01-26 21:33] timofurrer commented on #108
I was just doing the PR. Nevermind ;)

[2017-01-26 21:38] kennethreitz commented on #90
So, what is the expected input and output here?

[2017-01-26 21:42] iamale opened #112 "Allow specifying arbitrary Python versions/executables"
E. g. with the `-p/--python` flag like one we have in Virtualenv:

[code]

Right now it can be done by manually creating a `.venv` before using pipenv:

[code]

[2017-01-26 21:53] jacebrowning commented on #98
I found a related issue (https://github.com/pypa/setuptools/issues/769) and the [culprit line](https://github.com/pypa/setuptools/blob/ac325f34b73c534fd19204400afa598bf63ea301/setuptools/command/easy_install.py#L1940) in `setuptools`.

I don't know the purpose of `__PYVENV_LAUNCHER__` nor why it is getting set when I run `pipenv`.

There is more discussion here: https://bugs.python.org/issue22490

[2017-01-26 22:19] kennethreitz commented on #112
i like only having two/three specifiable right now. I will think about it, though.

[2017-01-26 22:19] #112 closed

[2017-01-26 22:20] kennethreitz commented on #108
partially implemented

[2017-01-26 22:23] #98 closed

[2017-01-26 22:26] kennethreitz opened #114 "fix the build"
https://travis-ci.org/kennethreitz/pipenv

[2017-01-26 23:34] nateprewitt commented on #114
Resolved with #115

[2017-01-26 23:34] #114 closed

[2017-01-26 23:36] nateprewitt commented on #108
From some initial tests, this looks to be working with #115. A second pair of eyes confirming this would be helpful :)

[2017-01-27 00:50] thirtyseven opened #116 "Default pypi URL from previous releases no longer works"
[code]

[code]

[code]
Running pipenv install again will report a different package not being found.

This worked fine before upgrading.  Did the Pipfile format change?

[2017-01-27 00:57] nateprewitt commented on #116
Hey @thirtyseven, it looks like the problem is actually in your Pipfile. `https://pypi.org/` isn't a valid endpoint for retrieving packages, it needs to be something like `https://pypi.org/simple` or `https://pypi.python.org/simple`.

Is this a new Pipfile, or was this working prior to 3.2.3?

[2017-01-27 01:00] thirtyseven commented on #116
The Pipfile was created with an 0.2 release and definitely works if I test
with 0.2.8.

On Thu, Jan 26, 2017, 4:57 PM Nate Prewitt <notifications@github.com> wrote:

[2017-01-27 01:18] nateprewitt commented on #116
Ok, I think I've got a handle on this. `pipenv` didn't use the source field until 0.2.6 which was after you generated your original file. When we started using the source field, we realized that the default configuration was wrong and updated it. The default since ~3.0.0 has been https://pypi.python.org/simple. It should be updated here and at the Pipfile repo.

If you update your URL to that, thi

[2017-01-27 01:20] rjpower opened #117 "Installing a package with a hyphen results in picking the wrong package"
This doesn't seem consistent, but it appears that pipenv is looking up packages differently than `pip`.  e.g. `msgpack-python` fails to install, but `google-api-python-client` works fine (resolving to the version with all underscores).

[code]

[2017-01-27 01:20] thirtyseven commented on #116
Confirming that updating the source fixes the issue.  I'm leaving the issue open though in case you want to handle this case for the users that started with the bad version.

[2017-01-27 01:22] nateprewitt commented on #116
@thirtyseven could you clarify what you'd like to see to address this?

[2017-01-27 01:25] nateprewitt commented on #117
Thanks for opening this @rjpower, this is in fact a byproduct of a bigger issue noted in #90, which I'm currently working on addressing. Due to some inconsistencies in how we're interacting with the pypi repository, certain packages are experiencing name mangling. We should hopefully have a fix for this soon.

[2017-01-27 01:46] thirtyseven commented on #116
I think the most helpful thing to do would be for pipenv to check if the source is exactly the string `"https://pypi.org/"`, and if so display a warning message like: "Your Pipfile was created with a buggy version of pipenv, please change source.url to _correct url_".  Or it could just change the source itself.

I can write a PR implementing this if you'd like.  It's also quite possible that not e

[2017-01-27 02:35] kennethreitz commented on #116
I agree that adding a helpful message may be useful, as this bug was caused by this software.

[2017-01-27 02:37] kennethreitz commented on #91
fish works now!

[2017-01-27 02:37] #91 closed

[2017-01-27 02:37] kennethreitz commented on #91
SHELL must be set, however.

[2017-01-27 02:45] iamale commented on #112
Please do.

One problem with two/three switch only is that sometimes `python3` doesn't point to the latest Python 3 version available (for example, on my system `/usr/bin/python3` links to `/usr/bin/python3.4` even though I have 3.5 and 3.6 as well).

[2017-01-27 02:46] kennethreitz commented on #112
sounds like you should fix your setup :D

I don't disagree, though. I just really like the simplicity of the current setup.

[2017-01-27 02:46] kennethreitz commented on #112
If anything, having an extra ``--venv-params`` argument is a possibility, but i'd much rather get away with what we're doing now and force people to improve their setups.

[2017-01-27 03:29] jacebrowning commented on #112
@iamale I highly recommend using [pyenv](https://github.com/yyuu/pyenv) to manage and select between multiple versions of Python.

[2017-01-27 04:58] jacebrowning commented on #76
You don't have issues enabled on https://github.com/kennethreitz/heroku-buildpack-pipenv, so I'll comment here. I am now seeing this on Heroku CI:

[code]

It seems like the buildpack needs a way update to the correct version of pipenv and/or pipenv needs to gracefully handle older lockfile formats.

[2017-01-27 06:10] jacebrowning opened #120 "1+ second overhead with 'pipenv run'"
I would like to be able to use `pipenv run` as part of my automation tooling, but currently it adds about a second of overhead on my machine:

[code]

While one second is not long, it is enough to discourage me from using pyenv as a task runner for tests, linters, etc.

Can anything be done about this overhead?

[2017-01-27 06:43] timofurrer commented on #108
It appears that in same cases (most likely random) it still changes the order of `[packages]` and `[dev-packages]` section. However the order within the section is indeed preserved.

As well as we might extend this issue to preserve the order of the lock file as well.

[2017-01-27 06:54] nateprewitt commented on #120
Thanks for bringing this up @jacebrowning, we were parsing the Pipfile every time a command was run, causing the slow down. I just merged a patch (#122) that should help with this considerably.

[2017-01-27 09:23] sblask opened #124 "Support global requirements"
This tool looks great and it's kind of doing what I set up manually in my dotfiles/projects. One thing seems to be missing though: global requirements - something that I want to have installed in all my virtual environments. This is what I do now: https://github.com/sblask/dotfiles/blob/e40fa3928ba6a4419480faee2f052505099447db/zshrc.dotfile#L299 every time I encounter a `.venv` directory: https://

[2017-01-27 10:42] lk-geimfari opened #125 "Autocomplete for zsh/bash/fish?"
What do you think about autocomplete plugin for zsh/bash/fish? Does it exist?

[2017-01-27 11:10] timofurrer commented on #125
This would be really easy to implement by using https://github.com/click-contrib/click-completion

[2017-01-27 11:15] lk-geimfari commented on #125
@timofurrer Actually we can just rewrite existed pip plugin for zsh. As i can judge `pip` and `pipenv` are similar tools.

[2017-01-27 12:30] singleton11 opened #126 "Double requirement given: django-extensions"
Pipfile
[code]
Produced Pipfile.lock
[code]
`pipenv install` causes 'Double requirement given: django-extensions'

[2017-01-27 13:05] jungornti commented on #126
I have same problem with django-cleanup.

[2017-01-27 13:20] timofurrer commented on #125
With `click-completion` you'd only have to add it as a dependency and initialize it. Nothing about writing anything.

[2017-01-27 13:25] lk-geimfari commented on #125
@timofurrer Oh, that's cool!

[2017-01-27 17:52] asyncee commented on #126
Problem can be reproduced by using `pipenv install` with [this Pipfile](https://raw.githubusercontent.com/asyncee/django-project-template/feature/alpha-5/Pipfile).

[2017-01-27 18:01] #120 closed

[2017-01-27 18:01] kennethreitz commented on #117
Closing for #90

[2017-01-27 18:02] #117 closed

[2017-01-27 18:02] kennethreitz commented on #126
Closing for #90

[2017-01-27 18:03] kennethreitz commented on #90
Also reported with `django-cleanup`.

[2017-01-27 18:16] kennethreitz commented on #125
click-completion looks cool!

[2017-01-27 18:29] kennethreitz commented on #125
open to a README update for ZSH and BASH!

[2017-01-27 18:38] kennethreitz opened #128 "fix the build"
`setup.py develop` isn't working for some reason

[2017-01-27 18:41] paradox41 commented on #116
I am not sure if this is related at all, but I am now unable to fetch packages from public git repos:

#### Traceback

[code]

#### Pipfile
[code]

#### Pipefile.lock

[code]

This was working prior to v3.0.0 FWIW. I just tried installing again today, and it threw out this error.

If this isn't related, I don't mind opening another issue.

Thanks in advance.

[2017-01-27 18:44] lk-geimfari commented on #125
@kennethreitz That's great!

[2017-01-27 18:45] #128 closed

[2017-01-27 19:10] nateprewitt commented on #116
@paradox41 this appears to be related to the way pipenv normalizes package names rather than being unable to find the repository. I would consider this a separate bug if you'd like to open a new ticket. Thanks!

[2017-01-27 19:12] paradox41 opened #129 "Unable to download from git repo"
Copied from #116

I am now unable to fetch packages from public git repos. It still tries to fetch from PyPI

#### Traceback

[code]

#### Pipfile
[code]

#### Pipefile.lock

[code]

This was working prior to v3.0.0. I just tried installing again today, and it threw out this error.

[2017-01-27 19:59] jacebrowning commented on #120
Thanks! I'll test this when the `v3.2.5` is out.

[2017-01-27 20:01] jacebrowning commented on #90
I also experienced this with `pytest-django`.

[2017-01-27 20:47] kennethreitz opened #130 "don't use --require-hashes when lockfile isn't present"

[2017-01-27 21:01] nateprewitt commented on #129
This should be addressed with #131. Please reopen this is you are still encountering this issue when 3.2.5 is released.

Thanks for letting us know!

[2017-01-27 21:01] #129 closed

[2017-01-27 22:00] #124 closed

[2017-01-27 22:00] kennethreitz commented on #124
not going to happen

[2017-01-27 23:28] paradox41 commented on #129
This issue looks to have been fixed. Thanks for the quick turnaround!

[2017-01-27 23:40] BrunoBerisso opened #132 "lock command fail with "TypeError: 'NoneType' object has no attribute '__getitem__'""
Hi,

I'm just installed `pipenv` today and I'm also new to python so, this may be a dumb error from my side.

Every time I'm trying to create a `Pipfile.lock` with `pipenv lock` it crashes. This is the full output:
[code]

This was also happening with the 3.2.4 version.
Thanks in advance

[2017-01-27 23:51] nateprewitt commented on #132
Thanks for opening this @BrunoBerisso, this is something that we're aware of. This is tangential to #90, in that we're expecting a certain file format syntax. Twisted which is a dependency of Scrapy is providing their packages using bzip2 for compression rather than gzip like most of the other packages on PyPI.

This should be resolved when #90 is closed. I'm going to close this in favor of that t

[2017-01-27 23:51] #132 closed

[2017-01-28 01:20] jacebrowning commented on #120
This is working much better! 💥

[2017-01-28 02:26] #125 closed

[2017-01-28 04:03] kennethreitz commented on #126
this is now fixed!

[2017-01-28 04:03] #126 closed

[2017-01-28 04:04] kennethreitz commented on #90
fixed!

[2017-01-28 04:04] #90 closed

[2017-01-28 04:05] #116 closed

[2017-01-28 04:05] #79 closed

[2017-01-28 04:06] kennethreitz commented on #76
make sure to use latest everything!

[2017-01-28 04:06] #76 closed

[2017-01-28 04:09] #130 closed

[2017-01-28 04:11] #52 closed

[2017-01-28 04:11] kennethreitz commented on #108
we've done the best we can for now.

[2017-01-28 04:11] #108 closed

[2017-01-28 10:10] timofurrer opened #137 "Document intended workflow for packages supporting multiple Python versions"
`pipenv` currently supports two Python versions explicitly - one Python 2 and one Python 3 version.

The ones which are linked by `python2` and `python3` within `$PATH` or if neither of the `--two` nor the `--three` option is given the `python` binary/link is used. So you could manage theoretically to work with three different Python versions.

However, the `python2` and `python3` links are (for m

[2017-01-28 11:16] FooBarQuaxx commented on #137
In case this feature is needed, I guess it's possible to leak the abstraction of virtualenv that pipenv uses and make it possible to pass a specific version of the python's interpreter for the pipenv virtual environment.

[2017-01-28 15:14] jpadilla commented on #90
@kennethreitz curious to know how it was fixed?

[2017-01-28 15:35] wshayes opened #140 "pip-3.6 install error - missing pipenv command"
Did not install the 'pipenv' command using `pip-3.6 install pipenv`

It did work fine using pip-3.5.

OS:  Mac 10.12.2
Python: 3.6 (and 3.5) both installed by MacPorts

Of course, this is likely a setup.py issue with python-3.6 not a pipenv issue.

[2017-01-28 16:29] nateprewitt commented on #90
It ended up being a few steps, @jpadilla. Apologies for not getting back to you about a PR, there ended up being some more nuance to it than expected.

Our original problem was parsing files downloaded from pip for the package name. In some cases the filename didn't exactly match the package name we wanted, which was leading to the bad Pipfile.lock entries.

The first step was fixing our [`proper_

[2017-01-28 16:36] jpadilla commented on #90
@nateprewitt bravo, thanks for the great recap!

[2017-01-28 19:14] kennethreitz commented on #140
can you share the output?

[2017-01-28 19:58] vadimadr opened #142 "Temporary files are not deleted"
Shouldn't temporary files be deleted after successful installation?

[2017-01-28 20:00] nateprewitt commented on #142
@vadimadr Could you clarify which temp files you're referring to? The downloads directory?

[2017-01-28 20:03] vadimadr commented on #142
The ones that are being fed to `pip install -r`  command (`/tmp/tmp*-requirements.txt`)

[2017-01-28 20:09] nateprewitt commented on #142
Ah, yes, while those will eventually get cleaned up, I don't see a reason not to do it earlier. We'll work on getting that into the next release unless you'd like to provide a PR :)

[2017-01-28 20:10] vadimadr opened #143 "Hashes mismatch error"
I pulled this repository and run `pipenv install` command. And got following error:
[code]

Moreover, pip output says that all dependencies already satisfied (despite errors) and exits with 0 return code. But successive `pipenv run pip freeze` does not show any installed packages:
[code]

[2017-01-28 20:11] kennethreitz commented on #143
that is because we used a different version of python to generate the lockfile than you did. 3 seems to download different files than 2.

[2017-01-28 20:12] kennethreitz commented on #143
this is good though! it means the hashes are working :)

[2017-01-28 20:12] #143 closed

[2017-01-28 20:15] vadimadr commented on #143
Shouldn't python version be explicitly specified in pipfile then?
like:
[code]

[2017-01-28 20:21] vadimadr opened #144 "Add list command"
Why not add `list` command? It should list all required dependencies considering lock file.

I think it is in scope of this package because reading json file is not very pleasing for eye and occupy a lot of space in terminal output. Moreover, I suppose this is assumed to replace pip command in the future, so it should provide all the functionality that vanilla pip does.

[2017-01-28 20:25] kennethreitz commented on #144
`install --list` does this. we want to avoid adding more commands if at all possible. the fewer commands, the better.

[2017-01-28 20:25] #144 closed

[2017-01-28 20:26] kennethreitz commented on #142
i think they're useful for debugging.

[2017-01-28 20:26] kennethreitz commented on #142
but yes, it would be good to delete them

[2017-01-28 20:28] #142 closed

[2017-01-28 20:36] #140 closed

[2017-01-28 20:37] kennethreitz commented on #137
Currently, only `--two` and `--three` are supported.

[2017-01-28 20:57] kennethreitz commented on #137
pipenv now supports a `--python`` option, which allows you to specify any version of Python.

[2017-01-28 20:58] kennethreitz commented on #137
will be released soon

[2017-01-28 21:02] vadimadr opened #146 "Why lockfile is not created by default?"

[2017-01-28 21:02] kennethreitz commented on #137
released!

[2017-01-28 21:02] #137 closed

[2017-01-28 21:03] kennethreitz commented on #146
it is?

[2017-01-28 21:03] #146 closed

[2017-01-28 21:08] vadimadr commented on #146
@kennethreitz No lockfile created after initialising project:
[code]

Is it desired behaviour? What are reasons behind that?

[2017-01-28 21:15] nateprewitt commented on #146
@vadimadr, the install command by default will only update the Pipfile and install them in your virtualenv. If you'd like to update your lock file each time you add a dependency you can use the --lock parameter to do so.

[2017-01-28 21:25] simonpercivall opened #147 "pipenv lock breaks when `pip download` is set to no-binary :all: in pip.conf"
If `pipenv` is used in an environment where the `pip.conf` `download` section contains `no-binary = :all:`, `pipenv install` will fail, because the has of the source archives doesn't match hash of the wheels.

This may be something fixable, or perhaps just something that would be helpful to document.

[2017-01-28 21:52] jacebrowning opened #148 "Requested package versions are ignored in some situations"
With the latest version (3.2.10), installing one package that depends on another causes the first package's dependencies to get locked:

[code]

In this case `pytest-django` specifies `install_requires=['pytest>=2.9']`. I would expect my request to specifically install `pytest==2.9.2` to be present in the lock file, but it is not:

[code]

[2017-01-28 21:53] kennethreitz commented on #148
this is a bug

[2017-01-28 21:58] kennethreitz commented on #148
@nateprewitt i think this is a result of the work you were thinking of rolling back

[2017-01-28 22:07] nateprewitt commented on #148
Hmm, it seems like it very well could be related. I'm betting it's how we're now parsing all downloaded dependencies. If it encounters the dependency requiring >=2.9 first, it will download it. Then when we iterate through the downloads, the 3.0.6 dependency comes last and overrides the previous version.

I'll take a closer look here in a moment.

[2017-01-28 22:26] nateprewitt commented on #148
Hmm, @jacebrowning are you certain this has ever worked? I'm testing clear back to 3.0.1 and seeing an identical Pipfile.lock generated each time. This is definitely a bug, I'm just trying to verify that it was preexisting and not directly related to how we're now parsing dependency names.

[2017-01-28 23:07] nateprewitt commented on #148
Resolved with #149, thanks for letting us know about this @jacebrowning! It looks like this bug has been around for a while.

[2017-01-28 23:07] #148 closed

[2017-01-28 23:20] jacebrowning commented on #148
@nateprewitt I can't confirm that this ever worked. I'll retest with the next release.

[2017-01-28 23:30] wshayes commented on #140
[code]

[2017-01-29 09:29] sunshyland commented on #147
adb shell getprop > sulog.txt
adb shell set >> sulog.txt
adb shell toolbox id >> sulog.txt
adb shell busybox >> sulog.txt
adb shell su -v >> sulog.txt
adb shell su -V >> sulog.txt
adb shell su -h >> sulog.txt
adb shell su --self-test >> sulog.txt
adb shell ls -l /system/xbin/*su* >> sulog.txt
adb shell ls -lZ /system/xbin/*su* >> sulog.txt
adb shell ls -lZ /system/bin/toolbox >> sulog.txt
adb shel

[2017-01-29 10:36] FooBarQuaxx opened #151 "Bootstrap pipenv on an existing project with requirements.txt file"
I was wondering if there's a way to start using pipenv on an existing project that uses a requirements.txt file. I think it's possible to just ``pipenv run pip install -r requirements.txt`` but maybe it's a good idea to allow for a more streamlined way to doing this kind of thing.

[2017-01-29 11:21] FooBarQuaxx opened #152 "Add an option to disable colored output"
Some colored output (particularly blue) makes the text non legible in my terminal. I think it's trivial just to add a global --no-color flag.

[2017-01-29 16:06] nateprewitt commented on #147
So the issue here is that the Pipfile.lock has either been moved to a new environment, or the `pip.conf` file has been updated since the lock was generated. You can address this by generating a new Pipfile.lock with `pipenv lock` which will then use hashes from the wheels your system downloads. This does seem to somewhat defeat the purpose of the hashes, but it would be a bit absurd to try generat

[2017-01-29 16:22] simonpercivall commented on #147
The issue here was specifically that the hashes for `pipenv lock` were generated for the source archives, and `pip install` checked against wheels. But what you say is true as well.

Hashes for source dists would be portable, but would require the whole `pipenv` chain of commands to never use pre-built wheels.

[2017-01-29 16:33] nateprewitt commented on #147
@simonpercivall, to be clear, are you saying a system with `no-binary = :all:` generated a lock file using source archives? That isn't something I've been able to reproduce, which is why I said the `Pipfile.lock` has either been moved to a new system, or the `pip.conf` was updated *after* the `Pipfile.lock` was created.

`pipenv` should play nice with either paradigm (archives vs wheels), you just

[2017-01-29 16:52] simonpercivall commented on #147
Hmm, very weird that we have different experiences here. Are you on Linux? I know that `pip` (except for multilinux-wheels) downloads and installs from source archives there. For macOS, and for multilinux-wheels, `pip` defaults to downloading and installing pre-build wheels, if they are uploaded to PyPI.

So my experience would be that a default setup does not generate portable `Pipfile.lock` file

[2017-01-29 17:42] proofit404 opened #153 "Consider scripts section similar to npm package.json"
Hi, thanks for yet another awesome tool!

I wander if there is any plans to add commands abbreviations for example in scripts section.

So instead of typing each time `pipenv run python -m unittest discover` it will be enough to run `pipenv test`  (or maybe `pipenv apply test`) if we have this in the Pipfile:

[code]

[2017-01-29 17:48] proofit404 opened #154 "How this project correlates with tox."
I'm trying to get my head around this tool and understand its proper usecases.

In tox I can create many virtual environments and run my tests in different ways against multiple python versions. Is it possible with `pipenv` right now or maybe planned milestone in the future?

[2017-01-29 18:21] jpadilla commented on #146
@nateprewitt I'm wondering what if anything we can do to make `--lock` the default behavior. According to https://github.com/kennethreitz/pipenv/issues/50#issuecomment-274637993

Does this still hold true?

[2017-01-29 19:29] kennethreitz commented on #153
that would be an issue for the pipfile project

[2017-01-29 19:29] #153 closed

[2017-01-29 19:29] kennethreitz commented on #152
fix your terminal :)

[2017-01-29 19:30] kennethreitz commented on #151
not currently, no

[2017-01-29 19:30] #151 closed

[2017-01-29 20:07] kennethreitz commented on #154
you can specify a version of python with `--python`, but only one version of python can be specified at a time.

[2017-01-29 20:07] #154 closed

[2017-01-29 20:13] vadimadr commented on #154
@kennethreitz this is not the problem he meant. Tox relies on its own virtualenvs and use old requirements.txt format, however it allows to use any custom command to install dependencies. But if we use `pipenv` we must specify requirements in pipfile format and always use `pipenv` to install dependencies. The problem is `pipenv` always creates its own virtualenv. Maybe cli option to install packag

[2017-01-29 21:05] kennethreitz commented on #152
maybe via environment variable.

[2017-01-29 21:08] kennethreitz commented on #152
in master, you can now set `export PIPENV_COLORBLIND=1` and no colors will be produced

[2017-01-29 22:24] #152 closed

[2017-01-30 06:24] jungornti opened #156 "AttributeError: 'OrderedDict' object has no attribute 'startswith'"
Hello, during pipenv install --dev an exception occured:

[code]

The pipfile:
[code]

[2017-01-30 06:45] jungornti commented on #156
It is failing on `packages.pymorphy2` section with extras requirements.

[2017-01-30 07:29] timofurrer commented on #154
What you guys are looking for might be the eventual integration of the `Pipfile` into `pip` itself: https://github.com/pypa/pipfile#pip-integration-eventual

[2017-01-30 08:33] edsu opened #157 "TypeError: 'NoneType' object has no attribute '__getitem__'"
I can install other things (e.g. requests) but when installing feedparser I see this:

[code]

[2017-01-30 11:06] m-charlton opened #160 "Allow `check` option to report on multiple mismatches between 508 & Pipfile"
Say the 508 requirements file contains the following:

[code]

And our Pipfile:

[code]

As it stands, you will only see the first mismatch:

[code]

All subsequent errors will be ignored. Ideally we'd want to see:

[code]
Might be useful to include a `Failed!` message as well.

In addition would it be useful to include the *actual* value that was found?
Example:

[code]

I've already made and tes

[2017-01-30 14:02] FooBarQuaxx commented on #156
@kennethreitz Is this feature supported by Pipfile/pipenv?

[2017-01-30 14:14] jungornti commented on #156
From the start my Pipfile was like this:

[code]

and after pipenv install it transformed to contain this section:

[code]

[2017-01-30 14:59] nateprewitt commented on #156
@jungornti, thanks for opening this. This was an oversight that I've got ready to patch but want to confirm a few things.

When did you use the `pymorphy = {extras: ["fast"]}` syntax in your Pipfile? I'm getting an exception from the TOML because this appears to be invalid syntax. Was this on an older version of pipenv?

Secondly, in the example provided it looks like you were trying to install `p

[2017-01-30 15:06] dct360 opened #161 "Enhancement"
$ pipenv --three                # Enhancement: should install python3 from python.org if not found.

$ pipenv --three
Virtualenv already exists!
Removing existing virtualenv...
Creating a virtualenv for this project...
The path python3 (from --python=python3) does not exist

[2017-01-30 15:10] nateprewitt commented on #161
While we could do this @dct360, I'm feeling this will likely cause more problems than it will fix. Mucking around with trying to add another version of Python to a system can lead to issues if not done correctly. We also won't know which operating system the user is working on, or where they want it installed, etc.

For those reasons, I feel it's probably safer for everyone if the user conciously

[2017-01-30 15:10] #161 closed

[2017-01-30 15:13] nateprewitt commented on #157
Thanks for opening this ticket @edsu, could you provide your current Pipfile and the version of pipenv you're using?

[2017-01-30 15:26] nateprewitt commented on #156
This is resolved with 6888b58, but I'm going to leave this open for a bit until @jungornti has a free moment to clarify those other issues.

Thanks again @jungornti :)

[2017-01-30 15:30] nateprewitt commented on #157
Sorry @edsu, I'm looking at this again and this is definitely an incarnation of #90 that has since been patched in 3.2.6. The code in the stacktrace no longer exists. Please update your version of pipenv but feel free to reopen this if you're still experiencing a problem.

[2017-01-30 15:30] #157 closed

[2017-01-30 15:32] edsu commented on #157
Thanks, upgrading fixed it! Thanks for all your work on pipenv, lovin' it.

[2017-01-30 16:18] asyncee commented on #156
Hello, Nate!

Check out [Pipfile examples](https://github.com/pypa/pipfile#examples), `extras` syntax is mentioned:

[code]

I know what @jungornti  was about, pymorphy and extras syntax mistakes were just typos (correct is `pymorphy2 = { extras = ['fast'] }`)

With this Pipfile i'm getting same error:

[code]

But this time Pipfile was not automatically transformed to contain separate `packages.p

[2017-01-30 16:25] nateprewitt commented on #156
Alright, I'm going to close this for now then. Feel free to reopen if you're still having issues @jungornti.

Thanks for testing things @asyncee!

[2017-01-30 16:26] #156 closed

[2017-01-30 16:41] jacebrowning opened #162 "Support for running commands directly in the pipenv shell?"
I would like the ability to specify a command to run in the pipenv shell so that I can simulate my production environment locally with a single call:

[code]

Would you support this use case?

[2017-01-30 17:43] gekitsuu opened #163 "Possible use-case for generating a requirements.txt from Pipfile and Pipfile.lock"
I'm working on a project using the Serverless framework (serverless.com) and the way Lambda's are uploaded is to bundle all the files in the directory. The way you typically do this with serverless is to do something like

[code]

Then in your python handler you'd have

[code]

With pipenv I get the .venv directory but I'm not sure I want to bundle the whole virtualenv and upload that to AWS (or G

[2017-01-30 17:50] kennethreitz commented on #163
`$pipenv install --requirements`.

[2017-01-30 17:50] #163 closed

[2017-01-30 17:53] kennethreitz commented on #162
Not at this time.

[2017-01-30 17:54] kennethreitz commented on #160
I think it's reasonable to only fail once, but i'll see what I can do.

[2017-01-30 17:55] FooBarQuaxx commented on #163
The requirements outputted are mixed with pipenv messages.
[code]

[2017-01-30 18:01] kennethreitz commented on #163
"no package provided" is stderr, not std out. if you pipe this output, it will be clean.

[2017-01-30 18:06] FooBarQuaxx commented on #163
If you starting fresh, will get some stdout that's not related to the requirements though.
[code]

[2017-01-30 18:07] kennethreitz commented on #163
ah, let's clean that up

[2017-01-30 18:12] kennethreitz commented on #163
https://github.com/kennethreitz/pipenv/commit/09d5951bd4e285f6039c692d33af6ada5aa7150c

[2017-01-30 18:13] kennethreitz commented on #163
all better!

[2017-01-30 18:18] FooBarQuaxx commented on #163
@kennethreitz  I don't think that fixes everything. You should also take care of virtualenv output I guess.

[2017-01-30 18:19] kennethreitz commented on #163
i believe i did that in another commit

[2017-01-30 18:19] kennethreitz commented on #163
all tested and working here

[2017-01-30 18:20] nateprewitt commented on #147
I've tried several configurations on macOS and can't generate what you're seeing. Can you please provide the following for me?

* `python --version`
* `pipenv run python --version`
* `pipenv --version`
* `cat | head -1 .venv/bin/pip`
* The output of the file at $PIP_CONFIG_FILE
* your Pipfile

[2017-01-30 18:20] kennethreitz commented on #163
[code]

[2017-01-30 18:22] FooBarQuaxx commented on #163
[code]

[2017-01-30 18:23] FooBarQuaxx commented on #163
@kennethreitz Sorry my bad. I was using an old version.

[2017-01-30 18:35] nateprewitt commented on #146
@jpadilla, locking is still not a fast action.

I believe the default of not locking is the correct one. If the user is playing around with adding one package at a time, we don't want to wait for a whole lock rebuild every time they add or delete a dependency. Especially since the environment is already updated for them.

When they're ready to lock it, the user can use `pipenv lock`, or if they kn

[2017-01-30 19:11] kennethreitz commented on #163
good :)

[2017-01-30 19:21] kennethreitz commented on #154
@vadimadr there is a ``--system`` option for that actually!

[2017-01-30 19:22] kennethreitz commented on #154
When used, a virtualenv will still be created, but it wont' be used for installation of packages.

[2017-01-30 20:30] simonpercivall commented on #147
Hmm, I don't know if I'm just confused about what you're saying; perhaps we're actually agreeing.

Note that the `pipenv` repo at commit `c54d661` switched from using the hash from `crayons 0.1.2.tar.gz` to using the hash from `crayons-0.1.2-py2-none-any.whl`, so retrying my example from the comment above will not work, since `pip download` downloads the wheel … that is, unless you set `no-binary

[2017-01-30 20:43] iandees opened #165 "Automatic migration of requirements.txt"
Would it make sense to have `pipenv install` in a project directory ask about installing the packages listed in a `requirements.txt` (of the `pip install -r requirements.txt` variety) rather than simply creating an empty pipenv project as it seems to do now?

[2017-01-30 20:44] kennethreitz commented on #165
I don't think so, you should manually be curating your packages now.

[2017-01-30 20:45] iandees commented on #165
What's the recommended path for someone migrating from requirements.txt to pipenv? To manually go through requirements.txt and type `pipenv install x` for each? (or maybe a `cat | for | ...` shell incantation)

[2017-01-30 20:45] kennethreitz commented on #165
yes, or edit the pipfile yourself.

[2017-01-30 20:46] kennethreitz commented on #165
requirements.txt should be used as a lockfile, not as a pipfile.

[2017-01-30 20:48] iandees commented on #165
It might be good to mention pipenv's relationship with a requirements.txt setup. To me they're pretty similar/overlapping at first read through the docs. I respect that you have a strong opinion about how this works: it'd be good to have that more up front so those that aren't as familiar can learn more.

[2017-01-30 21:13] nateprewitt commented on #147
Yep, I think this seems to be a case of a few crossed wires (mostly mine) :)  I now see what you were saying. My tests were showing source archives but I apparently chose packages that didn't have wheels (e.g. toml).

In actuality, you're correct that pip prefers wheels and will only use source archives if there's no wheel available. So we're back to the original conflict of Python 2 hashes vs Pyt

[2017-01-30 21:24] simonpercivall commented on #147
Yes. Another alternative could be for `pipenv` to _always_ use source archives, both for `lock` and `install`, since the `--no-binary=:all:` option is available for both `pip install` and `pip download`. I guess it's be a question of which solution is least bad for the most people.

Not using wheels makes it fully portable (and an option for `pipenv` could disable hashes+no-binary for just the `in

[2017-01-30 21:27] nateprewitt commented on #147
@simonpercivall yeah, this is a question of better defaults. We could easily add `--no-binary=:all:` to out commands and my original write up was going to suggest that, but that completely eliminates wheels.

Using pip.conf at least makes this toggleable, whereas hardcoding `--no-binary` can't be changed without adding another flag. I'm not sure if @kennethreitz wants to keep adding flags right no

[2017-01-30 21:29] kennethreitz commented on #147
i think the current implementation is fine for now, wheels are excellent.

[2017-01-30 21:30] nateprewitt commented on #147
There's the word then :) I'll write up configuring a pip.conf entry @simonpercivall and I think we'll leave it there for now.

[2017-01-30 21:30] #147 closed

[2017-01-30 21:32] nateprewitt commented on #147
Also thanks for your time researching this, @simonpercivall!

[2017-01-30 21:40] simonpercivall commented on #147
Thanks for the discussion.

Hopefully this situation will improve over time; for instance if `pipenv lock` stored multiple hashes, by arch/version, and if hashes for wheels on PyPI were downloadable without downloading the actual files.

[2017-01-31 05:48] singleton11 opened #167 "Double requirement"
[code]
django double etc, you know! :)

[2017-01-31 05:55] nateprewitt commented on #167
Sorry @singleton11, you're going to have to be a bit more explicit. This is a pretty dense Pipfile and I'm not immediately seeing the issue. I'm assuming this is related to #90?

[2017-01-31 06:04] nateprewitt commented on #167
@singleton11, the issue is you're using incorrect syntax for `django-rest-auth`. The entry needs to be `django-rest-auth = "==0.8.2"` if you want exactly version 0.8.2.

Feel free to reopen this if you're still having issues.

[2017-01-31 06:23] singleton11 commented on #167
Pipfile:
[code]

Pipfile.lock:
[code]

pipenv, version 3.2.11

Error:
[code]

[2017-01-31 06:32] jungornti opened #168 "Double requirements given: django"
Hello again, i have found new problem, after `pipenv install` i got a message:

[code]

Additionnaly, i noticed that Pipfile transformed to new look (pymorphy2's extras section).

Pipenv version: installed from master [(updating prompt example a771b7a)](https://github.com/kennethreitz/pipenv/commit/a771b7a0c3976861ec6bcd5e3f9da94ee8ccdfcd)]

How to reproduce the problem:

1. create Pipfile
2. run

[2017-01-31 06:37] FooBarQuaxx commented on #165
@iandees I think you can do a somthing like ``pipenv install && pipenv run pip install -r requirements.txt``.

[2017-01-31 06:48] FooBarQuaxx commented on #165
Yeah, but of course this will not add those dependencies to your Pipfile if that's what you need.

[2017-01-31 06:53] kennethreitz commented on #167
closing for #168

[2017-01-31 06:53] #167 closed

[2017-01-31 08:38] nateprewitt commented on #168
Hrmm, so https://pypi.python.org/simple lists the package name as `django` while every other resource has it as `Django`. This is causing our name normalization to get a different name casing than what `pip` is sending back. It currently looks like this is only happening for Django.

[2017-01-31 09:08] jungornti commented on #168
Is it possible to instead of automatically normalize package names, throw some obvious error about that casing is wrong?

Explicit is better than implicit → the dev will see the error and fix Pipfile?

[2017-01-31 13:08] frankh opened #170 "Attribute error running `pipenv install`"
My Pipfile:

[code]

Running `pipenv install` gives the error:

[code]

[2017-01-31 13:27] jungornti commented on #170
You have old version of `pipenv`, try to update. This was fixed.

[2017-01-31 14:22] frankh commented on #170
I just updated it

[code]

[2017-01-31 14:56] nateprewitt commented on #170
Thanks for opening a issue, @frankh. This was indeed fixed in 3.2.13 with 6888b58, please update your pipenv client. This is still a very young project, so we've been iterating fairly rapidly trying to strike a balance between features and stability. Occasionally, some things slip through.

I'm closing this for now, but please feel free to comment on the original issue (#156) and we can look at re

[2017-01-31 14:56] #170 closed

[2017-01-31 15:04] singleton11 commented on #168
@jungornti, not in this case, I have to use pip-tools, which is not such comfortable, pipenv's behavior looks like modern package managers and I want to avoid manual work for dependency management, by the way it should be automated

[2017-01-31 15:30] dvachaiev opened #171 "pipenv shell fails with traceback if no Pipfile exists"
Traceback (most recent call last):
  File "/usr/local/bin/pipenv", line 11, in <module>
    sys.exit(cli())
  File "/Library/Python/2.7/site-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/Library/Python/2.7/site-packages/click/core.py", line 697, in main
    rv = self.invoke(ctx)
  File "/Library/Python/2.7/site-packages/click/core.py", line 1066, in

[2017-01-31 16:08] nateprewitt commented on #171
Yep, looks like this affects `pipenv run` as well and is a direct result of f0cc4ad. I've decoupled finding the Pipfile's location from validating its contents in 54ed73b.

Thanks @dvachaiev! ✨

[2017-01-31 16:08] #171 closed

[2017-01-31 22:06] nateprewitt commented on #168
Tentatively fixed in 3.2.14 (#172). Please let us know if you encounter any further occurrences.

[2017-01-31 22:06] #168 closed

[2017-01-31 23:13] abdulhaq-e commented on #3
Is there a way to use it with `pipenv install`?

[2017-01-31 23:22] tylerwince opened #173 "Support for ~/.virtualenvs folder instead of .venv in project folder"
I think it would be great if there could be a choice between adding the `.venv/` folder to the repo directly and having a central `~/.virtualenvs` folder - similar to virtualenvwrapper.

@kennethreitz, what do you think about adding support for this? I would be willing to take a stab at it if it is something you want to pursue.

[2017-02-01 01:12] kennethreitz commented on #173
if anything we'd support `pew`. there's a branch for that.

[2017-02-01 01:51] thirtyseven opened #174 "Unhelpful error messages given when Pipfile.lock contains double requirements"
I am using the Pipfile included below.  Running `pipenv install` with no Pipfile.lock succeeds, but the next time I run it, after Pipfile.lock has been generated, I get the following error:
[code]

I assume this is because two packages in my Pipfile are requiring different versions of python-dateutil.  I'm not sure if this is something that pipenv should handle, but in any case, the error message

[2017-02-01 01:55] thirtyseven commented on #174
It appears this was actually caused by the Pipfile itself requiring python-dateutils.  Closing.

[2017-02-01 01:55] #174 closed

[2017-02-01 02:31] tylerwince commented on #173
Sounds great! Thanks

[2017-02-01 02:31] #173 closed

[2017-02-01 02:47] kennethreitz opened #176 "recommend installation with pipsi"
https://github.com/mitsuhiko/pipsi

[2017-02-01 06:10] jungornti opened #178 "Default virtualenv location and pipenv shell problems"
Hello, i have noticed that pipenv creates virtualenv in new directory, which is highly unacceptable for our company, because of our project deployment tools are targeting .venv in project directory. How do we configure that? Also, hiding virtualenv on .local/share/virtualenv looks like bad practice:

1. you never know if virtualenv you need exists
2. system gets polluted with different virtualenvs

[2017-02-01 06:11] nateprewitt opened #179 "Fix Python 2.6 in 3.3.0"
Due to an upstream of `pew`, users can't properly install all of the dependencies for 2.6. https://github.com/berdario/pythonz/pull/1 is open to hopefully get this addressed quickly. Once that's merged, 3.3.0 should start working on 2.6.

[2017-02-01 06:18] kennethreitz commented on #178
no plans for making it configurable.

it sounds like your shell is not properly configured.

[2017-02-01 07:35] jungornti opened #180 "Problem installing pymorphy2"
Hello, i have just create project environment with `pipenv install` with this Pipfile:

[code]

Then i launched django project (manage.py) and got an error that pymorphy2 is not installed, but it is declared in Pipfile.

Then i tried to install it with `pipenv install pymorphy2` being inside in virtual environment and got this error: `Error: 2`.

[2017-02-01 07:41] kennethreitz commented on #180
make sure you're using the latest version!

[2017-02-01 07:42] #180 closed

[2017-02-01 07:43] #176 closed

[2017-02-01 07:43] kennethreitz commented on #162
added in master!

[2017-02-01 07:46] kennethreitz commented on #160
added!

[2017-02-01 07:46] #160 closed

[2017-02-01 07:46] jungornti commented on #180
I updated, now it is working, thanks, but now `pymorphy2 extras section` is replaced in Pipfile with `pymorphy2 = "*"`, instead of `pymorphy2 = {extras = '[fast'}`, so i can not install fast version of pymorphy2 anymore. I think this is a bug.

[2017-02-01 08:12] kennethreitz commented on #173
integrated!

[2017-02-01 10:03] midse opened #181 "Issue using pipenv 3.3.1 with Python 3.6"
Hello,

I updated pipenv this morning and I encoutered the issue below.

It works fine using pipenv 3.3.0 :)

[code]

Regards,

[2017-02-01 10:15] midse commented on #181
It looks like you fixed it in https://github.com/kennethreitz/pipenv/commit/0d3a7510fb19616a32f4f4713f855db3fc2ff2e8

[2017-02-01 10:15] #181 closed

[2017-02-01 14:56] nateprewitt commented on #162
Resolved with 85049ba.

[2017-02-01 14:56] #162 closed

[2017-02-01 15:04] nateprewitt commented on #179
Resolved in the latest release of pythonz-bd!

[2017-02-01 15:04] #179 closed

[2017-02-01 18:00] khardix opened #182 "FileNotFound: 'pew'"
When creating new project (== installing first dependency), I'm getting a `FileNotFound` exception:

[code]

Pipenv was installed with pipsi (as per documentation), and this happen on versions 3.3.0, 3.3.1 and latest master commit in the time of writing (7e6affc).

By my estimation, this problem lies in pipsi not installing/linking the `pew` CLI script.

[2017-02-01 18:08] nateprewitt commented on #182
Thanks for raising this issue @khardix, a couple of quick debugging questions.

Could you provide what `pipenv --version` and `pipenv run pip freeze` returns?

Could you also verify for me whether or not `$ pew` runs in your terminal?

[2017-02-01 18:09] nateprewitt commented on #182
Also your Pipfile contents would be helpful.

[2017-02-01 18:24] khardix commented on #182
I installed directly from github, since released pipenv-3.3.1 contains Python3 syntax error (which was fixed in 0d3a751). Install command: `pipsi install git+https://github.com/kennethreitz/pipenv#egg=pipenv`.

`$ pew` gives command not found -- it is not in my `$PATH`.

[code]
[code]

Pipfile: No pipfile before the command, after:
[code]

[2017-02-01 18:45] nateprewitt commented on #182
So it looks like pipsi installs everything but to a location that's not on the path by default. I'm able to reproduce this on Linux (Trusty) but wasn't able to on macOS.

`$ export PATH=$PATH/home/jstanek/.local/venvs/pipenv/bin`

Adding the environment to the path above will get you working for now. I'm going to need a bit of time to investigate why this is happening though.

[2017-02-01 18:51] khardix commented on #182
For now, I have fixed it by installing `pew` explicitly, and it works. Take your time, and thanks for rapid response 👍.

[2017-02-01 19:27] kennethreitz commented on #182
perhaps pipsi isn't the best installation method after all. i'll have to double check.

[2017-02-01 20:18] spiliopoulos opened #183 "Depth of Pipfile recursive search"
There is a default depth of 3 for the recursive search of a Pipfile. For projects with a deeper file hierarchy it's difficult/confusing to use pipenv. For example I have already created a virtualenv on the root dir, then I move 4 directories down, and I do pipenv install Something and I end up with a new virtualenv in that directory. This behavior should be documented and it would be nice to be ab

[2017-02-01 20:19] kennethreitz commented on #183
what depth do you think it should be set at?

[2017-02-01 20:19] kennethreitz commented on #183
I'd like to avoid configuration if at all possible.

[2017-02-01 20:21] spiliopoulos commented on #183
Well, there is no one size fits all option here. If you want to avoid configuration then it should at least be very clearly documented. Preferably on the first run of pipenv output too.

[2017-02-01 20:22] kennethreitz commented on #183
I'm looking for data here: what depth do *you* need?

[2017-02-01 20:22] spiliopoulos commented on #183
Well, the project I am working at now has a max depth of 10 I think.

[2017-02-01 20:23] kennethreitz commented on #183
yeah, we're not going to support that i don't think. perhaps via environment variable...

[2017-02-01 20:24] spiliopoulos commented on #183
Sure. Would you like two seperate prs one for the documentation (that there is a maximum depth) and one for the environmental variable, so you could accept one or the other or both?

[2017-02-01 20:25] kennethreitz commented on #183
one for both — add it to the advanced section

[2017-02-01 20:25] spiliopoulos commented on #183
:+1:

[2017-02-01 21:21] nateprewitt commented on #180
@jungornti, and anyone stumbling onto this issue later, you've used the word "extra" instead of "extras" which will not work. Fixing the name in your Pipfile should work fine.

[2017-02-01 21:37] kennethreitz commented on #182
updated installation instructions

[2017-02-01 22:49] gregplaysguitar commented on #125
Any tips on adding this to zsh?

[2017-02-01 23:23] kennethreitz commented on #125
same way it is for fish!

[2017-02-02 00:24] nateprewitt commented on #182
I think this should be addressed now with the documentation updates.

[2017-02-02 00:24] #182 closed

[2017-02-02 00:33] jacebrowning opened #184 "Wrong Python inside of 'pipenv shell'"
Inside of the `pipenv shell` subshell, I expected `python` to point to `.venv/bin/python`, but:

[code]

[2017-02-02 00:34] kennethreitz commented on #184
you likely don't have your shell configured properly.

[2017-02-02 00:35] kennethreitz opened #185 "consider adding shell --compatibility"

[2017-02-02 00:37] jacebrowning commented on #184
With prior versions, I saw the `(myproject) $` marker appear when inside the subshell.

[2017-02-02 00:38] kennethreitz commented on #184
correct, this will no longer occur, as fancy shells can be configured to display virtualenv information automatically

[2017-02-02 00:39] nateprewitt commented on #184
@jacebrowning I'm able to replicate this. Whichever python .pyenv/shims/python points to is the one I get now. This seems to be a side effect of `pew`.

[2017-02-02 00:43] nateprewitt commented on #184
Alright, it looks like pyenv pushes the shim to the top of the path so the virtualenv python located at `/Users/Browning/.local/share/virtualenvs/virtualboombox/bin/python` isn't used. The python you want is available, but I think you'll need specify your python version for now.

[2017-02-02 00:44] kennethreitz commented on #184
so far, i'm really not a fan of pyenv.

[2017-02-02 00:56] xwk opened #186 "'pipenv install' does not honor --three option when auto generate the virtualenv"
Steps to reproduce the problem:
1. create a new project folder
2. cd to the folder
3. run 'pipenv --three install rx'
4. run 'pipenv shell'
5. run 'python'

Expected outcome:
The python version should be 3.x

Actual outcome:
The python version is 2.x

In comparision, if you use 'pipenv --three' command to explicitly create the virtualenv, it will correctly create a python3 virtualenv.

[2017-02-02 00:59] nateprewitt commented on #184
Different strokes, @kennethreitz ;) It's just a conflict of python management paradigms. `pew` and `pyenv` are competing for control here and `pyenv` is the one taking over the shell because (I think) it's injecting itself last. That means `pipenv shell` ends up in a different state than pew expects. I'll look into possible options, @jacebrowning. It's not in scope to specifically support pyenv, b

[2017-02-02 01:01] kennethreitz commented on #184
I just added `$ pipenv shell --compat`, which runs the old way (in compatibility mode), for people that have tricky shell configurations.

Not released yet.

[2017-02-02 01:06] nateprewitt commented on #186
@xwk, this isn't quite that pipenv install --three isn't being honored, but that pipenv shell had a functionality change. We're already discussing this in #184, and it's been patched on master.

Going to close this in favor of the other issue. Thanks for taking the time to open this!

[2017-02-02 01:06] #186 closed

[2017-02-02 01:29] kennethreitz commented on #184
also added support for `PIPENV_SHELL_COMPAT` environment variable.

[2017-02-02 01:31] #185 closed

[2017-02-02 01:31] kennethreitz commented on #185
done!

[2017-02-02 02:03] kennethreitz commented on #183
this is now configurable!

[2017-02-02 02:04] kennethreitz commented on #183
`PIPENV_MAX_DEPTH`

[2017-02-02 02:05] kennethreitz commented on #173
also added `PIPENV_VENV_IN_PROJECT` mode for classic operation.

[2017-02-02 02:05] kennethreitz commented on #178
added `PIPENV_VENV_IN_PROJECT` mode for classic operation. Not released yet.

[2017-02-02 02:06] kennethreitz commented on #178
this will also restore your shell functionality, although i would recommend fixing your shell configuration.

[2017-02-02 02:06] #178 closed

[2017-02-02 02:42] tylerwince commented on #173
👍 works like a charm! Thanks @kennethreitz

[2017-02-02 02:53] jacebrowning commented on #184
FWIW, directly activating virtual environments has always works with `pyenv`. Considering that `virtualenv` creates symlinks to whatever Python is requested, I'm not sure why a Python version manager should have any effect:

[code]

[2017-02-02 04:07] douglasmiranda opened #187 "ValueError: unknown locale: UTF-8"
So, I was using pipenv 3.1.* or 3.2.*, now I'm using pipenv==3.3.3 on macOS Sierra.

And this happens:
[code]

A strange thing, since I didn't changed anything on macOS locale settings, but I've fixed by adding, on my \~/.bash_profile (\~/.zshrc):

[code]

I don't know if anyone will have the same issue, but if this is not something for pipenv to bypass without error or something, you can close th

[2017-02-02 04:11] nateprewitt commented on #187
Yep, looks like this is a macOS bug that `locale.getlocale()` can encounter. The only suggested fix is the one you've provided. Thanks for taking the time to document this :)

[2017-02-02 04:11] #187 closed

[2017-02-02 05:15] douglasmiranda opened #188 "Only pipenv shell -c works on my zsh"
I'm using zsh, and `pip shell` only works with the `--compat` flag.

So, in this case, what "misconfigured shells" means?

[code]

pipenv==3.3.4

[2017-02-02 05:42] jungornti commented on #178
Thank you very much! I figured out that in new version you did use `pew` to manage virtualenv and that is great, but `pew` is not supporting `pyenv`, which i use, and this is what causes the problem. I decided to refuse of `pyenv` in favour of `pew`, but this issue may target all of pyenv users.

[2017-02-02 05:45] jungornti commented on #180
@nateprewitt thank you, sorry for bothering you because of this stupid problem. :)

[2017-02-02 05:47] kennethreitz commented on #188
that means you don't have your shell configured properly!

[2017-02-02 05:47] kennethreitz commented on #188
and that's why compatibility mode is there. you can make it permanent by setting `PIPENV_SHELL_COMPAT=1`

[2017-02-02 05:47] #188 closed

[2017-02-02 05:49] kennethreitz commented on #178
released!

[2017-02-02 11:23] jdno opened #189 "Removal of --requirements"
Hello,

I am in dire need of the `--requirements` flag and was wondering why it was removed. Especially after seeing the very recent discussion in #163.

We currently experiment with both `pipenv` and `pip` in our development pipeline. Local development is done with `pipenv` (thanks btw!), but to deploy our servers, we fall back to plain ol' `pip`. More specifically, we build Docker images from ou

[2017-02-02 12:37] JacobOscarson opened #190 "Subcommand(?) issue while bootstrapping a new environment"
Hello,

First, thanks a lot for this project! It certainly fills in a missing piece of functionality in the Python ecosystem.

However, I just ran into an issue when running with a combination of:
[code]

aiming to create an environment using Python 3.6.0 (findable via `$PATH`)

I try to install from scratch /w a new Pipfile like this:

[code]

[2017-02-02 14:21] spiliopoulos commented on #183
Thanks.

[2017-02-02 14:21] #183 closed

[2017-02-02 14:51] nateprewitt commented on #189
Hey @jdno, the functionality wasn't removed but rather relocated to a more sensible place. Calling `pipenv install --requirements` only printed the requirements list, while not installing anything. This lead to some confusion when running commands like `pipenv install Django --requirements`.

The `requirements.txt` functionality now resides on the `lock` function with the command `pipenv lock -r`.

[2017-02-02 14:51] #189 closed

[2017-02-02 14:58] nateprewitt commented on #190
@JacobOscarson could you supplying us with a few more pieces of information?

* `virtualenv --version`
* `pew version`
* `pipenv run pip --version`
* `pipenv run python --version`

[2017-02-02 15:09] jdno commented on #189
Epic stuff! 👍 Thanks for the quick update.

[2017-02-02 15:29] JacobOscarson commented on #190
[code]

Running both `pipenv run pip --version` and `pipenv run python --version` raises `OSError` complaining about missing local files, originally from the `subprocess` stdlib module.

[2017-02-02 16:47] nateprewitt commented on #190
@JacobOscarson This is leading me to think there's an installation issue of some kind with your pipenv instance. My first suggestion would be to uninstall pipenv, run the `pipenv` command again to verify you don't have an additional install somewhere else, and then reinstall it.

If that doesn't fix it, we'll need the traceback from that OSError to keep moving forward.

[2017-02-02 17:10] jacebrowning opened #191 "Hashes do not match on CircleCI"
I am getting the following failure on CircleCI with pipenv 3.3.4:

[code]

Using the same version `pipenv install --dev` succeeds on my machine.

How do I go about debugging this?

[2017-02-02 17:15] nateprewitt commented on #191
@jacebrowning this is an issue of wheels vs binaries. CircleCI is downloading `coverage-4.3.4-cp36-cp36m-manylinux1_x86_64.whl` and I'm assuming you're on macOS or getting a source archive on your local system.

This is a known issue that is typically caused by generating a lock file in Python 2 and then trying to use it with Python 3 (and vice versa).

Have you tried uploading this to your CI wit

[2017-02-02 17:27] jacebrowning commented on #191
@nateprewitt `rm Pipfile.lock && pipenv install --dev` succeeds on CircleCI.

[2017-02-02 17:45] nateprewitt commented on #191
Yeah, so this is a conflict of either default python versions (or pip environment settings; see #147) between your local system and CircleCI. As long as we allow wheels, there will be hash differences on different system configurations. While this does defeat some of the purpose of the hashes, I think it's the best solution we can provide at the moment.

Glad this worked for you, and thanks for le

[2017-02-02 17:45] #191 closed

[2017-02-02 17:54] nateprewitt commented on #191
@jacebrowning, ignore my previous advice of deleting the lock file. I'd forgotten the prescribed solution from the [docs](http://docs.pipenv.org/en/latest/advanced.html#testing-projects) is to run `pipenv lock` before running `pipenv install --dev` on a CI environment.

[2017-02-02 18:39] kennethreitz commented on #190
make sure you're using the latest pip!

``$ pip install pip --upgrade``

[2017-02-02 18:41] kennethreitz commented on #189
✨🍰✨

[2017-02-02 18:42] #190 closed

[2017-02-02 18:52] #184 closed

[2017-02-02 18:54] nateprewitt commented on #184
@jacebrowning yeah, this is a specific behaviour of `pew`. I've looked into a possible patch there, but don't have anything that works with their idea of how virtualenvs work. The `PIPENV_SHELL_COMPAT` env variable is the way to go with `pyenv`.

[2017-02-02 20:01] kennethreitz opened #193 "find a way to fix toml output for dicts"
for example

[code]

should be

[code]

[2017-02-02 20:31] kennethreitz opened #194 "windows support"
see if this is even possible. May have to just print output to tell users what to do if they are on windows.

[2017-02-02 21:10] nateprewitt commented on #193
It looks like the second example isn't actually valid TOML. If we are going to run the normalized output back through `toml.dumps` we're going to get the top output.

I know the latter is how things are documented for `Pipfile`, and we currently support loading it, but can't reliably serialize back to it. Unless we want to start supporting our own variant of TOML we may be hooked for the [package.

[2017-02-02 21:16] kennethreitz commented on #193
it is valid toml, there are just multiple ways of representing it, and the serializer is picking our unprepared method.

[2017-02-02 21:17] kennethreitz commented on #193
https://github.com/toml-lang/toml#inline-table

[2017-02-02 21:18] kennethreitz commented on #193
https://github.com/jumpscale7/python-consistent-toml

[2017-02-02 21:23] nateprewitt commented on #193
Ah, missed that section. The only TOML validator I could find was complaining about the syntax. `contoml` seems like a reasonable alternative.

[2017-02-02 21:33] kennethreitz commented on #193
having issues with contoml. looking into this now:

https://github.com/jumpscale7/python-pretty-toml

[2017-02-02 21:36] kennethreitz commented on #193
they all suck

[2017-02-02 21:41] kennethreitz commented on #194
spinner doesn't work on windows. not even worth it.

[2017-02-02 21:41] #194 closed

[2017-02-02 21:50] kennethreitz commented on #193
i give up

[2017-02-03 04:46] elistevens opened #195 "Most pipenv commands result in OSError"
This is Ubuntu 16.04, in a project dir that I'd like to start using pipenv with. Here's what I've run:

[code]

The last two commands give stack traces like:

[code]

I can't tell if this is a bug or user error.

[2017-02-03 04:55] nateprewitt commented on #195
Hmm, this seems to be the same thing encountered in #190. I can't reproduce this on macOS or Ubuntu 14.04. I'll need to set up a VM with 16.04 and see if there's anything different there.

Are you using a standard bash shell, and are you trying to create this virtualenv while having a virtualenv active?

[2017-02-03 05:23] elistevens commented on #195
Default bash shell, yes.

And yes, I made a fresh `./.venv` before installing pipenv and running the commands. It's not "active" in the sense of the environment pointing to it, but I'm running the command as `.venv/bin/pipenv ...`

[2017-02-03 14:01] skovmand opened #196 "Activate .venv on install?"
Hi Kenneth.

I think this package is brilliant. As a newcomer to the Python Community, I think pip needs many improvements, and that whole virtualenvironment process was a pain to understand in the beginning. Pipenv solves a lot of them.

Two suggestions:
- Adding a shortcut command for `source .venv/bin/activate`
- Activating the virtual environment automatically after installing it with e.g. `pi

[2017-02-03 15:17] nateprewitt commented on #196
Hey @skovmand, thanks for opening this issue.

The shortcut for activating your virtualenv already exists. `pipenv shell` should activate your virtualenv for you inside a new shell process.

As for automatically activating, the typical workflow with pipenv should actually allow you to skip activating the environment in most cases. Instead, using `pipenv run` to execute commands from inside the env

[2017-02-03 15:17] #196 closed

[2017-02-03 16:35] wong2 opened #197 "spinner breaks pipenv on Python 2.6"
[code]

according to [blindspin README](https://github.com/kennethreitz/blindspin#install):

So I think we should either make blindspin support Python 2.6, or don't use blindspin in pipenv on Python 2.6

[2017-02-03 18:12] skovmand commented on #196
Thanks Nate.

Sorry for being ignorant about these things. Now I get the idea!
Thanks for your good work on this.

[2017-02-03 18:19] nateprewitt commented on #196
You're not being ignorant at all, this is a slightly different paradigm and takes some adjustment. Questions are always good because this will likely help others in the future :)

Glad you're enjoying it!

[2017-02-03 18:21] waynew opened #198 "How to use pipenv + developing?"
My typical workflow involves installing my package with pip's editable mode, i.e.

    /path/to/my/project$ pip install -e .

Which is how I get my dependencies - from my setup.py `install_requires` section. Mainly because I have console scripts setup.

Is this orthogonal to pipenv, or is there any (planned) support for this type of workflow?

[2017-02-03 20:54] relwell opened #199 "$ pipenv run --no-interactive"
For example, with Docker:

[code]

[2017-02-03 22:17] nateprewitt commented on #198
So the short answer is no, we don't really have a way to do this workflow right now.

We had the ability to support this to an extent with remote repositories on a version control system, but it looks like this has actually been regressed in a recent version.

I think we can at least look into supporting something like this if you can give me a more detailed breakdown of your use case. What part o

[2017-02-03 23:07] nateprewitt commented on #199
`pipenv` needs a tty in order to function currently, and it appears Docker may not provide that in all cases. There seems to be some open bugs (e.g. #8755) in docker relating to other commands that can't or previously haven't been able to run because of this. I'm not sure if we can support this at the moment but I'll leave it open for a bit while I look into possible options.

[2017-02-03 23:27] kennethreitz commented on #199
which command were you running when you got this?

[2017-02-03 23:34] relwell commented on #199
Thanks, Kenneth. I had set up a pip env inside of a Dockerfile, and was running the command `pipenv run app.py` on a flask app.

[2017-02-04 00:39] nateprewitt commented on #193
Pending the acceptance of uiri/toml#75, we may be able to support this. I'm going to reopen this until we get a verdict there.

[2017-02-04 16:05] kennethreitz commented on #198
We will likely grow this ability, as the pipfile project does.

[2017-02-04 16:05] kennethreitz commented on #197
@nateprewitt let's automatically disable the spinner for 2.6 for now, then try to fix the library.

[2017-02-04 19:23] kennethreitz commented on #193
Great work! I was going to do this today :)

[2017-02-04 19:24] kennethreitz commented on #199
interesting. you can always use `pipenv --venv` to find the paths and run the commands manually, in the meantime.

[2017-02-04 19:25] kennethreitz commented on #199
or perhaps we can add a flag to `run` (e.g. `$ pipenv run pytest --which`), which would output the path to the executable, for environments like Docker.

[2017-02-04 19:29] relwell commented on #199
How about a `--no-interactive` flag that doesn't open a new shell?

[2017-02-04 20:27] kennethreitz commented on #199
i like that idea.

[2017-02-04 20:27] kennethreitz commented on #199
otherwise, we'll just have to run the process and block until it completes, then show the output.

[2017-02-04 20:31] kennethreitz commented on #198
currently you would do the following:

[code]

[2017-02-04 21:39] waynew commented on #198
That's the approach I took - though I wasn't able to figure out how I'm supposed to get the requirements from my setup.py into a Pipfile... I could do it manually of course, that just seemed like it was contrary to the designs of pipenv 😄

[2017-02-05 00:07] nateprewitt commented on #197
#200 is merged and disables the spinner for 2.6. Unless you have issues with kennethreitz/blindspin#1 @kennethreitz, the fix should be ready to go there when you feel like pushing a release.

[2017-02-05 16:05] juanpabloaj opened #201 "pipenv shell: UnicodeDecodeError: 'utf8' codec can't decode byte"
when I tried to use `pipenv shell`, I got this message

[code]

[2017-02-05 19:57] nateprewitt commented on #201
Hey @juanpabloaj, it looks like you have some unicode characters in your .bashrc. This is causing pew to crash in Python 2. The two immediate fixes for this are either setting PIPENV_VENV_IN_PROJECT in your bash environment and creating a new project, or using Python 3.

I think we can also open an issue upstream with pew so they can try to handle this occurance. Thanks for letting us know about t

[2017-02-05 20:02] nateprewitt commented on #201
Sorry, disregard what I said about pew not handling Unicode. This seems to be that your .bashrc is encoded with non-utf-8 bytes (possibly Latin-1?). This is likely a default configuration for your OS setup. I've actually never had to deal with this before so I'll have to research what the best course of action is. For now I'd suggest set the flag listed above.

[2017-02-05 20:43] juanpabloaj commented on #201
@nateprewitt thanks, I found this symbol in my `~/.bashrc`  :sweat_smile:

[code]

when I removed the symbol, the problem was fixed, thanks again

[2017-02-05 20:43] #201 closed

[2017-02-06 09:30] xi opened #202 "Feature request: Cleanup unused venvs"
As far as I can see I have to use the lower level `pew ls` and `pew rm {name}` to find and remove unused venvs. It would be nice if this was included in pipenv itself.

[2017-02-06 15:06] adrianliaw opened #203 "Compatibility for packages with "irregular" version numbers"
Currently, there is a restriction that the version numbers of installed libraries have to be matching `^[\d]+\.[\d]+.*` (starting with this regex)

I'm trying to install pdfminer.six in my project, but due to the "irregular" version number that looks something like `20160614`, pipenv seemed to be failing to catch the version number and failed to write it properly into the lock file.
And it ended u

[2017-02-06 15:15] nateprewitt commented on #203
Thanks for raising this issue @adrianliaw. I agree the regex isn't tolerant of non-standard version numbers, but has this far been the most universal solution. We originally had a solution similar to your suggestion, but packages aren't guaranteed to start with their own name and they often use - and _ interchangeably in projects, even from one version to the next.

I do think this is an area that

[2017-02-06 16:05] evertlammerts opened #204 "installing packages from git broken"
Fresh install:

[code]

Simple Pipfile:

[code]

Creates what seems to me a valid lock file:

[code]

And now installing breaks:

[code]

These are the versions in my env:

[code]

Leaving out the ref attribute makes no difference.

Providing the `editable` flag leaves the package out of the lock file altogether:

[code]

produces:
[code]

[2017-02-06 16:26] jacebrowning commented on #202
I'm strongly in favor of the virtual environments being created in the same directory as the project for this reason. There's less "magic" and it's trivial to delete a whole project including its virtual environment.

[2017-02-06 16:47] nateprewitt commented on #204
Thanks for opening this @evertlammerts, we realized last week that this was regressed in the 3.3.X releases of pipenv. I'm currently working on getting this functionality reintegrated, so bear with me while we get this tidied.

Since we hadn't gotten around to making a formal issue for this, we'll use this one to track this going forward.

[2017-02-06 16:57] nateprewitt commented on #202
So to be clear @jacebrowning, the functionality you're describing is still readily available with the`PIPENV_VENV_IN_PROJECT` environment variable.

@xi I think we could introduce this kind of functionality, but I'm not sure @kennethreitz is looking to add new commands to the API. Previously, when the virtualenv directory was located with the project by default, the user could use `rm` to delete t

[2017-02-06 17:09] jacebrowning commented on #202
@nateprewitt Thanks! I haven't actually read through the docs since they went up.

[2017-02-06 17:42] waynew commented on #198
Ah-hah! I figured out how to do what I was expecting:

    pipenv install $(pip freeze | grep -v git)

You'd have to replace `git` with whatever VCS you're using for your editable packages, but I guess this command probably does a better way of explaining the feature that I was expecting to be available.

Presumably from there there's a nice way to gather the requirements from the Pipfile into set

[2017-02-06 19:40] evertlammerts commented on #204
Thanks for the update. What's the last known version to have worked? I've just tried 3.2.14 and that doesn't seem to either.

Let me know if you want some help on this, with a few pointers I may be able to come up with a fix?

[2017-02-06 20:00] nateprewitt commented on #204
Hrmm, so you've actually encountered a variant of what we noted in #198. I had to backtrack all the way to 0.2.8 to find a version that handles this as expected which is before I started working on the project. While this will generate the expected Pipfile.lock output, it doesn't seem that pipenv was able to install from those specs at the time.

That leads me to believe this specific case may hav

[2017-02-07 02:48] arruda commented on #34
@kennethreitz  @jpadilla Sorry for disturbing an already closed issue, but it's unclear for me what's the proposed solution.
I imagined that one could use a Pipfile like:
[code]
for example, and instead of treating `project.source` as a single source, would use instead an `project.sources` and do a re-try(if the given package can't be found in the first check for example) for each source whenever

[2017-02-07 07:03] adrianliaw commented on #203
@nateprewitt Thanks for the explanation! But it seems like the file names of downloaded distributions such as tarballs and wheels, always start with the form of PKGNAME-VERSION, even though the module name you're going to use to import may not exactly be PKGNAME, but PKGNAME is exactly what you type in when you're trying to install. And according to [PEP426](https://www.python.org/dev/peps/pep-042

[2017-02-07 09:23] chhantyal opened #207 "git autocomplete not working in subshell"
Thanks a lot for this awesome project 👍

I am trying out for the first time. I have git autocomplete enabled, using this https://github.com/git/git/blob/master/contrib/completion/git-completion.bash

When I activate virtualenv using `pipenv shell`, git autocomplete doesn't work anymore

[2017-02-07 12:35] jayfk commented on #199
Ideally, you'd just want an entrypoint that activates the virtualenv for you. I was about to write a blog post about this. It's not finished yet, but the `Dockerfile` works: https://pyup.io/posts/pipfiles-and-docker/

This has the great advantage that no matter how you run the container, the virtualenv is already activated.

[2017-02-07 14:40] nateprewitt commented on #203
So we do already auto-normalize names from PyPI in `proper_name`. The problem is that depending on which pypi endpoint you hit and which version of the package you choose, you can end up with different results. We had an original implementation in 3.1.x that was based off of PEP426 and there were multiple issues opened because packages weren't returning consistent output. This gets particularly mo

[2017-02-07 16:24] guyskk opened #208 "pipenv uninstall --dev xxx uninstall all packages by mistake"
pipenv 3.3.6, python 3.6
[code]

[2017-02-07 22:01] robsonpeixoto opened #209 "[question] How to integrate with setup.py?"
Using `requirements.txt` I can do it:

[code]

How can I do the same using Pipfile?

[2017-02-08 00:00] nateprewitt commented on #209
You should be able to accomplish this with the code below. This will load the Pipfile from your current project and return the dependencies in a pip compatible list.

[code]

Let us know if you have any further questions :)

[2017-02-08 00:00] #209 closed

[2017-02-08 00:06] nateprewitt commented on #208
This looks like a legacy bit of documentation that we forgot to cleanup. `pipenv uninstall --dev` removes *ALL* packages in `dev-packages` and doesn't actually process any further args. This is matching the behaviour of `--all` which will remove everything. It's intended to allow you to easily clean up dev dependencies if you no longer want them.

You can simply use `pipenv uninstall numpy` and it

[2017-02-08 00:06] #208 closed

[2017-02-08 14:00] frankh opened #210 "Pipfile.lock hashes change between operating systems"
Currently if I lock a Pipfile in OSX and then try to install the lock file in linux it fails as many of the packages seem to have different versions based on the OS, with different hashes

[code]

[2017-02-08 14:02] frankh opened #211 "pipenv install failure doesn't exit with failure code"
Currently if pipenv fails to install (in my case due to hashes not matching the lock file, possibly also for other reasons), the error message is pushed off the screen by normal `Collecting ...` messages and the exit code is 0, despite the fact nothing has been installed at all.

It should return an error code and finish with a big red error message

To reproduce: Remove the virtualenv, change one

[2017-02-08 14:24] singleton11 opened #212 "pipenv install removes comments from Pipfile"

[2017-02-08 14:38] singleton11 opened #213 "Foursquare lock error"
[code]

[2017-02-08 15:48] nateprewitt commented on #207
Hey @chhantyal, could you tell me what shell you're using and what the value of `$SHELL` is in your terminal? Thanks!

[2017-02-08 15:53] nateprewitt commented on #210
Hey @frankh, we're currently only able to support lock files on similar platforms because of this. This also applies to lock files between Python 2 and 3 due to version specific wheels.

For now the suggested practice is to run `pipenv lock` on new environments before trying to use pipenv.

[2017-02-08 15:53] #210 closed

[2017-02-08 15:56] nateprewitt commented on #212
Hmm, this shouldn't be happening. It's likely part of how we're handling normalizing the Pipfile. I'll take a look into this, thanks @singleton11!

[2017-02-08 16:00] jacebrowning commented on #213
I think this might be the same issue as https://github.com/kennethreitz/pipenv/issues/203.

[2017-02-08 16:05] nateprewitt commented on #213
Thanks @jacebrowning, it's similar but I'm trying to determine why we're failing at different points for each. I'm leaving this one open until it's confirmed they are both due to the version number.

[2017-02-08 16:07] nateprewitt commented on #211
Thanks for this @frankh, this is now resolved in 85d2b2e.

[2017-02-08 16:07] #211 closed

[2017-02-08 16:21] nateprewitt commented on #213
Ok, this one is a bit odd. The `!` is being percent encoded to `%21` before being sent to us from pip. We then are trying to look up the unencoded name which is why we're encountering the key error. The immediate solution would be to un-percent-encode the package name before storing it, but I'm not sure if that will have negative effects on other packages at the moment.

I'd be happy if someone wo

[2017-02-08 16:27] nateprewitt commented on #213
As another note, this seems to be in direct conflict with versioning requirements laid out in [PEP 440](https://www.python.org/dev/peps/pep-0440), so I would consider this a problem with the source package rather than pipenv.

We can definitely be more tolerant of these kinds of things, but I'm not sure we can predict every possible version scheme someone can devise.

[2017-02-08 17:25] egorf commented on #197
I've experienced the same issue on Python 2.7.3 as well

[2017-02-08 19:24] nateprewitt commented on #197
Ok, that's what I thought. We need @kennethreitz to merge the patch on blindspin and things should be fixed for Python 2.

[2017-02-08 20:22] nateprewitt commented on #212
This looks to be a limitation of our upstream `toml` library. We'll need to raise an issue there and have them implement support for comments. We could probably implement this ourselves, but it would be nicer to get this support integrated at the source.

[2017-02-08 20:26] #202 closed

[2017-02-08 20:27] kennethreitz commented on #207
this is a side-effect of the way your shell is configured. I'd recommend getting more familiar with how your shell and its best practices.

[2017-02-08 20:27] #207 closed

[2017-02-08 20:29] kennethreitz commented on #204
i do believe that `egg` has always been a requirement.

[2017-02-08 20:32] #198 closed

[2017-02-08 20:35] kennethreitz commented on #197
merged!

[2017-02-08 20:36] nateprewitt commented on #197
Alright, this should be fixed with the next release of `blindspin`. Closing this out as fixed.

[2017-02-08 20:36] #197 closed

[2017-02-08 21:21] evertlammerts commented on #204
Sorry, don't think I understand. Are you saying I can't install from Git?

[2017-02-08 21:25] nateprewitt commented on #204
@evertlammerts, you *should* be able to install from git, but the functionality is currently broken. The use of `ref` and `editable` hadn't been tested before, and I can't find a version of pipenv where it ever did work correctly. We are working towards getting this addressed in a future release.

[2017-02-08 21:26] evertlammerts commented on #204
Got it, thanks!

[2017-02-09 04:15] kennethreitz commented on #199
https://github.com/kennethreitz/pipenv/commit/cfa4060d8e562681e1ef91e326f28e3508417b3e

[2017-02-09 04:15] #199 closed

[2017-02-09 05:26] jungornti opened #214 "Stable release"
Hello, it will be nice to the community, if we can know, when stable release is planned. Current version is 3.x, but current product is highly unstable and bugged. This is confusing a lot. I know, that your team want to iterate step by step and release early, that's why we are asking about stable release date.

Thank you.

[2017-02-09 10:13] chhantyal commented on #207
@nateprewitt I am using `bash`.

This is default configuration on OSX. I have only added this line in ~/.profile
`source ~/.git-completion.bash`
to enable git completion. I thought it was bug because activating venv doesn't affect it.

Anyway, not big of an inconvenience. I will try to figure out what `pipenv shell` does.

[2017-02-09 12:40] MyrionPhoenixmoon commented on #194
So just to be clear - there is no windows support for pipenv at all?

Or is this about some sub-functionality?

[2017-02-09 15:07] nateprewitt commented on #194
@MyrionPhoenixmoon we currently don't officially support Windows. You may be able to get certain features to work on Windows, but their function has no guarantee to continue in future versions. Hopefully when we have a more stable build we can start entertaining Windows support.

[2017-02-09 15:10] nateprewitt commented on #214
@jungornti, we're currently working on getting more of the API thoroughly tested in the CI environment. Hopefully once we have that in place the number of regressions we've recently experienced will be reduced. Please bear in mind this is an experimental project that's still less than a month old.

Is there a particular issue you're encountering in the latest version, that doesn't already have an

[2017-02-09 15:58] nateprewitt commented on #207
@chhantyal by default `pipenv shell` will run the command `pew workon <project_name>` where `project_name` is the directory you are using `pipenv` in. There may be restrictions in `pew` that are not playing well with your use of `source` to activate git-completion.

As Kenneth said, you'll either need to work out the conflict between `pew` and your shell setup, or you can use the `PIPENV_SHELL_COM

[2017-02-09 16:26] MyrionPhoenixmoon commented on #194
Thank you. I hope that day comes soon :)

[2017-02-09 17:31] #214 closed

[2017-02-09 19:26] dct360 opened #216 "pipenv --three error"
$ python --version
Python 2.7.5
$ which python2
/bin/python2

$ python3 --version
Python 3.4.6
$ which python3
/usr/local/bin/python3

python 3.4.6 built from source with:
./configure
make altinstall

$ python3
Python 3.4.6 (default, Feb  9 2017, 11:06:31)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-4)] on linux
Type "help", "copyright", "credits" or "license" for more information.

$ pipenv --three
Creati

[2017-02-09 21:26] kennethreitz commented on #216
cannot reproduce.

does regular virtualenv work for you?

can you run `pew new -p python3 testproject`

[2017-02-09 23:25] dct360 commented on #216
$ pew new -p python3 testproject
Running virtualenv with interpreter /usr/local/bin/python3
Using base prefix '/usr/local'
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/virtualenv.py", line 2328, in <module>
    main()
  File "/usr/lib/python2.7/site-packages/virtualenv.py", line 713, in main
    symlink=options.symlink)
  File "/usr/lib/python2.7/site-packages/virtua

[2017-02-09 23:25] kennethreitz commented on #216
i'd raise this issue on pew then :)

[2017-02-09 23:25] #216 closed

[2017-02-09 23:26] dct360 commented on #216
ok thanks!

[2017-02-09 23:28] nateprewitt commented on #216
And just to be clear @dct360, the stack trace shows that virtualenv is being run with your primary system Python (2.7). I'd try updating that if you haven't already.

[2017-02-10 05:30] jungornti commented on #214
Thank you for clarifying the situation, @nateprewitt

[2017-02-10 21:02] kennethreitz opened #219 "automatically detect --no-interactive"

[2017-02-11 08:29] sureshvv opened #220 "Unable to install due to blindspin"
Collecting blindspin (from pipenv)
  Downloading blindspin-2.0.1.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-7_qm6osu/blindspin/setup.py", line 7, in <module>
        readme = f.read()
      File "/home/s/lib/python3.5/encodings/ascii.py", line 26, in decode
        re

[2017-02-11 12:22] holmars commented on #195
@elistevens I had the same error yesterday on osx. I had installed `pipenv` with [pipsi](https://github.com/mitsuhiko/pipsi). The fix for me was to install `pew` with `pipsi` as well.

The issue is that `pew` needs to be in your `PATH` env var.

[2017-02-11 15:12] nateprewitt commented on #195
Thanks for taking the time to investigate this @holmars! I'm going to close this as resolved but feel free to reopen it if you continue experiencing this problem @elistevens.

[2017-02-11 15:12] #195 closed

[2017-02-11 15:28] nateprewitt commented on #220
I'm not entirely sure how you're encountering this, @sureshvv. The stacktrace is suggesting Python3.5 is trying to decode blindspin's `README.rst` as ascii instead of unicode. When doing so, it fails on a character `0xe2` (`â` in utf-8) which doesn't appear to exist in `README.rst`.

Could you please provide the exact command you're using to install, along with your pip version?

[2017-02-11 17:26] kennethreitz commented on #195
luckily, this is in the documentation :)

[2017-02-11 18:48] arruda opened #221 "How should extra-index-url be dealt with?"
At first I added this as a comment in #34, but since it was an closed issue I don't think that was the right approach =/
I was thinking how can pipenv deal with extra-index-url, that is, one can't just assume this "source" will have all pypi sources and some more. For now I don't think Pipfile treats extra-index-url in a more clear way, so one way of dealing with this, would be considering that an

[2017-02-11 18:52] arruda commented on #221
Just got a clarification that extra-index-url will be described as normal `[[sources]]` in Pipfile: https://github.com/pypa/pipfile/issues/68

(also I accidentally closed this issue, so I'm reopening it)

[2017-02-11 21:16] nateprewitt commented on #213
This should be resolved with #218.

[2017-02-11 21:16] #213 closed

[2017-02-11 21:16] nateprewitt commented on #203
This should be resolved with #218.

[2017-02-11 21:16] #203 closed

[2017-02-12 16:34] sureshvv commented on #220
suresh@ssdnodes-server1:~$ pip install pipenv
Collecting pipenv
  Using cached pipenv-3.3.6.tar.gz
Requirement already satisfied: crayons in ./lib/python3.5/site-packages (from pipenv)
Requirement already satisfied: toml in ./lib/python3.5/site-packages (from pipenv)
Requirement already satisfied: click>=6.7 in ./lib/python3.5/site-packages (from pipenv)
Requirement already satisfied: click-comple

[2017-02-12 16:35] sureshvv commented on #220
Could this be because of some incorrect locale setting?

[2017-02-12 21:19] nateprewitt commented on #220
Yep, that does appear to be the issue. Certain systems have ASCII set up for their default locale which Python 3 will use on reading files. The unicode guarantee is only for strings in source code according to this [Stackoverflow Question](http://stackoverflow.com/a/23917799/1575496).

This seems like a fairly odd choice for a linux distro though given the likelihood of `latin-1` or `utf-8` filena

[2017-02-13 08:04] sureshvv commented on #220
I found that it was due to my locale.

I changed /etc/environment to contain

LC_ALL=en_US.UTF-8
LANG=en_US.UTF-8

and rebooted.

Now it works ok!

[2017-02-13 08:04] #220 closed

[2017-02-13 14:27] nateprewitt commented on #220
Glad that helped @sureshvv!

[2017-02-13 14:30] nateprewitt commented on #219
Resolved with 62b65b1

[2017-02-13 14:30] #219 closed

[2017-02-13 15:40] cwillu commented on #112
Mucking around with the default system-wide python version is a good way to break random distro stuff though, even if it's only mucked up for the current user.  In #python at least, we strongly discourage people from doing that just due to the random breakage of unrelated things it can cause.

A somewhat related note, it'd be really handy to be able to have multiple venvs for a project, for differ

[2017-02-13 17:26] iamale commented on #112
pipenv seems to support specifying arbitrary Python executables using the `--python` flag. Multiple venvs would be really nice, though.

[2017-02-13 18:03] nateprewitt commented on #112
`pew` that we now use by default for environment management has the ability to associate multiple virtualenvs with a single project. It looks like we may have not exposed an interface in pipenv to manage this without running pew commands but I'm not positive. This functionality was implemented by @kennethreitz, so he'll have a better idea.

If it's not currently available, this is likely something

[2017-02-14 13:16] nateprewitt commented on #221
Resolved with #222.

[2017-02-14 13:16] #221 closed

[2017-02-14 18:04] kennethreitz commented on #112
Only plans to support one at a time at this time.

[2017-02-14 23:04] jacebrowning commented on #194
Would you consider setting up AppVeyor to include Windows as a CI target. At the time of this comment, pipenv doesn't work on AppVeyor's Windows machines and produces [the following error](https://ci.appveyor.com/project/jacebrowning/template-python/build/1.0.263/job/afj57ycmlouxqcfb):

[code]

[2017-02-14 23:09] nateprewitt commented on #194
Since pipenv currently [doesn't support Windows](https://github.com/kennethreitz/pipenv#caveats) I'm not sure what the benefit of setting up AppVeyor would be, since the build will always fail. We have a lot of linux based assumptions baked into how pipenv works in its current state.

[2017-02-15 00:24] chenull commented on #204
Hi, thanks for this great tools! i just want to report another error when installing a package using git:
[code]

`$ pipenv install git+https://github.com/django/django.git`

[code]

and... my `Pipfile` is now an empty file ! 😱

[2017-02-15 00:27] nateprewitt commented on #204
Hey @chenull, this is a separate but definitely important issue. Can you please open this in another ticket so we can track it appropriately.

[2017-02-15 00:51] chenull opened #225 "if an exceptions raised when Pipfile is about to be modified, will render Pipfile empty"
In experimenting `pipenv` with more advanced `pip` arguments, e.g install from `git+http://repo/some.git` or `git+file:///Users/ayik/Repo/django`, if there is an exceptions, will render `Pipfile` empty (wiped)

[code]

### Install from git+http

`$ pipenv install git+https://github.com/django/django.git`

[code]

### Install from local repository:

`pipenv install 'git+file:///Users/ayik/Repo/Djan

[2017-02-15 00:52] chenull commented on #204
submitted new issue in #225

[2017-02-15 01:10] chenull opened #226 "ZSH autocomplete need psutil package"
When doing `eval "$(_PIPENV_COMPLETE=source pipenv)"` i got this error:
[code]

[code]

However, i can workaround this issue by installing psutil under pipenv virtualenvs. I installed pipenv using `pipsi`

Should pipenv explicitly state that it requires `psutil` ?

[2017-02-15 03:14] nateprewitt commented on #226
This seems to be another case of #182. `pipsi` only installs exactly what you tell it to and ignores nested dependencies.

@kennethreitz, thoughts on adding an addendum to the documentation, or pulling the `pipsi` reference all together?

[2017-02-15 04:29] nateprewitt commented on #225
Thanks for opening this @chenull, this is definitely not what we want happening here. I've added be68acc which will prevent the accidental blank Pipfile when an exception is raised.

As for handling the install, there's a couple issues here. The first one being, due to our upstream `pkg_resources` we currently can only properly parse vcs dependencies that have a `#egg=ProjectName` at the end. This

[2017-02-15 13:51] kennethreitz commented on #226
maybe we should declare *all* of our dependencies instead.

[2017-02-15 19:34] zackkitzmiller commented on #204
I believe that is actually a dupe of https://github.com/kennethreitz/pipenv/issues/47

[2017-02-15 19:45] nateprewitt commented on #204
Thanks @zackkitzmiller, this issue (#204) is definitely separate from #47. #225 is tangential to #47 but has some other nuances (files being erased). I'm leaving both of these open for the moment because they aren't fully resolved.

[2017-02-15 19:46] zackkitzmiller commented on #204
@nateprewitt Sounds good. I'll just runoff then.

[2017-02-15 23:01] nateprewitt commented on #226
Ok, this should be addressed in 1937dd2 and will be available in the next release. Please feel free to reopen this is you find there's still a problem @chenull. Thanks again for letting us know!

[2017-02-15 23:01] #226 closed

[2017-02-16 01:30] simnalamburt opened #228 "Cannot install a wheel package in a directory with whitespaces"
### Summary

- If the name of current working directory contains the whitespaces
- You won't be able to install a package with [the wheel format](https://www.python.org/dev/peps/pep-0427/).

This bug occurs regardless of the value of `PIPENV_VENV_IN_PROJECT` environment variable.

### How to reproduce this error
Please comment if you cannot reproduce the error.

[code]
<img alt="screenshot" src="h

[2017-02-16 02:23] jacebrowning opened #229 "Duplicate requirement in Pipfile.lock when case differs"
With 3.4.1, `$ pipenv install --lock mkdocs pdoc` produces a `Pipfile.lock` containing:

[code]

which fails on reinstall:

[code]

[2017-02-16 04:47] simnalamburt commented on #228
I want to fix this issue right now, so I brought some plans. Please review this and comment. Thanks :shipit:

<br>

### Plan A. Slugify the directory name
[code]

#### Pros
1. It is the simplest solution which prevents 'whitespaces in path' error once and for all.

#### Cons
1. It adds two additional dependencies; `python-slugify` and `Unidecode `. This can be undesirable for some people, since pi

[2017-02-16 07:01] simnalamburt commented on #228
I found that plan B cannot solve this problem.

I tried to solve this issue with both plan A and B, and plan A [just worked perfect][plan-a]. But plan B could not solve the issue due to the bug of the pip. Please see https://github.com/pypa/pip/issues/923 for the further details.

Since there's no easy way left else plan A to solve this problem, I'll make a pull request with the plan A. Please com

[2017-02-16 17:52] nateprewitt commented on #228
Closing this for the reasons discussed [here](https://github.com/kennethreitz/pipenv/pull/230#issuecomment-280389057) in #230. Please let us know if you find more information here that will allow us to proceed with a globally workable solution. Thanks again @simnalamburt!

[2017-02-16 21:10] nateprewitt commented on #229
Yep, this is definitely unintended @jacebrowning. The casing issue is easy to fix here, the thing that may need a bit more thought is versions. `mkdocs` requires Markdown>=2.3.1, where `pdoc` requires Markdown<=2.5.0. Fortunately 2.4.1 meets both of these requirements and works, but I'm concerned about a case that we choose the last downloaded file and end up with an incompatible dependency.

I'm

[2017-02-17 02:15] arruda opened #231 "Pipenv lock don't respect multiple sources"
Just saw now that the lock uses `pip_download` that don't use anything other than pip's default configuration on index-url.

One approach that seems reasonable would be to use pip_download like pip_install function: with `-i` and trying for each project.source available.

[2017-02-17 02:20] nateprewitt commented on #231
@arruda that seems sensical since we'll need a file to hash. If you'd like to put together a PR for this, I'd be happy to take a look at it.

[2017-02-17 02:26] arruda commented on #231
Yeap, I'll do PR for this, having so much fun with this project =D.

[2017-02-17 04:04] simnalamburt commented on #228
Reopened by https://github.com/kennethreitz/pipenv/pull/230#issuecomment-280413728

Anyone who wants an alternative design, please comment! :smile: Let's solve this problem elegantly with our collective intelligence!

[2017-02-17 06:56] jeyraof opened #232 "Can't find correct package having name as multiple dashed"
When i install `django-debug-toolbar` using pipenv install, it installed `django-debug` package.
But if i tried to uninstall `django-debug-toolbar` after installed it using pip directly, it work correctly.

please check this :D

Install:
[code]

Uninstall:
[code]

[2017-02-17 14:41] nateprewitt commented on #232
@jeyraof, can you confirm for me that you're using the latest version of pipenv (3.4.1)? I am currently unable to reproduce this locally.

[2017-02-17 16:42] nateprewitt commented on #225
The file erasure is resolved in v3.4.2 which I just released. The git issues are a longer running problem that likely won't be addressed until 3.5.0 at the earliest but possibly not until a 4.0.0 release. Thanks again for bringing this to our attention @chenull!

Please refer to ticket #204 for the longer running git discussion.

[2017-02-17 16:42] #225 closed

[2017-02-17 18:40] jacebrowning commented on #229
If pip doesn't detect this kind of behavior, maybe https://github.com/rbarrois/python-semanticversion (or another semver library) could help do something like this pseudocode:

[code]

[2017-02-18 22:08] apollo13 opened #234 "Cannot execute pipenv shell properly"
See the following output:
[code]
As you can see VIRTUAL_ENV is set properly and `which python` returns the one from the venv, but it looks like as if the executed shell is sourcing my profile again.

I am using virtualenv-wrapper manually without problems. My .zshrc has
[code]
Is the anything I can do to get around this error? Please tell me if (and which) information you need.

[2017-02-18 22:20] apollo13 commented on #234
[code]
before sourcing the wrapper script did help -- not sure if that is a bug at all, or in which component it is :)

[2017-02-19 00:52] nateprewitt commented on #234
@apollo13 could you verify for me that `virtualenvwrapper` is installed inside your pipenv environment with the command `pipenv run pip freeze`? I'm pretty sure this is an issue of the script you're sourcing assuming that virtualenvwrapper is already installed when it hasn't been added to that environment.

We don't officially support `virtualenvwrapper` right now and there's a possibility there's

[2017-02-19 04:23] singleton11 opened #235 "Pipenv lock changes order of develop and default keys"
This is very painful to track it in VCS. I'd like to get more granular diff what was changed from previous lock

[2017-02-19 10:34] apollo13 commented on #234
@nateprewitt Yes, virtualenvwrapper is not installed in the pipenv venv. The virtualenvwrapper zsh hook tries to find it's python via this: https://bitbucket.org/virtualenvwrapper/virtualenvwrapper/src/cee707f128e39623718568b47b6038e8d62c5f34/virtualenvwrapper.sh?at=master&fileviewer=file-view-default#virtualenvwrapper.sh-47:51 -- which obviously breaks for venvs.

[2017-02-19 15:21] nateprewitt commented on #234
Yeah, so given this startup script in your profile, you'll either need to install virtualenvwrapper inside your pipenv environment before running the shell. I think that's the only advice we can give at this point since I wouldn't consider this a bug in popenv

[2017-02-19 15:21] #234 closed

[2017-02-19 15:24] nateprewitt commented on #232
Closing due to lack of information and inability to reproduce. Please feel free to reopen if you are still experiencing this on the current pipenv.

[2017-02-19 15:24] #232 closed

[2017-02-19 15:25] nateprewitt commented on #235
This currently requires changes to how the Pipfile project API works, but is something I'd personally like to see supported. We had an older ticket for this that was closed before things were fully resolved, so we'll leave this one open for now to track.

[2017-02-19 15:26] debdude opened #236 "pipenv --two installs 3.5 anyway"
[code]

[2017-02-19 15:27] nateprewitt commented on #236
@debdude can you tell me where your system python2 link is pointing?

[2017-02-19 15:28] debdude commented on #236
[code]

[2017-02-19 15:34] nateprewitt commented on #236
Hmm, it looks like we *may* not be handling the --two/--three param correctly for this scenario. I'm not at a computer to verify right now but I'll take a look this afternoon.

This particular paradigm of initializing the environment and then installing everything seems like it could be useful but isn't really our current intended workflow. Usually you'd run the intialization (pipenv --two) and th

[2017-02-19 15:45] debdude commented on #236
I can confirm that pipenv --two works as intended, however
[code]
means that COMMAND is mandatory so it never occurred to me to run simply `pipenv --two`, and neither is it mentioned in the README. Maybe new command `create` is needed?

[2017-02-19 15:50] nateprewitt commented on #236
I definitely don't think a new command is warranted because this has been the design since the beginning. The initialization process of pipenv --two/--three is listed in the README under basic concepts as well as being used in the example gif. You'll also see that as the example with pipenv help. We may be able to look at making the usage message more correct though.

[2017-02-19 20:17] #231 closed

[2017-02-19 23:12] nateprewitt commented on #236
Ok, so `pipenv --two install` ignores the `--two` option and simply runs ignore and creates a virtualenv with the default `--three` param if none is given. Passing `pipenv install --two` works as expected though, creating a virtualenv with Python 2 before installing.

This means the usage string is definitely incorrect here, but I can't actually find where it's generated. @kennethreitz this looks

[2017-02-20 03:03] jeyraof commented on #232
@nateprewitt Thanks. After upgrade pipenv version, it works well

[2017-02-20 03:11] jeyraof opened #237 "pipenv shell is not working"
[code]

Like above, `pipenv shell` did not activate virtualenv.

So, i tried to this:

[code]

it works well!

What can i do fix it?

[2017-02-20 04:05] nateprewitt commented on #237
Hey @jeyraof, could you tell me what happens when you run the command `pew workon infrastructure`?

[2017-02-20 04:09] jeyraof commented on #237
@nateprewitt
[code]

that's it.

[2017-02-20 04:12] nateprewitt commented on #237
Ok, this appears to be a duplicate of #184 and how pyenv interacts with pew. You'll need to either use `pipenv shell --compat` or set the `PIPENV_SHELL_COMPAT` environment variable in your shell.

[2017-02-20 04:17] jeyraof commented on #237
I got it. thank you @nateprewitt

[2017-02-20 04:17] #237 closed

[2017-02-20 04:20] nateprewitt commented on #237
No problem, glad it worked :)

[2017-02-20 11:20] simnalamburt commented on #228
Summary:

- Let's solve this problem only without `PIPENV_VENV_IN_PROJECT` environment variable.
- I'll solve multiple issues with a single compatibility breakage.
- To do so, we need to design a new naming scheme of virtualenv directories.
- Question: do we have to care of the readability of the virtualenv's name?
- If we don't have to, I'll just hash the project's full path with blake2, and use

[2017-02-20 14:09] kennethreitz commented on #236
it's also shown in `pipenv --help`

[2017-02-20 14:12] simnalamburt commented on #228
I have finished implementing proposal 1. Please try it with the command below:

[code]

I have tested it with Arch Linux, and OS X, and It was just fine.

![image](https://cloud.githubusercontent.com/assets/4435445/23128350/fba3792c-f7c1-11e6-864f-841579b78263.png)

[2017-02-20 14:13] kennethreitz commented on #228
send a pull request!

[2017-02-20 14:13] simnalamburt commented on #228
@kennethreitz Yes sir

[2017-02-20 14:14] kennethreitz commented on #228
i don't personally think this is the right approach, having the project virtualenv named after the project directory is important

[2017-02-20 14:14] kennethreitz commented on #228
but we can do it it in exceptional cases, perhaps, like when there's a space.

[2017-02-21 17:30] #228 closed

[2017-02-22 03:00] simnalamburt commented on #204
I'm going to fix this issue. Is there anyone else who's currently working on this issue?

[2017-02-22 03:15] nateprewitt commented on #204
I'm in the middle of working on this @simnalamburt. The problems for this are actually fairly systemic and I haven't fully synced up with Kenneth on finalizing some approaches.

The general overview is as follows:

We currently try to download every package name in the Pipfile from pip. This means a vcs dependency that exists in Pip gets overwritten. Separating that out requires a change in how we

[2017-02-22 03:34] simnalamburt commented on #204
Oh I didn't know that it's that complicated issue. I just test it on my own and I found that it's not that simple. But glad to hear that it's all mostly done! I'll give you a hand if you need any help to resolve this issue. Thanks!

[2017-02-22 11:32] OrkoHunter opened #239 "Recursive use of pipenv shell"
We would have to use `pipenv shell` while building a CLI project. So, once we switch to the new shell and suppose if we forgot and executed `pipenv shell` again it then creates a new shell once again and we have to exit two times to get back to the default shell.

It'd be great if we have already used `pipenv shell`, the next time it maybe gives a message saying "You're already in the pipenv shell

[2017-02-22 13:35] astynax commented on #204
Definitions like this
[code]
aren't valid in TOML.

Pipenv will install from git, if you define Git-dependency as TOML [table](https://github.com/toml-lang/toml#table):
[code]

[2017-02-22 13:42] nateprewitt commented on #204
@astynax, inline tables are very much so [valid TOML](https://github.com/toml-lang/toml#user-content-inline-table).

Are you suggesting that you're currently able to install from git with pipenv when using a table?

[2017-02-22 13:52] astynax commented on #204
@nateprewitt Hmm... you are right about inline tables.
But `pipenv install git+...` still fails. And Pipfile with tables + `pipenv install` work for me.

[2017-02-22 14:10] nateprewitt commented on #204
Installing from `git` should still work fine in the form `pipenv install git+https://github.com/django/dango.git#egg=Django`. I believe this is noted farther up in the issue.

The problem we're discussing here is installing those dependencies again from the Pipfile/Pipfile.lock. There's a pretty detailed explanation of the current state of things two comments above your original.

The only reason

[2017-02-22 14:15] nateprewitt commented on #239
Hey @OrkoHunter, could you tell me which shell you're using?

I currently get a warning in standard bash saying `Be aware that this environment will be nested on top of 'your-project-name'` when I try to activate the shell more than once. I believe most prompts are modified to also include the virtualenv name that pipenv is using after `pipenv shell` is used once. Is this not behaviour you're seei

[2017-02-22 14:22] OrkoHunter commented on #239
Hey @nateprewitt

I am using oh-my-zsh shell and I am not seeing any messages. :-/

[2017-02-22 14:27] nateprewitt commented on #239
Ok, we can look into trying to detect if the shell has been activated and raising a message. If we go down that route I'm almost wondering if we should just prohibit running pipenv shell from inside the shell. I'm not sure if there's a real use case for allowing that in the first place.

[2017-02-22 14:49] astynax commented on #204
@nateprewitt I mentioned the `crayons` in my comments just for example. I used toml-tables with `pipenv install` for another package (pylint) and installation was succeed.

[2017-02-22 20:58] frankh commented on #89
@kennethreitz can you explain what you mean by this?

I get

[code]

As far as I can tell there's no way to get a requirements.txt will ALL dependencies in (including dev)

[2017-02-22 21:16] nateprewitt commented on #89
@frankh, this was a typo at the time, it should have been `pipenv install --requirements`. However, we've also changed this since then. The current version of pipenv will provide requirements with the command `pipenv lock --requirements`.

[2017-02-22 21:17] nateprewitt commented on #89
In response to the second question, no, there isn't currently a way to divide requirements.txt dependencies between dev and default currently.

[2017-02-24 13:12] jdno opened #240 "Comparison of package names must be case insensitive"
Hi,

when trying to uninstall a package, I noticed that it stayed in the `Pipfile` even though the command output told we it would be removed. I started to dig into this thinking I discovered a bug in the uninstall command, but it seems it's a more general problem related to the way `pipenv` compares package names.

See this example:

     $ pipenv install pyyaml
     $ pipenv uninstall PyYAML

Th

[2017-02-24 13:54] nateprewitt commented on #240
Hey @jdno, thanks for opening this ticket! We've been battling with getting this working consistently for the last few minor versions and have open issues regarding how this affects the code in other places in #229 and #206. I'm currently in the process of redoing how we handle both Pipfile and the lockfile internally which will give us a model consistent with pep426 so we're only doing one transf

[2017-02-24 14:34] pauleveritt commented on #178
As a note, now that the original "put virtualenv in project dir" default behavior has been changed (sadly), the Pipenv README should be changed. It shows a virtualenv getting created in the project dir.

[2017-02-24 14:42] nateprewitt commented on #178
Hey @pauleveritt, just to be clear, the virtualenv in project dir functionality is still available but now requires an environment variable `PIPENV_VENV_IN_PROJECT` to activate. Placing this in your bash profile will enable this functionality as the default.

I can only find one reference to a venv in the local directory and I don't know if I'd consider that terribly misleading. We could change th

[2017-02-24 14:46] pauleveritt commented on #178
Yep, I gave that env var a try and it worked. However, it’s no longer the default behavior, so I thought I’d note that the home page is out of date in that regard.

I agree it is a minor detail, and it’s likely only me that notices it, because I’m disappointed at the change of default. But that’s an emacs vs. vi argument that doesn’t need to be re-opened.

—Paul

[2017-02-24 14:46] nateprewitt commented on #178
So scratch that on `pipenv --where`, I guess we never updated that to include the separate venv location. I'll look into getting that included. If you feel strongly that there's a useful rewrite for the README, I'd be happy to hear suggestions or look over a PR :)

[2017-02-24 14:52] pauleveritt commented on #178
I think at the moment I'm only proposing a change of:

[code]

...to show the virtualenv location at `/Users/kennethreitz/.local/share/virtualenvs` etc.

It would have helped me if it said, instead of:

[code]

...perhaps `in a central location, but configurable.`. But again, it's likely only me that is bugged by the change in policy. I spent quite a while looking for a discussion about the ration

[2017-02-24 14:54] jdno commented on #240
Damn it, I didn't check the existing issues well enough. But I'm glad to hear you're spending more time on it than I would have, to properly fix the issue... 😉

Should we close this then?

[2017-02-24 15:14] nateprewitt commented on #178
This was a design change in 3.3.0 when we moved to `pew` which uses a more centralized management scheme for virtualenv projects. It was an initiative that Kenneth kicked off, so I'm not sure if there was much (public) discussion about reasoning.

I've updated the path in the README and I'll run rewording up the flagpole to @kennethreitz, if he has opinions here.

Thanks for checking in on this @p

[2017-02-24 15:16] nateprewitt commented on #240
@jdno, let's leave it open for now as a reminder to make sure we have proper testing in place for this kind of case. I'll wrap it into the issues we'll close out with 3.5.0.

[2017-02-25 11:38] frgtn commented on #188
@kennethreitz could you expand a little (or post a link) on what is considered properly configured shell in this case? For people who stumble to this via Google. Thanks!

[2017-02-28 16:20] mixxorz commented on #210
Is this something you're planning on fixing? This essentially means anyone who doesn't develop on Linux won't be able to deploy their applications without creating a new lock file for the production environment, which kind of defeats the purpose of the lock file.

[2017-02-28 16:51] nateprewitt commented on #210
Hey @mixxorz, this was originally discussed in #147. pip will automatically try to download pre-built wheels when possible which can be platform (and major version) specific. This means we'll usually be hashing files specific to that platform.

The "fix" is either to drop wheel support (which I think is very unlikely), or to download every file for a given version and keep multiple hashes. The iss

[2017-02-28 16:54] nateprewitt commented on #210
Also, as I failed to document after the discussion in #147, you can create a pip.conf file on all of your deployments with no-binary=:all:. This will force pip to only download source archives which should be universal. This is not something we're going to explicitly support though, so it's a voluntary workaround for the time being.

[2017-02-28 20:23] jacebrowning commented on #210
@nateprewitt Is there any way to disable hashing? FWIW, Bundler doesn't have this problem.

[2017-02-28 20:34] nateprewitt commented on #210
@jacebrowning, that's probably a question for Kenneth. I don't think we want to disable hashes though.

As for Bundler, I'm honestly not incredibly well versed in how gems are distributed but I do know Bundler uses more specificity including a Platforms section. I haven't spent much time in Ruby which is why I'm likely missing some obvious insights here. That said, pipenv isn't intended to be a py

[2017-02-28 22:12] jacebrowning commented on #210
`Gemfile.lock` does not include hashes of Gems installed from package repositories, but does include SHAs from dependencies installed from source. If I am unable to develop on one system and deploy on another, than `Pipfile.lock` serves no purpose for me.

[2017-02-28 22:30] nateprewitt commented on #210
@jacebrowning yeah, I completely get where you're coming from with that. I've been doing a bit of reading since my last post. I'll try to get some time to talk to @kennethreitz about options here, unless he has further thoughts he'd like to post.

[2017-03-01 17:22] blueyed opened #245 ""pipenv lock --requirements" includes dev requirements"
It should behave like `pipenv install`, where you have to specify `--dev` to install development packages explicitly.

My use case it `pip install -r <(pipenv lock --requirements) -t build/upload` to generate a directory with the packages required for the app - that should not include development packages (by default).

[2017-03-01 18:46] nateprewitt commented on #245
This should be simple to set up, we currently have `dev` hardcoded to True for the lock command. I think this was Kenneth's original intent to just do a simple dump of everything for requirements.txt.

If @kennethreitz signs off on adding the `--dev` option to `pipenv lock` that will fix everything with a one line change. We can look into a PR at that point.

Thanks for bringing this up, @blueyed

[2017-03-01 19:30] kennethreitz commented on #245
I think it should remain as is, for now.

Sent from my iPhone

[2017-03-01 21:23] kennethreitz commented on #245
i might change my mind later.

[2017-03-01 21:25] #245 closed

[2017-03-01 21:26] #239 closed

[2017-03-01 21:26] kennethreitz commented on #235
closing for now

[2017-03-01 21:26] #235 closed

[2017-03-01 22:42] nateprewitt commented on #229
This should be resolved with #242 and will be released in 3.5.0.

[2017-03-01 22:42] #229 closed

[2017-03-01 22:42] nateprewitt commented on #204
This should be resolved with #242 and released in 3.5.0.

[2017-03-01 22:42] #204 closed

[2017-03-01 22:43] nateprewitt commented on #240
This should be resolved in #242 and will be released in 3.5.0.

[2017-03-01 22:43] #240 closed

[2017-03-02 01:31] NotBobTheBuilder opened #246 "Using `pipenv install` inside activated virtualenv doesn't work."
Is it possible to use pypy or pypy3 instead of the regular cpython equivalents?

I've given it a try with `pipenv --python pypy3`, and while inside `pipenv shell`, running `python` puts me in a pypy3 repl as I'd expect (which is amazing, by the way!).

Unfortunately from that point onward I don't seem to be able to install any packages, as installation fails with this mysterious error:

[code]

Is

[2017-03-02 01:34] nateprewitt commented on #246
Hey @NotBobTheBuilder, does this occur when you aren't inside the `pipenv shell` environment?

I'm not entirely sure off hand the source of that error, but installing from inside the launched shell environment isn't something we've actively been using in any of the suggested workflows. This is kind of uncharted territory that may be a wider spread issue than just pypy.

[2017-03-02 01:47] nateprewitt commented on #246
Ok, looking into it, this is unrelated to pypy.

The suggested use of pipenv is to use `pipenv install` to install packages (outside of the `pipenv shell`) and `pipenv run` to run any python commands you'd normally run. e.g. `pipenv run python my_test_script.py` or `pipenv run flask run`.

You can obviously use `pipenv shell` to activate the environment, but the point of it being directory based i

[2017-03-02 02:09] nateprewitt commented on #246
Hrmm, ok, I need to pump the brakes here a little. I mistyped `simplejson` during my last test which is what produced the error.

I actually can't reproduce this behaviour on either python2, python3, or pypy3. Would you be willing to supply your Pipfile, pipenv version, and the exact build of pypy3 you're using @NotBobTheBuilder? Thanks!

[2017-03-02 02:26] NotBobTheBuilder commented on #246
Here's a log of creating an environment from scratch. On my local machine I have pypy, pypy3, python and python3 all installed. There may be some interference in my environment, but I'm not doing anything particularly weird (I don't think).

[code]

I'm slightly confused by the line "Virtualenv already exists" - does that mean the command already exists, or that an environment for this pipenv alre

[2017-03-02 02:36] nateprewitt commented on #246
So the last line of the 18:21:10 timestamp is odd.

`Virtualenv location: /Users/jack/.local/share/virtualenvs/jack`

This location should be `/Users/jack/.local/share/virtualenvs/foonew` because it's created based on the directory name of the Pipfile pipenv is using.

So, it looks like pipenv is searching its standard 3 depth directory traversal trying to find a usable Pipfile before creating one

[2017-03-02 02:55] nateprewitt commented on #246
Yep, I can recreate this behaviour under those conditions. You either have a Pipfile or Pipfile.lock in your home directory with a `[[source]]` url entry that maps to a valid pypi endpoint, but not the actual simple index.

If you'd like to disable the Pipfile search for some reason, you can set `PIPENV_MAX_DEPTH` in your environment variables to a positive integer to reduce the size below 3. Othe

[2017-03-02 02:55] #246 closed

[2017-03-02 09:36] jungornti opened #247 "Python version other than python 2 or python 3"
Hello, i want to use custom python version (python 3.6 from pythonz). How can i specify that?

For now i see that there are option --three / --two, that passes 'python3' or 'python2' string as option to `virtualenv`. But on ubuntu linux / linux mint / other debian-based distros python3 version always outdated, so we can not use newer python version with pipenv.

[2017-03-02 10:51] jungornti commented on #247
Looks like documentation in README is outdated, i checked `pipenv --help` and found `--python` parameter.

Then i ran:

[code]

And the python version in environment is wrong — it is 2.7.12.

[2017-03-02 11:26] jungornti commented on #247
As i find out the correct command is: `pipenv install --python ~/.pythonz/pythons/CPython-3.6.0/bin/python --dev`

`--python` is the argument to `pipenv install`, not a `pipenv` itself.

Documentation should be updated, because it is misleading. Closing.

[2017-03-02 11:26] #247 closed

[2017-03-02 15:16] blueyed commented on #245
So what would be the recommended way to achieve a clean install without dev deps then currently?

[2017-03-02 15:59] nateprewitt commented on #245
In the current version of pipenv, you'd need to run the command on a Pipfile without dev dependencies. That's unfortunately the only way at the moment.

I did think some more on the `--dev` parameter yesterday though and don't think that's the right approach if we ever decide to address this. A `--dev` parameter without the accompanying `--requirements` param has confusing semantics. The use of `-

[2017-03-02 17:13] jontonsoup opened #248 "Custom lock file names"
Is there a way to have custom lock file names? We have several dockerfile builds which have different requirements for the same repo.

Thanks!

[2017-03-02 17:31] nateprewitt commented on #248
Hey @jontonsoup, thanks for taking the time to start this discussion :)

At this point in time I don't believe we have any plans to allow for custom lockfile naming.

That said if you could help me better understand your project structure, I may be able to provide some advice on how to handle this. The use of subdirectories for example would allow partitioning of the Pipfiles but I'm not sure how

[2017-03-02 17:49] jontonsoup commented on #248
Hey @nateprewitt -- thanks for responding quickly!

We have  a jupyter notebook that runs in a Dockerfile that allows for analysis using our codebase. Our production system does not need all of anaconda (which is almost 2 gigs and makes our docker deploys a nightmare).

We currently have two separate Dockerfiles already, and have different requirement.txt files. I'm wondering how we would make thi

[2017-03-02 20:15] jontonsoup opened #249 "Honcho Issues"
It appears that honcho (https://github.com/nickstenning/honcho) does not work with `pipenv run`.

Here is the example:

[code]

`pip shell` & `honcho start` works, but I'm not sure how to do that not interactively

To clarify -- I have installed gunicorn properly, as it works via `shell`.

[2017-03-02 21:16] jacebrowning commented on #249
I think you will have to run honcho via `pipenv shell` because the commands honcho will call (`gunicorn`) only exist in the virtual environment.

In my project, I had to do:

[code]

[2017-03-02 21:34] jontonsoup commented on #249
@jacebrowning ah -- I didnt realize I could call `-c` like a normal shell.

I also just prepended the PATH in the docker ENV with the virutalenv path.

Thanks!

[2017-03-02 21:34] #249 closed

[2017-03-02 21:36] nateprewitt commented on #249
So @jacebrowning is correct that this seems to be the best approach for Honcho.

This isn't ideal but it's a conflict of the both `pipenv`'s and `honcho`'s subprocess functionality. `pipenv run` is kicking off a new process with the virtualenv activated and running `honcho` which is in turn kicking off a new shell that is now back to using the standard bash environment. This is why it can't find g

[2017-03-02 21:43] nateprewitt commented on #248
So I don't know if we have an elegant way to handle this situation. I see two possible solutions for the moment.

You could maintain the two separate Pipfile copies and use `pipenv lock --requirements` to generate the requirements.txt which is pretty unideal.

The other is creating a directory associated with each dockerfile and moving the Pipfile/Pipfile.lock into the top directory during the doc

[2017-03-02 21:45] jontonsoup commented on #248
@nateprewitt I think we have a work around where we use pip for one and Pipenv for the other... extremely not ideal, but at least we have our day to day using sane dependency management :)

[2017-03-02 21:50] nateprewitt commented on #248
Glad you've got something working. I'm reading up on what other package management utilities are doing in this case. It seems Ruby has handled this in a single file with platform/group definitions. I'm still unclear on how Cargo.toml would handle a case like this though.

[2017-03-02 21:53] jontonsoup commented on #248
Thanks! Hopefully more people can input on whether this is a common use case -- but for use mission critical.

[2017-03-03 00:26] blueyed commented on #245
Yes, I came to the same conclusion.

There should be a separate command for it (generating a requirements file/output) probably.

[2017-03-03 01:21] nateprewitt commented on #193
Ok, a month on and I've finally got this patch working for all scenarios. Hopefully we get a response from uiri soon and will have this resolved in the next release.

[2017-03-03 01:24] nateprewitt commented on #212
This is being tracked in the upstream project at uiri/toml#77. If anyone would like to take this on, that'd be super helpful! Otherwise, I'll try to start poking at this in the coming week or two.

[2017-03-03 06:05] kennethreitz commented on #248
closing for pypa/pipfile#70

[2017-03-03 06:05] #248 closed

[2017-03-03 11:28] sephii commented on #168
I'm having more or less the same issue on pipenv 3.4.2. The following `Pipfile`:

[code]

Results in the following `Pipfile.lock` (you can see `django` appears both as `django` and `Django`, with different versions):

[code]
And running `pipenv install --dev` unsurprisingly results in: `Double requirement given: django==1.9.12 (from -r /tmp/tmpG2J7MX-requirements.txt (line 31)) (already in Django=

[2017-03-03 13:44] nateprewitt commented on #168
Hey @sephii, this is addressed in 3.5.0 which I'll be pushing a release for in the next hour or so. Thanks for letting us know!

[2017-03-03 14:29] jacebrowning opened #250 "Pipenv cannot be used with PaaS providers (Heroku) due to hash conflicts"
This is a duplicate of https://github.com/kennethreitz/pipenv/issues/210, but I want to resurface the issue with a broader scope.

-----

The systems that I develop, test, and lock my dependencies on are different from the systems I deploy to so the `Pipfile.lock` committed to the repository will cause hash conflicts during deployment if any of my dependencies have changed.

For Heroku, my workaro

[2017-03-03 15:31] SergeyPirogov opened #251 "pip install <> --pre support"
pip support installation a pre release version of package.
example i have package in pypi with version 1.0.0a8, I can install it

pip install --pre

How can I do the same with pipenv?

[2017-03-03 15:35] nateprewitt commented on #251
Hey @SergeyPirogov, you should be able to install any release of a package on pypi with `packagename==1.0.0a8`. If this does not work (which it may not, we haven't seen anyone explicitly using pre-releases yet) could you please provide an example package where you're encountering this issue? Thanks!

[2017-03-03 15:38] SergeyPirogov commented on #251
https://pypi.python.org/pypi/selene

Yes I can install package using pyenv install selene=1.0.0a10 but it was usefull with pip to install pre release versions using --pre, because I don't need to google it in pypi

[2017-03-03 16:14] nateprewitt commented on #251
Hmm, so without specifying a specific version, pipenv will install the latest stable release and store the entry in the Pipfile as `package = '*'`. The `--pre` command has the requirement that we'll actually need to determine the version number of the package `pip` chooses and store that in the Pipfile. This would result in an entry like `selene = '==1.0.0a10'` which means it's pinned rather than

[2017-03-03 17:16] SergeyPirogov commented on #251
Yeah, there are some workarounds. Thank you

[2017-03-03 19:55] jacebrowning opened #252 "Remember where the virtual environment was created"
This is a feature request inspired by Bundler.

I have `PIPENV_VENV_IN_PROJECT=true` set in my build scripts, but occasionally I will run a pipenv command manually which triggers the creation of a whole new virtual environment despite one existing locally in `.venv`.

It would be nice if pipenv could locate the virtual environment for a project a bit more intelligently.

-----

Bundler solves this

[2017-03-03 21:05] sephii opened #253 "Check dependencies when running `pipenv install`"
If you have requirements in `[packages]` and in `[dev-packages]` that require a different version from the same requirement, `pipenv` seems to pick up the most recent one (or maybe the dev one). Here's an example:

[code]

Here, [django-debug-toolbar requires django>=1.8](https://github.com/jazzband/django-debug-toolbar/blob/1.6/setup.py), while [djangocms-column requires django<1.10](https://gith

[2017-03-03 21:27] nateprewitt commented on #252
I'm not averse to the idea of a config file, I think I could help solve some other issues in pipenv too.

This, however, I'm not sure I understand. It seems much more like a bug in how we're handling commands which means we probably shouldn't immediately throw a config patch on it. How often is occasionally? Do you have a specific set of commands that trigger this? Does it create the new environme

[2017-03-03 22:29] nateprewitt commented on #253
This is definitely a problem, and I think we touched on this briefly in #229. The issue here is pip itself doesn't really have a way of handling conflicts as far as I've been able to discern. Depending on the order you install packages, you'll end up with the last packages requirements. So if Django is installed first with a requirement of 1.10.6 and djangocms-column is installed after, you get 1.

[2017-03-03 23:50] jacebrowning commented on #252
I am setting variables in a Makefile via `export PIPENV_VENV_IN_PROJECT=true` so that commands like `make install`, `make test`, etc. can call each other, rely on build system caching, and access the virtual environment in a known location.

Occasionally, I want to jump into a Python shell (`$ pipenv run python`), but this ignores the existing `.venv` and calls `pew` to create a virtual environmen

[2017-03-04 00:12] nateprewitt commented on #252
Yep, I can see how that would be problematic. So the more I'm thinking about it, the more I'm definitely in favor of a project based config file. It will allow people to, for now, set project specific environment variables, and later make configurability much easier.

I don't know what @kennethreitz's thoughts are on this, but I believe I'm +1.

Here's an initial mockup (967c975) of what I'm think